.modal.modal-md.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.closeModal()")
    .modal-window: form.form(ng-submit="$ctrl.form.submit()")
        a(ng-click="$ctrl.closeModal()" role="button").mdi.mdi-close.modal-close
        .modal-header(ng-if="!$ctrl.verificationRequested") Activatiecode aanmaken
        .modal-header(ng-if="$ctrl.verificationRequested") Gegevens controleren
        .modal-body.modal-body-visible
            .modal-section(ng-if="$ctrl.verificationRequested && !$ctrl.prevalidation")
                .modal-text.text-center Controleer of u de juiste gegevens hebt ingevuld voordat u deze bevestigd.
                .row: .col.col-lg-8.col-lg-offset-2
                    .block.block-compact-datalist: .datalist-row(ng-repeat="fundRecord in $ctrl.prevalidationRecords" style="")
                        .datalist-key: strong(ng-bind="$ctrl.recordTypesByKey[fundRecord].name")
                        .datalist-value.text-primary.text-right(ng-bind="$ctrl.form.values[fundRecord]")

            .modal-section(
                ng-if="!$ctrl.prevalidation && !$ctrl.verificationRequested"
                ).form: .row: .col.col-lg-8.col-lg-offset-2.col-lg-12
                .form-group(ng-repeat="fundRecord in $ctrl.prevalidationRecords")
                    label.form-label
                        | {{ $ctrl.recordTypesByKey[fundRecord].name }} 
                        span.text-muted-dark(ng-if="$ctrl.criteriaRuleByKey[fundRecord]") 
                            | ({{ $ctrl.criteriaRuleByKey[fundRecord] }})

                    .flex-row
                        .flex-col.flex-col-padless-right.flex-grow: input(
                            type="{{ $ctrl.recordTypesByKey[fundRecord].type == 'number' ? 'number' : 'text' }}"
                            ng-model="$ctrl.form.values[fundRecord]").form-control
                        .flex-col(ng-if="$ctrl.fund.csv_required_keys.indexOf(fundRecord) == -1")
                            .button.button-text.button-text-muted(ng-click="$ctrl.removeExtraRecord(fundRecord)"): .mdi.mdi-close

                    .form-error(ng-repeat="error in $ctrl.form.errors['data.' + fundRecord]" ng-bind="error")

                .form-group(ng-if="$ctrl.formNewRecord")
                    label.form-label Selecteer eigenschap
                    .flex-row 
                        .flex-col.flex-grow 
                            .form-offset: select-control(
                                prop="key"
                                ng-model="$ctrl.formNewRecord.values.record_type_key"
                                options="$ctrl.recordTypesAvailable").form-control
                        .flex-col: button(
                            type="button" 
                            ng-click="$ctrl.submitNewRecord()").button.button-primary Toevoegen        
    
                .form-actions(ng-if="!$ctrl.formNewRecord && $ctrl.recordTypesAvailable.length > 0")
                    .text-center: button(type="button" ng-click="$ctrl.addNewRecord()").button.button-primary
                        em.mdi.mdi-plus.icon-start
                        | Eigenschap toevoegen
            
            .modal-section(ng-if="$ctrl.prevalidation")
                .modal-heading.text-center(ng-if="$ctrl.prevalidationPrimaryKey") 
                    | {{ $ctrl.prevalidationPrimaryKey.name }}: 
                    div.text-primary(ng-bind="$ctrl.prevalidationPrimaryKey.value")
                .modal-heading.text-center 
                    | Activatiecode: 
                    div.text-primary(ng-bind="$ctrl.prevalidation.uid")

        //- form submit
        .modal-footer.text-center(ng-if="!$ctrl.verificationRequested")
            button.button.button-default(type="button" ng-click="$ctrl.closeModal()" id="close") Sluiten
            button.button.button-primary(type="submit" ng-if="!$ctrl.prevalidation") Bevestigen
        
        //- confirmation
        .modal-footer.text-center(ng-if="$ctrl.verificationRequested")
            button.button.button-default(type="button" ng-click="$ctrl.backToForm()") Sluiten
            button.button.button-primary(type="submit" ng-if="!$ctrl.prevalidation") Bevestigen
