.modal.modal-employee-add.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.cancel()")
    .modal-window.modal-notification(ng-class="$ctrl.class")
        .modal-close(ng-click="$ctrl.cancel()" role="button")
            include ../../../resources/platform-general/assets/img/svg/close.svg
        .modal-body: .modal-section
            .modal-title(translate="sign_up_provider.employee.labels.employee_add_header")
            .modal-description(
                translate="sign_up_provider.employee.labels.employee_add_message"
                translate-values='{email: $ctrl.email}')
        .modal-footer
            .flex-row
                .flex-col: .button.button-primary-outline(
                    ng-click="$ctrl.cancel()"
                    translate="sign_up_provider.employee.labels.cancel")
                .flex-col: .button.button-primary(
                    ng-click="$ctrl.confirm()"
                    translate="sign_up_provider.employee.labels.accept")