.modal.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, ($ctrl.modal.loaded && !$ctrl.hideModal) ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.closeModal()")
    .modal-window
        a(ng-click="$ctrl.closeModal()" role="button").mdi.mdi-close.modal-close
        .modal-header Upload CSV-bestand
        .modal-body.form: .modal-section.form
            .block.block-csv.condensed(ng-if="$ctrl.fund"): .csv-inner
                .csv-upload-btn(
                    ng-show="$ctrl.csvParser.progress <= 1" 
                    ng-click="$ctrl.csvParser.selectFile()")
                    .csv-upload-icon: .mdi.mdi-upload
                    .csv-upload-text
                        | {{ "csv_upload.labels.upload" | translate  }}
                        br
                        span {{ "csv_upload.labels.swipe" | translate  }}
        
                .button-group.flex-center
                    button(
                        ng-show="$ctrl.csvParser.progress <= 1" 
                        ng-click="$ctrl.downloadExampleCsv()").button.button-default
                        
                        em.mdi.mdi-file-table-outline.icon-start 
                        span(i18n="product_vouchers.buttons.download_csv")    
            
                    button(
                        ng-show="$ctrl.csvParser.progress <= 1" 
                        ng-click="$ctrl.csvParser.selectFile()").button.button-primary
                        
                        em.mdi.mdi-upload.icon-start 
                        span(i18n="vouchers.buttons.upload_csv") 

                .csv-upload-progress(
                    ng-show="$ctrl.csvParser.progress >= 2" 
                    ng-class="{done: $ctrl.csvParser.progress == 3}")
                    .csv-upload-icon: .mdi(
                        ng-class="{'mdi-loading': $ctrl.csvParser.progress == 2, 'mdi-check': $ctrl.csvParser.progress == 3}")
                    progress-bar(progress="$ctrl.progressBar" status="$scope.progressStatus")

                .csv-upload-actions
                    .csv-file(ng-if="$ctrl.csvParser.csvFile && $ctrl.csvParser.progress < 2")
                        .block.block-file(ng-class="$ctrl.csvParser.isValid?'':'has-error'")
                            .file-error.mdi.mdi-close-circle
                            .file-name(ng-bind="$ctrl.csvParser.csvFile.name")
                            .file-size(ng-bind="$ctrl.csvParser.csvFile.size | file_size")
                            .file-remove.mdi.mdi-close(ng-click="$ctrl.reset()")

                        //- Budget voucher errors
                        .text-left(ng-if="!$ctrl.csvParser.isValid && $ctrl.type == 'fund_voucher'")
                            //- BSN field is present while BSN is not enabled for the organization
                            .form-error(ng-if="$ctrl.csvParser.errors.csvHasBsnWhileNotAllowed")
                                | BSN field is present while BSN is not enabled for the organization
                            //- No `amount` fields in the .csv file (required for budget vouchers)
                            .form-error(ng-if="$ctrl.csvParser.errors.csvAmountMissing")
                                | De kolom 'amount' mist in het bulkbestand.
                            //- Has `product_id` fields in the .csv file (forbidden for budget vouchers)
                            .form-error(ng-if="$ctrl.csvParser.errors.csvProductIdPresent")
                                | De kolom `product_id` mag niet in het bestand zitten.
                            //- Sum of amounts of vouchers from the .csv is greater than current fund budget (top-up)
                            .form-error(ng-if="$ctrl.csvParser.errors.invalidAmountField")
                                | Het totaal aantal budget van het gewenste aantal tegoeden overschrijd het gestorte bedrag op het fonds.
                            //- One or more vouchers exceeded the max amount per voucher
                            .form-error(ng-if="$ctrl.csvParser.errors.invalidPerVoucherAmount")
                                | Één of meer tegoeden gaan over het maximale bedrag per tegoed. (limiet is: {{ $ctrl.fund.limit_per_voucher | currency_format}}).
                            //- Some `fund_id` from the .csv don't exist or don't belong to current active organization
                            .form-error(ng-if="$ctrl.csvParser.errors.hasInvalidFundIds.length > 0")
                                | De kolom `fund_id` in het bulkbestand bevat verkeerde fonds identificatienummers '{{ $ctrl.csvParser.errors.hasInvalidFundIdsList }}'. Deze nummers horen niet bij de door u geselecteerde organisatie.
                        
                        //- Product voucher errors
                        .text-left(ng-if="!$ctrl.csvParser.isValid && $ctrl.type == 'product_voucher'")
                            //- BSN field is present while BSN is not enabled for the organization
                            .form-error(ng-if="$ctrl.csvParser.errors.csvHasBsnWhileNotAllowed")
                                | BSN field is present while BSN is not enabled for the organization
                            //- No `product_id` fields in the .csv file (required for product_vouchers vouchers)
                            .form-error(ng-if="$ctrl.csvParser.errors.csvHasMissingProductId")
                                | De kolom `product_id` mist in het bestand.
                            //- Has `amount` fields in the .csv file (forbidden for product vouchers)
                            .form-error(ng-if="$ctrl.csvParser.errors.hasAmountField")
                                | De kolom `amount` mag niet in het bestand zitten.
                            //- Has unknown `product_id` in the .csv file (non existing products_id, not approved products or sold_out products)
                            .form-error(ng-if="$ctrl.csvParser.errors.csvProductsInvalidUnknownIds.length > 0")
                                | De kolom `product_id` in het bulkbestand bevat verkeerde product identificatienummers '{{ $ctrl.csvParser.errors.csvProductsInvalidUnknownIdsList }}'. De nummers van deze producten zijn incorrect of de producten zijn uitverkocht.
                            //- The `product_id` is valid and approved, but not enough stock to make all requested vouchers 
                            .form-error(ng-if="$ctrl.csvParser.errors.csvProductsInvalidStockIds.length > 0")
                                | De kolom `product_id` in het bulkbestand bevat identificatienummers '{{ $ctrl.csvParser.errors.csvProductsInvalidStockIdsList }}' van aanbod dat uitverkocht is.
                            //- Some `fund_id` from the .csv don't exist or don't belong to current active organization
                            .form-error(ng-if="$ctrl.csvParser.errors.hasInvalidFundIds.length > 0")
                                | De kolom `fund_id` in het bulkbestand bevat verkeerde fonds identificatienummers '{{ $ctrl.csvParser.errors.hasInvalidFundIdsList }}'. Deze nummers horen niet bij de door u geselecteerde organisatie.

                    .text-center(ng-show="$ctrl.csvParser.progress == 1 && $ctrl.csvParser.isValid")
                        button(
                            ng-if="!$ctrl.loading"
                            ng-click="$ctrl.csvParser.uploadToServer()"
                            translate="csv_upload.buttons.upload").button.button-primary
        
        .modal-footer.text-center
            button.button.button-primary(ng-click="$ctrl.closeModal()" translate="modal_funds_add.buttons.close" id="close")
