- var src_prefix = (qdt_c ? (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'') : '/');

.modal.modal-lg.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.cancel()")

    .modal-window
        //- Select provider
        .modal-body(ng-if="$ctrl.step == 'provider_select'")
            .modal-header
                .modal-heading Tweefactorauthenticatie instellen
                .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")

            .modal-section
                .modal-section-column.modal-section-column-4: .form
                    .modal-text
                        strong.text-strong Selecteer de authenticatie-app die u wilt gebruiken.
                        .form-group: select-control(
                            search='false' 
                            ng-model="$ctrl.provider" 
                            options="$ctrl.providers").form-control

                    .modal-text
                        strong.text-strong Als je de {{ $ctrl.provider.name }} app niet hebt, 
                        | Kun je deze downloaden vanuit de #[strong.text-strong Play Store] of de #[strong.text-strong App Store].

                    .modal-text(ng-if="$ctrl.provider"): .block.block-app_download.form: .app_download-row
                        a.app_download-store_icon(href="{{ $ctrl.provider.url_android }}" target="_blank")
                            img(ng-src=src_prefix + "./assets/img/icon-app/app-store-android.svg")  

                        a.app_download-store_icon(href="{{ $ctrl.provider.url_ios }}" target="_blank")
                            img(ng-src=src_prefix + "./assets/img/icon-app/app-store-ios.svg")

                    .modal-section-separator

                    .modal-text: strong.text-strong Als je al de Google Authenticator-app hebt, volg dan de onderstaande stappen:
                    .modal-text 
                        | 1. In de app, selecteer #[strong.text-strong Account instellen]
                        br
                        | 2. Kies #[strong.text-strong Scan een QR-code] of #[strong.text-strongEnter Voer een installatiesleutel in: {{ $ctrl.auth_2fa.secret }}]

                .modal-section-column.modal-section-column-2
                    qr-code.block-qr-code-fit(
                        ng-if="$ctrl.auth_2fa.secret_url" 
                        padding="15px"
                        qr-raw="$ctrl.auth_2fa.secret_url" 
                        qr-logo=src_prefix + "./assets/img/me-logo.png")

            .modal-section.modal-section-collapse
                auth-2-f-a-info-box.flex-center.block-info-box-borderless

            .modal-footer
                .button-group
                    //- Cancel
                    button(type="button" ng-click="$ctrl.cancel()").button.button-default Annuleer
                    //- Next
                    button(type="submit" ng-click="$ctrl.submitAuthenticator()").button.button-primary Bevestig

        //- Phone number
        .modal-body(ng-if="$ctrl.step == 'phone_setup'"): form(ng-submit="$ctrl.submitPhoneNumber()")
            .modal-header
                .modal-heading Tweefactorauthenticatie instellen
                .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")

            .modal-section.form: .row: .col.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
                .modal-heading.text-center Koppel je telefoonnummer

                .modal-text.text-center
                    | Om door te gaan, voer je telefoonnummer in
                    .modal-separator
                    .form-group: .form-label.text-strong Telefoonnummer
                    .form-group
                        pincode-control(
                            ng-model="$ctrl.phoneNumber" 
                            block-size="3" 
                            block-count="4"
                            cant-delete-Length="3"
                            block-input-type="num").block-pincode-compact.block-pincode-phone

                        .form-error(ng-repeat="error in $ctrl.phoneNumberError" ng-bind="error")

                auth-2-f-a-info-box.flex-center

            .modal-footer
                .button-group
                    //- Cancel
                    button(type="button" ng-click="$ctrl.cancel()").button.button-default Annuleer
                    //- Next
                    button(type="submit").button.button-primary Bevestig

        //- Auth 2FA provider code confirmation
        .modal-body(ng-if="$ctrl.step == 'provider_confirmation'"): form(
            ng-submit="$ctrl.confirmationCode.length !== 6 ? null : $ctrl.activateProvider()")
            .modal-header
                .modal-heading Tweefactorauthenticatie instellen
                .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")

            .modal-section.form
                .modal-text.text-center
                    strong.text-strong Om door te gaan, voer de tweefactorauthenticatie beveiligingscode in.

                .modal-text.text-center
                    .form-group
                        .form-label(ng-if="$ctrl.type == 'phone'") Voer de 6-cijferige SMS-code in
                        .form-label(ng-if="$ctrl.type == 'authenticator'") Voer de 6-cijferige code in vanuit de app

                        pincode-control(
                            ng-model="$ctrl.confirmationCode" 
                            block-size="3" 
                            block-count="2" 
                            block-input-type="num").block-pincode-compact
                        
                        .form-error(ng-repeat="error in $ctrl.activateAuthErrors" ng-bind="error")
                
                .modal-text.text-center(ng-if="$ctrl.type == 'phone'")
                    button.button.button-text.button-text-primary.button-sm(type="button" ng-click="$ctrl.resendCode()" ng-disabled="$ctrl.resendingTime > 0")
                        .mdi.mdi-refresh.icon-start(ng-class="$ctrl.sendingCode ? 'mdi-spin' : ''")
                        | Code opnieuw verzenden
                        span(ng-if="$ctrl.resendingTime > 0") &nbsp;({{ $ctrl.resendingTime }} seconde(n))

                auth-2-f-a-info-box.flex-center

            .modal-footer
                .button-group
                    //- Back
                    button.button.button-default(
                        type="button"
                        ng-click="$ctrl.setStep($ctrl.type == 'phone' ? 'phone_setup' : 'provider_select')") Terug

                    //- Submit
                    button.button.button-primary(
                        type="submit"
                        ng-disabled="$ctrl.confirmationCode.length !== 6") Verifieer

        //- Auth 2FA provider code verification
        .modal-body(ng-if="$ctrl.step == 'provider_verification'"): form(
            ng-submit="$ctrl.confirmationCode.length !== 6 ? null : $ctrl.verifyAuthProvider()")
            .modal-header
                .modal-heading Tweefactorauthenticatie
                .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")

            .modal-section.form
                .modal-text.text-center
                    strong.text-strong(ng-if="$ctrl.auth_2fa.provider_type.type == 'phone'") 
                        | Om door te gaan, voer alstublieft de 6-cijferige SMS-code in die naar je telefoonnummer is verzonden.

                    strong.text-strong(ng-if="$ctrl.auth_2fa.provider_type.type == 'authenticator'") 
                        | Om door te gaan, voer de 6-cijferige beveiligingscode in van {{ $ctrl.auth_2fa.provider_type.name }}.

                .modal-text.text-center
                    .form-group
                        .form-label(ng-if="$ctrl.auth_2fa.provider_type.type == 'phone'") Voer de 6-cijferige SMS-code in
                        .form-label(ng-if="$ctrl.auth_2fa.provider_type.type == 'authenticator'") Voer de 6-cijferige code in vanuit de app

                        pincode-control(
                            ng-model="$ctrl.confirmationCode" 
                            block-size="3" 
                            block-count="2" 
                            block-input-type="num").block-pincode-compact
                        
                        .form-error(ng-repeat="error in $ctrl.verifyAuthErrors" ng-bind="error")
                
                .modal-text.text-center(ng-if="$ctrl.type == 'phone'")
                    button.button.button-text.button-text-primary.button-sm(type="button" ng-click="$ctrl.resendCode()" ng-disabled="$ctrl.resendingTime > 0")
                        .mdi.mdi-refresh.icon-start(ng-class="$ctrl.sendingCode ? 'mdi-spin' : ''")
                        | Code opnieuw verzenden
                        span(ng-if="$ctrl.resendingTime > 0") &nbsp;({{ $ctrl.resendingTime }} seconde(n))

                auth-2-f-a-info-box.flex-center

            .modal-footer
                .button-group
                    //- Cancel
                    button.button.button-default(
                        type="button"
                        ng-click="$ctrl.cancel()") Annuleer

                    //- Submit
                    button.button.button-primary(
                        type="submit"
                        ng-disabled="$ctrl.confirmationCode.length !== 6") Verifieer

        //- Auth 2FA provider code confirmation
        .modal-body(ng-if="$ctrl.step == 'success'")
            .modal-header
                .modal-heading Tweefactorauthenticatie
                .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")

            .modal-section.modal-section-pad.form.text-center
                .modal-icon-mdi: .mdi.mdi-check
                .modal-heading: strong Het is gelukt!
                .modal-text: small 
                    | Je bent succesvol ingelogd met tweefactorauthenticatie.
                    | Welkom terug!

            .modal-footer: .button-group: button(ng-click="$ctrl.done()").button.button-primary Bevestig
