- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.modal.modal-auth2.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    //- Sign In by qr-code
    .modal-window: .modal-content
        a.modal-close.mdi.mdi-close(href="#" ng-click="$ctrl.close()" id="close" role="button")

        .block.block-auth-widget(ng-if="!$ctrl.restoreWithDigId")
            .auth-title Login met e-mail
            .auth-subtitle {{ "popup_auth.labels.link" | translate }}

            form.form.auth-form(ng-submit="$ctrl.signInEmailForm.submit()")
                .auth-form-input
                    input(ng-model="$ctrl.signInEmailForm.values.email" type="email" placeholder="E-mail").form-control.email-auth
                    .form-error(ng-repeat="error in $ctrl.signInEmailForm.errors.email" ng-bind="error")
                div: button(type="submit").button.button-primary Login

            //- Disabled for now
            //- .auth-digid(ng-if="$ctrl.digidAvailable"): a(ng-click="$ctrl.useDigId()").auth-digid-link
                | Account herstellen door in te loggen met DigiD
                em.mdi.mdi-chevron-right

            .auth-qr_code.hidden-xs
                .qr_code-container
                    .qr_code-description
                        .auth-title Login met Me-app
                        | Scan de QR-code aan de rechterzijde met de QR-scanner in de Me-app. 
                        | #[br] #[br]
                        | De Me-app wordt gebruikt om makkelijk en veilig in te loggen, betalingen te doen en tegoeden te beheren.
                        | #[br] #[br]

                        app-links

                    .qr_code-block: qr-code(
                        ng-if="$ctrl.qrValue" 
                        qr-value="$ctrl.qrValue" 
                        qr-type="auth_token" qr-logo=src_prefix + "./assets/img/me-logo.png")
    
        .block.block-auth-widget(ng-if="$ctrl.restoreWithDigId")
            .auth-digid-form
                .auth-title 
                    | Account herstellen met DigiD
                    br
                .auth-subtitle 
                    | Wanneer u eerder heeft ingelogd met DigiD kunt u uw account 
                    | herstellen door opnieuw hiermee in te loggen.
                    br
                .auth-subtitle 
                    .button.button-digid &nbsp;
                    .button.button-primary(ng-click="$ctrl.startDigId()") Login met DigID

        .block.block-auth-widget(ng-if="$ctrl.restoreWithDigId && $ctrl.restoreWithDigIdFailed")
            .auth-digid-message
                .digid-icon: .mdi.mdi-alert-outline
                .digid-title Mislukt!
                .digid-message
                    | Uw BSN-nummer is niet bekend in het systeem.
                    br
                    | Probeer een ander DigiD-account of meld u opnieuw aan.