.modal.modal-export-data.modal-export-data-narrow.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    
    //- Select type
    .modal-window: form.form
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .modal-header(i18n="modals.modal_export_data.title")

        .modal-body: .modal-section
            .export-data-options-block: .form-group
                label.form-label.export-data-options-label(translate="modals.modal_export_data.labels.export_file_format")

                .export-data-options-list
                    label.radio.radio-inline.export-data-option
                        em.mdi.mdi-account-details-outline.export-data-option-icon

                        input(
                            ng-disabled="{{disabled}}"
                            type="radio"
                            ng-click="$ctrl.changeFileType('csv')"
                            ng-checked="$ctrl.form.values.fileType == 'csv'")
                        .radio-label.export-data-option-label
                            | {{ 'modals.modal_export_data.modal_section.export_type_csv' | i18n }} 
                            .radio-circle

                    label.radio.radio-inline.export-data-option
                        em.mdi.mdi-account-details-outline.export-data-option-icon

                        input(
                            ng-disabled="{{disabled}}"
                            type="radio"
                            ng-click="$ctrl.changeFileType('xls')"
                            ng-checked="$ctrl.form.values.fileType == 'xls'")
                        .radio-label.export-data-option-label
                            | {{ 'modals.modal_export_data.modal_section.export_type_xls' | i18n }}
                            .radio-circle

            .export-data-options-block: .form-group
                .export-data-row
                    label.form-label.flex-grow.export-data-options-label(translate="modals.modal_export_data.labels.export_fields")

                    .button.button-text.button-narrow: label(for="fields_check_all").form-toggle
                        input(type="checkbox" id="fields_check_all" ng-model="$ctrl.enableAllFields" ng-click="$ctrl.checkAllFields()")
                        .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot

                .export-data-options-list
                    table
                        tr(ng-repeat="rowFields in $ctrl.form.values.exportFields")
                            td(ng-repeat="field in rowFields")
                                input-checkbox-control(
                                    compact="true"
                                    name="{{ field.key }}" 
                                    label="{{ field.name }}" 
                                    ng-model="field.enabled")

            .export-data-options-block: .form-group
                label.form-label.export-data-options-label(translate="modals.modal_export_data.labels.attach_qr_codes")

                .export-data-options-list.qr-codes-options-list
                    label.radio.radio-inline.export-data-option
                        em.mdi.mdi-cancel.export-data-option-icon

                        input(
                            ng-disabled="{{disabled}}"
                            type="radio"
                            ng-click="$ctrl.changeQrCodesExportType('none')"
                            ng-checked="$ctrl.form.values.qrCodesExportType == 'none'")
                        .radio-label.export-data-option-label
                            | Geen
                            .radio-circle

                    label.radio.radio-inline.export-data-option
                        em.mdi.mdi-file-pdf-box.export-data-option-icon

                        input(
                            ng-disabled="{{disabled}}"
                            type="radio"
                            ng-click="$ctrl.changeQrCodesExportType('pdf')"
                            ng-checked="$ctrl.form.values.qrCodesExportType == 'pdf'")
                        .radio-label.export-data-option-label
                            | PDF
                            .radio-circle

                    label.radio.radio-inline.export-data-option
                        em.mdi.mdi-image-outline.export-data-option-icon

                        input(
                            ng-disabled="{{disabled}}"
                            type="radio"
                            ng-click="$ctrl.changeQrCodesExportType('image')"
                            ng-checked="$ctrl.form.values.qrCodesExportType == 'image'")
                        .radio-label.export-data-option-label
                            | Afbeelding
                            .radio-circle


        .modal-footer.text-center
            button.button.button-dark(type="button" ng-click="$ctrl.close()" i18n="modals.modal_voucher_create.buttons.cancel")
            button.button.button-primary(type="button" ng-click="$ctrl.form.submit()" i18n="modals.modal_export_data.buttons.submit")
