.modal.modal-xl.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, ($ctrl.modal.loaded && !$ctrl.hideModal) ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.cancel()")
    //- Sign In by qr-code
    .modal-window
        .modal-body: .modal-hero
            .hero-icon: em.mdi(ng-class="'mdi-' + $ctrl.hero_icon")
            .hero-title(ng-bind="$ctrl.hero_title" ng-if="$ctrl.hero_title")
            .hero-subtitle(ng-repeat="hero_subtitle in $ctrl.hero_subtitle" ng-bind="hero_subtitle" ng-if="$ctrl.hero_subtitle")
        
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")
        
        .modal-body.modal-body-padless.form
            .block.block-switch-table(scroll-end="$ctrl.loadMore()")
                .table-wrapper: table.table
                    tr(
                        ng-repeat="item in $ctrl.itemsShown"
                        ng-click="item.model = !item.model; $ctrl.blink(item);"
                        ng-class="{'switch-row-disabled' : !($ctrl.enableToggles && $ctrl.itemsShown.length > 1)}")

                        td
                            em.mdi.mdi-alert-outline.text-warning.switch-key-icon
                            span(ng-bind="item.value")

                        td(
                            ng-if="item.columns" 
                            ng-repeat="column in item.columns"
                            ng-bind="column")

                        td(ng-if="$ctrl.enableToggles && $ctrl.itemsShown.length > 1"): .switch-input
                            .switch-input-label(
                                ng-class="{'switch-input-label-blink' : item.blink}"
                                ng-bind="item.model ? $ctrl.labels.label_on : $ctrl.labels.label_off")

                            .switch-input-control: .form-group.form-group-inline: .form-toggle
                                input(type="checkbox" ng-model="item.model" ng-change="$ctrl.blink(item)")
                                .form-toggle-inner: .toggle-input: .toggle-input-dot

        .modal-footer.text-center
            .button-group.flex-grow
                button.button.button-default.button-sm(
                    ng-click="$ctrl.cancel()" 
                    ng-bind="$ctrl.labels.button_cancel || 'Annuleer'")
            
            .button-group
                button.button.button-default.button-sm(
                    ng-if="$ctrl.enableToggles && $ctrl.items.length > 1" 
                    ng-click="$ctrl.toggleAllOff()" 
                    ng-bind="$ctrl.labels.button_none || 'Alles overslaan'")

                button.button.button-default.button-sm(
                    ng-if="$ctrl.enableToggles && $ctrl.items.length > 1" 
                    ng-click="$ctrl.toggleAllOn()" 
                    ng-bind="$ctrl.labels.button_all || 'Ja op alles'")

                button.button.button-primary.button-sm(
                    ng-click="$ctrl.confirm()" 
                    ng-bind="$ctrl.labels.button_confirm || 'Bevestigen'")
