.modal.modal-notification.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.cancel()")
    .modal-window
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" role="button")
        
        .modal-body.form
            .modal-section
                .text-center
                    .modal-icon-rounded(ng-if="$ctrl.icon"): img(ng-src="{{ $ctrl.icon }}")
                    .modal-heading(translate="{{ $ctrl.title }}")

                    p.modal-text(
                        ng-if="$ctrl.description && !$ctrl.descriptionIsArray" 
                        translate="{{ $ctrl.description }}" 
                        translate-values='{email: $ctrl.email}')

                    p.modal-text(
                        ng-if="$ctrl.description && $ctrl.descriptionIsArray" 
                        ng-repeat="description in $ctrl.description track by $index" 
                        translate="{{ description }}")

        .modal-footer.text-center
            button.button.button-default(ng-if="$ctrl.showCloseBtn" ng-click="$ctrl.close()" translate="{{ $ctrl.closeBtnText }}")
            button.button.button-default(ng-if="$ctrl.showCancelBtn" ng-click="$ctrl.cancel()" translate="{{ $ctrl.cancelBtnText }}")
            button.button.button-primary(ng-if="$ctrl.showConfirmBtn" ng-click="$ctrl.confirm()" translate="{{ $ctrl.confirmBtnText }}")