.modal.modal-business-update.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop
    form(ng-submit="$ctrl.form.submit()").modal-window.form
        .modal-header(
            translate="modals.modal_business_add.title" 
            translate-values='{organization_name: $ctrl.organization.name}')
        .modal-body.form
            .modal-description(translate="modals.modal_business_add.description")
            .modal-section: .row: .col.col-lg-8.col-lg-offset-2.col-lg-12
                .form-group
                    .form-label(translate="modals.modal_business_add.labels.business_type")
                    .form-offset: select-control(
                        ng-model="$ctrl.businessType" 
                        ng-change="$ctrl.changeBusinessType($ctrl.businessType)"
                        options="$ctrl.businessTypes"
                        placeholder="Selecteer organisatie type...")
                    .form-error(
                        ng-repeat="error in $ctrl.form.errors.business_type_id" 
                        ng-bind="error")

        .modal-footer.text-center
            button.button.button-primary(type="submit" translate="Bevestig")
