- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.modal.modal-voucher-create.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    //- Select type
    .modal-window(ng-if="$ctrl.state == 'select_type'"): form.form(ng-submit="$ctrl.form.submit()")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .modal-header(i18n="modals.modal_voucher_create.title")

        .modal-body: .modal-section
            .voucher-type
                .voucher-type-title(i18n="modals.modal_voucher_create.modal_section.choose_title")
                .voucher-type-subtitle(i18n="modals.modal_voucher_create.modal_section.choose_subtitle")
                .voucher-type-row
                    .voucher-type-item(ng-click="$ctrl.voucherType = 'giftcard'" ng-class="{active: $ctrl.voucherType == 'giftcard'}")
                        .voucher-type-item-check: em.mdi.mdi-check-bold
                        .voucher-type-item-icon: img(src=src_prefix + "./assets/img/voucher-type-giftcard.svg").voucher-type-item-icon-img
                        | {{ 'modals.modal_product_voucher_create.modal_section.voucher_type_item.giftcard' | i18n }}
                    .voucher-type-item(ng-click="$ctrl.voucherType = 'activation_code'" ng-class="{active: $ctrl.voucherType == 'activation_code'}")
                        .voucher-type-item-check: em.mdi.mdi-check-bold
                        .voucher-type-item-icon: img(src=src_prefix + "./assets/img/voucher-type-code.svg").voucher-type-item-icon-img
                        | {{ 'modals.modal_product_voucher_create.modal_section.voucher_type_item.activation_code' | i18n }}

        .modal-footer.text-center
            button.button.button-dark(type="button" ng-click="$ctrl.close()" i18n="modals.modal_voucher_create.buttons.cancel" id="cancel")
            button.button.button-primary(type="button" ng-if="$ctrl.voucherType" ng-click="$ctrl.submitVoucherType()" i18n="modals.modal_voucher_create.buttons.submit")

    //- Activation code form
    .modal-window(ng-if="$ctrl.state == 'activation_code'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .modal-header(i18n="modals.modal_voucher_create.title")
        .modal-body 
            .modal-section: .voucher-type
                .voucher-type-title(i18n="modals.modal_voucher_create.modal_section.activation_code_title")
                .voucher-type-subtitle(i18n="modals.modal_voucher_create.modal_section.activation_code_subtitle" style="white-space: pre-wrap")
            .modal-section
                pincode-control(
                    ng-model="$ctrl.activationCode" 
                    block-size="4" 
                    block-count="2" 
                    block-input-type="alphanum").block-pincode-compact

        .modal-footer.text-center
            button.button.button-dark(type="button" ng-click="$ctrl.close()" i18n="modals.modal_voucher_create.buttons.cancel")
            button.button.button-primary(
                ng-if="$ctrl.voucherType" 
                ng-click="$ctrl.submitActivationCode($ctrl.activationCode)" i18n="modals.modal_voucher_create.buttons.submit")
    
    //- Invalid/Used activation code
    .modal-window(ng-if="$ctrl.state == 'activation_code_invalid'"): form.form(ng-submit="$ctrl.form.submit()")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .modal-body 
            .modal-section: .voucher-type
                .voucher-type-icon: .mdi.mdi-alert-outline
                .voucher-type-title(i18n="modals.modal_voucher_create.errors.title.activation_code_invalid")
                .voucher-type-subtitle(i18n="modals.modal_voucher_create.errors.activation_code_invalid")

        .modal-footer.text-center
            button.button.button-dark(type="button" ng-click="$ctrl.close()" i18n="modals.modal_voucher_create.buttons.cancel")

    //- Voucher form
    .modal-window(ng-if="$ctrl.state == 'voucher_form'"): form.form(ng-submit="$ctrl.form.submit()")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")
        .modal-header(i18n="modals.modal_voucher_create.title")
        .modal-body
            .modal-section 
                .form-group.form-group-inline.form-group-inline-sm
                    label.form-label(i18n="modals.modal_voucher_create.labels.amount")
                    input(
                        type="number" 
                        placeholder="{{ 'modals.modal_voucher_create.labels.amount' | i18n }}"
                        ng-model="$ctrl.form.values.amount" step=".01" min="0.01").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.amount" ng-bind="error")
                
                .form-group.form-group-inline.form-group-inline-sm
                    label.form-label(i18n="modals.modal_voucher_create.labels.expire_at")
                    datepicker(
                        date-format="yyyy-MM-dd" 
                        datepicker-mobile="" 
                        date-week-start-day="1").form-control
                        input(ng-model="$ctrl.form.values.expire_at" type="text" placeholder="jjjj-MM-dd").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.expire_at" ng-bind="error")
                
                .form-group.form-group-inline.form-group-inline-sm
                    label.form-label(i18n="modals.modal_voucher_create.labels.note")
                    textarea(
                        placeholder="{{ 'modals.modal_voucher_create.labels.note' | i18n }}"
                        ng-model="$ctrl.form.values.note").form-control.r-n
                    .form-error(ng-repeat="error in $ctrl.form.errors.note" ng-bind="error")
            
            .modal-section
                .form-group.form-group-inline.form-group-inline-sm
                    label.form-label
                    .form-offset
                        .block.block-info
                            em.mdi.mdi-information.block-info-icon
                            translate(translate="modals.modal_voucher_create.info")

        .modal-footer.text-center
            button.button.button-dark(type="button" ng-click="$ctrl.close()" i18n="modals.modal_voucher_create.buttons.cancel")
            button.button.button-primary(type="submit" i18n="modals.modal_voucher_create.buttons.submit")