.modal.modal-md.modal-voucher-transaction.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded && $ctrl.form ? '' : 'modal-loading']")
    
    .modal-backdrop(ng-click="$ctrl.closeModal()")

    //- Form
    .modal-window(ng-if="$ctrl.state == 'form'"): form(ng-submit="$ctrl.state = 'preview'").form
        .modal-close.mdi.mdi-close(ng-click="$ctrl.closeModal()" role="button")
        
        //- Transaction title
        .modal-header(
            ng-if="$ctrl.form.values.target !== 'top_up'" 
            translate="modals.modal_voucher_transaction.title")

        //- Top Up title
        .modal-header(
            ng-if="$ctrl.form.values.target === 'top_up'" 
            translate="modals.modal_voucher_transaction.top_up_title")

        .modal-body.modal-body-visible
            .modal-section.modal-section-pad
                //- Target type
                .form-group.form-group-inline.form-group-inline-md(ng-if="$ctrl.targets.length > 1 && $ctrl.form.values.target !== 'top_up'")
                    label.form-label.form-label-required(translate="modals.modal_voucher_transaction.labels.target")
                    select-control(
                        ng-if="$ctrl.form.values.target"
                        prop="key"
                        search="false"
                        ng-model="$ctrl.form.values.target"
                        ng-change="$ctrl.onFormChange()"
                        options="$ctrl.targets").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.target" ng-bind="error")

                //- Provider
                .form-group.form-group-inline.form-group-inline-md(ng-if="$ctrl.form.values.target === 'provider'")
                    label.form-label.form-label-required(translate="modals.modal_voucher_transaction.labels.provider")
                    select-control(
                        prop="id"
                        ng-model="$ctrl.form.values.organization_id"
                        ng-change="$ctrl.onFormChange()"
                        options="$ctrl.providers").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.organization_id" ng-bind="error")

                //- IBAN sources
                .form-group.form-group-inline.form-group-inline-md(ng-if="$ctrl.canUseReimbursements && $ctrl.form.values.target === 'iban'")
                    label.form-label.form-label-required(translate="modals.modal_voucher_transaction.labels.iban_source")
                    select-control(
                        prop="key"
                        search="false"
                        ng-model="$ctrl.form.values.iban_source"
                        ng-change="$ctrl.onIbanSourceChange()"
                        options="$ctrl.ibanSources").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.iban_source" ng-bind="error")

                //- Reimbursement
                .form-group.form-group-inline.form-group-inline-md(
                    ng-if="$ctrl.canUseReimbursements && $ctrl.form.values.target === 'iban' && $ctrl.form.values.iban_source === 'reimbursement'")
                    label.form-label.form-label-required(translate="modals.modal_voucher_transaction.labels.reimbursement")
                    select-control(
                        prop="id"
                        ng-model="$ctrl.form.values.reimbursement_id"
                        ng-change="$ctrl.onReimbursementSelectChange()"
                        options="$ctrl.reimbursements").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.reimbursement_id" ng-bind="error")

                //- Target IBAN
                .form-group.form-group-inline.form-group-inline-md(ng-if="$ctrl.form.values.target === 'iban'")
                    label.form-label.form-label-required(translate="modals.modal_voucher_transaction.labels.target_iban")
                    .form-offset
                        input(
                            ng-model="$ctrl.form.values.target_iban"
                            ng-change="$ctrl.onFormChange()"
                            ng-disabled="$ctrl.form.values.iban_source === 'reimbursement'"
                            placeholder="IBAN-nummer").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.target_iban" ng-bind="error")

                //- Target Name
                .form-group.form-group-inline.form-group-inline-md(ng-if="$ctrl.form.values.target === 'iban'")
                    label.form-label.form-label-required(translate="modals.modal_voucher_transaction.labels.target_name")
                    .form-offset
                        input(
                            ng-model="$ctrl.form.values.target_name"
                            ng-change="$ctrl.onFormChange()"
                            ng-disabled="$ctrl.form.values.iban_source === 'reimbursement'"
                            placeholder="IBAN-naam").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.target_name" ng-bind="error")

                //- Amount
                .form-group.form-group-inline.form-group-inline-md
                    label.form-label.form-label-required(translate="modals.modal_voucher_transaction.labels.amount")
                    .form-offset
                        input(  
                            type="number" 
                            placeholder="{{ 'modals.modal_voucher_transaction.labels.amount' | translate }}"
                            ng-model="$ctrl.form.values.amount"
                            ng-change="$ctrl.onFormChange()"
                            step=".01"
                            min=".02"
                            max="{{ $ctrl.amount_limit }}").form-control

                        .form-hint(ng-if="!$ctrl.form.errors.amount") Limiet {{ $ctrl.amount_limit | currency_format }}
                        .form-error(ng-repeat="error in $ctrl.form.errors.amount" ng-bind="error")

                //- Note
                .form-group.form-group-inline.form-group-inline-md
                    label.form-label(translate="modals.modal_voucher_transaction.labels.note")
                    .form-offset
                        textarea(
                            placeholder="{{ 'modals.modal_voucher_transaction.labels.note' | translate }}"
                            ng-model="$ctrl.form.values.note").form-control.r-n
                        .form-hint(ng-if="!$ctrl.form.errors.note") Max. 255 tekens
                        .form-error(ng-repeat="error in $ctrl.form.errors.note" ng-bind="error")

        //- Submit
        .modal-footer.text-center
            //- Cancel
            button.button.button-default(
                type="button"
                ng-click="$ctrl.closeModal()"
                translate="modals.modal_voucher_transaction.buttons.cancel")

            //- Submit
            button.button.button-primary(
                type="submit"
                ng-disabled="$ctrl.submitButtonDisabled"
                translate="modals.modal_voucher_transaction.buttons.submit")

    //- Preview
    .modal-window(ng-if="$ctrl.state == 'preview'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.closeModal()" role="button")
        .modal-icon.modal-icon-primary: .mdi.mdi-alert-outline

        .modal-body.form
            .modal-section: .modal-heading.text-center(translate="modals.modal_voucher_transaction.preview.title")

            .modal-section
                .row: .col.col-lg-8.col-lg-offset-2: .block.block-compact-datalist
                    //- Provider
                    .datalist-row(ng-if="$ctrl.form.values.target === 'provider'")
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.provider")
                        .datalist-value(ng-bind="$ctrl.providersList[$ctrl.form.values.organization_id].name")

                    //- IBAN
                    .datalist-row(ng-if="$ctrl.form.values.target === 'iban'")
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.target_iban")
                        .datalist-value(ng-bind="$ctrl.form.values.target_iban")

                    //- IBAN Name
                    .datalist-row(ng-if="$ctrl.form.values.target === 'iban'")
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.target_name")
                        .datalist-value(ng-bind="$ctrl.form.values.target_name")

                    //- Sponsor name
                    .datalist-row
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.organization")
                        .datalist-value(ng-bind="$ctrl.organization.name")

                    //- Transaction amount
                    .datalist-row
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.amount")
                        .datalist-value(ng-bind="$ctrl.form.values.amount | currency_format")

                .modal-text.text-center.bordered(translate="modals.modal_voucher_transaction.preview.description")

        //- Submit
        .modal-footer.modal-footer-light.text-center
            //- Cancel
            button.button.button-default(
                type="button"
                ng-click="$ctrl.state = 'form'"
                translate="modals.modal_voucher_transaction.buttons.cancel")

            //- Submit
            button.button.button-primary(
                type="button"
                ng-click="$ctrl.form.submit()"
                translate="modals.modal_voucher_transaction.buttons.submit")

    //- Finish
    .modal-window(ng-if="$ctrl.state == 'finish'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.closeModal()" role="button")
        .modal-icon.modal-icon-primary: .mdi.mdi-check-circle-outline

        .modal-body.form
            //- Transaction description
            .modal-section.text-center(ng-if="$ctrl.form.values.target !== 'top_up'")
                .modal-heading(translate="modals.modal_voucher_transaction.success.title")
                .modal-text(translate="modals.modal_voucher_transaction.success.description")

            //- Top Up description
            .modal-section.text-center(ng-if="$ctrl.form.values.target === 'top_up'")
                .modal-heading(translate="modals.modal_voucher_transaction.success.top_up_title")
                .modal-text(translate="modals.modal_voucher_transaction.success.top_up_description")

            .modal-section
                .row: .col.col-lg-8.col-lg-offset-2: .block.block-compact-datalist
                    //- Provider name
                    .datalist-row(ng-if="$ctrl.form.values.target === 'provider'")
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.provider")
                        .datalist-value(ng-bind="$ctrl.providersList[$ctrl.form.values.organization_id].name")

                    //- Identity
                    .datalist-row(ng-if="$ctrl.form.values.target === 'iban'")
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.target_iban")
                        .datalist-value(ng-bind="$ctrl.form.values.target_iban")

                    //- Identity
                    .datalist-row(ng-if="$ctrl.form.values.target === 'iban'")
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.target_name")
                        .datalist-value(ng-bind="$ctrl.form.values.target_name")

                    //- Sponsor name
                    .datalist-row
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.organization")
                        .datalist-value(ng-bind="$ctrl.modal.scope.organization.name")

                    //- Transaction amount
                    .datalist-row
                        .datalist-key.text-primary.text-right: strong(translate="modals.modal_voucher_transaction.labels.amount")
                        .datalist-value(ng-bind="$ctrl.form.values.amount | currency_format")

        //- Actions
        .modal-footer.modal-footer-light.text-centers
            button.button.button-primary(
                type="button"
                ng-click="$ctrl.closeModal()"
                translate="modals.modal_voucher_transaction.buttons.close")