.modal.modal-md.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window
        a(ng-click="$ctrl.close()" role="button").mdi.mdi-close.modal-close
        .modal-header(translate="modal_funds_add.header.title")
        .modal-body.form
            .modal-section
                .modal-funds-added
                    p(ng-if="!$ctrl.modal.loaded" translate="Even geduld a.u.b.").text-center.text-muted
                    p(ng-if="$ctrl.modal.loaded")
                        translate(translate="modal_funds_add.labels.payment") 
                        a.text-primary(
                            ng-bind="$ctrl.topUpIban"
                            ng-click="$ctrl.copyToClipboard($ctrl.topUpIban)"
                            title="{{ 'modal_funds_add.labels.copy' | i18n }}"
                        )
                        br
                        translate(translate="modal_funds_add.labels.addcode")
                        a.text-primary(
                            ng-bind="$ctrl.topUpCode"
                            ng-click="$ctrl.copyToClipboard($ctrl.topUpCode)"
                            title="{{ 'modal_funds_add.labels.copy' | i18n }}"
                        )
                        translate(translate="modal_funds_add.labels.description")
        .modal-footer.text-center
            button.button.button-primary(ng-click="$ctrl.close()" translate="modal_funds_add.buttons.close")