.fund-item
    .fund-content
        .fund-photo: img(
            ng-src="{{ $dir.media.sizes.thumbnail || $dir.media.sizes.small || './assets/img/placeholders/fund-thumbnail.png' }}"
            alt="Dit is de afbeelding van {{ $dir.fund.name }}")

        .fund-details
            h2.fund-name: a(ui-sref="fund($dir.fund)" ng-bind="$dir.fund.name")

            .fund-description(ng-if="$dir.fund.description_short")
                span(ng-if="!$dir.showMore" ng-bind="$dir.fund.description_short | str_limit:190")
                span(id="fund_description_short" ng-if="$dir.showMore" ng-bind="$dir.fund.description_short")
                br

                button.button.button-text.button-xs(
                    ng-if="!$dir.showMore && $dir.fund.description_short.length > 190" 
                    ng-click="$dir.setShowMore($event, true)"
                    aria-expanded="{{ $dir.showMore && $dir.fund.description_short.length > 190 }}"
                    aria-controls="fund_description_short").fund-description-more
                    | Toon meer
                    em.mdi.mdi-chevron-down.icon-right

                button.button.button-text.button-xs(
                    ng-if="$dir.showMore && $dir.fund.description_short.length > 190" 
                    ng-click="$dir.setShowMore($event, false)"
                    aria-expanded="{{ $dir.showMore && $dir.fund.description_short.length > 190 }}"
                    aria-controls="fund_description_short").fund-description-more 
                    | Toon minder
                    em.mdi.mdi-chevron-up.icon-right

        .fund-related-funds-block(ng-if="$dir.fund.children.length")
            .fund-related-funds-description Voordat u dit budget kunt aanvragen dient u een aanvraag te doen voor de volgende budgetten:, moet u een ander fonds aanvragen uit de onderstaande lijst:
            ul.fund-related-funds-list(ng-repeat="children in $dir.fund.children")
                li.fund-related-funds-list-item(ng-bind="children.name")

        .fund-related-funds-block(ng-if="$dir.fund.parent")
            .fund-related-funds-description Diam viverra diam at neque mollis eros sapien nibh pellentesque ut eget odio viverra ut morbi gravida elementum mauris pretium amet, a sagittis
            ul.fund-related-funds-list
                li.fund-related-funds-list-item(ng-bind="$dir.fund.parent.name")
                
    .fund-actions(ng-class="{expanded : $dir.showMoreRequestInfo}")
        .fund-request-block
            .fund-request-block-progress
                .fund-request-block-progress-title(ng-bind="$dir.progressStatusTitle")
                .fund-request-block-progress-bar(ng-class="{'no-progress': !$dir.fund.criteria_valid_percentage}")
                    .fund-request-block-progress-bar-completed(
                        style="width: {{ $dir.fund.criteria_valid_percentage }}%")
                    .fund-request-block-progress-bar-remaining(
                        style="width: {{ $dir.fund.criteria_invalid_percentage }}%")

            button.button.button-primary.fund-request-block-button(
                type="button"
                ng-click="$dir.applyFund($event, $dir.fund)")
                translate Direct aanvragen 
                em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

        .fund-totals-block
            .fund-totals-block-amount
                .fund-totals-block-amount-description Totaal
                .fund-totals-block-amount-value {{ $dir.fund.amount_total | currency_format  }}
            
            .fund-totals-block-show-details
                button.button.button-text.button-xs(
                    ng-if="!$dir.showMoreRequestInfo" 
                    ng-click="$dir.setShowMoreRequestInfo($event, true)"
                    aria-expanded="{{ $dir.showMoreRequestInfo }}"
                    aria-controls="fund_request_details") 
                    | Toon meer
                    em.mdi.mdi-chevron-down.icon-right

                button.button.button-text.button-xs(
                    ng-if="$dir.showMoreRequestInfo" 
                    ng-click="$dir.setShowMoreRequestInfo($event, false)"
                    aria-expanded="{{ $dir.showMoreRequestInfo }}"
                    aria-controls="fund_request_details") 
                    | Toon minder
                    em.mdi.mdi-chevron-up.icon-right

    .fund-pre-check-info-block(ng-if="$dir.showMoreRequestInfo"): .fund-pre-check-info-wrapper
        .fund-pre-check-info-criterias
            .fund-pre-check-info-criterias-title Voorwaarden
            .fund-pre-check-info-criterias-list
                .fund-pre-check-info-criterias-list-item(ng-repeat="criterion in $dir.fund.criteria" ng-class="{valid: criterion.is_valid}") 
                    em.mdi.mdi-check-circle 
                    span(ng-bind="criterion.name")
                    | &nbsp;
                    span(ng-bind="criterion.value")

        .fund-pre-check-info-totals
            .fund-pre-check-info-totals-title Berekening
            table.fund-pre-check-info-totals-table
                tr
                    td.description Per gezin
                    td.value 1x {{ $dir.fund.amount_for_identity | currency_format }}

                tr
                    td 
                    td.value 1x 1 Voucher

                tr: td(colspan="2"): br    

                tr
                    td.description Per kind
                    td.value {{ $dir.fund.multiplier_for_identity }}x {{ $dir.fund.amount_for_identity | currency_format }}

                tr: td(colspan="2"): br   

            .fund-pre-check-info-total-amount 
                .fund-pre-check-info-total-title Totaal
                .fund-pre-check-info-total-description {{ $dir.fund.amount_total | currency_format  }}

