a.search-item.search-item-fund
    .search-media: img(
        ng-src="{{ $dir.media.sizes.thumbnail || $dir.media.sizes.small || './assets/img/placeholders/fund-thumbnail.png' }}"
        alt="")

    .search-content
        .search-details
            .search-title(ng-bind="$dir.fund.name")
            .search-subtitle(ng-bind="$dir.fund.organization.name")
            .search-status-label
                .label.label-default(ng-if="$dir.fund.showPendingButton" translate="funds.buttons.is_pending")
                .label.label-success(ng-if="$dir.fund.alreadyReceived" translate="funds.status.active")
            
        .search-actions(ng-if="$dir.showActivateButton")
            button.button.button-primary.button-fill(
                type="button"
                ng-click="$dir.applyFund($dir.fund)" 
                translate="funds.buttons.is_applicable")