.fund-item(ng-class="{'fund-item-child' : $dir.fund.parent, 'fund-item-parent' : $dir.fund.children.length > 0}")
    .fund-content(ng-class="{'fund-content-expanded' : $dir.showMoreRequestInfo}")
        .fund-photo: img(
            ng-src="{{ $dir.media.sizes.thumbnail || $dir.media.sizes.small || './assets/img/placeholders/fund-thumbnail.png' }}"
            alt="Dit is de afbeelding van {{ $dir.fund.name }}")

        .fund-details
            h2.fund-name: a(ui-sref="fund($dir.fund)" ng-bind="$dir.fund.name")

            .fund-description(ng-if="$dir.fund.description_short")
                span(ng-if="!$dir.showMore" ng-bind="$dir.fund.description_short | str_limit:190")
                span(id="fund_description_short" ng-if="$dir.showMore" ng-bind="$dir.fund.description_short")
                br

                button.button.button-text.button-xs(
                    ng-if="!$dir.showMore && $dir.fund.description_short.length > 190" 
                    ng-click="$dir.showMore = true"
                    aria-expanded="{{ $dir.showMore && $dir.fund.description_short.length > 190 }}"
                    aria-controls="fund_description_short").fund-description-more
                    | Toon meer
                    em.mdi.mdi-chevron-down.icon-right

                button.button.button-text.button-xs(
                    ng-if="$dir.showMore && $dir.fund.description_short.length > 190" 
                    ng-click="$dir.showMore = false"
                    aria-expanded="{{ $dir.showMore && $dir.fund.description_short.length > 190 }}"
                    aria-controls="fund_description_short").fund-description-more 
                    | Toon minder
                    em.mdi.mdi-chevron-up.icon-right

            a.button.button-primary-outline.button-sm(
                target="_blank"
                ng-if="$dir.fund.external_link_url"
                ng-href="{{ $dir.fund.external_link_url }}")
                | {{ $dir.fund.external_link_text || 'Externe website bekijken' }}
                em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

        .fund-related-funds-block(ng-if="$dir.fund.children.length > 0")
            .fund-related-funds-description 
                | Als u deze regeling aanvraagt, kunt u ook direct andere regelingen aanvragen. 
                | Dit geldt voor de volgende lijst met regelingen:
            ul.fund-related-funds-list(ng-repeat="children in $dir.fund.children")
                li.fund-related-funds-list-item(ng-bind="children.name")

        .fund-related-funds-block.fund-related-funds-block-parent(ng-if="$dir.fund.parent")
            .fund-related-funds-description 
                | Deze regeling kunt u aanvragen door een aanvraag te doen voor de volgende regeling: 
            ul.fund-related-funds-list
                li.fund-related-funds-list-item(ng-bind="$dir.fund.parent.name")

    .fund-actions(ng-class="{expanded : $dir.showMoreRequestInfo}")
        .fund-request-block
            .fund-request-block-progress
                .fund-request-block-progress-title(ng-bind="$dir.progressStatusTitle")
                .fund-request-block-progress-bar
                    .fund-request-block-progress-bar-completed(style="width: {{ $dir.criteriaValidPercentage }}%")

            .fund-request-block-button(ng-if="!$dir.fund.is_external"): button.button.button-primary.button-sm(
                type="button"
                ng-disabled="!$dir.fund.allow_direct_requests"
                ng-click="$dir.applyFund($event, $dir.fund)")
                translate {{ $dir.fund.allow_direct_requests ? 'Direct aanvragen' : 'Niet beschikbaar' }} 
                em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

        .fund-totals-block
            .fund-totals-block-amount(ng-if="$dir.positiveAmount")
                .fund-totals-block-amount-description Totaal
                .fund-totals-block-amount-value {{ $dir.fund.amount_total_locale }}

            .fund-totals-block-show-details
                button.button.button-text.button-xs(
                    ng-if="!$dir.showMoreRequestInfo" 
                    ng-click="$dir.showMoreRequestInfo = true"
                    aria-expanded="{{ $dir.showMoreRequestInfo }}"
                    aria-controls="fund_request_details") 
                    | Toon meer
                    em.mdi.mdi-chevron-down.icon-right

                button.button.button-text.button-xs(
                    ng-if="$dir.showMoreRequestInfo" 
                    ng-click="$dir.showMoreRequestInfo = false"
                    aria-expanded="{{ $dir.showMoreRequestInfo }}"
                    aria-controls="fund_request_details") 
                    | Toon minder
                    em.mdi.mdi-chevron-up.icon-right

    .fund-pre-check-info-block(ng-if="$dir.showMoreRequestInfo"): .fund-pre-check-info-wrapper
        .fund-pre-check-info-col
            .fund-pre-check-info-col-title Voorwaarden
            .fund-pre-check-info-col-list
                .fund-pre-check-info-col-list-item(
                    ng-repeat="criterion in $dir.fund.criteria" 
                    ng-class="{valid: criterion.is_valid}") 

                    em.mdi.mdi-check-circle 
                    span(ng-bind="criterion.name")
                    | &nbsp;
                    span(ng-bind="criterion.value")  

            .fund-pre-check-info-col-totals
                .fund-pre-check-info-col-totals-title Totaal
                .fund-pre-check-info-col-totals-amount {{ $dir.fund.amount_total_locale  }}

