.card.card-collapsed
    //- The header
    .card-header(ng-class="($dir.enable && $dir.enable_all) ? '' : 'card-header-danger'"): .flex.flex-row
        //- Title
        .flex.flex-pad.flex-grow: .card-title
            em.mdi(ng-class="'mdi-' + $dir.header.icon")
            | {{ $dir.header.title }}

        //- Enable/Disable toggle
        .flex.flex-pad.flex-vertical.flex-center(ng-show="$dir.notification.editable && !$dir.editForm")
            control-toggle.form-toggle-danger(
                off="!$dir.enable_all"
                disabled="!$dir.enable_all"
                label="{{ !$dir.enable_all || !$dir.enable ? $dir.disabledNotes.disabled : '' }}"  
                ng-change="$dir.toggleSwitched()"
                ng-model="$dir.enable" form-id="{{ 'enable_' + $dir.type }}")

        //- Reset the template
        .flex.flex-pad.flex-end(ng-if="$dir.editForm")
            button(ng-click="$dir.resetToDefault()").button.button-danger.button-sm.button-flat
                em.mdi.mdi-refresh.icon-start
                | Opnieuw instellen

    //- The details
    .card-section(ng-class="($dir.enable && $dir.enable_all) ? '' : 'card-section-danger'"): form(ng-submit="$dir.editForm.submit()")
        //- Card actions
        .card-section-actions(ng-if="$dir.notification.editable && !$dir.editForm")
            //- Edit template
            button(type="button" ng-if="!$dir.editForm" ng-click="$dir.editTemplate()").button.button-primary.button-sm.button-flat
                em.mdi.mdi-pencil-outline.icon-start
                | Bewerken

        //- Template title
        .form-group
            label(for="{{ $dir.titleId }}").form-label Titel

            //- Title preview
            .card-title(
                ng-if="!$dir.editForm"
                ng-bind="$dir.template.title || 'Geen titel'")

            //- Title edit
            div(ng-if="$dir.editForm")
                input(
                    id="{{ $dir.titleId }}" 
                    ng-model="$dir.editForm.values.title"
                    maxlength="{{ $dir.type == 'push' ? 40 : 160 }}").form-control

                .form-hint(
                    ng-if="$dir.editForm" 
                    translate="system_notifications.hints.maxlen" 
                    translate-values="{attribute: 'titel', size: $dir.type == 'push' ? 40 : 140}")

                //- Title variables
                .editor-variables(ng-if="$dir.editForm")
                    .variables-list: button(
                        type="button"
                        ng-repeat="variable in $dir.variables"
                        ng-if="variable.types.includes('push')"
                        ng-bind="variable.label"
                        ng-click="$dir.addVariable('title', variable)").button.button-primary.button-flat.button-xs

                    .variables-hint Selecteer positie in de tekst en klik op de knoppen om de variabele toe te voegen.

        //- Template content
        .form-group
            label(for="{{ $dir.descriptionId }}").form-label Beschrijving

            //- Text content preview
            div(ng-if="$dir.type != 'mail'")
                //- Preview
                .card-text(
                    ng-if="!$dir.editForm && $dir.type === 'push'"
                    ng-bind="$dir.template.content || 'Geen beschrijving'")

                .card-text: div(
                    ng-if="!$dir.editForm && $dir.type === 'database'"
                    ng-repeat="description in (($dir.template.content || 'Geen beschrijving') | lines_to_array)"
                    ng-bind="description")

                //- Edit
                textarea(
                    ng-if="$dir.editForm" 
                    id="{{ $dir.descriptionId }}"
                    maxlength="{{ $dir.type == 'push' ? 170 : 400 }}"
                    rows="{{ $dir.type == 'push' ? 2 : 4 }}"
                    ng-model="$dir.editForm.values.content").form-control
                
                .form-hint(
                    ng-if="$dir.editForm" 
                    translate="system_notifications.hints.maxlen" 
                    translate-values="{attribute: 'beschrijving', size: $dir.type == 'push' ? 170 : 400}")

            //- Markdown content preview
            div(ng-if="$dir.type == 'mail'")
                //- Preview
                .block.block-mail_preview(ng-if="!$dir.editForm"): .mail_preview-wrapper: .mail_preview-inner: .mail_preview-body
                    .block.block-markdown.block-markdown-center(ng-bind-html="$dir.template.content_html_sce")
                    .mail_preview-footer

                //- Edit
                markdown(
                    ng-if="$dir.editForm &&  $dir.template"
                    editor-id="{{ $dir.descriptionId }}"
                    value="$dir.editForm.values.content_html" 
                    ng-model="$dir.editForm.values.content"
                    bind-editor="$dir.bindEditor(editor)"
                    allow-lists="false"
                    buttons="$dir.editorButtons")

                .form-hint(
                    ng-if="$dir.editForm" 
                    translate="system_notifications.hints.maxlen" 
                    translate-values="{attribute: 'beschrijving', size: 16384}")

            //- Content variables
            .editor-variables(ng-if="$dir.editForm")
                .variables-list: button.button.button-primary.button-flat.button-xs(
                    type="button"
                    ng-repeat="variable in $dir.variables"
                    ng-if="variable.types.includes($dir.type)"
                    ng-bind="variable.label"
                    ng-click="$dir.addVariable('description', variable)")

                .variables-hint Selecteer positie in de tekst en klik op de knoppen om de variabele toe te voegen.


        .form-group(ng-if="$dir.editForm")
            .button-group.flex-center
                button.button.button-primary(type="submit") Opslaan
                button.button.button-default(type="button" ng-click="$dir.cancelTemplateEdit()") Annuleren