.block.block-csv
    .csv-inner
        .csv-upload-btn(
            ng-show="csvParser.progress <= 1" 
            ng-click="csvParser.selectFile()")
            .csv-upload-icon: .mdi.mdi-upload
            .csv-upload-text
                | {{ "csv_upload.labels.upload" | translate  }}
                br
                span {{ "csv_upload.labels.swipe" | translate  }}

        .csv-upload-progress(
            ng-show="csvParser.progress >= 2" 
            ng-class="{done: csvParser.progress == 3}")
            .csv-upload-icon: .mdi(
                ng-class="{'mdi-loading': csvParser.progress == 2, 'mdi-check': csvParser.progress == 3}")
            progress-bar(progress="progressBar" status="progressStatus")

        .csv-upload-actions
            .csv-file(ng-if="csvParser.csvFile && csvParser.progress < 2")
                .block.block-file(ng-class="csvParser.isValid?'':'has-error'")
                    .file-error.mdi.mdi-close-circle
                    .file-name(ng-bind="csvParser.csvFile.name")
                    .file-size(ng-bind="csvParser.csvFile.size | file_size")
                    .file-remove.mdi.mdi-close(ng-click="reset()")

            .text-center(ng-show="csvParser.progress == 1 && csvParser.isValid")
                button(ng-click="csvParser.uploadToServer()").button.button-primary {{ "csv_upload.buttons.upload" | translate  }}

            .text-center(ng-show="csvParser.progress == 3")
                button(ng-click="reset()").button.button-primary {{ "csv_upload.labels.done" | translate  }}