.block.block-dashboard-switcher
    .switcher-wrapper: a(
        href="{{ $root.appConfigs.frontends.url_provider }}"
        ng-class="{'active': $root.appConfigs.panel_type == 'provider'}").switcher-item Aanbieder
    .switcher-wrapper: a(
        href="{{ $root.appConfigs.frontends.url_validator }}"
        ng-class="{'active': $root.appConfigs.panel_type == 'validator'}").switcher-item Beoordelaar
    .switcher-wrapper: a(
        href="{{ $root.appConfigs.frontends.url_sponsor }}"
        ng-class="{'active': $root.appConfigs.panel_type == 'sponsor'}").switcher-item Sponsor
