.card
    .card-header: .flex
        .flex.flex-grow: .card-title(ng-bind="($dir.blockTitle || 'History of log') + ' (' + $dir.logs.meta.total + ')'")

        .flex(ng-if="$dir.hideFilterForm"): .block.block-inline-filters
            .form: .form-group
                input(ng-model="$dir.filters.values.q" type="text" placeholder="{{ 'event_logs.labels.search' | i18n }}").form-control

        .flex(ng-if="!$dir.hideFilterForm"): .block.block-inline-filters
            .button.button-text(ng-if="$dir.filters.show" ng-click="$dir.resetFilters()")
                em.mdi.mdi-close.icon-start
                span(translate="event_logs.buttons.clear_filter")

            .form(ng-if="!$dir.filters.show"): .form-group
                input(ng-model="$dir.filters.values.q" type="text" placeholder="{{ 'event_logs.labels.search' | i18n }}").form-control

            .inline-filters-dropdown.pull-right(click-outside="$dir.hideFilters()")
                .inline-filters-dropdown-content(ng-show="$dir.filters.show")
                    .arrow-box.bg-dim: .arrow
                    .form
                        .form-group
                            form-label-toggle(label="{{ 'event_logs.labels.search' | i18n }}" is-active)
                            input(ng-model="$dir.filters.values.q" placeholder="{{ 'event_logs.labels.search' | i18n }}").form-control

                        .form-group
                            form-label-toggle(label="{{ 'event_logs.labels.entities' | i18n }}" is-active)
                            .form-offset
                                div(ng-repeat="loggable in $dir.loggables")
                                    label(for="checkbox_{{ loggable.key }}").checkbox.checkbox-narrow
                                        input(
                                            ng-click="$dir.selectLoggable(loggable.key)"
                                            id="checkbox_{{ loggable.key }}"
                                            type="checkbox"
                                            ng-checked="$dir.filters.values.loggable.indexOf(loggable.key) !== -1")
                                        .checkbox-label
                                            .checkbox-box: .mdi.mdi-check
                                            | {{ loggable.title }}

                .button.button-default.button-icon(ng-click="$dir.filters.show = !$dir.filters.show"): em.mdi.mdi-filter-outline

    .card-section(ng-if="$dir.logs.data.length > 0"): .card-block.card-block-table: .table-wrapper: table.table
        tr
            th(translate="event_logs.labels.date")
            th(ng-if="!$dir.hideEntity" translate="event_logs.labels.entity")
            th(translate="event_logs.labels.action")
            th(translate="event_logs.labels.author")
            th(translate="event_logs.labels.note")

        tr(ng-repeat="log in $dir.logs.data")
            td(ng-bind="log.created_at_locale").nowrap
            td(ng-if="!$dir.hideEntity" ng-bind="log.loggable").nowrap
            td(ng-bind-html="log.event")
            td(ng-bind="log.identity_email")
            td
                em.td-icon.mdi.mdi-information.block.block-tooltip-details.pull-left(
                    ng-if="log.note && (log.note != log.note_substr)"
                    ng-click="$dir.showTooltip($event, log)"
                    ng-class="log.showTooltip ? 'active' : ''")
                    .tooltip-content(ng-if="log.showTooltip" click-outside="$dir.hideTooltip($event, log)")
                        .tooltip-text(ng-bind="log.note" title="{{ log.note }}")
                    | &nbsp;

                div(ng-if="!log.note").text-muted Geen notitie
                div(ng-if="log.note" ng-bind="log.note_substr")

    //- Pagination
    .card-section(ng-if="$dir.logs.meta" ng-show="$dir.logs.meta.last_page > 1")
        paginator(meta="$dir.logs.meta" filters="$dir.filters.values" count-buttons="5" on-page-change="$dir.onPageChange(query)")

    //- Not found
    .card-section(ng-if="$dir.logs.meta.total == 0"): .block.block-empty.text-center
        .empty-title Geen logboeken gevonden