.card
    .card-section
        .card-section-actions
            div(ng-show="fundProvider.state == 'approved'")
                .tag.tag-success {{ "fund_card_provider_finances.status.accepted" | translate }}
            div(ng-show="fundProvider.state == 'declined'")
                .tag.tag-default {{ "fund_card_provider_finances.status.rejected" | translate }}
            div(ng-show="fundProvider.state == 'pending'")
                .tag.tag-warning {{ "fund_card_provider_finances.status.hold" | translate }}

        .card-block.card-block-provider
            .provider-img: img(ng-src="{{ fundProvider.organization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
            .provider-details
                span(ng-bind="fundProvider.organization.name").provider-title
                .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                    .card-block-listing-label {{ "fund_card_provider_finances.labels.mail" | translate }}
                    span.text-primary-light(ng-bind="fundProvider.organization.email")
        
        //-.card-block.card-block-listing
            .card-block-listing-label {{ "fund_card_provider_finances.labels.join" | translate }}
            span(
                ui-sref="funds-show(fundProvider.fund)"
                ng-bind="fundProvider.fund.name").text-primary-light
                
    .card-section.card-section-primary.text-center
        button(
            ng-click="toggleDetails('stats')"
            ).button.button-default
            em.mdi.mdi-poll.icon-start 
            | {{ "fund_card_provider_finances.buttons.view" | translate }}
        
        button(
            ng-click="toggleDetails('transactions')"
            ).button.button-primary.icon-start
            em.mdi.mdi-circle-multiple-outline.icon-start 
            | {{ "fund_card_provider_finances.buttons.transactions" | translate }}

    .block.block-charts(ng-show="fundProvider.showStatistics")
        .card-section
            .chart-header
                .chart-header-range
                    .chart-header-item(
                        ng-click="chartData.changeType('year')" 
                        ng-class="chartData.request.type=='year'?'active':''"
                        translate="fund_card_provider_finances.labels.year")
                    .chart-header-item(
                        ng-click="chartData.changeType('quarter')" 
                        ng-class="chartData.request.type=='quarter'?'active':''"
                        translate="fund_card_provider_finances.labels.quarter")
                    .chart-header-item(
                        ng-click="chartData.changeType('month')" 
                        ng-class="chartData.request.type=='month'?'active':''"
                        translate="fund_card_provider_finances.labels.month")
                    .chart-header-item(
                        ng-click="chartData.changeType('week')" 
                        ng-class="chartData.request.type=='week'?'active':''"
                        translate="fund_card_provider_finances.labels.week")
                
                .chart-header-title(ng-bind="chartData.stringTitle")
                .chart-header-actions.form: .flex-row 
                    .flex-col: .form-group: select(
                        ng-change="chartData.update()"
                        ng-options="productCategory.id as productCategory.name for productCategory in productCategories"
                        ng-model="chartData.request.product_category").form-control

                    .flex-col: span.button-group
                        .button.button-default(ng-click="chartData.decrease()" translate="fund_card_provider_finances.buttons.previous")
                        .button.button-default(ng-if="allowDataIncrement" ng-click="chartData.increase()" translate="fund_card_provider_finances.buttons.next")
            
            .chart-body: bar-chart(data="chartData.response.dates")
        
        .card-section
            .row.chart-row.chart-row-condensed
                .col.col-lg-3
                    .chart-control
                        .chart-label(i18n="fund_card_provider_finances.labels.share")
                        radial-chart(total="one" value="chartData.response.share_total" size="sm")

                .col.col-lg-3
                    .chart-control
                        .chart-label {{ "fund_card_provider_finances.labels.share" | translate }} ({{ chartData.stringTitle }})
                        radial-chart(total="one" value="chartData.response.share_in_range" size="sm")

                .col.col-lg-3
                    .chart-control
                        .chart-label {{ chartData.stringTitle }} {{ "fund_card_provider_finances.labels.usage" | translate }}
                        .chart-value
                            .chart-value_value(ng-bind="chartData.response.usage | currency_format")
                            .chart-value_label in {{ chartData.response.transactions }} {{ "fund_card_provider_finances.labels.transaction" | translate }}

                .col.col-lg-3
                    .chart-control
                        .chart-label(i18n="fund_card_provider_finances.labels.average")
                        .chart-value
                            .chart-value_value(ng-bind="chartData.response.avg_transaction | currency_format")

    .card-group(ng-show="fundProvider.showTransactions")
        .card-header: .row
            .arrow-box.border.bg-dim: .arrow
            .col.col-lg-6.col-xs-12: .card-title
                span(i18n="fund_card_provider_finances.buttons.transactions") 
                span(ng-bind="transactions.meta.total").span-count

            .block.block-inline-filters.col.col-lg-6.col-xs-12.text-right
                .button.button-text(ng-if="filters.show" ng-click="filters.reset(filters)")
                    em.mdi.mdi-close.icon-start
                    span(i18n="Wis filters")
                
                .inline-filters-dropdown.pull-right(click-outside="hideFilters()")
                    .inline-filters-dropdown-content(ng-show="filters.show")
                        .arrow-box.bg-dim: .arrow
                        .form
                            .form-group
                                form-label-toggle(label="{{ 'transactions.labels.amount' | i18n }}" is-active)
                                .row
                                    .col.col-lg-6
                                        input(
                                            ng-model="filters.values.amount_min" type="number" placeholder="{{ 'transactions.labels.amount_min' | i18n }}").form-control
                                    .col.col-lg-6
                                        input(
                                            ng-model="filters.values.amount_max" type="number" placeholder="{{ 'transactions.labels.amount_max' | i18n }}").form-control
                            .form-group
                                form-label-toggle(label="{{ 'transactions.labels.state' | i18n }}")
                                select(
                                    ng-options="state.key as state.name for state in states" 
                                    ng-model="filters.values.state").form-control
                            .form-group
                                form-label-toggle(label="{{ 'transactions.labels.from' | i18n }}")
                                datepicker(
                                    date-format="dd-MM-yyyy" 
                                    datepicker-mobile=""
                                    date-week-start-day="1").form-control
                                    input(ng-model="filters.values.from" type="text" placeholder="dd-MM-jjjj").form-control
                            .form-group
                                form-label-toggle(label="{{ 'transactions.labels.to' | i18n }}")
                                datepicker(
                                    date-format="dd-MM-yyyy" 
                                    datepicker-mobile="" 
                                    date-week-start-day="1").form-control
                                    input(ng-model="filters.values.to" type="text" placeholder="dd-MM-jjjj").form-control
                    
                    .button.button-default.button-icon(ng-click="filters.show = !filters.show"): em.mdi.mdi-filter-outline

        .card-section
            .card-block.card-block-table
                .table-wrapper
                    table.table
                        tr
                            th(i18n="fund_card_provider_finances.labels.price")
                            th(i18n="fund_card_provider_finances.labels.date")
                            th(i18n="fund_card_provider_finances.labels.status")
                        tr(
                            ng-repeat="transaction in transactions.data"
                            ng-click="showTransaction(transaction)")
                            td: a(ng-bind="transaction.amount | currency_format").text-primary-light
                            td(ng-bind="transaction.created_at_locale")
                            td(ng-bind="{pending: 'In afwachting', success : 'Voltooid'}[transaction.state]")
        
        .card-section: .table-pagination
            button(ng-click="exportList()" ng-disabled="transactions.meta.total == 0").button.button-primary.pull-right
                em.mdi.mdi-download.icon-start 
                span(translate="components.dropdown.export" translate-values="{ total: transactions.meta.total }")

        .card-section(ng-if="transactions" ng-show="transactions.meta.last_page > 1")
            paginator(meta="transactions.meta" filters="filters.values" count-buttons="5" on-page-change="onPageChange(query)")