.block.block-criteria-editor
    fund-criteria-editor-item(
        ng-repeat="criterion in $dir.criteria"
        record-types="$dir.recordTypes" 
        fund="$dir.fund" 
        is-editable="$dir.isEditable"
        organization="$dir.organization" 
        criterion="criterion" 
        on-save="$dir.updateOnEditFlag()"
        on-edit="$dir.updateOnEditFlag()"
        on-edit-cancel="$dir.updateOnEditFlag()"
        on-delete="$dir.onDelete(criterion)"
        validator-organizations="$dir.validatorOrganizations")

    .criteria-editor-actions
        .button.button-primary(ng-if="$dir.isEditable" ng-click="$dir.addCriteria()")
            em.mdi.mdi-plus-circle.icon-start
            | {{ 'components.fund_criteria_editor.buttons.add_criteria' | translate }}
        
        .button.button-primary.pull-right(
            ng-if="$dir.saveButton && !$dir.is_editing"
            ng-click="$dir.saveCriteria()")
            em.mdi.mdi-content-save.icon-start
            | {{ 'components.fund_criteria_editor.buttons.save' | translate }}
