.block.block-faq-editor
    .question-item(ng-repeat="question in $dir.faq")
        .question-title(ng-bind="question.title_hint")

        .question-actions
            .button.button-default(
                ng-if="question.is_editing"
                ng-click="$dir.questionEditCancel(question)")
                em.mdi.mdi-close.icon-start
                translate(translate="components.fund_faq_editor.item.buttons.cancel")

            .button.button-default(
                ng-if="!question.is_editing"
                ng-click="$dir.questionEdit(question)")
                em.mdi.mdi-pencil.icon-start
                translate(translate="components.fund_faq_editor.item.buttons.edit")
                
            .button.button-default(
                ng-click="$dir.removeQuestion($index)")
                em.mdi.mdi-trash-can-outline.icon-start
                translate(translate="components.fund_faq_editor.item.buttons.delete")

        div(ng-if="question.is_editing")
            .form-group
                label.form-label Title
                input(type="text" ng-model="question.title").form-control
                .form-error(ng-repeat="error in $dir.getErrorField('title', $parent.$index)" ng-bind="error")
            
            .form-group
                label.form-label Description
                markdown(
                    extended-options="true"
                    value="question.description_html"
                    ng-model="question.description")
                    .form-error(ng-repeat="error in $dir.getErrorField('description', $parent.$index)" ng-bind="error")

    .faq-editor-actions
        .button.button-primary(ng-click="$dir.addQuestion()")
            em.mdi.mdi-plus-circle.icon-start
            translate(translate="components.fund_faq_editor.buttons.add_question")
