.card(ng-class="{'card-outline' : fund.state == 'closed'}")
    .card-section
        .card-section-actions            
            button(
                ng-show="level == 'fundsAvailable' && fund.state != 'closed'"
                ng-click="providerApplyFund(fund)").button.button-primary 
                em.mdi.mdi-plus-circle 
                | {{ "fund_card_sponsor.buttons.join" | translate }}

            div(ng-show="level != 'fundsAvailable' && fund.state == 'active'")
                span(ng-if="level=='fundShow'" ng-click="changeState('closed')").card-section-action
                    em.mdi.mdi-close
                    | {{ "fund_card_sponsor.buttons.close" | translate }}
                span(ng-if="level=='fundShow'" ng-click="changeState('paused')").card-section-action
                    em.mdi.mdi-pause
                    | {{ "fund_card_sponsor.buttons.pause" | translate }}

                .tag.tag-success {{ "fund_card_sponsor.status.active" | translate }}

            div(ng-show="level != 'fundsAvailable' && fund.state == 'paused'")
                span(ng-if="level=='fundShow'" ng-click="changeState('closed')").card-section-action
                    em.mdi.mdi-close
                    | {{ "fund_card_sponsor.buttons.close" | translate }}
                span(ng-if="level=='fundShow'" ng-click="changeState('active')").card-section-action
                    em.mdi.mdi-play
                    | {{ "fund_card_sponsor.buttons.restart" | translate }}

                .tag.tag-warning {{ "fund_card_sponsor.status.paused" | translate }}
            span(ng-if="fund.state == 'closed'")
                span(ng-if="level=='fundShow'" ng-click="changeState('paused')").card-section-action
                    em.mdi.mdi-pause
                    | {{ "fund_card_sponsor.buttons.pause" | translate }} 
                span(ng-if="level=='fundShow'" ng-click="changeState('active')").card-section-action
                    em.mdi.mdi-play
                    | {{ "fund_card_sponsor.buttons.restart" | translate }}

                .tag.tag-default {{ "fund_card_sponsor.status.closed" | translate }}
        .card-block.card-block-fund
            .fund-img: img(ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}", alt="")
            a(ui-sref="funds-show({organization_id: fund.organization_id, fund_id: fund.id})" ng-bind="fund.name").fund-title
            br
            div(ng-bind="fund.organization.name").fund-organization
        .card-block.card-block-listing
            .card-block-listing-label {{ "fund_card_sponsor.labels.categories" | translate }}
            | {{ fundCategories.join(', ') }}
            small(ng-show="fundCategories.length == 0").text-muted.small {{ "fund_card_sponsor.labels.nocategories" | translate }}

    mixin keyvalue_item_horizontal(key, value)
        .keyvalue-item
            .keyvalue-key #{key}
            .keyvalue-value(ng-bind=value)

    mixin keyvalue_item_horizontal_col4(key, value)
        .col.col-sm-4
            .keyvalue-item
                .keyvalue-key=key
                .keyvalue-value=value

    .card-section.card-section-warning(ng-if="level == 'fundShow'")
        .card-block.card-block-keyvalue.card-block-keyvalue-horizontal
            .row
                .col.col-sm-12
                    +keyvalue_item_horizontal("Leveranciers", "{{ fund.providers_count }}")
                    +keyvalue_item_horizontal("Validatoren", "{{ fund.validators_count }}")
    
    mixin edit_buttons()
        button(
            ng-if="userCanEdit()"
            ui-sref="funds-edit({organization_id: fund.organization_id, fund_id: fund.id})"
            ).button.button-default
            em.mdi.mdi-settings  
            | {{ "fund_card_sponsor.labels.setting" | translate }}

        button(ng-if="fund.state != 'closed'" ng-click="topUpModal()").button.button-primary
            em.mdi.mdi-plus-circle  
            | {{ "fund_card_sponsor.buttons.add" | translate }}

    mixin stats()
        .card-block.card-block-keyvalue.card-block-keyvalue-horizontal
            +keyvalue_item_horizontal("Totaal budget", "'€ ' + fund.budget.total + ',-'")
            +keyvalue_item_horizontal("Gebruikt", "'€ ' + fund.budget.used + ',-'")


    .card-section.card-section-primary(ng-show="level != 'fundsAvailable' && fund.budget").hidden-md
        .row
            .col.col-lg-6.md-12(ng-if="fund.budget")
                +stats()

            .text-right.col(ng-class="!fund.budget ? 'col-lg-12' : 'col-lg-6'")
                +edit_buttons()

    .card-section.card-section-primary(ng-show="level != 'fundsAvailable' && fund.budget").visible-md
        +stats()
    .card-section.card-section-primary(ng-show="level != 'fundsAvailable' && fund.budget").visible-md
        +edit_buttons()