.card(ng-class="{'card-outline' : fund.state == 'closed'}")
    .card-section
        .card-section-actions            
            button(
                ng-show="level == 'fundsAvailable' && fund.state != 'closed'"
                ng-click="$dir.providerApplyFund(fund)").button.button-primary 
                em.mdi.mdi-plus-circle.icon-start
                translate(translate="fund_card_sponsor.buttons.join")

            div(ng-if="$dir.fund.organization | hasPerm:'manage_funds'")
                div(ng-if="level != 'fundsAvailable'")
                    div(ng-show="fund.state == 'active'")
                        span(ng-if="level=='fundShow'" ng-click="$dir.changeState('closed')").card-section-action
                            em.mdi.mdi-close
                            translate(translate="fund_card_sponsor.buttons.close")
                        span(ng-if="level=='fundShow'" ng-click="$dir.changeState('paused')").card-section-action
                            em.mdi.mdi-pause
                            translate(translate="fund_card_sponsor.buttons.pause")

                        .tag.tag-success(translate="fund_card_sponsor.status.active")

                    div(ng-show="fund.state == 'paused'")
                        span(ng-if="level=='fundShow'" ng-click="$dir.changeState('closed')").card-section-action
                            em.mdi.mdi-close
                            translate(translate="fund_card_sponsor.buttons.close")
                        span(ng-if="level=='fundShow'" ng-click="$dir.changeState('active')").card-section-action
                            em.mdi.mdi-play
                            translate(translate="fund_card_sponsor.buttons.restart")

                        .tag.tag-warning(translate="fund_card_sponsor.status.paused")

                span(ng-if="fund.state == 'closed'")
                    span(ng-if="level=='fundShow'" ng-click="$dir.changeState('paused')").card-section-action
                        em.mdi.mdi-pause 
                        translate(translate="fund_card_sponsor.buttons.pause")
                    span(ng-if="level=='fundShow'" ng-click="$dir.changeState('active')").card-section-action
                        em.mdi.mdi-play
                        translate(translate="fund_card_sponsor.buttons.restart")

                    .tag.tag-default(translate="fund_card_sponsor.status.closed")

        .card-block.card-block-fund
            .fund-img: img(ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}", alt="")
            div(ng-bind="fund.name").fund-title
            br
            div(ng-bind="$dir.fund.organization.name").fund-organization

    mixin keyvalue_item_horizontal(key, value, _class = '')
        .keyvalue-item(class=_class)
            .keyvalue-key #{key}
            .keyvalue-value(ng-bind=value)

    .card-section.card-section-warning(ng-if="fund.state != 'waiting' && $dir.fund.organization | hasPerm:'view_finances'")
        .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
            a.col.col-lg-2.keyvalue-item(ui-sref="employees({organization_id: $dir.fund.organization_id})")
                .keyvalue-key(translate="fund_card_sponsor.labels.your_employees")
                .keyvalue-value
                    span(ng-bind="fund.sponsor_count")
                    span.icon.mdi.mdi-account-multiple-plus

            .col.col-lg-3.keyvalue-item.flex-col(ng-class="{'keyvalue-item-disabled': !$dir.canInviteProviders}" ng-click="$dir.inviteProvider(fund)")
                .keyvalue-key(translate="fund_card_sponsor.labels.providers")
                .keyvalue-value
                    span(ng-bind="$dir.providersDescription")
                    span.icon.mdi.mdi-account-multiple-plus(ng-if="$dir.canInviteProviders")

            .col.col-lg-2.keyvalue-item.flex-col(ng-class="{'keyvalue-item-disabled': !$dir.canAccessFund}" ng-click="$dir.goToCSVValiationPage()")
                .keyvalue-key(translate="fund_card_sponsor.labels.applicants")
                .keyvalue-value
                    span(ng-bind="fund.requester_count")
                    span.icon.mdi.mdi-account-multiple-plus(ng-if="$dir.canAccessFund")   

    mixin edit_buttons()
        button(
            ng-if="($dir.fund.organization | hasPerm:'manage_funds') && fund.state == 'waiting'" 
            ng-click="$dir.deleteFund(fund)").button.button-danger
            em.mdi.mdi-delete
            translate(translate="fund_card_sponsor.buttons.delete")

        button( 
            ng-if="($dir.fund.organization | hasPerm:'manage_funds')"
            ui-sref="funds-edit(fund)"
            id="edit_fund").button.button-default
            em.mdi.mdi-settings.icon-start
            translate(translate='fund_card_sponsor.labels.setting')

        button(
            ng-if="fund.key && fund.state != 'closed'" 
            ng-click="$dir.topUpModal()").button.button-primary
            em.mdi.mdi-plus-circle.icon-start  
            translate(translate='fund_card_sponsor.buttons.add')

    mixin stats(display=true)
        .card-block.card-block-keyvalue.card-block-keyvalue-horizontal(ng-if=display).row
            .col.col-lg-4.keyvalue-item.keyvalue-item-narrow
                .keyvalue-key Gestort
                .keyvalue-value
                    span(ng-bind="fund.budget.total | currency_format")

            .col.col-lg-4.keyvalue-item.keyvalue-item-narrow
                .keyvalue-key Gebruikt
                .keyvalue-value
                    span(ng-bind="fund.budget.used | currency_format")

            .col.col-lg-4.keyvalue-item.keyvalue-item-narrow
                .keyvalue-key Resterend
                .keyvalue-value
                    span(ng-bind="fund.budget.total - fund.budget.used | currency_format")

    .hidden-md.card-section.card-section-primary(
        ng-show="level != 'fundsAvailable' && ($dir.fund.organization | hasPerm:['view_finances','manage_funds']:false)"): .row
        .col.col-lg-6.md-12(ng-if="$dir.fund.organization | hasPerm:'view_finances'")
            +stats("fund.state != 'waiting'")
        
        .col.md-12(
            ng-if="$dir.fund.organization | hasPerm:'manage_funds'" 
            ng-class="($dir.fund.organization | hasPerm:'view_finances') ? 'col-lg-6' : 'col-lg-12'").text-right: +edit_buttons()

    .visible-md
        .card-section.card-section-primary(ng-show="level != 'fundsAvailable' && ($dir.fund.organization | hasPerm:'view_finances')"): +stats()
        .card-section.card-section-primary(ng-show="level != 'fundsAvailable' && ($dir.fund.organization | hasPerm:'manage_funds')"): +edit_buttons()
