.criterion-item
    .criterion-section
        .criterion-title(
            ng-class="{'criterion-title-large' : !$dir.criterion.is_editing && $dir.criterion.external_validators.length == 0}"
            ng-bind="criterion.title || $dir.criterion.header")
        .criterion-actions
            .button.button-default(
                ng-if="!$dir.criterion.is_editing"
                ng-click="$dir.criterionEdit($dir.criterion)")
                em.mdi.mdi-pencil.icon-start
                translate(translate="components.fund_criteria_editor_item.buttons.edit")

            .button.button-default(
                ng-if="$dir.criterion.is_editing"
                ng-click="$dir.cancelCriterion($dir.criterion)")
                em.mdi.mdi-close.icon-start
                translate(translate="components.fund_criteria_editor_item.buttons.cancel")
    
        .criterion-organizations-list(ng-if="!$dir.criterion.is_editing")
            .row(ng-if="$dir.criterion.validators_models.length > 0"): .col.col-lg-12: label.form-label Organisaties die mogen beoordelen
            .criterion-organization(ng-repeat="validator in $dir.criterion.validators_models").active
                .criterion-organization-icon: .mdi.mdi-shield-check(ng-class="{'text-muted' : !validator.accepted}")
                .criterion-organization-name(ng-bind="validator.validator_organization.name")

        .flex-row(ng-if="$dir.criterion.is_editing")
            .flex-col.flex-col-2.form-group
                label.form-label Eigenschap
                .form-offset: select-control(
                    prop="key"
                    ng-disabled="!$dir.isEditable || !(organization | hasPerm:'manage_funds')"
                    ng-model="$dir.criterion.record_type_key" 
                    options="$dir.recordTypes").form-control
                .form-error(ng-repeat="error in $dir.errors['criteria.0.record_type_key']" ng-bind="error")
            
            .flex-col.flex-col-2.form-group
                label.form-label Verhouding
                .form-offset: select-control(
                    prop="key"
                    ng-disabled="!$dir.isEditable || !(organization | hasPerm:'manage_funds')"
                    ng-model="$dir.criterion.operator" 
                    options="$dir.operators").form-control
                .form-error(ng-repeat="error in $dir.errors['criteria.0.operator']" ng-bind="error")
            
            .flex-col.flex-col-2.form-group
                label.form-label Waarde
                input(
                    type="text" 
                    ng-model="$dir.criterion.value" 
                    ng-disabled="!$dir.isEditable || !(organization | hasPerm:'manage_funds')").form-control
                .form-error(ng-repeat="error in $dir.errors['criteria.0.value']" ng-bind="error")
            
            .flex-col.form-group
                label.form-label &nbsp;
                
                .button.button-primary.button-icon.pull-left(
                    ng-click="$dir.editDescription($dir.criterion)")
                    em.mdi.mdi-comment-text.icon-start
                
                .button.button-default.button-icon.pull-left(
                    ng-if="$dir.isEditable" 
                    ng-click="$dir.removeCriterion()"
                    ng-disabled="!$dir.isEditable || !(organization | hasPerm:'manage_funds')")
                    em.mdi.mdi-close.icon-start

        .flex-row(ng-if="$dir.criterion.is_editing")
            .flex-col.flex-col-2.form-group
                label(
                    for='criterion_{{ $dir.criterion.id }}'
                    ng-disabled="!$dir.isEditable || !(organization | hasPerm:'manage_funds')").checkbox.checkbox-narrow
                    input(
                        type="checkbox" 
                        ng-model="$dir.criterion.show_attachment" 
                        id='criterion_{{ $dir.criterion.id }}'
                        ng-disabled="!$dir.isEditable || !(organization | hasPerm:'manage_funds')")
                    .checkbox-label 
                        .checkbox-box: .mdi.mdi-check
                        translate(translate="components.fund_criteria_editor_item.buttons.allow_attachments")

    .criterion-section(ng-if="$dir.criterion.is_editing && ($dir.criterion.show_external_validators_form || $dir.criterion.external_validators.length > 0)")
        .criterion-organizations-root
            .criterion-subtitle Organisaties die mogen beoordelen
            .flex-row(ng-if="$dir.criterion.external_validators.length > 0")
                .flex-col: .criterion-organizations(ng-if="$dir.criterion.validators_list[0].length > 0")
                    .criterion-organization(ng-repeat="validator in $dir.criterion.validators_list[0]")
                        .criterion-organization-icon: .mdi.mdi-shield-check(ng-class="{'text-muted' : !validator.accepted}")
                        .criterion-organization-name(ng-bind="validator.validator_organization.name")
                        .criterion-organization-actions(
                            ng-click="$dir.removeExternalValidator($dir.criterion, validator.id)"
                            ): .mdi.mdi-close
                
                .flex-col: .criterion-organizations(ng-if="$dir.criterion.validators_list[1].length > 0")
                    .criterion-organization(ng-repeat="validator in $dir.criterion.validators_list[1]")
                        .criterion-organization-icon: .mdi.mdi-shield-check(ng-class="{'text-muted' : !validator.accepted}")
                        .criterion-organization-name(ng-bind="validator.validator_organization.name")
                        .criterion-organization-actions(
                            ng-click="$dir.removeExternalValidator($dir.criterion, validator.id)"
                            ): .mdi.mdi-close

        div(ng-if="$dir.criterion.show_external_validators_form")
            .flex-row
                .flex-col: .flex-row
                    .flex-col.flex-grow: .form-group
                        label.form-label Selecteer organisatie
                        select(
                            ng-options="validator.id as validator.validator_organization.name for validator in $dir.criterion.validators_available"
                            ng-model="$dir.criterion.new_validator").form-control

                    .flex-col: .form-group
                        label.form-label &nbsp;
                        .button-group
                            .button.button-primary(
                                ng-class="{'button-disabled' : !$dir.criterion.new_validator}"
                                ng-click="$dir.pushExternalValidator($dir.criterion)") Toevoegen
                            .button.button-default(ng-click="$dir.cancelAddExternalValidator($dir.criterion)") Annuleren
                .flex-col

    .criterion-section(ng-if="$dir.criterion.is_editing && (!$dir.criterion.show_external_validators_form && ($dir.criterion.validators_available.length > 1))")
        .button.button-primary(
            ng-if="!$dir.criterion.show_external_validators_form && ($dir.criterion.validators_available.length > 1)"
            ng-click="$dir.addExternalValidator($dir.criterion)")
            em.mdi.mdi-plus-circle.icon-start
            translate(translate="components.fund_criteria_editor_item.buttons.add_external_validator")