mixin form_values()
    //- Make confirmed email required
    .form-group.form-group-last.tooltipped
        input-checkbox-control(
            name="email_required_{{ $dir.fund.id }}" 
            ng-model="$dir.form.values.email_required" 
            label="Only people with confirmed email can make fund requests")
        .form-error(ng-repeat="error in $dir.form.errors.email_required" ng-bind="error")

        tooltip(
            text="'By disabling this option, you will allow users without email to make fund requests which are validated through validator dashboard. You will not be able to send questions to the user through the dashboard email notifications functionality. Also the users without email will not receive any notifications related to fund-request status update by email.'")

    //- Ask for contact information 
    .form-group.form-group-last(ng-if="!$dir.form.values.email_required").tooltipped
        input-checkbox-control(
            name="contact_info_enabled_{{ $dir.fund.id }}" 
            ng-model="$dir.form.values.contact_info_enabled" 
            label="Ask people for contact information")
        .form-error(ng-repeat="error in $dir.form.errors.contact_info_enabled" ng-bind="error")
        tooltip(text="'By enabling this option, the users without email, will be asked for contact information at the last step of fund request form.'")

    //- Make contact information required
    .form-group.form-group-last(ng-if="!$dir.form.values.email_required && $dir.form.values.contact_info_enabled").tooltipped
        input-checkbox-control(
            name="contact_info_required_{{ $dir.fund.id }}" 
            ng-model="$dir.form.values.contact_info_required" 
            label="Make contact information field a required")
        .form-error(ng-repeat="error in $dir.form.errors.contact_info_required" ng-bind="error")
        tooltip(text="'By enabling this option, the contact form at the last step will become mandatory to fill.'")

    //- Use custom contact information message
    .form-group.form-group-last(ng-if="!$dir.form.values.email_required && $dir.form.values.contact_info_enabled").tooltipped
        input-checkbox-control(
            name="contact_info_message_custom_{{ $dir.fund.id }}" 
            ng-model="$dir.form.values.contact_info_message_custom" 
            label="Use custom contact information request message")
        .form-error(ng-repeat="error in $dir.form.errors.contact_info_message_custom" ng-bind="error")

    //- Custom contact info control
    .form-group.form-group-last(ng-if="!$dir.form.values.email_required && $dir.form.values.contact_info_enabled").tooltipped
        textarea.form-control.r-n(
            ng-disabled="true"
            ng-if="!$dir.form.values.contact_info_message_custom"
            ng-bind="$dir.form.values.contact_info_message_default")

        textarea.form-control.r-n(
            ng-if="$dir.form.values.contact_info_message_custom"
            placeholder="Please provide your contact info request message..."
            ng-model="$dir.form.values.contact_info_message_text")
        .form-error(ng-repeat="error in $dir.form.errors.contact_info_message_text" ng-bind="error")

.form
    form(ng-if="$dir.inline" ng-submit="$dir.form.submit()").form
        +form_values()

        .row: .form-actions.col.col-lg-8.col-md-12 
            button(type="submit").button.button-primary
                .mdi.mdi-content-save-outline.icon-start
                | Save

    .form(ng-if="!$dir.inline"): +form_values()