.card
    .card-section
        .card-section-actions 
            .tag(
                ng-if="providerInvitation.state"
                ng-class="providerInvitation.state == 'pending' && !providerInvitation.expired ? 'tag-warning' : providerInvitation.expired ? 'tag-default' : 'tag-success'"
                translate="{{ 'fund_card_provider.status.' + (providerInvitation.expired ? 'expired' : providerInvitation.state) }}")
            .tag.tag-default(
                ng-if="!providerInvitation.state"
                translate="fund_card_provider.labels.closed")

        .card-block.card-block-fund.card-block-fund-margin-bottom
            .fund-img: img(ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}", alt="")
            .fund-title(ng-if="fund.organization | hasPerm:['manage_funds']" ng-bind="fund.name")
            .fund-title(ng-if="!(fund.organization | hasPerm:['manage_funds'])" ng-bind="fund.name")
            br
            div(ng-bind="fund.organization.name").fund-organization

        .card-block.card-block-listing
            .row.card-block-listing-row
                .col.col-md-5
                    .card-block-listing-item
                        .card-block-listing-label(translate="fund_card_provider.labels.date")
                        span(ng-bind="fund.start_date_locale + ' / ' + fund.end_date_locale")

                .col.col-md-7
                    .card-block-listing-item
                        .card-block-listing-label(translate="fund_card_provider.labels.max_amount" ng-if="fund.fund_amount")
                        span(ng-bind="fund.fund_amount | currency_format" ng-if="fund.fund_amount") 

                    .button.button-primary.pull-right(
                        ng-if="fund.state != 'closed' && providerInvitation.state == 'pending' && !providerInvitation.expired"
                        ng-click="acceptInvitation($event)") 
                            em.mdi.mdi-check-circle.icon-start
                            span(translate="fund_card_provider.labels.accept_invitation")