.block.block-criteria-editor
    fund-criteria-editor-item(
        ng-repeat="criterion in $dir.criteria"
        record-types="$dir.recordTypes" 
        fund="$dir.fund" 
        is-editable="$dir.isEditable"
        organization="$dir.organization" 
        criterion="criterion" 
        on-save="$dir.updateOnEditFlag()"
        on-edit="$dir.updateOnEditFlag()"
        on-edit-cancel="$dir.updateOnEditFlag()"
        on-delete="$dir.onDelete(criterion)"
        validator-organizations="$dir.validatorOrganizations"
        register-editor="$dir.registerItem(childRef)"
        unregister-editor="$dir.unregisterItem(childRef)")

    .criteria-editor-actions
        .button.button-primary(
            ng-if="$dir.isEditable && ($ctrl.organization | hasPerm:'manage_funds')" 
            ng-click="$dir.addCriteria()")
            em.mdi.mdi-plus-circle.icon-start
            translate(translate="components.fund_criteria_editor.buttons.add_criteria")
        
        .button.button-primary.pull-right( ng-if="$dir.saveButton && ($dir.is_editing || $dir.deletedItemsCount > 0)" ng-click="$dir.saveCriteria()")
            em.mdi.mdi-content-save.icon-start
            translate(translate="components.fund_criteria_editor.buttons.save")
