.block
    .block.block-label-tabs(ng-if="$dir.organization.validator_records_edit_enabled")
        .label-tab(
            ng-click="$dir.shownType = 'history'"
            ng-class="{active: $dir.shownType == 'history'}"
            translate="validation_request_details.labels.history").active

        .label-tab(
            ng-click="$dir.shownType = 'files'"
            ng-class="{active: $dir.shownType == 'files'}"
            translate="validation_request_details.labels.files")

        .label-tab(
            ng-click="$dir.shownType = 'clarifications'"
            ng-class="{active: $dir.shownType == 'clarifications'}"
            translate="validation_request_details.labels.clarification_requests")

    fund-request-record-history(
        ng-if="$dir.organization.validator_records_edit_enabled && $dir.shownType == 'history' && $dir.fundRequestRecord.history.length > 0"
        fund-request="$dir.fundRequest"
        fund-request-record="$dir.fundRequestRecord"
        organization="$dir.organization")

    fund-request-record-attachments(
        ng-if="!$dir.organization.validator_records_edit_enabled || ($dir.shownType == 'files' && $dir.fundRequestRecord.files.length > 0)"
        fund-request="$dir.fundRequest"
        fund-request-record="$dir.fundRequestRecord"
        organization="$dir.organization")

    fund-request-record-clarifications(
        ng-if="!$dir.organization.validator_records_edit_enabled || ($dir.shownType == 'clarifications' && $dir.fundRequestRecord.clarifications.length > 0)"
        fund-request="$dir.fundRequest"
        fund-request-record="$dir.fundRequestRecord"
        organization="$dir.organization")
