.card(ng-class="{'card-outline' : fund.state == 'closed'}")
    .card-section
        .card-section-actions(ng-if="fund.state != 'closed'")
            div(ng-show="providerFund.dismissed")
                .tag.tag-default(translate="fund_card_provider.status.rejected")

            div(ng-show="!providerFund.allow_budget && !providerFund.allow_products && !providerFund.allow_some_products && !providerFund.dismissed")
                .tag.tag-warning(translate="fund_card_provider.status.hold")

        .card-block.card-block-fund.card-block-fund-margin-bottom
            .fund-img: img(ng-src="{{ media.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
            .fund-title(ng-if="fund.organization | hasPerm:['manage_funds']" ng-bind="fund.name")
            .fund-title(ng-if="!(fund.organization | hasPerm:['manage_funds'])" ng-bind="fund.name")
            .fund-closed(translate="fund_card_provider.labels.closed" ng-if="fund.state == 'closed'")
            br
            div(ng-bind="fund.organization.name").fund-organization

        .card-block.card-block-listing
            .row.card-block-listing-row
                .col.col-md-8: .row
                    .col.col-md-6: .card-block-listing-item
                        .card-block-listing-label(translate="fund_card_provider.labels.date")
                        span(ng-bind="fund.start_date_locale + ' / ' + fund.end_date_locale")

                    .col.col-md-6: .card-block-listing-item(ng-if="fund.type == 'budget'")
                        .card-block-listing-label(translate="fund_card_provider.labels.max_amount" ng-if="fund.fund_amount")
                        span(ng-bind="fund.fund_amount | currency_format" ng-if="fund.fund_amount")

                //- subsidy fund
                .col.col-md-4(ng-if="fund.type == 'subsidies'"): .button-group.flex-end
                    .button.button-default(ng-click="viewOffers()")
                        em.mdi.mdi-eye-outline.icon-start
                        translate(translate="fund_card_provider.labels.view_products")

                    //- Cancel fund application
                    .button.button-default(
                        ng-if="providerFund.cancelable"
                        ng-click="cancelApplicationRequest(providerFund)")
                        em.mdi.mdi-close-circle-outline.icon-start
                        translate(translate="fund_card_provider.labels.cancel_application")

            //- budget fund
            .row.card-block-listing-row(ng-if="fund.type == 'budget'")
                .col.col-md-8: .row
                    .col.col-md-6: .card-block-listing-item
                        .card-block-listing-label(translate="fund_card_provider.labels.allow_budget")
                        .tag.tag-sm(
                            ng-if="providerFund.state == 'accepted'"
                            ng-class="'tag-' + (providerFund.allow_budget ? 'success' : 'warning')" 
                            ng-bind="providerFund.allow_budget ? 'Ja' : 'Nee'")      

                        .tag.tag-warning.tag-sm(ng-if="providerFund.state == 'pending'") Nee
                        .tag.tag-danger.tag-sm(ng-if="providerFund.state == 'rejected'") Nee

                    .col.col-md-6: .card-block-listing-item
                        .card-block-listing-label(
                            translate="fund_card_provider.labels.{{ shownProductType }}")

                        .tag.tag-sm(
                            ng-if="providerFund.state == 'accepted'"
                            ng-class="'tag-' + (providerFund[shownProductType] ? 'success' : 'warning')" 
                            ng-bind="providerFund[shownProductType] ? 'Ja' : 'Nee'")

                        .tag.tag-warning.tag-sm(ng-if="providerFund.state == 'pending'") Nee
                        .tag.tag-danger.tag-sm(ng-if="providerFund.state == 'rejected'") Nee

                .col.col-md-4: .button-group.flex-end
                    .button.button-default(
                        ng-if="fund.state != 'closed' && providerFund.allow_some_products"
                        ng-click="viewOffers()")
                        em.mdi.mdi-eye-outline.icon-start
                        translate(translate="fund_card_provider.labels.view_products")

                    //- Cancel fund application
                    .button.button-default(
                        ng-if="providerFund.cancelable"
                        ng-click="cancelApplicationRequest(providerFund)")
                        em.mdi.mdi-close-circle-outline.icon-start
                        translate(translate="fund_card_provider.labels.cancel_application")
