//- .active.update
.notifications(ng-class="{active: $dir.shown}")
    div(click-outside="$dir.onClickOutside()")
        .flex.notifications-icons
            a.notifications-icon.notifications-icon-help(
                ng-if="$dir.helpLink"
                href="{{ $dir.helpLink }}"
                target="_blank"): .mdi.mdi-help

            .notifications-icon(
                ng-if="$dir.notifications.meta.total_unseen == 0"
                ng-click="$dir.toggle()"): .mdi.mdi-bell-outline

            .notifications-icon.notifications-icon-updates(
                ng-if="$dir.notifications.meta.total_unseen > 0"
                ng-click="$dir.toggle()"): .mdi.mdi-bell
        
        .notifications-menu(ng-if="$dir.shown"): .notifications-menu-inner
            .arrow-box: .arrow
            .notifications-menu-header 
                | Nieuwe notificaties
                span(ng-if="$dir.notifications.meta.total_unseen > 0") 
                    | ({{$dir.notifications.meta.total_unseen}} nieuw)
                .notifications-menu-header-link(ng-click="$dir.showAll()") 
                    | Bekijk alles
                    em.mdi.mdi-arrow-right 
            
            .notifications-menu-body
                .notifications-menu-item(ng-repeat="notification in $dir.notifications.data" ng-class="{'notifications-menu-item-new': !notification.seen}")
                    .notifications-menu-item-details
                        .notifications-menu-item-title(ng-bind="notification.title")
                        .notifications-menu-item-text(ng-bind="notification.description")
                        .notifications-menu-item-date
                            em.mdi.mdi-clock-outline
                            | {{ notification.created_at_locale }}
                .notifications-menu-empty(ng-if="$dir.notifications.data.length == 0") Geen nieuwe notificaties