aside.app.app-sidebar(ng-if="$root.activeOrganization")
    .sidebar-nav
        mixin nav_item_icon(icon)
            .sidebar-nav-item-icon 
                img(src="./assets/img/menu/icon-" + icon + ".svg")
                img(src="./assets/img/menu/icon-" + icon + "-hover.svg").hover
                img(src="./assets/img/menu/icon-" + icon + "-active.svg").active

        mixin nav_item(name, icon, sref, srefParams, ngif, id)
            a(  
                ui-sref=(sref + (srefParams ? ("(" + srefParams + ")") : '')) 
                ui-sref-active="active"
                ng-if=ngif
                id=id
                ).sidebar-nav-item
                .sidebar-nav-item-arrow: .mdi.mdi-menu-right
                +nav_item_icon(icon)
                | #{name} 

        .sidebar-section-title(translate="menu.organizational")

        +nav_item(
            "Fondsen", "my_funds", 'organization-funds', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["manage_funds","view_finances","view_funds"]:false',
            'funds')

        if (!qdt_c.platform.env_data.hide_voucher_generators)
            +nav_item(
                "Vouchers", "vouchers", 'vouchers', 
                '{organization_id: $root.activeOrganization.id}',
                '$root.activeOrganization | hasPerm:["manage_vouchers"]',
                'vouchers')

            +nav_item(
                "Aanbiedingsvouchers", "product_voucher", 'product-vouchers', 
                '{organization_id: $root.activeOrganization.id}',
                '$root.activeOrganization | hasPerm:["manage_vouchers"]',
                'product_vouchers')

        +nav_item(
            "Medewerkers", "list", 'employees', 
            '{organization_id: $root.activeOrganization.id}',
            '$root.activeOrganization | hasPerm:["manage_employees"]',
            'employees')

        +nav_item(
            "Aanbieders", "people", 'sponsor-provider-organizations', 
            '{organization_id: $root.activeOrganization.id, fund_id: null}',
            '$root.activeOrganization | hasPerm:["manage_providers"]',
            'providers')

        +nav_item(
            "Aanvragers", "file_csv", 'csv-validation', false,
            '$root.activeOrganization | hasPerm:["validate_records"]',
            'requesters')
        
        +nav_item(
            "Beoordelaars", "validators_shortlist", 'external-validators', 
            '{organization_id: $root.activeOrganization.id}',
            '$root.activeOrganization | hasPerm:["manage_organization"]')

        +nav_item(
            "Bank integraties", "bank-connections", 'bank-connections', 
            '{organization_id: $root.activeOrganization.id}',
            '$root.activeOrganization | hasPerm:["manage_bank_connections"]')
        
        .sidebar-section-title(
            ng-if="$root.activeOrganization | hasPerm:['view_finances']:false" 
            translate="menu.financial")
        
        +nav_item(
            "Overzicht", "financial_dashboard_overview", 'financial-dashboard-overview', 
            '{organization_id: $root.activeOrganization.id, state: "overview"}',
            '$root.activeOrganization | hasPerm:["view_finances"]',
            'financial_dashboard')

        +nav_item(
            "Statistieken", "financial_dashboard", 'financial-dashboard', 
            '{organization_id: $root.activeOrganization.id}',
            '$root.activeOrganization | hasPerm:["view_finances"]',
            'financial_dashboard')

        +nav_item(
            "Transacties", "transactions", 'transactions', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["view_finances"]',
            'transactions')

        +nav_item(
            'History of log', 'organization-logs', 'organization-logs',
            '{organization_id: $root.activeOrganization.id}',
            'true',
            'organization-logs')

        .sidebar-section-title(
            ng-if="$root.activeOrganization | hasPerm:['manage_implementation', 'manage_implementation_cms']:false" 
            translate="menu.implementation")
        
        +nav_item(
            "Webshops", "implementation", 'implementations', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["manage_implementation", "manage_implementation_cms"]:false')
        
        +nav_item(
            "Systeemberichten", "system_notifications", 'implementation-notifications', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["manage_implementation_notifications"]:false')

        .sidebar-section-title(ng-if="$root.activeOrganization" translate="menu.personal")

        +nav_item('Feedback', 'productboard', 'productboard')
