aside.app.app-sidebar
    .sidebar-nav
        mixin nav_item_icon(icon)
            .sidebar-nav-item-icon 
                img(src="./assets/img/menu/icon-" + icon + ".svg")
                img(src="./assets/img/menu/icon-" + icon + "-hover.svg").hover
                img(src="./assets/img/menu/icon-" + icon + "-active.svg").active

        mixin nav_item(name, icon, sref, srefParams, ngif, id)
            a(  
                ui-sref=(sref + (srefParams ? ("(" + srefParams + ")") : '')) 
                ui-sref-active="active"
                ng-if=ngif
                id=id).sidebar-nav-item
                .sidebar-nav-item-arrow: .mdi.mdi-menu-right
                +nav_item_icon(icon)
                | #{name} 
        
        +nav_item(
            "Vestigingen", "offices", 'offices', 
            '{organization_id: $root.activeOrganization.id}', 
<<<<<<< HEAD
            '$root.activeOrganization.id',
            'offices')
            
        +nav_item(
            "Transacties", "transactions", 'transactions', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["view_finances"]',
            'transactions')
        +nav_item(
            "Fondsen", "funds", 'provider-funds', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["manage_provider_funds"]',
            'funds')
        +nav_item(
            "Aanbiedingen", "products", 'products', 
            '{organization_id: $root.activeOrganization.id}', 
            '($root.activeOrganization | hasPerm:["manage_products"]) && $root.appConfigs.features.organizations.products.list',
            'products')
        +nav_item(
            "Medewerkers", "list", 'employees', 
            '{organization_id: $root.activeOrganization.id}',
            '$root.activeOrganization | hasPerm:["manage_employees"]',
            'employees')
        | &nbsp;
=======
            '$root.activeOrganization.id')

        +nav_item(
            "Transacties", "transactions", 'transactions', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["view_finances"]')

        +nav_item(
            "Fondsen", "funds", 'provider-funds', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["manage_provider_funds"]')

        +nav_item(
            "Aanbiedingen", "products", 'products', 
            '{organization_id: $root.activeOrganization.id}', 
            '($root.activeOrganization | hasPerm:["manage_products"]) && $root.appConfigs.features.organizations.products.list')

        +nav_item(
            "Medewerkers", "list", 'employees', 
            '{organization_id: $root.activeOrganization.id}',
            '$root.activeOrganization | hasPerm:["manage_employees"]')

        .sidebar-nav-devider(ng-if="$root.activeOrganization")

        +nav_item('Email instellingen', 'emails', 'identity-emails')
        +nav_item('Sessies', 'sessions', 'security-sessions', '{}', '$root.appConfigs.sessions')
        +nav_item('Notificaties', 'notifications', 'preferences-notifications')
>>>>>>> develop
