aside.app.app-sidebar
    .sidebar-nav
        mixin nav_item_icon(icon)
            .sidebar-nav-item-icon 
                img(src="./assets/img/menu/icon-" + icon + ".svg")
                img(src="./assets/img/menu/icon-" + icon + "-hover.svg").hover
                img(src="./assets/img/menu/icon-" + icon + "-active.svg").active

        mixin nav_item(name, icon, sref, srefParams, ngif, id, dusk)
            a(  
                ui-sref=(sref + (srefParams ? ("(" + srefParams + ")") : '')) 
                ui-sref-active="active"
                ng-if=ngif
                dusk=dusk
                id=id).sidebar-nav-item
                .sidebar-nav-item-arrow: .mdi.mdi-menu-right
                +nav_item_icon(icon)
                | #{name} 

        .sidebar-section-title(translate="menu.organizational")

        +nav_item(
            "Overzicht", "provider-overview", 'provider-overview', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["manage_employees"]',
            'provider-overview')

        +nav_item(
            "Vestigingen", "offices", 'offices', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["manage_offices"]',
            'offices')

        +nav_item(
            "Transacties", "transactions", 'transactions', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["view_finances"]',
            'transactions')

        +nav_item(
            "Fondsen", "funds", 'provider-funds', 
            '{organization_id: $root.activeOrganization.id}', 
            '$root.activeOrganization | hasPerm:["manage_provider_funds"]',
            'funds')

        +nav_item(
            "Aanbod", "products", 'products', 
            '{organization_id: $root.activeOrganization.id}', 
            '($root.activeOrganization | hasPerm:["manage_products"]) && $root.appConfigs.features.organizations.products.list',
            'products')

        +nav_item(
            "Reserveringen", "reservations", 'reservations', 
            '{organization_id: $root.activeOrganization.id}', 
            '($root.activeOrganization | hasPerm:["scan_vouchers"]) && $root.appConfigs.features.organizations.products.list',
            'reservations',
            'reservationsPage')

        +nav_item(
            "Medewerkers", "list", 'employees', 
            '{organization_id: $root.activeOrganization.id}',
            '$root.activeOrganization | hasPerm:["manage_employees"]',
            'employees')