.block.block-banner-picker(ng-style="{'background-image': 'url(' + thumbnail || './assets/img/placeholders/photo-selector.svg' + ')'}")
    .picker-overlay(
        ng-show="templateData.overlay_enabled"
        ng-class="{'picker-overlay-pattern' : templateData.overlay_type !== 'color'}"
        ng-style="{'background-image': 'url(\"' + (templateData.overlay_type !== 'color' ? '/assets/img/banner-patterns/' + templateData.overlay_type + '.svg' : '') + '\")', opacity: templateData.overlay_opacity / 100}")

    .picker-dark: .flex
        .flex.flex-grow
            .checkbox.checkbox-narrow
                input(type="checkbox" id="auto_text_color" ng-model="templateData.auto_text_color")
                label(for="auto_text_color").checkbox-label
                    .checkbox-box: em.mdi.mdi-check-bold
                    .flex.flex-grow Auto tekstkleur

            .checkbox.checkbox-narrow
                input(type="checkbox" id="overlay_enabled" ng-model="templateData.overlay_enabled")
                label(for="overlay_enabled").checkbox-label
                    .checkbox-box: em.mdi.mdi-check-bold
                    .flex.flex-grow Gebruik een overlay

        .picker-select(ng-if="!templateData.auto_text_color")
            label(for="headerTextColor").picker-select-label Tekstkleur:
            select(
                id="headerTextColor"
                ng-model="templateData.header_text_color" 
                ng-options="colorType.value as colorType.label for colorType in templateData.headerTextColors").picker-select-input

        .picker-select(ng-if="templateData.overlay_enabled")
            label(for="overlayPattern").picker-select-label Patroon:
            select(
                id="overlayPattern"
                ng-model="templateData.overlay_type" 
                ng-options="pattern.value as pattern.label for pattern in templateData.patterns").picker-select-input

        .picker-select(ng-if="templateData.overlay_enabled")
            label(for="overlayOpacity").picker-select-label Transparantie:
            select(
                id="overlayOpacity"
                ng-model="templateData.overlay_opacity" 
                ng-options="opacityOption.value as opacityOption.label for opacityOption in templateData.opacityOptions").picker-select-input

    .picker-content
        .flex-row: .flex-col
            .mdi.mdi-image-area.picker-icon
            .picker-description(
                ng-class="['picker-description-' + (templateData.auto_text_color ? (templateData.media.is_dark ? 'bright' : 'dark') : (templateData.header_text_color))]")
                span(ng-if="!templateData.mediaLoading") Upload hoofdfoto
                span(ng-if="templateData.mediaLoading"): .mdi.mdi-loading.mdi-spin
            .button.button-default(ng-click="selectFile($event)") Kies foto

//- .block.block-photo-selector
    .photo-img: img(ng-click="selectFile($event)" ng-src="{{ thumbnail || './assets/img/placeholders/photo-selector.svg' }}", alt="")
    .photo-details
        .photo-label(ng-if="!label" translate="photo_selector.labels.image")
        .photo-label(ng-if="label" ng-bind="label" )
        .photo-label(ng-if="labelTranslate" translate="{{ labelTranslate }}")
        .button.button-primary-outline.button-sm(ng-click="selectFile($event)") Afbeelding uploaden
        .photo-description(ng-if="description" ng-bind="description")
        .photo-description(ng-if="descriptionTranslate" translate="{{ descriptionTranslate }}")