div
    .card(
        ng-if="prevalidations.length > 0").form
        .card-header: .row
            .col.col-sm-8.col-xs-12: .card-title {{ "prevalidated_table.header.title" | translate }}
            .col.col-sm-4.col-xs-12: .form: input(ng-model="filter.query" type="text" placeholder="Zoeken").form-control
        .card-section: .card-block.card-block-table: .table-wrapper
            table.table
                tr
                    th {{ "prevalidated_table.labels.code" | translate }}
                    th(ng-repeat="record in rows[0].records" ng-if="record.key.indexOf('_eligible') == -1" ng-bind="typesByKey[record.key]")
                    th.text-right {{ "prevalidated_table.status.active" | translate }}
                tr(ng-repeat="row in rows")
                    td(ng-bind="row.uid")
                    td(ng-repeat="record in row.records"  ng-if="record.key.indexOf('_eligible') == -1" ng-bind="record.value")
                    td.text-right: .tag.tag-sm(
                        ng-class="[row.state == 'pending' ? 'tag-default' : 'tag-success']"
                        ng-bind="row.state == 'pending' ? 'Nee' : 'Ja'")

        .card-section: .table-pagination
            .table-pagination-counter(ng-bind="rows.length + ' resultaten'")
            button(ng-click="exportList()").button.button-primary.pull-right
                em.mdi.mdi-download  
                | {{ "prevalidated_table.buttons.export" | translate }}
            //- .table-pagination-navigation
                button(disabled).button.button-default Prev
                button.button.button-default 1
                button.button.button-default 2
                button.button.button-primary 3
                button(disabled).button.button-default Next
        //- .card-section.text-right: .table-pagination
            .table-pagination-navigation
                button.button.button-default
                    em.mdi.mdi-upload 
                    | Import
                button.button.button-default
                    em.mdi.mdi-download  
                    | Export
                button.button.button-default
                    .mdi.mdi-delete  
                    | Delete
    //empty-block(
        ng-if="prevalidations.length == 0" 
        text="'Je hebt momenteel geen voor ingestelde eigenschappen'")