div
    .card(
        ng-if="prevalidations.length > 0").form
        .card-header: .row
            .col.col-sm-8.col-xs-12: .card-title Prevalidations
            .col.col-sm-4.col-xs-12: .form: input(ng-model="filter.query" type="text" placeholder="Search").form-control
        .card-section: .card-block.card-block-table: .table-wrapper
            table.table
                tr
                    th Code
                    th(ng-repeat="record in rows[0].records" ng-bind="typesByKey[record.key]")
                    th.text-right Activated
                tr(ng-repeat="row in rows")
                    td(ng-bind="row.uid")
                    td(ng-repeat="record in row.records" ng-bind="record.value")
                    td.text-right: .tag.tag-sm(
                        ng-class="[row.state == 'pending' ? 'tag-default' : 'tag-success']"
                        ng-bind="row.state == 'pending' ? 'No' : 'Yes'")

        .card-section: .table-pagination
            .table-pagination-counter(ng-bind="rows.length + ' results'")
            button(ng-click="exportList()").button.button-primary.pull-right
                em.mdi.mdi-download  
                | Export
            // .table-pagination-navigation
                button(disabled).button.button-default Prev
                button.button.button-default 1
                button.button.button-default 2
                button.button.button-primary 3
                button(disabled).button.button-default Next
        // .card-section.text-right: .table-pagination
            .table-pagination-navigation
                button.button.button-default
                    em.mdi.mdi-upload 
                    | Import
                button.button.button-default
                    em.mdi.mdi-download  
                    | Export
                button.button.button-default
                    .mdi.mdi-delete  
                    | Delete
    empty-block(
        ng-if="prevalidations.length == 0" 
        text="'Sorry, you have no prevalidated records yet.'")