div
    .card(
        ng-if="prevalidations").form
        .card-header: .row
            .col.col-sm-8.col-xs-12: .card-title(translate="prevalidated_table.header.title")
            .col.col-sm-4.col-xs-12.text-right
                button.button.button-text(ng-if="showFilters" ng-click="resetFilters(filter)")
                    em.mdi.mdi-close
                    | {{ "Wis filters" | i18n }}
                button.button.button-primary(ng-click="showFilters = !showFilters")
                    em.mdi.mdi-filter
                    | {{ "prevalidated_table.labels.filter" | i18n }}
        .card-section(ng-if="showFilters"): .card-block
            .card-filters: .form: .row
                .form-group.col.col-sm-12.col-xs-12
                    label.form-label(i18n="prevalidated_table.labels.search")
                    input(ng-model="filter.q" type="text" placeholder="{{ prevalidated_table.labels.search }}").form-control
                .form-group.col.col-sm-6.col-xs-12
                    label.form-label(i18n="prevalidated_table.status.active")
                    select(
                        ng-options="state.key as state.name for state in states" 
                        ng-model="filter.state").form-control
                .form-group.col.col-sm-6.col-xs-12
                    label.form-label(i18n="prevalidated_table.labels.exported")
                    select(
                        ng-options="state.key as state.name for state in statesExported" 
                        ng-model="filter.exported").form-control
                .form-group.col.col-sm-6.col-xs-12
                    label.form-label(i18n="prevalidated_table.labels.from")
                    datepicker(date-format="yyyy-MM-dd" datepicker-mobile="").form-control
                        input(ng-model="filter.from" type="text" placeholder="dd.mm.jjjj").form-control
                .form-group.col.col-sm-6.col-xs-12
                    label.form-label(i18n="prevalidated_table.labels.to")
                    datepicker(date-format="yyyy-MM-dd" datepicker-mobile="").form-control
                        input(ng-model="filter.to" type="text" placeholder="dd.mm.jjjj").form-control
                .form-group.col.col-sm-12.col-xs-12
                .form-group.col.col-sm-12.col-xs-12
                    button(ng-click="exportList(filter)").button.button-primary
                        em.mdi.mdi-download  
                        span(translate="prevalidated_table.buttons.export_selected")

        .card-section: .card-block.card-block-table: .table-wrapper
            table.table
                tr
                    th(translate="prevalidated_table.labels.code")
                    th(ng-repeat="record in prevalidations.data[0].records" ng-bind="typesByKey[record.key]")
                    th.text-right(translate="prevalidated_table.status.active")
                    th.text-right(translate="prevalidated_table.labels.exported")
                tr(ng-repeat="row in prevalidations.data")
                    td(ng-bind="row.uid")
                    td(ng-repeat="record in row.records" ng-bind="record.value")
                    td.text-right: .tag.tag-sm(
                        ng-class="[row.state == 'pending' ? 'tag-default' : 'tag-success']"
                        ng-bind="row.state == 'pending' ? 'Nee' : 'Ja'")
                    td.text-right: .tag.tag-sm(
                        ng-class="[!row.exported ? 'tag-default' : 'tag-success']"
                        ng-bind="!row.exported ? 'Nee' : 'Ja'")

        .card-section(ng-show="prevalidations.meta.last_page > 1")
            paginator(meta="prevalidations.meta" filters="filter" count-buttons="5" on-page-change="onPageChange(query)")
        
        //- .card-section(ng-show="prevalidations.meta.last_page > 1")
            paginator-loader(meta="prevalidations.meta" filters="filter" on-reset="onReset(query)" on-load-more="onLoadMore(query)")

        .card-section: .table-pagination.text-right
            button(ng-click="downloadSample()").button.button-default
                em.mdi.mdi-file-table-outline  
                span(i18n="Download upload voorbeeld")
            button(ng-click="downloadAll()").button.button-primary
                em.mdi.mdi-download  
                span(i18n="prevalidated_table.buttons.export")
