.col.col-lg-9.col-lg-12
    .form-group.form-group-inline(ng-repeat="(index, categories) in $ctrl.categoriesHierarchy  track by $index")
        label.form-label(ng-if="index == 0" translate="product_edit.labels.category")
        label.form-label(ng-if="index > 0") &nbsp;

        .form-offset: select-control(
            prop="id"
            options="categories"
            ng-model="$ctrl.categoriesValues[index]"
            ng-change="$ctrl.changeCategory(index)"
            ng-disabled="disabled"
            placeholder="Status").form-control

        .form-error(
            ng-if="index == $ctrl.categoriesHierarchy.length - 1"
            ng-repeat="error in errors" ng-bind="error")