.col.col-lg-9.col-md-12
    .row: .col.col-lg-9.col-md-12: pre {{ $ctrl.productType }}
    .form-group.form-group-inline
        .form-label Type
        .form-offset
            label.radio.radio-inline
                input(
                    type="radio"
                    ng-click="$ctrl.changeType('product')"
                    ng-checked="$ctrl.productType == 'product'")
                .radio-label 
                    .radio-circle
                    | Product
            label.radio.radio-inline
                input(
                    type="radio"
                    ng-click="$ctrl.changeType('service')"
                    ng-checked="$ctrl.productType == 'service'")
                .radio-label 
                    .radio-circle
                    | Service

    pre {{ $ctrl.categoriesValues | pretty_json }}
    pre {{ ngModel | pretty_json }}

    .form-group.form-group-inline(ng-repeat="(index, categories) in $ctrl.categoriesHierarchy  track by $index")
        label.form-label(ng-if="index == 0" translate="product_edit.labels.category")
        label.form-label(ng-if="index > 0") &nbsp;
        
        //- ng-model="$ctrl.form.values.product_category_id"
        select(
            ng-options="productCategory.id as productCategory.name for productCategory in categories" 
            ng-model="$ctrl.categoriesValues[index]"
            ng-change="$ctrl.changeCategory(index)"
            placeholder="Status").form-control
        //- ui-select(ng-model="$ctrl.categoriesValues[index]" ng-change="$ctrl.changeCategory(index)")
            ui-select-match {{ $select.selected.name }}
            ui-select-choices(repeat="item in (categories | filter: $select.search) track by item.id")
                span(ng-bind="item.name")
        .form-error(
            ng-if="index == $ctrl.categoriesHierarchy.length - 1"
            ng-repeat="error in errors" ng-bind="error")