.form: .row
    .form-group.col.col-lg-6.col-xs-12
        label.form-label(translate="sign_up_provider.filters.labels.organizations")
        select(
            ng-options="fundOrganization.id as fundOrganization.name for fundOrganization in fundOrganizations" 
            ng-model="fundOrganization"
            ng-change="filterFunds()").form-control 

    .form-group.col.col-lg-6.col-xs-12
        label.form-label(translate="sign_up_provider.filters.labels.tags")
        select(
            ng-options="fundLabel.key as fundLabel.name for fundLabel in fundLabels" 
            ng-model="fundLabel"
            ng-change="filterFunds()").form-control