.modal.modal-md.modal-animated.modal-loading(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")

    //- Voucher form
    .modal-window: form.form(ng-submit="$ctrl.form.submit()")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" role="button")
        .modal-header Bewerk aanbieder
        .modal-body.modal-body-visible
            .modal-section
                .modal-text(ng-if="$ctrl.description" ng-bind="$ctrl.description")

                .form-group
                    label.form-label.form-label-required Aanbieder
                    input(ng-model="$ctrl.form.values.provider_name").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.provider_name" ng-bind="error")

                .form-group
                    label.form-label.form-label-required Categorie
                    select-control(
                        search="false" 
                        prop="id" 
                        ng-model="$ctrl.form.values.reimbursement_category_id" 
                        options="$ctrl.reimbursement_categories").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.category_name" ng-bind="error")
                
                .form-group
                    button.button.button-primary(type="button" ng-click="$ctrl.manageCategories()") Edit categories

        .modal-footer.text-center
            button.button.button-default(type="button" ng-click="$ctrl.close()") Annuleren
            button.button.button-primary(type="submit") Bevestigen