- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.block.block-sign_up.block-sign_up-fixed
    .block-wrapper
        //- Setup 2FA
        .sign_up-pane(ng-if="$ctrl.step == 'setup'" ng-show="!$ctrl.hidePane")
            .sign_up-pane-body
                .sign_up-pane-heading.text-strong Setup Two Factor Authentication
                .sign_up-pane-text Since you are an employee of an organization which requires 2FA in order to use the system you have to configure Two Factor authentication, please select one of the providers bellow.
            
            .sign_up-pane-body
                .sign_up-pane-text: .sign_up-pane-heading Please select an option
                .sign_up-options
                    .sign_up-option(
                        ng-repeat="provider_type in $ctrl.provider_types" 
                        ng-click="$ctrl.auth2FA(provider_type.type)")

                        .sign_up-option-media: img(
                            ng-src="{{ '" + src_prefix + "./assets/img/icon-2fa-' + provider_type.type + '.svg' }}").sign_up-option-media-img

                        .sign_up-option-details
                            .sign_up-option-title(ng-bind="provider_type.title")
                            .sign_up-option-description(ng-bind="provider_type.subtitle")
                
                auth-2-f-a-info-box

            .sign_up-pane-body.text-center: .landing-style
                .button.button-primary(ng-click="$root.signOut()") Logout

        //- 2FA confirmation
        .sign_up-pane(ng-if="$ctrl.step == 'auth'" ng-show="!$ctrl.hidePane")
            .sign_up-pane-body
                .sign_up-pane-heading.text-strong Tweefactorauthenticatie
            
            .sign_up-pane-body
                .sign_up-pane-text: .sign_up-pane-heading Kies een optie
                .sign_up-options
                    .sign_up-option(
                        ng-repeat="provider_type in $ctrl.provider_types" 
                        ng-click="$ctrl.auth2FA(provider_type.type, true)")

                        .sign_up-option-media: img(
                            ng-src="{{ '" + src_prefix + "./assets/img/icon-2fa-' + provider_type.type + '.svg' }}").sign_up-option-media-img

                        .sign_up-option-details
                            .sign_up-option-title(ng-bind="provider_type.title")
                            .sign_up-option-description(ng-bind="provider_type.subtitle")

                auth-2-f-a-info-box

            .sign_up-pane-body.text-center: .landing-style
                .button.button-primary(ng-click="$root.signOut()") Uitloggen

