.app.app-container
    menu
    section.app.app-content
        .card: .card-section.info-section: .flex-row
            .flex-col.icon
                include ../../../resources/platform-general/assets/img/svg/bi-connection-icon.svg

            .flex-col
                .title BI-Integratie
                p Lorem ipsum dolor sit amet consectetur. Ultrices phasellus enim interdum feugiat vel.
                    | Pellentesque fames nec sit at. Nulla bibendum nulla nisl arcu blandit auctor tortor.
                    | Libero tristique gravida lorem ac tempor condimentum sem. Morbi egestas nisl ac quisque sapien.
                    | Magna nulla vestibulum dignissim quis. Enim vel tempus lobortis accumsan morbi arcu pulvinar.
                    | Nibh mattis amet vitae iaculis arcu. Purus tempor neque molestie id. Senectus sit cum ac arcu venenatis urna aliquet mattis id.

                ul
                    li Diam habitant tristique sed laoreet nullam blandit tincidunt lorem rutrum.
                    li Enim sit quam nisl sit interdum urna neque quam.
                    li Nec elementum ut ut enim consectetur nullam nunc sem lectus.
                    li Sit feugiat augue facilisi arcu lorem sapien suspendisse.


        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header: .card-title(translate="bi_connection.title")

            .card-section.card-section-primary
                .form-group.form-group-inline(ng-class="{'has-button-inline': !$ctrl.connection}")
                    label(translate="bi_connection.labels.auth_type").form-label
                    .form-offset
                        .flex-row
                            .flex-col.flex-grow
                                .flex-row
                                    .flex-col.flex-grow
                                        select-control(
                                            prop="key"
                                            search="false"
                                            ng-model="$ctrl.form.values.auth_type"
                                            ng-change="$ctrl.buildUrl()"
                                            options="$ctrl.authTypes").form-control

                                    .flex-col(ng-if="!$ctrl.connection")
                                        .button.button-default.button-icon.pull-left.form-control-button(
                                            ng-click="$ctrl.showInfoBlock = !$ctrl.showInfoBlock"
                                            ng-class="{active: $ctrl.showInfoBlock}")
                                            em.mdi.mdi-information

                                .info-block.info-block-primary(ng-if="!$ctrl.connection && $ctrl.showInfoBlock"): .flex-row
                                    .flex-col.icon: em.mdi.mdi-information

                                    .flex-col
                                        p Lorem ipsum dolor sit amet consectetur. Ultrices phasellus enim interdum feugiat vel.
                                            | Pellentesque fames nec sit at. Nulla bibendum nulla nisl arcu blandit auctor tortor.

                                        ul
                                            li Diam habitant tristique sed laoreet nullam blandit tincidunt lorem rutrum.
                                            li Enim sit quam nisl sit interdum urna neque quam.

                            .flex-col
                                .button.button-default.button-icon-svg.pull-left.invisible
                                    include ../../../resources/platform-general/assets/img/svg/copy.svg

                div(ng-if="$ctrl.connection")
                    .form-group.form-group-inline
                        label(translate="bi_connection.labels.url").form-label
                        .form-offset
                            .flex-row
                                .flex-col.flex-grow
                                    input(ng-value="$ctrl.apiUrl" type="text" readonly).form-control.dashed
                                    .separator
                                .flex-col
                                    .button.button-default.pull-left.button-icon-svg(ng-click="$ctrl.copyToClipboard($ctrl.apiUrl)")
                                        include ../../../resources/platform-general/assets/img/svg/copy.svg

                    .form-group.form-group-inline(ng-if="$ctrl.form.values.auth_type === 'header'")
                        label(translate="bi_connection.labels.header_name").form-label
                        .form-offset
                            .flex-row
                                .flex-col.flex-grow
                                    input(ng-value="$ctrl.headerKey" type="text" readonly).form-control.dashed

                                .flex-col
                                    .button.button-default.pull-left.button-icon-svg(ng-click="$ctrl.copyToClipboard($ctrl.headerKey)")
                                        include ../../../resources/platform-general/assets/img/svg/copy.svg

                    .form-group.form-group-inline
                        label(translate="bi_connection.labels.{{ $ctrl.form.values.auth_type }}_key").form-label
                        .form-offset
                            .flex-row
                                .flex-col.flex-grow
                                    input(ng-value="$ctrl.connection.token" type="text" readonly).form-control.dashed

                                .flex-col
                                    .button.button-default.pull-left.button-icon-svg(ng-click="$ctrl.copyToClipboard($ctrl.connection.token)")
                                        include ../../../resources/platform-general/assets/img/svg/copy.svg

                    .form-group.form-group-inline
                        label.form-label
                        .form-offset
                            button(type="button" ng-click="$ctrl.recreateToken()").button.button-default.button-sm
                                .mdi.mdi-refresh.icon-start
                                translate(translate="bi_connection.buttons.generate_new_key")

                    .info-block: .flex-row
                        .flex-col.icon: em.mdi.mdi-information

                        .flex-col
                            .title Header for information

                            p(ng-if="$ctrl.form.values.auth_type === 'header'")
                                | Lorem ipsum dolor sit amet consectetur montes ultricies a ac ipsum
                                | turpis integer in semper elit aenean pharetra ullamcorper.

                            p(ng-if="$ctrl.form.values.auth_type === 'parameter'")
                                | Lorem ipsum dolor sit amet consectetur montes ultricies a ac ipsum
                                | turpis integer in semper elit aenean pharetra ullamcorper.

            .card-section: .text-center
                button(
                    type="button"
                    ui-sref="organizations"
                    i18n="bi_connection.buttons.cancel" id="cancel").button.button-default

                button(
                    ng-disabled="$ctrl.form.values.auth_type === $ctrl.connection.auth_type"
                    type="submit"
                    i18n="bi_connection.buttons.submit").button.button-primary