.app.app-container
    menu
    section.app.app-content
        .card: .card-section: .block.block-bi-info
            .bi-info-icon: include ../../../resources/platform-general/assets/img/svg/bi-connection-icon.svg

            .bi-info-content: .block.block-markdown
                h4 Verbind uw BI-tools om toegang te krijgen tot uitgebreide statistische gegevens
                p Met ons krachtige platform kunt u naadloos uw favoriete Business Intelligence (BI) tools
                    | integreren en toegang krijgen tot een schat aan waardevolle statistische gegevens. Door een
                    | verbinding tot stand te brengen tussen uw BI-tool en ons platform, kunt u moeiteloos de
                    | benodigde informatie ophalen en analyseren om op basis van data gedreven beslissingen te
                    | nemen.
                h4 Wat u krijgt
                p Door de opgegeven URL als uw gegevensbron in te stellen, ontgrendelt u een uitgebreid
                    | scala aan statistische gegevens van ons platform. Ons systeem zal reageren op uw vragen
                    | met actuele en nauwkeurige informatie die is afgestemd op uw specifieke vereisten.

        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header: .card-title(translate="bi_connection.title")

            .card-section.card-section-primary
                //- Auth type
                .form-group.form-group-inline
                    label(translate="bi_connection.labels.auth_type").form-label

                    .form-offset: .flex-row
                        .flex-col.flex-grow
                            .form-group-info
                                .form-group-info-control: select-control(
                                    prop="key"
                                    search="false"
                                    ng-model="$ctrl.form.values.bi_connection_auth_type"
                                    ng-change="$ctrl.updateUrl()"
                                    options="$ctrl.authTypes").form-control

                                .form-group-info-button: .button.button-default.button-icon.pull-left(
                                    ng-click="$ctrl.showInfoBlock = !$ctrl.showInfoBlock"
                                    ng-class="{active: $ctrl.showInfoBlock}")
                                    em.mdi.mdi-information

                            .block.block-info-box.block-info-box-primary(ng-if="$ctrl.showInfoBlock")
                                .info-box-icon.mdi.mdi-information

                                .info-box-content: .block.block-markdown
                                    h4 Kiezen van de Authentificatie Token Instelling
                                    p 
                                        | Bij het instellen van de authentificatie token voor toegang tot de
                                        | statistische gegevens van ons platform, heeft u twee opties: URL-parameter of header.

                                    ul
                                        li URL-parameter: Kies deze optie als uw BI-tool tokens ondersteunt als URL-parameters. Voeg de token toe als een parameter in de URL.
                                        li Header: Kies deze optie als uw BI-tool tokens via headers ondersteunt. Voeg de token toe als een header in uw verzoeken.

                        .flex-col: .button.button-default.invisible: em.mdi.mdi-content-copy

                //- Details
                div(
                    ng-if="($ctrl.organization.bi_connection_auth_type !== 'disabled' || $ctrl.organization.bi_connection_token)"
                    ng-show="$ctrl.form.values.bi_connection_auth_type !== 'disabled'")

                    //- Api url
                    .form-group.form-group-inline
                        label(translate="bi_connection.labels.url").form-label
                        .form-offset: .flex-row
                            .flex-col.flex-grow: input(ng-value="$ctrl.apiUrl" type="text" readonly).form-control.form-control-dashed
                            .flex-col: .button.button-default(ng-click="$ctrl.copyToClipboard($ctrl.apiUrl)"): em.mdi.mdi-content-copy

                    //- Header
                    .form-group.form-group-inline(ng-if="$ctrl.form.values.bi_connection_auth_type === 'header'")
                        label(translate="bi_connection.labels.header_name").form-label
                        .form-offset: .flex-row
                            .flex-col.flex-grow: input(ng-value="$ctrl.headerKey" type="text" readonly).form-control.form-control-dashed
                            .flex-col: .button.button-default(ng-click="$ctrl.copyToClipboard($ctrl.headerKey)"): em.mdi.mdi-content-copy

                    //- Token
                    .form-group.form-group-inline
                        label(translate="bi_connection.labels.{{ $ctrl.form.values.bi_connection_auth_type }}_key").form-label
                        .form-offset: .flex-row
                            .flex-col.flex-grow: input(ng-value="$ctrl.organization.bi_connection_token" type="text" readonly).form-control.form-control-dashed
                            .flex-col: .button.button-default(ng-click="$ctrl.copyToClipboard($ctrl.organization.bi_connection_token)"): em.mdi.mdi-content-copy

                    //- Reset token
                    .form-group.form-group-inline
                        label.form-label
                        .form-offset: button(type="button" ng-click="$ctrl.resetToken()").button.button-default.button-sm
                            .mdi.mdi-refresh.icon-start
                            translate(translate="bi_connection.buttons.generate_new_key")

                    //- Info box (header/parameter)
                    .form-group.form-group-inline
                        label.form-label &nbsp;

                        .form-offset: .block.block-info-box.block-info-box-default.block-info-box-dashed
                            .info-box-icon.mdi.mdi-information

                            .info-box-content(ng-if="$ctrl.form.values.bi_connection_auth_type === 'header'"): .block.block-markdown
                                h4 Hoe te verbinden
                                ul
                                    li Open uw voorkeurs-BI-tool en zoek de instellingen of configuratie van de gegevensbron.
                                    li Voeg een nieuwe gegevensbron of verbinding toe en selecteer de optie om verbinding te maken met een externe URL.
                                    li Voer de bovenstaande URL in.
                                    li Voeg de authentificatietoken toe als een header in uw verzoeken om te authenticeren met een header.

                            .info-box-content(ng-if="$ctrl.form.values.bi_connection_auth_type === 'parameter'"): .block.block-markdown
                                h4 Hoe te verbinden
                                ul
                                    li Open uw voorkeurs-BI-tool en zoek de instellingen of configuratie van de gegevensbron.
                                    li Voeg een nieuwe gegevensbron of verbinding toe en selecteer de optie om verbinding te maken met een externe URL.
                                    li Voer de hierboven verstrekte URL in.

            .card-section: .button-group.flex-center
                //- Cancel
                button(
                    type="button"
                    ui-sref="organizations"
                    i18n="bi_connection.buttons.cancel" 
                    id="cancel").button.button-default

                //- Submit
                button(
                    ng-disabled="$ctrl.form.values.bi_connection_auth_type === $ctrl.organization.bi_connection_auth_type"
                    type="submit"
                    i18n="bi_connection.buttons.submit").button.button-primary