.app.app-container
    menu
    section.app.app-content
        .card-heading(ng-bind="'csv_validation.header.title' | translate")
        fund-selector(funds="$ctrl.funds" on-fund-select="$ctrl.onFundSelect")  
    
        csv-upload(
            ng-if="$ctrl.fund && $ctrl.fund.state != 'closed'" 
            fund="$ctrl.fund" 
            record-types="$ctrl.recordTypes")
        
        prevalidated-table(
            ng-if="$ctrl.fund" 
            fund="$ctrl.fund" 
            record-types="$ctrl.recordTypes")
        
        block-empty( 
            ng-if="$ctrl.funds.length == 0" 
            text="U bent geen validator voor een fonds dat actief is om aanvragers aan toe te voegen.")
