.app.app-container
    menu
    section.app.app-content
        event-logs(
            ng-if="$ctrl.filters"
            organization="$ctrl.organization" 
            filter-values="$ctrl.filters" 
            hide-filter-form="false"
            pagination-per-page-key="{{ $ctrl.paginationPerPageKey }}")