.app.app-container
    menu
    section.app.app-content
        .card
            .card-header: .flex
                .flex.flex-grow: .card-title
                    span(translate="external_validators.header.title")
                    | &nbsp;
                    span(ng-bind="$ctrl.validatorOrganizations.meta.total").span-count

                .flex: .block.block-inline-filters
                    .form(ng-if="!$ctrl.filters.show")
                        .form-group: input(ng-model="$ctrl.filters.q" placeholder="Zoeken").form-control
        
            .card-section(ng-if="$ctrl.validatorOrganizations.data.length > 0"): .card-block.card-block-table: .table-wrapper: table.table
                tr
                    th(th-sortable filters="$ctrl.filters" label="external_validators.labels.organization_name" value="name")
                    th(th-sortable filters="$ctrl.filters" label="external_validators.labels.email" value="email")
                    th(th-sortable filters="$ctrl.filters" label="external_validators.labels.phone" value="phone")
                    th(th-sortable filters="$ctrl.filters" label="external_validators.labels.website" value="website")
                    th(translate="external_validators.labels.actions").text-right

                tr(ng-repeat="validatorOrganization in $ctrl.validatorOrganizations.data")
                    td: .flex.flex-align-items-center
                        img.td-media.td-media-sm(
                            ng-src="{{ validatorOrganization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                        | &nbsp;&nbsp;&nbsp;
                        .text-primary.text-strong(
                            ng-bind="validatorOrganization.name | str_limit:40")

                    td(
                        ng-bind="validatorOrganization.email || '-'" 
                        ng-class="validatorOrganization.email ? 'text-medium text-primary-light' : 'text-muted'")

                    td(
                        ng-bind="validatorOrganization.phone || '-'" 
                        ng-class="validatorOrganization.phone ? '' : 'text-muted'")

                    td(
                        ng-bind="validatorOrganization.website || '-'" 
                        ng-class="validatorOrganization.website ? 'text-medium text-primary-light' : 'text-muted'")

                    td.text-right
                        .button.button-primary.button-sm(
                            ng-if="!validatorOrganization.approved"
                            ng-click="$ctrl.addExternalValidator(validatorOrganization)")
                            em.mdi.mdi-check-circle.icon-start
                            translate(translate="external_validators.buttons.add")
                        
                        .button.button-default.button-sm(
                            ng-if="validatorOrganization.approved"
                            ng-click="$ctrl.removeExternalValidator(validatorOrganization)")
                            em.mdi.mdi-close.icon-start
                            translate(translate="external_validators.buttons.delete")

            //- Pagination
            .card-section(ng-if="$ctrl.validatorOrganizations.meta")
                paginator(
                    meta="$ctrl.validatorOrganizations.meta" 
                    filters="$ctrl.filters" 
                    count-buttons="5" 
                    on-page-change="$ctrl.onPageChange(query)"
                    per-page-key="{{ $ctrl.paginationPerPageKey }}")

            //- Not found
            .card-section(ng-if="$ctrl.validatorOrganizations.meta.total == 0"): .block.block-empty.text-center
                .empty-title Geen beoordelaars beschikbaar.