.app.app-container
    menu
    section.app.app-content
        .card-heading {{ "financial_dashboard.header.title" | translate }}
        .block.block-choose-organization(ng-if="$ctrl.funds.length > 0")
            div(
                ng-repeat="fund in $ctrl.fund ? [$ctrl.fund] : $ctrl.funds" 
                ui-sref="financial-dashboard({fund_id: fund.id})").organization-item
                .organization-item-inner
                    .organization-logo: img(ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/organization-no-logo.svg' }}")
                .organization-name(ng-bind="fund.name")
                .organization-categories {{ "financial_dashboard.labels.product" | translate }}

            div(
                ng-if="$ctrl.fund"
                ui-sref="financial-dashboard({fund_id: null})").organization-item
                .organization-item-inner
                    .organization-logo.organization-logo-mdi: .mdi.mdi-plus
                .organization-name {{ "financial_dashboard.buttons.choose" | translate }}
            br
    
        div(ng-if="$ctrl.fundProviders.length > 0")
            .block.block-charts
                .row: .col.col-sm-12: .card
                    .card-section
                        .chart-header
                            .chart-header-range
                                .chart-header-item(ng-click="$ctrl.chartData.changeType('quarter')" ng-class="$ctrl.chartData.request.type=='quarter'?'active':''") {{ "financial_dashboard.labels.quarter" | translate }}
                                .chart-header-item(ng-click="$ctrl.chartData.changeType('month')" ng-class="$ctrl.chartData.request.type=='month'?'active':''") {{ "financial_dashboard.labels.month" | translate }}
                                .chart-header-item(ng-click="$ctrl.chartData.changeType('week')" ng-class="$ctrl.chartData.request.type=='week'?'active':''") {{ "financial_dashboard.labels.week" | translate }}
                                .chart-header-item(ng-click="$ctrl.chartData.changeType('all')" ng-class="$ctrl.chartData.request.type=='all'?'active':''") {{ "financial_dashboard.labels.all" | translate }}
                            .chart-header-title {{ $ctrl.chartData.stringTitle }}
                            .chart-header-actions
                                div(ng-if="$ctrl.chartData.request.type!='all'")
                                    .button.button-default(ng-click="$ctrl.chartData.decrease()") {{ "financial_dashboard.buttons.previous" | translate }}
                                    .button.button-default(ng-click="$ctrl.chartData.increase()") {{ "financial_dashboard.buttons.next" | translate }}
                        .chart-body
                            linear-chart(data="$ctrl.chartData.response.dates")

                .chart-row
                    .card: .card-section
                        .chart-control
                            .chart-label {{ "financial_dashboard.labels.total" | translate }}
                            .chart-value
                                .chart-value_value €{{ $ctrl.fund.budget.total | to_fixed:2 }}
                                .chart-value_label {{ "financial_dashboard.labels.spend" | translate }}
                                .chart-value_value_b €{{ $ctrl.fund.budget.used | to_fixed:2 }}

                    .card: .card-section
                        .chart-control
                            .chart-label {{ "financial_dashboard.labels.used" | translate }}
                            radial-chart(total="$ctrl.fund.budget.total" value="$ctrl.fund.budget.used")

                    .card: .card-section
                        .chart-control
                            .chart-label {{ $ctrl.chartData.stringTitle }} {{ "financial_dashboard.labels.usage" | translate }}
                            .chart-value
                                .chart-value_value €{{ ($ctrl.chartData.response.usage || 0) | to_fixed:2 }}
                                .chart-value_label {{ "financial_dashboard.labels.payed" | translate }} {{ $ctrl.chartData.response.providers }} {{ "financial_dashboard.labels.shops" | translate }}

                    .card: .card-section
                        .chart-control
                            .chart-label {{ "financial_dashboard.labels.activation" | translate }}
                            .chart-value
                                .chart-value_value {{ $ctrl.chartData.response.activations }}
                                .chart-value_label 
                                    | {{ "financial_dashboard.labels.citizen" | translate }} 
                                    br
                                    | {{ $ctrl.chartData.stringTitle }}

            .card-heading {{ "financial_dashboard.labels.provider" | translate }} ({{ $ctrl.fundProviders.length }}) 
            fund-card-provider-finances(ng-repeat="fundProvider in $ctrl.fundProviders" fund-provider="fundProvider")
    section.app.app-content(ng-if="$ctrl.funds.length == 0")
        empty-block(
            ng-if="$ctrl.fund == null && $ctrl.funds.length == 0" 
            text="'Helaas, geen fondsen beschikbaar'" 
            button="{href: $ctrl.emptyBlockLink, text: 'Fonds toevoegen'}")
        empty-block(
            ng-if="$ctrl.fund == null && $ctrl.funds.length > 0" 
            text="'Selecteer een fonds'")