.app.app-container(ng-if="$root.activeOrganization && $root.auth_user && $ctrl.funds")
    menu
    section.app.app-content
        .card-heading(ng-bind="'financial_dashboard.header.title' | translate")
        .block.block-financial-dashboard
            .card 
                .card-section.card-section-narrow
                    .financial-filters
                        .filter-dropdowns
                            mixin dropdown(type, title, placeholder, data, ngModel)
                                .filter-dropdown
                                    //- Dropdown label
                                    .filter-dropdown-label(ng-click="$ctrl.showDropdown($event, '" + type + "')") 
                                        .filter-dropdown-label-text #{title}
                                        em.mdi.mdi-chevron-down
                                    
                                    //- Dropdown menu
                                    .filter-dropdown-menu(
                                        ng-if="$ctrl.shownDropdownType == '" + type + "'"
                                        click-outside="$ctrl.onClickOutsideDropdown($event, '" + type + "')")

                                        //- Dropdown header
                                        .filter-dropdown-menu-header
                                            .header-title #{placeholder}
                                            //- .form.header-search: .form-group
                                                input(
                                                    ng-model="$ctrl.filters.values.q"
                                                    placeholder="{{ 'search' | i18n }}").form-control

                                        //- Dropdown body
                                        .filter-dropdown-menu-body: .form
                                            .block-option(ng-repeat="item in " + data)
                                                .form-group.form-group-inline
                                                    label(for = type + "_{{ $index }}").checkbox.checkbox-narrow
                                                        input(  
                                                            type="checkbox" 
                                                            id=type + "_{{ $index }}" 
                                                            ng-model="item.checked"
                                                            ng-change="$ctrl.selectOption('" + type + "', item)")
                                                        .checkbox-label(ng-class="{'active': item.checked}") 
                                                            .checkbox-box: .mdi.mdi-check
                                                            span(ng-bind="item.name")

                            +dropdown('funds', 'Fondsen', 'Selecteer fondsen', '$ctrl.funds')
                            +dropdown('providerOrganizations', 'Aanbieders', 'Selecteer aanbieders', '$ctrl.providerOrganizations')
                            +dropdown('postcodes', 'Postcodes', 'Selecteer postcodes', '$ctrl.postcodes')
                            //- +dropdown('productCategories', 'Categorie', 'Zook voor een categorie', '$ctrl.productCategories')

                        //- Todo: filters
                        .block.block-label-tabs
                            //- .label-tab Dag
                            .label-tab.label-tab-disabled Week
                            .label-tab.label-tab-disabled Maand
                            .label-tab.label-tab-disabled Kwartaal
                            .label-tab.active Jaar

                .card-section
                    .card-heading Selecteer filters:
                    .label-group
                        .label.label-primary-light.label-round.label-lg(
                            ng-repeat="selection in $ctrl.selections" 
                            ng-if="!selection.ids || selection.ids.length > 0"
                            ng-class="{'disabled': selection.items.length == 0}")
                            span(ng-bind="selection.names | str_limit:60")
                            em(ng-if="selection.items.length > 0" ng-click="$ctrl.resetSelection(selection.type)").label-close.mdi.mdi-close

                //- Years list
                .card-section(ng-if="$ctrl.timeFilters.type === 'year'")
                    .block.block-timeframes
                        .timeframe-item.timeframe-item-disabled: .mdi.mdi-chevron-left
                        .timeframe-item(
                            ng-repeat="year in $ctrl.timeFilters.years"
                            ng-class="{'timeframe-item-active': $ctrl.timeFilters.year === year}"
                            ng-click="$ctrl.timeFilters.setFilter(year, 'year')"): .timeframe-item-title(ng-bind="year.label")
                        .timeframe-item.timeframe-item-disabled: .mdi.mdi-chevron-right

                //- .card-section: pre(ng-bind="$ctrl.years | pretty_json")

                //- 
                //- .card-section
                    .block.block-timeframes
                        .timeframe-item: .mdi.mdi-chevron-left
                        .timeframe-item(disabled)
                            .timeframe-item-title Q3
                            .timeframe-item-subtitle 2020
                        .timeframe-item(disabled)
                            .timeframe-item-title Q4
                            .timeframe-item-subtitle 2020
                        .timeframe-item
                            .timeframe-item-title Q1
                            .timeframe-item-subtitle 2021
                        .timeframe-item
                            .timeframe-item-title Q2
                            .timeframe-item-subtitle 2021
                        .timeframe-item
                            .timeframe-item-title Q3
                            .timeframe-item-subtitle 2021
                        .timeframe-item.timeframe-item-active
                            .timeframe-item-title Q4
                            .timeframe-item-subtitle 2021
                        .timeframe-item: .mdi.mdi-chevron-right

            //- Statistics graph
            .card
                .card-header.flex
                    .flex.flex-grow: .card-title Grafiek
                    .flex.block.block-label-tabs
                        .label-tab(
                            ng-class="{active: $ctrl.field === 'amount'}" 
                            ng-click="$ctrl.field = 'amount'") Totaal uitgegeven
                        .label-tab(
                            ng-class="{active: $ctrl.field === 'count'}" 
                            ng-click="$ctrl.field = 'count'") Totaal transacties
                
                .card-section: bar-chart(data="$ctrl.chartData.response.dates" field="$ctrl.field")

            //- Statistics columns
            .financial-totals
                .financial-totals-col
                    .financial-totals-header
                        .financial-totals-label Totaal uitgegeven
                        .financial-totals-label.financial-totals-label-sm Totaal aantal transacties
                    .financial-totals-content
                        .financial-totals-value(ng-bind="$ctrl.chartData.response.totals.amount | currency_format")
                        .financial-totals-value(ng-bind="$ctrl.chartData.response.totals.count")

                .financial-totals-col
                    .financial-totals-header
                        .financial-totals-label Hoogste aankoopbedrag
                        .financial-totals-label.financial-totals-label-sm Bij aanbieder
                    .financial-totals-content(ng-if="$ctrl.chartData.response.highest_transaction")
                        .financial-totals-value(ng-bind="$ctrl.chartData.response.highest_transaction.amount | currency_format")
                        .financial-totals-value.financial-totals-value-sm(ng-bind="$ctrl.chartData.response.highest_transaction.provider")
                    .financial-totals-content(ng-if="!$ctrl.chartData.response.highest_transaction")
                        .financial-totals-value: small.text-strong.text-muted Geen transactie
                        .financial-totals-value &nbsp;

                .financial-totals-col
                    .financial-totals-header
                        .financial-totals-label Hoogste dagtotaal
                        .financial-totals-label.financial-totals-label-sm Datum
                    .financial-totals-content(ng-if="$ctrl.chartData.response.highest_daily_transaction")
                        .financial-totals-value(ng-bind="$ctrl.chartData.response.highest_daily_transaction.amount | currency_format")
                        .financial-totals-value.financial-totals-value-sm(ng-bind="$ctrl.chartData.response.highest_daily_transaction.date_locale")
                    .financial-totals-content(ng-if="!$ctrl.chartData.response.highest_daily_transaction")
                        .financial-totals-value: small.text-strong.text-muted Geen transactie
                        .financial-totals-value &nbsp;

            //- .card: pre {{ $ctrl.providerOrganizationsFinances.data | pretty_json }} 

            //- Providers
            .card
                .card-header: .flex-row
                    .flex-col.flex-grow: .card-title Aanbieders
                    .flex-col: button.button.button-primary(ng-click="$ctrl.financeProvidersExport()")
                        em.mdi.mdi-download.icon-start
                        span Exporteren

                .card-section(ng-if="$ctrl.providerOrganizationsFinances.data.length > 0")
                    .card-block.card-block-table: .table-wrapper: table.table
                        thead: tr
                            th Aanbieder
                            th Totaal uitgegeven bij
                            th Hoogste aankoopbedrag
                            th.text-right Aantal transacties
                            //- th

                        tbody(ng-repeat="provider in $ctrl.providerOrganizationsFinances.data")
                            tr
                                td.text-primary-light
                                    img.organization-logo(
                                        ng-src="{{ provider.provider.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                                    span(ng-bind="provider.provider.name")
                                td(
                                    ng-class="{'text-muted' : !provider.total_spent}"
                                    ng-bind="provider.total_spent ? (provider.total_spent | currency_format) : 'Geen transacties'")
                                td(
                                    ng-class="{'text-muted' : !provider.highest_transaction}"
                                    ng-bind="provider.highest_transaction ? (provider.highest_transaction | currency_format) : 'Geen transacties'")
                                td(ng-bind="provider.nr_transactions").text-right

                                //- td.text-right
                                    button.button.button-primary(ng-click="provider.transactions = !provider.transactions")
                                        em.mdi.mdi-cash-multiple.icon-start
                                        span Transacties

                            //- tr(ng-if="provider.transactions"): td(colspan="5").td-paddless: table.table
                                tr
                                    th(i18n="fund_card_provider_finances.labels.price")
                                    th(i18n="fund_card_provider_finances.labels.date")
                                    th(i18n="fund_card_provider_finances.labels.status")

                                tr(
                                    ng-repeat="transaction in transactions.data"
                                    ng-click="showTransaction(transaction)")
                                    td: a(ng-bind="transaction.amount | currency_format").text-primary-light
                                    td(ng-bind="transaction.created_at_locale")
                                    td(ng-bind="{pending: 'In afwachting', success : 'Voltooid'}[transaction.state]")

                .card-section(ng-if="$ctrl.providerOrganizationsFinances" ng-show="$ctrl.providerOrganizationsFinances.meta.last_page > 1")
                    paginator(meta="$ctrl.providerOrganizationsFinances.meta" filters="$ctrl.filters.values" count-buttons="5" on-page-change="$ctrl.fetchData(query)")

            block-empty(
                ng-if='$ctrl.providerOrganizationsFinances && $ctrl.providerOrganizationsFinances.meta.total == 0' 
                text='Geen aanbieder.')           

