.app.app-container(ng-if="$root.activeOrganization && $root.auth_user && $ctrl.funds")
    menu
    section.app.app-content
        .card-heading(ng-bind="'financial_dashboard.header.title' | translate")
        
        div
            .block.block-financial-dashboard
                .row: .col.col-lg-12
                    .card 
                        .card-section
                            .block-top-menu
                                .block-top-menu-dropdowns
                                    mixin dropdown(type, title, placeholder, data, ngModel)
                                        .block-top-menu-dropdown
                                            .block-dropdown-info(ng-click="$ctrl.showDropdown($event, '" + type + "')") 
                                                .block-dropdown-title #{title}
                                                .block-dropdown-caret
                                                    em.mdi.mdi-chevron-down
                                            
                                            .block-dropdown-options(
                                                ng-if="$ctrl.shownDropdownType == '" + type + "'"
                                                click-outside="$ctrl.onClickOutsideDropdown($event, '" + type + "')")

                                                .block-dropdown-options-header
                                                    .header-title #{placeholder}
                                                    .form.header-search: .form-group
                                                        input(ng-model="$ctrl.filters.values.q" placeholder="{{ 'search' | i18n }}").form-control
                                                .block-options-list: .form
                                                    .block-option(ng-repeat="item in " + data)
                                                        .form-group.form-group-inline
                                                            label(for = type + "{{ $index }}").checkbox.checkbox-narrow
                                                                input(
                                                                    type="checkbox" 
                                                                    id=type + "{{ $index }}" 
                                                                    name=type + "[]"
                                                                    ng-model="item.checked"
                                                                    ng-change="$ctrl.selectOption('" + type + "', item)")
                                                                .checkbox-label(ng-class="{'active': item.checked}") 
                                                                    .checkbox-box: .mdi.mdi-check
                                                                    | {{ item.name }}

                                    +dropdown('funds', 'Fondsen', 'Zook voor fondsen', '$ctrl.funds')
                                    +dropdown('providerOrganizations', 'Aanbieder', 'Zook voor een aanbieder', '$ctrl.providerOrganizations')
                                    +dropdown('postcodes', 'Postcode', 'Zook voor een postcode', '$ctrl.postcodes')
                                    +dropdown('productCategories', 'Categorie', 'Zook voor een categorie', '$ctrl.productCategories')

                                .block-top-menu-inline
                                    .block-top-menu-inline-option Dag
                                    .block-top-menu-inline-option Week
                                    .block-top-menu-inline-option Maand
                                    .block-top-menu-inline-option Kwartaal
                                    .block-top-menu-inline-option.active Jaar
                    
                        .card-section
                            .block-filters
                                .block-filters-title Selecteer filters:
                                .block-filters-list
                                    .block-filters-list-item(ng-repeat="selection in $ctrl.selections" ng-class="{'disabled': selection.items.length == 0}")
                                        .block-filters-list-item-title(ng-bind="selection.names | str_limit:60")
                                        em.mdi.mdi-close(ng-if="selection.items.length > 0" ng-click="$ctrl.resetSelection(selection.type)")
                    
                        .card-section
                            .block-timeframes
                                .block-timeframe-nav.block-timeframe-prev
                                    .mdi.mdi-chevron-left
                                .block-timeframe
                                    .block-timeframe-name Q1
                                    .block-timeframe-details 2021
                                .block-timeframe
                                    .block-timeframe-name Q1
                                    .block-timeframe-details 2021
                                .block-timeframe
                                    .block-timeframe-name Q1
                                    .block-timeframe-details 2021
                                .block-timeframe
                                    .block-timeframe-name Q1
                                    .block-timeframe-details 2021
                                .block-timeframe-nav.block-timeframe-next
                                    .mdi.mdi-chevron-right

                    .card: .card-section  
                        .block.block-charts
                            .chart-body: bar-chart(data="$ctrl.chartData.response.dates")

                    .block.block-totals
                        .block-totals-control
                            .block-totals-title
                                .block-totals-main Totaal uitgegeven
                                .block-totals-secondary Totaal transacties
                            .block-totals-details
                                .block-totals-details-amount {{ $ctrl.providerTotals.usage_total | currency_format }}
                                .block-totals-details-description {{ $ctrl.providerTotals.nr_transactions }}

                        .block-totals-control
                            .block-totals-title
                                .block-totals-main Hoogste aankoopbedrag
                                .block-totals-secondary Bij aanbieder
                            .block-totals-details
                                .block-totals-details-amount {{ $ctrl.providerTotals.highest_transaction.amount | currency_format }}
                                .block-totals-details-description.small 
                                    div {{ $ctrl.providerTotals.highest_transaction.provider }}

                        .block-totals-control
                            .block-totals-title
                                .block-totals-main Hoogste dagtotaal
                                .block-totals-secondary Datum
                            .block-totals-details
                                .block-totals-details-amount {{ $ctrl.providerTotals.highest_daily_transaction.amount | currency_format }}
                                .block-totals-details-description.small {{ $ctrl.providerTotals.highest_daily_transaction.date }}

                    br
                    .card
                        .card-header: .flex-row
                            .flex-col.flex-grow: .card-title Aanbieders
                            .flex-col: button.button.button-primary(ng-click="$ctrl.exportFinances()")
                                em.mdi.mdi-download.icon-start
                                span Exporteren
                        .card-section(ng-if="$ctrl.providerOrganizationsFinances.length > 0"): .card-block.card-block-table: .table-wrapper: table.table
                            tr
                                th Aanbieder
                                th Totaal uitgegeven bij
                                th Hoogste aankoopbedrag
                                th Aantal transacties
                                th

                            tr(ng-repeat="finances in $ctrl.providerOrganizationsFinances")
                                td.text-primary-light
                                    img.organization-logo(
                                        ng-src="{{ finances.organization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                                    span(ng-bind="finances.organization.name")
                                td {{ finances.total_spent | currency_format }}
                                td {{ finances.highest_transaction | currency_format }}
                                td {{ finances.nr_transactions }}

                                td.text-right
                                    button.button.button-primary(ng-click="$ctrl.goToTransactions()")
                                        em.mdi.mdi-cash-multiple.icon-start
                                        //- img(src="./assets/img/menu/icon-transactions.svg")
                                        span Transacties
                    
                    block-empty(
                        ng-if='$ctrl.providerOrganizationsFinances.length == 0' 
                        text='Geen aanbieder.')           

