.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="implementations({organization_id: $root.activeOrganization.id})") Webshops  
            .breadcrumb-item(ui-sref="implementations({organization_id: $root.activeOrganization.id})" ng-bind="$ctrl.fund.name")
            .breadcrumb-item.active Backoffice integratie

        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header.form
                .flex-row
                    //- Title
                    .flex.flex-grow: .card-title Backoffice integratie

                    //- Test connection
                    .flex: .form-group
                        //- Test connection hints
                        .button.button-text.button-sm.button-disabled.button-disabled-visible(ng-if="$ctrl.isDirty")
                            | Test de nieuwe instellingen voor het opslaan
                        .button.button-text.button-sm.button-disabled.button-disabled-visible(ng-if="!$ctrl.isConfigured && !$ctrl.isDirty")
                            | Vul alle velden in om de integratie te testen

                        //- Test connection submit
                        button(
                            type="button" 
                            ng-click="$ctrl.testBackofficeConnection()"
                            ng-disabled="!$ctrl.isConfigured || $ctrl.isDirty").button.button-default.button-sm
                            .mdi.mdi-connection.icon-start
                            | Test instellingen

            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                //- Enable/disable
                .form-group.form-group-inline
                    label.form-label Status
                    .button.button-text.button-narrow: label(for="backoffice_enabled").form-toggle
                        input(type="checkbox" id="backoffice_enabled" ng-model="$ctrl.form.values.backoffice_enabled" value="1")
                        .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot

                //- Backoffice API url
                .form-group.form-group-inline
                    label.form-label API url
                    input(ng-model="$ctrl.form.values.backoffice_url" type="text" ng-change="$ctrl.onChange()" placeholder="Bijv. https://gemeente+1.nl/api/v1/").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.backoffice_url" ng-bind="error")

                //- Backoffice auth token
                .form-group.form-group-inline
                    label.form-label API sleutel
                    input(ng-model="$ctrl.form.values.backoffice_key" type="text" ng-change="$ctrl.onChange()" placeholder="xxxxxxxxxxxxxxxxxxxxxxxxxxx").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.backoffice_key" ng-bind="error")

                //- Backoffice mutual TLS certificate CA
                .form-group.form-group-inline.tooltipped
                    label.form-label Upload .PEM bestand
                    .form-offset
                        //- Certificate preview
                        pre(
                            ng-if="$ctrl.form.values.backoffice_certificate && $ctrl.showCertificate"
                            ng-bind="$ctrl.form.values.backoffice_certificate").code

                        //- Certificate placeholder
                        pre(
                            ng-if="$ctrl.form.values.backoffice_certificate && !$ctrl.showCertificate"
                            ng-bind="'Certificaat geselecteerd'").code

                        //- Certificate actions
                        .button-group
                            //- Upload certificate
                            .button.button-primary(ng-click="$ctrl.selectCertificateFile()")
                                .mdi.mdi-upload.icon-start
                                | Upload bestand

                            //- Clear certificate
                            .button.button-danger(
                                ng-if="$ctrl.form.values.backoffice_certificate"
                                ng-click="$ctrl.form.values.backoffice_certificate = ''")
                                .mdi.mdi-delete-outline.icon-start
                                | Verwijderen bestand
                            
                            //- Show certificate
                            .button.button-text.button-text-primary(
                                ng-if="$ctrl.form.values.backoffice_certificate && !$ctrl.showCertificate"
                                ng-click="$ctrl.showCertificate = !$ctrl.showCertificate")
                                .mdi.mdi-eye-outline.icon-start
                                | Bekijk certificaat

                            //- Hide certificate
                            .button.button-text.button-text-primary(
                                ng-if="$ctrl.form.values.backoffice_certificate && $ctrl.showCertificate"
                                ng-click="$ctrl.showCertificate = !$ctrl.showCertificate")
                                .mdi.mdi-eye-off-outline.icon-start
                                | Verberg certificaat

                    //- Validation error
                    .form-error(ng-repeat="error in $ctrl.form.errors.backoffice_key" ng-bind="error")

                    //- Certificate info tooltip
                    tooltip(text="'Upload het benodigde certificaat voor het tot stand brengen van een “two-sided” SSL-verbinding tussen het platform en de externe API.'")
            
            //- Backoffice downtime policy
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline.tooltipped
                    label.form-label Downtime pad
                    .form-offset
                        select-control(
                            as="label"
                            prop="value"
                            search="false"
                            ng-model="$ctrl.form.values.backoffice_fallback"
                            options="$ctrl.fallbackOptions").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.description" ng-bind="error")
                    tooltip(text="'Stel in wat de gebruiker ziet als de externe API downtime heeft.'")

            //- Ineligibility
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                //- Ineligibility policy
                .form-group.form-group-inline
                    label.form-label Ineligibility policy
                    .form-offset
                        select-control(
                            as="label"
                            prop="value"
                            search="false"
                            ng-model="$ctrl.form.values.backoffice_ineligible_policy"
                            options="$ctrl.ineligiblePolicyOptions")
                        .form-error(ng-repeat="error in $ctrl.form.errors.backoffice_ineligible_policy" ng-bind="error")
                    tooltip(text="'What should happen when the requester is not eligible.'")

                //- Ineligibility redirect URL
                .form-group.form-group-inline(ng-if="$ctrl.form.values.backoffice_ineligible_policy == 'redirect'")
                    label.form-label Redirect url
                    input(ng-model="$ctrl.form.values.backoffice_ineligible_redirect_url" placeholder="Bijv. https://gemeente+1.nl").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.backoffice_ineligible_redirect_url" ng-bind="error")

            //- Actions
            .card-section.card-section-primary: .text-center
                button(type="button" ng-click="$ctrl.cancel()" translate="funds_edit.buttons.cancel" id="cancel").button.button-default
                button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary
