.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            a.breadcrumb-item(
                ui-sref="organization-funds({organization_id: $ctrl.fund.organization_id})" 
                translate="page_state_titles.funds")
            .breadcrumb-item.active(ng-bind="$ctrl.fund.name")

        .block.block-fund
            .fund-overview
                .fund-media: img.fund-media-img(
                    ng-src="{{ $ctrl.fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}")

                .fund-details
                    .fund-name: .flex-row
                        .flex-col.flex-grow(ng-bind="$ctrl.fund.name")
      
                        .flex-col
                            .tag.tag-success.tag-sm(
                                ng-if="$ctrl.fund.state == 'active'" 
                                translate="components.organization_funds.states.active")
                                
                            .tag.tag-warning.tag-sm(
                                ng-if="$ctrl.fund.state == 'paused'" 
                                translate="components.organization_funds.states.paused")
                            
                            .tag.tag-default.tag-sm(
                                ng-if="$ctrl.fund.state == 'closed'" 
                                translate="components.organization_funds.states.closed")

                    .fund-description-short(ng-bind="$ctrl.fund.description_short")

            .fund-description
                .description-header
                    | Beschrijving

                    .description-header-action
                        .button.button-default(
                            ng-if="($ctrl.fund.organization | hasPerm:'manage_funds') && $ctrl.fund.state == 'waiting'"
                            ng-click="$ctrl.deleteFund($ctrl.fund)")
                            em.mdi.mdi-trash-can-outline.icon-start
                            | Verwijderen

                        .button.button-default(
                            ng-if="($ctrl.fund.organization | hasPerm:'manage_funds')"
                            ui-sref="funds-edit($ctrl.fund)")
                            em.mdi.mdi-pencil.icon-start
                            | Bewerken

                .description-body(ng-if="$ctrl.fund.description_html")
                    .arrow-box.border.bg-dim: .arrow
                    .block.block-markdown(ng-bind-html="$ctrl.fund.description_html")

                .description-body(ng-if="!$ctrl.fund.description_html") 
                    .arrow-box.border.bg-dim: .arrow
                    | Geen data

        .card.card-collapsed(ng-if="$ctrl.fund.implementation")
            .card-header: .flex-row
                .flex-col: .card-title Webshop

            .card-section.card-section-padless: .table-wrapper: table.table
                tr
                    th.td-narrow Afbeelding
                    th Naam
                    th Status
                    th

                tr(ng-repeat="implementation in $ctrl.implementations")
                    td.td-narrow: img(ng-src="{{ implementation.logo || './assets/img/placeholders/organization-thumbnail.png' }}").td-media
                    td(ng-bind="implementation.name")
                    td(ng-if="$ctrl.fund.state == 'active'"): .label.label-success Zichtbaar
                    td(ng-if="$ctrl.fund.state != 'active'"): .label.label-default Onzichtbaar

                    td.td-narrow.text-right
                        button.button.button-icon.button-text.button-menu.active(
                            type="button" 
                            ng-click="$ctrl.toggleActions($event, implementation)")
                            em.mdi.mdi-dots-horizontal

                            .menu-dropdown(
                                click-outside="$ctrl.onClickOutsideMenu($event, implementation)" 
                                ng-if="implementation.showMenu")

                                .menu-dropdown-arrow
                                .dropdown.dropdown-actions
                                    .dropdown-heading Opties
                                    a(target="_blank" href="{{ implementation.url_webshop + 'funds/' + $ctrl.fund.id }}").dropdown-item
                                        | #[em.mdi.mdi-open-in-new.icon-start] Bekijk op webshop
                                    
                                    a(
                                        ng-if="$root.activeOrganization | hasPerm:['manage_implementation_cms']:false"
                                        ui-sref="implementation-view({organization_id: $ctrl.fund.organization_id, id: implementation.id})").dropdown-item
                                        | #[em.mdi.mdi-store-outline.icon-start] Ga naar CMS


        .card.card-collapsed
             .card-header: .flex
                 .flex.flex-grow: .card-title
                     | Fund users

                 .flex
                     .block.block-inline-filters
                         .form: .form-group
                             input(
                                 ng-model="$ctrl.identitiesFilters.q"
                                 placeholder="Zoeken").form-control

                         .button.button-primary.button-sm(
                             ng-click="$ctrl.exportIdentities()")
                             em.mdi.mdi-download.icon-start
                             | Export

             .card-section(ng-if="$ctrl.identities.meta.total > 0")
                 .card-block.card-block-table
                     .table-wrapper
                         table.table
                             tr
                                 th(th-sortable filters="$ctrl.identitiesFilters" label="ID" value="id")
                                 th(th-sortable filters="$ctrl.identitiesFilters" label="E-mail" value="email")
                                 th(th-sortable filters="$ctrl.identitiesFilters" label="Voucher total" value="count_vouchers")
                                 th(th-sortable filters="$ctrl.identitiesFilters" label="Active vouchers" value="count_vouchers_active")
                                 th(th-sortable filters="$ctrl.identitiesFilters" label="Active vouchers with balance" value="count_vouchers_active_with_balance")
                                 th(translate="identities.labels.actions").nowrap.text-right

                             tr(
                                 ng-repeat="identity in $ctrl.identities.data"
                                 ui-sref="identities-show({organization_id: $ctrl.organization.id, id: identity.id, fund_id: $ctrl.fund.id})")
                                 td(ng-bind="identity.id")
                                 td(ng-bind="identity.email")
                                 td(ng-bind="identity.count_vouchers")
                                 td(ng-bind="identity.count_vouchers_active")
                                 td(ng-bind="identity.count_vouchers_active_with_balance")

                                 td: .button-group.flex-end
                                     a.button.button-primary.button-icon.pull-right(
                                         ui-sref="identities-show({organization_id: $ctrl.organization.id, id: identity.id, fund_id: $ctrl.fund.id})")
                                         em.mdi.mdi-eye-outline.icon-start

             .card-section.card-section-narrow(
                 ng-if="$ctrl.identities"
                 ng-show="$ctrl.identities.meta.last_page > 1")
                 paginator(meta="$ctrl.identities.meta" filters="$ctrl.identitiesFilters" on-page-change="$ctrl.identitiesOnPageChange(query)")

             .card-section(ng-if="$ctrl.identities.meta.total == 0"): .block.block-empty.text-center
                 .empty-title(ng-if="!$ctrl.lastQuery")
                     | Geen gebruikers gevonden

                 .empty-title(ng-if="$ctrl.lastQuery")
                     | Geen gebruikers gevonden voor "{{ $ctrl.lastQuery }}"

             //- Identities stats
             .card-section.card-section-primary
                 .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                     .keyvalue-item.col.col-lg-3
                         .keyvalue-key People with vouchers
                         .keyvalue-value
                             span(ng-bind="$ctrl.identities.meta.counts.active")
                             span.icon.mdi.mdi-account-multiple-outline

                     .keyvalue-item.col.col-lg-3
                         .keyvalue-key People without e-mail
                         .keyvalue-value
                             span(ng-bind="$ctrl.identities.meta.counts.without_email")
                             span.icon.mdi.mdi-email-off-outline
