.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs(ng-if="$root.activeOrganization")
            .breadcrumb-item(
                ui-sref="organization-funds({organization_id:$root.activeOrganization.id})" 
                ng-bind="'Fondsen'")
            .breadcrumb-item.active(ng-if="$ctrl.fund" ng-bind="$ctrl.fund.name")
            .breadcrumb-item.active(ng-if="!$ctrl.fund" i18n="funds_edit.header.title_add")
        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header
                .card-title(ng-if="!$ctrl.fund" i18n="funds_edit.header.title_add")
                .card-title(ng-if="$ctrl.fund" i18n="funds_edit.header.title_edit")
            
            .card-section.card-section-primary: .row: .col.col-xs-12
                .form-group.form-group-inline
                    label.form-label.hidden-md &nbsp;
                    .form-offset: photo-selector(
                        type="fund_logo"
                        thumbnail="$ctrl.media.sizes.thumbnail"
                        select-photo="$ctrl.selectPhoto(file)")
            
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    label(translate="funds_edit.labels.name").form-label
                    input(ng-model="$ctrl.form.values.name" type="text" placeholder="Naam").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.name" ng-bind="error")
                    input(type="hidden" ng-model="$ctrl.form.values.state")
            
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    label(translate="funds_edit.labels.description_short").form-label
                    .form-offset
                        textarea(
                            maxlength="140"
                            placeholder="Omschrijving"
                            ng-model="$ctrl.form.values.description_short").form-control.r-n
                        .form-hint Max. 140 tekens
                        .form-error(ng-repeat="error in $ctrl.form.errors.description_short" ng-bind="error")
            
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    label(translate="funds_edit.labels.description").form-label
                    .form-offset: markdown(
                        extended-options="true"
                        value="$ctrl.form.values.description_html"
                        ng-model="$ctrl.form.values.description"
                        media-uploaded="$ctrl.appendMedia(media_uid, $ctrl.form.values)")
                    .form-error(ng-repeat="error in $ctrl.form.errors.description" ng-bind="error")
            
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    label.form-label Soort fonds
                    .form-offset(ng-if="!$ctrl.fund"): .block.block-fund_types
                        .fund_type-item(
                            ng-click="$ctrl.setType('budget')"
                            ng-class="{active: $ctrl.form.values.type == 'budget'}"): .fund_type-item-inner
                            .fund_type-media: img.fund_type-media-img(src='./assets/img/fund-types/icon-fund-actions.svg')
                            .fund_type-name Financieel budget
                            .fund_type-check: .mdi.mdi-check

                        .fund_type-item(
                            ng-click="$ctrl.setType('subsidies')"
                            ng-class="{active: $ctrl.form.values.type == 'subsidies'}"): .fund_type-item-inner
                            .fund_type-media: img.fund_type-media-img(src='./assets/img/fund-types/icon-fund-budget.svg')
                            .fund_type-name Acties
                            .fund_type-check: .mdi.mdi-check
                    
                    .form-offset(ng-if="$ctrl.fund"): .block.block-fund_types
                        .fund_type-item.fund_type-item-read(ng-if="$ctrl.form.values.type == 'budget'"): .fund_type-item-inner
                            .fund_type-media: img.fund_type-media-img(src='./assets/img/fund-types/icon-fund-actions-read.svg')
                            .fund_type-name Financieel budget
                            .fund_type-check: .mdi.mdi-check
                        .fund_type-item.fund_type-item-read(ng-if="$ctrl.form.values.type == 'subsidies'"): .fund_type-item-inner
                            .fund_type-media: img.fund_type-media-img(src='./assets/img/fund-types/icon-fund-budget-read.svg')
                            .fund_type-name Acties
                            .fund_type-check: .mdi.mdi-check
            
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    label(translate="funds_edit.labels.start").form-label
                    datepicker(date-format="dd-MM-yyyy" datepicker-mobile="" date-week-start-day="1").form-control: input(
                        ng-model="$ctrl.form.values.start_date"
                        type="text"
                        placeholder="dd-MM-jjjj"
                        ng-disabled="$ctrl.form.values.state != 'waiting'"
                        ).form-control

                    .form-error(ng-repeat="error in $ctrl.form.errors.start_date" ng-bind="error")
                
                .form-group.form-group-inline
                    label(translate="funds_edit.labels.end").form-label
                    datepicker(date-format="dd-MM-yyyy" datepicker-mobile="" date-week-start-day="1").form-control: input(
                        ng-model="$ctrl.form.values.end_date"
                        type="text"
                        placeholder="dd-MM-jjjj"
                        ng-disabled="$ctrl.form.values.state != 'waiting'"
                        ).form-control

                    .form-error(ng-repeat="error in $ctrl.form.errors.end_date" ng-bind="error")

            .card-section.card-section-primary(ng-if="$root.appConfigs.features.organizations.funds.formula_products")
                .row: .col.col-lg-9.col-md-12
                    .form-group.form-group-inline(ng-repeat="product in $ctrl.form.products track by $index")
                        label(translate="{{ $index == 0 ? 'funds_edit.labels.products' : '' }}").form-label
                        .form-offset: .flex-row
                            .flex-col.flex-grow: select-control(
                                ng-model="$ctrl.form.products[$index]" 
                                options="$ctrl.productOptions[$index]"
                                placeholder="Selecteer aanbieding...").flex-grow
                            .flex-col: .button.button-primary.button-icon(
                                ng-click="$ctrl.removeProduct($ctrl.form.products[$index])"
                                ): em.mdi.mdi-close
                        .form-error(ng-repeat="error in $ctrl.form.errors['products.' + ($index - 1)]" ng-bind="error")
                    .form-group.form-group-inline
                        label(translate="{{ !$ctrl.form.products.length ? 'funds_edit.labels.products' : '' }}").form-label
                        .button.button-primary(ng-click="$ctrl.addProduct()")
                            em.mdi.mdi-plus-circle.icon-start
                            translate Aanbieding toevoegen
            
            .card-section.card-section-primary: .row
                .form-group.form-group-inline.col.col-lg-9.col-md-12
                    label.form-label Standaard validator
                    select(
                        ng-model="$ctrl.form.values.default_validator_employee_id" 
                        ng-options="validator.id as validator.email for validator in $ctrl.validators").form-control
                    
                    .form-error(ng-repeat="error in $ctrl.form.errors.default_validator_employee_id" ng-bind="error")
                
                .form-group.form-group-inline.col.col-lg-9.col-md-12(ng-if="$ctrl.form.values.default_validator_employee_id")
                    label.form-label Aanmeldingen
                    input-checkbox-control(
                        name="show_attachment_{{ $index }}" 
                        ng-model="$ctrl.form.values.auto_requests_validation" 
                        label="Automatisch goedkeuren wanneer er een BSN-nummer vast staat.")
                    
                    .form-error(ng-repeat="error in $ctrl.form.errors.auto_requests_validation" ng-bind="error")

            .card-section.card-section-primary
                .form-group.form-group-inline
                    label.form-label Criteria
                    .form-offset: fund-criteria-editor(
                        fund="$ctrl.fund" 
                        organization="$ctrl.organization" 
                        criteria="$ctrl.form.values.criteria" 
                        is-editable="!$ctrl.fund || $ctrl.fund.criteria_editable" 
                        record-types="$ctrl.recordTypes" 
                        validator-organizations="$ctrl.validatorOrganizations.data"
                        register-parent="$ctrl.registerCriteriaEditor(childRef)")

            .card-section.card-section-primary
                .form-group.form-group-inline
                    label.form-label Titel van blok
                    input(type="text" ng-model="$ctrl.form.values.faq_title" placeholder="Veel gestelde vragen").form-control
                    
                    .form-error(ng-repeat="error in $ctrl.form.errors.faq_title" ng-bind="error")

                .form-group.form-group-inline
                    label.form-label Veel gestelde vragen
                    .form-offset: fund-faq-editor(
                        fund="$ctrl.fund"
                        organization="$ctrl.organization" 
                        faq="$ctrl.form.values.faq"
                        register-parent="$ctrl.registerFaqEditor(childRef)")
        
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    label.form-label(translate="funds_edit.labels.notification_amount")
                    input(ng-model="$ctrl.form.values.notification_amount" type="text" placeholder="{{ funds_edit.labels.notification_amount | translate }}").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.notification_amount" ng-bind="error")

            .card-section.card-section-primary: .text-center
                button(type="button" ng-click="$ctrl.cancel()" translate="funds_edit.buttons.cancel" id="cancel").button.button-default
                button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary
