.app.app-container
    menu
    section.app.app-content
        .card-heading 
            span(translate="funds_pug.title")  
            span(ng-bind="' (' + $ctrl.funds.length + ')'") 
        
        fund-card-sponsor(
            ng-if="$ctrl.funds.length > 0" 
            ng-repeat="fund in $ctrl.funds" 
            fund="fund" organization="$ctrl.organization" level="$ctrl.fundLevel")
        
        block-empty(
            ng-if="$ctrl.funds.length == 0" 
            text="Geen fondsen beschikbaar." )
