.app.app-container
    menu
    section.app.app-content
        .card-heading Funds ({{ $ctrl.funds.length }}) 
        div(
            ng-if="$ctrl.funds.length > 0" 
            ng-repeat="fund in $ctrl.funds" 
            fund-card-sponsor fund="fund" level="$ctrl.fundLevel" organization="$ctrl.organization")
        empty-block(
            ng-if="$ctrl.funds.length == 0" 
            text="'Sorry, you have no funds yet.'" 
            button="{text: 'Add fund', href: $ctrl.emptyBlockLink}")