.app.app-container
    menu
    section.app.app-content
        //- Navigation
        .block.block-breadcrumbs(ng-if="$root.activeOrganization")
            .breadcrumb-item(
                ui-sref="fund-requests({organization_id: $root.activeOrganization.id})"
                i18n="validation_requests.header.title")

            .breadcrumb-item.active(ng-bind="'#' + $ctrl.validatorRequest.id")

        //- Base fund request details
        .card(ng-if="$ctrl.validatorRequest")
            //- Title and actions
            .card-header: .flex
                //- Title and subtitle
                .flex.flex-grow: .flex.flex-vertical
                    //- Title
                    .card-title: .flex
                        //- Code
                        .flex.flex-vertical: .flex.text-strong
                            span.text-muted ID:&nbsp;
                            | {{ $ctrl.validatorRequest.id }} &nbsp;

                        //- Label
                        .flex.flex-vertical.flex-center: .flex.flex-horizontal
                            //- State label
                            .label.label-tag.label-round(
                                ng-class="$ctrl.stateLabels[$ctrl.validatorRequest.state]")
                                span(ng-class="'mdi mdi-' + $ctrl.stateLabelIcons[$ctrl.validatorRequest.state] + ' icon-start'")
                                span(ng-bind="$ctrl.validatorRequest.state_locale")

                    //- Subtitle
                    .card-subtitle: .flex.text-muted-dark
                        .mdi.mdi-clock-outline.text-muted-dark
                        | {{ $ctrl.validatorRequest.created_at_locale }}

                //- Buttons
                .flex.flex-self-start(ng-show="$ctrl.validatorRequest.state == 'pending' || $ctrl.validatorRequest.state == 'disregarded'"): .flex-row
                        //- Assign myself
                        button.button(
                            ng-if="$ctrl.validatorRequest.is_assignable"
                            ng-click='$ctrl.assignRequest()'
                            ng-class="$ctrl.validatorRequest.is_assignable_as_supervisor ? 'button-default' : 'button-primary'")

                            em.mdi.mdi-account-plus.icon-start
                            translate(translate="validation_requests.buttons.assign_to_me")

                        //- Assign someone else
                        button.button.button-primary(
                            ng-if="$ctrl.validatorRequest.is_assignable_as_supervisor"
                            ng-click='$ctrl.assignRequestAsSupervisor()')

                            em.mdi.mdi-account-details-outline.icon-start
                            translate(translate="validation_requests.buttons.assign")

                        //- Approve
                        button.button.button-primary(
                            ng-if="$ctrl.validatorRequest.state == 'pending' && $ctrl.validatorRequest.is_assigned && !$ctrl.validatorRequest.can_disregarded_undo"
                            ng-click='$ctrl.requestApprove()')

                            em.mdi.mdi-check.icon-start
                            translate(translate="validation_requests.buttons.accept_all")

                        //- Decline
                        button.button.button-danger(
                            ng-if="$ctrl.validatorRequest.state == 'pending' && $ctrl.validatorRequest.is_assigned && !$ctrl.validatorRequest.can_disregarded_undo"
                            ng-click='$ctrl.requestDecline()')

                            em.mdi.mdi-close.icon-start
                            translate(translate="validation_requests.buttons.decline_all")

                        //- Disregard
                        button.button.button-default(
                            ng-if="$ctrl.validatorRequest.can_disregarded"
                            ng-click='$ctrl.requestDisregard()')

                            em.mdi.mdi-timer-sand-empty.icon-start
                            translate(translate="validation_requests.buttons.disregard")

                        //- Disregard undo
                        button.button.button-default(
                            ng-if="$ctrl.validatorRequest.can_disregarded_undo"
                            ng-click='$ctrl.requestDisregardUndo()')
                            em.mdi.mdi-backup-restore.icon-start
                            translate(translate="validation_requests.buttons.disregard_undo")

                        //- Resign request
                        button.button.button-primary-light(
                            ng-if="$ctrl.validatorRequest.can_resign || $ctrl.validatorRequest.can_resign_as_supervisor"
                            ng-click='$ctrl.requestResign()')

                            em.mdi.mdi-account-minus.icon-start
                            translate(translate="validation_requests.buttons.resign")

                        button.button.button-default(
                            type="button"
                            disabled="disabled"
                            ng-if="$ctrl.validatorRequest.state == 'disregarded' && !$ctrl.validatorRequest.can_disregarded_undo && $ctrl.validatorRequest.replaced")
                            em.mdi.mdi-backup-restore.icon-start
                            translate(translate="validation_requests.buttons.disregard_undo_disabled_replaced")

            //- Base overview
            .card-section: .card-block.card-block-table: .table-wrapper
                table.table.table-fixed
                    tr
                        //- Fund
                        td
                            strong(translate="validation_requests.labels.fund").text-strong.text-md.text-primary
                            br
                            .flex.flex-horizontal
                                .flex: strong.text-black(ng-bind="$ctrl.validatorRequest.fund.name")
                                .flex.flex-vertical: em.mdi.mdi-information.block.block-tooltip-details.block-tooltip-details-inline(
                                    ng-click="$ctrl.showFundCriteria($event)"
                                    ng-class="{active: $ctrl.showCriteria}")
                                    .tooltip-content(
                                        ng-if="$ctrl.showCriteria"
                                        click-outside="$ctrl.hideFundCriteria($event)"): ul.tooltip-list
                                        li(ng-repeat="criterion in $ctrl.validatorRequest.fund.criteria").tooltip-list-item
                                            em.mdi.mdi-check
                                            span(ng-bind="criterion.description")
                        //- Email
                        td: .block.block-tooltip-details.block-tooltip-hover.flex-inline.flex-vertical
                            strong(translate="validation_requests.labels.email").text-strong.text-md.text-primary
                            strong(
                                ng-class="$ctrl.validatorRequest.email ? 'text-black' : 'text-muted'"
                                ng-bind="($ctrl.validatorRequest.email || 'Geen E-mail') | str_limit:40")

                            .tooltip-content.tooltip-content-fit.tooltip-content-bottom(ng-if="$ctrl.validatorRequest.email.length > 40")
                                .triangle
                                .nowrap(ng-bind="$ctrl.validatorRequest.email || 'Geen E-mail'")

                        //- BSN
                        td
                            strong(translate="validation_requests.labels.bsn").text-strong.text-md.text-primary
                            br
                            strong(
                                ng-class="$ctrl.validatorRequest.bsn ? 'text-black' : 'text-muted'"
                                ng-bind="$ctrl.validatorRequest.bsn || 'Geen BSN'")

                        //- Lead time
                        td(ng-if="$ctrl.validatorRequest.state == 'pending' || $ctrl.validatorRequest.state == 'disregarded'")
                            strong(translate="validation_requests.labels.lead_time").text-strong.text-md.text-primary
                            br
                            strong.text-black(ng-bind="$ctrl.validatorRequest.lead_time_locale")

                        td(ng-if="$ctrl.validatorRequest.state == 'disregarded'")
                            strong(translate="validation_requests.labels.disregarded_at").text-strong.text-md.text-primary
                            br
                            strong.text-black(ng-bind="$ctrl.validatorRequest.resolved_at_locale")

                        td(ng-if="$ctrl.validatorRequest.state == 'approved'")
                            strong(translate="validation_requests.labels.accepted_at").text-strong.text-md.text-primary
                            br
                            strong.text-black(ng-bind="$ctrl.validatorRequest.resolved_at_locale")

                        td(ng-if="$ctrl.validatorRequest.state == 'declined'")
                            strong(translate="validation_requests.labels.declined_at").text-strong.text-md.text-primary
                            br
                            strong.text-black(ng-bind="$ctrl.validatorRequest.resolved_at_locale")

        .card(ng-if="$ctrl.validatorRequest && $ctrl.validatorRequest.note")
            //- Note
            .card-header: .card-title(i18n="validation_requests.labels.note_title")
            .card-section: .flex
                .flex: .card-block
                    span(ng-bind="$ctrl.validatorRequest.note")

        //- Fund request records
        .card(ng-if="$ctrl.validatorRequest")
            .card-header: .flex
                .flex.flex-grow
                    .card-title(translate="validation_requests.labels.records")

                .flex.flex-self-start(ng-if="$ctrl.validatorRequest.can_add_partner_bsn"): .flex-row
                    button.button.button-primary.button-sm(ng-click="$ctrl.appendRecord()")
                        em.mdi.mdi-plus.icon-start
                        span(translate="validation_requests.buttons.add_partner_bsn")

            .card-section: .card-block.card-block-table.card-block-request-record: .table-wrapper: table.table
                thead: tr
                    th.cell-chevron(ng-if="$ctrl.validatorRequest.hasContent")
                    th(translate='validation_requests.labels.type' width="20%")
                    th(translate='validation_requests.labels.value' width="20%")
                    th(translate='validation_requests.labels.date' width="20%")
                    th(translate='validation_requests.labels.status' width="20%")
                    th.text-right(translate='validation_requests.labels.actions' width="20%").
                
                tbody(ng-repeat='record in $ctrl.validatorRequest.records')
                    tr
                        td.cell-chevron(ng-if="$ctrl.validatorRequest.hasContent"): a.mdi.mdi-menu-down.td-menu-icon(
                            ng-if="(record.files.length > 0) || (record.clarifications.length > 0)"
                            ng-class="{'mdi-menu-down': !record.shown, 'mdi-menu-up': record.shown}"
                            ng-click="record.shown = !record.shown")
                        td(ng-bind='record.record_type.name')
                        td(ng-bind='record.value !== null ? record.value : "Niet beschikbaar"' ng-class="{'text-muted': record.value !== null}")
                        td(ng-bind='record.created_at_locale')
                        td: .label.label-tag.label-round(
                            ng-class="$ctrl.stateLabels[record.state]"
                            translate='validation_requests.status.{{ record.state }}')
                        
                        td.text-right(ng-if="record.state != 'pending'")
                            .text-muted(translate='validation_requests.status.{{ record.state }}')

                        td.text-right(ng-if="record.state == 'pending' && !record.is_assigned")
                            .td-text-insert.text-muted(ng-if="record.employee_id")
                                span Toegewezen aan
                                .text-strong.nowrap(ng-if="record.employee.email" ng-bind="record.employee.email")
                                .text-strong.nowrap(ng-if="!record.employee.email" ng-bind="record.employee.identity_address | str_limit:32")

                            .text-muted(ng-if="!record.employee_id && record.is_assignable")
                                | Zelf toewijzen

                            .text-muted(ng-if="!record.employee_id && !record.is_assignable")
                                | Niet beschikbaar

                        td.text-right(ng-if="record.state == 'pending' && record.is_assigned")
                            .button-group.flex-end
                                .button.button-primary.button-icon(
                                    ng-click='$ctrl.declineRecord(record)'
                                    ng-if='$root.appConfigs.flags.singleRecordValidation')
                                    em.mdi.mdi-close

                                .button.button-default.button-icon(
                                    ng-if="$ctrl.organization.validator_records_edit_enabled"
                                    ng-click='$ctrl.editRecord(record)')
                                    em.mdi.mdi-pencil

                                .button.button-primary-light.button-icon(
                                    ng-click='$ctrl.clarifyRecord(record)')
                                    em.mdi.mdi-message-text

                                .button.button-default.button-icon(
                                    ng-click='$ctrl.approveRecord(record)'
                                    ng-if='$root.appConfigs.flags.singleRecordValidation')
                                    em.mdi.mdi-check
                    
                    tr.dim(ng-if='record.shown'): td(colspan='6')
                        fund-request-record-details(
                            ng-if="record.history.length"
                            fund-request="$ctrl.validatorRequest"
                            fund-request-record="record"
                            organization="$ctrl.organization")                                

            //- Fund request person
            fund-request-person(
                ng-if='$ctrl.validatorRequest.fund.has_person_bsn_api && $ctrl.validatorRequest.bsn && $ctrl.validatorRequest.is_sponsor_employee'
                ng-show="$ctrl.validatorRequest.is_assigned"
                organization="$ctrl.organization"
                fund-request="$ctrl.validatorRequest")

        block-card-note(
            is-assigned="$ctrl.validatorRequest.is_assigned"
            fetch-notes="$ctrl.fetchNotes(query)"
            delete-note="$ctrl.deleteNote(note)"
            store-note="$ctrl.storeNote(data)")
