- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.landing-root: .block.block-fund-invite(ng-if="$ctrl.invitation"): .wrapper
    div(ng-if="$ctrl.invitation.state == 'pending'")
        .invite-icon: img(src=src_prefix + './assets/img/sign_up-email.svg').invite-icon-img
        .invite-title U bent uitgenodigd om deel te nemen aan {{ $ctrl.invitation.fund.name }}
        .invite-subtitle 
            | U was afgelopen jaar aangesloten als aanbieder, daarom sturen wij u deze uitnodiging. 
            br
            | We hopen dat u weer meedoet.
            br
            | Heeft u vragen of loopt u tegen problemen aan bij de aanmelding? Dan kunt u een mail sturen naar
            | {{ $ctrl.invitation.sponsor_organization.email }} 
            | of bel naar telefoonnummer {{ $ctrl.invitation.sponsor_organization.phone }}
    
    div(ng-if="$ctrl.invitation.state == 'expired'")
        .invite-icon: img(src=src_prefix + './assets/img/sign_up-email.svg').invite-icon-img
        .invite-title U bent uitgenodigd om deel te nemen aan {{ $ctrl.invitation.fund.name }}
        .invite-subtitle 
            | U was afgelopen jaar aangesloten als aanbieder, daarom sturen wij u deze uitnodiging. We hopen dat u weer meedoet. U dient in te loggen om de uitnodiging te accepteren. Scan de QR-code met uw Me-app of gebruik het e-mailadres van het profiel dat hier op ingesteld staat.
            br
            | Heeft u vragen of loopt u tegen problemen aan bij de aanmelding? Dan kunt u een mail sturen naar 
            | {{ $ctrl.invitation.sponsor_organization.email }} 
            | of bel naar telefoonnummer {{ $ctrl.invitation.sponsor_organization.phone }}
    
    div(ng-if="$ctrl.invitation.state == 'accepted'")
        .invite-icon: img(src=src_prefix + './assets/img/icon-sign_up-success.svg').invite-icon-img
        .invite-title U bent geaccepteerd en klaar om te scannen!
        .invite-subtitle Mocht u alvast een aanbod willen plaatsen voor het nieuwe jaar, log dan in op uw dashboard.
        
    .invite-fund(ng-if="$ctrl.invitation.state != 'accepted'")
        .invite-fund-photo: img(ng-src="{{ $ctrl.invitation.fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}").invite-fund-photo-img
        .invite-fund-details
            .invite-fund-title(ng-bind="$ctrl.invitation.fund.name")
            .invite-fund-subtitle Aangeboden door: {{ $ctrl.invitation.sponsor_organization.name }}
            .invite-fund-description(ng-bind="$ctrl.invitation.fund.description")
        .invite-fund-expiration
            .invite-fund-expiration-label UITNODIGING GELDIG TOT EN MET
            .invite-fund-expiration-value {{ $ctrl.invitation.expire_at_locale }}
            .button.button-primary.button-slim(ng-if="$ctrl.invitation.state == 'pending'" ng-click="$ctrl.acceptInvitation()") Accepteer

    .invite-auth(ng-if="$ctrl.isAuthorized && $ctrl.showAuth")
        .text-center: a.button.button-primary(ng-click="$ctrl.goToOfficePage()") Ga naar dashboard

    .invite-auth(ng-if="!$ctrl.isAuthorized && $ctrl.showAuth")
        .block.block-auth-widget
            .auth-title Login met e-mail
            .auth-subtitle(translate="popup_auth.labels.link")

            form.form.auth-form(ng-submit="$ctrl.signInEmailForm.submit()")
                .auth-form-input
                    input(ng-model="$ctrl.signInEmailForm.values.email" type="email" placeholder="E-mail").form-control.email-auth
                    .form-error(ng-repeat="error in $ctrl.signInEmailForm.errors.email" ng-bind="error")
                button(type="submit").button.button-primary Login

            .auth-qr_code.hidden-xs
                .qr_code-container
                    .qr_code-description
                        .auth-title Login met Me-app
                        | Scan de QR-code aan de rechterzijde met de QR-scanner in de Me-app. 
                        | #[br] #[br]
                        | De Me-app wordt gebruikt om makkelijk en veilig in te loggen, betalingen te doen en tegoeden te beheren.
                        | #[br] #[br]

                        app-links

                    .qr_code-block: qr-code(
                        ng-if="$ctrl.qrValue" 
                        qr-value="$ctrl.qrValue" 
                        qr-type="auth_token" qr-logo=src_prefix + "./assets/img/me-logo.png")
