.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            a.breadcrumb-item(
                ui-sref="organization-funds({organization_id: $ctrl.fund.organization_id})" 
                translate="page_state_titles.funds")
            .breadcrumb-item.active(ng-bind="$ctrl.fund.name")

        //- Fund details
        .card: .card-section: .block.block-fund
            .fund-overview
                .fund-media: img.fund-media-img(
                    ng-src="{{ $ctrl.fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}")

                .fund-details
                    .fund-header
                        .fund-name(ng-bind="$ctrl.fund.name")
                        .tag.tag-success.tag-sm(
                            ng-if="$ctrl.fund.state == 'active'" 
                            translate="components.organization_funds.states.active")
                            
                        .tag.tag-warning.tag-sm(
                            ng-if="$ctrl.fund.state == 'paused'" 
                            translate="components.organization_funds.states.paused")
                        
                        .tag.tag-default.tag-sm(
                            ng-if="$ctrl.fund.state == 'closed'" 
                            translate="components.organization_funds.states.closed")

                    .fund-description(ng-bind='$ctrl.fund.description_short')

            .fund-actions: .button-group.flex-end
                .button.button-default(
                    ng-if="($ctrl.organization | hasPerm:'manage_funds') && $ctrl.organization.allow_2fa_restrictions"
                    ui-sref="funds-security($ctrl.fund)")
                    em.mdi.mdi-security.icon-start
                    translate(translate="fund_card_sponsor.buttons.security")

                .button.button-default(
                    ng-if="($ctrl.fund.organization | hasPerm:'manage_funds') && $ctrl.fund.state == 'waiting'"
                    ng-click="$ctrl.deleteFund($ctrl.fund)")
                    em.mdi.mdi-trash-can-outline.icon-start
                    | Verwijderen

                .button.button-default(
                    ng-if="($ctrl.fund.organization | hasPerm:['manage_funds','manage_fund_texts']:false)"
                    ui-sref="funds-edit($ctrl.fund)")
                    em.mdi.mdi-pencil.icon-start
                    | Bewerken        

        //- Fund: description, stats and criteria
        .card
            .card-header: .flex-row
                .flex-col: .card-title(translate="funds_show.labels.base_card.header.{{$ctrl.viewGeneralType}}")

                .flex: .block.block-inline-filters: .flex: div: .block.block-label-tabs.pull-right: .label-tab-set
                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewGeneralType == 'description'}"
                        ng-click="$ctrl.viewGeneralType = 'description'") Beschrijving

                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewGeneralType == 'formulas'}"
                        ng-click="$ctrl.viewGeneralType = 'formulas'") Rekenregels

                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewGeneralType == 'statistics'}"
                        ng-click="$ctrl.viewGeneralType = 'statistics'") Statistieken

                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewGeneralType == 'criteria'}"
                        ng-click="$ctrl.viewGeneralType = 'criteria'") Voorwaarden

            .card-section(ng-if="$ctrl.viewGeneralType == 'description'"): .fund-description
                .description-body(ng-if="$ctrl.fund.description_html")
                    .arrow-box.border.bg-dim: .arrow
                    .block.block-markdown(ng-bind-html="$ctrl.fund.description_html")

                .description-body(ng-if="!$ctrl.fund.description_html") 
                    .arrow-box.border.bg-dim: .arrow
                    | Geen data

            .card-section(ng-if="$ctrl.viewGeneralType == 'formulas'"): .card-block.card-block-table
                .table-wrapper: table.table(ng-if="$ctrl.fund.formulas.length > 0")
                    thead: tr
                        th ID
                        th Type
                        th Bedrag
                        th Gegeven
                        th Aangemaakt op
                        th.text-right Laatste aanpassing

                    tbody
                        tr(ng-repeat="formula in $ctrl.fund.formulas")
                            td(ng-bind="formula.id")
                            td(ng-bind="formula.type")
                            td(ng-bind="formula.amount_locale")
                            td(ng-bind="formula.record_type_name || '-'")
                            td 
                                strong(ng-bind="formula.created_at_locale.split(' - ')[0] || '-'").text-primary
                                br
                                span(ng-bind="formula.created_at_locale.split(' - ')[1]")
                            td.text-right
                                strong(ng-bind="formula.updated_at_locale.split(' - ')[0] || '-'").text-primary
                                br
                                span(ng-bind="formula.updated_at_locale.split(' - ')[1]")

                //- Fund formulas empty
                block-empty(
                    ng-if="!$ctrl.fund.formulas.length"
                    title="No fund formulas")

            .card-section(ng-if="$ctrl.viewGeneralType == 'criteria'").card-section-primary: .form 
                fund-criteria-editor(
                    fund="$ctrl.fund" 
                    organization="$ctrl.fund.organization" 
                    criteria="$ctrl.fund.form.criteria" 
                    is-editable="$ctrl.fund.criteria_editable" 
                    record-types="$ctrl.recordTypes" 
                    save-button='true'
                    on-save-criteria='$ctrl.onSaveCriteria(fund)'
                    validator-organizations="$ctrl.validatorOrganizations.data")   

            .card-section.card-section-warning(
                ng-if="$ctrl.viewGeneralType == 'statistics' && $ctrl.fund.is_configured")
                .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                    a.keyvalue-item.col.col-lg-3(
                        ui-sref="employees({organization_id: $ctrl.organization.id})")
                        .keyvalue-key(translate="fund_card_sponsor.labels.your_employees")
                        .keyvalue-value
                            span(ng-bind="$ctrl.fund.sponsor_count")
                            span.icon.mdi.mdi-account-multiple-plus

                    .keyvalue-item.col.col-lg-3(
                        ng-class="{'keyvalue-item-disabled': !$ctrl.fund.canInviteProviders}" 
                        ng-click="$ctrl.inviteProvider($ctrl.fund)")
                        .keyvalue-key(translate="fund_card_sponsor.labels.providers")
                        .keyvalue-value
                            span(ng-bind="$ctrl.fund.providersDescription")
                            span.icon.mdi.mdi-account-multiple-plus(ng-if="$ctrl.fund.canInviteProviders")

                    a.keyvalue-item.col.col-lg-3(
                        ng-class="{'keyvalue-item-disabled': !$ctrl.fund.canAccessFund}" 
                        ui-sref="csv-validation({ fund_id: $ctrl.fund.id })")
                        .keyvalue-key(translate="fund_card_sponsor.labels.applicants")
                        .keyvalue-value
                            span(ng-bind="$ctrl.fund.requester_count")
                            span.icon.mdi.mdi-account-multiple-plus(ng-if="$ctrl.fund.canAccessFund")

            .card-section.card-section-primary(ng-if="$ctrl.viewGeneralType == 'statistics'")
                .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                    .keyvalue-item.col.col-lg-3
                        .keyvalue-key Gestort
                        .keyvalue-value(ng-bind="$ctrl.fund.budget.total | currency_format")

                    .keyvalue-item.col.col-lg-3
                        .keyvalue-key Gebruikt
                        .keyvalue-value(ng-bind="$ctrl.fund.budget.used | currency_format")

                    .keyvalue-item.col.col-lg-3
                        .keyvalue-key Resterend
                        .keyvalue-value(ng-bind="$ctrl.fund.budget.total - $ctrl.fund.budget.used | currency_format")

        //- Fund: topups, implementations and identities
        .card
            //- Card header common elements
            .card-header: .flex-row
                .flex-grow: .flex-col: .card-title
                    translate(translate="funds_show.titles.{{ $ctrl.viewType }}")
                    span(ng-if="$ctrl.viewType == 'top_ups'") &nbsp;({{ $ctrl.top_up_transactions.meta.total }})
                    span(ng-if="$ctrl.viewType == 'implementations'") &nbsp;({{ $ctrl.implementations.meta.total }})
                    span(ng-if="$ctrl.viewType == 'identities'") &nbsp;({{ $ctrl.identities.meta.total }})

                .flex-row
                    .flex: .block.block-inline-filters: .flex: div: .block.block-label-tabs.pull-right: .label-tab-set
                        .label-tab.label-tab-sm(
                            ng-class="{active: $ctrl.viewType == 'top_ups'}"
                            ng-click="$ctrl.viewType = 'top_ups'") Bekijk aanvullingen

                        .label-tab.label-tab-sm(
                            ng-class="{active: $ctrl.viewType == 'implementations'}"
                            ng-click="$ctrl.viewType = 'implementations'") Webshop

                        .label-tab.label-tab-sm(
                            ng-class="{active: $ctrl.viewType == 'identities'}"
                            ng-click="$ctrl.viewType = 'identities'") Aanvragers

                    //- Top-up filters
                    .flex-col(ng-if="$ctrl.viewType == 'top_ups'"): .block.block-inline-filters
                        .button.button-text(
                            ng-if="$ctrl.topUpTransactionFilters.show" 
                            ng-click="$ctrl.topUpTransactionFiltersvalues = {}")
                            em.mdi.mdi-close.icon-start
                            span(translate="Wis filters")

                        .form(ng-if="!$ctrl.topUpTransactionFilters.show")
                            .form-group: input(
                                ng-model="$ctrl.topUpTransactionFilters.values.q" 
                                type="text" 
                                placeholder="Zoeken").form-control

                        .inline-filters-dropdown.pull-right(click-outside="$ctrl.hideTopUpTransactionFilters()")
                            .inline-filters-dropdown-content(ng-show="$ctrl.topUpTransactionFilters.show")
                                .arrow-box.bg-dim: .arrow
                                .form
                                    .form-group
                                        form-label-toggle(label="{{ 'funds_show.top_up_table.filters.search' | translate }}" is-active)
                                        input(
                                            type="text"
                                            ng-model="$ctrl.topUpTransactionFilters.values.q"
                                            placeholder="{{ 'funds_show.top_up_table.filters.search' | translate }}").form-control
                                    
                                    .form-group
                                        form-label-toggle(label="{{ 'funds_show.top_up_table.filters.amount' | translate }}")

                                        .row
                                            .col.col-sm-6: input(
                                                type="number" 
                                                ng-model="$ctrl.topUpTransactionFilters.values.amount_min" 
                                                placeholder="{{ 'funds_show.top_up_table.filters.amount_min' | translate }}").form-control

                                            .col.col-sm-6: input(
                                                type="number" 
                                                ng-model="$ctrl.topUpTransactionFilters.values.amount_max" 
                                                placeholder="{{ 'funds_show.top_up_table.filters.amount_max' | translate }}").form-control

                                    .form-group
                                        form-label-toggle(label="{{ 'funds_show.top_up_table.filters.from' | translate }}")
                                        datepicker(
                                            date-format="yyyy-MM-dd" 
                                            datepicker-mobile="" 
                                            date-week-start-day="1").form-control
                                            input(
                                                type="text" 
                                                ng-model="$ctrl.topUpTransactionFilters.values.from"
                                                placeholder="jjjj-MM-dd").form-control
                                    
                                    .form-group
                                        form-label-toggle(label="{{ 'funds_show.top_up_table.filters.to' | translate }}")
                                        datepicker(
                                            date-format="yyyy-MM-dd" 
                                            datepicker-mobile="" 
                                            date-week-start-day="1").form-control
                                            input(
                                                ng-model="$ctrl.topUpTransactionFilters.values.to"
                                                type="text"
                                                placeholder="jjjj-MM-dd").form-control
                        
                            .button.button-default.button-icon(ng-click="$ctrl.topUpTransactionFilters.show = !$ctrl.topUpTransactionFilters.show")
                                em.mdi.mdi-filter-outline

                    //- Implementations filters
                    .flex-col(ng-if="$ctrl.viewType == 'implementations'"): .block.block-inline-filters
                        .button.button-text(
                            ng-if="$ctrl.implementationsFilters.show" 
                            ng-click="$ctrl.implementationsFilters.values = {}")
                            em.mdi.mdi-close.icon-start
                            span(translate="Wis filters")

                        .form(ng-if="!$ctrl.implementationsFilters.show")
                            .form-group.inline-filters-search: input(
                                ng-model="$ctrl.implementationsFilters.values.q" 
                                type="text" 
                                placeholder="Zoeken").form-control

                        .inline-filters-dropdown.pull-right(click-outside="$ctrl.hideImplementationsFilter()")
                            .inline-filters-dropdown-content(ng-show="$ctrl.implementationsFilters.show")
                                .arrow-box.bg-dim: .arrow
                                .form
                                    .form-group
                                        form-label-toggle(
                                            label="{{ 'funds_show.implementations_table.filters.search' | translate }}" 
                                            is-active)

                                        input(
                                            type="text"
                                            ng-model="$ctrl.implementationsFilters.values.q"
                                            placeholder="{{ 'funds_show.implementations_table.filters.search' | translate }}").form-control
                        
                            .button.button-default.button-icon(ng-click="$ctrl.implementationsFilters.show = !$ctrl.implementationsFilters.show")
                                em.mdi.mdi-filter-outline

                    //- Identities filters 
                    .flex-col(ng-if="$ctrl.viewType == 'identities'"): .block.block-inline-filters
                        .button.button-text(
                            ng-if="$ctrl.identitiesFilters.show" 
                            ng-click="$ctrl.topUpTransactionFiltersvalues = {}")
                            em.mdi.mdi-close.icon-start
                            span(translate="Wis filters")

                        .form(ng-if="!$ctrl.identitiesFilters.show")
                            .form-group.inline-filters-search: input(
                                ng-model="$ctrl.identitiesFilters.values.q" 
                                type="text" 
                                placeholder="Zoeken").form-control

                        .inline-filters-dropdown.pull-right(click-outside="$ctrl.hideIdentitiesFilters()")
                            .inline-filters-dropdown-content(ng-show="$ctrl.identitiesFilters.show")
                                .arrow-box.bg-dim: .arrow
                                .form
                                    .form-group
                                        form-label-toggle(label="{{ 'funds_show.top_up_table.filters.search' | translate }}" is-active)
                                        input(
                                            type="text"
                                            ng-model="$ctrl.identitiesFilters.values.q"
                                            placeholder="{{ 'funds_show.top_up_table.filters.search' | translate }}").form-control

                                    .form-actions
                                        button.button.button-primary.button-wide(ng-click="$ctrl.exportIdentities()")
                                            em.mdi.mdi-download.icon-start  
                                            span.ng-scope(translate="components.dropdown.export" translate-values="{ total: $ctrl.identities.meta.total }")
                        
                            .button.button-default.button-icon(ng-click="$ctrl.identitiesFilters.show = !$ctrl.identitiesFilters.show")
                                em.mdi.mdi-filter-outline

            //- Fund top-ups
            .card-section.card-section-padless(
                ng-if="$ctrl.viewType == 'top_ups' && $ctrl.top_up_transactions.meta.total > 0"): .table-wrapper: table.table
                thead: tr
                    th(th-sortable filters="$ctrl.topUpTransactionFilters.values" label="funds_show.top_up_table.columns.code" value="code")
                    th(th-sortable filters="$ctrl.topUpTransactionFilters.values" label="funds_show.top_up_table.columns.iban" value="iban")
                    th(th-sortable filters="$ctrl.topUpTransactionFilters.values" label="funds_show.top_up_table.columns.amount" value="amount")
                    th(th-sortable  filters="$ctrl.topUpTransactionFilters.values" label="funds_show.top_up_table.columns.date" value="created_at").text-right

                tbody
                    tr(ng-repeat="top_up_transaction in $ctrl.top_up_transactions.data")
                        td(ng-bind="top_up_transaction.code")
                        td(
                            ng-bind="top_up_transaction.iban || 'Geen IBAN'"
                            ng-class="!top_up_transaction.iban ? 'text-muted' : ''")
                        td(ng-bind="top_up_transaction.amount_locale")
                        td.text-right(ng-bind="top_up_transaction.created_at_locale")

            //- Fund top-ups pagination
            .card-section.card-section-narrow(
                ng-if="$ctrl.viewType == 'top_ups' && $ctrl.top_up_transactions"
                ng-show="$ctrl.top_up_transactions.meta.total > 0"): paginator(
                    ng-if="$ctrl.top_up_transactions.meta"
                    meta="$ctrl.top_up_transactions.meta"
                    delayed-filters="['q', 'amount_min', 'amount_max']"
                    filters="$ctrl.topUpTransactionFilters.values"
                    on-page-change="$ctrl.topUpTransactionsOnPageChange(query)"
                    per-page-key="{{ $ctrl.topUpPaginationPerPageKey }}")

            //- Fund top-ups empty
            block-empty(
                ng-if="$ctrl.viewType == 'top_ups' && $ctrl.top_up_transactions.meta.total == 0"
                title="No top-ups"
                text="{{ $ctrl.lastQueryTopUpTransactions ? 'Could not find any top-ups for \"' + $ctrl.lastQueryTopUpTransactions + '\"' : 'No top-ups' }}")

            //- Implementations
            .card-section.card-section-padless(ng-if="$ctrl.viewType == 'implementations'"): .table-wrapper: table.table
                tr
                    th.td-narrow Afbeelding
                    th Naam
                    th Status
                    th Acties

                tr(
                    ng-repeat="implementation in $ctrl.implementations.data"
                    ui-sref="implementation-view({organization_id: $ctrl.fund.organization_id, id: implementation.id})")
                    td.td-narrow: img(ng-src="{{ implementation.logo || './assets/img/placeholders/organization-thumbnail.png' }}").td-media
                    td(ng-bind="implementation.name")
                    td(ng-if="$ctrl.fund.state == 'active'"): .label.label-success Zichtbaar
                    td(ng-if="$ctrl.fund.state != 'active'"): .label.label-default Onzichtbaar

                    td.td-narrow.text-right
                        button.button.button-text.button-menu(
                            type="button" 
                            ng-click="$ctrl.toggleActions($event, implementation)")
                            em.mdi.mdi-dots-horizontal

                            .menu-dropdown(
                                click-outside="$ctrl.onClickOutsideMenu($event, implementation)" 
                                ng-if="implementation.showMenu")

                                .menu-dropdown-arrow
                                .dropdown.dropdown-actions
                                    a(target="_blank" href="{{ implementation.url_webshop + 'funds/' + $ctrl.fund.id }}").dropdown-item
                                        | #[em.mdi.mdi-open-in-new.icon-start] Bekijk op webshop
                                    
                                    a(
                                        ng-if="$root.activeOrganization | hasPerm:['manage_implementation_cms']:false"
                                        ui-sref="implementation-view({organization_id: $ctrl.fund.organization_id, id: implementation.id})").dropdown-item
                                        | #[em.mdi.mdi-store-outline.icon-start] Ga naar CMS

            //- Implementations empty
            block-empty(
                ng-if="$ctrl.viewType == 'implementations' && $ctrl.implementations.meta.total == 0"
                title="No webshops"
                text="{{ $ctrl.lastQueryImplementations ? 'Could not find any webshops for \"' + $ctrl.lastQueryImplementations + '\"' : '' }}")

            //- Implementations pagination
            .card-section.card-section-narrow(
                ng-if="$ctrl.viewType == 'implementations' && $ctrl.implementations"
                ng-show="$ctrl.implementations.meta.total > 0")
                paginator(
                    meta="$ctrl.implementations.meta" 
                    filters="$ctrl.implementationsFilters.values" 
                    on-page-change="$ctrl.implementationsOnPageChange(query)"
                    per-page-key="{{ $ctrl.implementationPaginationPerPageKey }}")

            //- Fund ideitnties
            .card-section(ng-if="$ctrl.viewType == 'identities' && $ctrl.identities && $ctrl.identities.meta.total > 0")
                .card-block.card-block-table: .table-wrapper: table.table
                    tr
                        th(th-sortable filters="$ctrl.identitiesFilters.values" label="ID" value="id")
                        th(th-sortable filters="$ctrl.identitiesFilters.values" label="E-mail" value="email")
                        th(th-sortable filters="$ctrl.identitiesFilters.values" label="Totaal aantal vouchers" value="count_vouchers")
                        th(th-sortable filters="$ctrl.identitiesFilters.values" label="Actieve vouchers" value="count_vouchers_active")
                        th(th-sortable filters="$ctrl.identitiesFilters.values" label="Actieve vouchers met saldo" value="count_vouchers_active_with_balance")
                        th(translate="identities.labels.actions").nowrap.text-right

                    tr(
                        ng-repeat="identity in $ctrl.identities.data"
                        ui-sref="identities-show({organization_id: $ctrl.fund.organization_id, id: identity.id, fund_id: $ctrl.fund.id})")

                        td(ng-bind="identity.id")
                        td(ng-bind="identity.email")
                        td(ng-bind="identity.count_vouchers")
                        td(ng-bind="identity.count_vouchers_active")
                        td(ng-bind="identity.count_vouchers_active_with_balance")
                        td: a.button.button-primary.button-sm.pull-right(
                            ui-sref="identities-show({organization_id: $ctrl.fund.organization_id, id: identity.id, fund_id: $ctrl.fund.id})")
                            em.mdi.mdi-eye-outline.icon-start
                            | Bekijken

            //- Fund ideitnties empty
            block-empty(
                ng-if="$ctrl.viewType == 'identities' && $ctrl.identities.meta.total == 0"
                title="Geen gebruikers gevonden"
                text="{{ $ctrl.lastQueryIdentities ? 'Geen gebruikers gevonden voor \"' + $ctrl.lastQueryIdentities + '\"' : '' }}")

            //- Fund ideitnties pagination
            .card-section.card-section-narrow(
                ng-if="$ctrl.viewType == 'identities' && $ctrl.identities"
                ng-show="$ctrl.identities.meta.total > 0")
                paginator(
                    meta="$ctrl.identities.meta" 
                    filters="$ctrl.identitiesFilters.values" 
                    on-page-change="$ctrl.identitiesOnPageChange(query)"
                    per-page-key="{{ $ctrl.identitiesPaginationPerPageKey }}")

            //- Fund ideitnties stats
            .card-section.card-section-primary(
                ng-if="$ctrl.viewType == 'identities' && $ctrl.identities"
                ng-show="$ctrl.identities.meta.total > 0")
                .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                    .keyvalue-item.col.col-lg-4
                        .keyvalue-key Aanvragers met vouchers
                        .keyvalue-value
                            span(ng-bind="$ctrl.identities.meta.counts.active")
                            span.icon.mdi.mdi-account-multiple-outline

                    .keyvalue-item.col.col-lg-4
                        .keyvalue-key Aanvragers zonder e-mailadres
                        .keyvalue-value
                            span(ng-bind="$ctrl.identities.meta.counts.without_email")
                            span.icon.mdi.mdi-email-off-outline
                
