.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(
                ui-sref="sponsor-provider-organizations({organization_id: $ctrl.organization.id})" 
                translate="page_state_titles.organization-providers")
            .breadcrumb-item(
                ui-sref="sponsor-provider-organization({organization_id: $ctrl.organization.id, provider_organization_id:$ctrl.fundProvider.organization.id})" 
                ng-bind="$ctrl.fundProvider.organization.name")
            .breadcrumb-item(
                ui-sref="fund-provider({organization_id:$ctrl.organization.id, fund_id: $ctrl.fund.id, fund_provider_id: $ctrl.fundProvider.id})" 
                ng-bind="$ctrl.fundProvider.fund.name")
            .breadcrumb-item.active(
                ng-bind="$ctrl.product.name")

        .block.block-provider-product
            .product-overview
                .product-media: img.product-media-img(
                    ng-src="{{ $ctrl.product.photo ? $ctrl.product.photo.sizes.small : './assets/img/placeholders/product-small.png' }}")

                .product-details
                    .product-name(ng-bind="$ctrl.product.name")
                    .product-properties
                        .product-property
                            .product-property-label(translate="product_edit.labels.expire")
                            .product-property-value(ng-bind="$ctrl.product.expire_at ? $ctrl.product.expire_at_locale : 'Onbeperkt'")
                        .product-property
                            .product-property-label(translate="product_edit.labels.sold")
                            .product-property-value(ng-bind="$ctrl.product.sold_amount")
                        .product-property
                            .product-property-label(translate="product_edit.labels.reserved")
                            .product-property-value(ng-bind="$ctrl.product.reserved_amount")

                .product-actions.form
                    .product-price(ng-bind="$ctrl.product.price_locale")

                    //- budget fund toggle
                    .form-group.form-group-inline(ng-if="$ctrl.fundProvider.fund.type == 'budget'")
                        label(
                            for=("product_{{ $ctrl.product.id }}_enabled") 
                            ng-class="$ctrl.fundProvider.allow_products ? 'form-toggle-disabled form-toggle-active' : ''").form-toggle
                            input(
                                type="checkbox" 
                                id=("product_{{ $ctrl.product.id }}_enabled") 
                                ng-model="$ctrl.product.allowed"
                                ng-change="$ctrl.updateAllowBudgetItem($ctrl.fundProvider, $ctrl.product)")
                            .form-toggle-inner: .toggle-input: .toggle-input-dot

                    //- subsidy fund button
                    div.flex.flex-end(ng-if="$ctrl.fundProvider.fund.type == 'subsidies'")
                        a.button.button-primary.button-sm.nowrap(
                            ui-sref="fund-provider-product-subsidy-edit($ctrl.product.approvedActionParams)"
                            ng-if="$ctrl.product.is_available && !$ctrl.product.allowed")
                            em.mdi.mdi-play.icon-start
                            | Start subsidie

                        .tag.tag-success.nowrap(ng-if="$ctrl.product.is_available && $ctrl.product.allowed")
                            | Subsidie actief 
                            .mdi.mdi-close.icon-end(ng-click="$ctrl.disableProductItem($ctrl.fundProvider, $ctrl.product)")

            .product-description
                .description-header
                    | Beschrijving

                    .description-header-action
                        .button.button-primary-light(
                            ng-if="!$ctrl.product.sponsor_organization_id && !$ctrl.fundProviderProductChat" 
                            ng-click="$ctrl.makeChat()")
                            em.mdi.mdi-message-text.icon-start
                            | Nieuw aanpassingsverzoek

                        .button.button-primary(
                            ng-if="$ctrl.product.sponsor_organization_id === $ctrl.organization.id && !$ctrl.fundProviderProductChat" 
                            ui-sref="fund-provider-product-edit($ctrl.product.editParams)")
                            em.mdi.mdi-pencil.icon-start
                            | Bewerken

                    .description-header-action(ng-if="!$ctrl.product.sponsor_organization && $ctrl.fundProviderProductChat")
                        span(ng-if="$ctrl.fundProviderProductChat.sponsor_unseen_messages") 
                            | {{ $ctrl.fundProviderProductChat.sponsor_unseen_messages }} nieuwe 

                        .button.button-icon(
                            ng-class="$ctrl.fundProviderProductChat.sponsor_unseen_messages > 0 ? 'button-primary-light' : 'button-default'" 
                            ng-disabled="!$ctrl.fundProviderProductChat" 
                            ng-click="$ctrl.showTheChat()")
                            em.mdi.mdi-message-text(
                                ng-class="{'text-primary':$ctrl.fundProviderProductChat && !$ctrl.fundProviderProductChat.sponsor_unseen_messages}")

                .description-body(ng-if="$ctrl.product.description_html")
                    .arrow-box.border.bg-dim: .arrow
                    div(ng-bind-html="$ctrl.product.description_html")

                .description-body(ng-if="!$ctrl.product.description_html") 
                    .arrow-box.border.bg-dim: .arrow
                    | Geen data

        .card(ng-if="$ctrl.product.deals_history.length > 0")
            .card-header: .flex-row
                .flex-col: .card-title Lopende en verlopen acties op {{ $ctrl.product.name }}

            .card-section.card-section-padless: .table-wrapper: table.table
                tr
                    th.td-narrow Gebruikt
                    th Totaal aantal aanbiedingen #[tooltip(text="'Totaal aantal aanbiedingen waaraan uw organisatie wilt bijdragen'")]
                    th Limiet per aanvrager
                    th Bijdrage
                    th Status
                    th Verloopdatum
                    th

                tr(ng-repeat="item in $ctrl.product.deals_history")
                    td(ng-bind="item.voucher_transactions_count")
                    td(ng-bind="item.limit_total_unlimited ? 'Onbeperkt' : item.limit_total")
                    td(ng-bind="item.limit_per_identity")
                    td(ng-bind="item.amount | currency_format")
                    td(ng-bind="item.expire_at_locale ? item.expire_at_locale : 'Verloopt met het fonds'")
                    td
                        .tag.tag-success(ng-if="item.active") Actief
                        .tag.tag-default(ng-if="!item.active") Afgelopen
                    td.td-narrow
                        a(ui-sref="fund-provider-product-subsidy-edit(item.showSubsidyDealParams)").button.button-default.button-sm
                            em.mdi.mdi-eye-outline.icon-start
                            | Kijk
