.app.app-container
    menu
    section.app.app-content
        //- Breadcrumbs
        .block.block-breadcrumbs(ng-if="$root.activeOrganization")
            .breadcrumb-item(ui-sref="organization-funds({organization_id:$root.activeOrganization.id})") Fondsen
            .breadcrumb-item.active(ng-if="$ctrl.fund" ng-bind="$ctrl.fund.name")
            .breadcrumb-item.active(ng-if="!$ctrl.fund" i18n="funds_edit.header.title_add")

        //- Fund edit form
        .card: form(ng-submit="$ctrl.form.submit()").form
            //- Header
            .card-header: .card-title Tweefactorauthenticatie voor aanvragers

            //- Enable/Disable
            .card-section.card-section-primary: .row: .col.col-lg-9.col-xs-12
                //- 2fa level
                .form-group.form-group-inline   
                    label.form-label 2FA beperkingen

                    .form-offset: select-control(
                        prop="value"
                        search="false"
                        ng-model="$ctrl.form.values.auth_2fa_policy" 
                        options="$ctrl.auth2FARequiredOptions").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.type" ng-bind="error")

                //- show global policy type 
                .form-group.form-group-inline(ng-if="$ctrl.form.values.auth_2fa_policy == 'global'")
                    label.form-label
                    .form-hint 2FA restrictions: {{ $ctrl.organization_2fa_policy_name }}

                //- Remember IP
                .form-group.form-group-inline(ng-if="$ctrl.form.values.auth_2fa_policy == 'required' || $ctrl.form.values.auth_2fa_policy == 'global'")
                    label.form-label {{ $ctrl.form.values.auth_2fa_policy == 'global' ? '' : 'Onthoud IP-adres' }}

                    .form-offset: select-control(
                        ng-show="$ctrl.form.values.auth_2fa_policy != 'global'"
                        prop="value"
                        search="false"
                        ng-model="$ctrl.form.values.auth_2fa_remember_ip" 
                        options="$ctrl.auth2FARememberIpOptions").form-control
                    .form-hint(ng-show="$ctrl.form.values.auth_2fa_policy == 'global'")
                        | Onthoud IP-adres: {{ $ctrl.fund.organization_2fa_funds.auth_2fa_funds_remember_ip ? 'Ja' : 'Nee' }}
                    .form-error(ng-repeat="error in $ctrl.form.errors.type" ng-bind="error")
                
                //- Restrict some features
                .form-group.form-group-inline(ng-if="$ctrl.form.values.auth_2fa_policy == 'restrict_features' || $ctrl.global_and_restricted_2fa")
                    label.form-label 

                    .form-offset
                        div: input-checkbox-control(
                            ng-show="$ctrl.form.values.auth_2fa_policy != 'global'"
                            name="auth_2fa_restrict_emails" 
                            ng-model="$ctrl.form.values.auth_2fa_restrict_emails" 
                            label="Aanpassen van e-mailadres")
                        .form-hint(ng-show="$ctrl.form.values.auth_2fa_policy == 'global'") 
                            | Aanpassen van e-mailadres: {{ $ctrl.organization_2fa_funds.auth_2fa_funds_restrict_emails ? 'Ja' : 'Nee' }}

                        div: input-checkbox-control(
                            ng-show="$ctrl.form.values.auth_2fa_policy != 'global'"
                            name="auth_2fa_restrict_auth_sessions" 
                            ng-model="$ctrl.form.values.auth_2fa_restrict_auth_sessions" 
                            label="Aanpassen van inlog sessies")
                        .form-hint(ng-show="$ctrl.form.values.auth_2fa_policy == 'global'")
                            | Aanpassen van inlog sessies: {{ $ctrl.organization_2fa_funds.auth_2fa_funds_restrict_auth_sessions ? 'Ja' : 'Nee' }}

                        div: input-checkbox-control(
                            ng-show="$ctrl.form.values.auth_2fa_policy != 'global'"
                            name="auth_2fa_restrict_reimbursements" 
                            ng-model="$ctrl.form.values.auth_2fa_restrict_reimbursements" 
                            label="Indienen van declaraties")
                        .form-hint(ng-show="$ctrl.form.values.auth_2fa_policy == 'global'")
                            | Indienen van declaraties: {{ $ctrl.organization_2fa_funds.auth_2fa_funds_restrict_reimbursements ? 'Ja' : 'Nee' }}

            //- Submit
            .card-section.card-section-primary: .text-center
                a(ui-sref="organization-funds($ctrl.fund)").button.button-default Annuleer
                button(type="submit").button.button-primary Bevestig
