.app.app-container
    menu
    section.app.app-content(ng-if="$ctrl.loaded")
        .block.block-breadcrumbs
            .breadcrumb-item(
                ui-sref="sponsor-provider-organizations($ctrl.stateParams.sponsor_provider_organization)" 
                translate="page_state_titles.organization-providers")
            .breadcrumb-item(
                ui-sref="sponsor-provider-organization($ctrl.stateParams.sponsor_provider_organization)"
                ng-bind="$ctrl.fundProvider.organization.name")
            .breadcrumb-item(
                ui-sref="fund-provider($ctrl.stateParams.fund_provider_product)"
                ng-bind="$ctrl.fundProvider.fund.name")
            .breadcrumb-item(
                ui-sref="fund-provider-product($ctrl.stateParams.fund_provider_product)"
                ng-bind="$ctrl.product.name")
            .breadcrumb-item.active Subsidie starten

        //- Subsidy on webshop overview
        .block.block-subsidy-product-overview
            .subsidy-product-media
                .subsidy-media(
                    ng-if="$ctrl.product.photo.sizes.small"
                    ng-style="{'background-image': 'url(' + $ctrl.product.photo.sizes.small + ')'}")
                
                .subsidy-media(
                    ng-if="!$ctrl.product.photo.sizes.small"
                    ng-style="{'background-image': 'url(./assets/img/placeholders/product-thumbnail.png)'}")

            .subsidy-product-content
                .subsidy-product-overview
                    .subsidy-title Organisatie
                    .subsidy-provider(ng-bind="$ctrl.product.organization.name")
                    .subsidy-title(ng-bind="$ctrl.product.name")
                    .subsidy-properties
                        .subsidy-property
                            .subsidy-property-label Vervaldatum van aanbod: 
                            .subsidy-property-value(ng-bind="$ctrl.product.expire_at ? $ctrl.product.expire_at_locale : 'Onbeperkt'")
                        .subsidy-property
                            .subsidy-property-label Beschikbaar: 
                            .subsidy-property-value(ng-bind="$ctrl.product.unlimited_stock ? 'Ongelimiteerd' : $ctrl.product.stock_amount")

                .subsidy-product-overview.text-right
                    .subsidy-title Transactie details

                    .subsidy-property.subsidy-property-monetary(
                        ng-if="$ctrl.product.price_type === 'free' || $ctrl.product.price_type === 'regular'")
                        .subsidy-property-label Totaalprijs
                        .subsidy-property-value.text-left(ng-bind="$ctrl.product.price_locale")

                    .subsidy-property.subsidy-property-monetary(
                        ng-if="$ctrl.product.price_type === 'discount_fixed' || $ctrl.product.price_type === 'discount_percentage'")
                        .subsidy-property-label Korting

                        .subsidy-property-value.text-left(
                            ng-if="$ctrl.product.price_type === 'discount_fixed'" 
                            ng-bind="$ctrl.product.price_discount | currency_format")

                        .subsidy-property-value.text-left(
                            ng-if="$ctrl.product.price_type === 'discount_percentage'" 
                            ng-bind="$ctrl.product.price_discount + '%'")

                    .subsidy-property.subsidy-property-monetary
                        .subsidy-property-label(ng-bind="$ctrl.fund.organization.name + ' betaalt'")
                        .subsidy-property-value.text-left(ng-bind="($ctrl.values.gratis ? $ctrl.product.price : ($ctrl.values.amount || $ctrl.deal.amount || 0)) | currency_format")

                    .subsidy-property.subsidy-property-monetary(ng-if="$ctrl.product.price_type === 'regular'")
                        .subsidy-property-label Prijs voor de klant
                        .subsidy-property-value.text-left(
                            ng-bind='$ctrl.max(0, $ctrl.values.gratis ? 0 : $ctrl.product.price - ($ctrl.values.amount || $ctrl.deal.amount)) | currency_format')

        //- Subsidy form overview
        .card(ng-if="$ctrl.readOnly")
            .card-header: .card-title Subsidie starten
            .card-section.card-section-primary.form: .row: .col.col-lg-4.col-xs-12
                .subsidy-form-content
                    .form
                        .form-group.form-group-inline
                            .form-label 
                                | Totaal aantal 
                                tooltip(text="'Totaal aantal aanbiedingen dat vanuit ' + $ctrl.fund.name + ' gebruikt mag worden.'")
                            .form-offset: .col.col-lg-12: .form-value-placeholder.text-right(
                                ng-bind="$ctrl.deal.limit_total_unlimited ? 'Onbeperkt' : $ctrl.deal.limit_total")
                        .form-group.form-group-inline
                            .form-label 
                                | Limiet per aanvrager
                                tooltip(text="'Hoevaak mag er per inwoner gebruik gemaakt worden van deze aanbieding.'")
                            .form-offset: .col.col-lg-12: .form-value-placeholder.text-right(
                                ng-bind="$ctrl.deal.limit_per_identity")

                        .form-group.form-group-inline
                            .form-label 
                                | Bijdrage
                                tooltip(text="'Volledige bijdrage vanuit de sponsor'")
                                
                            .form-offset: .col.col-lg-12: .form-value-placeholder.text-right(
                                ng-bind="$ctrl.deal.amount | currency_format")

                        .form-group.form-group-inline
                            .form-label 
                                | Gebruikt
                                tooltip(text="'Hoeveel tegoed (tot zijn limiet) heeft de aanvrager gebruikt.'")
                            .form-offset: .col.col-lg-12: .form-value-placeholder.text-right(
                                ng-bind="$ctrl.deal.voucher_transactions_count")
        
        //- Subsidy edit form
        fund-provider-product-editor(
            ng-if="!$ctrl.readOnly"
            fund="$ctrl.fund" 
            deal="$ctrl.deal"
            on-cancel="$ctrl.onCancel()"
            on-update="$ctrl.onUpdate()"
            on-values-change="$ctrl.onValuesChange"
            product="$ctrl.product"
            fund-provider="$ctrl.fundProvider")
