.app.app-container
    menu
    section.app.app-content
        //- Fund type
        block-empty(
            ng-if="!$ctrl.implementation"
            title="You don't have any implementations"
            text="In order to user prechecks you need to have at least one implementation and at least one fund.")

        //- Fund pre-check preview form
        .card(ng-if="$ctrl.implementation"): form(ng-submit="$ctrl.preCheckForm.submit()").form
            //- Header
            .card-header.flex-row
                .card-title(translate="funds_pre_check.header.title")
                .flex.flex-grow.flex-end
                    a.button.button-text.button-sm(
                        ng-if="$ctrl.implementation.pre_check_enabled" 
                        href="{{ $ctrl.implementation.pre_check_url }}"
                        target="_blank")
                        | Bekijk pagina
                        .mdi.mdi-open-in-new.icon-end 

                    button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary.button-sm

            //- Status (enabled/disabled)
            .card-section.card-section-primary: .row: .col.col-lg-12.col-xs-12
                .form-group(ng-if="$ctrl.implementations.length > 1")
                    label(translate="funds_pre_check.labels.implementation").form-label

                    .form-offset: select-control(
                        prop="id"
                        search="false"
                        ng-model="$ctrl.preCheckForm.values.implementation_id"
                        ng-change="$ctrl.updateImplementation($ctrl.preCheckForm.values.implementation_id)"
                        options="$ctrl.implementations").form-control

                        .form-error(ng-repeat="error in $ctrl.preCheckForm.errors.implementation_id" ng-bind="error")

                .form-group
                    label(translate="funds_pre_check.labels.status").form-label

                    .form-offset: select-control(
                        prop="key"
                        search="false"
                        ng-model="$ctrl.preCheckForm.values.pre_check_enabled"
                        options="$ctrl.enableOptions").form-control

                        .form-error(ng-repeat="error in $ctrl.preCheckForm.errors.pre_check_enabled" ng-bind="error")

            .card-section.card-section-primary: .row: .col.col-lg-12.col-xs-12
                .card-heading(translate="funds_pre_check.labels.description_title")

                //- Title
                .form-group
                    label(translate="funds_pre_check.labels.title").form-label.form-label-required
                    .form-offset
                        input(
                            placeholder="Title"
                            ng-model="$ctrl.preCheckForm.values.pre_check_title").form-control.r-n
                        .form-error(ng-repeat="error in $ctrl.preCheckForm.errors.pre_check_title" ng-bind="error")
                        .form-hint Max. 50 tekens

                //- Description
                .form-group
                    label(translate="funds_pre_check.labels.description").form-label
                    .form-offset
                        textarea(
                            placeholder="Voeg omschrijving toe"
                            ng-model="$ctrl.preCheckForm.values.pre_check_description").form-control.r-n
                        .form-error(ng-repeat="error in $ctrl.preCheckForm.errors.pre_check_description" ng-bind="error")
                        .form-hint Max. 1000 tekens

            .card-section.card-section-primary(ng-if="$ctrl.funds.meta.total > 0"): .row: .col.col-lg-12.col-xs-12
                .card-heading Stappen ({{ $ctrl.preChecks.length }})

                fund-pre-check-step-editor(
                    errors="$ctrl.preCheckForm.errors"
                    implementation="$ctrl.implementation"
                    pre-checks="$ctrl.preChecks")

            .card-section.card-section-primary: .row: .col.col-lg-12.col-xs-12
                //- Fund type
                block-empty(
                    ng-if="$ctrl.funds.meta.total == 0"
                    title="Geen fondsen gevonden"
                    text="Op dit moment lijkt u geen actieve fondsen te hebben. Voordat u verder gaat, moet u eerst een fonds aanmaken."
                    image-src="./assets/img/no-funds-icon.svg"
                    button-text="Ga naar de fondsenpagina"
                    button-sref="funds-create"
                    button-sref-params="{organization_id: $ctrl.organization.id}"
                    button-type="primary"
                    button-icon="plus")

                .block.block-info-box.block-info-box-default.block-info-box-dashed
                    .info-box-icon.mdi.mdi-information.flex-center.flex-vertical
                    .info-box-content: .block.block-markdown: p
                        | U heeft de mogelijkheid om extra stappen toe te voegen die zichtbaar zullen zijn in de Pre-Check voor de aanvrager.
                            
            //- Submit
            .card-section: .text-right
                button(type="button" ng-click="$ctrl.cancel()" translate="funds_edit.buttons.cancel" id="cancel").button.button-default
                button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary

        //- Fund pre-check preview form
        .card(ng-if="$ctrl.implementation"): form(ng-submit="$ctrl.bannerForm.submit()").form
            //- Header
            .card-header
                .card-title Homepagina banner
   
            //- Fund pre-check banner
            .card-section.card-section-primary
                .form-group: .form-offset: photo-selector(
                    type="pre_check_banner"
                    thumbnail="$ctrl.thumbnailMedia.sizes.thumbnail"
                    media="$ctrl.mediaFile"
                    reset-photo="$ctrl.resetPhoto()"
                    select-photo="$ctrl.selectPhoto(file)")

                //- State
                .form-group
                    label.form-label Actieve banner
                    .form-offset
                        select-control(
                            prop="value"
                            search="false"
                            options="$ctrl.bannerStates"
                            ng-model="$ctrl.bannerForm.values.pre_check_banner_state").form-control
                        .form-error(ng-repeat="error in $ctrl.bannerForm.errors.pre_check_banner_state" ng-bind="error")

                //- Title
                .form-group
                    label(translate="funds_pre_check.labels.title").form-label
                    .form-offset
                        input(
                            placeholder="{{ 'funds_pre_check.labels.title' | translate }}"
                            ng-model="$ctrl.bannerForm.values.pre_check_banner_title").form-control.r-n
                        .form-error(ng-repeat="error in $ctrl.bannerForm.errors.pre_check_banner_title" ng-bind="error")

                //- Description
                .form-group
                    label(translate="funds_pre_check.labels.description").form-label
                    .form-offset
                        textarea(
                            placeholder="{{ 'funds_pre_check.labels.description' | translate }}"
                            ng-model="$ctrl.bannerForm.values.pre_check_banner_description").form-control.r-n
                        .form-error(ng-repeat="error in $ctrl.bannerForm.errors.pre_check_banner_description" ng-bind="error")

                //- Label
                .form-group
                    label(translate="funds_pre_check.labels.label").form-label
                    .form-offset
                        input(
                            placeholder="{{ 'funds_pre_check.labels.label' | translate }}"
                            ng-model="$ctrl.bannerForm.values.pre_check_banner_label").form-control.r-n
                        .form-error(ng-repeat="error in $ctrl.bannerForm.errors.pre_check_banner_label" ng-bind="error")

                .block.block-info-box.block-info-box-default.block-info-box-dashed
                    .info-box-icon.mdi.mdi-information.flex-center.flex-vertical.text-primary-light
                    .info-box-content: .block.block-markdown: p
                        | U heeft de mogelijkheid om een banner toe te voegen en aan te passen die op de startpagina van de webshop wordt weergegeven.

            //- Submit
            .card-section: .text-right
                button(type="button" ng-click="$ctrl.cancel()" translate="funds_edit.buttons.cancel" id="cancel").button.button-default
                button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary

                