.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item Fondsen 
            .breadcrumb-item {{ $ctrl.fundProvider.name }}
            .breadcrumb-item.active {{ $ctrl.product.name }}

        .card-heading Algemene informatie
        .card
            .card-section.card-section-narrow
                .flex-row
                    img(ng-src="{{ $ctrl.product.photo.sizes.thumbnail || './assets/img/placeholders/product-thumbnail.png' }}")  
                    
                    .flex-col-2
                        span &nbsp
                    .flex-col
                        .flex-row.flex-grow
                            .flex-col.flex-grow    
                                .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                                    .card-block-listing-label 
                                    .card-block-listing-value(ng-bind="$ctrl.product.name") 
                            .flex-col-3    
                                span(ng-bind="$ctrl.product.price_locale")
                        br
                    
                        .flex-row.flex-grow
                            .flex-col      
                                .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                                    .card-block-listing-label Vervaldatum van aanbod
                                    .card-block-listing-value(ng-bind="$ctrl.product.expire_at_locale")

                            .flex-col
                                .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                                    .card-block-listing-label Verkocht: 
                                    .card-block-listing-value(ng-bind="$ctrl.product.sold_amount")
                                    
                            .flex-col    
                                .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                                    .card-block-listing-label Gereserveerd:
                                    .card-block-listing-value(ng-bind="$ctrl.product.reserved_amount")    

        .card(ng-if="$ctrl.product.description")
            .card-section.card-section-narrow
                .block.block-entity-overview
                    .entity-details: .entity-title(ng-bind="$ctrl.product.description")

        //- Products for budget fund
        .card
            .card-header: .flex-row
                .flex-col: .card-title Aanmeldingen
                //- .flex-col: .card-header-drown: .block.block-inline-filters
                //-     .form(ng-if="!$ctrl.filters.show"): .form-group: input(
                //-         ng-model="$ctrl.filters.values.q"
                //-         placeholder="Zoeken").form-control
            
            .card-section.card-section-padless: .table-wrapper: table.table
                tr
                    th.td-narrow Afbeelding
                    th Naam
                    th Geaccepteerd
                
                tr(ng-repeat="providerFund in $ctrl.providerFunds")
                    td.td-narrow: img(
                        ng-src="{{ providerFund.fund.logo ? providerFund.fund.logo.sizes.small : './assets/img/placeholders/fund-thumbnail.png' }}").td-media
                    td(ng-bind="providerFund.fund.name")
                    
                    td.td-narrow: .form.pull-right
                        //- budget fund toggle
                        label(ng-if="providerFund.fund.type == 'budget'"
                            for=("product_{{ $ctrl.product.id }}_enabled") 
                            ng-class="providerFund.allow_products ? 'form-toggle-disabled form-toggle-active' : ''").form-toggle
                            input(
                                type="checkbox" 
                                id=("product_{{ $ctrl.product.id }}_enabled") 
                                ng-model="$ctrl.product.allowed"
                                ng-change="$ctrl.updateAllowBudgetItem(providerFund, $ctrl.product)")
                            .form-toggle-inner: .toggle-input: .toggle-input-dot

                        //- subsidy fund button
                        div.flex.flex-end(ng-if="providerFund.fund.type == 'subsidies'" test="{{ providerFund }}")
                            .button.button-primary.button-sm.nowrap(
                                ng-if="!providerFund.product_allowed"
                                ng-click="$ctrl.openSubsidyProductModal(providerFund, $ctrl.product)")
                                em.mdi.mdi-play.icon-start
                                | Start actie

                            .tag.tag-success.nowrap(ng-if="providerFund.product_allowed")
                                | Actie actief 
                                .mdi.mdi-close.icon-end(ng-click="$ctrl.disableProductItem(providerFund, $ctrl.product)")
            
            .card-section.text-center(ng-if="$ctrl.providerFunds.length == 0") Geen aanmeldingen
            //- .card-section(ng-if="$ctrl.providerFunds.length > 0") {{ $ctrl.providerFunds.length }} resultaten