.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            a.breadcrumb-item(
                ui-sref="organization-funds({organization_id: $ctrl.fund.organization_id})" 
                translate="page_state_titles.funds")
            .breadcrumb-item.active(ng-bind="$ctrl.fund.name")

        .block.block-fund
            .fund-overview
                .fund-media: img.fund-media-img(
                    ng-src="{{ $ctrl.fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}")

                .fund-details
                    .fund-name: .flex-row
                        .flex-col.flex-grow(ng-bind="$ctrl.fund.name")
      
                        .flex-col
                            .tag.tag-success.tag-sm(
                                ng-if="$ctrl.fund.state == 'active'" 
                                translate="components.organization_funds.states.active")
                                
                            .tag.tag-warning.tag-sm(
                                ng-if="$ctrl.fund.state == 'paused'" 
                                translate="components.organization_funds.states.paused")
                            
                            .tag.tag-default.tag-sm(
                                ng-if="$ctrl.fund.state == 'closed'" 
                                translate="components.organization_funds.states.closed")

                    .fund-description-short(ng-bind="$ctrl.fund.description_short")

            .fund-actions
                .button.button-default(
                    ng-if="($ctrl.organization | hasPerm:'manage_funds') && $ctrl.organization.allow_2fa_restrictions"
                    ui-sref="funds-security($ctrl.fund)")
                    em.mdi.mdi-security.icon-start
                    translate(translate="fund_card_sponsor.buttons.security")

                .button.button-default(
                    ng-if="($ctrl.fund.organization | hasPerm:'manage_funds') && $ctrl.fund.state == 'waiting'"
                    ng-click="$ctrl.deleteFund($ctrl.fund)")
                    em.mdi.mdi-trash-can-outline.icon-start
                    | Verwijderen

                .button.button-default(
                    ng-if="($ctrl.fund.organization | hasPerm:['manage_funds','manage_fund_texts']:false)"
                    ui-sref="funds-edit($ctrl.fund)")
                    em.mdi.mdi-pencil.icon-start
                    | Bewerken        

        .card.card-collapsed
            .card-header: .flex-row
                .flex-col: .card-title(translate="funds_show.labels.base_card.header.{{$ctrl.viewGeneralType}}")

                .flex: .block.block-inline-filters: .flex: div: .block.block-label-tabs.pull-right: .label-tab-set
                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewGeneralType == 'description'}"
                        ng-click="$ctrl.viewGeneralType = 'description'") Beschrijving

                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewGeneralType == 'statistics'}"
                        ng-click="$ctrl.viewGeneralType = 'statistics'") Statistieken

                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewGeneralType == 'criteria'}"
                        ng-click="$ctrl.viewGeneralType = 'criteria'") Voorwaarden

            .card-section(ng-if="$ctrl.viewGeneralType == 'description'"): .fund-description
                .description-body(ng-if="$ctrl.fund.description_html")
                    .arrow-box.border.bg-dim: .arrow
                    .block.block-markdown(ng-bind-html="$ctrl.fund.description_html")

                .description-body(ng-if="!$ctrl.fund.description_html") 
                    .arrow-box.border.bg-dim: .arrow
                    | Geen data

            .card-section(ng-if="$ctrl.viewGeneralType == 'criteria'"): .form 
                fund-criteria-editor(
                    fund="$ctrl.fund" 
                    organization="$ctrl.fund.organization" 
                    criteria="$ctrl.fund.form.criteria" 
                    is-editable="$ctrl.fund.criteria_editable" 
                    record-types="$ctrl.recordTypes" 
                    save-button='true'
                    on-save-criteria='$ctrl.onSaveCriteria(fund)'
                    validator-organizations="$ctrl.validatorOrganizations.data")   

            .card-section(ng-if="$ctrl.viewGeneralType == 'statistics' && $ctrl.fund.is_configured"): .form 
                .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                    a.keyvalue-item.col.col-lg-3(
                        ui-sref="employees({organization_id: $ctrl.organization.id})")
                        .keyvalue-key(translate="fund_card_sponsor.labels.your_employees")
                        .keyvalue-value
                            span(ng-bind="$ctrl.fund.sponsor_count")
                            span.icon.mdi.mdi-account-multiple-plus

                    .keyvalue-item.col.col-lg-3(
                        ng-class="{'keyvalue-item-disabled': !$ctrl.fund.canInviteProviders}" 
                        ng-click="$ctrl.inviteProvider($ctrl.fund)")
                        .keyvalue-key(translate="fund_card_sponsor.labels.providers")
                        .keyvalue-value
                            span(ng-bind="$ctrl.fund.providersDescription")
                            span.icon.mdi.mdi-account-multiple-plus(ng-if="$ctrl.fund.canInviteProviders")

                    a.keyvalue-item.col.col-lg-3(
                        ng-class="{'keyvalue-item-disabled': !$ctrl.fund.canAccessFund}" 
                        ui-sref="csv-validation({ fund_id: $ctrl.fund.id })")
                        .keyvalue-key(translate="fund_card_sponsor.labels.applicants")
                        .keyvalue-value
                            span(ng-bind="$ctrl.fund.requester_count")
                            span.icon.mdi.mdi-account-multiple-plus(ng-if="$ctrl.fund.canAccessFund")

        .card.card-collapsed
            //- Card header common elements
            .card-header: .flex-row
                .flex-col: .card-title(translate="funds_show.labels.details_card.header.{{$ctrl.viewType}}")

                .flex: .block.block-inline-filters: .flex: div: .block.block-label-tabs.pull-right: .label-tab-set
                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewType == 'transactions'}"
                        ng-click="$ctrl.viewType = 'transactions'") Bekijk aanvullingen

                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewType == 'webshop'}"
                        ng-click="$ctrl.viewType = 'webshop'") Webshop

                    .label-tab.label-tab-sm(
                        ng-class="{active: $ctrl.viewType == 'providers'}"
                        ng-click="$ctrl.viewType = 'providers'") Aanvragers

            //- Card header providers
            .card-header(ng-if="$ctrl.viewType == 'providers'"): .flex-row
                .flex-grow: .flex-col: .card-title Aanvragers ({{ $ctrl.identities.meta.total }})

                //- Filters 
                .flex: .block.block-inline-filters
                    .form: .form-group: input(
                        ng-model="$ctrl.identitiesFilters.q"
                        placeholder="Zoeken").form-control

                    .button.button-primary.button-sm(
                        ng-click="$ctrl.exportIdentities()")
                        em.mdi.mdi-download.icon-start
                        | Exporteren
            
            //- Card header transactions
            .card-header(ng-if="$ctrl.viewType == 'transactions'"): .flex-row 
                .flex-grow: .flex-col: .card-title Transacties ({{ $ctrl.fund.top_up_transactions.meta.total }})

                .flex: .block.block-inline-filters
                    .button.button-text(ng-if="fund.topUpTransactionFilters.show" ng-click="fund.topUpTransactionFilters = {}")
                        em.mdi.mdi-close.icon-start
                        span(i18n="Wis filters")

                    .form(ng-if="!fund.topUpTransactionFilters.show")
                        .form-group.inline-filters-search: input(
                            ng-model="fund.topUpTransactionFilters.values.q" 
                            type="text" 
                            placeholder="Zoeken").form-control

                    .inline-filters-dropdown.pull-right(click-outside="$ctrl.hideFilters(fund)")
                        .inline-filters-dropdown-content(ng-show="fund.topUpTransactionFilters.show")
                            .arrow-box.bg-dim: .arrow
                            .form
                                .form-group
                                    form-label-toggle(label="{{ 'components.organization_funds.top_up_table.filters.search' | i18n }}" is-active)
                                    input(
                                        type="text"
                                        ng-model="fund.topUpTransactionFilters.values.q"
                                        placeholder="{{ 'components.organization_funds.top_up_table.filters.search' | i18n }}").form-control
                                
                                .form-group
                                    form-label-toggle(label="{{ 'components.organization_funds.top_up_table.filters.amount' | translate }}")

                                    .row
                                        .col.col-sm-6: input(
                                            type="number" 
                                            ng-model="fund.topUpTransactionFilters.values.amount_min" 
                                            placeholder="{{ 'components.organization_funds.top_up_table.filters.amount_min' | translate }}").form-control

                                        .col.col-sm-6: input(
                                            type="number" 
                                            ng-model="fund.topUpTransactionFilters.values.amount_max" 
                                            placeholder="{{ 'components.organization_funds.top_up_table.filters.amount_max' | translate }}").form-control

                                .form-group
                                    form-label-toggle(label="{{ 'components.organization_funds.top_up_table.filters.from' | i18n }}")
                                    datepicker(
                                        date-format="yyyy-MM-dd" 
                                        datepicker-mobile="" 
                                        date-week-start-day="1").form-control
                                        input(
                                            type="text" 
                                            ng-model="fund.topUpTransactionFilters.values.from"
                                            placeholder="jjjj-MM-dd").form-control
                                
                                .form-group
                                    form-label-toggle(label="{{ 'components.organization_funds.top_up_table.filters.to' | i18n }}")
                                    datepicker(
                                        date-format="yyyy-MM-dd" 
                                        datepicker-mobile="" 
                                        date-week-start-day="1").form-control
                                        input(
                                            ng-model="fund.topUpTransactionFilters.values.to"
                                            type="text"
                                            placeholder="jjjj-MM-dd").form-control
                    
                        .button.button-default.button-icon(ng-click="fund.topUpTransactionFilters.show = !fund.topUpTransactionFilters.show"): em.mdi.mdi-filter-outline
    

            .card-section.card-section-padless(ng-if="$ctrl.viewType == 'webshop'"): .table-wrapper: table.table
                tr
                    th.td-narrow Afbeelding
                    th Naam
                    th Status
                    th

                tr(ng-repeat="implementation in $ctrl.implementations")
                    td.td-narrow: img(ng-src="{{ implementation.logo || './assets/img/placeholders/organization-thumbnail.png' }}").td-media
                    td(ng-bind="implementation.name")
                    td(ng-if="$ctrl.fund.state == 'active'"): .label.label-success Zichtbaar
                    td(ng-if="$ctrl.fund.state != 'active'"): .label.label-default Onzichtbaar

                    td.td-narrow.text-right
                        button.button.button-icon.button-text.button-menu.active(
                            type="button" 
                            ng-click="$ctrl.toggleActions($event, implementation)")
                            em.mdi.mdi-dots-horizontal

                            .menu-dropdown(
                                click-outside="$ctrl.onClickOutsideMenu($event, implementation)" 
                                ng-if="implementation.showMenu")

                                .menu-dropdown-arrow
                                .dropdown.dropdown-actions
                                    .dropdown-heading Opties
                                    a(target="_blank" href="{{ implementation.url_webshop + 'funds/' + $ctrl.fund.id }}").dropdown-item
                                        | #[em.mdi.mdi-open-in-new.icon-start] Bekijk op webshop
                                    
                                    a(
                                        ng-if="$root.activeOrganization | hasPerm:['manage_implementation_cms']:false"
                                        ui-sref="implementation-view({organization_id: $ctrl.fund.organization_id, id: implementation.id})").dropdown-item
                                        | #[em.mdi.mdi-store-outline.icon-start] Ga naar CMS

            //- Fund users list
            .card-section(ng-if="$ctrl.viewType == 'providers' && $ctrl.identities && $ctrl.identities.meta.total > 0")
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th(th-sortable filters="$ctrl.identitiesFilters" label="ID" value="id")
                                th(th-sortable filters="$ctrl.identitiesFilters" label="E-mail" value="email")
                                th(th-sortable filters="$ctrl.identitiesFilters" label="Totaal aantal vouchers" value="count_vouchers")
                                th(th-sortable filters="$ctrl.identitiesFilters" label="Actieve vouchers" value="count_vouchers_active")
                                th(th-sortable filters="$ctrl.identitiesFilters" label="Actieve vouchers met saldo" value="count_vouchers_active_with_balance")
                                th(translate="identities.labels.actions").nowrap.text-right

                            tr(
                                ng-repeat="identity in $ctrl.identities.data"
                                ui-sref="identities-show({organization_id: $ctrl.fund.organization_id, id: identity.id, fund_id: $ctrl.fund.id})")

                                td(ng-bind="identity.id")
                                td(ng-bind="identity.email")
                                td(ng-bind="identity.count_vouchers")
                                td(ng-bind="identity.count_vouchers_active")
                                td(ng-bind="identity.count_vouchers_active_with_balance")
                                td: a.button.button-primary.button-sm.pull-right(
                                    ui-sref="identities-show({organization_id: $ctrl.fund.organization_id, id: identity.id, fund_id: $ctrl.fund.id})")
                                    em.mdi.mdi-eye-outline.icon-start
                                    | Bekijken

            //- Fund users pagination
            .card-section.card-section-narrow(
                ng-if="$ctrl.viewType == 'providers' && $ctrl.identities"
                ng-show="$ctrl.identities.meta.last_page > 1")
                paginator(meta="$ctrl.identities.meta" filters="$ctrl.identitiesFilters" on-page-change="$ctrl.identitiesOnPageChange(query)")

            //- Fund users empty
            .card-section(ng-if="$ctrl.viewType == 'providers' && $ctrl.identities && $ctrl.identities.meta.total == 0"): .block.block-empty.text-center
                .empty-title(ng-if="!$ctrl.lastQuery")
                    | Geen gebruikers gevonden

                .empty-title(ng-if="$ctrl.lastQuery")
                    | Geen gebruikers gevonden voor "{{ $ctrl.lastQuery }}"

            //- Identities stats
            .card-section.card-section-primary(ng-if="$ctrl.viewType == 'providers' && $ctrl.identities")
                .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                    .keyvalue-item.col.col-lg-4
                        .keyvalue-key Aanvragers met vouchers
                        .keyvalue-value
                            span(ng-bind="$ctrl.identities.meta.counts.active")
                            span.icon.mdi.mdi-account-multiple-outline

                    .keyvalue-item.col.col-lg-4
                        .keyvalue-key Aanvragers zonder e-mailadres
                        .keyvalue-value
                            span(ng-bind="$ctrl.identities.meta.counts.without_email")
                            span.icon.mdi.mdi-email-off-outline

            //- Fund top-ups
            .card-section.card-section-padless(
                ng-if="$ctrl.viewType == 'transactions' && $ctrl.fund.top_up_transactions"): .table-wrapper: table.table
                
                thead: tr
                    th(th-sortable filters="$ctrl.fund.topUpTransactionFilters.values" label="funds_show.top_up_table.columns.code" value="code")
                    th(th-sortable filters="$ctrl.fund.topUpTransactionFilters.values" label="funds_show.top_up_table.columns.iban" value="iban")
                    th(th-sortable filters="$ctrl.fund.topUpTransactionFilters.values" label="funds_show.top_up_table.columns.amount" value="amount")
                    th(th-sortable filters="$ctrl.fund.topUpTransactionFilters.values" label="funds_show.top_up_table.columns.date" value="created_at").text-right

                tbody
                    tr(ng-repeat="top_up_transaction in $ctrl.fund.top_up_transactions.data")
                        td(ng-bind="top_up_transaction.code")
                        td(
                            ng-bind="top_up_transaction.iban || 'Geen IBAN'"
                            ng-class="!top_up_transaction.iban ? 'text-muted' : ''")
                        td(ng-bind="top_up_transaction.amount_locale")
                        td.text-right(ng-bind="top_up_transaction.created_at_locale")

            .card-section(ng-show="$ctrl.viewType == 'transactions' && $ctrl.fund.top_up_transactions.meta.total"): .table-pagination
                paginator(
                    ng-if="$ctrl.fund.top_up_transactions.meta"
                    meta="$ctrl.fund.top_up_transactions.meta"
                    filters="$ctrl.fund.topUpTransactionFilters.values"
                    on-page-change="$ctrl.fetchTopUpTransactions($ctrl.fund, query)")

            block-empty(
                ng-if="$ctrl.viewType == 'transactions' && $ctrl.fund.top_up_transactions.meta.total == 0"
                text="Je hebt momenteel geen top up transacties.")
                
