.app.app-container
    menu
    section.app.app-content(ng-if='$ctrl.validatorRequests'): .card
        .card-header: .flex-row
            .flex.flex-grow: .card-title
                span(i18n="validation_requests.header.title")
                span(ng-bind="$ctrl.validatorRequests.meta.total").span-count

            .flex: .block.block-inline-filters
                .button.button-text(ng-if="$ctrl.filters.show" ng-click="$ctrl.filters.reset()")
                    em.mdi.mdi-close.icon-start
                    span(i18n="validation_requests.buttons.clear_filter")

                .form(ng-if="!$ctrl.filters.show"): .form-group: input(
                    ng-model="$ctrl.filters.values.q"
                    placeholder="{{ 'validation_requests.labels.search' | i18n }}").form-control

                //- Filter
                .form: .inline-filters-dropdown.pull-right(click-outside="$ctrl.hideFilters()")
                    .inline-filters-dropdown-content(ng-show="$ctrl.filters.show")
                        .arrow-box.bg-dim: .arrow
                        .form
                            //- Search
                            .form-group
                                form-label-toggle(label="{{ 'validation_requests.labels.search' | i18n }}" is-active)
                                input(
                                    ng-model="$ctrl.filters.values.q"
                                    placeholder="{{ 'validation_requests.labels.search' | i18n }}").form-control

                            //- Status
                            .form-group(ng-click="$event.stopPropagation()")
                                form-label-toggle(label="{{ 'validation_requests.labels.status' | i18n }}")
                                .form-offset: select-control(
                                    prop="key"
                                    search="false"
                                    ng-model="$ctrl.filters.values.state"
                                    options="$ctrl.states").form-control

                            //- Assigned employee
                            .form-group(ng-click="$event.stopPropagation()")
                                form-label-toggle(label="{{ 'validation_requests.labels.assigned_to' | i18n }}")
                                .form-offset: select-control(
                                    prop="id"
                                    as="email"
                                    search="false"
                                    ng-model="$ctrl.filters.values.employee_id"
                                    options="$ctrl.employees.data").form-control

                            //- Creation date from
                            .form-group
                                form-label-toggle(label="{{ 'validation_requests.labels.from' | i18n }}")
                                datepicker(
                                    date-format="yyyy-MM-dd"
                                    datepicker-mobile=""
                                    date-week-start-day="1").form-control
                                    input(ng-model="$ctrl.filters.values.from" type="text" placeholder="yyyy-MM-dd").form-control

                            //- Creation date to
                            .form-group
                                form-label-toggle(label="{{ 'validation_requests.labels.to' | i18n }}")
                                datepicker(
                                    date-format="yyyy-MM-dd"
                                    datepicker-mobile=""
                                    date-week-start-day="1").form-control
                                    input(ng-model="$ctrl.filters.values.to" type="text" placeholder="yyyy-MM-dd").form-control

                            //- Export requests
                            .form-actions
                                button.button.button-primary.button-wide(
                                    ng-click="$ctrl.exportRequests()"
                                    ng-disabled="$ctrl.validatorRequests.meta.total == 0")
                                    em.mdi.mdi-download.icon-start
                                    span.ng-scope(translate="components.dropdown.export" translate-values="{ total: $ctrl.validatorRequests.meta.total }")

                    .button.button-default.button-icon(ng-click="$ctrl.filters.show = !$ctrl.filters.show"): em.mdi.mdi-filter-outline

        //- Fund requests
        .card-section(ng-if="$ctrl.validatorRequests.meta.total > 0")
            .card-block.card-block-table
                .table-wrapper
                    table.table
                        tr
                            //- ID
                            th(th-sortable filters="$ctrl.filters.values" label="validation_requests.labels.id" value="id").th-narrow

                            //- Identity
                            th(th-sortable filters="$ctrl.filters.values" label="validation_requests.labels.requester" value="requester_email")

                            //- Fund
                            th(th-sortable filters="$ctrl.filters.values" label="validation_requests.labels.fund" value="fund_name")

                            //- Creation date
                            th(th-sortable filters="$ctrl.filters.values" label="validation_requests.labels.created_date" value="created_at")

                            //- Assigned employee(s)
                            th(th-sortable filters="$ctrl.filters.values" label="validation_requests.labels.assignee" value="assignee_email")

                            //- Status label
                            th(th-sortable filters="$ctrl.filters.values" label="validation_requests.labels.status" value="state")

                            //- Actions
                            th(translate="validation_requests.labels.actions").nowrap.text-right.th-narrow

                        tr(ng-repeat="validatorRequest in $ctrl.validatorRequests.data"
                            ui-sref="fund-requests-show(validatorRequest.ui_sref)")

                            //- ID
                            td.text-strong
                                span.text-muted-dark #
                                span(ng-bind="validatorRequest.id")

                            //- Identity
                            td
                                //- Email
                                strong(ng-bind="(validatorRequest.email | str_limit:64) || 'Geen E-mail'").text-primary

                                //- BSN
                                div(ng-bind="validatorRequest.bsn ? ('BSN: ' + validatorRequest.bsn) : 'Geen BSN'").text-strong.text-md.text-muted-dark

                            //- Fund
                            td(ng-bind="validatorRequest.fund.name")

                            //- Creation date
                            td
                                strong(ng-bind="validatorRequest.created_at_locale.split(' - ')[0]").text-primary
                                br
                                strong(ng-bind="validatorRequest.created_at_locale.split(' - ')[1]").text-strong.text-md.text-muted-dark

                            //- Assigned employee(s)
                            td
                                span(ng-if="!validatorRequest.assigned_employees.length").text-muted Niet toegewezen
                                div(ng-repeat="email in validatorRequest.assigned_employees track by $index")
                                    strong(ng-bind="email" ng-if="validatorRequest.assigned_employees.length").text-primary

                            //- Status label
                            td: .label.label-tag.label-round(
                                ng-class="$ctrl.stateLabels[validatorRequest.state]")
                                span(ng-class="'mdi mdi-' + $ctrl.stateLabelIcons[validatorRequest.state] + ' icon-start'")
                                span(ng-bind="validatorRequest.state_locale")

                            //- Actions
                            td.td-narrow.text-right: a(ui-sref="fund-requests-show(validatorRequest.ui_sref)").button.button-sm.button-primary.pull-right
                                em.mdi.mdi-eye-outline.icon-start
                                translate(translate="validation_requests.buttons.view")

        //- Fund requests pagination
        .card-section(ng-if="$ctrl.validatorRequests" ng-show="$ctrl.validatorRequests.meta.last_page > 1")
            paginator(meta="$ctrl.validatorRequests.meta" filters="$ctrl.filters.values" on-page-change="$ctrl.onPageChange(query)")

        //- Empty fund requests block
        .card-section(ng-if="$ctrl.validatorRequests.meta.total == 0"): .block.block-empty.text-center
            .empty-title(i18n="validation_requests.labels.empty_table")

