.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="implementations({organization_id: $root.activeOrganization.id})") Webshops 
            .breadcrumb-item(ui-sref="implementation-view({organization_id: $root.activeOrganization.id, id: $ctrl.implementation.id})" ng-bind="$ctrl.implementation.name")
            .breadcrumb-item.active Content Management System

        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header.flex-row
                .card-title(i18n="implementation_edit.header.title")
                .flex.flex-grow.flex-end: .flex
                    a(href="{{ $ctrl.implementation.url_webshop }}" target="_blank").button.button-text.button-sm 
                        | Open webshop
                        .mdi.mdi-link-variant.icon-end
                    button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary.button-sm

            .card-section.card-section-padless
                photo-selector(
                    fill-style="false"
                    type="implementation_banner"
                    template="photo-selector-banner"
                    template-data="$ctrl.bannerMeta"
                    thumbnail="$ctrl.bannerMedia.sizes.medium"
                    thumbnail-size="{x: 1000, y: 250}"
                    select-photo="$ctrl.selectBanner(file)"
                    reset-photo="$ctrl.resetBanner()")

            .card-section.card-section-primary: .row: .col.col-lg-9
                .form-group.form-group-inline.form-group-inline-lg
                    label(translate="implementation_edit.labels.header_title").form-label
                    input(ng-model="$ctrl.form.values.title" type="text" placeholder="Titel").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.title" ng-bind="error")

                .form-group.form-group-inline.form-group-inline-lg
                    label(translate="implementation_edit.labels.header_description").form-label
                    text-angular(ng-model="$ctrl.form.values.description_html")

                    .form-offset: markdown(
                        extended-options="true"
                        value="$ctrl.form.values.description_html" 
                        ng-model="$ctrl.form.values.description"
                        allow-alignment="true"
                        block-alignment="$ctrl.form.values.description_alignment"
                        media-uploaded="$ctrl.appendMedia(media_uid, $ctrl.form.values)")
                    .form-error(ng-repeat="error in $ctrl.form.errors.description" ng-bind="error")

            .card-section.card-section-primary
                .row: .col.col-lg-9
                    //- Formal/Informal communication
                    .form-group.form-group-inline.form-group-inline-lg.tooltipped
                        label(for="info_url" translate="implementation_edit.labels.communication").form-label
                        select(
                            ng-model="$ctrl.form.values.informal_communication" 
                            ng-options="type.value as type.label for type in $ctrl.communicationTypes").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.informal_communication" ng-bind="error")

                        tooltip(text="'Kies de aanspreekvorm. Deze aanspreekvorm staat in teksten op de website en in de berichten die het systeem verstuurt.'")

            .card-section.card-section-primary: .text-center
                button(type="button" ui-sref="implementation-view({organization_id: $root.activeOrganization.id, id: $ctrl.implementation.id})" translate="funds_edit.buttons.cancel").button.button-default
                button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary

        .card
            .card-header: .card-title(translate="implementation_edit.implementations_table.title")
            .card-section.card-section-padless: .table-wrapper: table.table
                tr
                    th(translate="implementation_edit.implementations_table.columns.name")
                    th.text-right(translate="implementation_edit.implementations_table.columns.options")

                tr(ng-repeat="key in $ctrl.implementation.page_types")
                    td(translate="implementation_edit.labels.{{ key }}")
                    td.text-right
                        .button.button-default(
                            ui-sref="implementation-cms-page({organization_id: $root.activeOrganization.id, id: $ctrl.implementation.id, page_id: $ctrl.form.values.pages[key].id})")
                            em.mdi.mdi-pencil.icon-start
                            | {{ 'implementation_edit.implementations_table.labels.edit' | translate }}
            
            .card-section.text-center(ng-if="$ctrl.implementation.page_types.length == 0" translate="implementation_edit.implementations_table.labels.no_pages")            