.app.app-container
    menu
    section.app.app-content: .form
        .block.block-breadcrumbs
            a.breadcrumb-item(ui-sref="implementation-notifications($ctrl.implementation)") Systeemberichten
            .breadcrumb-item.active Verstuur een aangepast bericht

        //- Target audience
        .card
            .card-header: .flex
                .flex.flex-grow: .card-title
                    em.mdi.mdi-account-multiple-outline
                    | Kies een doelgroep

                .flex(ng-if="$ctrl.organization | hasPerm:['manage_vouchers']")
                    .button.button-primary.button-sm(
                        ng-if="!$ctrl.showIdentities"
                        ng-click="$ctrl.showIdentities = true")
                        em.mdi.mdi-view-list.icon-start
                        | Bekijk de lijst met geadresseerden

                    .button.button-primary.button-sm(
                        ng-if="$ctrl.showIdentities"
                        ng-click="$ctrl.showIdentities = false")
                        em.mdi.mdi-view-list.icon-start
                        | Verberg de lijst met geadresseerden

            //- Audience select
            .card-section
                .form-group
                    label.form-label Kies een fonds
                    .form-offset: select-control(
                        search="false"
                        ng-model="$ctrl.fund"
                        ng-change="$ctrl.onFundChange()"
                        options="$ctrl.funds").form-control

                .form-group
                    label.form-label Verstuur naar
                    .form-offset: select-control(
                        prop="value"
                        search="false"
                        ng-model="$ctrl.identitiesFilters.target"
                        options="$ctrl.targets").form-control
            
            //- Audience header
            .card-header(ng-if="$ctrl.showIdentities"): .flex
                .flex.flex-grow: .card-title
                    em.mdi.mdi-view-list
                    | Lijst met geadresseerden

                //- Filters
                .flex
                    .block.block-inline-filters
                        .form: .form-group
                            input(
                                ng-model="$ctrl.identitiesFilters.q" 
                                placeholder="Zoeken").form-control

                        .button.button-primary.button-sm(
                            ng-click="$ctrl.exportIdentities()")
                            em.mdi.mdi-download.icon-start
                            | Exporteren

            //- Audience list
            .card-section(ng-if="$ctrl.showIdentities && $ctrl.identities.meta.total > 0")
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th(th-sortable filters="$ctrl.identitiesFilters" label="ID" value="id")
                                th(th-sortable filters="$ctrl.identitiesFilters" label="E-mail" value="email")
                                th(th-sortable filters="$ctrl.identitiesFilters" label="Aantal tegoeden" value="count_vouchers")
                                th(th-sortable filters="$ctrl.identitiesFilters" label="Actieve tegoeden" value="count_vouchers_active")
                                th(th-sortable filters="$ctrl.identitiesFilters" label="Actieve tegoeden met een restant budget" value="count_vouchers_active_with_balance")
                                //- th(th-sortable filters="$ctrl.identitiesFilters" label="Action").th-narrow.text-right

                            tr(ng-repeat="identity in $ctrl.identities.data")
                                td(ng-bind="identity.id")
                                td(ng-bind="identity.email")
                                td(ng-bind="identity.count_vouchers")
                                td(ng-bind="identity.count_vouchers_active")
                                td(ng-bind="identity.count_vouchers_active_with_balance")

            //- Audience pagination
            .card-section.card-section-narrow(
                ng-if="$ctrl.identities"
                ng-show="$ctrl.showIdentities && $ctrl.identities.meta.last_page > 1")
                paginator(meta="$ctrl.identities.meta" filters="$ctrl.identitiesFilters" delayed-filters="['q']" on-page-change="$ctrl.identitiesOnPageChange(query)")

            //- Empty audience block
            .card-section(ng-if="$ctrl.showIdentities && $ctrl.identities.meta.total == 0"): .block.block-empty.text-center
                .empty-title(ng-if="!$ctrl.lastQuery")
                    | Geen gebruikers gevonden

                .empty-title(ng-if="$ctrl.lastQuery")
                    | Geen gebruikers gevonden voor "{{ $ctrl.lastQuery }}"

            //- Audience stats
            .card-section.card-section-primary
                .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                    .keyvalue-item.col.col-lg-3
                        .keyvalue-key Met vouchers
                        .keyvalue-value
                            span(ng-bind="$ctrl.identities.meta.counts.active")
                            span.icon.mdi.mdi-account-multiple-outline

                    .keyvalue-item.col.col-lg-3
                        .keyvalue-key Binnen de doelgroep
                        .keyvalue-value
                            span(ng-bind="$ctrl.identities.meta.counts.selected")
                            span.icon.mdi.mdi-account-multiple-check-outline

                    .keyvalue-item.col.col-lg-3
                        .keyvalue-key Uitgesloten gebruikers
                        .keyvalue-value
                            span(ng-bind="$ctrl.identities.meta.counts.active - $ctrl.identities.meta.counts.selected - $ctrl.identities.meta.counts.without_email")
                            span.icon.mdi.mdi-account-multiple-remove-outline

                    .keyvalue-item.col.col-lg-3
                        .keyvalue-key Zonder e-mailadres
                        .keyvalue-value
                            span(ng-bind="$ctrl.identities.meta.counts.without_email")
                            span.icon.mdi.mdi-email-off-outline

        //- Mail template editor
        .block.block-system-notification-editor
            system-notification-template-editor(
                type="mail" 
                compose="true"
                ng-if="$ctrl.template"
                errors="$ctrl.errors"
                template="$ctrl.template"
                notification="$ctrl.notification"
                organization="$ctrl.organization"
                implementation="$ctrl.implementation"
                reset-template="$ctrl.resetTemplate(type)"
                toggle-updated="$ctrl.updateStateLabel()"
                template-updated="$ctrl.onTemplateUpdated(notification)"
                on-edit-updated="$ctrl.setEditing(editing)"
                variable-values="$ctrl.variableValues")

        .card(ng-if="!$ctrl.editing")
            .card-section.card-section-narrow: .button-group.flex-center
                button.button.button-default(type="button" ui-sref="implementation-notifications({organization_id: $root.activeOrganization.id})") 
                    .mdi.mdi-close.icon-start
                    | Annuleren

                button.button.button-default(
                    button="button" 
                    ng-click="$ctrl.sendToMyself()"
                    ng-disabled="$ctrl.submittingToSelf || $ctrl.submitting")
                    .mdi.mdi-account-arrow-right-outline.icon-start(ng-if="!$ctrl.submittingToSelf")
                    .mdi.mdi-loading.mdi-spin.icon-start(ng-if="$ctrl.submittingToSelf")
                    | Verstuur een test e-mail naar jezelf

                button.button.button-primary(
                    button="button" 
                    ng-click="$ctrl.submit()" 
                    ng-disabled="!$ctrl.previewSent || $ctrl.submittingToSelf || $ctrl.submitting")
                    .mdi.mdi-send-outline.icon-start(ng-if="!$ctrl.submitting")
                    .mdi.mdi-loading.mdi-spin.icon-start(ng-if="$ctrl.submitting")
                    | Versturen

            .card-section.card-section-narrow.card-section.card-section-warning.text-center(ng-if="!$ctrl.previewSent")
                | Voordat je de e-mail naar de doelgroep kan versturen dien je eerst e-mail als test naar jezelf te sturen.