.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="implementations({organization_id: $ctrl.organization.id})") Webshops 
            .breadcrumb-item(ui-sref="implementation-view({organization_id: $ctrl.organization.id, id: $ctrl.implementation.id})" ng-bind="$ctrl.implementation.name")
            .breadcrumb-item.active Content Management System

        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header.flex-row
                .flex.flex-grow: .card-title(i18n="implementation_edit.header.title")
                .flex
                    a(href="{{ $ctrl.implementation.url_webshop }}" target="_blank").button.button-text.button-sm 
                        | Open webshop
                        .mdi.mdi-open-in-new.icon-end

                    button.button.button-default.button-sm(
                        type="button" 
                        ui-sref="implementation-config({organization_id: $ctrl.organization.id, implementation_id: $ctrl.implementation.id})")
                        em.mdi.mdi-cog.icon-start
                        | Instellingen

                    button.button.button-default.button-sm(
                        type="button" 
                        ui-sref="implementation-social-media({organization_id: $ctrl.organization.id, implementation_id: $ctrl.implementation.id})")
                        em.mdi.mdi-share-variant-outline.icon-start
                        | Instellingen social
                    
                    button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary.button-sm

            //- Webshop banner
            .card-section.card-section-padless
                photo-selector(
                    fill-style="false"
                    type="implementation_banner"
                    template="photo-selector-banner"
                    template-data="$ctrl.bannerMeta"
                    thumbnail="$ctrl.bannerMedia.sizes.medium"
                    thumbnail-size="{x: 1000, y: 250}"
                    select-photo="$ctrl.selectBanner(file)"
                    reset-photo="$ctrl.resetBanner()")

            //- Webshop header title and description
            .card-section.card-section-primary: .row: .col.col-lg-9
                //- Title
                .form-group.form-group-inline.form-group-inline-xl
                    label(translate="implementation_edit.labels.header_title").form-label
                    input(ng-model="$ctrl.form.values.title" type="text" placeholder="Titel").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.title" ng-bind="error")

                //- Description
                .form-group.form-group-inline.form-group-inline-xl
                    label(translate="implementation_edit.labels.header_description").form-label
                    text-angular(ng-model="$ctrl.form.values.description_html")

                    .form-offset: markdown-editor(
                        extended-options="true"
                        value="$ctrl.form.values.description_html" 
                        ng-model="$ctrl.form.values.description"
                        allow-alignment="true"
                        block-alignment="$ctrl.form.values.description_alignment")
                    .form-error(ng-repeat="error in $ctrl.form.errors.description" ng-bind="error")

            //- Formal/Informal communication
            .card-section.card-section-primary
                .row: .col.col-lg-9
                    .form-group.form-group-inline.form-group-inline-xl.tooltipped
                        label(for="info_url" translate="implementation_edit.labels.communication").form-label
                        
                        .form-offset
                            .form-group-info
                                .form-group-info-control
                                    select-control(
                                        as="label"
                                        prop="value"
                                        search="false"
                                        options="$ctrl.communicationTypes"
                                        ng-model="$ctrl.form.values.informal_communication").form-control

                                .form-group-info-button: .button.button-default.button-icon.pull-left(
                                    ng-click="$ctrl.showInfoBlock = !$ctrl.showInfoBlock"
                                    ng-class="{active: $ctrl.showInfoBlock}")
                                    em.mdi.mdi-information

                            .block.block-info-box.block-info-box-primary(ng-if="$ctrl.showInfoBlock")
                                .info-box-icon.mdi.mdi-information

                                .info-box-content: .block.block-markdown
                                    p Kies de aanspreekvorm. Deze aanspreekvorm staat in teksten op de website en in de berichten die het systeem verstuurt.
                                
                            .form-error(ng-repeat="error in $ctrl.form.errors.informal_communication" ng-bind="error")

            //- Announcement
            .card-section.card-section-primary
                .row: .col.col-lg-9
                    //- Show/Hide announcement
                    .form-group.form-group-inline.form-group-inline-xl.tooltipped
                        label(translate="implementation_edit.labels.announcement_show").form-label
                        .form-offset
                            select-control(
                                as="label"
                                prop="value"
                                search="false"
                                options="$ctrl.announcementState"
                                ng-model="$ctrl.form.values.announcement.active").form-control
                            .form-error(ng-repeat="error in $ctrl.form.errors['announcement.active']" ng-bind="error")

                    //- Announcement type
                    .form-group.form-group-inline.form-group-inline-xl(ng-if="$ctrl.form.values.announcement.active")
                        label(for="announcement_type" translate="implementation_edit.labels.announcement_type").form-label
                        select-control(
                            as="label"
                            prop="value"
                            search="false"
                            options="$ctrl.announcementTypes"
                            ng-model="$ctrl.form.values.announcement.type").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors['announcement.type']" ng-bind="error")

                    //- Announcement title
                    .form-group.form-group-inline.form-group-inline-xl(ng-if="$ctrl.form.values.announcement.active")
                        label(for="announcement_title" translate="implementation_edit.labels.announcement_title").form-label
                        input(id="announcement_title" ng-model="$ctrl.form.values.announcement.title" type="text" placeholder="Titel").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors['announcement.title']" ng-bind="error")

                    //- Announcement description
                    .form-group.form-group-inline.form-group-inline-xl(ng-if="$ctrl.form.values.announcement.active")
                        label(for="announcement_description" translate="implementation_edit.labels.announcement_description").form-label
                        .form-offset
                            markdown-editor(
                                value="$ctrl.form.values.announcement.description_html" 
                                ng-model="$ctrl.form.values.announcement.description" 
                                placeholder="Description...")

                            .form-error(ng-repeat="error in $ctrl.form.errors['announcement.description']" ng-bind="error")

                    //- Show/Hide announcement
                    .form-group.form-group-inline.form-group-inline-xl.tooltipped(ng-if="$ctrl.form.values.announcement.active")
                        label(translate="implementation_edit.labels.announcement_expire").form-label
                        .form-offset
                            select-control(
                                as="label"
                                prop="value"
                                search="false"
                                options="$ctrl.announcementExpireOptions"
                                ng-change="$ctrl.expireDateChange($ctrl.form.values)"
                                ng-model="$ctrl.form.values.announcement.expire").form-control

                    //- Announcement expiration date
                    .form-group.form-group-inline.form-group-inline-xl(ng-if="$ctrl.form.values.announcement.active && $ctrl.form.values.announcement.expire")
                        label(for="announcement_expire_at" translate="implementation_edit.labels.announcement_expire_at").form-label
                        datepicker(
                            date-format="yyyy-MM-dd" 
                            datepicker-mobile="" 
                            date-week-start-day="1").form-control
                            input(ng-model="$ctrl.form.values.announcement.expire_at" type="search" placeholder="dd-MM-jjjj").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors['announcement.expire_at']" ng-bind="error")

                    //- Reset announcement
                    .form-group.form-group-inline.form-group-inline-xl.tooltipped(ng-if="$ctrl.form.values.announcement.active")
                        label(translate="implementation_edit.labels.announcement_replace").form-label
                        .form-offset
                            input-checkbox-control(
                                name="show_attachment_{{ $index }}" 
                                ng-model="$ctrl.form.values.announcement.replace" 
                                label="Herstel aankondiging indien aanvrager opnieuw inlogt.")

            //- Cancel or Submit
            .card-section.card-section-primary: .text-center
                button(
                    type="button" 
                    ui-sref="implementation-view({organization_id: $ctrl.organization.id, id: $ctrl.implementation.id})"
                    translate="funds_edit.buttons.cancel").button.button-default

                button(
                    type="submit" 
                    translate="funds_edit.buttons.confirm").button.button-primary

        //- Implementation pages
        .card
            .card-header: .card-title(translate="implementation_edit.implementations_table.title")
            .card-section
                .card-block.card-block-table: .table-wrapper: table.table
                    tr
                        th Naam
                        th Type
                        th Blokken
                        th Gepubliceerd
                        th.th-narrow.nowrap Webshop URL
                        th.th-narrow.text-right Opties

                    tr(ng-repeat="page in $ctrl.pages")
                        td(translate="implementation_edit.labels.{{ page.page_type.key }}")

                        td(ng-if="page.page_type.type === 'static'").text-muted Standaard pagina
                        td(ng-if="page.page_type.type === 'extra'").text-muted Optionele pagina
                        td(ng-if="page.page_type.type === 'element'").text-muted Pagina element

                        td(ng-if="page.page_type.blocks" ng-bind="page.blocks.length || 'None'")
                        td(ng-if="!page.page_type.blocks").text-muted Niet beschikbaar

                        td(ng-bind="page.state == 'public' ? 'Ja' : 'Nee'")
                        td
                            a.button.button-sm.button-text(
                                ng-if="(page.id && page.state === 'public') || page.page_type.type == 'static'" 
                                href="{{ page.page_type.webshop_url }}"
                                target="_blank")
                                | Bekijk
                                em.mdi.mdi-open-in-new.icon-end

                            .text-muted(
                                ng-if="!((page.id && page.state === 'public') || page.page_type.type == 'static')") - 

                        td.td-narrow.text-right: .flex
                            a(ng-if="!page.id" ui-sref="implementation-cms-page-create(page.srefProps)").button.button-sm.button-primary
                                em.mdi.mdi-plus.icon-start
                                translate(translate="implementation_edit.implementations_table.labels.edit")

                            a(ng-if="page.id" ui-sref="implementation-cms-page(page.srefProps)").button.button-sm.button-default
                                em.mdi.mdi-pen.icon-start
                                translate(translate="implementation_edit.implementations_table.labels.edit")

                            button(ng-disabled="!page.id" ng-click="$ctrl.deletePage(page)").button.button-danger.button-icon
                                em.icon-start.mdi.mdi-delete
