.app.app-container
    menu
    section.app.app-content
        //- Breadcrumbs
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="implementations($ctrl.implementation)") Webshops 
            .breadcrumb-item(ui-sref="implementation-view($ctrl.implementation)" ng-bind="$ctrl.implementation.name")
            .breadcrumb-item(ui-sref="implementation-cms($ctrl.implementation)") Content Management System
            .breadcrumb-item.active(translate="implementation_edit.labels.cms_media_links")

        .card
            //- Header
            .card-header: .flex
                .flex.flex-grow: .card-title(ng-bind="'Social media links (' + $ctrl.socialMedias.length + ')'")
                
                .flex: .block.block-inline-filters
                    a(ng-click="$ctrl.addSocialMedia()" id="add_social_media").button.button-primary.button-sm
                        em.mdi.mdi-plus-circle.icon-start
                        translate(translate="Toevoegen")

            //- Content
            .card-section.card-section-primary(ng-if="$ctrl.socialMedias.length")
                .card-block.card-block-table: .table-wrapper: table.table
                    tr
                        th Icon
                        th Type
                        th URL
                        th Title
                        th.th-narrow.text-right Opties

                    tr(ng-repeat="socialMedia in $ctrl.socialMedias")
                        td(ng-bind="socialMedia.icon")
                        td(ng-bind="socialMedia.type")
                        td(ng-bind="socialMedia.link")
                        td(ng-bind="socialMedia.title")

                        td.td-narrow.text-right: .flex
                            a(ng-click="$ctrl.editSocialMedia(socialMedia)").button.button-sm.button-default
                                em.mdi.mdi-pen.icon-start
                                translate(translate="Edit")

                            button(ng-click="$ctrl.deleteSocialMedia(socialMedia)").button.button-danger.button-icon
                                em.icon-start.mdi.mdi-delete
            
            //- Submit or Cancel
            .card-section.card-section-primary(ng-if="$ctrl.socialMedias.length"): .text-center
                button(
                    type="button" 
                    ui-sref="implementation-cms({organization_id: $ctrl.organization.id, id: $ctrl.implementation.id})" 
                    translate="funds_edit.buttons.cancel").button.button-default

            //- Not found
            block-empty(
                ng-if="$ctrl.socialMedias.length == 0"
                text="Er zijn momenteel geen social media.")            