.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="implementations({organization_id: $root.activeOrganization.id})") Webshops 
            .breadcrumb-item.active(ng-bind="$ctrl.implementation.name")

        .card.card-collapsed
            .card-section 
                .card-block.card-block-implementation.card-block-implementation-collapsed
                    .card-block-implementation-logo
                        img(ng-src="{{ $ctrl.implementation.logo || './assets/img/placeholders/organization-thumbnail.png' }}")
                    .card-block-implementation-details
                        .card-block-implementation-name(ng-bind="$ctrl.implementation.name")
                        .card-block-implementation-desc Website
                        .card-block-implementation-website
                            a(href="{{ $ctrl.implementation.url_webshop }}" target="_blank") {{ $ctrl.implementation.url_webshop }}
                .card-section-actions  
                    button(
                        ng-if="$root.activeOrganization | hasPerm:['manage_implementation']"
                        ui-sref="implementation-email({organization_id: $root.activeOrganization.id, id: $ctrl.implementation.id})").button.button-default 
                        em.mdi.mdi-cog.icon-start 
                        translate(translate="Email")
                    button(
                        ng-if="$root.activeOrganization | hasPerm:['manage_implementation']"
                        ui-sref="implementation-digid({organization_id: $root.activeOrganization.id, id: $ctrl.implementation.id})").button.button-default 
                        em.mdi.mdi-cog.icon-start
                        translate(translate="DigiD")
                    button(
                        ng-if="$root.activeOrganization | hasPerm:['manage_implementation_cms']:false"
                        ui-sref="implementation-cms({organization_id: $root.activeOrganization.id, id: $ctrl.implementation.id})").button.button-primary 
                        em.mdi.mdi-text-box.icon-start
                        translate(translate="CMS")

        .card.card-collapsed
            .card-header: .flex-row
<<<<<<< HEAD
                .flex-col: .card-title.text-left Fonds
=======
                .flex-col: .card-title Fonds gekoppeld aan webshop
>>>>>>> origin/master
                .flex-col: .card-header-drown: .block.block-inline-filters
                    .form(ng-if="!$ctrl.filters.show"): .form-group
                        input(ng-model="$ctrl.filters.values.q" placeholder="Zoeken").form-control

            .card-section
                .card-block.card-block-table(ng-if="$ctrl.funds.length")
                    .table-wrapper
                        table.table
                            tr
                                th.th-narrow Afbeelding
                                th Naam
                                th Status
                                th(ng-if="$root.activeOrganization.backoffice_available").th-narrow Acties
                            
                            tr(ng-repeat="fund in $ctrl.funds")
                                td: img(
                                    src='./assets/img/placeholders/product-thumbnail.png'
                                    ng-src="{{ fund.logo ? fund.logo.sizes.thumbnail : './assets/img/placeholders/product-thumbnail.png' }}"
                                    ).td-media
                                td(ng-bind="fund.name")
                                td
                                    div(ng-if="fund.organization | hasPerm:'manage_funds'")
                                        div(ng-if="level != 'fundsAvailable'")
                                            div(ng-show="fund.state == 'active'")
                                                span(ng-if="level=='fundShow'" ng-click="$dir.changeState('closed')").card-section-action
                                                    em.mdi.mdi-close
                                                    translate(translate="fund_card_sponsor.buttons.close")
                                                span(ng-if="level=='fundShow'" ng-click="$dir.changeState('paused')").card-section-action
                                                    em.mdi.mdi-pause
                                                    translate(translate="fund_card_sponsor.buttons.pause")

                                                .tag.tag-success(translate="fund_card_sponsor.status.active")

                                            div(ng-show="fund.state == 'paused'")
                                                span(ng-if="level=='fundShow'" ng-click="$dir.changeState('closed')").card-section-action
                                                    em.mdi.mdi-close
                                                    translate(translate="fund_card_sponsor.buttons.close")
                                                span(ng-if="level=='fundShow'" ng-click="$dir.changeState('active')").card-section-action
                                                    em.mdi.mdi-play
                                                    translate(translate="fund_card_sponsor.buttons.restart")

                                                .tag.tag-warning(translate="fund_card_sponsor.status.paused")

                                        span(ng-if="fund.state == 'closed'")
                                            span(ng-if="level=='fundShow'" ng-click="$dir.changeState('paused')").card-section-action
                                                em.mdi.mdi-pause 
                                                translate(translate="fund_card_sponsor.buttons.pause")
                                            span(ng-if="level=='fundShow'" ng-click="$dir.changeState('active')").card-section-action
                                                em.mdi.mdi-play
                                                translate(translate="fund_card_sponsor.buttons.restart")

                                            .tag.tag-default(translate="fund_card_sponsor.status.closed")

                                td(ng-if="$root.activeOrganization.backoffice_available")
                                    a(ng-if="fund.key" ui-sref="fund-backoffice-edit(fund)").button.button-default
                                        em.mdi.mdi-cog.icon-start 
                                        | Backoffice
                                        
                            
                .card-title.text-center(ng-if="$ctrl.funds.length == 0") Geen fondsen gekoppeld aan deze implementatie. 

            .card-section: .table-pagination
                .table-pagination-counter(ng-bind="$ctrl.funds.length + ' resultaten'")

            //- .card-section(ng-show="$ctrl.implementations.meta.last_page > 1")
            //-     paginator(meta="$ctrl.implementations.meta" filters="$ctrl.filters.values" count-buttons="5" on-page-change="$ctrl.onPageChange(query)")

