.app.app-container
    menu
    section.app.app-content
        .card-heading(ng-if="$ctrl.implementations.data.length > 1" translate="system_notifications.header.title") 
        .block.block-choose-organization(ng-if="$ctrl.implementations.data.length > 1")
            div(
                ng-repeat="implementation in $ctrl.implementations.data"
                ng-click="$ctrl.selectImplementation(implementation)").organization-item
                .organization-item-inner(ng-class="{ 'active' : $ctrl.implementation == implementation }")
                    .organization-logo: img(ng-src="{{ implementation.logo || './assets/img/placeholders/organization-thumbnail.png' }}")
                    .organization-name(ng-bind="implementation.name")

        .card-heading: .flex.flex-horizontal
            .flex.flex-grow.flex-vertical.flex-center: div
                | Systeemberichten 
                tooltip(text="'system_notifications.header.tooltip' | translate")

            .flex: .button-group: a(ui-sref="implementation-notifications-branding($ctrl.brandingParams)").button.button-primary
                em.mdi.mdi-pencil.icon-start
                | Handtekening en huisstijl

        //- Motifications list
        .card.card-collapsed(ng-repeat="notificationGroup in $ctrl.notificationGroups")
            .card-header: .card-title(ng-bind="notificationGroup.groupLabel")
            .card-section
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th Omschrijving
                                th.nowrap Kanalen
                                th.nowrap Status
                                th.nowrap.text-right Bekijken

                            tr(ng-repeat="notification in notificationGroup.notifications")
                                td
                                    
                                    div
                                        em.mdi.mdi-lock-outline.text-muted-dark(ng-if="!notification.editable")  
                                        em.mdi.mdi-pencil-outline.text-muted-dark(ng-if="notification.editable")  
                                        span(ng-bind="notification.title")
                                    small(ng-bind="notification.description")

                                td.nowrap: .td-icons: em.block.block-tooltip-details.block-tooltip-hover.mdi(
                                    ng-repeat="icon in notification.icons" 
                                    ng-class="['mdi-' + icon.icon, icon.color]")
                                    .tooltip-content.tooltip-content-fit.tooltip-content-ghost
                                        .tooltip-heading.text-left(ng-bind="icon.tooltip.heading")
                                        .tooltip-text.text-left(ng-bind="icon.tooltip.text")

                                td.nowrap: .label.label-round.nowrap(
                                    ng-bind="notification.state.stateLabel"
                                    ng-class="{active: 'label-success', inactive: 'label-danger', active_partly: 'label-warning'}[notification.state.state]")

                                td.nowrap: .button-group.flex-end
                                    a.button.button-default(
                                        ui-sref="implementation-notifications-show(notification.srefData)")
                                        em.mdi.mdi-eye-outline.icon-start
                                        | Bekijken