.app.app-container
    menu
    section.app.app-content
        .card-heading(ng-if="$ctrl.implementations.data.length > 1") Systeem e-mails per webshop
        .block.block-choose-organization(ng-if="$ctrl.implementations.data.length > 1")
            div(
                ng-repeat="implementation in $ctrl.implementations.data"
                ng-click="$ctrl.selectImplementation(implementation)").organization-item
                .organization-item-inner(ng-class="{ 'active' : $ctrl.implementation == implementation }")
                    .organization-logo: img(ng-src="{{ implementation.logo || './assets/img/placeholders/organization-thumbnail.png' }}")
                    .organization-name(ng-bind="implementation.name")

        .card-heading
            | Systeem berichten 
            tooltip(text="'Het platform verstuurt automatische berichten naar gebruikers. Dit gebeurt via e-mails, webshop meldingen en pushberichten via de app. '")

        .card.card-collapsed(ng-if="$ctrl.implementation && $ctrl.notifications.length > 0")
            .card-header: .card-title Aanvraag en beoordeling
            .card-section
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th Onderwerp
                                th Aanvraag en beoordeling
                                th Status
                                th.text-right Bekijken

                            tr(ng-repeat="notification in $ctrl.notifications")
                                td 
                                    div {{ notification.title }}
                                    small {{ notification.key }}
                                td: .td-icons
                                    em.mdi.mdi-email-outline(
                                        ng-class="notification.channels.includes('mail') ? 'text-primary' : 'text-muted'")

                                    em.mdi.mdi-bell-ring-outline(
                                        ng-class="notification.channels.includes('push') ? 'text-primary' : 'text-muted'")

                                    em.mdi.mdi-message-alert-outline(
                                        ng-class="notification.channels.includes('database') ? 'text-primary' : 'text-muted'")

                                td: .label.label-success.label-round Actief

                                td: .button-group.flex-end
                                    a.button.button-default(
                                        ui-sref="implementation-notifications-show(notification.srefData)")
                                        em.mdi.mdi-eye-outline.icon-start
                                        | Bekijken