.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="implementations({organization_id: $ctrl.organization.id})") Webshops 
            .breadcrumb-item(ui-sref="implementation-view({organization_id: $ctrl.organization.id, id: $ctrl.implementation.id})" ng-bind="$ctrl.implementation.name")
            .breadcrumb-item(ui-sref="implementation-cms({organization_id: $ctrl.organization.id, id: $ctrl.implementation.id})") Content Management System
            .breadcrumb-item.active Implementation page configs

        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header.flex-row
                .flex.flex-grow: .card-title(i18n="implementation_edit.header.title")
                .flex
                    a(href="{{ $ctrl.implementation.url_webshop }}" target="_blank").button.button-text.button-sm 
                        | Open webshop
                        .mdi.mdi-open-in-new.icon-end
                    button(type="submit" translate="funds_edit.buttons.confirm").button.button-primary.button-sm

            //- Webshop configuration fields
            .card-section.card-section-primary.card-section-settings(ng-repeat="page in $ctrl.pages"): .row
                .card-title {{ page }} settings

                .flex-row: .card-block.card-block-listing(
                    ng-if="config.page_key == page" 
                    ng-repeat="config in $ctrl.form.values.config"
                    ng-class="{'active': config.is_active}")

                    .card-block-listing-label(translate="implementation_config.{{ config.page_config_key + '_' + config.page_key }}")
                    .button.button-text.button-narrow: label(for="{{ 'option_' + $index }}").form-toggle
                        input(type="checkbox" id="{{ 'option_' + $index }}" ng-model="config.is_active" ng-checked="config.is_active")
                        .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot

            //- Cancel or Submit
            .card-section.card-section-primary: .text-center
                button(
                    type="button" 
                    ui-sref="implementation-cms({organization_id: $ctrl.organization.id, id: $ctrl.implementation.id})"
                    translate="funds_edit.buttons.cancel").button.button-default

                button(
                    type="submit" 
                    translate="funds_edit.buttons.confirm").button.button-primary
