.app.app-container
    menu
    section.app.app-content
        .card
            .card-section
                .card-section-actions
                    a(ng-if="$ctrl.organization | hasPerm:'manage_organization'" ui-sref="organizations-edit($ctrl.organization)" id="edit_office").button.button-default
                        em.mdi.mdi-pen.icon-start
                        span(translate="offices.buttons.adjust")

                    a(ng-if="($ctrl.organization | hasPerm:'manage_organization') && $root.auth_user.address === $ctrl.organization.identity_address" ng-click="$ctrl.deleteOrganization()").button.button-default
                        em.mdi.mdi-delete.icon-start
                        span(translate="offices.buttons.delete")

                .card-block.card-block-provider
                    .provider-img: img(
                        ng-src="{{ $ctrl.organization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                    .provider-details
                        a(
                            ui-sref="organizations-edit($ctrl.organization)" 
                            ng-bind="$ctrl.organization.name").provider-title
                        .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                            .card-block-listing-label(translate="offices.labels.mail")
                            span.text-primary-light(ng-bind="$ctrl.organization.email")
                .card-block.card-block-listing(ng-if="$ctrl.organization.business_type")
                    .card-block-listing-label(translate="offices.labels.business_type")
                    span(ng-bind="$ctrl.organization.business_type.name")

            mixin keyvalue_item_horizontal(key, value)
                .keyvalue-item
                    .keyvalue-key(ng-bind=key)
                    .keyvalue-value(
                        ng-class="{'text-muted':!" + value + "}"
                        ng-bind=(value + " ? " + value + " : " + "'Geen data'"))

            .card-section.card-section-primary
                .card-block.card-block-keyvalue.card-block-keyvalue-horizontal
                    +keyvalue_item_horizontal("'KVK'", "$ctrl.organization.kvk")
                    +keyvalue_item_horizontal("'BTW'", "$ctrl.organization.btw")
                    +keyvalue_item_horizontal("'IBAN'", "$ctrl.organization.iban")
                    
        .card-heading(ng-if="$ctrl.offices") 
            span(translate="offices.labels.offices") 
            span(ng-bind="'(' + $ctrl.offices.length + ')'") 
            a(
               ng-if="$ctrl.organization | hasPerm:'manage_offices'" 
               ui-sref="offices-create({organization_id: $ctrl.organization.id})" 
               id="create_office").link
                em.mdi.mdi-plus-circle
                translate(translate="offices.buttons.add")
        .card(ng-if="$ctrl.offices" ng-repeat="office in $ctrl.offices")
            .card-section
                .card-section-actions
                    a(ui-sref="offices-edit(office)").button.button-default
                        em.mdi.mdi-pen.icon-start  
                        span(translate="offices.buttons.adjust")
                    a(ng-click="$ctrl.delete(office)" ng-if="$ctrl.offices.length > 1").button.button-default
                        em.mdi.mdi-delete
                        span(translate="offices.buttons.delete")
                    a(
                        ng-if="office.lat && office.lon"
                        href="https://www.google.com/maps/place/{{ office.lat }},{{ office.lon }}" 
                        target="_blank").button.button-primary
                        em.mdi.mdi-map-marker.icon-start 
                        span(translate="offices.buttons.map")
                        
                .card-block.card-block-provider
                    .provider-img: img(ng-src="{{ office.photo.sizes.thumbnail || './assets/img/placeholders/office-thumbnail.png' }}")
                    .provider-details
                        a(ui-sref="offices-edit(office)" ng-bind="office.address").provider-title
                        .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                            .card-block-listing-label(translate="offices.labels.phone")
                            span.text-primary-light(ng-show="office.phone" ng-bind="office.phone")
                            span(ng-show="!office.phone" translate="offices.labels.none").text-muted

            .card-section.card-section-primary(ng-if="office.schedule.length != 0")
                .row
                    .col.col-xs-12: small(translate="offices.labels.hours")
                    .col.col-xs-12: div(
                        ng-repeat="(weekDayKey, weekDay) in $ctrl.weekDays"
                        ng-show="office.scheduleByDay[weekDayKey].start_time || office.scheduleByDay[weekDayKey].end_time"
                        ).card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant.card-block-listing-no-pad
                        .card-block-listing-label(ng-bind="weekDay")
                        span(ng-bind="office.scheduleByDay[weekDayKey].start_time || 'Geen data'") 
                        | - 
                        span(ng-bind="office.scheduleByDay[weekDayKey].end_time || 'Geen data'")
        
        block-empty(
            ng-if="$ctrl.offices.length == 0" 
            text="Je hebt momenteel geen vestigingen." 
            button="{text: 'Vestiging toevoegen', href: $ctrl.emptyBlockLink}")