.app.app-container
    menu
    section.app.app-content
        .card-heading {{ "organization_providers.header.title" | translate }} ({{ $ctrl.fundProviders.length }}) 
        .card(ng-repeat="providerFund in $ctrl.fundProviders | orderBy:'order':'desc'")
            .card-section
                .card-section-actions
                    div(ng-show="providerFund.state == 'approved'")
                        .tag.tag-success {{ "organization_providers.status.accepted" | translate }}
                    div(ng-show="providerFund.state == 'declined'")
                        .tag.tag-default {{ "organization_providers.status.rejected" | translate }}
                    div(ng-show="providerFund.state == 'pending'")
                        .tag.tag-warning {{ "organization_providers.status.hold" | translate }}

                .card-block.card-block-provider
                    .provider-img: img(ng-src="{{ providerFund.organization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                    span(ng-bind="providerFund.organization.name").provider-title
                    br
                    .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                        .card-block-listing-label {{ "organization_providers.labels.mail" | translate }}
                        span.text-primary-light(ng-bind="providerFund.organization.email")
                .card-block.card-block-listing
                    .card-block-listing-label {{ "organization_providers.labels.categories" | translate }}
                    | {{ providerFund.organization.fundCategories.join(', ') }}
                    small(ng-show="$ctrl.fundCategories.length == 0").text-muted.small No categories
                br
                .card-block.card-block-listing
                    .card-block-listing-label {{ "organization_providers.labels.join" | translate }}
                    span(
                        ui-sref="funds-show({fund_id: providerFund.fund_id, organization_id: providerFund.fund.organization_id})"
                        ng-bind="providerFund.fund.name").text-primary-light

            mixin keyvalue_item_horizontal(key, value)
                .keyvalue-item
                    .keyvalue-key=key
                    .keyvalue-value(ng-bind=value)

            .card-section.card-section-primary
                .card-block.card-block-keyvalue.card-block-keyvalue-horizontal
                    +keyvalue_item_horizontal("KVK", "providerFund.organization.kvk")
                    .pull-right
                        button(
                            ng-show="(providerFund.state == 'pending') || (providerFund.state == 'approved')"
                            ng-click="$ctrl.declineProvider(providerFund)"
                            ).button.button-default
                            em.mdi.mdi-close 
                            | {{ "organization_providers.buttons.reject" | translate }}
                        button(
                            ng-show="(providerFund.state == 'pending') || (providerFund.state == 'declined')"
                            ng-click="$ctrl.approveProvider(providerFund)"
                            ).button.button-primary
                            em.mdi.mdi-check 
                            | {{ "organization_providers.buttons.accept" | translate }}
        
        empty-block( 
            ng-if="$ctrl.fundProviders.length == 0"
            text="'You have no provider requests yet.'")