.app.app-container
    menu
    section.app.app-content
        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header 
                .card-title(ng-if="!$ctrl.organization" i18n="organization_edit.header.title_add") 
                .card-title(ng-if="$ctrl.organization" i18n="organization_edit.header.title_edit") 
            
            .card-section.card-section-primary
                .row: .col.col-xs-12: .form-group.form-group-inline
                    label.form-label &nbsp;
                    .form-offset: photo-selector(
                        type="organization_logo"
                        thumbnail="$ctrl.media.sizes.thumbnail"
                        select-photo="$ctrl.selectPhoto(file)")
            
            .card-section.card-section-primary
                .row: .col.col-lg-9.col-lg-12
                    .form-group.form-group-inline
                        label.form-label(i18n="organization_edit.labels.name")
                        input(ng-model="$ctrl.form.values.name" type="text" placeholder="Bedrijfsnaam").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.name" ng-bind="error")
                    .form-group.form-group-inline
                        label.form-label(i18n="organization_edit.labels.bank")
                        input(ng-model="$ctrl.form.values.iban" type="text" placeholder="IBAN-nummer").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.iban" ng-bind="error")
            
            .card-section.card-section-primary
                .form-group.form-group-inline
                    label.form-label(i18n="organization_edit.labels.mail")
                    .form-offset: .row
                        .col.col-lg-8.col-lg-12
                            input(ng-model="$ctrl.form.values.email" type="text" placeholder="E-mailadres").form-control
                            .form-error(ng-repeat="error in $ctrl.form.errors.email" ng-bind="error")
                        
                        .col.col-lg-4.col-lg-12
                            input-checkbox-control(
                                name="email_public" 
                                label="{{ 'Maak publiek' | i18n }}" 
                                ng-model="$ctrl.form.values.email_public")
                
                .form-group.form-group-inline
                    label.form-label(i18n="organization_edit.labels.phone")
                    .form-offset: .row
                        .col.col-lg-8.col-lg-12
                            input(type="text" ng-model="$ctrl.form.values.phone" placeholder="Telefoonnummer").form-control
                            .form-error(ng-repeat="error in $ctrl.form.errors.phone" ng-bind="error")
                        
                        .col.col-lg-4.col-lg-12
                            input-checkbox-control(
                                name="phone_public" label="{{ 'Maak publiek' | i18n }}" ng-model="$ctrl.form.values.phone_public")
                
                .form-group.form-group-inline
                    label.form-label(i18n="organization_edit.labels.website")
                    .form-offset: .row
                        .col.col-lg-8.col-lg-12
                            input(ng-model="$ctrl.form.values.website" type="text" placeholder="Website").form-control
                            .form-error(ng-repeat="error in $ctrl.form.errors.website" ng-bind="error")
                        
                        .col.col-lg-4.col-lg-12
                            input-checkbox-control(
                                name="website_public" 
                                label="{{ 'Maak publiek' | i18n }}" 
                                ng-model="$ctrl.form.values.website_public")
            
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    .form-label(i18n="organization_edit.labels.business_type")
                    .form-offset: select-control(
                        ng-model="$ctrl.businessType" 
                        ng-change="$ctrl.chageBusinessType(value)"
                        options="$ctrl.businessTypes"
                        placeholder="Selecteer organisatie type...")
            
            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    .form-label(i18n="organization_edit.labels.description")
                    .form-offset: markdown(
                        value="$ctrl.form.values.description_html"
                        ng-model="$ctrl.form.values.description")

            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    label.form-label(i18n="organization_edit.labels.kvk")
                    input(ng-model="$ctrl.form.values.kvk" type="text" placeholder="KvK-nummer").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.kvk" ng-bind="error")
                
                .form-group.form-group-inline
                    label.form-label(i18n="organization_edit.labels.tax")
                    input(ng-model="$ctrl.form.values.btw" type="text" placeholder="BTW-nummer").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.btw" ng-bind="error")

            .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
                .form-group.form-group-inline
                    label.form-label(i18n="organization_edit.labels.person_bsn_api_id")
                    input(ng-model="$ctrl.form.values.person_bsn_api_id" type="text" placeholder="Person BSN API id").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.person_bsn_api_id" ng-bind="error")
            
            .card-section.card-section-primary: .text-center
                button(type="button" ng-click="$ctrl.cancel()" i18n="organization_edit.buttons.cancel" id="cancel").button.button-default
                button(type="submit" i18n="organization_edit.buttons.create").button.button-primary