.app.app-container(ng-if="$root.activeOrganization && $root.auth_user && $ctrl.funds")
    menu
    section.app.app-content
        .card-heading.flex-row
            .flex-col
                translate(translate="components.organization_funds.title")
                a(
                    ui-sref="funds-create({organization_id: $root.activeOrganization.id})"
                    ng-if='$root.activeOrganization | hasPerm:["manage_funds"]'
                    id="create_fund").link
                    em.mdi.mdi-plus-circle
                    translate(translate="components.organization_funds.buttons.add")
                    span(ng-bind="' (' + $ctrl.funds.length + ')'")    
            
            .flex-col: .block.block-label-tabs.nowrap.pull-right: .label-tab-set
                .label-tab.label-tab-sm(
                    ng-class="{'active' : $ctrl.shownFundsType == 'active'}"
                    ui-sref="organization-funds({funds_type: 'active'})")
                    | Lopend ({{ $ctrl.activeFunds.length }})
                .label-tab.label-tab-sm(
                    ng-class="{'active' : $ctrl.shownFundsType == 'archived'}"
                    ui-sref="organization-funds({funds_type: 'archived'})")
                    | Archief ({{ $ctrl.archivedFunds.length }})

        .block.block-funds(ng-if="$ctrl.shownFundsType == 'active'")
            .fund-item(ng-repeat="fund in $ctrl.activeFunds")
                .fund-item-section: .flex-col
                    .flex-row
                        .fund-logo: img(ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}").fund-logo-img
                        .fund-details
                            .fund-title
                                span(ng-bind="fund.name")
                                
                                .tag.tag-success.tag-sm(
                                    ng-if="fund.state == 'active'" 
                                    translate="components.organization_funds.states.active")
                                
                                .tag.tag-warning.tag-sm(
                                    ng-if="fund.state == 'paused'" 
                                    translate="components.organization_funds.states.paused")

                                .tag.tag-default.tag-sm(
                                    ng-if="fund.state == 'closed'" 
                                    translate="components.organization_funds.states.closed")

                        .fund-actions
                            a(ui-sref="funds-show(fund)").button.button-primary
                                em.mdi.mdi-eye-outline.icon-start
                                translate(translate="product_card.buttons.view")

                    .flex-row.flex-end(ng-if="!fund.is_external"): .fund-remaining
                        .fund-remaining-label(translate="components.organization_funds.labels.remaining") 
                        .fund-remaining-value(ng-bind="fund.budget.total - fund.budget.used | currency_format")
                    
                    .flex-row(ng-if="!fund.is_external")
                        .flex-col: .flex-row.flex-start
                            .button.button-default(ng-click="$ctrl.toggleFundCriteria(fund)")
                                em.mdi.mdi-toggle-switch.icon-start
                                translate(translate="components.organization_funds.buttons.criteria")
                            
                            .button.button-default(ng-if="fund.key && fund.is_configured " ng-click="$ctrl.toggleFundStats(fund)")
                                em.mdi.mdi-poll.icon-start
                                translate(translate="components.organization_funds.buttons.statistics")

                        .flex-col: .flex-row.flex-end
                            .button.button-default(
                                ng-if="fund.balance_provider == 'top_ups' && fund.key && fund.state != 'closed'" 
                                ng-disabled="!fund.organization.has_bank_connection"
                                ng-click="$ctrl.topUpModal(fund)")
                                em.mdi.mdi-plus-circle.icon-start
                                translate(translate="components.organization_funds.buttons.top_up")

                            .button.button-default(
                                ng-if="fund.key && fund.state == 'closed'" 
                                ng-click="$ctrl.archiveFund(fund)")
                                em.mdi.mdi-download-box-outline.icon-start
                                translate(translate="components.organization_funds.buttons.archive")
                
                .fund-item-section.fund-item-section-primary.fund-item-section-with-arrow.form(ng-if="fund.show_criteria")
                    fund-criteria-editor(
                        fund="fund" 
                        organization="fund.organization" 
                        criteria="fund.form.criteria" 
                        is-editable="fund.criteria_editable" 
                        record-types="$ctrl.recordTypes" 
                        save-button='true'
                        on-save-criteria='$ctrl.onSaveCriteria(fund)'
                        validator-organizations="$ctrl.validatorOrganizations.data")
                
                .fund-item-section.fund-item-section-warning.fund-item-section-with-arrow(ng-if="fund.is_configured && fund.show_stats")
                    .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                        a.keyvalue-item.col.col-lg-3(
                            ui-sref="employees({organization_id: $ctrl.organization.id})")
                            .keyvalue-key(translate="fund_card_sponsor.labels.your_employees")
                            .keyvalue-value
                                span(ng-bind="fund.sponsor_count")
                                span.icon.mdi.mdi-account-multiple-plus

                        .keyvalue-item.col.col-lg-3(
                            ng-class="{'keyvalue-item-disabled': !fund.canInviteProviders}" 
                            ng-click="$ctrl.inviteProvider(fund)")
                            .keyvalue-key(translate="fund_card_sponsor.labels.providers")
                            .keyvalue-value
                                span(ng-bind="fund.providersDescription")
                                span.icon.mdi.mdi-account-multiple-plus(ng-if="fund.canInviteProviders")

                        a.keyvalue-item.col.col-lg-3(
                            ng-class="{'keyvalue-item-disabled': !fund.canAccessFund}" 
                            ui-sref="csv-validation({ fund_id: fund.id })")
                            .keyvalue-key(translate="fund_card_sponsor.labels.applicants")
                            .keyvalue-value
                                span(ng-bind="fund.requester_count")
                                span.icon.mdi.mdi-account-multiple-plus(ng-if="fund.canAccessFund") 
            
                .fund-item-section.fund-item-section-primary(ng-if="fund.show_stats")
                    .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                        .keyvalue-item.col.col-lg-3
                            .keyvalue-key Gestort
                            .keyvalue-value
                                span(ng-bind="fund.budget.total | currency_format")
                        
                        .keyvalue-item.col.col-lg-3
                            .keyvalue-key Gebruikt
                            .keyvalue-value
                                span(ng-bind="fund.budget.used | currency_format")
                        
                        .keyvalue-item.col.col-lg-3
                            .keyvalue-key Resterend
                            .keyvalue-value
                                span(ng-bind="fund.budget.total - fund.budget.used | currency_format")

        .block.block-funds(ng-if="$ctrl.shownFundsType == 'archived' && $ctrl.archivedFunds.length > 0")
            .fund-item(ng-repeat="fund in $ctrl.archivedFunds")
                .fund-item-section: .flex-col
                    .flex-row
                        .fund-logo: img(
                            ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}"
                            ).fund-logo-img
                        .fund-details
                            .fund-title
                                span(ng-bind="fund.name")

                                .tag.tag-default.tag-sm(translate="components.organization_funds.states.archived")

                        .fund-actions
                            .button.button-primary(
                                ng-if="(fund.organization | hasPerm:'manage_funds')" 
                                ng-click="$ctrl.restoreFund(fund)")
                                em.mdi.mdi-lock-reset.icon-start
                                translate(translate="components.organization_funds.buttons.restore")

        block-empty(
            ng-if="$ctrl.activeFunds.length == 0 && $ctrl.shownFundsType == 'active' && $ctrl.hasManagerPermission"
            text="Je hebt momenteel geen lopende fondsen." 
            button="{text: 'Fonds toevoegen', href: $ctrl.emptyBlockLink}")

        block-empty(
            ng-if="$ctrl.activeFunds.length == 0 && $ctrl.shownFundsType == 'active' && !$ctrl.hasManagerPermission"
            text="Je hebt momenteel geen lopende fondsen.")

        block-empty(
            ng-if="$ctrl.archivedFunds.length == 0 && $ctrl.shownFundsType == 'archived'"
            text="Je hebt momenteel geen gearchiveerde fondsen.")
