.app.app-container
    menu
    section.app.app-content
        //- Breadcrumbs
        .block.block-breadcrumbs(ng-if="$root.activeOrganization")
            a.breadcrumb-item(ng-bind="$ctrl.organization.name" ui-sref="organizations-view($ctrl.organization)")
            .breadcrumb-item.active Beveiliging

        //- Fund edit form
        .card: form(ng-submit="$ctrl.form.submit()").form
            //- Header
            .card-header: .flex-row
                .flex.flex-grow
                    .card-title(ng-if="$ctrl.viewType == 'employees'") Tweefactorauthenticatie voor medewerkers
                    .card-title(ng-if="$ctrl.viewType == 'funds'") Tweefactorauthenticatie voor fondsen

                .flex: .block.block-inline-filters: .flex: div: .block.block-label-tabs.pull-right: .label-tab-set
                    .label-tab.label-tab-sm(
                        ng-repeat = "tab in $ctrl.tabs"
                        ng-class="{active: $ctrl.viewType == tab.key}"
                        ng-click="$ctrl.setViewType(tab.key)"
                        ng-bind="tab.name")

            //- 2FA employees
            .card-section.card-section-primary(ng-if="$ctrl.viewType == 'employees'"): .row: .col.col-lg-9.col-xs-12
                //- 2fa level
                .form-group.form-group-inline   
                    label.form-label 2FA beperkingen

                    .form-offset: select-control(
                        prop="value"
                        search="false"
                        ng-model="$ctrl.form.values.auth_2fa_policy" 
                        options="$ctrl.auth2FARequiredOptions").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.auth_2fa_policy" ng-bind="error")

                //- Remember IP
                .form-group.form-group-inline(ng-if="$ctrl.form.values.auth_2fa_policy == 'required'")
                    label.form-label Onthoud IP-adres

                    .form-offset: select-control(
                        prop="value"
                        search="false"
                        ng-model="$ctrl.form.values.auth_2fa_remember_ip" 
                        options="$ctrl.auth2FARememberIpOptions").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.auth_2fa_remember_ip" ng-bind="error")

                //- Employee restricted features
                .form-group.form-group-inline
                    label.form-label Restrict features

                    .form-offset
                        div: input-checkbox-control(
                            name="auth_2fa_restrict_bi_connections"
                            ng-model="$ctrl.form.values.auth_2fa_restrict_bi_connections"
                            label="BI tools")
            
            //- 2FA employees funds
            .card-section.card-section-primary(ng-if="$ctrl.viewType == 'funds'"): .row: .col.col-lg-9.col-xs-12
                //- 2fa level
                .form-group.form-group-inline   
                    label.form-label 2FA beperkingen

                    .form-offset: select-control(
                        prop="value"
                        search="false"
                        ng-model="$ctrl.form.values.auth_2fa_funds_policy" 
                        options="$ctrl.auth2FAFundsRequiredOptions").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.auth_2fa_funds_policy" ng-bind="error")

                //- Remember IP
                .form-group.form-group-inline(ng-if="$ctrl.form.values.auth_2fa_funds_policy == 'required'")
                    label.form-label Onthoud IP-adres

                    .form-offset: select-control(
                        prop="value"
                        search="false"
                        ng-model="$ctrl.form.values.auth_2fa_funds_remember_ip" 
                        options="$ctrl.auth2FARememberIpOptions").form-control
                    .form-error(ng-repeat="error in $ctrl.form.errors.auth_2fa_funds_remember_ip" ng-bind="error")
                
                //- Restrict some features
                .form-group.form-group-inline(ng-if="$ctrl.form.values.auth_2fa_funds_policy == 'restrict_features'")
                    label.form-label Verplicht instellen voor

                    .form-offset
                        div: input-checkbox-control(
                            name="auth_2fa_funds_restrict_emails" 
                            ng-model="$ctrl.form.values.auth_2fa_funds_restrict_emails" 
                            label="Aanpassen van e-mailadres")

                        div: input-checkbox-control(
                            name="auth_2fa_funds_restrict_auth_sessions" 
                            ng-model="$ctrl.form.values.auth_2fa_funds_restrict_auth_sessions" 
                            label="Aanpassen van inlog sessies")

                        div: input-checkbox-control(
                            name="auth_2fa_funds_restrict_reimbursements" 
                            ng-model="$ctrl.form.values.auth_2fa_funds_restrict_reimbursements" 
                            label="Indienen van declaraties")

            //- Submit
            .card-section.card-section-primary: .text-center
                a(ui-sref="employees({organization_id: $ctrl.organization.id})").button.button-default Annuleer
                button(type="submit").button.button-primary Bevestigen
