.app.app-container
    menu
    section.app.app-content
        .card-heading: .row
            .col.col-sm-6.col-xs-12
                span(translate="organization_providers.header.title")
        
        .block.block-choose-organization(ng-if="$ctrl.funds.length > 0")
            div(
                ng-repeat="fund in $ctrl.fund ? [$ctrl.fund] : $ctrl.funds" 
                ui-sref="organization-providers({organziation_id: fund.organization_id, fund_id: fund.id})").organization-item
                .organization-item-inner
                    .organization-logo: img(ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}")
                .organization-name(ng-bind="fund.name")
                .organization-categories(ng-bind="fund.fundCategories")

            div(
                ng-if="$ctrl.fund && $ctrl.funds.length > 1"
                ui-sref="organization-providers({organziation_id: fund.organization_id, fund_id: null})").organization-item
                .organization-item-inner
                    .organization-logo.organization-logo-mdi: .mdi.mdi-chevron-up
                .organization-name(ng-bind="'csv_validation.buttons.choose' | translate")
        
        div(ng-if="$ctrl.fund")
            .card-heading: .row
                .col.col-sm-6.col-xs-12
                    span(translate="organization_providers.header.title")
                    span(ng-bind="$ctrl.fundProviders.meta.total").span-count
                .block.block-inline-filters.col.col-sm-6.col-xs-12
                    .button.button-text(ng-if="$ctrl.filters.show" ng-click="$ctrl.resetFilters()")
                        em.mdi.mdi-close
                        span(i18n="Wis filters")

                    .form(ng-if="!$ctrl.filters.show")
                        .form-group.inline-filters-search: input(
                            ng-model="$ctrl.filters.values.q" 
                            type="text" 
                            placeholder="{{ 'search' | i18n }}").form-control

                    .inline-filters-dropdown(click-outside="$ctrl.hideFilters()")
                        .inline-filters-dropdown-content(ng-show="$ctrl.filters.show")
                            .arrow-box.bg-dim: .arrow
                            .form
                                .form-group
                                    form-label-toggle(label="{{ 'search' | i18n }}" is-active)
                                    input(ng-model="$ctrl.filters.values.q" type="text" placeholder="{{ 'search' | i18n }}").form-control
                                .form-group
                                    form-label-toggle(label="{{ 'organization_providers.state' | i18n }}")
                                    select(
                                    ng-options="state.key as state.name for state in $ctrl.states"
                                    ng-model="$ctrl.filters.values.state").form-control

                        .button.button-default.button-icon(ng-click="$ctrl.filters.show = !$ctrl.filters.show"): em.mdi.mdi-filter-outline

            .card(
                ng-repeat="providerFund in $ctrl.fundProviders.data"
                ng-class="[providerFund.collapsable ? 'card-collapsable' : '', providerFund.collapsed ? 'card-collapsed' : '']"
                ng-click="$ctrl.toggleFundCollapse(providerFund)")
                .card-section
                    .card-section-actions
                        div(ng-show="providerFund.state == 'approved'")
                            .tag.tag-success(translate="organization_providers.status.accepted")
                        div(ng-show="providerFund.state == 'declined'")
                            .tag.tag-default(translate="organization_providers.status.rejected")
                        div(ng-show="providerFund.state == 'pending'")
                            .tag.tag-warning(translate="organization_providers.status.hold")

                    .card-block.card-block-provider
                        .provider-img: img(ng-src="{{ providerFund.organization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                        span(ng-bind="providerFund.organization.name").provider-title
                        br
                        .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant(
                            ng-if="providerFund.organization.email")
                            .card-block-listing-label(translate="organization_providers.labels.mail")
                            span.text-primary-light(ng-bind="providerFund.organization.email")
                        .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant(
                            ng-if="providerFund.organization.phone")
                            .card-block-listing-label(translate="organization_providers.labels.phone")
                            span.text-primary-light(ng-bind="providerFund.organization.phone")
                        .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant(
                            ng-if="providerFund.organization.website")
                            .card-block-listing-label(translate="organization_providers.labels.website")
                            span.text-primary-light(ng-bind="providerFund.organization.website")

                    div(ng-if="!providerFund.collapsed")
                        .card-block.card-block-listing
                            .card-block-listing-label(translate="organization_providers.labels.business_type")
                            span(ng-bind="providerFund.organization.business_type.name")
                            small(
                                ng-show="!providerFund.organization.business_type" 
                                translate="organization_providers.labels.no_business_type").text-muted.small
                        br
                        .card-block.card-block-listing
                            .card-block-listing-label(translate="organization_providers.labels.join")
                            span(ui-sref="funds-show(providerFund.fund)" ng-bind="providerFund.fund.name").text-primary-light

                mixin keyvalue_item_horizontal(key, value)
                    .keyvalue-item
                        .keyvalue-key=key
                        .keyvalue-value(ng-bind=value)

                .card-section.card-section-primary(ng-if="!providerFund.collapsed")
                    .card-block.card-block-keyvalue.card-block-keyvalue-horizontal
                        +keyvalue_item_horizontal("KVK", "providerFund.organization.kvk")
                        .pull-right
                            button(
                                prevent-propagation
                                ng-show="(providerFund.state == 'pending') || (providerFund.state == 'approved')"
                                ng-click="$ctrl.declineProvider(providerFund)").button.button-default
                                em.mdi.mdi-close 
                                span(translate="organization_providers.buttons.reject")
                            button(
                                prevent-propagation
                                ng-show="(providerFund.state == 'pending') || (providerFund.state == 'declined')"
                                ng-click="$ctrl.approveProvider(providerFund)").button.button-primary
                                em.mdi.mdi-check 
                                span(translate="organization_providers.buttons.accept")


            .card
                .card-section(ng-show="$ctrl.fundProviders.meta.last_page > 1")
                    paginator(meta="$ctrl.fundProviders.meta" filters="$ctrl.filters.values" count-buttons="5" on-page-change="onPageChange(query)")

                .card-section(ng-show="$ctrl.fundProviders.meta.total > 0"): .table-pagination.text-right
                    button(ng-click="$ctrl.exportList()").button.button-primary
                        em.mdi.mdi-download  
                        span(i18n="transactions.buttons.export")

            block-empty( 
                ng-if="$ctrl.fundProviders.data.length == 0"
                text="Je hebt nog geen verzoeken van aanbieders")