.app.app-container
    menu
    section.app.app-content
        .card
            .card-header: .flex-row
                //- Organization funds title
                .flex-col.flex-grow: .card-title(dusk="fundsTitle")
                    span(i18n="components.organization_funds.title")
                    span(ng-bind="$ctrl.funds.meta.total").span-count

                //- Filters
                .flex: .block.block-inline-filters
                    .button.button-primary.button-sm(
                        ng-if='$root.activeOrganization | hasPerm:["manage_funds"]'
                        ui-sref="funds-create({organization_id: $root.activeOrganization.id})"
                        id="create_fund")
                        em.mdi.mdi-plus-circle.icon-start
                        translate(translate="components.organization_funds.buttons.add")

                    .button.button-default.button-sm(
                        ng-if="$ctrl.organization.allow_2fa_restrictions && ($ctrl.organization | hasPerm:['manage_organization'])"
                        ui-sref="organization-security({organization_id: $ctrl.organization.id, view_type: 'funds'})")
                        em.mdi.mdi-security.icon-start
                        translate(translate="components.organization_funds.buttons.security")

                    //- View type
                    .form: .flex: div: .block.block-label-tabs: .label-tab-set
                        .label-tab.label-tab-sm(
                            ng-class="{'active' : $ctrl.shownFundsType == 'active'}"
                            ui-sref="organization-funds({funds_type: 'active'})")
                            | Lopend ({{ $ctrl.funds.meta.unarchived_funds_total }})

                        .label-tab.label-tab-sm(
                            ng-class="{'active' : $ctrl.shownFundsType == 'archived'}"
                            ui-sref="organization-funds({funds_type: 'archived'})")
                            | Archief ({{ $ctrl.funds.meta.archived_funds_total }})

                    .flex
                        .button.button-text(ng-if="$ctrl.filters.show" ng-click="$ctrl.filters.reset()")
                            em.mdi.mdi-close.icon-start
                            span(i18n="Wis filters")

                        .form(ng-if="!$ctrl.filters.show")
                            .form-group: input(
                                ng-model="$ctrl.filters.values.q"
                                placeholder="Zoeken").form-control

                        .inline-filters-dropdown.pull-right(click-outside="$ctrl.hideFilters()")
                            .inline-filters-dropdown-content(ng-show="$ctrl.filters.show")
                                .arrow-box.bg-dim: .arrow
                                .form
                                    .form-group
                                        form-label-toggle(label="{{ 'components.organization_funds.filters.search' | i18n }}" is-active)
                                        input(
                                            type="text"
                                            ng-model="$ctrl.filters.values.q"
                                            placeholder="{{ 'components.organization_funds.filters.search' | i18n }}").form-control

                                    .form-group(ng-click="$event.stopPropagation()")
                                        form-label-toggle(label="{{ 'components.organization_funds.filters.state' | translate }}")
                                        
                                        .form-offset: select-control(
                                            prop="key"
                                            search="false"
                                            ng-model="$ctrl.filters.values.state"
                                            options="$ctrl.states").form-control
                                    
                                    .form-group(ng-click="$event.stopPropagation()")
                                        form-label-toggle(label="{{ 'components.organization_funds.filters.implementation' | translate }}")
                                        
                                        .form-offset: select-control(
                                            prop="id"
                                            search="false"
                                            ng-model="$ctrl.filters.values.implementation_id"
                                            options="$ctrl.implementations").form-control

                            .button.button-default.button-icon(ng-click="$ctrl.filters.show = !$ctrl.filters.show"): em.mdi.mdi-filter-outline

            //- Funds list
            .card-section(ng-if="$ctrl.funds.meta.total > 0")
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th(translate="components.organization_funds.labels.name" value="name")

                                th(translate="components.organization_funds.labels.implementation" value="implementation_id")

                                th(
                                    value="remaining_amount"
                                    ng-if="$ctrl.shownFundsType == 'active'"
                                    translate="components.organization_funds.labels.remaining")

                                th(
                                    value="requester_count"
                                    ng-if="$ctrl.shownFundsType == 'active'"
                                    translate="components.organization_funds.labels.requester_count")

                                th(translate="components.organization_funds.labels.status" value="state")
                                th(translate="components.organization_funds.labels.actions").th-narrow.text-right

                            tr(
                                ng-repeat="fund in $ctrl.funds.data"
                                ui-sref="funds-show(fund)")
                                //- Fund name
                                td: .td-entity-main
                                    .td-entity-main-media: img.td-media.td-media-sm.td-media-round(
                                        ng-src="{{ fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}")
                                    .td-entity-main-content
                                        .text-strong.text-primary(ng-bind="fund.name | str_limit:50" title="{{ fund.name || '-' }}")
                                        .text-muted-dark(ng-bind="fund.type_locale")

                                td(ng-bind="fund.implementation.name").text-strong.text-muted-dark

                                //- Fund amount left
                                td(
                                    ng-if="!fund.archived"
                                    ng-bind="fund.budget.total - fund.budget.used | currency_format")

                                //- Requesters number
                                td(
                                    ng-if="!fund.archived"
                                    ng-bind="fund.requester_count").text-strong.text-muted-dark

                                //- Status label
                                td
                                    .label.label-success(
                                        ng-if="!fund.archived && fund.state == 'active'"
                                        translate="components.organization_funds.states.active")

                                    .label.label-warning(
                                        ng-if="!fund.archived && fund.state == 'paused'"
                                        translate="components.organization_funds.states.paused")

                                    .label.label-default(
                                        ng-if="!fund.archived && fund.state == 'closed'"
                                        translate="components.organization_funds.states.closed")

                                    .label.label-default(
                                        ng-if="fund.archived"
                                        translate="components.organization_funds.states.archived")

                                //- Fund actions
                                td.td-narrow.text-right
                                    button.button.button-text.button-menu(
                                        ng-if="!fund.archived"
                                        type="button"
                                        ng-click="$ctrl.toggleActions($event, fund)")
                                        em.mdi.mdi-dots-horizontal

                                        .menu-dropdown(
                                            click-outside="$ctrl.onClickOutsideMenu($event, fund)"
                                            ng-if="fund.showMenu")

                                            .menu-dropdown-arrow
                                            .dropdown.dropdown-actions
                                                a(
                                                    ui-sref="funds-show(fund)").dropdown-item
                                                    | #[em.mdi.mdi-eye.icon-start] Bekijken

                                                a(
                                                    ng-if="fund.organization | hasPerm:['manage_funds','manage_fund_texts']:false"
                                                    ui-sref="funds-edit(fund)").dropdown-item
                                                    | #[em.mdi.mdi-pencil.icon-start] Bewerken

                                                a(
                                                    ng-if="$ctrl.organization.allow_2fa_restrictions && ($ctrl.organization | hasPerm:['manage_organization'])"
                                                    ui-sref="funds-security(fund)").dropdown-item
                                                    | #[em.mdi.mdi-security.icon-start] Beveiliging

                                                a(
                                                    ng-if="fund.balance_provider == 'top_ups' && fund.key && fund.state != 'closed'"
                                                    ng-disabled="!fund.organization.has_bank_connection"
                                                    ng-click="$ctrl.topUpModal(fund)").dropdown-item
                                                    | #[em.mdi.mdi-plus-circle.icon-start] Budget toevoegen

                                                a(
                                                    ng-disabled="fund.key && fund.state != 'closed'"
                                                    ng-click="$ctrl.archiveFund(fund)").dropdown-item
                                                    | #[em.mdi.mdi-download-box-outline.icon-start]
                                                    span(translate="components.organization_funds.buttons.archive")

                                    .button.button-primary(
                                        ng-if="fund.archived && (fund.organization | hasPerm:'manage_funds')"
                                        ng-click="$ctrl.restoreFund($event, fund)")
                                        em.mdi.mdi-lock-reset.icon-start
                                        translate(translate="components.organization_funds.buttons.restore")

            //- Funds pagination
            .card-section(ng-if="$ctrl.funds" ng-show="$ctrl.funds.meta.last_page > 1")
                paginator(
                    meta="$ctrl.funds.meta"
                    filters="$ctrl.filters.values"
                    on-page-change="$ctrl.onPageChange(query)")

            //- Empty transactions block
            .card-section(ng-if="$ctrl.funds.meta.total == 0"): .block.block-empty.text-center
                .empty-title Geen fondsen gevonden