.app.app-container
    menu
    section.app.app-content
        .card: form(ng-submit="$ctrl.form.submit()").form
            .card-header: .card-title(translate="organization_contacts.title")

            .card-section.card-section-primary: .row: .col.col-lg-9.col-sm-12
                .form-group.form-group-inline(ng-repeat="contact in $ctrl.form.values.contacts")
                    label.form-label(translate="organization_contacts.labels.{{ contact.key }}")

                    .form-offset
                        .form-group-info
                            .form-group-info-control: .flex.flex-grow.flex-vertical
                                input(
                                    ng-model="contact.value"
                                    type="{{ contact.type }}"
                                    placeholder="{{ 'organization_contacts.labels.' + contact.key | translate }}").form-control
                                .form-error(ng-repeat="error in $ctrl.form.errors['contacts.' + $index + '.value']" ng-bind="error")

                            .form-group-info-button: .button.button-default.button-icon.pull-left(
                                ng-click="contact.showInfoBlock = !contact.showInfoBlock"
                                ng-class="{active: contact.showInfoBlock}")
                                em.mdi.mdi-information

                        .block.block-info-box.block-info-box-primary(ng-if="contact.showInfoBlock")
                            .info-box-icon.mdi.mdi-information

                            //- Fund balance is low
                            .info-box-content(ng-if="contact.key == 'fund_balance_low'"): .block.block-markdown
                                h4 Fund balance is low
                                p
                                    | Vul bij de header bovenstaande naam en sleutelcode in
                                    | Voor het instellen van de token  zijn er twee opties:

                                ul
                                    li URL-parameter: Kies deze optie als uw BI-tool token ondersteunt. Voeg de token toe als een parameter in de URL
                                    li Header: Kies deze optie als uw BI-tool header ondersteunt. Voeg de token toe in de header

                            //- Bank connection is expiring
                            .info-box-content(ng-if="contact.key == 'bank_connections_expiring'"): .block.block-markdown
                                h4 Bank connection is expiring
                                p
                                    | Vul bij de header bovenstaande naam en sleutelcode in
                                    | Voor het instellen van de token  zijn er twee opties:

                                ul
                                    li URL-parameter: Kies deze optie als uw BI-tool token ondersteunt. Voeg de token toe als een parameter in de URL
                                    li Header: Kies deze optie als uw BI-tool header ondersteunt. Voeg de token toe in de header

                            //- Provider applied
                            .info-box-content(ng-if="contact.key == 'provider_applied'"): .block.block-markdown
                                h4 Provider applied
                                p
                                    | Vul bij de header bovenstaande naam en sleutelcode in
                                    | Voor het instellen van de token  zijn er twee opties:

                                ul
                                    li URL-parameter: Kies deze optie als uw BI-tool token ondersteunt. Voeg de token toe als een parameter in de URL
                                    li Header: Kies deze optie als uw BI-tool header ondersteunt. Voeg de token toe in de header

            .card-section.card-section-primary: .text-center
                button(
                    type="button"
                    ui-sref="organizations" 
                    i18n="organization_contacts.buttons.cancel" id="cancel").button.button-default

                button(
                    type="submit" 
                    i18n="organization_contacts.buttons.submit").button.button-primary