.app.app-container
    menu
    section.app.app-content
        .card
            .card-header: .flex
                .flex.flex-grow: .card-title(ng-bind="'Medewerkers (' + $ctrl.employees.meta.total + ')'")

                .flex: .block.block-inline-filters
                    a(ng-click="$ctrl.createEmployee()" id="add_employee").button.button-primary.button-sm
                        em.mdi.mdi-plus-circle.icon-start
                        translate(translate="organization_employees.buttons.add")

                    .form: .form-group: input(ng-model="$ctrl.filters.values.q" placeholder="Zoeken").form-control

            .card-section(ng-if="$ctrl.employees.data.length > 0"): .card-block.card-block-table: .table-wrapper: table.table
                tr
                    th(translate="organization_employees.labels.email")
                    th(translate="organization_employees.labels.roles")
                    th(translate="organization_employees.labels.actions").text-right

                tr(ng-repeat="employee in $ctrl.employees.data")
                    td(ng-bind="employee.email" id="employee_email").text-primary-light

                    //- roles
                    td.nowrap
                        span(
                            ng-if="$ctrl.organization.identity_address != employee.identity_address" 
                            ng-bind="employee.rolesList || 'Geen rollen'"
                            ng-class="{'text-muted': !employee.rolesList}")

                        strong(
                            ng-if="$ctrl.organization.identity_address == employee.identity_address" 
                            translate="organization_employees.labels.owner").text-primary

                    //- employee
                    td.text-right(ng-if="$ctrl.organization.identity_address != employee.identity_address")
                        //- edit
                        a.text-primary-light(
                            ng-click="$ctrl.editEmployee(employee)"
                            translate="organization_employees.buttons.adjust")

                        span(ng-if="$root.auth_user && (employee.identity_address != $root.auth_user.address)") &nbsp;&nbsp;
                        
                        //- delete
                        a.text-danger(
                            ng-click="$ctrl.deleteEmployee(employee)" 
                            ng-if="$root.auth_user && (employee.identity_address != $root.auth_user.address)"
                            translate="organization_employees.buttons.delete")

                    //- owner
                    td.text-right(ng-if="$ctrl.organization.identity_address == employee.identity_address")
                        //- transfer ownership
                        a.text-primary-light(
                            ng-if="$ctrl.adminEmployees.length > 0 && $root.auth_user.address === $ctrl.organization.identity_address"
                            ng-click="$ctrl.transferOwnership($ctrl.adminEmployees)" 
                            translate="organization_employees.buttons.transfer_ownership")

                        span(
                            ng-if="!($ctrl.adminEmployees.length > 0 && $root.auth_user.address === $ctrl.organization.identity_address)" 
                            translate="organization_employees.labels.owner").text-muted

            //- Pagination
            .card-section(ng-if="$ctrl.employees.meta" ng-show="$ctrl.employees.meta.last_page > 1")
                paginator(meta="$ctrl.employees.meta" filters="$ctrl.filters.values" count-buttons="5" on-page-change="onPageChange(query)")

            //- Not found
            .card-section(ng-if="$ctrl.employees.meta.total == 0"): .block.block-empty.text-center
                .empty-title Geen medewerkers gevonden