.app.app-container
    menu
    section.app.app-content
        .card-heading
            | {{ "products.offers" | translate }}
            a(ui-sref="products-create({organization_id: $ctrl.organization.id})").link
                em.mdi.mdi-plus-circle 
                | {{ "products.add" | translate }}

        product-card(
            ng-if="$ctrl.products.length > 0" 
            ng-repeat="product in $ctrl.products" 
            product="product" 
            level="list")
        empty-block(
            ng-if="$ctrl.products.length == 0" 
            text="'Er zijn momenteel geen aanbiedingen.'" 
            button="{text: 'Product toevoegen', href: $ctrl.emptyBlockLink}")