.app.app-container
    menu
    section.app.app-content
        //- breadcrumb
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="offices({organization_id:$ctrl.product.organization_id})" ng-bind="$ctrl.product.organization.name")
            .breadcrumb-item.active(ng-bind="$ctrl.product.name")

        //- product details
        .block.block-provider-product
            .product-overview
                .product-media: img.product-media-img(
                    ng-src="{{ $ctrl.product.photo ? $ctrl.product.photo.sizes.small : './assets/img/placeholders/product-small.png' }}")
                
                .product-details
                    .product-name(ng-bind="$ctrl.product.name")
                    .product-properties
                        .product-property
                            .product-property-label(translate="product_edit.labels.expire")
                            .product-property-value(ng-bind="$ctrl.product.expire_at ? $ctrl.product.expire_at_locale : 'Onbeperkt'")
                        .product-property
                            .product-property-label(translate="product_edit.labels.sold")
                            .product-property-value(ng-bind="$ctrl.product.sold_amount")
                        .product-property
                            .product-property-label(translate="product_edit.labels.reserved")
                            .product-property-value(ng-bind="$ctrl.product.reserved_amount")
                        .product-property
                            .product-property-label(translate="product_edit.labels.available_offers")
                            .product-property-value(ng-if="!$ctrl.product.unlimited_stock" ng-bind="$ctrl.product.stock_amount")
                            .product-property-value(ng-if="$ctrl.product.unlimited_stock" translate="product_edit.labels.unlimited")
                
                .product-actions: .product-price(ng-bind="$ctrl.product.price_locale")
            
            .product-description
                .description-header
                    | Beschrijving
                    .description-header-action
                        .button-group
                            a(ng-click="$ctrl.deleteProduct($ctrl.product)").button.button-primary
                                em.mdi.mdi-delete.icon-start  
                                | {{ "product_card.buttons.delete" | translate }}
                            a(ui-sref="products-edit($ctrl.product)").button.button-default
                                em.mdi.mdi-pen.icon-start  
                                | {{ "product_card.buttons.edit" | translate }}
                
                .description-body(ng-if="$ctrl.product.description_html")
                    .arrow-box.border.bg-dim: .arrow
                    div(ng-bind-html="$ctrl.product.description_html")
                
                .description-body(ng-if="!$ctrl.product.description_html") 
                    .arrow-box.border.bg-dim: .arrow
                    | Geen data

        //- funds list
        .card(ng-if="$ctrl.funds.meta.total > 0")
            .card-header: .card-title: .flex-row
                .flex-col Fondsen
                .flex-col.block.block-inline-filters
                    .form: .form-group: input(type="text" placeholder="Zoeken" ng-model="$ctrl.filters.values.q").form-control
            
            .card-section
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th.th-narrow Afbeelding
                                th Naam
                                th Geaccepteerd
                                th(ng-if="!$ctrl.product.sponsor_organization") Beschikbaar
                                th.th-narrow Berichten
                                th.th-narrow
                            
                            tr(ng-repeat="fund in $ctrl.funds.data")
                                td: img(
                                    src='./assets/img/placeholders/product-thumbnail.png'
                                    ng-src="{{ fund.logo ? fund.logo.sizes.thumbnail : './assets/img/placeholders/product-thumbnail.png' }}"
                                    ).td-media
                                td
                                    .td-title
                                        | {{ fund.name }}
                                        .td-title-icon.td-title-icon-suffix: em.mdi.mdi-eye-off-outline(ng-if="fund.provider_excluded")
                                    div(ng-bind="fund.organization.name")
                                td
                                    .label.label-success(ng-if="fund.approved") Geaccepteerd
                                    .label.label-default(ng-if="!fund.approved") Wachtend
                                td(ng-if="!$ctrl.product.sponsor_organization").form: label(for="fund_exclusion_id_{{ fund.id }}").form-toggle
                                    input(
                                        type="checkbox" 
                                        id="fund_exclusion_id_{{ fund.id }}"
                                        ng-change="$ctrl.changeFundExclusion(fund, $ctrl.fund_toggles[fund.id])"
                                        ng-model="$ctrl.fund_toggles[fund.id]")
                                    .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot 
                                td.nowrap 
                                    .button.button-icon(
                                        ng-class="fund.chat.provider_unseen_messages > 0 ? 'button-primary-light' : 'button-default'" 
                                        ng-disabled="!fund.chat" 
                                        ng-click="$ctrl.showTheChat(fund)"
                                        ): em.mdi.mdi-message-text(ng-class="{'text-primary':fund.chat && !fund.chat.provider_unseen_messages}")
                                    
                                    span(ng-if="!fund.chat")
                                        | &nbsp;&nbsp;
                                        | Geen berichten
                                    
                                    span(ng-if="fund.chat.provider_unseen_messages")
                                        | &nbsp;&nbsp;
                                        | {{ fund.chat.provider_unseen_messages }} nieuwe
                                td.nowrap
                                    a.button.button-default(
                                        ng-disabled="!fund.approved || fund.provider_excluded"
                                        href="{{ fund.implementation.url_webshop + 'products/' + $ctrl.product.id }}" target="_blank")
                                        em.mdi.mdi-eye-outline.icon-start 
                                        | {{ fund.provider_excluded ? 'Verborgen op webshop' : 'Bekijk op webshop' }}

            .card-section(ng-if="$ctrl.funds.meta" ng-show="$ctrl.funds.meta.total > 10")
                paginator(
                    meta="$ctrl.funds.meta" 
                    filters="$ctrl.filters.values" 
                    count-buttons="5" 
                    on-page-change="$ctrl.onPageChange(query)"
                    storage-key="{{ $ctrl.paginationStorageKey }}")
        
        block-empty(
            ng-if="$ctrl.funds.meta.total == 0" 
            text="Uw aanbod kan nog niet op een website worden geplaatst omdat u zich eerst voor een fonds moet aanmelden. Meld u aan voor één of meerdere fondsen." 
            button="{text: 'Bekijk beschikbare fondsen', href: $ctrl.emptyFundsLink}")
