.app.app-container
    menu
    section.app.app-content
        .card-heading
            | Producten
            a(ui-sref="products-create({organization_id: $ctrl.organization.id})").link
                em.mdi.mdi-plus-circle 
                | Voeg product toe

        product-card(
            ng-if="$ctrl.products.length > 0" 
            ng-repeat="product in $ctrl.products" 
            product="product" 
            level="list")
        empty-block(
            ng-if="$ctrl.products.length == 0" 
            text="'Sorry, you have no products yet.'" 
            button="{text: 'Add product', href: $ctrl.emptyBlockLink}")