.app.app-container
    menu
    section.app.app-content
        //- information-block(text="'products.cannot_delete'" type="'danger'")
        .card: form(ng-submit="$ctrl.saveProduct()").form
            .card-header
                .card-title(ng-if="!$ctrl.product" i18n="product_edit.header.title_add")
                .card-title(ng-if="$ctrl.product" i18n="product_edit.header.title_edit")
            .card-section.card-section-primary
                .row 
                    .col.col-xs-12
                        .form-group.form-group-inline
                            label.form-label &nbsp;
                            .form-offset
                                photo-selector(
                                    type="product_photo"
                                    thumbnail="$ctrl.media.sizes.thumbnail"
                                    select-photo="$ctrl.selectPhoto(file)")
                                .form-error(ng-repeat="error in $ctrl.mediaErrors" ng-bind="error")

            .card-section.card-section-primary
                .row: .col.col-lg-9
                    .form-group.form-group-inline
                        label.form-label(translate="product_edit.labels.name")
                        input(ng-model="$ctrl.form.values.name" type="text" placeholder="Naam").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.name" ng-bind="error")
                    .form-group.form-group-inline.tooltipped
                        label.form-label(translate="product_edit.labels.description")
                        .form-offset
                            markdown(ng-model="$ctrl.form.values.description")
                        tooltip(text="'Bijvoorbeeld: aantal lessen, abonnementsvorm, omschrijving cursus, einddatum activiteit, voorwaarden, bijzonderheden, etc.'")
                        .form-error(ng-repeat="error in $ctrl.form.errors.description" ng-bind="error")

            .card-section.card-section-primary
                .row: .col.col.col-lg-9
                    .form-group.form-group-inline
                        label.form-label Aanbod type
                        .form-offset: .block.block-label-tabs
                            .label-tab-set
                                .label-tab.label-tab-sm(
                                    ng-click="$ctrl.form.values.price_type = 'regular'"
                                    ng-class="{active: $ctrl.form.values.price_type === 'regular'}") Normaal
                                
                                .label-tab.label-tab-sm(
                                    ng-click="$ctrl.form.values.price_type = 'discount_fixed'"
                                    ng-class="{active: $ctrl.form.values.price_type === 'discount_fixed'}") Korting €
                                
                                .label-tab.label-tab-sm(
                                    ng-click="$ctrl.form.values.price_type = 'discount_percentage'"
                                    ng-class="{active: $ctrl.form.values.price_type === 'discount_percentage'}") Korting %
                                
                                .label-tab.label-tab-sm(
                                    ng-click="$ctrl.form.values.price_type = 'free'"
                                    ng-class="{active: $ctrl.form.values.price_type === 'free'}") Gratis

                    //- Regular price
                    .form-group.form-group-inline(ng-if="$ctrl.form.values.price_type === 'regular'")
                        label.form-label Bedrag
                        .form-offset
                            input(
                                ng-model="$ctrl.form.values.price" 
                                type="number" 
                                placeholder="Bedrag in euro's" 
                                step="0.01").form-control
                            .form-error(ng-repeat="error in $ctrl.form.errors.price" ng-bind="error")
                    
                    //- Discount percentage
                    .form-group.form-group-inline(ng-if="$ctrl.form.values.price_type === 'discount_percentage'")
                        label.form-label Kortingspercentage
                        .form-offset
                            input(
                                ng-model="$ctrl.form.values.price_discount" 
                                type="number" 
                                placeholder="20%" 
                                step="0.01").form-control
                            .form-error(ng-repeat="error in $ctrl.form.errors.price_discount" ng-bind="error")
                    
                    //- Discount fixed
                    .form-group.form-group-inline(ng-if="$ctrl.form.values.price_type === 'discount_fixed'")
                        label.form-label Korting
                        .form-offset
                            input(
                                ng-model="$ctrl.form.values.price_discount" 
                                type="number" 
                                placeholder="€ 20" 
                                step="0.01").form-control
                            .form-error(ng-repeat="error in $ctrl.form.errors.price_discount" ng-bind="error")

                    .form-group.form-group-inline(ng-if="$ctrl.product")
                        label.form-label(translate="product_edit.labels.sold")
                        input(ng-model="$ctrl.form.values.sold_amount" type="number" placeholder="Verkocht" disabled).form-control
                    
                    .form-group.form-group-inline.tooltipped
                        label.form-label(translate="product_edit.labels.total")
                        .form-offset(ng-if="$ctrl.product && $ctrl.product.unlimited_stock"): .form-value.text-muted(translate="product_edit.labels.stock_unlimited")
                        .form-offset(ng-if="!$ctrl.product || ($ctrl.product && !$ctrl.product.unlimited_stock)"): .row
                            .col.col-lg-7: input(
                                ng-model="$ctrl.form.values.total_amount" 
                                type="number" 
                                placeholder="Aantal in voorraad" 
                                ng-disabled="!!$ctrl.product || $ctrl.form.values.unlimited_stock").form-control
                            .col.col-lg-5: .checkbox(ng-disabled="$ctrl.product && !$ctrl.product.unlimited_stock")
                                input(type="checkbox" id="unlimited_stock" ng-model="$ctrl.form.values.unlimited_stock")
                                label(for="unlimited_stock").checkbox-label
                                    .checkbox-box: em.mdi.mdi-check
                                    | {{ "product_edit.labels.stock_unlimited" | translate }}
                        .form-error(ng-repeat="error in $ctrl.form.errors.total_amount" ng-bind="error")
                    
                    .form-group.form-group-inline(ng-if="$ctrl.product && !$ctrl.product.unlimited_stock")
                        label.form-label(i18n="product_edit.labels.stock_amount")
                        input(ng-model="$ctrl.form.values.stock_amount" type="number" placeholder="Stock").form-control
                        tooltip(text="'tooltip.product.limit'")
                        .form-error(ng-repeat="error in $ctrl.form.errors.stock_amount" ng-bind="error")

            .card-section.card-section-primary
                .row: .col.col-lg-9
                    .form-group.form-group-inline.tooltipped
                        label.form-label(translate="product_edit.labels.expire")
                        datepicker(
                            date-format="dd-MM-yyyy" 
                            datepicker-mobile="" 
                            date-week-start-day="1").form-control
                            input(ng-model="$ctrl.form.values.expire_at" type="text" placeholder="dd-MM-jjjj").form-control
                        tooltip(text="'De uiterlijke datum tot waneer uw aanbieding loopt. Aanbieding wordt na deze datum verwijderd uit de webshop en kan niet meer worden opgehaald.'")
                        .form-error(ng-repeat="error in $ctrl.form.errors.expire_at" ng-bind="error")

            .card-section.card-section-primary
                .row: product-categories-control(
                    ng-model="$ctrl.form.values.product_category_id"
                    product-type="$ctrl.product.product_category.service ? 'service' : 'product'"
                    errors="$ctrl.form.errors.product_category_id")

            .card-section.card-section-primary: .text-center
                button(type="button" ng-click="$ctrl.cancel()" translate="product_edit.buttons.cancel" id="cancel_create_product").button.button-default
                button(type="submit" translate="product_edit.buttons.confirm").button.button-primary
