.app.app-container
    menu
    section.app.app-content
        //- information-block(text="'products.cannot_delete'" type="'danger'")
        .card-heading
            | {{ "products.offers" | translate }}
            a(ng-click="$ctrl.addProduct()" id="add_product").link
                em.mdi.mdi-plus-circle 
                | {{ "products.add" | translate }}
                |
                span(ng-if="$ctrl.maxProductCount > 0") ({{ $ctrl.products.data.length }}/{{ $ctrl.products.meta.total }})

        .block.block-products: product-card(
            ng-if="$ctrl.products.meta.total > 0" 
            ng-repeat="product in $ctrl.products.data" 
            product="product" 
            level="list")

        .card-section(ng-if="$ctrl.products.meta" ng-show="$ctrl.products.meta.last_page > 1")
            paginator(meta="$ctrl.products.meta" filters="$ctrl.filters.values" count-buttons="5" on-page-change="$ctrl.onPageChange(query)")
        
        block-empty(
            ng-if="$ctrl.products.meta.total == 0" 
            text="Er zijn momenteel geen aanbiedingen." 
            button="{text: 'Aanbieding toevoegen', href: $ctrl.emptyBlockLink}")
