.app.app-container
    menu
    section.app.app-content
        information-block(text="'products.cannot_delete'" type="'danger'")
        .card-heading
            | {{ "products.offers" | translate }}
            a(ng-click="$ctrl.addProduct()").link
                em.mdi.mdi-plus-circle 
                | {{ "products.add" | translate }}

        product-card(
            ng-if="$ctrl.products.length > 0" 
            ng-repeat="product in $ctrl.products" 
            product="product" 
            level="list")
        empty-block(
            ng-if="$ctrl.products.length == 0" 
            text="'Er zijn momenteel geen aanbiedingen.'" 
            button="{text: 'Aanbieding toevoegen', href: $ctrl.emptyBlockLink}")