.app.app-container
    menu
    section.app.app-content
        .card-heading {{ "provider_funds.title" | translate }} ({{ $ctrl.activeFunds.length }}) 
        div(
            ng-if="$ctrl.activeFunds.length > 0" 
            ng-repeat="fund in $ctrl.activeFunds" 
            fund-card-provider 
            provider-fund="fund" 
            organization="$ctrl.organization")
        empty-block(
            ng-if="$ctrl.activeFunds.length == 0" 
            text="'Er zijn momenteel geen actieve fondsen'"
            button="{text: 'Bekijk actieve fondsen', 'href': $ctrl.emptyBlockLink}")