.app.app-container
    menu
    section.app.app-content
        .card-heading.flex-row
            .flex-col
                span(translate="provider_funds.title.main")

            .flex-col: .block.block-label-tabs.nowrap: .label-tab-set
                .label-tab.label-tab-sm(
                    ng-class="{'active' : $ctrl.shownFundsType == 'active'}" 
                    ng-click="$ctrl.filterByFundStatus('active')")
                    | {{ "provider_funds.tabs.active" | translate }} ({{ $ctrl.funds.length }})
                .label-tab.label-tab-sm(
                    ng-class="{'active' : $ctrl.shownFundsType == 'available'}" 
                    ng-click="$ctrl.filterByFundStatus('available')")
                    | {{ "provider_funds.tabs.available" | translate }} ({{ $ctrl.fundsAvailable.meta.total }})
                .label-tab.label-tab-sm(
                    ng-class="{'active' : $ctrl.shownFundsType == 'pending_rejected'}"
                    ng-click="$ctrl.filterByFundStatus('pending_rejected')")
                    | {{ "provider_funds.tabs.pending_rejected" | translate }} ({{ $ctrl.pendingRejectedFunds.length }})
                .label-tab.label-tab-sm(
                    ng-class="{'active' : $ctrl.shownFundsType == 'invitations'}"
                    ng-click="$ctrl.filterByFundStatus('invitations')") 
                    | {{ "provider_funds.tabs.invitations" | translate }} ({{ $ctrl.fundAvailableInvitations.length }})
                .label-tab.label-tab-sm(
                    ng-class="{'active' : $ctrl.shownFundsType == 'expired_closed'}"
                    ng-click="$ctrl.filterByFundStatus('expired_closed')")
                    | {{ "provider_funds.tabs.expired" | translate }} ({{ $ctrl.archiveFunds.length }})

                .flex-grow &nbsp;
                .label-tab.label-tab-sm(
                    ng-class="{'active' : $ctrl.shownFundsType == 'unsubscriptions'}" 
                    ng-click="$ctrl.filterByFundStatus('unsubscriptions')")
                    em.mdi.mdi-close-circle-outline.label-tab-icon-start
                    | {{ "provider_funds.tabs.unsubscriptions" | translate }} ({{ $ctrl.fundUnsubscribes.meta.total }})

        provider-available-funds-table(
            ng-if="$ctrl.shownFundsType == 'available'"
            funds="$ctrl.fundsAvailable"
            organization="$ctrl.organization"
            on-apply="$ctrl.onChange()"
            need-reload="$ctrl.reloadAvailableFunds")

        provider-funds-table(
            ng-if="$ctrl.shownFundsType == 'active'"
            items="$ctrl.funds"
            organization="$ctrl.organization"
            on-removed="$ctrl.onChange()"
            type="active")

        provider-funds-table(
            ng-if="$ctrl.shownFundsType == 'pending_rejected'"
            items="$ctrl.pendingRejectedFunds"
            organization="$ctrl.organization"
            on-removed="$ctrl.onChange()"
            type="pending_rejected")

        provider-fund-unsubscriptions-table(
            ng-if="$ctrl.shownFundsType == 'unsubscriptions'"
            items="$ctrl.fundUnsubscribes"
            organization="$ctrl.organization"
            on-removed="$ctrl.onChange()")

        provider-funds-invitation-table(
            ng-if="$ctrl.shownFundsType == 'invitations'"
            items="$ctrl.fundAvailableInvitations"
            organization="$ctrl.organization"
            on-removed="$ctrl.onChange()"
            type="invitations")

        provider-funds-invitation-table(
            ng-if="$ctrl.shownFundsType == 'expired_closed'"
            items="$ctrl.archiveFunds"
            organization="$ctrl.organization"
            on-removed="$ctrl.onChange()"
            type="expired_closed")