- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.app.app-container
    mixin progress()
        .sign_up-progress(ng-class="{'sign_up-progress-compact':$ctrl.shownSteps.length >= 5}")
            .sign_up-step.sign_up-step-info(ng-class="$ctrl.step <= $ctrl.INFO_STEPS ? 'sign_up-step-active' : 'sign_up-step-done'")
                .sign_up-step-border
                .mdi.mdi-information-outline

            .sign_up-step(
                ng-repeat="step in $ctrl.shownSteps track by $index"
                ng-class="{'sign_up-step-active' : $ctrl.step == (step + $ctrl.INFO_STEPS), 'sign_up-step-done': ($ctrl.step > (step + $ctrl.INFO_STEPS)) || $ctrl.step == ($ctrl.shownSteps.length + $ctrl.INFO_STEPS)}")
                
                .sign_up-step-border
                .sign-up-step-block Stap {{ ' ' + ($index + 1) }}

            .sign_up-progress-overview Stap {{ $ctrl.step }} van {{ $ctrl.shownSteps.length + 2 }}

    .block.block-sign_up: .block-wrapper        
        .sign_up-header
            .sign_up-header-item.flex-grow: a(ui-sref="home").sign_up-header-item-button
                em.mdi.mdi-chevron-left
                | Verlaat het formulier

            .sign_up-header-item
                a(ng-if="!$root.auth_user" ng-click="$ctrl.openAuthPopup()").sign_up-header-item-button
                    | Inloggen
                    em.mdi.mdi-login.icon-end

                a(ng-if="$root.auth_user" href="{{ $root.appConfigs.features.fronts.url_provider }}").sign_up-header-item-button Open beheeromgeving

        h2.block-title(translate="sign_up_provider.header.main_header")

        //- General sign up information
        div(ng-if="$ctrl.step == $ctrl.STEP_INFO_GENERAL")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_1")

                .sign_up-pane-body.sign_up-pane-body-padless-bottom
                    .sign_up-pane-text(translate="sign_up_provider.header.subtitle_step_1")
                    .sign_up-pane-text
                        h5(translate="sign_up_provider.header.title_step_1_paragrah_1").sign_up-pane-heading
                        ul.list-normal
                            li.sign_up-pane-text.list-item-normal(translate="sign_up_provider.header.subtitle_step_1_point_1")
                            li.sign_up-pane-text.list-item-normal(translate="sign_up_provider.header.subtitle_step_1_point_2")
                            li.sign_up-pane-text.list-item-normal(translate="sign_up_provider.header.subtitle_step_1_point_3")
                    .sign_up-pane-text(ng-if="!$root.auth_user")
                        h5(translate="sign_up_provider.header.title_step_1_paragrah_2").sign_up-pane-heading
                        a(ng-click="$ctrl.openAuthPopup()").sign_up-pane-link Klik hier
                        |  {{ "sign_up_provider.header.subtitle_step_1_paragrah_2" | translate}}                       
                    .sign_up-pane-text
                        h5(translate="sign_up_provider.header.title_step_1_paragrah_3").sign_up-pane-heading
                        span(translate="sign_up_provider.header.subtitle_step_1_paragrah_3")

                    .sign_up-pane-media: img(ng-src="./assets/img/sign_up_first_step.png")    

                .sign_up-pane-footer(em.mdi.mdi-chevron-right.icon-right): .row
                    .col.col-lg-6.text-left: .button.button-text.button-text-padless

                    .col.col-lg-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                        | {{ 'sign_up_provider.buttons.next' | translate }}
                        em.mdi.mdi-chevron-right.icon-right

        //- Me-app information
        div(ng-if="$ctrl.step == $ctrl.STEP_INFO_ME_APP")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_2")

                .sign_up-pane-body
                    .sign_up-pane-media: img(ng-src="./assets/img/sign_up_second_step.png").pull-right    
                    .sign_up-pane-text(translate="sign_up_provider.header.subtitle_step_2")    

                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left
                        .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                            em.mdi.mdi-chevron-left.icon-lefts
                            | {{ 'sign_up_provider.buttons.back' | translate }}
                        
                    .col.col-lg-6.text-right
                        .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                            | {{ 'sign_up_provider.buttons.next' | translate }}
                            em.mdi.mdi-chevron-right.icon-right   

        //- Scan QR Code
        div(ng-if="$ctrl.step == $ctrl.STEP_SCAN_QR")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_3" ng-if="$ctrl.hasApp")
                .sign_up-pane-header.visible-md.visible-lg(translate="sign_up_provider.header.title_step_3_mail" ng-if="!$ctrl.hasApp")
                .sign_up-pane-header.visible-sm.visible-xs(translate="sign_up_provider.header.title_step_3_mail_mobile" ng-if="!$ctrl.hasApp")

                .sign_up-pane-body(ng-if="(!$ctrl.authEmailSent && !$ctrl.authEmailRestoreSent) && $ctrl.hasApp && !$ctrl.shareSmsSent && !$ctrl.shareEmailSent && !$ctrl.appDownloadSkip")
                    .block.block-app_download.form
                        .app_download-row
                            .app_download-media: img(ng-src="./assets/img/sign_up_me.svg")
                            .app_download-content.form
                                h4.app_download-heading Selecteer uw apparaat
                                select(placeholder="amigo" ng-model="$ctrl.selectedOption").form-control
                                    option(value="") Selecteer uw apparaat
                                    option(value="iphone") iPhone
                                    option(value="android-phone") Android smartphone
                                    option(value="android-tablet") Android tablet
                                    option(value="ipad") iPad

                        //- Not selected
                        .app_download-row(ng-if="!$ctrl.selectedOption"): h4.app_download-heading Of:
                        .app_download-row(ng-if="!$ctrl.selectedOption")
                            .app_download-media: img(ng-src="./assets/img/forus-dl-link.jpg")
                            .app_download-content: p.app_download-text
                                | Typ #[b forus.io/dl] in uw mobiele browser (safari, chrome, etc) en 
                                span.app_download-link(ng-click="$ctrl.appDownloadSkip = true") ga verder >

                        //- Android or iPhone
                        .app_download-row(ng-if="$ctrl.selectedOption == 'iphone' || $ctrl.selectedOption == 'android-phone'"): .app_download-col
                            .app_download-row(ng-if="$ctrl.selectedOption == 'iphone'"): h4.app_download-heading Download uit app store
                            .app_download-row(ng-if="$ctrl.selectedOption == 'android-phone'"): h4.app_download-heading Download uit play store
                            .app_download-row
                                a.app_download-store_icon(
                                    ng-if="$ctrl.selectedOption == 'iphone'"
                                    href="{{ $root.appConfigs.ios_iphone_link }}" target="_blank")
                                    img(ng-src="./assets/img/icon-app/app-store-badge.svg")

                                a.app_download-store_icon(
                                    ng-if="$ctrl.selectedOption == 'android-phone'"
                                    href="{{ $root.appConfigs.android_link }}" target="_blank")
                                    img(ng-src="./assets/img/icon-app-android.svg")  

                                .app_download-col.flex-center
                                    span.app_download-link.text-muted(ng-click="$ctrl.appDownloadSkip = true") Ga verder >

                            .app_download-row: h4.app_download-heading Of stuur een downloadlink direct naar uw telefoon
                            .app_download-row: .app_download-col
                                label.form-label Mobiele telefoonnummer
                                phone-control(ng-model="phoneForm.values.phone" cant-delete-length="2").visible-md.visible-lg
                                .pincode-errors: .form-error(ng-repeat="error in phoneForm.errors.phone" ng-bind="error")

                                .app_download-row: button.button.button-primary-outline(
                                    type="submit"
                                    ng-class="{ 'button-disabled' : !$ctrl.phoneNumberFilled }" 
                                    ng-click="$ctrl.sendSms()"
                                    translate="sign_up_provider.download.download_link")

                        //- iPad or android tablet
                        .app_download-row(ng-if="$ctrl.selectedOption == 'ipad' || $ctrl.selectedOption == 'android-tablet'"): .app_download-col
                            .app_download-row(ng-if="$ctrl.selectedOption == 'ipad'"): h4.app_download-heading Download uit app store
                            .app_download-row(ng-if="$ctrl.selectedOption == 'android-tablet'"): h4.app_download-heading Download uit play store
                            .app_download-row
                                a.app_download-store_icon(
                                    ng-if="$ctrl.selectedOption == 'ipad'"
                                    href="{{ $root.appConfigs.ios_ipad_link }}" target="_blank")
                                    img(ng-src="./assets/img/icon-app/app-store-badge.svg")
                                a.app_download-store_icon(
                                    ng-if="$ctrl.selectedOption == 'android-tablet'"
                                    href="{{ $root.appConfigs.android_link }}" target="_blank")
                                    img(ng-src="./assets/img/icon-app-android.svg")  
                                .app_download-col.flex-center
                                    span.app_download-link.text-muted(ng-click="$ctrl.appDownloadSkip = true") Ga verder >
                            
                            .app_download-row: h4.app_download-heading Of stuur een link naar een e-mailadres
                            .app_download-row: .app_download-col
                                form(ng-submit="emailForm.submit()").app_download-form_group
                                    .app_download-form_group-input
                                        label(for="email_input").form-label.hide-xs E-mailadres
                                        input(type="text"
                                            id="email_input"
                                            ng-model="emailForm.values.email"
                                            placeholder="EMAILADRES").large.form-control
                                    
                                    .app_download-form_group-button
                                        label.form-label &nbsp;
                                        button.button.button-primary-outline(
                                            ng-disabled="!emailForm.values.email"
                                            type="submit"
                                            ng-click="$ctrl.sendEmail()") verstuur e-mail
                                //- Form errors
                                .app_download-form_group: .form-error(ng-repeat="error in emailForm.errors.email" ng-bind="error")

                        //- Use email instead
                        .app_download-row
                        .app_download-row: .app_download-text.app_download-text-xs
                            translate(translate="sign_up_provider.download.cannot_install_app")
                            span &nbsp;
                            span.app_download-link.text-muted(ng-click="$ctrl.setHasAppProp(false)") Ga verder met uw e-mailadres >

                //- Sms sent message
                .sign_up-pane-body(ng-if="(!$ctrl.authEmailSent && !$ctrl.authEmailRestoreSent) && $ctrl.shareSmsSent") 
                    .sign_up-pane-heading U heeft een SMS ontvangen op {{ phoneForm.values.phone | phone_number_format }}
                    
                    .sign_up-pane-auth
                        .sign_up-pane-auth-content
                            .sign_up-pane-text(translate="sign_up_provider.qr_code.description")
                            br
                            .sign_up-pane-text: small
                                | {{ "sign_up_provider.download.no_link_received_sms" | translate }} 
                                a(href="https://www.forus.io/DL" target="_blank") www.forus.io/DL

                        .sign_up-pane-auth-qr_code.visible-md.visible-lg
                            qr-code(
                                ng-if="$ctrl.authToken" 
                                qr-value="$ctrl.authToken" 
                                qr-type="auth_token" 
                                qr-logo=src_prefix + "./assets/img/me-logo.png")

                //- Email sent message
                .sign_up-pane-body(ng-if="(!$ctrl.authEmailSent && !$ctrl.authEmailRestoreSent) && $ctrl.shareEmailSent") 
                    .sign_up-pane-heading Er is een e-mail verstuurd naar {{ emailForm.values.email }}
                    
                    .sign_up-pane-auth
                        .sign_up-pane-auth-content
                            .sign_up-pane-text(translate="sign_up_provider.qr_code.description")
                            br
                            .sign_up-pane-text: small
                                | {{ "sign_up_provider.download.no_link_received_email" | translate }} 
                                a(href="https://www.forus.io/DL" target="_blank") www.forus.io/DL

                        .sign_up-pane-auth-qr_code.visible-md.visible-lg
                            qr-code(
                                ng-if="$ctrl.authToken" 
                                qr-value="$ctrl.authToken" 
                                qr-type="auth_token" 
                                qr-logo=src_prefix + "./assets/img/me-logo.png")

                //- Skipped
                .sign_up-pane-body(ng-if="(!$ctrl.authEmailSent && !$ctrl.authEmailRestoreSent) && $ctrl.appDownloadSkip") 
                    .sign_up-pane-heading Maak een profiel en scan QR-code om verder te gaan
                    
                    .sign_up-pane-auth
                        .sign_up-pane-auth-content
                            .sign_up-pane-text
                                | 1. Installeer de Me-app <br/>
                                | 2. Open de Me app en meld u aan <br/>
                                | 3. Scan de QR-code aan de rechterkant met de QR scanner in de Me app <br/>
                            br
                            .sign_up-pane-text: small
                                | App nog niet gedownload? 
                                .sign_up-pane-link.text-muted(ng-click="$ctrl.appDownloadSkip = false") Ga naar de vorige stap

                        .sign_up-pane-auth-qr_code.visible-md.visible-lg
                            qr-code(
                                ng-if="$ctrl.authToken" 
                                qr-value="$ctrl.authToken" 
                                qr-type="auth_token" 
                                qr-logo=src_prefix + "./assets/img/me-logo.png")

                .sign_up-pane-body(ng-if="(!$ctrl.authEmailSent && !$ctrl.authEmailRestoreSent) && !$ctrl.hasApp")
                    .sign_up-pane-heading.visible-md.visible-lg(translate='sign_up_provider.no_app.enter_email') 
                    .sign_up-pane-text.visible-md.visible-lg(translate="sign_up_provider.no_app.instructions") 

                    form.sign-up-form(ng-submit="$ctrl.signUpForm.submit()").form: .row
                        .col.col-md-7.col-xs-12
                            .form-group
                                label.form-label(translate="E-MAILadres")
                                ui-control-text(
                                    data-id="employee"
                                    ng-model="$ctrl.signUpForm.values.email"
                                    data-placeholder="Bijv. info@info.nl").large
                                .form-error(ng-repeat="error in ($ctrl.signUpForm.errors.email || $ctrl.signUpForm.errors['records.primary_email'])" ng-bind="error")

                        .col.col-md-5.col-xs-12
                            .form-group
                            label.form-label &nbsp;
                            button.button.button-primary.button-fill(
                                type="submit"
                                translate="sign_up_provider.app_instruction.create_profile"
                                ng-class="{'button-disabled':!$ctrl.signUpForm.values.email}")

                    .sign_up-pane-link(ng-click="$ctrl.setHasAppProp(true)" translate="sign_up_provider.no_app.continue_app").visible-md.visible-lg

                .sign_up-pane-body(ng-if="$ctrl.authEmailSent || $ctrl.authEmailRestoreSent").text-center
                    .sign_up-pane-media: img(ng-src="./assets/img/email_confirmed.svg")  
                    .sign_up-pane-heading.sign_up-pane-heading-lg.text-primary-mid(translate="sign_up_sponsor.labels.confirm_email") 
                    .sign_up-pane-text
                        translate(translate="sign_up_sponsor.labels.confirm_email_description")
                        | &nbsp;
                        span.sign_up-pane-link(ng-bind="$ctrl.signUpForm.values.email")

                        br
                        br
                        email-provider-link(email="$ctrl.signUpForm.values.email")
                
                .sign_up-pane-footer(ng-if="$ctrl.shareSmsSent || $ctrl.shareEmailSent || $ctrl.appDownloadSkip"): .row
                    .col.col-lg-6.text-left
                        .button.button-text.button-text-padless(ng-click="$ctrl.resetShareForms()")
                            em.mdi.mdi-chevron-left.icon-lefts
                            translate(translate="sign_up_provider.buttons.back")
                        
                    .col.col-lg-6.text-right

                .sign_up-pane-footer(ng-if="!$ctrl.shareSmsSent && !$ctrl.shareEmailSent && !$ctrl.appDownloadSkip"): .row
                    .col.col-lg-6.text-left
                        .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                            em.mdi.mdi-chevron-left.icon-lefts
                            translate(translate="sign_up_provider.buttons.back")
                        
                    .col.col-lg-6.text-right

        //- Select organization step
        div(ng-if="$ctrl.step == $ctrl.STEP_SELECT_ORGANIZATION")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_4")
                .sign_up-pane-body
                    .sign_up-pane-text(translate="sign_up_provider.header.subtitle_step_4")
                    br
                    .sign_up-organizations: .sign_up-organization(
                        ng-repeat="organization in $ctrl.organizationList"
                        ng-class="{'active': organization.id == $ctrl.selectedOrganization.id}"
                        ng-click="$ctrl.selectOrganization(organization)")
                        .sign_up-organization-logo: img(ng-src="{{ organization.logo.sizes.thumbnail || './assets/img/organization-no-logo.svg' }}")
                        .sign_up-organization-title(ng-bind="organization.name")
                    
                    //- mobile
                    .button.button-primary-outline.button-fill.visible-sm.visible-xs(ng-click="$ctrl.addOrganization()")
                        .mdi.mdi-plus-circle-outline.icon-start
                        | {{ 'sign_up_sponsor.buttons.organization_add' | translate }}

                //- desktop
                .sign_up-pane-body.visible-md.visible-lg
                    .button.button-primary-outline(ng-click="$ctrl.addOrganization()")
                        .mdi.mdi-plus-circle-outline.icon-start
                        | {{ 'sign_up_sponsor.buttons.organization_add' | translate }}         

                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left
                        .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                            em.mdi.mdi-chevron-left.icon-lefts
                            | {{ 'sign_up_provider.buttons.back' | translate }}
                        
                    .col.col-lg-6.text-right

        //- Manage organization details
        div(ng-if="$ctrl.step == $ctrl.STEP_ORGANIZATION_ADD")
            +progress()
            
            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_5")

                form(ng-submit="$ctrl.next()").form
                    .sign_up-pane-body: .sign_up-pane-text(translate="sign_up_provider.header.subtitle_step_5")

                    .sign_up-pane-body.sign_up-pane-body-padless: .sign_up-pane-section
                        .sign_up-pane-col.sign_up-pane-col-2
                            .form-group
                                label.form-label(translate="organization_edit.labels.name")
                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.name"
                                    data-placeholder="Bedrijfsnaam")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.name" ng-bind="error")

                            .form-group
                                label.form-label
                                    translate(translate="organization_edit.labels.bank")
                                    tooltip(text="'Vul hier het rekeningnummer in waar u de betalingen op wilt ontvangen'")
                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.iban"
                                    data-placeholder="Voorbeeld: NL123456789B01")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.iban" ng-bind="error")

                            .form-group
                                label.form-label
                                    translate(translate="HERHAAL IBAN–NUMMER")
                                    tooltip(text="'Vul hier het rekeningnummer in waar u de betalingen op wilt ontvangen'")
                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.iban_confirmation"
                                    data-placeholder="Voorbeeld: NL123456789B01")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.iban_confirmation" ng-bind="error")
                        
                        .sign_up-pane-col.sign_up-pane-col-1
                            photo-selector(
                                template="photo-selector-sign_up"
                                type="organization_logo"
                                thumbnail="$ctrl.media.sizes.thumbnail"
                                description-translate="organization_edit.labels.photo_description"
                                select-photo="$ctrl.selectPhoto(file)")
            
                    .sign_up-pane-body.sign_up-pane-body-padless: .sign_up-pane-section(style="padding-right: 30px;")
                        .sign_up-pane-col
                            .form-group
                                label(translate="organization_edit.labels.mail").form-label
                                .row
                                    .col.col-md-8.col-xs-12: ui-control-text(
                                        ng-model="$ctrl.organizationForm.values.email"
                                        placeholder="Voorbeeld: info@bedrijfsnaam.nl")

                                    .col.col-md-4.col-xs-12: ui-control-checkbox.make-public(
                                        name="email_public"
                                        data-id="email_public_input"
                                        data-label="{{ 'organization_edit.labels.make_public' | translate }}"
                                        ng-model="$ctrl.organizationForm.values.email_public")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.email" ng-bind="error")

                            .form-group
                                label(translate="organization_edit.labels.phone").form-label

                                .row
                                    .col.col-md-8.col-xs-12: ui-control-text(
                                        ng-model="$ctrl.organizationForm.values.phone"
                                        placeholder="Voorbeeld: 06 123 45 678")
                                    .col.col-md-4.col-xs-12: ui-control-checkbox.make-public(
                                        name="phone_public"
                                        data-id="phone_public_input"
                                        data-label="{{ 'organization_edit.labels.make_public' | translate }}"
                                        ng-model="$ctrl.organizationForm.values.phone_public")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.phone" ng-bind="error")

                            .form-group
                                label(translate="organization_edit.labels.website").form-label

                                .row
                                    .col.col-md-8.col-xs-12: ui-control-text(
                                        ng-model="$ctrl.organizationForm.values.website"
                                        placeholder="Voorbeeld: https://bedrijfsnaam.nl")

                                    .col.col-md-4.col-xs-12: ui-control-checkbox.make-public(
                                        name="website_public"
                                        data-id="website_public_input"
                                        data-label="{{ 'organization_edit.labels.make_public' | translate }}"
                                        ng-model="$ctrl.organizationForm.values.website_public")

                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.website" ng-bind="error")

                    .sign_up-pane-body.sign_up-pane-body-padless: .sign_up-pane-section(style="padding-right: 30px;")
                        .sign_up-pane-col
                            .form-group.row: .col.col-md-8.col-xs-12
                                label(translate="organization_edit.labels.business_type").form-label

                                .form-offset: select-control(
                                    prop="id"
                                    ng-model="$ctrl.organizationForm.values.business_type_id"
                                    options="$ctrl.businessTypes"
                                    placeholder="Selecteer organisatie type...")

                                .form-error(
                                    ng-repeat="error in $ctrl.organizationForm.errors.business_type_id"
                                    ng-bind="error")

                            .form-group.row: .col.col-md-8.col-xs-12
                                label(translate="organization_edit.labels.kvk").form-label

                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.kvk"
                                    data-placeholder="Voorbeeld: 12345678")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.kvk" ng-bind="error")

                            .form-group.row: .col.col-md-8.col-xs-12
                                label(translate="organization_edit.labels.tax").form-label

                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.btw"
                                    data-placeholder="Voorbeeld: NL123456789B01")

                                .form-hint.text-right(translate="organization_edit.labels.optional")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.btw" ng-bind="error")
                
                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left: .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                        em.mdi.mdi-chevron-left.icon-lefts
                        | {{ 'sign_up_provider.buttons.back' | translate }}
                    
                    .col.col-lg-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                        | {{ 'sign_up_provider.buttons.next' | translate }}
                        em.mdi.mdi-chevron-right.icon-right

        //- Manage offices
        div(ng-if="$ctrl.step == $ctrl.STEP_OFFICES")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_6")
                .sign_up-pane-body: .sign_up-pane-text(translate="sign_up_provider.header.subtitle_step_6")

                .sign_up-pane-body.sign_up-pane-body-padless: .sign_up-offices(ng-repeat="office in $ctrl.offices")
                    .sign_up-office(ng-if="!office.edit")
                        .office-media(ng-class="!office.photo.sizes.thumbnail ? 'office-media-placeholder' : ''"): img(
                            ng-src="{{ office.photo.sizes.thumbnail ? office.photo.sizes.thumbnail : './assets/img/organization-no-logo.svg' }}")

                        .office-contacts
                            .office-contact
                                em.mdi.mdi-map-marker
                                span(ng-bind="office.address")

                            .office-contact
                                em.mdi.mdi-phone
                                span(ng-bind="office.phone ? office.phone : ('organization_edit.labels.not_specified' | translate)")
                            
                            //- .office-contact(ng-if="office.schedule.length")
                            //-     em.mdi.mdi-clock-outline
                            //-     span {{ office.schedule }}
                        
                        .office-map
                            .office-map-content: google-map(map-pointers="[office]" selected-office="office.id")
                            .office-actions
                                .office-action(ng-click="$ctrl.editOffice(office)")
                                    em.edit.mdi.mdi-pencil-outline
                                    span(translate="organization_edit.buttons.edit_location")
                                .office-action(ng-click="$ctrl.deleteOffice(office)")
                                    em.delete.mdi.mdi-trash-can-outline
                                    span(translate="organization_edit.buttons.delete_location")

                    sign-up-office-edit(
                        ng-if="office.edit" 
                        office="office" 
                        organization="$ctrl.organization" 
                        cancel="$ctrl.cancelOfficeEdit(office)" 
                        updated="$ctrl.officeUpdated(office)")
                
                .sign_up-pane-body.sign_up-pane-body-padless(ng-if="$ctrl.isAddingNewOffice"): .sign_up-offices
                    sign-up-office-edit(
                        ng-if="$ctrl.isAddingNewOffice" 
                        office="{}" 
                        organization="$ctrl.organization" 
                        cancel="$ctrl.cancelOfficeAdd()" 
                        created="$ctrl.officeCreated(office)")
                
                .sign_up-pane-body.sign_up-pane-body-padless-bottom: .flex-row: .flex-col(ng-if="$ctrl.showAddOfficeBtn")
                    button.button.button-primary-outline.button-fill.button-sm(ng-click="$ctrl.addOffice()")
                        em.mdi.mdi-plus-circle-outline.icon-start
                        | {{ 'organization_edit.buttons.add_location' | translate }}
                
                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left: .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                        em.mdi.mdi-chevron-left.icon-lefts
                        | {{ 'sign_up_provider.buttons.back' | translate }}

                    .col.col-lg-6.text-right: .button.button-text.button-text-padless(
                        ng-click="$ctrl.next()"
                        ng-class="{ 'disabled' : !$ctrl.offices.length }")
                        | {{ 'sign_up_provider.buttons.next' | translate }}
                        em.mdi.mdi-chevron-right.icon-right

        //- Manage employees
        div(ng-if="$ctrl.step == $ctrl.STEP_EMPLOYEES")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_7")

                .sign_up-pane-body: .sign_up-pane-text(translate="sign_up_provider.header.subtitle_step_7")
                .sign_up-pane-body
                    .sign_up-employees: .sign_up-employee(ng-repeat="employee in $ctrl.employees")
                        span(ng-if="employee.email" ng-bind="employee.email")
                        span(ng-if="!employee.email" ng-bind="employee.identity_address | str_limit:32")

                        .sign_up-employee-actions
                            a(ng-click="$ctrl.deleteEmployee(employee)").mdi.mdi-trash-can-outline

                    form(ng-submit="$ctrl.saveEmployee()").form: .row
                        .col.col-md-8.col-xs-12
                            .form-group
                                label.form-label(translate="E-MAILadres")
                                ui-control-text(
                                    data-id="employee"
                                    ng-model="$ctrl.employeeForm.values.email"
                                    data-placeholder="Voorbeeld: info@info.io").large
                                .form-error(ng-repeat="error in $ctrl.employeeForm.errors.email" ng-bind="error")

                        .col.col-md-4.col-xs-12
                            .form-group
                            label.form-label &nbsp;
                            button.button.button-primary.button-fill(
                                type="button"
                                ng-click="$ctrl.saveEmployee()"
                                ng-class="{'button-disabled' : !$ctrl.employeeForm.values.email}"
                                translate="organization_edit.buttons.add_employee")

                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left
                        .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                            em.mdi.mdi-chevron-left.icon-lefts
                            | {{ 'sign_up_provider.buttons.back' | translate }}

                    .col.col-lg-6.text-right
                        .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                            | {{ 'sign_up_provider.buttons.next' | translate }}
                            em.mdi.mdi-chevron-right.icon-right

        //- Step 6: Funds available
        .step-item.fund-apply(ng-if="$ctrl.step == $ctrl.STEP_FUND_APPLY")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_8")

                .sign_up-pane-body: .sign_up-pane-text(translate="sign_up_provider.header.subtitle_step_8")
                .sign_up-pane-body
                    provider-fund-filters(
                        ng-if="$ctrl.showFilters"
                        funds-available="$ctrl.fundsAvailable" 
                        organization="$ctrl.organization"
                        filters="$ctrl.filters.values")

                    fund-card-provider-can-join(
                        ng-if="$ctrl.fundsAvailable.meta.total > 0"
                        ng-repeat="fund in $ctrl.fundsAvailable.data"
                        template="provider-signup-fund-card"
                        fund="fund"
                        organization="$ctrl.organization"
                        on-apply="$ctrl.applyFund()"
                        hide-modal="true")    

                    block-empty(
                        ng-if="$ctrl.fundsAvailable.meta.total == 0" 
                        text="Er zijn momenteel geen actieve fondsen.")

                    .card-section(ng-if="$ctrl.fundsAvailable.meta" ng-show="$ctrl.fundsAvailable.meta.last_page > 1")
                        paginator(
                            meta="$ctrl.fundsAvailable.meta" 
                            filters="$ctrl.filters.values" 
                            count-buttons="5" 
                            on-page-change="$ctrl.onFundsAvailablePageChange(query)")
                    
                    ui-control-checkbox(
                        ng-if="!$ctrl.hasFundApplications"
                        name="confirm_no_application"
                        data-id="no_fund_application"
                        data-label="Ik wil me nu niet aanmelden voor een regeling en doe dit later."
                        ng-model="$ctrl.skipFundApplications")

                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left
                        .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                            em.mdi.mdi-chevron-left.icon-lefts
                            | {{ 'sign_up_provider.buttons.back' | translate }}
                    .col.col-lg-6.text-right(ng-if="$ctrl.skipFundApplications || $ctrl.hasFundApplications")
                        .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                            | {{ 'sign_up_provider.buttons.next' | translate }}
                            em.mdi.mdi-chevron-right.icon-right

        //- Apply fund success screen (Desktop)
        .finish-screen(ng-if="$ctrl.step == $ctrl.STEP_PROCESS_NOTICE").visible-md.visible-lg
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_9")

                .sign_up-pane-body: .form.row
                    .form-group.col.col-lg-12
                        .block-icon: img(src=src_prefix + "./assets/img/icon-sign_up-success.svg")
                        .sign_up-pane-heading.text-center(translate="sign_up_provider.header.top_title_step_9")
                        p.sign_up-pane-text.text-center(translate="sign_up_provider.header.subtitle_step_9")

                        .text-center: .button.button-primary-variant(
                            ng-if="$ctrl.loggedWithApp"
                            ng-click="$ctrl.next()"
                            translate="sign_up_provider.buttons.go_test_screen")              

                .sign_up-pane-footer(ng-if="!$ctrl.loggedWithApp"): .row
                    .col.col-lg-6.text-left
                    .col.col-lg-6.text-right
                        .button.button-text.button-text-padless(ng-click="$ctrl.finish()")
                            | {{ 'sign_up_provider.buttons.go_to_dashboard' | translate }}
                            em.mdi.mdi-chevron-right.icon-right
        
        //- Apply fund success screen (Mobile)
        .finish-screen(ng-if="$ctrl.step == $ctrl.STEP_PROCESS_NOTICE").visible-sm.visible-xs
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_9_mobile")

                .sign_up-pane-body: .form.row
                    .form-group.col.col-lg-12
                        .block-icon: img(src=src_prefix + "./assets/img/icon-sign_up-success.svg")
                        .sign_up-pane-heading.text-center(translate="sign_up_provider.header.top_title_step_9_mobile")
                        p.sign_up-pane-text.text-left(translate="sign_up_provider.header.subtitle_step_9_mobile")

                        .text-center: .button.button-primary-variant(
                            ng-if="$ctrl.loggedWithApp"
                            ng-click="$ctrl.next()"
                            translate="sign_up_provider.buttons.go_test_screen")
                    
                    .row: .col-lg-12.col-md-12.col-sm-12
                        a.button.button-primary-outline.col-xs-12(
                            href="https://www.forus.io/DL" 
                            translate="sign_up_provider.header.download_step_9_mobile")

        //- Scan QR Code (test)
        div(ng-if="$ctrl.step == $ctrl.STEP_DEMO_TRANSACTION")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_10")
                
                .sign_up-pane-body
                    .sign_up-pane-text.header(translate="sign_up_provider.header.subtitle_step_10")
                    .sign_up-pane-auth.test-qr: .sign_up-pane-auth-qr_code: qr-code(
                        ng-if="$ctrl.demoToken"
                        qr-value="$ctrl.demoToken"
                        qr-type="demo_voucher"
                        qr-logo=src_prefix + "./assets/img/me-logo.png")

                .sign_up-pane-footer(ng-if="!$ctrl.loggedWithApp"): .row
                    .col.col-lg-6.text-left
                    .col.col-lg-6.text-right
                        .button.button-text.button-text-padless(ng-click="$ctrl.finish()")
                            | {{ 'sign_up_provider.buttons.go_to_dashboard' | translate }}
                            em.mdi.mdi-chevron-right.icon-right

        //- Done
        .finish-screen(ng-if="$ctrl.step == $ctrl.STEP_SIGNUP_FINISHED")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_provider.header.title_step_11")

                .sign_up-pane-body: .form.row
                    .form-group.col.col-lg-12
                        .block-icon: img(src=src_prefix + "./assets/img/icon-smartphone-sign_up.svg")
                        .sign_up-pane-heading.text-center(translate="sign_up_provider.header.top_title_step_11")
                        p.sign_up-pane-text.text-center(translate="sign_up_provider.header.subtitle_step_11")

                        .text-center: .button.button-primary-variant(
                            ng-click="$ctrl.finish()"
                            translate="sign_up_provider.buttons.go_to_dashboard")

        //- Error
        div(ng-if="$ctrl.state == 'error'")
            h2.block-title Zomerzwemregeling aanvraag
            .sign_up-pane
                .sign_up-pane-header Error during sign up request submission.
                .sign_up-pane-body: .row
                    .form-group.col.col-lg-12
                        .block-icon: .mdi.mdi-close
                        p.sign_up-pane-text.text-center
                            | Reason:
                            span(ng-bind="$ctrl.errorReason")

                        .text-center: .button.button-default(ng-click="$ctrl.finish()") Terug naar het dashboard
                    .form-group.col.col-lg-12: br

        //- Mobile device warning
        //- .block.block-desktop-only.visible-xs: .block-inner
        //-     .block-media: img(src="./assets/img/sign-up/user-mobile.png")
        //-     .block-title(translate="sign_up_provider.open_pc.title")
        //-     .block-description(translate="sign_up_provider.open_pc.description")
