.app.app-container
    menu
    section.app.app-content
        .card-heading 
            span(translate="provider_funds_available.title")
            span(ng-bind="' (' + $ctrl.funds.length + $ctrl.pendingFunds.length + ')'") 
        fund-card-available-provider(
            ng-if="$ctrl.fundsAvailable.length > 0" 
            ng-repeat="fund in $ctrl.fundsAvailable"  
            fund="fund" 
            organization="$ctrl.organization")
        fund-card-provider( 
            ng-if="$ctrl.funds.length > 0" 
            ng-repeat="fund in $ctrl.funds" 
            provider-fund="fund" 
            organization="$ctrl.organization")
        block-empty(
            ng-if="$ctrl.funds.length + $ctrl.pendingFunds.length == 0" 
            text="'Er zijn momenteel geen actieve fondsen.'")