

- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');
.app.app-container: .block.block-sign-up-steps
    section.section.section-product
        .header 
            .back 
                include ../../../resources/platform-general/assets/img/svg/icon-back.svg 
                a(ng-click="$ctrl.goToMain()") 
                    span Terug
            .heading Aanmelden als aanbieder

        .wrapper
            mixin progress()
                .sign_up-progress
                    .pre-step1(ng-class="$ctrl.step >= 2 ? 'active' : ''")
                        .icon
                            include ../../../resources/platform-general/assets/img/svg/pre-step.svg

                    .sign_up-step(
                        ng-repeat="step in $ctrl.shownSteps"
                        ng-class="$ctrl.step == step ? 'sign_up-step-active' : ($ctrl.step > step ? 'sign_up-step-done' : '')"
                        ng-bind="'Stap ' + (step - 1)")
            
            mixin card_header(step)
                .sign_up-pane-header(translate="sign_up.header.title_step_" + step)         
                
            .block.block-sign_up: .block-wrapper
                //- General information
                div(ng-if="$ctrl.step == 1")
                    h2.block-title
                    
                    +progress()
                    
                    .sign_up-pane
                        .sign_up-pane-header Algemene informatie

                        .sign_up-pane-body
                            .sign_up-pane-text
                                | Bedankt dat u wil aanmelden als aanbieder. De volledige aanmeld procedure duurt ongeveer 5 minuten. Klanten zullen bij u in de winkel komen met een plaatje (QR code),  bekend van toegangskaartjes en vliegtickets. Deze code scant u met een app die u in de volgende stap gaat instaleren. Zorg dat u de volgende zaken alvast bij de hand heeft: 
                            
                            br
                            ul.sign_up-pane-list 
                                li(ng-repeat="field in $ctrl.readMoreFields") {{ field }}

                        .sign_up-pane-footer(em.mdi.mdi-chevron-right.icon-right): .row
                            .col.col-lg-6.text-left: .button.button-text.button-text-padless

                            .col.col-lg-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                                | Volgende stap
                                em.mdi.mdi-chevron-right.icon-right    
                
                //- Scan QR Code
                div(ng-if="$ctrl.step == 2")
                    h2.block-title
                    
                    +progress()
                    
                    .sign_up-pane
                        .sign_up-pane-header De kassa app instaleren

                        .sign_up-pane-body
                            .sign_up-pane-text
                                | U gaat de app installeren waarmee u de betalingen zal uitvoeren. 
                                | In de app maakt u eerst zelf een profiel, later kan u eventueel meerdere (kassa) medewerkers toevoegen die namens u betalingen kunnen uitvoeren.

                            .sign_up-pane-heading De app installeren
                            .sign_up-pane-text 
                                | De app kan op vrijwel elke smartphone gebruikt worden en is beschikbaar op iOS en Android. 
                                | Vul uw telefoon nummer in om een download link te ontvangen, of ga op uw mobiele telefoon naar 
                                a(href="http://www.forus.io/DL" target="_blank") www.forus.io/DL

                            .sign_up-pane-heading Vul uw mobiele nummer in            
                                phone-control(ng-model="phoneForm.values.phone" cant-delete-length="2")
                                .pincode-errors.text-center: .form-error(ng-repeat="error in phoneForm.errors.phone" ng-bind="error")

                            .button.download-link
                                | Verstuur downloadlink
                                
                            .sign_up-pane-auth
                                .sign_up-pane-auth-content
                                    .sign_up-pane-heading Scan de code om verder te gaan    
                                    
                                    | Maak een persoonlijk profiel aan in de app, en scan vervolgens de code die u rechts ziet met de scanner in de app.
                                    
                                    .sign_up-pane-auth-apps
                                        a(href="#").sign_up-pane-auth-app-item: img(src=src_prefix + "./assets/img/icon-app-ios.svg")
                                        a(href="#").sign_up-pane-auth-app-item: img(src=src_prefix + "./assets/img/icon-app-android.svg")
                                
                                .sign_up-pane-auth-qr_code
                                    qr-code(
                                        ng-if="$ctrl.authToken" 
                                        qr-value="$ctrl.authToken" 
                                        qr-type="auth_token" 
                                        qr-logo=src_prefix + "./assets/img/me-logo.png")

                    .step-footer(ng-if="$ctrl.has_app")
                        a(translate="sign_up.buttons.go_step_2" ng-click="$ctrl.skipToStep(2)").button.button-primary                
                
                //- Manage organization details
                div(ng-if="$ctrl.step == 3")
                    h2.block-title
                    
                    +progress()
                    
                    .sign_up-pane
                        .sign_up-pane-header Organisatie aanmaken
                        
                        .sign_up-pane-body
                            .sign_up-pane-text.with-border
                                | Om deel te kunnen nemen, gaat u uw organisatie aanmaken. 
                                | Door de gegevens in te vullen zal u de betalingen automatisch op uw rekening ontvangen, u hoeft hier straks zelf verder niks meer voor te doen.

                            .sign_up-pane-text: form(ng-submit="$ctrl.next()").form: .row
                                .card-section: .pseudo-wrapper
                                    .row.group-block.with-border
                                        .col.col-md-8
                                            .form-group.col
                                                label.form-label(translate="organization_edit.labels.name")
                                                ui-control-text(
                                                    ng-model="$ctrl.organizationForm.values.name"
                                                    data-id="criterion_{{ invalidCriteria.id }}"
                                                    data-placeholder="Bedrijfsnaam")
                                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.name" ng-bind="error")
                                            
                                            .form-group.col
                                                label.form-label
                                                    translate(translate="organization_edit.labels.bank")
                                                    tooltip(text="'Vul hier het rekeningnummer in waar u de betalingen op wilt ontvangen'")
                                                ui-control-text(
                                                    ng-model="$ctrl.organizationForm.values.iban" 
                                                    data-placeholder="IBAN-nummer")
                                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.iban" ng-bind="error")
                                            
                                            .form-group.col
                                                label.form-label
                                                    translate(translate="HERHAAL IBAN–NUMMER")
                                                    tooltip(text="'Vul hier het rekeningnummer in waar u de betalingen op wilt ontvangen'")
                                                ui-control-text(
                                                    ng-model="$ctrl.organizationForm.values.iban_confirmation" 
                                                    data-placeholder="Example: NL123456789B01")
                                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.iban_confirmation" ng-bind="error")
                                        
                                        .col.col-md-4
                                            .image-preview
                                                photo-selector.col(
                                                    template="photo-selector-sign_up"
                                                    type="organization_logo"
                                                    thumbnail="$ctrl.media.sizes.thumbnail" 
                                                    select-photo="$ctrl.selectPhoto(file)")
                                                .info-block.info-block-primary
                                                    | De afbeelding dient vierkant te zijn met een minimum afmeting van 400x400px. 
                                                    br
                                                    | Toegestaande formaten: .JPG, .PNG    

                                    .row.group-block.with-border
                                        .col
                                            .form-group.col
                                                label(translate="organization_edit.labels.mail").form-label
                                                .row
                                                    .col.col-md-8: ui-control-text(
                                                        ng-model="$ctrl.organizationForm.values.email"
                                                        placeholder="E-mailadres")

                                                    .col.col-md-4: ui-control-checkbox.make-public(
                                                        name="email_public" 
                                                        data-id="email_public_input"
                                                        data-label="{{ 'Maak publiek' | i18n }}" 
                                                        ng-model="$ctrl.organizationForm.values.email_public")
                                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.email" ng-bind="error")
                                            
                                            .form-group.col
                                                label(translate="organization_edit.labels.phone").form-label
                                                
                                                .row
                                                    .col.col-md-8: ui-control-text(
                                                        ng-model="$ctrl.organizationForm.values.phone"
                                                        placeholder="Telefoonnummer")
                                                    .col.col-md-4: ui-control-checkbox.make-public(
                                                        name="phone_public" 
                                                        data-id="phone_public_input"
                                                        data-label="{{ 'Maak publiek' | i18n }}" 
                                                        ng-model="$ctrl.organizationForm.values.phone_public")
                                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.phone" ng-bind="error")

                                            .form-group.col
                                                label(translate="organization_edit.labels.website").form-label
                                                
                                                .row
                                                    .col.col-md-8: ui-control-text(
                                                        ng-model="$ctrl.organizationForm.values.website"
                                                        placeholder="Website")
                                                    .col.col-md-4: ui-control-checkbox.make-public(
                                                        name="website_public" 
                                                        data-id="website_public_input"
                                                        data-label="{{ 'Maak publiek' | i18n }}" 
                                                        ng-model="$ctrl.organizationForm.values.website_public")
                                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.website" ng-bind="error")
                        
                                    .row.group-block.last
                                        .col
                                            .form-group.col
                                                .row
                                                    .col.col-md-8
                                                        .form-label(translate="organization_edit.labels.business_type")
                                                        
                                                        .form-offset: select-control(
                                                            ng-model="$ctrl.businessType" 
                                                            ng-change="$ctrl.chageBusinessType(value)"
                                                            options="$ctrl.businessTypes"
                                                            placeholder="Selecteer organisatie type...")
                                                        
                                                        .form-error(
                                                            ng-repeat="error in $ctrl.organizationForm.errors.business_type_id" 
                                                            ng-bind="error")

                                            .form-group.col
                                                .row
                                                    .col.col-md-8
                                                        label(translate="organization_edit.labels.kvk").form-label
                                                        
                                                        ui-control-text(
                                                            ng-model="$ctrl.organizationForm.values.kvk"
                                                            data-placeholder="KvK-nummer")
                                                        .form-error(ng-repeat="error in $ctrl.organizationForm.errors.kvk" ng-bind="error")

                                            .form-group.col
                                                .row
                                                    .col.col-md-8
                                                        label(translate="organization_edit.labels.tax").form-label
                                                        
                                                        ui-control-text(
                                                            ng-model="$ctrl.organizationForm.values.btw"
                                                            data-placeholder="BTW-nummer")
                                                        
                                                        .form-error(ng-repeat="error in $ctrl.organizationForm.errors.btw" ng-bind="error")

                                                        .info-fields
                                                            span.info-field.red * 
                                                            span.info-field Optional
                        .sign_up-pane-footer: .row
                            .col.col-lg-6.text-left 
                                .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                                    | Vorige stap
                                    em.mdi.mdi-chevron-left.icon-lefts
                            .col.col-lg-6.text-right
                                .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                                    | Volgende stap
                                    em.mdi.mdi-chevron-right.icon-right
                
                //- Manage offices
                div(ng-if="$ctrl.step == 4")
                    h2.block-title
                    
                    +progress()
                    
                    .sign_up-pane.offices
                        .sign_up-pane-header Organisatie aanmaken

                        .sign_up-pane-body
                            .sign_up-pane-text.header.with-border
                                | Als u een of meerdere vestigingen heeft, kan u deze hieronder toevoegen. Uw vestigingen zullen op een kaart in de webwinkel verschijnen.
                            
                            .sign_up-pane-text(ng-if="$ctrl.offices.length"): .row
                                .card-section: .pseudo-wrapper
                                    .office(ng-repeat="office in $ctrl.offices")
                                        .preview
                                            img(
                                                ng-src="{{ office.photo.sizes.thumbnail ? office.photo.sizes.thumbnail : './assets/img/organization-no-logo.svg' }}")

                                        .details
                                            .address
                                                em.mdi.mdi-map-marker 
                                                    span {{ office.address }}

                                            .phone
                                                em.mdi.mdi-phone 
                                                    span {{ office.phone ? office.phone : 'Not specified' }}
                                            //- .schedule(ng-if="office.schedule.length") 
                                            //-     em.mdi.mdi-clock-outline 
                                            //-     | {{ office.schedule }}

                                        .actions
                                            em.mdi.mdi-pencil-outline(ng-click="$ctrl.editOffice(office)") 
                                                span Edit location  
                                            em.mdi.mdi-delete(ng-click="$ctrl.deleteOffice(office)") 
                                                span Delete location
                            
                            .sign_up-pane-text.last(ng-if="$ctrl.enableSaveOfficeBtn"): form(ng-submit="$ctrl.next()").form: .row
                                .card-section: .pseudo-wrapper
                                    .row.group-block.office-block
                                        .col.col-md-8
                                            .form-group.col
                                                label.form-label(translate="Address")
                                                ui-control-text(
                                                    ng-model="$ctrl.officeForm.values.address"
                                                    data-id="office_address"
                                                    data-placeholder="Address")
                                                .form-error(ng-repeat="error in $ctrl.officeForm.errors.address" ng-bind="error")
                                            
                                            .form-group.col
                                                label.form-label
                                                    translate(translate="Telefoonnummer")
                                                ui-control-text(
                                                    ng-model="$ctrl.officeForm.values.phone" 
                                                    data-placeholder="Telefoonnummer")
                                                .form-error(ng-repeat="error in $ctrl.officeForm.errors.phone" ng-bind="error")
                                        
                                        .col.col-md-4.image-preview
                                            photo-selector.col(
                                                template="photo-selector-sign_up"
                                                type="office_photo"
                                                thumbnail="$ctrl.officeForm.values.photo.sizes.thumbnail" 
                                                select-photo="$ctrl.selectOfficePhoto(file)")
                                            .info-block.info-block-primary
                                                | De afbeelding dient vierkant te zijn met een minimum afmeting van 400x400px. 
                                                br
                                                | Toegestaande formaten: .JPG, .PNG    

                                    .row.group-block.schedule-settings-block
                                        .col.opening
                                            .sign_up-pane-text Openingstijden
                                            
                                            .form-group.col
                                                .row
                                                    ui-control-checkbox.sync(
                                                        name="office_same_hours" 
                                                        data-id="office_same_hours"
                                                        data-label="{{ 'All weekdays have same hours' }}" 
                                                        ng-change="$ctrl.setSameHours(true)"
                                                        ng-model="$ctrl.officeForm.values.same_hours")
                                                .form-error(ng-repeat="error in $ctrl.officeForm.errors.office_same_hours" ng-bind="error")

                                            .form-group.col
                                                .row
                                                    ui-control-checkbox.sync(
                                                        name="weekend_same_hours" 
                                                        data-id="weekend_same_hours"
                                                        data-label="{{ 'Saturday and Sunday have same hours' }}" 
                                                        ng-change="$ctrl.setSameHours(false)"
                                                        ng-model="$ctrl.officeForm.values.weekend_same_hours")
                                                .form-error(ng-repeat="error in $ctrl.officeForm.errors.weekend_same_hours" ng-bind="error")
                        
                                    .row.group-block.schedule-block
                                            .col.col-md-8
                                                table.schedule
                                                    tr 
                                                        th Day
                                                        th Open
                                                        th Start
                                                        th End
                                                        th.breaks Break
                                                    
                                                    tr(ng-repeat="(weekDayKey, weekDay) in $ctrl.weekDays track by $index")
                                                        td(ng-class="$index >= 5 ? 'weekend' : ''") {{ weekDay }}
                                                        
                                                        td
                                                            ui-control-checkbox(
                                                                name="is_opened{{$index}}" 
                                                                data-id="schedule_is_opened{{$index}}"
                                                                ng-change="$ctrl.toggleOpened($index)" 
                                                                ng-model="$ctrl.officeForm.values.scheduleDetails[weekDayKey].is_opened")     
                                                        td
                                                            ui-control-text.time.start(
                                                                ng-model="$ctrl.officeForm.values.schedule[weekDayKey].start_time"
                                                                ng-if="$ctrl.officeForm.values.scheduleDetails[weekDayKey].is_opened"
                                                                ng-change="$ctrl.syncHours($index, 'start_time')" 
                                                                data-placeholder="from")
                                                            span(        
                                                                ng-if="!$ctrl.officeForm.values.scheduleDetails[weekDayKey].is_opened") closed
                                                        td
                                                            ui-control-text.time.end(
                                                                ng-model="$ctrl.officeForm.values.schedule[weekDayKey].end_time" 
                                                                ng-if="$ctrl.officeForm.values.scheduleDetails[weekDayKey].is_opened"
                                                                ng-change="$ctrl.syncHours($index, 'end_time')" 
                                                                data-placeholder="till")  

                                                        td.breaks
                                                            ui-control-text.time.breaks.start(
                                                                ng-model="$ctrl.officeForm.values.schedule[weekDayKey].break_start_time"
                                                                ng-if="$ctrl.officeForm.values.scheduleDetails[weekDayKey].is_opened"
                                                                ng-change="$ctrl.syncHours($index, 'start_time')" 
                                                                data-placeholder="from")
                                                        
                                                            ui-control-text.time.breaks.end(
                                                                ng-model="$ctrl.officeForm.values.schedule[weekDayKey].break_end_time" 
                                                                ng-if="$ctrl.officeForm.values.scheduleDetails[weekDayKey].is_opened"
                                                                ng-change="$ctrl.syncHours($index, 'end_time')" 
                                                                data-placeholder="till")                   
                                    
                            .location-btns.col: .row
                                .col.col-lg-4
                                    button.button-text.button-text-padless.save(
                                        ng-click="$ctrl.saveOffice()" 
                                        ng-disabled="!$ctrl.enableSaveOfficeBtn")
                                        | Save location
                                .col.col-lg-8
                                    button.button-text.button-text-padless.location(
                                        ng-click="$ctrl.addOffice()" 
                                        ng-show="$ctrl.showAddOfficeBtn")
                                        | Add location
                                .col.col-lg-8
                                    button.button-text.button-text-padless.cancel(
                                        ng-click="$ctrl.cancelOfficeEdit()"
                                        ng-show="$ctrl.showCancelBtn")
                                        | Cancel

                        .sign_up-pane-footer: .row
                            .col.col-lg-6.text-left: .button.button-text.button-text-padless

                            .col.col-lg-6.text-right
                                .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                                    | Volgende stap
                                    em.mdi.mdi-chevron-right.icon-right

                //- Manage employees
                div(ng-if="$ctrl.step == 5")
                    h2.block-title
                    
                    +progress()
                    
                    .sign_up-pane
                        .sign_up-pane-header Kassa medewerkers toevoegen

                        .sign_up-pane-body
                            .sign_up-pane-text.header.with-border
                                | In deze stap kunnen kassa medewerkers worden toegevoegd aan de organisatie. 
                                | Deze medewerkers kunnen vervolgens ook vouchers scannen met de kassa app en betalingen verwerken. 
                                | Er zal een uitnodiging met instructies verstuurd worden naar de email adressen die hieronder ingevuld worden. 
                                | Als u geen medewerkers wil toevoegen kan u deze stap overslaan.

                            .sign_up-pane-text: form(ng-submit="$ctrl.next()").form: .row
                                .card-section: .pseudo-wrapper
                                    .employee-info(ng-repeat="employee in $ctrl.employees")
                                        .details
                                            .email {{ employee.email }}

                                        .actions
                                            //- em.mdi.mdi-pencil-outline(ng-click="$ctrl.editEmployee(employee)") 
                                            em.mdi.mdi-delete(ng-click="$ctrl.deleteEmployee(employee)")  

                                    .row.group-block.employee
                                        .col.col-md-7
                                            .form-group.col
                                                label.form-label(translate="EMAIL")
                                                ui-control-text(
                                                    data-id="employee"
                                                    ng-model="$ctrl.employeeForm.values.email"
                                                    data-placeholder="ex. info@info.io").large
                                                .form-error(ng-repeat="error in $ctrl.employeeForm.errors.name" ng-bind="error")
                                        
                                        .col.col-md-5
                                            .form-group.col
                                            label.form-label &nbsp;
                                            button.button.button-primary.button-fill(
                                                type="button"
                                                ng-click="$ctrl.saveEmployee()") Add employee               

                        .sign_up-pane-footer: .row
                            .col.col-lg-6.text-left: .button.button-text.button-text-padless(
                                ng-click="$ctrl.back()")
                                | Vorige stap
                                em.mdi.mdi-chevron-left.icon-lefts
                                
                            .col.col-lg-6.text-right
                                .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                                    | Volgende stap
                                    em.mdi.mdi-chevron-right.icon-right
                
                //- Step 7: Funds available
                .step-item.fund-apply(ng-if="$ctrl.step == 6")
                    h2.block-title
                    
                    +progress()
                    
                    .sign_up-pane
                        .sign_up-pane-header Meld u aan voor de fondsen

                        .sign_up-pane-body
                            
                            .sign_up-pane-text.header.with-border
                                | Uw aanvraag wordt binnen twee weken behandeld door de gemeente.
                            
                            .card(
                                ng-if="$ctrl.fundsAvailable.length > 0"
                                ng-repeat="fund in $ctrl.fundsAvailable")
                                    .card-section.card-section-primary
                                        div(
                                            template="provider-signup-fund-card"
                                            fund-card-provider-can-join
                                            fund="fund"
                                            organization="$ctrl.organization")

                                        block-empty(
                                            ng-if="$ctrl.funds.length == 0" 
                                            text="Er zijn momenteel geen actieve fondsen.")
 
                        .sign_up-pane-footer: .row
                            .col.col-lg-6.text-left 
                                .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                                    | Vorige stap
                                    em.mdi.mdi-chevron-left.icon-lefts
                            .col.col-lg-6.text-right
                                .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                                    | Volgende stap
                                    em.mdi.mdi-chevron-right.icon-right

                //- Done
                .finish-screen(ng-if="$ctrl.step == 7")
                    h2.block-title
                    
                    +progress()

                    .sign_up-pane
                        .sign_up-pane-header Aanvraag voltooid

                        .sign_up-pane-body: form(ng-submit="$ctrl.submitCriteria(invalidCriteria)").form.row
                            .form-group.col.col-lg-12
                                .block-icon: img(src=src_prefix + "./assets/img/icon-sign_up-success.svg")
                                .sign_up-pane-heading.text-center Uw aanvraag is verzonden
                                p.sign_up-pane-text.text-center 
                                    | We gaan controleren of uw gegevens kloppen, u ontvangt een email op blabla@blabla.com wanneer de aanvraag is afgerond, of indien er nog overige vragen zijn
                        
                                .text-center: .button.button-finish(ng-click="$ctrl.next()") Terug naar het dashboard
                            .form-group.col.col-lg-12: br
 
                //- Scan QR Code (test)
                div(ng-if="$ctrl.step == 8")
                    h2.block-title
                    
                    +progress()
                    
                    .sign_up-pane
                        .sign_up-pane-header Test betaling

                        .sign_up-pane-body
                            .sign_up-pane-text.header
                                | Wanneer u bent goedgekeurd, bent u er klaar voor om betalingen te doen. Klanten zullen bij u in de winkel komen met een plaatje (QR code) veelal bekend van concertkaartjes en vliegtickets. Deze code scant u met de app die u zojuist heeft geinstaleerd. Vervolgens kan u de betaling verichten. Scan de afbeelding hieronder om een test betaling te doen.
                                
                            .sign_up-pane-auth.test-qr
                                .sign_up-pane-auth-qr_code
                                    qr-code(
                                        ng-if="$ctrl.demoToken" 
                                        qr-value="$ctrl.demoToken" 
                                        qr-type="demo_voucher" 
                                        qr-logo=src_prefix + "./assets/img/me-logo.png")

                    .step-footer(ng-if="$ctrl.has_app")
                        a(translate="sign_up.buttons.go_step_2" ng-click="$ctrl.skipToStep(2)").button.button-primary     
                
                //- Done
                .finish-screen(ng-if="$ctrl.step == 9")
                    h2.block-title
                    
                    +progress()

                    .sign_up-pane
                        .sign_up-pane-header Aanvraag voltooid

                        .sign_up-pane-body: form(ng-submit="$ctrl.submitCriteria(invalidCriteria)").form.row
                            .form-group.col.col-lg-12
                                .block-icon: img(src=src_prefix + "./assets/img/icon-smarthone-sign_up.svg")
                                .sign_up-pane-heading.text-center Uw aanvraag is verzonden
                                p.sign_up-pane-text.text-center 
                                    b Gemeente Barneveld 
                                    | gaat controleren of uw gegevens kloppen, u ontvangt een email op blabla@blabla.com wanneer de aanvraag is afgerond, of indien er nog overige vragen zijn
                        
                                .text-center: .button.button-finish(ng-click="$ctrl.finish()") Terug naar het overzicht
                            .form-group.col.col-lg-12: br

                //- Error
                div(ng-if="$ctrl.state == 'error'")
                    h2.block-title Zomerzwemregeling aanvraag

                    .sign_up-pane
                        .sign_up-pane-header Error during sign up request submission.
                        .sign_up-pane-body: .row
                            .form-group.col.col-lg-12
                                .block-icon: .mdi.mdi-close
                                p.sign_up-pane-text.text-center 
                                    | Reason: 
                                    span(ng-bind="$ctrl.errorReason")
                        
                                .text-center: .button.button-default(ng-click="$ctrl.finish()") Terug naar het dashboard
                            .form-group.col.col-lg-12: br

                //- Mobile device warning
                .hidden-lg.hidden-md.open-pc-section: .section-inner
                    .img-block: img(src="./assets/img/sign-up/user-mobile.png")
                    .title(translate="sign_up.open_pc.title")
                    .open-pc-description(translate="sign_up.open_pc.description")