.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="sponsor-provider-organizations({organization_id:$ctrl.organization.id})" translate="page_state_titles.organization-providers")
            .breadcrumb-item.active(ng-bind="$ctrl.providerOrganization.name")

        //- Provider details
        block-provider-organization-overview(organization="$ctrl.providerOrganization")

        //- Funds list
        .card
            .card-header: .flex-row
                .flex-col: .card-title Fondsen en aanbod
                .flex-col: .card-header-drown: .block.block-inline-filters: .form: .form-group: input(
                    ng-model="$ctrl.providerFilters.values.q"
                    placeholder="Zoeken").form-control

            //- List provider funds
            .card-section.card-section-padless: .table-wrapper: table.table.form
                tr
                    th.td-narrow Afbeelding
                    th Fondsnaam
                    th Status
                    th Budget scannen
                    th Aanbod scannen
                    th Verborgen op webshop
                    th.text-right Opties

                tr(ng-repeat="fundProvider in $ctrl.fundProviders.data")
                    td.td-narrow: img(ng-src="{{ fundProvider.fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}").td-media
                    td
                        .td-title
                            | {{ fundProvider.fund.name }}
                            .td-title-icon.td-title-icon-suffix: em.mdi.mdi-eye-off-outline(ng-if="fundProvider.excluded")
                        div(ng-bind="fundProvider.fund.type_locale")

                    //- Budget status
                    td
                        .label.label-success(ng-if="fundProvider.state == 'accepted'" ng-bind="fundProvider.state_locale")
                        .label.label-default(ng-if="fundProvider.state == 'pending'" ng-bind="fundProvider.state_locale")
                        .label.label-danger(ng-if="fundProvider.state == 'rejected'" ng-bind="fundProvider.state_locale")

                    //- Budget status
                    td
                        //- Pending
                        .text-muted(ng-if="fundProvider.state == 'pending' || fundProvider.fund.type == 'subsidies'" ng-bind="'-'")

                        //- Not pending
                        div(ng-if="fundProvider.state != 'pending' && fundProvider.fund.type != 'subsidies'")
                            //- Rejected
                            .text-strong(ng-if="fundProvider.state == 'rejected'" ng-bind="'Nee'")

                            div
                                span(ng-if="fundProvider.state == 'rejected'").mdi.mdi-backup-restore 
                                span(
                                    ng-class="fundProvider.state == 'rejected' ? 'text-line-through text-small text-muted' : 'text-strong'"
                                    ng-bind="fundProvider.allow_budget ? 'Ja' : 'Nee'")

                    //- Products status
                    td
                        //- Pending
                        .text-muted(ng-if="fundProvider.state == 'pending'" ng-bind="'-'")

                        //- Not pending
                        div(ng-if="fundProvider.state != 'pending'")
                            //- Rejected
                            .text-strong(ng-if="fundProvider.state == 'rejected'" ng-bind="'Nee'")

                            div
                                span(ng-if="fundProvider.state == 'rejected'").mdi.mdi-backup-restore 
                                span(
                                    ng-class="fundProvider.state == 'rejected' ? 'text-line-through text-small text-muted' : 'text-strong'"
                                    ng-if="fundProvider.state != 'pending' && fundProvider.allow_products" 
                                    ng-bind="'Alle'")

                                span(
                                    ng-class="fundProvider.state == 'rejected' ? 'text-line-through text-small text-muted' : 'text-strong'"
                                    ng-if="fundProvider.state != 'pending' && !fundProvider.allow_products" 
                                    ng-bind="fundProvider.products_count_approved + ' van ' + fundProvider.products_count_available")

                    td
                        .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                            label(
                                ng-disabled="fundProvider.submittingExcluded"
                                ng-class="fundProvider.state != 'accepted' ? 'form-toggle-disabled form-toggle-off' : ''"
                                for="provider_excluded_{{ fundProvider.id }}").form-toggle
                                input(
                                    type="checkbox"
                                    id="provider_excluded_{{ fundProvider.id }}"
                                    ng-disable="$dir.fundProvider.state != 'accepted'"
                                    ng-change="$ctrl.updateFundProviderExcluded(fundProvider)"
                                    ng-model="fundProvider.excluded")
                                .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot

                    td.text-right
                        //- Reject
                        .button.button-sm.button-danger.button-icon(
                            ng-click="$ctrl.updateFundProviderState(fundProvider, false)"
                            ng-disabled="fundProvider.submittingState"
                            ng-if="(fundProvider.state == 'pending' || fundProvider.state == 'accepted') && fundProvider.submittingState != 'accepted'")
                            .mdi(ng-class="fundProvider.submittingState ? 'mdi-loading mdi-spin' : 'mdi-close'")

                        //- Accept
                        .button.button-sm.button-primary.button-icon(
                            ng-click="$ctrl.updateFundProviderState(fundProvider, true)"
                            ng-disabled="fundProvider.submittingState"
                            ng-if="(fundProvider.state == 'pending' || fundProvider.state == 'rejected') && fundProvider.submittingState != 'reject'")
                            .mdi(ng-class="fundProvider.submittingState ? 'mdi-loading mdi-spin' : 'mdi-check'")

                        //- View
                        a.button.button-sm.button-default(
                            ui-sref="fund-provider(fundProvider.srefParams)"
                            ng-disabled="fundProvider.submittingState")
                            em.mdi.mdi-eye-outline.icon-start
                            | Bekijk aanbod

            //- Empty block
            .card-section.text-center(ng-if="$ctrl.fundProviders.meta.total == 0") Geen aanmeldingen

            //- pagination
            .card-section.card-section-narrow(ng-if="$ctrl.fundProviders.meta" ng-show="$ctrl.fundProviders.meta.last_page > 1")
                paginator(
                    meta="$ctrl.fundProviders.meta" 
                    filters="$ctrl.providerFilters.values"
                    on-page-change="$ctrl.onProviderFundsPageChange(query)")

        //- Provider description
        .card
            .card-header: .card-title Omschrijving van aanbieder
            .card-section: .block.block-markdown
                //- Provider has description
                .markdown-wrapper(
                    ng-if="$ctrl.providerOrganization.description_html"
                    ng-bind-html="$ctrl.providerOrganization.description_html")

                //- Provider has no description
                .markdown-wrapper(ng-if="!$ctrl.providerOrganization.description_html")
                    p.text-muted-dark Er is geen omschrijving opgegeven door de aanbieder.

        //- Provider offices
        block-provider-organization-offices(offices="$ctrl.providerOrganization.offices")

        //- Provider employees
        block-provider-organization-employees(employees="$ctrl.providerOrganization.employees")
