.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs
            .breadcrumb-item(ui-sref="sponsor-provider-organizations({organization_id:$ctrl.organization.id})" translate="page_state_titles.organization-providers")
            .breadcrumb-item.active(ng-bind="$ctrl.providerOrganization.name")

        //- Provider details
        block-provider-organization-overview(organization="$ctrl.providerOrganization")

        //- Funds list
        .card
            .card-header: .flex-row
                .flex-col: .card-title Fondsen en aanbod
                .flex-col: .card-header-drown: .block.block-inline-filters: .form: .form-group: input(
                    ng-model="$ctrl.providerFilters.values.q"
                    placeholder="Zoeken").form-control

            .card-section.card-section-padless: .table-wrapper: table.table.form
                tr
                    th.td-narrow Afbeelding
                    th Fondsnaam
                    th.td-narrow State
                    th

                tr.has-hover-items(ng-repeat="fundProvider in $ctrl.fundProviders.data" ng-click="$ctrl.viewProvider(fundProvider)")
                    td.td-narrow: img(ng-src="{{ fundProvider.fund.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}").td-media
                    td(ng-bind="fundProvider.fund.name")
                    td
                        .tag.tag-sm.tag-success(ng-if="fundProvider.state === 'approved'") Geaccepteerd
                        .tag.tag-sm.tag-default(ng-if="fundProvider.state === 'pending'") Wachtend
                        .tag.tag-sm.tag-warning(ng-if="fundProvider.state === 'declined'") Geweigerd

                    td.text-right.hover-items-group
                        .button.button-default.button-icon(
                            ng-if="['pending', 'approved'].includes(fundProvider.state)"
                            ng-click="$event.stopPropagation(); $ctrl.fundProviderDecline(fundProvider);"
                            )
                            em.mdi.mdi-close
                        .button.button-primary.button-icon(
                            ng-if="['pending', 'declined'].includes(fundProvider.state)"
                            ng-click="$event.stopPropagation(); $ctrl.fundProviderApprove(fundProvider);"
                            )
                            em.mdi.mdi-check

                        a(ui-sref="fund-provider({organization_id: $ctrl.organization.id, fund_id: fundProvider.fund_id, fund_provider_id: fundProvider.id})").button.button-default
                            em.mdi.mdi-eye-outline.icon-start
                            | Bekijk aanbod

            .card-section.text-center(ng-if="$ctrl.fundProviders.meta.total == 0") Geen aanmeldingen
            .card-section.card-section-narrow(ng-if="$ctrl.fundProviders.meta" ng-show="$ctrl.fundProviders.meta.last_page > 1")
                paginator(meta="$ctrl.fundProviders.meta" filters="$ctrl.providerFilters.values" on-page-change="$ctrl.onProviderFundsPageChange(query)")

        //- Provider offices
        block-provider-organization-offices(offices="$ctrl.providerOrganization.offices")

        //- Provider employees
        block-provider-organization-employees(employees="$ctrl.providerOrganization.employees")