.app.app-container
    menu
    section.app.app-content
        //- Heading
        .card-heading: .flex.form
            //- Title
            .flex.flex-grow
                span(translate="organization_providers.header.title")
                | &nbsp;
                span(ng-bind="$ctrl.providerOrganizations.meta.total").span-count

            //- Filters
            .flex.block.block-inline-filters
                .button.button-text(ng-if="$ctrl.filters.show" ng-click="$ctrl.filters.reset()")
                    em.mdi.mdi-close.icon-start
                    span(i18n="Wis filters")

                .button.button-primary(ng-if="!$ctrl.extendedView" ng-click="$ctrl.setExtendedView(true)")
                    em.mdi.mdi-arrow-expand-vertical.icon-start
                    | Alles uitklappen

                .button.button-primary(ng-if="$ctrl.extendedView" ng-click="$ctrl.setExtendedView(false)")
                    em.mdi.mdi-arrow-collapse-vertical.icon-start
                    | Alles inklappen
                
                .form(ng-if="!$ctrl.filters.show")
                    .form-group
                        .form-offset: select-control(
                            id="orderBy"
                            prop="value"
                            search="false"
                            ng-model="$ctrl.filters.values.order_by" 
                            options="$ctrl.orderByOptions").form-control.form-control-text.nowrap

                    .form-group.inline-filters-search
                        input(ng-model="$ctrl.filters.values.q" placeholder="{{ 'search' | i18n }}").form-control

                .inline-filters-dropdown(click-outside="$ctrl.hideFilters()")
                    .inline-filters-dropdown-content(ng-show="$ctrl.filters.show")
                        .arrow-box.bg-dim: .arrow
                        .form
                            .form-group(ng-click="$event.stopPropagation()")
                                form-label-toggle(label="Fondsen")
                                .form-offset: select-control(
                                    prop="id"
                                    search="false"
                                    ng-model="$ctrl.filters.values.fund_id"
                                    options="$ctrl.funds").form-control

                            .form-group
                                form-label-toggle(label="Accepteer budget")
                                .inline-filters-pane
                                    .radio
                                        input#allow_budget_yes(
                                            type="radio" 
                                            name="allow_budget" 
                                            ng-model="$ctrl.filters.values.allow_budget" value="1")
                                        label(for="allow_budget_yes").radio-label
                                            .radio-circle
                                            | Ja
                                    .radio
                                        input#allow_budget_no(
                                            type="radio" 
                                            name="allow_budget" 
                                            ng-model="$ctrl.filters.values.allow_budget" value="0")
                                        label(for="allow_budget_no").radio-label
                                            .radio-circle
                                            | Nee
                                    .radio
                                        input#allow_budget_all(
                                            type="radio" 
                                            name="allow_budget" 
                                            ng-model="$ctrl.filters.values.allow_budget" value="")
                                        label(for="allow_budget_all").radio-label
                                            .radio-circle
                                            | Alles
                            
                            .form-group
                                form-label-toggle(label="Accepteer aanbiedingen")
                                .inline-filters-pane
                                    .radio
                                        input#allow_products_yes(
                                            type="radio" 
                                            name="allow_products" 
                                            ng-model="$ctrl.filters.values.allow_products" value="1")
                                        label(for="allow_products_yes").radio-label
                                            .radio-circle
                                            | Alle aanbiedingen
                                    .radio
                                        input#allow_products_some(
                                            type="radio" 
                                            name="allow_products" 
                                            ng-model="$ctrl.filters.values.allow_products" value="some")
                                        label(for="allow_products_some").radio-label
                                            .radio-circle
                                            | Sommige aanbiedingen
                                    .radio
                                        input#allow_products_no(
                                            type="radio" 
                                            name="allow_products" 
                                            ng-model="$ctrl.filters.values.allow_products" value="0")
                                        label(for="allow_products_no").radio-label
                                            .radio-circle
                                            | Geen aanbiedingen
                                    .radio
                                        input#allow_products_all(
                                            type="radio" 
                                            name="allow_products" 
                                            ng-model="$ctrl.filters.values.allow_products" value="")
                                        label(for="allow_products_all").radio-label
                                            .radio-circle
                                            | Alles
                            .form-actions
                                button.button.button-primary.button-wide(
                                    ng-click="$ctrl.exportList()"
                                    ng-disabled="$ctrl.providerOrganizations.meta.total == 0")
                                    em.mdi.mdi-download.icon-start  
                                    span.ng-scope(translate="components.dropdown.export" translate-values="{ total: $ctrl.providerOrganizations.meta.total }")

                    .button.button-default.button-icon(ng-click="$ctrl.filters.show = !$ctrl.filters.show"): em.mdi.mdi-filter-outline

        //- Provider list
        .block.block-providers: .provider-item(ng-repeat="providerOrganization in $ctrl.providerOrganizations.data")
            .provider-overview
                .provider-media: img.provider-media-img(ng-src="{{ providerOrganization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                .provider-details
                    .provider-title(ng-bind="providerOrganization.name")
                    .provider-subtitle
                        span {{ providerOrganization.products_count }} aanbiedingen
                        span.provider-activity(ng-if="providerOrganization.last_activity") 
                            | Laatst actief: 
                            strong.text-primary {{ providerOrganization.last_activity_locale }}
                        span.provider-activity(ng-if="providerOrganization.last_activity") 
                            | Geaccepteerd voor: 
                            strong(ng-if="providerOrganization.funds_active === 0" ng-bind="'geen fondsen'").text-primary
                            strong(ng-if="providerOrganization.funds_active === 1" ng-bind="providerOrganization.funds_active + ' fonds'").text-primary
                            strong(ng-if="providerOrganization.funds_active > 1" ng-bind="providerOrganization.funds_active + ' fondsen'").text-primary
                .provider-actions.form
                    .provider-action-item: a(ui-sref="sponsor-provider-organization(providerOrganization.uiViewParams)").button.button-primary 
                        em.mdi.mdi-eye-outline.icon-start
                        | Bekijken

            .provider-funds(ng-if="$ctrl.extendedView")
                .card-section.card-section-padless: .table-wrapper: table.table.form
                    tr
                        th Fondsnaam
                        th Status
                        th Opties
                    tr(ng-repeat="fund in providerOrganization.funds")
                        td(ng-bind="fund.name")
                        td: .tag.tag-sm(ng-class="'tag-' + (fund.active ? 'success' : 'warning')"   ng-bind="fund.active ? 'Geaccepteerd' : 'Wachtend'")  
                        td.td-narrow.text-right
                            a(ui-sref="fund-provider(fund.uiViewParams)").button.button-default.nowrap  
                                em.mdi.mdi-eye-outline.icon-start
                                | Bekijk aanbod

        block-empty( 
            ng-if="$ctrl.providerOrganizations.data.length == 0"
            text="Je hebt nog geen verzoeken van aanbieders")

        .card
            .card-section(ng-if="$ctrl.providerOrganizations.meta" ng-show="$ctrl.providerOrganizations.meta.last_page > 0")
                paginator(meta="$ctrl.providerOrganizations.meta" filters="$ctrl.filters.values" count-buttons="5" on-page-change="$ctrl.onPageChange(query)")
