.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs(ng-if="$root.activeOrganization")
            .breadcrumb-item(
                ui-sref="transactions({organization_id:$root.activeOrganization.id})" 
                translate="page_state_titles.transactions")
            .breadcrumb-item(
                ng-if="$ctrl.appConfigs.panel_type == 'sponsor'"
                ui-sref="transactions({organization_id:$root.activeOrganization.id})" 
                ng-bind="$ctrl.transaction.fund.name")
            .breadcrumb-item.active(ng-bind="'#' + $ctrl.transaction.id")

        .card
            .card-section: .card-title
                strong(ng-bind="$ctrl.transaction.amount | currency_format")
                strong.text-primary.pull-right(translate="financial_dashboard_transaction.labels.payment")

                //- button.button.button-primary
                    em.mdi.mdi-plus-circle 
                    | Add note

            //- .card-section.card-section-primary
                .card-block.card-block-notes
                    .note-form.form
                        img(src="./assets/img/note-icons/note-icon-quote.jpg").note-item-icon
                        textarea(rows="4").form-control
                        .note-form-actions
                            .note-form-desc
                                .note-item-text @mentio &nbsp;&nbsp;&nbsp; *bold** &nbsp;&nbsp;&nbsp; _italic_
                                .note-item-sign May 14, 11:47 AM by info@fineartroom.nl
                            .note-form-buttons
                                button.button.button-default Annuleren
                                button.button.button-primary Save changes

            .card-section(ng-if="$ctrl.transaction.notes.length != 0")
                .card-block.card-block-notes
                    .note-item(ng-repeat='note in $ctrl.transaction.notes')
                        img(ng-src="/assets/img/note-icons/note-icon-{{ note.icon }}.jpg").note-item-icon
                        .note-item-text(ng-bind="note.message")
                        .note-item-sign(ng-bind="note.created_at_locale")
                        //- .hover-actions
                            em.mdi.mdi-dots-horizontal
                            .hover-actions-menu
                                .hover-actions-label ACTION
                                .hover-actions-item Refund charge
                                .hover-actions-item Copy charge ID to clipboard
                                .hover-actions-sep
                                .hover-actions-label CONNECTIONS
                                .hover-actions-item View payment details

        .card
            .card-header: .card-title(translate="financial_dashboard_transaction.labels.details")

            .card-section: .flex
                .flex: .card-block.card-block-keyvalue
                    .keyvalue-item
                        .keyvalue-key(translate="financial_dashboard_transaction.labels.id")
                        .keyvalue-value(ng-bind="$ctrl.transaction.id")
                    .keyvalue-item(ng-if="$ctrl.appConfigs.panel_type == 'sponsor' &&  $ctrl.transaction.payment_id")
                        .keyvalue-key(translate="financial_dashboard_transaction.labels.bunq_id")
                        .keyvalue-value(ng-bind="$ctrl.transaction.payment_id")
                    .keyvalue-item
                        .keyvalue-key(translate="financial_dashboard_transaction.labels.statement")
                        .keyvalue-value(ng-bind="$ctrl.transaction.organization.name")
                    .keyvalue-item(ng-if="$ctrl.appConfigs.panel_type == 'sponsor'")
                        .keyvalue-key(translate="financial_dashboard_transaction.labels.bunq")
                        .keyvalue-value(ng-bind="$ctrl.transaction.transaction_cost | currency_format")
                    .keyvalue-item
                        .keyvalue-key(translate="financial_dashboard_transaction.labels.date")
                        .keyvalue-value(ng-bind="$ctrl.transaction.created_at_locale")
                    .keyvalue-item
                        .keyvalue-key Status
                        .keyvalue-value
                            | {{ {pending: 'In afwachting', success: 'Succes', canceled: 'Geannuleerd'}[$ctrl.transaction.state] }}
                            div(ng-if="$ctrl.transaction.transaction_in > 0 && $ctrl.transaction.state == 'pending'").text-sm.text-muted-dark
                                em.mdi.mdi-clock-outline 
                                | {{ $ctrl.transaction.transaction_in }} dagen

                    //- Sponsor IBAN
                    .keyvalue-item(ng-if="$ctrl.transaction.iban_from")
                        .keyvalue-key IBAN (van)
                        .keyvalue-value
                            span(
                                ng-bind="$ctrl.transaction.iban_from" 
                                ng-class="{'text-muted-dark' : !$ctrl.transaction.iban_final}")

                            tooltip(
                                text="'financial_dashboard_transaction.tooltips.pending_iban_from' | translate" 
                                ng-if="!$ctrl.transaction.iban_final")

                    //- Provider iban
                    .keyvalue-item(ng-if="$ctrl.transaction.iban_to")
                        .keyvalue-key IBAN (naar)
                        .keyvalue-value
                            span(
                                ng-bind="$ctrl.transaction.iban_to" 
                                ng-class="{'text-muted-dark' : !$ctrl.transaction.iban_final}")

                            tooltip(
                                text="'financial_dashboard_transaction.tooltips.pending_iban_to' | translate" 
                                ng-if="!$ctrl.transaction.iban_final")
                
                .flex.flex-column.flex-end(ng-if="$ctrl.transaction.cancelable && $ctrl.transaction.reservation")
                    button(ng-click="$ctrl.cancelTransaction($ctrl.transaction.reservation)").button.button-default.button-sm
                        strong.nowrap Betaling annuleren
