.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs(ng-if="$root.activeOrganization")
            .breadcrumb-item(
                ui-sref="transactions({organization_id:$root.activeOrganization.id})" 
                translate="page_state_titles.transactions")
            .breadcrumb-item(
                ng-if="$ctrl.appConfigs.panel_type == 'sponsor'"
                ui-sref="transactions({organization_id:$root.activeOrganization.id})" 
                ng-bind="$ctrl.transaction.fund.name")
            .breadcrumb-item.active(ng-bind="'#' + $ctrl.transaction.id")

        //- Voucher transactions details
        voucher-transaction-details(
            organization="$root.activeOrganization"
            transaction="$ctrl.transaction"
            show-amount="true")