.app.app-container
    menu
    section.app.app-content
        .block.block-breadcrumbs(ng-if="$root.activeOrganization")
            .breadcrumb-item(
                ui-sref="transactions({organization_id:$ctrl.organization.id})" 
                translate="page_state_titles.transactions")
            .breadcrumb-item.active(ng-bind="'#' + $ctrl.transactionBulk.id")

        .card
            .card-header: .flex-row
                .flex.flex-grow: .card-title(translate="financial_dashboard_transaction.labels.details")
                .flex: .button-group
                    //- Export SEPA file
                    button(
                        ng-if="$ctrl.showExportButton"
                        ng-click="$ctrl.exportSepa($ctrl.transactionBulk)").button.button-default.button-sm

                        .mdi.mdi-download.icon-start
                        | SEPA-bestand exporteren
                
                    //- Resend draft payment
                    button(
                        ng-if="$ctrl.showResetBulkButton"
                        ng-click="$ctrl.resetPaymentRequest($ctrl.transactionBulk)" 
                        ng-disabled="$ctrl.submittingBulk || $ctrl.resettingBulk").button.button-text.button-narrow.button-sm

                        .mdi.mdi-lock-reset.icon-start(ng-if="!$ctrl.resettingBulk")
                        | Verstuur bulktransactie opnieuw

                    //- BNG: Auth url button
                    a(
                        ng-if="$ctrl.showAuthLink"
                        href="{{ $ctrl.transactionBulk.auth_url }}"
                        ng-disabled="$ctrl.submittingBulk || $ctrl.resettingBulk").button.button-primary.button-sm

                        .mdi.mdi-link.icon-start
                        | Transactie autoriseren

                    //- BNG: Submit bulk to BNG
                    button(
                        ng-if="$ctrl.showSubmitToBNG"
                        ng-click="$ctrl.submitPaymentRequestToBNG($ctrl.transactionBulk)" 
                        ng-disabled="$ctrl.submittingBulk || $ctrl.resettingBulk").button.button-primary.button-sm

                        .mdi.mdi-circle-multiple-outline.icon-start(ng-if="!$ctrl.submittingBulk")
                        .mdi.mdi-reload.mdi-spin.icon-start(ng-if="$ctrl.submittingBulk")
                        | Verstuur de bulk naar BNG

                    //- Set paid
                    button(
                        ng-if="$ctrl.showSetPaidButton"
                        ng-click="$ctrl.acceptManually($ctrl.transactionBulk)").button.button-danger.button-sm
                        .mdi.mdi-alert-outline.icon-start
                        | Markeer de bulk lijst en de transacties als betaald.

            .card-section: .flex
                .flex: .card-block.card-block-keyvalue
                    .keyvalue-item
                        .keyvalue-key Transactiewaarde
                        .keyvalue-value(ng-bind="$ctrl.transactionBulk.voucher_transactions_amount | currency_format")
                    .keyvalue-item
                        .keyvalue-key(translate="financial_dashboard_transaction.labels.id")
                        .keyvalue-value(ng-bind="$ctrl.transactionBulk.id")

                    .keyvalue-item(ng-if="$ctrl.appConfigs.panel_type == 'sponsor' && $ctrl.transactionBulk.payment_id")
                        .keyvalue-key(ng-if="$ctrl.transactionBulk.bank.key === 'bunq'" translate="financial_dashboard_transaction.labels.bunq_id")
                        .keyvalue-key(ng-if="$ctrl.transactionBulk.bank.key === 'bng'" translate="financial_dashboard_transaction.labels.bng_id")
                        .keyvalue-value(ng-bind="$ctrl.transactionBulk.payment_id")

                    .keyvalue-item(ng-if="$ctrl.appConfigs.panel_type == 'sponsor'")
                        .keyvalue-key(translate="financial_dashboard_transaction.labels.bunq")
                        .keyvalue-value(ng-bind="$ctrl.transactionBulk.voucher_transactions_cost | currency_format")

                    .keyvalue-item
                        .keyvalue-key(translate="financial_dashboard_transaction.labels.date")
                        .keyvalue-value(ng-bind="$ctrl.transactionBulk.created_at_locale")

                    .keyvalue-item(ng-if="$ctrl.transactionBulk.execution_date !== null")
                        .keyvalue-key Datum van uitbetaling
                        .keyvalue-value(ng-bind="$ctrl.transactionBulk.execution_date_locale")

                    .keyvalue-item
                        .keyvalue-key Status
                        .keyvalue-value
                            //- Rejected
                            span.label.label-danger(
                                ng-if="$ctrl.transactionBulk.state == 'rejected'" 
                                ng-bind="$ctrl.transactionBulk.state_locale")

                            //- Error
                            span.label.label-danger(
                                ng-if="$ctrl.transactionBulk.state == 'error'" 
                                ng-bind="$ctrl.transactionBulk.state_locale")

                            //- Draft
                            span.label.label-default(
                                ng-if="$ctrl.transactionBulk.state == 'draft'"
                                ng-bind="$ctrl.transactionBulk.state_locale")

                            //- Accepted
                            span.label.label-success(
                                ng-if="$ctrl.transactionBulk.state == 'accepted'"
                                ng-bind="$ctrl.transactionBulk.state_locale")

                            //- Pending
                            span.label.label-default(
                                ng-if="$ctrl.transactionBulk.state == 'pending'" 
                                ng-bind="$ctrl.transactionBulk.state_locale")

                            tooltip(
                                text="'De status van bulkbetaling wordt om het uur gecontroleerd.'" 
                                ng-if="$ctrl.transactionBulk.state == 'pending'")

                    .keyvalue-item(ng-if="$ctrl.showAcceptType")
                        .keyvalue-key Accepted
                        .keyvalue-value {{ $ctrl.transactionBulk.accepted_manually ? 'Handmatig' : 'Verstuurd naar de BNG'}}
                
        //- Lit bulk transactions
        .card(ng-if="$ctrl.transactions")
            .card-header: .flex-row
                //- Transactions title
                .flex.flex-grow: .card-title
                    span(i18n="transactions.header.title") 
                    span(ng-bind="$ctrl.transactions.meta.total").span-count

                .flex
                    button(
                        ng-click="$ctrl.exportTransactions()").button.button-primary.button-sm
                        em.mdi.mdi-download.icon-start
                        span.ng-scope Exporteren

            //- Transactions
            .card-section
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr
                                th(th-sortable filters="$ctrl.filters.values" label="transactions.labels.id" value="id")
                                th(th-sortable filters="$ctrl.filters.values" label="transactions.labels.uid" value="uid")
                                th(th-sortable filters="$ctrl.filters.values" label="transactions.labels.price" value="amount")
                                th(th-sortable filters="$ctrl.filters.values" label="transactions.labels.date" value="created_at")
                                th(th-sortable filters="$ctrl.filters.values" label="transactions.labels.fund" value="fund_name")
                                th(th-sortable filters="$ctrl.filters.values" label="transactions.labels.provider" value="provider_name")
                                th(th-sortable filters="$ctrl.filters.values" label="transactions.labels.product_name" value="product_name")
                                th(th-sortable filters="$ctrl.filters.values" label="transactions.labels.status" value="state")
                                th(th-sortable filters="$ctrl.filters.values" label="transactions.labels.action").th-narrow.text-right

                            tr(ng-repeat="transaction in $ctrl.transactions.data")
                                td(ng-bind="transaction.id")
                                td(ng-bind="(transaction.uid || '-') | str_limit:25" title="{{ transaction.uid || '-' }}")

                                td: a.text-primary-light(
                                    ng-bind="transaction.amount | currency_format" 
                                    ui-sref="transaction(transaction.ui_sref)")

                                td
                                    strong(ng-bind="transaction.created_at_locale.split(' - ')[0]").text-primary
                                    br
                                    strong(ng-bind="transaction.created_at_locale.split(' - ')[1]").text-strong.text-md.text-muted-dark
                                td(ng-bind="transaction.fund.name | str_limit:25")
                                td(ng-bind="(transaction.organization.name | str_limit:25) || '-'" ng-class="transaction.organization ? '' : 'text-muted'")
                                td(ng-bind="(transaction.product.name || '-') | str_limit:25")

                                td
                                    .label.label-success(ng-if="transaction.state == 'success'" ng-bind="transaction.state_locale")
                                    .label.label-default(ng-if="transaction.state != 'success'" ng-bind="transaction.state_locale")

                                td: a(ui-sref="transaction(transaction.ui_sref)").button.button-sm.button-primary.button-icon.pull-right
                                    em.mdi.mdi-eye-outline.icon-start

            //- Transactions pagination
            .card-section(ng-if="$ctrl.transactions" ng-show="$ctrl.transactions.meta.last_page > 1")
                paginator(meta="$ctrl.transactions.meta" filters="$ctrl.filters.values" on-page-change="$ctrl.onPageChange(query)")
