- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.app.app-container
    mixin progress()
        .sign_up-progress
            .sign_up-step.sign_up-step-info(ng-class="$ctrl.step <= $ctrl.INFO_STEPS ? 'sign_up-step-active' : 'sign_up-step-done'")
                .sign_up-step-border
                .mdi.mdi-information-outline

            .sign_up-step(
                ng-repeat="step in $ctrl.shownSteps track by $index"
                ng-class="{'sign_up-step-active' : $ctrl.step == (step + $ctrl.INFO_STEPS), 'sign_up-step-done': ($ctrl.step > (step + $ctrl.INFO_STEPS)) || $ctrl.step == ($ctrl.shownSteps.length + $ctrl.INFO_STEPS)}")
                
                .sign_up-step-border
                .sign-up-step-block Stap {{ ' ' + ($index + 1) }}
            
            .sign_up-progress-overview Stap {{ $ctrl.step }} from {{ $ctrl.shownSteps.length + 2 }}

    .block.block-sign_up: .block-wrapper
        .sign_up-header
            .sign_up-header-item.flex-grow: a(ui-sref="home").sign_up-header-item-back
                em.mdi.mdi-chevron-left
                | Verlaat het formulier

            .sign_up-header-item(ng-if="!$root.auth_user")
                a.button.button-light(ng-click="$ctrl.openAuthPopup()") Inloggen

        h2.block-title(ng-if="$ctrl.state != 'error'" translate="sign_up_validator.header.main_header")

        //- General sign up information
        div(ng-if="$ctrl.step == $ctrl.STEP_INFO_GENERAL")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_validator.header.title_step_1")

                .sign_up-pane-body.sign_up-pane-body-padless-bottom
                    .sign_up-pane-text(translate="sign_up_validator.header.subtitle_step_1")
                    .sign_up-pane-media: img(ng-src="./assets/img/sign_up_first_step.png") 

                .sign_up-pane-footer(em.mdi.mdi-chevron-right.icon-right): .row
                    .col.col-lg-6.text-left: .button.button-text.button-text-padless
                    .col.col-lg-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                        | {{ 'sign_up_validator.buttons.next' | translate }}
                        em.mdi.mdi-chevron-right.icon-right 

        //- Sign up information
        div(ng-if="$ctrl.step == $ctrl.STEP_INFO_DETAILS")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_validator.header.title_step_2")

                .sign_up-pane-body
                    .sign_up-pane-media: img(src=src_prefix + "./assets/img/icon-smartphone-sign_up.svg")
                    .sign_up-pane-text(translate="sign_up_validator.header.subtitle_step_2")

                .sign_up-pane-footer(em.mdi.mdi-chevron-right.icon-right): .row
                    .col.col-lg-6.text-left: .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                        em.mdi.mdi-chevron-left.icon-left
                        | {{ 'sign_up_validator.buttons.back' | translate }}
                    .col.col-lg-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                        | {{ 'sign_up_validator.buttons.next' | translate }}
                        em.mdi.mdi-chevron-right.icon-right 


        //- Create me-app profile
        div(ng-if="$ctrl.step == $ctrl.STEP_CREATE_PROFILE")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_validator.header.title_step_3") 

                .sign_up-pane-body(ng-if="!$ctrl.authEmailSent && !$ctrl.authEmailRestoreSent && !$ctrl.hasApp")
                    .sign_up-pane-heading(translate="sign_up_validator.header.subtitle_step_3")

                    .sign_up-pane-text(translate="sign_up_validator.labels.terms")
                    form(ng-submit="$ctrl.signUpForm.submit()").form: .row
                        .col.col-md-7.col-xs-12
                            .form-group
                                label.form-label(translate="E-MAILadres")
                                ui-control-text(
                                    ng-model="$ctrl.signUpForm.values.email"
                                    data-placeholder="ex. info@info.io").large
                                .form-error(ng-repeat="error in ($ctrl.signUpForm.errors.email || $ctrl.signUpForm.errors['records.primary_email'])" ng-bind="error")
                        .col.col-md-5.col-xs-12
                            .form-group
                            label.form-label &nbsp;
                            button.button.button-primary.button-fill(
                                type="submit"
                                translate="sign_up_validator.app_instruction.create_profile"
                                ng-class="{'button-disabled':!$ctrl.signUpForm.values.email}")

                    .sign_up-pane-link(ng-click="$ctrl.setHasAppProp(true)" translate="sign_up_sponsor.no_app.to_app").visible-md.visible-lg

                .sign_up-pane-body(ng-if="!$ctrl.authEmailSent && !$ctrl.authEmailRestoreSent && $ctrl.hasApp")
                    .sign_up-pane-heading(translate='sign_up_validator.app.title')                    

                    .sign_up-pane-auth
                        .sign_up-pane-auth-content
                            .sign_up-pane-text(
                                ng-repeat="line in ('sign_up_validator.app.description_top' | translate | lines_to_array)"
                                ng-bind="line")
                            
                            .sign_up-pane-auth-qr_code.visible-sm.visible-xs
                                qr-code(
                                    ng-if="$ctrl.authToken" 
                                    qr-value="$ctrl.authToken" 
                                    qr-type="auth_token" 
                                    qr-logo=src_prefix + "./assets/img/me-logo.png") 
                            
                            .sign_up-pane-text(
                                ng-repeat="line in ('sign_up_validator.app.description_bottom' | translate | lines_to_array)"
                                ng-bind="line")
                            
                            app-links
                        
                        .sign_up-pane-auth-qr_code.visible-md.visible-lg
                            qr-code(
                                ng-if="$ctrl.authToken" 
                                qr-value="$ctrl.authToken" 
                                qr-type="auth_token" 
                                qr-logo=src_prefix + "./assets/img/me-logo.png")

                    .sign_up-pane-link(ng-click="$ctrl.setHasAppProp(false)" translate="sign_up_validator.app.no_app").visible-md.visible-lg

                .sign_up-pane-body(ng-if="$ctrl.authEmailSent || $ctrl.authEmailRestoreSent").text-center
                    .sign_up-pane-media: img(ng-src="./assets/img/email_confirmed.svg")  
                    .sign_up-pane-heading.sign_up-pane-heading-lg.text-primary-mid(translate="sign_up_sponsor.labels.confirm_email") 
                    .sign_up-pane-text
                        | {{ "sign_up_sponsor.labels.confirm_email_description" | translate }} 
                        span.sign_up-pane-link.text-underline(ng-bind="$ctrl.signUpForm.values.email")

                        br
                        br
                        email-provider-link(email="$ctrl.signUpForm.values.email")

        //- Select organization step
        div(ng-if="$ctrl.step == $ctrl.STEP_SELECT_ORGANIZATION")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_validator.header.title_step_4")
                .sign_up-pane-body
                    .sign_up-pane-text(translate="sign_up_validator.header.subtitle_step_4")
                    br
                    .sign_up-organizations: .sign_up-organization(
                        ng-repeat="organization in $ctrl.organizationList"
                        ng-class="{'active': organization.id == $ctrl.selectedOrganization.id}"
                        ng-click="$ctrl.selectOrganization(organization)")
                        .sign_up-organization-logo: img(ng-src="{{ organization.logo.sizes.thumbnail || './assets/img/organization-no-logo.svg' }}")
                        .sign_up-organization-title(ng-bind="organization.name")

                    //- mobile
                    .button.button-primary-outline.button-fill.visible-sm.visible-xs(ng-click="$ctrl.addOrganization()")
                        .mdi.mdi-plus-circle-outline.icon-start
                        | {{ 'sign_up_sponsor.buttons.organization_add' | translate }}

                //- desktop
                .sign_up-pane-body.visible-md.visible-lg
                    .button.button-primary-outline(ng-click="$ctrl.addOrganization()")
                        .mdi.mdi-plus-circle-outline.icon-start
                        | {{ 'sign_up_sponsor.buttons.organization_add' | translate }}

                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left
                        .button.button-text.button-text-padless(ng-click="$ctrl.back()")
                            em.mdi.mdi-chevron-left.icon-lefts
                            | {{ 'sign_up_validator.buttons.back' | translate }}
                        
                    .col.col-lg-6.text-right

        //- Manage organization details
        div(ng-if="$ctrl.step == $ctrl.STEP_ORGANIZATION_ADD")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_validator.header.title_step_5")

                form(ng-submit="$ctrl.next()").form
                    .sign_up-pane-body: .sign_up-pane-text(translate="sign_up_validator.header.subtitle_step_5")
                    
                    .sign_up-pane-body.sign_up-pane-body-padless: .sign_up-pane-section
                        .sign_up-pane-col.sign_up-pane-col-2
                            .form-group
                                label.form-label(translate="organization_edit.labels.name")
                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.name"
                                    data-placeholder="Bedrijfsnaam")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.name" ng-bind="error")

                            .form-group
                                label.form-label
                                    translate(translate="organization_edit.labels.bank")
                                    tooltip(text="'Vul hier het rekeningnummer in waar u de betalingen op wilt ontvangen'")
                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.iban"
                                    data-placeholder="Voorbeeld: NL123456789B01")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.iban" ng-bind="error")

                            .form-group
                                label.form-label
                                    translate(translate="HERHAAL IBAN–NUMMER")
                                    tooltip(text="'Vul hier het rekeningnummer in waar u de betalingen op wilt ontvangen'")
                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.iban_confirmation"
                                    data-placeholder="Voorbeeld: NL123456789B01")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.iban_confirmation" ng-bind="error")
                        
                        .sign_up-pane-col.sign_up-pane-col-1
                            photo-selector(
                                template="photo-selector-sign_up"
                                type="organization_logo"
                                thumbnail="$ctrl.media.sizes.thumbnail"
                                description-translate="organization_edit.labels.photo_description"
                                select-photo="$ctrl.selectPhoto(file)")
            
                    .sign_up-pane-body.sign_up-pane-body-padless: .sign_up-pane-section(style="padding-right: 30px;")
                        .sign_up-pane-col
                            .form-group
                                label(translate="organization_edit.labels.mail").form-label
                                .row
                                    .col.col-md-8.col-xs-12: ui-control-text(
                                        ng-model="$ctrl.organizationForm.values.email"
                                        placeholder="E-mailadres")

                                    .col.col-md-4.col-xs-12: ui-control-checkbox.make-public(
                                        name="email_public"
                                        data-id="email_public_input"
                                        data-label="{{ 'organization_edit.labels.make_public' | translate }}"
                                        ng-model="$ctrl.organizationForm.values.email_public")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.email" ng-bind="error")

                            .form-group
                                label(translate="organization_edit.labels.phone").form-label

                                .row
                                    .col.col-md-8.col-xs-12: ui-control-text(
                                        ng-model="$ctrl.organizationForm.values.phone"
                                        placeholder="Telefoonnummer")
                                    .col.col-md-4.col-xs-12: ui-control-checkbox.make-public(
                                        name="phone_public"
                                        data-id="phone_public_input"
                                        data-label="{{ 'organization_edit.labels.make_public' | translate }}"
                                        ng-model="$ctrl.organizationForm.values.phone_public")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.phone" ng-bind="error")

                            .form-group
                                label(translate="organization_edit.labels.website").form-label

                                .row
                                    .col.col-md-8.col-xs-12: ui-control-text(
                                        ng-model="$ctrl.organizationForm.values.website"
                                        placeholder="Website")
                                    .col.col-md-4.col-xs-12: ui-control-checkbox.make-public(
                                        name="website_public"
                                        data-id="website_public_input"
                                        data-label="{{ 'organization_edit.labels.make_public' | translate }}"
                                        ng-model="$ctrl.organizationForm.values.website_public")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.website" ng-bind="error")

                    .sign_up-pane-body.sign_up-pane-body-padless: .sign_up-pane-section(style="padding-right: 30px;")
                        .sign_up-pane-col
                            .form-group.row: .col.col-md-8.col-xs-12
                                label(translate="organization_edit.labels.business_type").form-label

                                .form-offset: select-control(
                                    ng-model="$ctrl.businessType"
                                    ng-change="$ctrl.chageBusinessType($ctrl.businessType)"
                                    options="$ctrl.businessTypes"
                                    placeholder="Selecteer organisatie type...")

                                .form-error(
                                    ng-repeat="error in $ctrl.organizationForm.errors.business_type_id"
                                    ng-bind="error")

                            .form-group.row: .col.col-md-8.col-xs-12
                                label(translate="organization_edit.labels.kvk").form-label

                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.kvk"
                                    data-placeholder="KvK-nummer")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.kvk" ng-bind="error")

                            .form-group.row: .col.col-md-8.col-xs-12
                                label(translate="organization_edit.labels.tax").form-label

                                ui-control-text(
                                    ng-model="$ctrl.organizationForm.values.btw"
                                    data-placeholder="BTW-nummer")

                                .form-hint.text-right(translate="organization_edit.labels.optional")
                                .form-error(ng-repeat="error in $ctrl.organizationForm.errors.btw" ng-bind="error")

                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left
                        .button.button-text.button-text-padless(ng-click="$ctrl.cancelAddOrganization()")
                            em.mdi.mdi-chevron-left.icon-left
                            | {{ 'sign_up_validator.buttons.back' | translate }}

                    .col.col-lg-6.text-right
                        .button.button-text.button-text-padless(ng-click="$ctrl.next()")
                            | {{ 'sign_up_validator.buttons.next' | translate }}
                            em.mdi.mdi-chevron-right.icon-right

        //- Done
        .finish-screen(ng-if="$ctrl.step == $ctrl.STEP_SIGNUP_FINISHED")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="sign_up_validator.header.title_step_6")

                .sign_up-pane-body
                    .text-center
                        img(ng-src="./assets/img/sign_up_finished.svg")    

                    .sign_up-pane-subtitle(translate="sign_up_validator.header.subtitle_step_6")

                    br
                    br
                    .text-center: .button.button-primary-variant(
                        ng-click="$ctrl.finish()"
                        translate="sign_up_validator.buttons.go_to_dashboard")

        //- Error
        div(ng-if="$ctrl.state == 'error'")
            h2.block-title Zomerzwemregeling aanvraag

            .sign_up-pane
                .sign_up-pane-header Error during sign up request submission.
                .sign_up-pane-body: .row
                    .form-group.col.col-lg-12
                        .block-icon: .mdi.mdi-close
                        p.sign_up-pane-text.text-center
                            | Reason:
                            span(ng-bind="$ctrl.errorReason")

                        .text-center: .button.button-default(ng-click="$ctrl.finish()") Terug naar het dashboard
                    .form-group.col.col-lg-12: br

        //- Mobile device warning
        //- .block.block-desktop-only.visible-xs: .block-inner
        //-     .block-media: img(src="./assets/img/sign-up/user-mobile.png")
        //-     .block-title(translate="sign_up_validator.open_pc.title")
        //-     .block-description(translate="sign_up_validator.open_pc.description")