.app.app-container
    menu
    section.app.app-content
        .card
            .card-section
                .card-section-actions
                    .card-section-action(
                        ng-if="$ctrl.validatorRequest.state == 'pending'"
                        ng-click="$ctrl.approve($ctrl.validatorRequest)")
                        .mdi.mdi-check
                        | {{ "validation_request.buttons.accept" | translate }}
                    .card-section-action(
                        ng-if="$ctrl.validatorRequest.state == 'pending'"
                        ng-click="$ctrl.decline($ctrl.validatorRequest)")
                        .mdi.mdi-close
                        | {{ "validation_request.buttons.refuse" | translate }}
                    .tag(
                        ng-class="{pending: 'tag-warning', declined: 'tag-danger', approved: 'tag-success'}[$ctrl.validatorRequest.state]"
                        ng-bind="{pending: 'Pending', declined: 'Declined', approved: 'Approved'}[$ctrl.validatorRequest.state]")
                .card-title {{ $ctrl.validatorRequest.record.name }}: {{ $ctrl.validatorRequest.record.value }}

            .card-section.card-section-primary: .card-block.card-block-keyvalue.card-block-keyvalue-horizontal: .row
                .keyvalue-item.col.col-lg-3
                    .keyvalue-key(translate="validation_request.buttons.bsn")
                    .keyvalue-value(ng-bind="$ctrl.validatorRequest.bsn")