.app.app-container(ng-if="$root.activeOrganization && $root.auth_user")
    menu
    section.app.app-content
        //- Navigation
        .block.block-breadcrumbs(ng-if="$root.activeOrganization")
            .breadcrumb-item(
                ui-sref="vouchers({organization_id:$root.activeOrganization.id})" 
                ng-bind="'Vouchers'"
                ng-if="!$ctrl.voucher.product")

            .breadcrumb-item(
                ui-sref="product-vouchers({organization_id:$root.activeOrganization.id})" 
                ng-bind="'Aanbiedingsvouchers'"
                ng-if="$ctrl.voucher.product")

            .breadcrumb-item(
                ng-if="$ctrl.appConfigs.panel_type == 'sponsor'"
                ui-sref="vouchers({organization_id:$root.activeOrganization.id})" 
                ng-bind="$ctrl.voucher.fund.name")

            .breadcrumb-item.active(ng-bind="$ctrl.voucher.fund.name + ' #' + $ctrl.voucher.id")

        //- Base voucher details
        .card(ng-if="$ctrl.voucher")
            .card-header: .flex
                .flex.flex-grow: .card-title
                    //- voucher fund or product name
                    .flex.flex-vertical.flex-center(ng-bind="$ctrl.voucher.fund.name" ng-if="!$ctrl.voucher.product") 
                    .flex.flex-vertical.flex-center(ng-bind="$ctrl.voucher.product.name" ng-if="$ctrl.voucher.product")

                    //- is active
                    .flex.flex-vertical.flex-center: .tag.tag-success.tag-sm(
                        ng-if="!$ctrl.voucher.expired && $ctrl.voucher.state == 'active'" 
                        ng-bind="$ctrl.voucher.state_locale")

                    //- is pending
                    .flex.flex-vertical.flex-center: .tag.tag-default.tag-sm(
                        ng-if="!$ctrl.voucher.expired && $ctrl.voucher.state == 'pending'"
                        ng-bind="$ctrl.voucher.state_locale")

                    //- is deactivated
                    .flex.flex-vertical.flex-center: .tag.tag-danger.tag-sm(
                        ng-if="!$ctrl.voucher.expired && $ctrl.voucher.state == 'deactivated'" 
                        ng-bind="$ctrl.voucher.state_locale")

                    //- is expired
                    .flex.flex-vertical.flex-center: .tag.tag-warning.tag-sm(
                        ng-if="$ctrl.voucher.expired" 
                        translate="vouchers.labels.expired")

                    | &nbsp;&nbsp;

                    //- voucher amount (budget funds only)
                    span.text-primary(
                        ng-if="$ctrl.voucher.fund.type == 'budget'" 
                        ng-bind="$ctrl.voucher.amount_total | currency_format")

                //- voucher actions
                .flex.flex-self-start: .flex-row: .button-group
                    .button.button-default.button-sm(
                        ng-if="$ctrl.showMakeTransactionButton && $ctrl.fund.allow_voucher_top_ups"
                        ng-click="$ctrl.makeTopUpTransaction()")
                        em.mdi.mdi-cash-plus.icon-start
                        string(translate="vouchers.buttons.make_top_up_transaction")

                    //- is granted?
                    .button.button-primary.button-sm(
                        ng-if="$ctrl.showMakeTransactionButton"
                        ng-click="$ctrl.makeTransaction()")
                        em.mdi.mdi-cash-fast.icon-start
                        string(translate="vouchers.buttons.make_transaction")

                    //- deactivate voucher
                    .button.button-danger.button-sm(
                        ng-if="!$ctrl.voucher.expired && $ctrl.voucher.state === 'active'"
                        ng-click="$ctrl.deactivateVoucher()")
                        em.mdi.mdi-close.icon-start
                        | Deactiveren

                    //- reactivate voucher
                    .button.button-danger.button-sm(
                        ng-if="!$ctrl.voucher.expired && $ctrl.voucher.state === 'deactivated' && !$ctrl.voucher.is_external"
                        ng-click="$ctrl.activateVoucher()")
                        em.mdi.mdi-alert-outline.icon-start
                        | Activeren

                    //- make physical card request
                    .button.button-default.button-sm(
                        ng-if="$ctrl.physicalCardsAvailable && !$ctrl.voucher.expired"
                        ng-click="$ctrl.orderPhysicalCard()")
                        em.mdi.mdi-card-text-outline.icon-start
                        | Plastic pas bestellen 

                    //- attach physical card
                    .button.button-default.button-sm(
                        ng-if="$ctrl.physicalCardsAvailable && !$ctrl.voucher.physical_card"
                        ng-click="$ctrl.addPhysicalCard()")
                        em.mdi.mdi-ticket-account.icon-start 
                        span(translate="vouchers.buttons.physical_card_add")

                    //- remove physical card
                    .button.button-default.button-sm(
                        ng-if="$ctrl.physicalCardsAvailable && $ctrl.voucher.physical_card"
                        ng-click="$ctrl.deletePhysicalCard()")
                        em.mdi.mdi-ticket-account.icon-start 
                        span(translate="vouchers.buttons.physical_card_delete")

                    .button.button-primary.button-sm(
                        ng-if="!$ctrl.fundClosed && !$ctrl.voucher.expired && !$ctrl.voucher.is_granted  && $ctrl.voucher.state === 'pending' && !$ctrl.voucher.is_external"
                        ng-click="$ctrl.showQrCode()")
                        em.mdi.mdi-clipboard-account.icon-start 
                        span(translate="vouchers.buttons.activate")

                    .button.button-primary.button-sm(
                        ng-if="!$ctrl.fundClosed && !$ctrl.voucher.is_granted && !$ctrl.voucher.expired && $ctrl.voucher.state === 'active' && !$ctrl.voucher.is_external"
                        ng-click="$ctrl.showQrCode()")
                        em.mdi.mdi-qrcode.icon-start 
                        string(translate="vouchers.labels.qr_code")
                         
            .card-section: .flex
                .flex: .card-block.card-block-keyvalue
                    //- Email
                    .keyvalue-item
                        .keyvalue-key(translate="vouchers.labels.email")
                        .keyvalue-value(ng-bind="$ctrl.voucher.identity_email || 'Niet toegewezen'").text-black

                    //- Provider name (product vouchers only)
                    .keyvalue-item(ng-if="$ctrl.voucher.product")
                        .keyvalue-key(translate="vouchers.labels.provider_name")
                        .keyvalue-value(ng-bind="$ctrl.voucher.product.organization.name || 'Niet aanbieder'").text-black

                    //- BSN
                    .keyvalue-item(ng-if="$ctrl.voucher.identity_bsn || $ctrl.voucher.relation_bsn")
                        .keyvalue-key(translate="vouchers.labels.bsn")
                        .keyvalue-value(ng-bind="($ctrl.voucher.identity_bsn || $ctrl.voucher.relation_bsn)")

                    //- Physical card
                    .keyvalue-item(ng-if="$ctrl.voucher.physical_card")
                        .keyvalue-key(translate="vouchers.labels.physical_card")
                        .keyvalue-value(ng-bind="$ctrl.voucher.physical_card.code")
                    
                    //- Activation code
                    .keyvalue-item(ng-if="$ctrl.voucher.activation_code")
                        .keyvalue-key(translate="vouchers.labels.details_activation_code")
                        .keyvalue-value(ng-bind="$ctrl.voucher.activation_code")
                    
                    //- Client uid
                    .keyvalue-item(ng-if="$ctrl.voucher.client_uid")
                        .keyvalue-key(translate="vouchers.labels.uid")
                        .keyvalue-value(ng-bind="$ctrl.voucher.client_uid")

                    //- Limit multiplier
                    .keyvalue-item(ng-if="$ctrl.voucher.fund.type == 'subsidies'")
                        .keyvalue-key(translate="vouchers.labels.limit_multiplier")
                        .keyvalue-value: .form: control-numeric(
                            min-value="1"
                            max-value="1000"
                            ng-model="$ctrl.voucher.limit_multiplier" 
                            ng-change="$ctrl.submitLimitMultiplier($ctrl.voucher.limit_multiplier, {{ $ctrl.voucher.limit_multiplier }})"
                            apply="true" 
                            apply-text="Aanpassen")

        .card(ng-if="$ctrl.voucher")
            .card-header: .flex
                .flex.flex-grow: .card-title
                    .flex.flex-vertical.flex-center Voucher details
                    
            .card-section
                .card-block.card-block-table
                    .table-wrapper
                        table.table.table-fixed.table-align-top
                            tr
                                td(ng-if="!$ctrl.fundClosed")
                                    strong(translate="vouchers.labels.expire_date").text-strong.text-md.text-primary
                                    br
                                    strong(ng-bind="$ctrl.voucher.expire_at_locale").text-black

                                td(ng-if="!$ctrl.fundClosed")
                                    strong(translate="vouchers.labels.created_date").text-strong.text-md.text-primary
                                    br
                                    strong(ng-bind="$ctrl.voucher.created_at_locale.split(' - ')[1]").text-black    

                                td 
                                    strong(translate="vouchers.labels.source").text-strong.text-md.text-primary
                                    br
                                    strong(ng-bind="'vouchers.labels.source_' + $ctrl.voucher.source | translate").text-black

                                td(ng-if="!$ctrl.fundClosed")
                                    strong(translate="vouchers.labels.used").text-strong.text-md.text-primary
                                    br
                                    em.mdi.mdi-close.text-black
                                    strong(ng-if="!$ctrl.voucher.in_use" translate="product_vouchers.labels.no").text-black
                                    strong(ng-if="$ctrl.voucher.in_use" translate="product_vouchers.labels.yes").text-black

                                td
                                    strong(translate="vouchers.labels.used_date").text-strong.text-md.text-primary
                                    br
                                    div(ng-if="$ctrl.voucher.first_use_date_locale")
                                        strong(ng-bind="$ctrl.voucher.first_use_date_locale").text-black
                                    div(ng-if="!$ctrl.voucher.first_use_date_locale")
                                        em.mdi.mdi-close.text-black
                                        strong(translate="product_vouchers.labels.no").text-black

                            tr(ng-if="!$ctrl.voucher.product && $ctrl.voucher.fund.type != 'subsidies'")
                                td
                                    strong.text-strong.text-md.text-primary Totaal toegekend
                                    br
                                    strong(ng-bind="$ctrl.voucher.amount_total | currency_format").text-black

                                td
                                    strong.text-strong.text-md.text-primary Initieel toegekend
                                    br
                                    strong(ng-bind="$ctrl.voucher.amount | currency_format").text-black

                                td
                                    strong.text-strong.text-md.text-primary Totaal opgewaardeerd
                                    br
                                    strong(ng-bind="$ctrl.voucher.amount_top_up | currency_format").text-black

                                td
                                    strong.text-strong.text-md.text-primary Huidig bedrag
                                    br
                                    strong(ng-bind="$ctrl.voucher.amount_available | currency_format").text-black

                                td
                                    strong.text-strong.text-md.text-primary Uitgegeven bedrag
                                    br
                                    strong(ng-bind="($ctrl.voucher.amount_total - $ctrl.voucher.amount_available) | currency_format").text-black

        //- Voucher history
        event-logs(
            ng-if="$ctrl.voucher"
            organization="$ctrl.organization"
            filter-values="$ctrl.eventFilters"
            hide-filter-form="true"
            hide-entity="true"
            register="$ctrl.registerLogsDirective(directive)"
            block-title="Geschiedenis")

        //- Voucher sponsor note set upon creation
        .card(ng-if="$ctrl.voucher.note")
            .card-header: .card-title(translate="vouchers.labels.note")
            .card-section: .card-text(ng-bind="$ctrl.voucher.note")

        //- Voucher transactions
        voucher-transactions(
            ng-if="$ctrl.voucher"
            organization="$ctrl.organization"
            filter-values="$ctrl.transactionsFilters"
            register="$ctrl.registerTransactionsDirective(directive)"
            block-title="Transacties")
