.app.app-container(ng-if="$root.activeOrganization && $root.auth_user")
    menu
    section.app.app-content
        .block.block-breadcrumbs(ng-if="$root.activeOrganization")
            .breadcrumb-item(
                ui-sref="vouchers({organization_id:$root.activeOrganization.id})" 
                ng-bind="'Vouchers'")
            .breadcrumb-item(
                ng-if="$ctrl.appConfigs.panel_type == 'sponsor'"
                ui-sref="vouchers({organization_id:$root.activeOrganization.id})" 
                ng-bind="$ctrl.voucher.fund.name")
            .breadcrumb-item.active(ng-bind="'#' + $ctrl.voucher.id")
   
        .card(ng-if="$ctrl.voucher")
            .card-header: .row
                .col.col-lg-7.col-xs-12: .card-title
                    span(ng-bind="$ctrl.voucher.fund.name") 
                    .tag.tag-success.tag-sm(
                        ng-if="$ctrl.voucher.state == 'active'" 
                        translate="vouchers.labels.active")
                    
                    .tag.tag-default.tag-sm(
                        ng-if="$ctrl.voucher.state == 'pending'" 
                        translate="vouchers.labels.pending")
                    br
                    span(ng-bind="$ctrl.voucher.amount | currency_format").text-primary
            
                .block.block-inline-buttons.col.col-lg-5.col-xs-12
                        .button.button-primary-outline.button-hover(
                            ng-if="!$ctrl.voucher.physical_card"
                            ng-click="$ctrl.addPhysicalCard()")
                            em.mdi.mdi-ticket-account.icon-start 
                            span(translate="vouchers.buttons.physical_card_add")
                        .button.button-primary-outline.button-hover(
                            ng-if="$ctrl.voucher.physical_card"
                            ng-click="$ctrl.deletePhysicalCard()")
                            em.mdi.mdi-ticket-account.icon-start 
                            span(translate="vouchers.buttons.physical_card_delete")
                        .button.button-primary-outline.button-hover(
                            ng-if="!$ctrl.fundClosed && $ctrl.voucher.state === 'pending'"
                            ng-click="$ctrl.showQrCode()")
                            em.mdi.mdi-clipboard-account.icon-start 
                            span(translate="vouchers.buttons.activate")
                        .button.button-primary-outline.button-hover(
                            ng-if="!$ctrl.fundClosed && !voucher.is_granted && !voucher.expired && $ctrl.voucher.state === 'active'"
                            ng-click="$ctrl.showQrCode()")
                            em.mdi.mdi-qrcode.icon-start 
                            string(translate="vouchers.labels.qr_code")
                                            
            .card-section
                .card-block.card-block-table
                    .table-wrapper
                        table.table
                            tr()
                                td(ng-if="$ctrl.voucher.activation_code")
                                    strong(translate="vouchers.labels.details_activation_code").text-strong.text-md.text-muted-dark
                                    br
                                    strong(ng-bind="$ctrl.voucher.activation_code").text-black
                                td(ng-if="!$ctrl.fundClosed")
                                    strong(translate="vouchers.labels.expire_date").text-strong.text-md.text-muted-dark
                                    br
                                    strong(ng-bind="$ctrl.voucher.expire_at_locale").text-black
                                td(ng-if="!$ctrl.fundClosed")
                                    strong(translate="vouchers.labels.created_date").text-strong.text-md.text-muted-dark
                                    br
                                    strong(ng-bind="$ctrl.voucher.created_at_locale.split(' - ')[1]").text-black
                                td 
                                    strong(translate="vouchers.labels.source").text-strong.text-md.text-muted-dark
                                    br
                                    strong(ng-bind="'vouchers.labels.source_' + $ctrl.voucher.source | translate").text-black
                                td(ng-if="!$ctrl.fundClosed && !$ctrl.voucher.has_transactions")
                                    strong(translate="vouchers.labels.used").text-strong.text-md.text-muted-dark
                                    br
                                    em.mdi.mdi-close.text-black
                                    strong(translate="product_vouchers.labels.no").text-black
                                td(ng-if="!$ctrl.fundClosed && $ctrl.voucher.has_transactions")
                                    strong(translate="vouchers.labels.used").text-strong.text-md.text-muted-dark
                                    br
                                    em.mdi.mdi-close.text-black
                                    strong(translate="product_vouchers.labels.yes").text-black

        .card(ng-if="$ctrl.voucher.note")
            .card-section
                p
                    strong(translate="vouchers.labels.note")
                    br
                    | {{ $ctrl.voucher.note }}  