.app.app-container(ng-if="$root.activeOrganization && $root.auth_user && $ctrl.funds")
    menu
    section.app.app-content
        .card(
            ng-if="$ctrl.vouchers && $ctrl.funds.length > 0"
            dusk="vouchersCard{{ $ctrl.vouchers.data[0].fund_id }}")

            //- Header
            .card-header(ng-class="$ctrl.loading ? 'card-header-inactive' : ''"): .flex
                .flex.flex-grow: .card-title(dusk="vouchersTitle")
                    span(translate="vouchers.header.title") 
                    | &nbsp;
                    span(ng-bind="$ctrl.vouchers.meta.total").span-count

                .flex: .block.block-inline-filters
                    .button.button-primary(
                        ng-click="$ctrl.createVoucher()"
                        id="create_voucher")
                        em.mdi.mdi-plus-circle.icon-start 
                        span(translate="vouchers.buttons.add_new")

                    .button.button-primary(
                        ng-click="$ctrl.uploadVouchersCsv()"
                        id="voucher_upload_csv"
                        dusk="uploadVouchersBatchButton")
                        em.mdi.mdi-upload.icon-start 
                        span(translate="vouchers.buttons.upload_csv")

                    .form: .form-group: select-control(
                        prop="id"
                        search="false"
                        placeholder="{{ 'vouchers.labels.fund' | translate }}"
                        ng-model="$ctrl.filters.values.fund_id"
                        template='select-control-fund'
                        options="$ctrl.funds").form-control.inline-filter-control

                    .button.button-text(ng-if="$ctrl.filters.show" ng-click="$ctrl.filters.reset()")
                        em.mdi.mdi-close.icon-start 
                        span(translate="vouchers.buttons.clear_filter")

                    .form(ng-if="!$ctrl.filters.show")
                        .form-group: input(
                            ng-model="$ctrl.filters.values.q"
                            type="text"
                            placeholder="{{ 'vouchers.labels.search' | translate }}"
                            dusk="searchVoucher").form-control

                    .inline-filters-dropdown.pull-right(click-outside="$ctrl.hideFilters()")
                        .inline-filters-dropdown-content(ng-show="$ctrl.filters.show")
                            .arrow-box.bg-dim: .arrow
                            .form
                                .form-group
                                    form-label-toggle(label="{{ 'vouchers.labels.search' | translate }}" is-active)
                                    input(
                                        ng-model="$ctrl.filters.values.q" 
                                        placeholder="{{ 'vouchers.labels.search' | translate }}").form-control

                                .form-group(ng-click="$event.stopPropagation()")
                                    form-label-toggle(label="{{ 'vouchers.labels.granted' | translate }}")
                                    .form-offset: select-control(
                                        prop="value"
                                        search="false"
                                        ng-model="$ctrl.filters.values.granted"
                                        options="$ctrl.states").form-control

                                .form-group(ng-click="$event.stopPropagation()")
                                    form-label-toggle(label="{{ 'vouchers.labels.source' | translate }}")
                                    .form-offset: select-control(
                                        prop="value"
                                        search="false"
                                        ng-model="$ctrl.filters.values.source"
                                        options="$ctrl.sources").form-control

                                .form-group(ng-click="$event.stopPropagation()")
                                    form-label-toggle(label="{{ 'vouchers.labels.state' | translate }}")
                                    .form-offset: select-control(
                                        prop="value"
                                        search="false"
                                        ng-model="$ctrl.filters.values.state"
                                        options="$ctrl.voucher_states" ).form-control

                                .form-group
                                    form-label-toggle(label="{{ 'vouchers.labels.voucher_count_per_identity' | translate }}")
                                    .row
                                        .col.col-sm-6: input(
                                            type="number" 
                                            ng-model="$ctrl.filters.values.count_per_identity_min" 
                                            placeholder="{{ 'transactions.labels.amount_min' | translate }}").form-control

                                        .col.col-sm-6: input(
                                            type="number" 
                                            ng-model="$ctrl.filters.values.count_per_identity_max" 
                                            placeholder="{{ 'transactions.labels.amount_max' | translate }}").form-control

                                .form-group(ng-click="$event.stopPropagation()")
                                    form-label-toggle(label="{{ 'vouchers.labels.used' | translate }}")
                                    .form-offset: select-control(
                                        prop="value"
                                        search="false"
                                        ng-model="$ctrl.filters.values.in_use"
                                        options="$ctrl.in_use").form-control

                                //-.form-group
                                    form-label-toggle(label="{{ 'vouchers.labels.fund' | translate }}")
                                    select(
                                        ng-options="fund.id as fund.name for fund in $ctrl.funds" 
                                        ng-model="$ctrl.filters.values.fund_id").form-control

                                .form-group
                                    form-label-toggle(label="{{ 'vouchers.labels.amount' | translate }}")
                                    .row
                                        .col.col-sm-6: input(
                                            type="number" 
                                            ng-model="$ctrl.filters.values.amount_min" 
                                            placeholder="{{ 'transactions.labels.amount_min' | translate }}").form-control

                                        .col.col-sm-6: input(
                                            type="number" 
                                            ng-model="$ctrl.filters.values.amount_max" 
                                            placeholder="{{ 'transactions.labels.amount_max' | translate }}").form-control

                                .form-group
                                    form-label-toggle(label="{{ 'vouchers.labels.amount_available' | translate }}")
                                    .row
                                        .col.col-sm-6: input(
                                            type="number" 
                                            ng-model="$ctrl.filters.values.amount_available_min" 
                                            placeholder="{{ 'vouchers.labels.amount_available_min' | translate }}").form-control

                                        .col.col-sm-6: input(
                                            type="number" 
                                            ng-model="$ctrl.filters.values.amount_available_max" 
                                            placeholder="{{ 'vouchers.labels.amount_available_max' | translate }}").form-control

                                .form-group(ng-click="$event.stopPropagation()")
                                    form-label-toggle(label="{{ 'vouchers.labels.date_type' | translate }}")
                                    .form-offset: select-control(
                                        prop="value"
                                        search="false"
                                        ng-model="$ctrl.filters.values.date_type"
                                        options="$ctrl.date_types").form-control

                                .form-group
                                    form-label-toggle(label="{{ 'vouchers.labels.from' | translate }}")
                                    datepicker(
                                        date-format="dd-MM-yyyy" 
                                        datepicker-mobile=""
                                        date-week-start-day="1").form-control
                                        input(ng-model="$ctrl.filters.values.from" type="text" placeholder="dd-MM-yyyy").form-control

                                .form-group
                                    form-label-toggle(label="{{ 'vouchers.labels.to' | translate }}")
                                    datepicker(
                                        date-format="dd-MM-yyyy" 
                                        datepicker-mobile="" 
                                        date-week-start-day="1").form-control
                                        input(ng-model="$ctrl.filters.values.to" type="text" placeholder="dd-MM-yyyy").form-control

                                .form-group(ng-click="$event.stopPropagation()")
                                    form-label-toggle(label="{{ 'vouchers.labels.fund' | translate }}")
                                    .form-offset: select-control(
                                        prop="id"
                                        search="false"
                                        ng-model="$ctrl.filters.values.fund_id"
                                        options="$ctrl.funds").form-control

                                .form-group(ng-click="$event.stopPropagation()")
                                    form-label-toggle(label="{{ 'vouchers.labels.implementation' | translate }}")
                                    .form-offset: select-control(
                                        prop="id"
                                        search="false"
                                        ng-model="$ctrl.filters.values.implementation_id"
                                        options="$ctrl.implementations").form-control

                                .form-actions
                                    button.button.button-primary.button-wide(
                                        ng-click="$ctrl.exportVouchers()" 
                                        ng-disabled="$ctrl.vouchers.meta.total == 0")
                                        em.mdi.mdi-download.icon-start  

                                        span.ng-scope(
                                            translate="components.dropdown.export" 
                                            translate-values="{ total: $ctrl.vouchers.meta.total }")

                        .button.button-default.button-icon(ng-click="$ctrl.filters.show = !$ctrl.filters.show"): em.mdi.mdi-filter-outline

            //- Loading
            .card-section(ng-if="$ctrl.loading"): .card-loading: .mdi.mdi-loading.mdi-spin

            //- Vouchers list
            .card-section(ng-if="!$ctrl.loading && $ctrl.vouchers.data.length > 0")
                .card-block.card-block-table
                    table-config(
                        ng-if="$ctrl.showTableConfig" 
                        selected-category="{{ $ctrl.tableConfigCategory }}" 
                        tooltips="$ctrl.tooltips"
                        active-tooltip-key="$ctrl.activeTooltipKey")

                    .table-wrapper: .table-container.table-container-2
                        .table-scroll: table.table
                            tr
                                th(
                                    ng-repeat="column in $ctrl.columns"
                                    ng-bind="column.label"
                                    ng-mouseover="$ctrl.showTableTooltip(column.tooltip.key)"
                                    ng-mouseleave="$ctrl.hideTableTooltip(column.tooltip.key)")

                                th &nbsp;

                            tr(
                                ng-repeat="voucher in $ctrl.vouchers.data" 
                                ui-sref="vouchers-show({organization_id: $ctrl.organization.id, voucher_id: voucher.id, fund_id: voucher.fund.id})"
                                dusk="voucherItem{{ voucher.id }}").tr-actions

                                td(ng-if="$ctrl.columns_keys.includes('id')" ng-bind="voucher.id")

                                td(ng-if="$ctrl.columns_keys.includes('assigned_to')")
                                    div: strong(ng-bind="(voucher.identity_email | str_limit:32) || voucher.activation_code || 'Niet toegewezen'").text-primary
                                    div.text-strong.text-md.text-muted
                                        span(ng-if="voucher.identity_bsn || voucher.relation_bsn")
                                            | BSN:&nbsp;
                                            span.text-muted-dark {{ voucher.identity_bsn || voucher.relation_bsn }}
                                            | &nbsp;
                                        span(ng-if="voucher.client_uid || (!voucher.identity_email && voucher.activation_code) || ((!voucher.identity_bsn && !voucher.relation_bsn) && voucher.physical_card.code)")
                                            | NR:&nbsp;
                                            span.text-muted-dark {{ voucher.client_uid || voucher.physical_card.code || 'Nee' }}
                                            | &nbsp;

                                td(ng-if="$ctrl.columns_keys.includes('source')")
                                    div(ng-bind="voucher.source_locale").text-md.text-muted-dark.text-medium

                                td(
                                    ng-if="$ctrl.columns_keys.includes('amount')"
                                    ng-bind="voucher.amount_total | currency_format")

                                td(ng-if="$ctrl.columns_keys.includes('note')")
                                    em.td-icon.mdi.mdi-information.block.block-tooltip-details.pull-left(
                                        ng-if="voucher.note"
                                        ng-click="$ctrl.showTooltip($event, voucher)"
                                        ng-class="{active: voucher.showTooltip}")
                                        .tooltip-content(ng-if="voucher.showTooltip" click-outside="$ctrl.hideTooltip($event, voucher)")
                                            .tooltip-text(ng-bind="(voucher.note || '-') | str_limit:128" title="{{ voucher.note }}")
                                    
                                    .text-muted(ng-if="!voucher.note") -

                                td(ng-if="$ctrl.columns_keys.includes('fund')")
                                    div(ng-bind="voucher.fund.name | str_limit:32").text-primary.text-medium
                                    div(ng-bind="voucher.fund.implementation.name | str_limit:32").text-strong.text-md.text-muted-dark

                                td(ng-if="$ctrl.columns_keys.includes('created_at')")
                                    div(ng-bind="voucher.created_at_locale.split(' - ')[0]").text-medium.text-primary
                                    div(ng-bind="voucher.created_at_locale.split(' - ')[1]").text-strong.text-md.text-muted-dark

                                td(ng-if="$ctrl.columns_keys.includes('expire_at')")
                                    div(ng-bind="voucher.expire_at_locale.split(',')[0]").text-medium.text-primary
                                    div(ng-bind="voucher.expire_at_locale.split(',')[1]").text-strong.text-md.text-muted-dark

                                td(ng-if="$ctrl.columns_keys.includes('in_use')"): .td-boolean.flex-vertical
                                    .text-primary
                                        em.mdi.mdi-check-circle(ng-if="voucher.in_use")
                                        em.mdi.mdi-close(ng-if="!voucher.in_use")
                                        div(ng-if="!voucher.in_use" translate="product_vouchers.labels.no")
                                        div(ng-if="voucher.in_use" ng-bind="voucher.first_use_date_locale.split(',')[0]").text-primary
                                        div(ng-if="voucher.in_use" ng-bind="voucher.first_use_date_locale.split(',')[1]").text-strong.text-md.text-muted-dark

                                td(ng-if="$ctrl.columns_keys.includes('state')")
                                    .td-boolean(ng-if="voucher.expired")
                                        em.mdi.mdi-close
                                        span.text-md.text-muted-dark Verlopen               

                                    .td-boolean(ng-if="!voucher.expired")
                                        em(ng-if="voucher.state === 'active'").mdi.mdi-check-circle
                                        em(ng-if="voucher.state === 'pending' || voucher.state === 'deactivated'").mdi.mdi-close
                                        span.block.block-tooltip-details.block-tooltip-hover.text-md.text-muted-dark 
                                            | {{ voucher.state_locale }}
                                            .tooltip-content.tooltip-content-left.tooltip-content-fit
                                                .tooltip-text
                                                    span
                                                        span.text-primary.text-sm.text-strong E-MAIL:
                                                        br
                                                        span(ng-bind="(voucher.identity_email | str_limit:32) || 'Niet toegewezen'").text-strong
                                                    span(ng-if="voucher.identity_bsn || voucher.relation_bsn")
                                                        br
                                                        span.text-primary.text-sm.text-strong BSN:
                                                        br
                                                        span(ng-bind="(voucher.identity_bsn || voucher.relation_bsn)").text-strong
                                                    span(ng-if="voucher.activation_code")
                                                        br
                                                        span.text-primary.text-sm.text-strong CODE:
                                                        br
                                                        span(ng-bind="voucher.activation_code").text-strong
                                                    span(ng-if="voucher.client_uid || voucher.activation_code")
                                                        br
                                                        span.text-primary.text-sm.text-strong UNIEK NUMMER:
                                                        br
                                                        span(ng-bind="voucher.client_uid || 'Nee'").text-strong
                                                    span(ng-if="voucher.physical_card.code")
                                                        br
                                                        span.text-primary.text-sm.text-strong PASNUMMER:
                                                        br
                                                        span(ng-bind="voucher.physical_card.code || 'Nee'").text-strong
                                td

                        .table-scroll-actions: table.table
                            tr: th: .table-th-actions
                                .table-th-action(
                                    ng-class="$ctrl.showTableConfig && $ctrl.tableConfigCategory == 'tooltips' ? 'active' : ''"
                                    ng-click="$ctrl.setShowTableConfig('tooltips')")
                                    em.mdi.mdi-information-variant-circle

                                //- .table-th-action(
                                    ng-class="$ctrl.showTableConfig && $ctrl.tableConfigCategory == 'columns' ? 'active' : 'columns'"
                                    ng-click="$ctrl.setShowTableConfig('columns')")
                                    em.mdi.mdi-cog-outline

                            tr(ng-repeat="voucher in $ctrl.vouchers.data" dusk="voucherItem{{ voucher.id }}"): td
                                .actions(ng-class="voucher.showMenu ? 'active' : ''"): button.button.button-text.button-menu(
                                    type="button"
                                    voucher="{{ voucher.id }}"
                                    ng-click="$ctrl.toggleActions($event, voucher)")

                                    em.mdi.mdi-dots-horizontal

                                    .menu-dropdown(
                                        ng-if="voucher.showMenu"
                                        click-outside="$ctrl.onClickOutsideMenu($event, voucher)")

                                        .menu-dropdown-arrow
                                        .dropdown.dropdown-actions
                                            a(
                                                ui-sref="vouchers-show({organization_id: $ctrl.organization.id, voucher_id: voucher.id, fund_id: voucher.fund.id})").dropdown-item
                                                | #[em.mdi.mdi-eye.icon-start] Bekijken

                                            a(
                                                ng-if="!voucher.is_granted && !voucher.expired && voucher.state != 'deactivated'"
                                                ng-disabled="voucher.state === 'active'"
                                                ng-click="$ctrl.showQrCode($event, voucher)").dropdown-item
                                                | #[em.mdi.mdi-bookmark.icon-start] Activeren

                                            a(
                                                ng-if="!voucher.is_granted && !voucher.expired && voucher.state != 'deactivated'"
                                                ng-disabled="voucher.state === 'pending'"
                                                ng-click="$ctrl.showQrCode($event, voucher)").dropdown-item
                                                | #[em.mdi.mdi-qrcode.icon-start] QR-code

            //- Pagination
            .card-section(ng-if="!$ctrl.loading && $ctrl.vouchers.meta" ng-show="$ctrl.vouchers.meta.last_page > 1")
                paginator(
                    meta="$ctrl.vouchers.meta" 
                    filters="$ctrl.filters.values" 
                    delayed-filters="['q', 'amount_min', 'amount_max', 'count_per_identity_min', 'count_per_identity_max']" 
                    on-page-change="$ctrl.onPageChange(query)")

            //- Not found
            .card-section(ng-if="!$ctrl.loading && $ctrl.vouchers.meta.total == 0"): .block.block-empty.text-center
                .empty-title Geen vouchers gevonden

        div(ng-if="$ctrl.funds.length == 0")
            block-empty(
                ng-if="($root.activeOrganization | hasPerm:'manage_funds')"	
                text="Je hebt momenteel geen fondsen."
                button="{text: 'Fonds toevoegen', href: $ctrl.emptyBlockLink}")

            block-empty(
                ng-if="!($root.activeOrganization | hasPerm:'manage_funds')"
                text="Je hebt momenteel geen fondsen.")