.product-item
    mixin bookmark_toggle()
        .block.block-bookmark-toggle(
            ng-if="$root.auth_user"
            ng-click="$dir.toggleBookmark($event)"
            ng-class="$dir.product.bookmarked ? 'active' : ''"
            aria-label="toevoegen aan verlanglijstje"
            aria-pressed="{{ $dir.product.bookmarked }}")
                .mdi.mdi-cards-heart(ng-if="$dir.product.bookmarked")
                .mdi.mdi-cards-heart-outline(ng-if="!$dir.product.bookmarked")

    //- Products
    a(ui-sref="product(product)" ng-if="$dir.productType == 'budget'" dusk="productItem").product-item-inner
        +bookmark_toggle()
        
        .product-image: img(
            ng-src="{{ $dir.productImgSrc }}" 
            alt="{{ $dir.product.alternative_text }}")

        .product-details
            .product-name.product-name-ellipsis(ng-bind="$dir.product.name" dusk="productName")
            .product-organization(ng-bind="$dir.product.organization.name")
            .product-price.text-right(ng-bind="$dir.product.price_locale")

    //- Subsidies
    a(ui-sref="product(product)" ng-if="$dir.productType == 'subsidies'" dusk="productItem").product-item-inner
        +bookmark_toggle()
        
        .product-image
            img(
                ng-src="{{ $dir.productImgSrc }}" 
                alt="{{ $dir.product.alternative_text }}")

            .product-price(ng-if="$dir.product.price_type === 'regular' && $dir.product.price_min == 0") Gratis
            .product-price(
                ng-if="$dir.product.price_type === 'regular' && $dir.product.price_min != 0" 
                ng-bind="$dir.product.price_min | currency_format")
            
            .product-price(
                ng-if="$dir.product.price_type !== 'regular'"
                ng-bind="$dir.product.price_locale")

        .product-details
            .product-name(ng-bind="$dir.product.name" dusk="productName")
            .product-provider(ng-bind="$dir.product.organization.name")