//- Product item
a.product-item(dusk="productItem")
    //- Product photo
    .product-photo: img(
        ng-src="{{ $dir.product.photo.sizes.thumbnail || './assets/img/placeholders/product-thumbnail.png' }}" 
        alt="{{ $dir.product.alternative_text }}")

    //- Product content
    .product-content
        //- Product details
        .product-details
            //- Title
            h2.product-title(ng-bind="$dir.product.name" dusk="productName")

            //- Subtitle
            .product-subtitle(ng-bind="$dir.product.organization.name")

            //- Price
            .product-price(ng-bind="$dir.productPrice")

        //- Actions
        .product-actions
            //- Product bookmark toggle
            .block.block-bookmark-toggle(
                ng-if="$root.auth_user"
                ng-click="$dir.toggleBookmark($event)"
                ng-class="$dir.product.bookmarked ? 'active' : ''"
                aria-label="toevoegen aan verlanglijstje"
                aria-pressed="{{ $dir.product.bookmarked }}")
                    .mdi.mdi-cards-heart