- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

//- File uploader
.block.block-file-uploader
    //- Drop zone
    .uploader-droparea(ng-if="!$dir.readOnly")
        //- Drop zone icon
        .droparea-icon: .mdi.mdi-tray-arrow-up

        //- Drop title and description
        .droparea-title 
            strong Document slepen &amp; neer zetten
            br
            small of

        //- Select file button
        .droparea-button: button.button.button-primary(
            type="button"
            role="button"
            ng-disabled="$dir.multipleSize && $dir.multipleSize <= $dir.files.length"
            ng-click="$dir.selectFile()")
            .mdi.mdi-upload
            | Upload een document 

        //- File requirements
        .droparea-size max. grootte 8Mb
    
    //- Files list
    .uploader-files(ng-if="$dir.files.length > 0")

        //- File item
        .file-item(
            ng-repeat="fileItem in $dir.files" 
            ng-class="{'file-item-uploading': fileItem.uploading}")
            
            //- File item container
            .file-item-container(ng-class="$dir.fileListCompact != 'false' ? 'file-item-container-compact' : ''")
                //- File name
                .file-item-icon: img(
                    ng-src=src_prefix + "assets/img/file-icon-{{ (fileItem.file.name.split('.')[fileItem.file.name.split('.').length - 1]) }}.svg" 
                    alt="")

                //- File name
                .file-item-name(ng-bind="fileItem.file.name")

                //- Progress bar
                .file-item-progress: .file-item-progress-container: progress(max="100" value="{{ fileItem.progress }}")
                
                //- Preview
                .file-item-action(ng-if="fileItem.has_preview")
                    button(ng-click="$dir.previewFile($event, fileItem)" title="Bestand bekijken" role="button" tabindex="0").mdi.mdi-eye-outline

                //- Download
                .file-item-action(ng-if="!fileItem.uploading")
                    button(ng-click="$dir.downloadFile($event, fileItem)" title="Bestand downloaden" role="button" tabindex="0").mdi.mdi-tray-arrow-down

                //- Delete
                .file-item-action(ng-if="!$dir.readOnly")
                    button(ng-click="$dir.removeFile(fileItem)" title="Bestand verwijderen" role="button" tabindex="0").mdi.mdi-close

            //- Validation errors
            .file-item-error: .text-danger(ng-repeat="error in fileItem.error" ng-bind="error")