.select-control
    .select-control-input(
        ng-class="{options : $dir.showOptions}"
        ng-disabled="$dir.disabled || $dir.ngDisabled"
        click-outside="$dir.onClickOutside()")

        label.select-control-search.form-control(
            for="{{ $dir.controlId }}"
            title="{{ $dir.value.raw[$dir.as] || $dir.placeholder }}"
            ng-show="($dir.mode == 'strict' && !$dir.showOptions) || !$dir.searchEnabled" 
            ng-click="$dir.searchOption()"
            ng-disabled="$dir.disabled || $dir.ngDisabled")
            .select-control-search-placeholder(ng-bind="$dir.value.raw[$dir.as] || $dir.placeholder")
            .select-control-icon: .mdi(ng-class="$dir.showOptions ? 'mdi-chevron-up' : 'mdi-chevron-down'")

        .ui-control.ui-control-search-input
            input(
                id="{{ $dir.controlId }}"
                placeholder="{{ $dir.placeholder }}"
                ng-click="$dir.onInputClick()"
                ng-keydown="$dir.searchKeydown($event)"
                ng-show="$dir.searchEnabled && ($dir.mode == 'search' || ($dir.mode == 'strict' && $dir.showOptions))"
                ng-change="$dir.searchInputChanged()"
                ng-model="$dir.filter.q").select-control-search.form-control
            
            .ui-control-clear(ng-if="$dir.filter.q && $dir.showOptions" ng-click="$dir.clear()" aria-label="cancel"): .mdi.mdi-close-circle 
        
        select-control-options(
            ng-if="$dir.showOptions" 
            change="$dir.selectOption(option)" 
            options="$dir.optionsFiltered"
            options-preload-size="{{ optionsPreloadSize }}")