- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');
- var client_key = (qdt_c.platform.env_data.client_key);

head
    meta(charset="UTF-8")
    title(ng-bind="$root.pageTitle") Forus

    //- disable resize on mobiles
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //- fonts
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700" rel="stylesheet")
    
    //- preconnect to api
    link(rel="preconnect" href=qdt_c.platform.env_data.api_url)

    //- libs bundle
    link(rel="stylesheet", href=src_prefix + "assets/dist/bundle/css/bundle.min" + qdt_c.append_assets + ".css")
    
    //- Favicon
    link(rel="shortcut icon", type="image/x-icon", href=src_prefix + "assets/img/favicon.ico")

    //- custom style
    link(rel="stylesheet", href=src_prefix + "assets/css/style.min" + qdt_c.append_assets + ".css")

    <!--[if lte IE 9]>
        style.
            html[ng-cloak] {
                display: block!important;
            }
            ui-view, .ie-hide{
                display: none!important;
            }

            .oldie {
                display: block!important;
            }
    <![endif]-->
    
    if (qdt_c.platform.env_data.html5ModeEnabled)
        base(href=qdt_c.platform.env_data.html5Mode.basePath)

    if (qdt_c.platform.env_data.aws_rum && qdt_c.platform.env_data.aws_rum.id)
        script.
            (function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.getElementsByTagName('script')[0]);})('cwr','#{qdt_c.platform.env_data.aws_rum.id}','1.0.0','eu-west-1','https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js',!{JSON.stringify(qdt_c.platform.env_data.aws_rum.config)})