header.app.app-header(ng-if="$root.auth_user && $root.showAppHeader")
    announcements

    .wrapper.flex-row.relative
        a(ui-sref="home" ng-if="!$root.activeOrganization").header-logo
            img(ng-src="./assets/img/logo.svg").header-logo-img

        .header-organization-switcher(ng-if="$root.activeOrganization" ng-class="{active:$root.showOrganizationsMenu}")
            .organization-preview(ng-click="$root.openOrganizationsMenu($event)")

                img.organization-logo(
                    ng-src="{{ $root.activeOrganization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                .organization-name(ng-bind="$root.activeOrganization.name")
                .organization-switcher-arrow

            .organization-switcher-menu(
                ng-if="$root.showOrganizationsMenu"
                click-outside="$root.hideOrganizationsMenu()")
                
                .organization-switcher-menu-group: .organization-switcher-menu-organizations
                    .organization-switcher-menu-organization(
                        ng-repeat="organization in organizations"
                        ng-click="$root.chooseOrganization(organization)"
                        ng-class="{'active' : organization.id == $root.activeOrganization.id}")
                        img.organization-logo(
                            ng-src="{{ organization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                        .organization-name(ng-bind="organization.name")
                    
                .organization-switcher-separator

                .organization-switcher-menu-group: .organization-switcher-settings
                    .organization-switcher-setting(
                        ng-if="$root.activeOrganization | hasPerm:'manage_organization'"
                        ng-click="$root.organizationEdit($root.activeOrganization)")
                        .em.mdi.mdi-cogs.organization-switcher-setting-icon
                        .organization-switcher-setting-name(translate="organizations.buttons.edit")
                    
                    .organization-switcher-setting(ng-click="$root.organizationCreate()")
                        .em.mdi.mdi-plus-circle.organization-switcher-setting-icon
                        .organization-switcher-setting-name(translate="organizations.buttons.add")
        
        .flex-grow &nbsp;
        
        header-notifications(ng-if="$root.activeOrganization.id" organization-id="{{$root.activeOrganization.id}}")

        .header-auth(ng-if="$root.auth_user")
            .auth-user(ng-click="$root.openUserMenu($event)")
                .auth-user-details
                    .auth-user-name {{ $root.auth_user.email }}
                    .auth-user-role
                        //- span(ng-bind="$root.activeOrganization.name")
                        //- span.auth-user-role-separator(ng-if="$root.activeOrganization.name") •
                        span(ng-bind="{provider: 'Aanbieder', sponsor: 'Sponsor', validator: 'Validator'}[$root.appConfigs.panel_type]")
                
                img(ng-src="{{ $root.activeOrganization ? ($root.activeOrganization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png') : './assets/img/placeholders/organization-thumbnail.png'}} ").auth-user-img
                                
                .auth-user-caret: em(ng-class="$root.userMenuOpened ? 'mdi-chevron-up' : 'mdi-chevron-down'").mdi
                
                .auth-user-menu(ng-if="$root.userMenuOpened" click-outside="$root.hideUserMenu()")
                    a(ui-sref="identity-emails" ng-if="$root.appConfigs.sessions && !$root.activeOrganization").auth-user-menu-item
                        em.mdi.mdi-at
                        | E-mail instellingen
                    
                    a(ui-sref="security-sessions" ng-if="$root.appConfigs.sessions && !$root.activeOrganization" ).auth-user-menu-item
                        em.mdi.mdi-shield-account
                        | Sessies

                    a(ui-sref="preferences-notifications" ng-if="!$root.activeOrganization").auth-user-menu-item
                        em.mdi.mdi-cog-outline
                        | Notificaties

                    .auth-user-menu-item(ng-click="$root.openPinCodePopup()")
                        em.mdi.mdi-cellphone
                        span(translate="topnavbar.buttons.authorize")
                    
                    .auth-user-menu-sep(ng-if="$root.activeOrganization.id")
                    
                    a(ng-click="$root.signOut()").auth-user-menu-item
                        em.mdi.mdi-logout
                        //- translate(translate="topnavbar.buttons.logour")
                        | Uitloggen