header.app.app-header
    .wrapper
        a(ui-sref="home" ng-if="!$root.activeOrganization").header-logo
            img(ng-src="./assets/img/logo.svg").header-logo-img

        .organization-switcher(ng-if="$root.activeOrganization")
            .organization-switcher-preview(
                ng-if="!$ctrl.showOrganizationsMenu"
                ng-click="$ctrl.openOrganizationsMenu($event)")

                img.organization-switcher-organization-logo(
                    ng-src="{{ $root.activeOrganization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                .organization-switcher-organization-name(ng-bind="$root.activeOrganization.name")
                .organization-switcher-arrow

            .organization-switcher-menu(
                ng-if="$ctrl.showOrganizationsMenu"
                click-outside="$ctrl.hideOrganizationsMenu()")
                
                .organization-switcher-menu-organizations
                    .organization-switcher-menu-organization(
                        ng-repeat="organization in organizations"
                        ng-click="chooseOrganization(organization)"
                        ng-class="{'active' : organization.id == $root.activeOrganization.id}")
                        img.organization-switcher-organization-logo(
                            ng-src="{{ organization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")
                        .organization-switcher-organization-name(ng-bind="organization.name")
                    
                .organization-switcher-separator

                .organization-switcher-settings
                    .organization-switcher-setting(
                        ng-if="$root.activeOrganization | hasPerm:'manage_organization'"
                        ng-click="organizationEdit($root.activeOrganization)")
                        .em.mdi.mdi-cogs.organization-switcher-setting-icon
                        .organization-switcher-setting-name(translate="organizations.buttons.edit")
                    
                    .organization-switcher-setting(ng-click="organizationCreate()")
                        .em.mdi.mdi-plus-circle.organization-switcher-setting-icon
                        .organization-switcher-setting-name(translate="organizations.buttons.add")

        .header-auth(ng-if="$root.auth_user")
            .auth-user(ng-click="$ctrl.openUserMenu($event)")
                .auth-user-details
                    .auth-user-name {{ $root.auth_user.email }}
                    .auth-user-role
                        span(ng-bind="$root.activeOrganization.name")
                        span.auth-user-role-separator(ng-if="$root.activeOrganization.name") •
                        span(ng-bind="{provider: 'Aanbieder', sponsor: 'Sponsor', validator: 'Validator'}[appConfigs.panel_type]")
                
                img(ng-src="{{ $root.activeOrganization ? ($root.activeOrganization.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png') : './assets/img/placeholders/organization-thumbnail.png'}} ").auth-user-img
                                
                .auth-user-caret    
                    em(ng-class="$ctrl.userMenuOpened ? 'mdi-chevron-up' : 'mdi-chevron-down'").mdi
                
                .auth-user-menu(ng-if="$ctrl.userMenuOpened" click-outside="$ctrl.hideUserMenu()")
                    //- a(href="#").auth-user-menu-item
                        em.mdi.mdi-account
                        | My profile

                    a(ui-sref="identity-emails" ng-if="!$root.activeOrganization").auth-user-menu-item
                        em.mdi.mdi-at
                        | Email instellingen
                    
                    a(ui-sref="security-sessions" ng-if="appConfigs.sessions && !$root.activeOrganization" ).auth-user-menu-item
                        em.mdi.mdi-shield-account
                        | Sessies

                    a(ui-sref="preferences-notifications" ng-if="!$root.activeOrganization").auth-user-menu-item
                        em.mdi.mdi-cog-outline
                        | Notificaties

                    .auth-user-menu-item(ng-click="$root.openPinCodePopup()")
                        em.mdi.mdi-cellphone
                        span(translate="topnavbar.buttons.authorize")
                    
                    .auth-user-menu-sep(ng-if="$root.activeOrganization.id")
                    
                    a(ng-click="$root.signOut()").auth-user-menu-item
                        em.mdi.mdi-logout
                        //- translate(translate="topnavbar.buttons.logour")
                        | Uitloggen

        //- .notifications(ng-if="$root.auth_user")
            .notifications-icon.mdi.mdi-bell
            .notifications-menu: .notifications-menu-inner
                .arrow-box: .arrow
                .notifications-menu-header
                    | Notifications
                    .notifications-menu-header-link
                        | View all
                        em.mdi.mdi-arrow-right
                .notifications-menu-body.nano
                    .nano-content
                        mixin notification_item(icon, text, date)
                            .notifications-menu-item
                                img(src="./assets/img/note-icons/note-icon-" + icon + ".jpg").notifications-menu-item-icon
                                .notifications-menu-item-text=text
                                .notifications-menu-item-date=date

                        +notification_item('quote', 'Payment succeeded', 'Jan 23, 12:26 AM')
                        +notification_item('quote', 'Payment declined by customer\'s bank The bank returned the decline code do...', 'Jan 23, 12:26 AM')
                        +notification_item('quote', 'Stripe risk evaluation: normal', 'Jan 23, 12:26 AM')
                        +notification_item('quote', 'Lorem ipsum dolor sit amet, consectet...', 'Jan 23, 12:26 AM')
                        +notification_item('quote', 'Lorem ipsum dolor sit amet, consectet...', 'Jan 23, 12:26 AM')
