- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

//- zip
script(
    src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.min.js" 
    integrity="sha512-y3o0Z5TJF1UsKjs/jS2CDkeHN538bWsftxO9nctODL5W40nyXIbs0Pgyu7//icrQY9m6475gLaVr39i/uh/nLA==" 
    crossorigin="anonymous")

//- libs bundle
script(src=src_prefix + "./assets/dist/bundle/js/bundle.min.js")

//- custom script
script(src=src_prefix + "./assets/js/app.min" + qdt_c.append_assets + ".js")

//- google maps
script(
    type="text/javascript" 
    src="https://maps.googleapis.com/maps/api/js?libraries=places&language=nl&key=" + qdt_c.platform.env_data.google_maps_api_key
    async defer)