top-navbar
section.section.section-voucher-details: .wrapper
    .block.block-breadcrumbs.hide-sm
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active(translate="notification_preferences.title_preferences")

    section(ng-class="!!$root.activeOrganization ? 'app app-content' : ''")
        .block.block-profile
            .profile-aside: profile-menu

            .profile-content
                .profile-content-header.clearfix
                    .profile-content-title
                        div.pull-left
                            h1.profile-content-header Notificatievoorkeuren

                p(ng-if="$ctrl.message" ng-bind="$ctrl.message | translate").form-error
                
                .card(ng-if="$ctrl.email_unsubscribed")       
                    .card-header: h2.card-title(translate="notification_preferences.title_emails_turned_on")
                    .card-section
                        .card-heading(translate="{{ 'notification_preferences.subscribe_desc_' + $root.appConfigs.features.communication_type }}" translate-values="{ email: $ctrl.email }")
                        div: button(
                            type="button" 
                            ng-click="$ctrl.enableSubscription()" 
                            i18n="notification_preferences.subscribe"
                            id="enable_subscription").button.button-primary

                .card(ng-if="!$ctrl.email_unsubscribed")
                    .card-header: h2.card-title(translate="notification_preferences.title_emails_turned_of")
                    .card-section
                        .card-heading(translate="{{ 'notification_preferences.unsubscribe_desc' }}")
                        div: button(
                            type="button"
                            ng-click="$ctrl.disableSubscription()"
                            i18n="notification_preferences.unsubscribe"
                            id="disable_subscription").button.button-primary 
                
                .card(ng-if="!$ctrl.email_unsubscribed")
                    .card-header: h2.card-title(translate="notification_preferences.title_email_preferences")
                    .form.block.block-preferences(ng-if="!$ctrl.email_unsubscribed")
                        label(
                            ng-repeat="type in $ctrl.emailPreferences" 
                            for="option_{{ type.key }}"
                            role="checkbox" tabindex="0" aria-checked="{{ type.subscribed }}"
                            ng-click="$ctrl.simulateToggleClick($event, type, !type.subscribed)").preference-option
                            .preference-option-details
                                .card-heading.card-heading-padless(translate="{{ 'notification_preferences.types.' + type.key + '.title' }}")
                                .card-text(translate="{{ 'notification_preferences.types.' + type.key + '.description' }}")
                            .preference-option-input: .form-toggle
                                input(
                                    type="checkbox"
                                    tabindex="-1"
                                    id="option_{{ type.key }}"
                                    ng-change="$ctrl.togglePreferenceOption($event)" 
                                    ng-checked="type.subscribed" 
                                    ng-model="type.subscribed")
                                .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot
                                    em.mdi.mdi-check-bold(ng-if="type.subscribed")
                                    .icon-disabled(ng-if="!type.subscribed")
                
                .card
                    .card-header: h2.card-title(translate="notification_preferences.title_push_preferences")
                    .form.block.block-preferences: label(
                        ng-repeat="type in $ctrl.pushPreferences" 
                        for="option_{{ type.key }}"
                        role="checkbox" tabindex="0" aria-checked="{{ type.subscribed }}"
                        ng-click="$ctrl.simulateToggleClick($event, type, !type.subscribed)").preference-option
                        .preference-option-details
                            .card-heading.card-heading-padless(translate="{{ 'notification_preferences.types.' + type.key + '.title' }}")
                            .card-text(translate="{{ 'notification_preferences.types.' + type.key + '.description' }}")
                        .preference-option-input: .form-toggle
                            input(
                                type="checkbox"
                                tabindex="-1"
                                id="option_{{ type.key }}"
                                ng-change="$ctrl.togglePreferenceOption($event)" 
                                ng-checked="type.subscribed" 
                                ng-model="type.subscribed"
                                aria-hidden="true")
                            .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot
                                em.mdi.mdi-check-bold(ng-if="type.subscribed")
                                .icon-disabled(ng-if="!type.subscribed") 
                                