footer.section.section-footer(id="footer")
    .wrapper
        .block.block-footer: .row
            h2.sr-only Site informatie
            .col.col-md-4(ng-if="description_contact_details_html")
                .block.block-markdown(ng-bind-html="description_contact_details_html")

            .col.col-md-4(ng-if="description_opening_times_html")
                .block.block-markdown(ng-bind-html="description_opening_times_html")

            .col(ng-class="description_opening_times_html?'col-md-3':'col-md-4'")
                .block.block-markdown(ng-if="$root.appConfigs.features.pages.provider")
                    h3 Links
                    nav.footer-nav
                        .footer-nav-item: a(ui-sref="sign-up" target="_self") Aanmelden als aanbieder

            .col.col-md-3
                .block.block-markdown
                    h3 Download de Me-app
                    app-links
                    
                    nav.footer-nav
                        .footer-nav-item
                            include ../../../resources/_webshop-common/assets/img/me-logo.svg
                            a(ui-sref="me-app" target="_blank") Meer informatie over de Me-app
            
    .block.block-copyrights: .wrapper
        .copyrights 
        .links
            .link-item(ng-repeat="pageLink in $dir.pageLinks"): a(
                ui-sref="{{ pageLink.page_type }}"
                target="{{ pageLink.external ? _blank : '_self' }}"
                translate="app_footer.links.{{ pageLink.page_type }}")
            .link-item: a(
                ui-sref="sitemap"
                target="_self"
                translate="app_footer.links.sitemap")