section.section.section-products#products: .wrapper
    a.section-title(
        translate="block_products.header.title"
        ui-sref="products")
    .section-filters(ng-if="!sample && productCategories")
        .row.form
            .col.col-md-4: .form-group
                select(
                    ng-options="category.id as category.name for category in productCategories" 
                    ng-model="filters.product_category_id").form-control.form-control-fancy

            .col.col-md-8: .form-group
                input(
                    type="text" 
                    ng-model="filters.q"
                    placeholder="{{ 'block_products.input.placeholder' | translate }}").form-control.form-control-fancy

    .block.block-products(ng-if="products.data.length > 0")
        .product-item(ng-repeat="product in products.data" ng-class="{discounted:product.old_price}")
            .product-item-inner
                .product-image
                    img(ng-src="{{ product.photo.sizes.small || './assets/img/placeholders/product-small.png' }}")
                .product-details
                    .product-organization
                        span(ng-bind="product.organization.name")
                    .product-name.truncated(ng-bind="product.name")
                    
                    div(ng-if="!$dir.requestProducts")
                        .product-discount
                            | {{ product.old_price == 0 ? 0 : (100 - (product.price / product.old_price) * 100) | to_fixed:0 }}%
                            br
                            | {{ "block_products.labels.discount" | translate }}
                        .product-price
                            small {{ "block_products.labels.old" | translate }} {{ product.old_price | currency_format }}
                            | {{ "block_products.labels.new" | translate }} {{ product.price | currency_format }}
                    
                    div(ng-if="$dir.requestProducts")
                        .product-state-dot(ng-class="'product-state-dot-' + eligibilityStateColors[product.eligibilityState]")
                        .product-btn(
                            ng-if="product.eligibilityState == 'valid'" 
                            ng-click="applyForProduct(product)"): .button.button-default.button-fill VRAAG AAN
                        
                        .product-btn(
                            ng-if="product.eligibilityState == 'missing' || product.eligibilityState == 'partial'" 
                            ui-sref="products-request(product)"): .button.button-primary.button-fill DOE DE CHECK
                        
                        .product-btn(
                            ng-if="product.eligibilityState == 'taken'"): .button.button-disabled.button-fill(disabled) TAKEN

    empty-block(
        title= "{{ 'block_products.labels.title' | translate }}"
        description="{{ 'block_products.labels.subtitle' | translate }}"
        hide-link="true" 
        ng-if="products.data.length == 0")

    paginator-loader(
        ng-if="products.meta" 
        meta="products.meta" 
        filters="filters" 
        filters-timeout-attr="['product_category_id']" 
        on-load-more="onLoadMore(query)" 
        on-reset="onReset(query)")

    .block.block-show-more(ng-if="sample"): a(ui-sref="products" translate="block_products.buttons.more").button.button-primary.button-wide