section.section.section-products#products
    h2.section-title(
        translate="{{ 'block_products.header.title_' + $dir.type }}"
        ui-sref="{{ $dir.type == 'budget' ? 'products($dir.filters)' : 'actions($dir.filters)' }}"
        ng-if="products.data.length != 0")

    products-list(
        ng-if="$dir.products"
        type="$dir.type"
        display="$dir.display"
        products="$dir.products")

    empty-block(
        title= "{{ 'block_products.labels.title' | translate }}"
        description="{{ 'block_products.labels.subtitle' | translate }}"
        svg-icon="reimbursements"
        hide-link="true" 
        ng-if="products.length == 0 && !sample")

    .block.block-show-more(ng-if="$dir.showLoadMore"): a.button.button-primary.button-wide(
        ui-sref="{{ $dir.type == 'budget' ? 'products($dir.filters)' : 'actions($dir.filters)' }}")
        translate(translate="block_products.buttons.more")
        em.mdi.mdi-arrow-right.icon-right