//- Dropdown menu
.block.block-mobile-menu(ng-show="$root.mobileMenuOpened").show-sm
    //- Mobile subitems group
    .mobile-menu-subitems-group
        .mobile-menu-subitems-group-header(ng-click="$dir.showMainMenuGroup = !$dir.showMainMenuGroup") 
            em.mdi(ng-class="'mdi-menu-' + ($dir.showMainMenuGroup ? 'down' : 'right')")
            | Main navigation

        .mobile-menu-subitems(ng-if="$dir.showMainMenuGroup")
            //- Home
            a.mobile-menu-subitem(
                ui-sref="home"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'home'}"
                aria-current="{{ $dir.$state.current.name == 'home' }}" 
                tabindex="0"
                role="link")
                
                em.mdi.mdi-arrow-right
                span(
                    translate="topnavbar.buttons.mobile.dropdown.{{ $root.client_key }}.home"
                    translate-default="{{ 'topnavbar.buttons.mobile.dropdown.home' | translate }}")
  
            //- Funds
            a.mobile-menu-subitem(
                ng-if="$dir.appConfigs.flags.fundsMenu"
                ui-sref="funds"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'funds'}"
                aria-current="{{ $dir.$state.current.name == 'funds' }}" 
                tabindex="0"
                role="link")
                
                em.mdi.mdi-arrow-right
                span(
                    translate="topnavbar.buttons.mobile.dropdown.{{client_key}}.funds"
                    translate-default="{{ 'topnavbar.buttons.mobile.dropdown.funds' | translate }}")

            //- Explanation
            a.mobile-menu-subitem(
                ui-sref="explanation"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'explanation'}"
                aria-current="{{ $dir.$state.current.name == 'explanation' }}" 
                tabindex="0"
                role="link")
                
                em.mdi.mdi-arrow-right
                span(
                    translate="topnavbar.buttons.mobile.dropdown.{{ $root.client_key }}.explanation"
                    translate-default="{{ 'topnavbar.buttons.mobile.dropdown.explanation' | translate }}")

    //- Mobile subitems group
    .mobile-menu-subitems-group
        .mobile-menu-subitems-group-header(ng-click="$dir.showUserMenuGroup = !$dir.showUserMenuGroup")
            em.mdi(ng-class="'mdi-menu-' + ($dir.showUserMenuGroup ? 'down' : 'right')")
            | User navigation

        .mobile-menu-subitems(ng-if="$dir.showUserMenuGroup")
            //- Log in Me-App
            .mobile-menu-subitem(
                ng-if="$root.auth_user"
                ng-click="$dir.openPinCodePopup()"
                tabindex="0"
                role="button")
                
                em.mdi.mdi-cellphone
                span(
                    translate="topnavbar.buttons.mobile.dropdown.{{ $root.client_key }}.authorize"
                    translate-default="{{ 'topnavbar.buttons.mobile.dropdown.authorize' | translate }}")

            //- Vouchers
            a.mobile-menu-subitem(
                ng-if="$root.auth_user && $dir.vouchers.length"
                ui-sref="vouchers"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'vouchers'}"
                aria-current="{{ $dir.$state.current.name == 'vouchers' }}" 
                tabindex="0"
                role="link")
                
                em.mdi.mdi-ticket-percent-outline
                span(
                    translate="topnavbar.buttons.mobile.dropdown.{{ $root.client_key }}.vouchers"
                    translate-default="{{ 'topnavbar.buttons.mobile.dropdown.vouchers' | translate }}")

            //- Reimbursements
            a.mobile-menu-subitem(
                ng-if="$root.auth_user && $dir.appConfigs.features.has_reimbursements"
                ui-sref="reimbursements"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'reimbursements'}"
                aria-current="{{ $dir.$state.current.name == 'reimbursements' }}" 
                tabindex="0"
                role="link")
                
                em.mdi.mdi-receipt-outline
                span(translate="topnavbar.buttons.mobile.dropdown.reimbursements")

            //- Reservations
            a.mobile-menu-subitem(
                ng-if="$root.auth_user"
                ui-sref="reservations"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'reservations'}"
                aria-current="{{ $dir.$state.current.name == 'reservations' }}" 
                tabindex="0"
                role="link")

                em.mdi.mdi-calendar-outline
                span(translate="topnavbar.buttons.mobile.dropdown.reservations")
            
            //- Notifications
            a.mobile-menu-subitem(
                ng-if="$root.auth_user"
                ui-sref="notifications"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'notifications'}"
                aria-current="{{ $dir.$state.current.name == 'notifications' }}" 
                tabindex="0"
                role="link") 

                em.mdi.mdi-bell-ring-outline
                span(translate="topnavbar.buttons.mobile.dropdown.notifications")

            //- Notification preferences
            a.mobile-menu-subitem(
                ng-if="$root.auth_user"
                ui-sref="preferences-notifications"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'preferences-notifications' }"
                aria-current="{{ $dir.$state.current.name == 'preferences-notifications' }}" 
                tabindex="0"
                role="link")

                em.mdi.mdi-cog-outline
                span(translate="topnavbar.buttons.mobile.dropdown.preferences_notifications")
            
            //- Identity emails
            a.mobile-menu-subitem(
                ng-if="$root.auth_user"
                ui-sref="identity-emails"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'identity-emails'}"
                aria-current="{{ $dir.$state.current.name == 'identity-emails' }}" 
                tabindex="0"
                role="link")

                em.mdi.mdi-email-outline
                span(translate="topnavbar.buttons.mobile.dropdown.preferences_emails")

            //- Security
            a.mobile-menu-subitem(
                ng-if="$root.appConfigs.flags.show2FAMenu || $root.auth_2fa.required" 
                ui-sref="security-2fa"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'security-sessions'}"
                aria-current="{{ $dir.$state.current.name == 'security-sessions' }}" 
                tabindex="0"
                role="link")

                em.mdi.mdi-security
                span(translate="topnavbar.buttons.mobile.dropdown.security")

            //- Sessions
            a.mobile-menu-subitem(
                ng-if="$root.auth_user && $dir.appConfigs.sessions"
                ui-sref="security-sessions"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'security-sessions'}"
                aria-current="{{ $dir.$state.current.name == 'security-sessions' }}" 
                tabindex="0"
                role="link")
                
                em.mdi.mdi-shield-account-outline
                span(translate="topnavbar.buttons.mobile.dropdown.sessions")

            //- Records
            a.mobile-menu-subitem(
                ng-if="$root.auth_user && $dir.appConfigs.features.records.list"
                ui-sref="records"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'records'}"
                aria-current="{{ $dir.$state.current.name == 'records' }}" 
                tabindex="0"
                role="link")
                
                em.mdi.mdi-format-list-bulleted
                span(translate="topnavbar.buttons.mobile.dropdown.records")

            //- Favourite products
            a.mobile-menu-subitem(
                ng-if="$root.auth_user"
                ui-sref="bookmarked-products"
                ng-click="$dir.hideMobileMenu()"
                ng-class="{active: $dir.$state.current.name == 'bookmarked-products'}"
                aria-current="{{ $dir.$state.current.name == 'bookmarked-products' }}" 
                tabindex="0"
                role="link")
                
                em.mdi.mdi-cards-heart-outline
                span(
                    translate="topnavbar.buttons.mobile.dropdown.{{ $root.client_key }}.bookmarked_products"
                    translate-default="{{ 'topnavbar.buttons.mobile.dropdown.bookmarked_products' | translate }}")

            a.mobile-menu-subitem(
                ng-if="$root.auth_user"
                ng-click="$root.signOut()" 
                role="button" 
                aria-label="{{ 'topnavbar.buttons.logout' | translate }}").show-sm

                em.mdi.mdi-logout
                span(
                    translate="topnavbar.buttons.logout")

            a.mobile-menu-subitem(ng-if="!$root.auth_user")
                button.button.button-primary(
                    ng-click="$dir.startFundRequest()" 
                    role="button" 
                    aria-label="login" 
                    id="login_mobile").button-sm

                    include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-apply.svg
                    translate(translate="topnavbar.buttons.login")     