.block.block-sticky-footer.show-sm(ng-if="!$root.showSearchBox" tabindex="0")
    ul.sticky-footer-list
        //- Products
        li(
            ng-if="$dir.appConfigs.features.has_budget_funds && ($dir.appConfigs.flags.productsMenu || $root.auth_user)"
            ui-sref="products" ui-sref-active="active"
            role="none")
            a.sticky-footer-item(ui-sref="products" aria-current="{{ $dir.$state.current.name == 'products' }}" role="link" tabindex="0")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-products2.svg
                span(translate="topnavbar.buttons.products")

        //- Subsidies
        li(
            ng-if="$dir.appConfigs.features.has_subsidy_funds && ($dir.appConfigs.flags.productsMenu || $root.auth_user)" 
            ui-sref="actions" 
            ui-sref-active="active"
            role="none")
            a.sticky-footer-item(ui-sref="actions" aria-current="{{ $dir.$state.current.name == 'actions' }}" role="link" tabindex="0")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-products2.svg
                span(translate="topnavbar.buttons.subsidies")

        //- Providers
        li(
            ui-sref="providers"
            ui-sref-active="active"
            role="none")
            a.sticky-footer-item(ui-sref="providers" aria-current="{{ $dir.$state.current.name == 'providers' }}" role="link" tabindex="0")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-providers.svg
                span(translate="topnavbar.buttons.providers")

        //- Start fund request
        li(
            ng-if="!$dir.vouchers.length || !$root.auth_user" 
            ng-click="$dir.startFundRequest()" 
            ui-sref-active="active"
            role="none")
            a.sticky-footer-item(ng-click="$dir.startFundRequest()" aria-current="{{ $dir.$state.current.name == 'start' }}" tabindex="0" role="link")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-start-request.svg
                span(
                    translate="topnavbar.buttons.{{ $root.client_key }}.activate" 
                    translate-default="{{ 'topnavbar.buttons.activate' | translate }}" 
                    tabindex="0"
                    role="link")

        //- Vouchers
        li(
            ng-if="$dir.vouchers.length && $root.auth_user"
            ui-sref="vouchers"
            ui-sref-active="active"
            role="none")

            a.sticky-footer-item-wrapper(ui-sref="vouchers" aria-current="{{ $dir.$state.current.name == 'vouchers' }}" tabindex="0" role="link")
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-my-vouchers2.svg
                span(
                    translate="topnavbar.buttons.mobile.{{ $root.client_key }}.voucher"
                    translate-default="{{ 'topnavbar.buttons.mobile.voucher' | translate }}")

        //- Dropdown menu
        li(ng-if="$root.auth_user").sticky-footer-dropdown
            .sticky-footer-item-wrapper(ng-click="$dir.openProfileMenu($event)" role="button" tabindex="0")
                em.mdi.mdi-dots-horizontal
                span(translate="topnavbar.buttons.mobile.more")

            .sticky-footer-dropwdown-subitems(ng-if="$dir.profileMenuOpened" click-outside="$dir.hideProfileMenu()")
                //- Dropdown title
                .sticky-footer-dropwdown-info
                    .sticky-footer-dropwdown-title Meer

                //- Vouchers
                a.sticky-footer-dropwdown-subitem(
                    ng-if="$dir.vouchers.length"
                    ui-sref="vouchers"
                    ng-click="$dir.hideProfileMenu()"
                    ng-class="{active: $dir.$state.current.name == 'vouchers'}"
                    aria-current="{{ $dir.$state.current.name == 'vouchers' }}" 
                    tabindex="0"
                    role="link")
                    
                    em.mdi.mdi-ticket-percent-outline
                    span(
                        translate="topnavbar.buttons.mobile.dropdown.{{ $root.client_key }}.vouchers"
                        translate-default="{{ 'topnavbar.buttons.mobile.dropdown.vouchers' | translate }}")                        )

                //- Reimbursements
                a.sticky-footer-dropwdown-subitem(
                    ng-if="$dir.appConfigs.features.has_reimbursements"
                    ui-sref="reimbursements"
                    ng-click="$dir.hideProfileMenu()"
                    ng-class="{active: $dir.$state.current.name == 'reimbursements'}"
                    aria-current="{{ $dir.$state.current.name == 'reimbursements' }}" 
                    tabindex="0"
                    role="link")
                    
                    em.mdi.mdi-receipt-outline
                    span(translate="topnavbar.buttons.mobile.dropdown.reimbursements")

                //- Start fund request
                .sticky-footer-dropwdown-subitem(
                    ng-if="!$dir.vouchers.length"
                    ng-click="$dir.startFundRequest()"
                    ng-class="{active: $dir.$state.current.name == 'start'}"
                    aria-current="{{ $dir.$state.current.name == 'start' }}" 
                    tabindex="0"
                    role="button")
                    
                    em.mdi.mdi-alarm-plus
                    span(
                        translate="topnavbar.buttons.{{ $root.client_key }}.activate"
                        translate-default="{{ 'topnavbar.buttons.activate' | translate }}")
                
                //- Reservations
                a.sticky-footer-dropwdown-subitem(
                    ui-sref="reservations"
                    ng-click="$dir.hideProfileMenu()"
                    ng-class="{active: $dir.$state.current.name == 'reservations'}"
                    aria-current="{{ $dir.$state.current.name == 'reservations' }}" 
                    tabindex="0"
                    role="link")

                    em.mdi.mdi-calendar-outline
                    span(translate="topnavbar.buttons.mobile.dropdown.reservations")
                
                //- Notifications
                a.sticky-footer-dropwdown-subitem(
                    ui-sref="notifications"
                    ng-click="$dir.hideProfileMenu()"
                    ng-class="{active: $dir.$state.current.name == 'notifications'}"
                    aria-current="{{ $dir.$state.current.name == 'notifications' }}" 
                    tabindex="0"
                    role="link") 

                    em.mdi.mdi-bell-ring-outline
                    span(translate="topnavbar.buttons.mobile.dropdown.notifications")

                //- Notification preferences
                a.sticky-footer-dropwdown-subitem(
                    ui-sref="preferences-notifications"
                    ng-click="$dir.hideProfileMenu()"
                    ng-class="{active: $dir.$state.current.name == 'preferences-notifications' }"
                    aria-current="{{ $dir.$state.current.name == 'preferences-notifications' }}" 
                    tabindex="0"
                    role="link")

                    em.mdi.mdi-cog-outline
                    span(translate="topnavbar.buttons.mobile.dropdown.preferences_notifications")
                
                //- Identity emails
                a.sticky-footer-dropwdown-subitem(
                    ui-sref="identity-emails"
                    ng-click="$dir.hideProfileMenu()"
                    ng-class="{active: $dir.$state.current.name == 'identity-emails'}"
                    aria-current="{{ $dir.$state.current.name == 'identity-emails' }}" 
                    tabindex="0"
                    role="link")

                    em.mdi.mdi-email-outline
                    span(translate="topnavbar.buttons.mobile.dropdown.preferences_emails")

                //- Funds
                a.sticky-footer-dropwdown-subitem(
                    ng-if="$dir.appConfigs.flags.fundsMenu"
                    ui-sref="funds"
                    ng-click="$dir.hideProfileMenu()"
                    ng-class="{active: $dir.$state.current.name == 'funds'}"
                    aria-current="{{ $dir.$state.current.name == 'funds' }}" 
                    tabindex="0"
                    role="link")
                    
                    em.mdi.mdi-cash-multiple
                    span(
                        translate="topnavbar.buttons.mobile.dropdown.{{client_key}}.funds"
                        translate-default="{{ 'topnavbar.buttons.mobile.dropdown.funds' | translate }}")

                //- Security
                .sticky-footer-dropwdown-subitem(
                    ui-sref="security-2fa"
                    ng-click="$dir.hideProfileMenu()"
                    ng-if="$root.appConfigs.flags.show2FAMenu || $root.auth_2fa.required" 
                    ng-class="{active: $dir.$state.current.name == 'security-sessions'}"
                    aria-current="{{ $dir.$state.current.name == 'security-sessions' }}" 
                    tabindex="0"
                    role="link")

                    em.mdi.mdi-security
                    span(translate="topnavbar.buttons.mobile.dropdown.security")

                //- Sessions
                a.sticky-footer-dropwdown-subitem(
                    ng-if="$dir.appConfigs.sessions"
                    ui-sref="security-sessions"
                    ng-click="$dir.hideProfileMenu()"
                    ng-class="{active: $dir.$state.current.name == 'security-sessions'}"
                    aria-current="{{ $dir.$state.current.name == 'security-sessions' }}" 
                    tabindex="0"
                    role="link")
                    
                    em.mdi.mdi-shield-account-outline
                    span(translate="topnavbar.buttons.mobile.dropdown.sessions")

                //- Records
                a.sticky-footer-dropwdown-subitem(
                    ng-if="$dir.appConfigs.features.records.list"
                    ui-sref="records"
                    ng-click="$dir.hideProfileMenu()"
                    ng-class="{active: $dir.$state.current.name == 'records'}"
                    aria-current="{{ $dir.$state.current.name == 'records' }}" 
                    tabindex="0"
                    role="link")
                    
                    em.mdi.mdi-format-list-bulleted
                    span(translate="topnavbar.buttons.mobile.dropdown.records")