.block.block-pincode
    input(
        type="{{ type }}" 
        autocorrect="disabled" 
        autocomplete="off" 
        autocapitalize="off" 
        spellcheck="false"
        aria-label="invulveld").hidden-input

    .pincode-number(
        role="textbox"
        contenteditable="true"
        placeholder="pincode digit (0-9)"
        aria-required="true"
        aria-valuenow="{{ code !== 'active' ? code : '_' }}"
        ng-repeat="code in chars track by $index" 
        ng-class=`{
            'pincode-number-divider': code=='split', 
            'pincode-number-block-end': (chars.length - 1 == $index) || chars[$index + 1] == 'split', 
            'pincode-number-block-start': ($index == 0) || chars[$index - 1] == 'split',
            'active': code=='active'}`
        ng-bind="code != 'split' ? (code != 'active' ? code : '_') : ''" )