.block(ng-class="$dir.blockClass")
    product-list-item(
        ng-if="$dir.display == 'list'"
        ng-repeat="product in $dir.products" 
        product="product"
        product-type="$dir.type"
        ui-sref="product(product)")

    product-list-item(
        ng-if="$dir.display == 'grid'"
        ng-repeat="product in $dir.products" 
        product="product"
        product-type="$dir.type"
        ui-sref="product(product)"
        template="product-item-grid")