.profile-menu
    a(ui-sref="vouchers" ui-sref-active="active" role="button").profile-menu-item.hide-sm
        translate(translate="profile_menu.buttons.vouchers")
        em.mdi.mdi-arrow-right
    
    a(ui-sref="bookmarked-products" ui-sref-active="active" role="button").profile-menu-item.hide-sm
        translate(translate="profile_menu.buttons.bookmarks")
        em.mdi.mdi-arrow-right

    a(ui-sref="reservations" ui-sref-active="active" role="button").profile-menu-item
        translate(translate="profile_menu.buttons.reservations")
        em.mdi.mdi-arrow-right

    a(
        ui-sref="reimbursements" 
        ui-sref-active="active" 
        role="button" 
        ng-if="$dir.appConfigs.features.has_reimbursements" 
        dusk="menuBtnReimbursements").profile-menu-item

        translate(translate="profile_menu.buttons.reimbursements")
        em.mdi.mdi-arrow-right

    a(ui-sref="funds" ui-sref-active="active" ng-if="$dir.appConfigs.flags.fundsMenu" role="button").profile-menu-item.show-sm
        translate(
            translate="funds.buttons.{{ $dir.appConfigs.client_key }}.start_request" 
            translate-default="{{ 'funds.buttons.start_request' | translate }}")
        em.mdi.mdi-arrow-right

    a(ui-sref="records" ui-sref-active="active" ng-if="$dir.appConfigs.features.records.list" role="button").profile-menu-item 
        translate(translate="profile_menu.buttons.records")
        em.mdi.mdi-arrow-right

    a(ui-sref="notifications" ui-sref-active="active" role="button").profile-menu-item 
        translate(translate="profile_menu.buttons.notifications")
        em.mdi.mdi-arrow-right

    a(ui-sref="preferences-notifications" ui-sref-active="active" role="button").profile-menu-item 
        translate(translate="profile_menu.buttons.notification_preferences")
        em.mdi.mdi-arrow-right

    a(ui-sref="security-sessions" ui-sref-active="active" ng-if="$dir.appConfigs.sessions" role="button").profile-menu-item
        translate(translate="profile_menu.buttons.sessions")
        em.mdi.mdi-arrow-right

    a(ui-sref="identity-emails" ui-sref-active="active" role="button").profile-menu-item 
        translate(translate="profile_menu.buttons.email_settings")
        em.mdi.mdi-arrow-right

    a(ui-sref="security-2fa" ui-sref-active="active" role="button").profile-menu-item 
        translate(translate="profile_menu.buttons.security")
        em.mdi.mdi-arrow-right