.reservation-item(
    dusk="reservationItem{{ $dir.reservation.id }}"
    ui-sref="reservation-show({id: $dir.reservation.id})")
    .reservation-item-body
        .reservation-image: img(
            ng-src="{{ $dir.media.sizes.small || $dir.media.sizes.thumbnail || './assets/img/placeholders/product-small.png' }}"
            alt="")

        .reservation-content
            mixin cancelButton()
                button.button.button-light.button-xs(
                    ng-if="$dir.reservation.cancelable"
                    dusk="btnCancelReservation"
                    type="button"
                    ng-click="$dir.cancelReservation($event, $dir.reservation)")
                    em.mdi.mdi-trash-can-outline
                    | {{ "reservation.labels.cancel" | translate }}

            .reservation-section
                .reservation-section-column
                    .reservation-name(role="heading" aria-level="2"): a(
                        ng-click="$dir.goToProduct($event)"
                        dusk="reservationProduct"
                        role="link"
                        ng-bind="$dir.product.name"
                        tabindex="0")

                    a.reservation-organization(
                        ng-click="$dir.goToProvider($event)"
                        ng-bind="$dir.product.organization.name"
                        role="link"
                        tabindex="0")

                .reservation-section-column
                    .reservation-overview
                        .reservation-overview-status
                            .label.label-default-outline.nowrap(
                                ng-if="$dir.reservation.state === 'waiting' && $dir.stateData.expiresIn")
                                span.label-blink.label-blink-primary(aria-hidden="true")
                                span.label-text Nog {{ $dir.stateData.expiresIn }} minuten

                            .label(
                                ng-class="'label-' + $dir.stateData.stateClass"
                                dusk="{{ $dir.stateData.stateDusk }}"
                                ng-bind="$dir.stateData.stateText")

                        .reservation-overview-item.hidden-xs.hidden-sm
                            .reservation-overview-label(translate="reservation.labels.code")
                            .reservation-overview-value(ng-bind="'#' + $dir.reservation.code" dusk="reservationCode")

            .reservation-section
                .reservation-section-row
                    .reservation-value-list
                        .reservation-value-item(ng-if="$dir.reservation.amount_extra == 0")
                            .reservation-value-title Productprijs
                            .reservation-value(ng-bind="$dir.reservation.price_locale")

                        .reservation-value-item(ng-if="$dir.reservation.amount_extra > 0")
                            .reservation-value-title Productprijs
                            .reservation-value(ng-bind="$dir.reservation.price_locale")

                        .reservation-value-item(ng-if="$dir.reservation.amount_extra > 0")
                            .reservation-value-title Zelf betaald
                            .reservation-value(ng-bind="$dir.reservation.amount_extra_locale")

                .reservation-section-row
                    .reservation-actions
                        .reservation-action(ng-if="$dir.reservation.amount_extra > 0 && !$dir.reservation.canceled")
                            button.button.button-text.button-xs.hidden-xs.hidden-sm(
                                type="button"
                                ng-click="$dir.showExtraPaymentDetails($event)")
                                | {{ $dir.showExtraDetails ? 'Verberg alle details' : 'Toon alle details' }}
                                em.mdi.icon-right(ng-class="$dir.showExtraDetails ? 'mdi-chevron-up' : 'mdi-chevron-down'")

                            +cancelButton()

                            button.button.button-dark.button-xs(
                                ng-if="$dir.reservation.state === 'waiting' && $dir.reservation.extra_payment_expires_in > 0"
                                type="button"
                                ng-click="$dir.payExtraReservation($event)")
                                em.mdi.mdi-credit-card-outline.icon-start
                                | Ga door naar betalen

                        .reservation-action(ng-if="$dir.reservation.amount_extra == 0")
                            +cancelButton()

                    .reservation-overview(ng-if="!$dir.reservation.expired && $dir.reservation.state === 'rejected'")
                        .reservation-overview-item
                            .reservation-overview-label(translate="reservation.labels.rejected_at")
                            .reservation-overview-value(ng-bind="$dir.reservation.rejected_at_locale")

                    .reservation-overview(ng-if="!$dir.reservation.expired && $dir.reservation.canceled")
                        .reservation-overview-item
                            .reservation-overview-label(translate="reservation.labels.canceled_at")
                            .reservation-overview-value(ng-bind="$dir.reservation.canceled_at_locale")

                    .reservation-overview(ng-if="$dir.reservation.expired")
                        .reservation-overview-item
                            .reservation-overview-label(translate="reservation.labels.expired_at")
                            .reservation-overview-value(ng-bind="$dir.reservation.expire_at_locale")

    .reservation-details-toggle
        .reservation-overview: .reservation-overview-item
            .reservation-overview-label(translate="reservation.labels.code")
            .reservation-overview-value(ng-bind="'#' + $dir.reservation.code" dusk="reservationCode")

        button.button.button-text.button-xs(
            type="button"
            ng-click="$dir.showExtraPaymentDetails($event)")
            | {{ $dir.showExtraDetails ? 'Verberg alle details' : 'Toon alle details' }}
            em.mdi.icon-right(ng-class="$dir.showExtraDetails ? 'mdi-chevron-up' : 'mdi-chevron-down'")

    .reservation-details(ng-if="$dir.showExtraDetails")
        .reservation-details-pane
            .reservation-details-contant(ng-if="$dir.reservation.amount_extra > 0 && !$dir.reservation.canceled && $dir.showExtraDetails")
                ul.reservation-details-list
                    li.reservation-details-item
                        .reservation-details-item-label Bijbetaald via bank overschrijving
                        .reservation-details-item-value(ng-bind="$dir.reservation.amount_extra_locale")
                    li.reservation-details-item
                        .reservation-details-item-label Betaald vanaf tegoed
                        .reservation-details-item-value(ng-bind="$dir.reservation.amount_locale")
                    li.reservation-details-item
                        .reservation-details-item-label Volledige productprijs
                        .reservation-details-item-value(ng-bind="$dir.reservation.price_locale")

                a.reservation-details-view-all(ui-sref="reservation-show({id: $dir.reservation.id})")
                    | Bekijk all details
                    em.mdi.mdi-chevron-right

    .reservation-item-footer(ng-if="$dir.reservation.state === 'waiting' && $dir.stateData.expiresIn")
        | Houd er rekening mee dat er nog #[strong {{ $dir.stateData.expiresIn }} minuten] over zijn 
        | om de bijbetaling uit te voeren. Anders zal de reservering automatisch worden geannuleerd.