.reservation-item
    .reservation-image: img(
        ng-src="{{ $dir.media.sizes.small || $dir.media.sizes.thumbnail || './assets/img/placeholders/product-small.png' }}" 
        alt="{{ $dir.product.name }}")

    .reservation-details
        .reservation-name(ng-bind="$dir.product.name") 
        .reservation-organization(ng-bind="$dir.product.organization.name")
        .reservation-value(ng-bind="$dir.reservation.price_locale")

    //- reservation pending
    .reservation-overview(ng-if="!$dir.reservation.expired && $dir.reservation.state === 'pending'")
        .reservation-overview-status: .label.label-warning.label-round In afwachting

        .reservation-overview-item
            .reservation-overview-label Reserveringsnummer:
            .reservation-overview-value(ng-bind="'#' + $dir.reservation.code")

        .reservation-overview-item: .reservation-overview-link(
            ng-click="$dir.cancelReservation($dir.reservation)") Reservering annuleren

    //- reservation accepted
    .reservation-overview(ng-if="!$dir.reservation.expired && $dir.reservation.state === 'accepted'")
        .reservation-overview-status: .label.label-success.label-round Geaccepteerd

        .reservation-overview-item
            .reservation-overview-label Reserveringsnummer:
            .reservation-overview-value(ng-bind="'#' + $dir.reservation.code")

        .reservation-overview-item: .reservation-overview-link(
            ng-click="$dir.cancelReservation($dir.reservation)") Wilt u annuleren?

    //- reservation rejected
    .reservation-overview(ng-if="!$dir.reservation.expired && $dir.reservation.state === 'rejected'")
        .reservation-overview-status: .label.label-default.label-round Geannuleerd

        .reservation-overview-item
            .reservation-overview-label Reserveringsnummer:
            .reservation-overview-value(ng-bind="'#' + $dir.reservation.code")

        .reservation-overview-item
            .reservation-overview-label Geannuleerd op:
            .reservation-overview-value(ng-bind="$dir.reservation.rejected_at_locale")

    //- reservation refunded
    .reservation-overview(ng-if="!$dir.reservation.expired && $dir.reservation.state === 'canceled'")
        .reservation-overview-status: .label.label-default.label-round Refunded

        .reservation-overview-item
            .reservation-overview-label Reserveringsnummer:
            .reservation-overview-value(ng-bind="'#' + $dir.reservation.code")

        .reservation-overview-item
            .reservation-overview-label Refunded at:
            .reservation-overview-value(ng-bind="$dir.reservation.canceled_at_locale")

    //- reservation expired
    .reservation-overview(ng-if="$dir.reservation.expired")
        .reservation-overview-status: .label.label-danger.label-round Verlopen

        .reservation-overview-item
            .reservation-overview-label Reserveringsnummer:
            .reservation-overview-value(ng-bind="'#' + $dir.reservation.code")

        .reservation-overview-item
            .reservation-overview-label Verlopen op:
            .reservation-overview-value(ng-bind="$dir.reservation.expire_at_locale")

        .reservation-overview-item: .reservation-overview-link(
            ng-click="$dir.cancelReservation($dir.reservation)") Reservering annuleren