nav.block.block-navbar(ng-class='{"scrolled" : $ctrl.hideOnScroll && !$ctrl.visible}')
    .navbar-inner.wrapper   
        a.button(
            ui-sref="explanation"
            target="{{ $root.appConfigs.features.pages.explanation.external ? '_blank' : '_self' }}"
            ui-sref-active="active").show-sm
                include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-info.svg
                div(translate="topnavbar.items.explanation")

        a(ui-sref="home").navbar-logo.show-sm
            img(ng-src="{{ './assets/img/' + $root.appConfigs.flags.secondLogo }}" ng-if="$root.appConfigs.flags.secondLogo").second-logo
            img(ng-src="{{ './assets/img/logo-normal' + cfg.logoExtension }}")
            img(ng-src="{{ './assets/img/logo-hover' + cfg.logoExtension }}").hover

        .block.block-auth.show-sm
            .auth-in(ng-if="$root.auth_user").show-sm
                button.button.button-mobile(ng-click="$root.signOut()" role="button" aria-label="sign_out")
                    include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-sign-out.svg
                    div(translate="topnavbar.buttons.logout")

            .auth-out(ng-if="!$root.auth_user" id="login_mobile")                
                button.button.button-mobile(ng-click="openAuthPopup()" role="button" aria-label="login").show-sm
                    include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-my-profile2.svg
                    div(translate="topnavbar.buttons.login")
        
        .navbar-list#primary-menu(ng-class="mobileMenu?'navbar-list-show':''").hide-sm
            .navbar-item-wrapper
                a.navbar-item(
                    ui-sref="home"
                    ui-sref-active="active"
                    translate="topnavbar.items.home")

            .navbar-item-wrapper(ng-if="$root.appConfigs.flags.fundsMenu && ($root.auth_user || $root.appConfigs.flags.fundsMenuIfLoggedOut)")
                a.navbar-item(
                    ui-sref="funds" 
                    ui-sref-active="active"
                    translate="topnavbar.items.{{ $root.appConfigs.client_key }}.funds"
                    translate-default="{{ 'topnavbar.items.funds' | translate }}")

            .navbar-item-wrapper(
                ng-if="$root.appConfigs.features.has_budget_funds && $root.appConfigs.features.products.list && ($root.appConfigs.flags.productsMenu || $root.auth_user)")
                a.navbar-item(
                    ui-sref="products" 
                    ui-sref-active="active"
                    ng-bind="'topnavbar.items.products' | translate"
                    id="products_page")
            
            .navbar-item-wrapper(
                ng-if="$root.appConfigs.features.has_subsidy_funds && $root.appConfigs.features.products.list && ($root.appConfigs.flags.productsMenu || $root.auth_user)")
                a.navbar-item(
                    ui-sref="actions" 
                    ui-sref-active="active"
                    ng-bind="'topnavbar.items.subsidies' | translate"
                    id="actions_page")
            
            .navbar-item-wrapper(ng-if="$root.appConfigs.flags.providersMenu")
                a.navbar-item(
                    id="providers_page"
                    ui-sref="providers"
                    ui-sref-active="active"
                    ng-bind="'topnavbar.items.providers' | translate")

            .navbar-item-wrapper
                a.navbar-item(
                    ui-sref="explanation"
                    ui-sref-active="active"
                    target="{{ $root.appConfigs.features.pages.explanation.external ? '_blank' : '_self' }}"
                    ng-bind="'topnavbar.items.explanation' | translate")

    .block.block-subnav
        .subnav-inner.wrapper   
            a(ui-sref="home").navbar-logo.hide-sm
                img(
                    ng-src="{{ './assets/img/' + $root.appConfigs.flags.secondLogo }}" 
                    ng-if="$root.appConfigs.flags.secondLogo" 
                    alt="{{$root.appConfigs.features.implementation_name}} alternatief logo").second-logo

                img(
                    ng-src="{{ './assets/img/logo-normal' + cfg.logoExtension }}" 
                    alt="{{$root.appConfigs.features.implementation_name}}")

            top-navbar-search

            .block.flex.hide-sm
                .block.block-auth
                    button.button.button-default(ng-if="!$root.auth_user" ng-click="openAuthPopup()" role="button" aria-label="login").hide-sm
                        include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-profile.svg
                        span(translate="topnavbar.buttons.login")
                        
                    button.button.button-primary(ng-if="!$root.auth_user" ng-click="startFundRequest()" role="button" aria-label="start_fund_request")
                        include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-apply.svg
                        span(translate="home.header.{{ $root.client_key }}.button" translate-default="{{ 'home.header.button' | translate }}" id="start_modal")

                    a(ng-if="$root.auth_user" ui-sref="vouchers" id="vouchers").button.button-primary
                            em.mdi.mdi-ticket-confirmation
                            span(translate="topnavbar.buttons.voucher") 

                    .auth-in(ng-if="$root.auth_user").hide-sm
                        .auth-user
                            .auth-user-details  
                                .auth-user-email(ng-bind="$root.auth_user.email" ng-click="$ctrl.openUserMenu($event)") 
                                button.auth-user-logout(ng-click="$root.signOut($event, true)")
                                    em.mdi.mdi-logout
                                    span(translate="topnavbar.buttons.logout")

                            .auth-user-avatar(ng-click="$ctrl.openUserMenu($event)")
                                div
                                include ../../../resources/_webshop-common/assets/img/identity-avatar.svg
                            button.auth-user-caret(ng-click="$ctrl.openUserMenu($event)" id="user_menu" aria-expanded="{{$ctrl.userMenuOpened}}")
                                em(ng-class="$ctrl.userMenuOpened ? 'mdi-chevron-up' : 'mdi-chevron-down'").mdi

                            .auth-user-menu.hide-sm(
                                ng-class="{active: $ctrl.userMenuOpened}"
                                ng-if="$ctrl.userMenuOpened"
                                click-outside="$ctrl.hideUserMenu()")
                                .triangle
                                .inner(prevent-propagation)
                                    .auth-user-menu-item(
                                        ng-click="startFundRequest()" 
                                        id="open_activation_code_popup"
                                        role="link")
                                        img(src="./assets/img/icon-menu/icon-menu-my-vouchers.svg")
                                        span(translate="topnavbar.buttons.activate_{{ $root.client_key }}" translate-default="{{ 'topnavbar.buttons.activate' | translate }}")

                                    a.auth-user-menu-item(
                                        ng-click="openPinCodePopup()" 
                                        id="open_pincode_popup"
                                        role="link")
                                        em.mdi.mdi-cellphone
                                        span(translate="topnavbar.buttons.authorize")
                                        
                                    a.auth-user-menu-item(
                                        ng-if="$root.appConfigs.sessions" 
                                        ui-sref="security-sessions"
                                        role="link")
                                        em.mdi.mdi-shield-account
                                        | Sessies
                                    
                                    a.auth-user-menu-item( 
                                        ui-sref="notifications" 
                                        ui-sref-active="active"
                                        role="link")
                                        em.mdi.mdi-bell-outline
                                        span Notificaties
                                        
                                    a.auth-user-menu-item(ui-sref="preferences-notifications" role="link" id="notification_preferences")
                                        em.mdi.mdi-cog-outline
                                        translate(translate="notification_preferences.title_preferences")

                                    a.auth-user-menu-item(
                                        ui-sref="identity-emails" 
                                        role="link")
                                        em.mdi.mdi-at 
                                        translate(translate="email_preferences.title_preferences")

                                    .auth-user-menu-separator.show-sm
                                    
                                    a.auth-user-menu-item.show-sm(
                                        ui-sref="funds" 
                                        ui-sref-active="active"
                                        ng-if="$root.auth_user"
                                        role="link")
                                        em.mdi.mdi-star-outline
                                        span(translate="topnavbar.buttons.logout")
                                    
                                    a.auth-user-menu-item.show-sm(
                                        ui-sref="products" 
                                        ui-sref-active="active"
                                        ng-if="$root.appConfigs.features.products.list"
                                        role="link")
                                        em.mdi.mdi-store
                                        span(translate="topnavbar.buttons.products")
                                    
                                    a.auth-user-menu-item.show-sm(
                                        ui-sref="providers" 
                                        ui-sref-active="active"
                                        ng-if="$root.appConfigs.flags.providersMenu"
                                        role="link")
                                        em.mdi.mdi-store
                                        span(translate="topnavbar.items.providers")
                                        
                                    .auth-user-menu-separator.show-sm
                                    
                                    a.auth-user-menu-item.show-sm(
                                        ui-sref="vouchers" 
                                        role="link")
                                        em.mdi.mdi-ticket-confirmation
                                        span(translate="topnavbar.buttons.voucher")

                                    .auth-user-menu-separator

                                    button.auth-user-menu-item(ng-click="$root.signOut()" id="sign_out")
                                        img(src="./assets/img/icon-menu/icon-menu-sign-out.svg")
                                        span(translate="topnavbar.buttons.logout")
