nav.block.block-navbar#navigation-menu(ng-class='{"scrolled" : $dir.hideOnScroll && !$dir.visible}')
    announcements(
        ng-if="$root.appConfigs.features.announcements" 
        list="$root.appConfigs.features.announcements")

    mixin auth_dropdown()
        .auth-in(ng-if="$root.auth_user").hide-sm
            .auth-user(
                dusk="userProfile"
                ng-click="$dir.openUserMenu($event)" 
                aria-haspopup="true" 
                id="user_menu" 
                aria-expanded="{{$dir.userMenuOpened}}" 
                role="link" 
                aria-label="Gebruikersmenu")

                .auth-user-avatar
                .auth-user-caret: em(ng-class="$dir.userMenuOpened ? 'mdi-chevron-up' : 'mdi-chevron-down'").mdi

                .auth-user-menu.hide-sm.active(
                    aria-labelledby="user_menu"
                    ng-class="{active: $dir.userMenuOpened}"
                    ng-if="$dir.userMenuOpened"
                    click-outside="$dir.hideUserMenu()")

                    .triangle
                    .inner(prevent-propagation)
                        .auth-user-menu-user(ng-if="$root.auth_user.email")
                            span.text-strong-half Ingelogd als: #[br]
                            span(ng-bind="$root.auth_user.email | str_limit:27")

                        .auth-user-menu-separator(ng-if="$root.auth_user.email")

                        .auth-user-menu-item(
                            ui-sref="vouchers"
                            ui-sref-active="active"
                            id="vouchers"
                            ng-click="$dir.goToState('vouchers')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-ticket-percent-outline
                            | Mijn tegoeden

                        .auth-user-menu-item(
                            ng-click="$dir.openPinCodePopup()" 
                            id="open_pincode_popup"
                            role="link")
                            em.mdi.mdi-cellphone
                            span(translate="topnavbar.buttons.authorize")
                            
                        .auth-user-menu-item(
                            ui-sref="bookmarked-products"
                            ui-sref-active="active"
                            id="bookmarked_products"
                            ng-click="$dir.goToState('bookmarked-products')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-cards-heart-outline
                            | Mijn verlanglijstje

                        .auth-user-menu-item(
                            ui-sref="reservations"
                            ui-sref-active="active"
                            id="reservations"
                            ng-click="$dir.goToState('reservations')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-calendar-outline
                            | Reserveringen

                        .auth-user-menu-item(
                            ng-if="$root.appConfigs.features.has_reimbursements"
                            ui-sref="reimbursements"
                            ui-sref-active="active"
                            id="reimbursements"
                            ng-click="$dir.goToState('reimbursements')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-receipt-outline
                            | Kosten terugvragen

                        .auth-user-menu-item(
                            ui-sref="fund-requests"
                            ui-sref-active="active"
                            id="fund-requests"
                            ng-click="$dir.goToState('fund-requests')"
                            role="link"
                            dusk="btnFundRequests"
                            tabindex="0")
                            em.mdi.mdi-card-account-details-outline
                            | Aanvragen

                        .auth-user-menu-item(
                            ui-sref="notifications"
                            ui-sref-active="active"
                            ng-click="$dir.goToState('notifications')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-bell-outline
                            span Notificaties
                            
                        .auth-user-menu-item(
                            ui-sref="preferences-notifications"
                            ui-sref-active="active"
                            id="notification_preferences"
                            ng-click="$dir.goToState('preferences-notifications')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-cog-outline
                            translate(translate="notification_preferences.title_preferences")

                        .auth-user-menu-item(
                            ng-if="$root.appConfigs.sessions"
                            ui-sref="security-sessions"
                            ng-click="$dir.goToState('security-sessions')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-shield-account
                            | Sessies

                        .auth-user-menu-item(
                            ui-sref="identity-emails"
                            ui-sref-active="active"
                            id="identity_emails"
                            ng-click="$dir.goToState('identity-emails')"
                            dusk="btnUserEmails"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-at 
                            translate(translate="email_preferences.title_preferences")
                            
                        .auth-user-menu-item(
                            ng-if="$root.appConfigs.flags.show2FAMenu || $root.auth_2fa.required"
                            ui-sref="security-2fa"
                            ng-click="$dir.goToState('security-2fa')"
                            role="link")
                            em.mdi.mdi-security
                            | Beveiliging

                        .auth-user-menu-separator.show-sm
                        
                        .auth-user-menu-item.show-sm(
                            ui-sref="funds"
                            ui-sref-active="active"
                            ng-if="$root.auth_user"
                            ng-click="$dir.goToState('funds')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-star-outline
                            span(translate="topnavbar.buttons.logout")
                        
                        .auth-user-menu-item.show-sm(
                            ui-sref="products" 
                            ui-sref-active="active"
                            ng-if="$root.appConfigs.features.products.list"
                            ng-click="$dir.goToState('products')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-store
                            span(translate="topnavbar.buttons.products")
                        
                        .auth-user-menu-item.show-sm(
                            ui-sref="providers" 
                            ui-sref-active="active"
                            ng-if="$root.appConfigs.flags.providersMenu"
                            ng-click="$dir.goToState('providers')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-store
                            span(translate="topnavbar.items.providers")
                            
                        .auth-user-menu-separator.show-sm
                        
                        .auth-user-menu-item.show-sm(
                            ui-sref="vouchers" 
                            ui-sref-active="active"
                            ng-click="$dir.goToState('vouchers')"
                            role="link"
                            tabindex="0")
                            em.mdi.mdi-ticket-confirmation
                            span(translate="topnavbar.buttons.voucher")

                        .auth-user-menu-separator

                        .auth-user-menu-item(
                            id="sign_out"
                            ng-click="$root.signOut()"
                            role="link"
                            dusk="btnUserLogout"
                            tabindex="0")
                            em.mdi.mdi-logout
                            span(translate="topnavbar.buttons.logout")

    mixin subnav_search_button()
        .button(
            ng-if="$root.appConfigs.flags.genericSearchUseToggle && $root.appConfigs.flags.genericSearch" 
            ng-click="$dir.toggleSearchBox($event)"
            ng-class="{active: $root.showSearchBox}" 
            role="button").subnav-search-button.hide-sm
            em.mdi.mdi-magnify

    mixin navbar_list()
        ul.navbar-list#primary-menu.hide-sm(ng-class="{'navbar-list-auth-in': $root.auth_user}")
            li.navbar-item-wrapper(
                ng-repeat="menuItem in $dir.menuItems" 
                ng-if="menuItem.enabled"
                ng-class="[menuItem.class, $index >= $dir.menuItems.length - 3 ? 'navbar-item-wrapper_first-to-last' : '']")

                a.navbar-item(
                    ng-if="['social_media_items', 'logout_item'].indexOf(menuItem.id) == -1 && !menuItem.href"
                    ui-sref="{{ menuItem.srefValue }}"
                    ui-sref-active="active"
                    translate="{{ menuItem.nameTranslate }}"
                    translate-default="{{ menuItem.nameTranslateDefault || menuItem.nameTranslate }}"
                    target="{{ menuItem.target || '_blank' }}")

                a.navbar-item(
                    ng-if="['social_media_items', 'logout_item'].indexOf(menuItem.id) == -1 && menuItem.href"
                    href="{{ menuItem.href }}"
                    translate="{{ menuItem.nameTranslate }}"
                    translate-default="{{ menuItem.nameTranslateDefault || menuItem.nameTranslate }}"
                    target="{{ menuItem.target || '_blank' }}")

                //- Social media items
                a.navbar-social-media-icon(
                    ng-if="menuItem.id == 'social_media_items'"
                    ng-repeat="social_media in $root.appConfigs.features.social_medias"
                    href="{{ social_media.url }}"
                    title="{{ social_media.title }}"
                    target="_blank")
                    em.mdi(ng-class="'mdi-' + social_media.type")

                //- Logout item
                .flex(ng-if="menuItem.id == 'logout_item'")
                    +subnav_search_button()
                    
                    span.navbar-user(
                        dusk="identityEmail"
                        ng-if="$root.auth_user.email"
                        ng-bind="$root.auth_user.email | str_limit:27")

                    a(role="button" tabindex="0" href="" ng-click="$root.signOut($event, true)")
                        span.navbar-item(translate="topnavbar.buttons.logout")
                        em.mdi.mdi-logout 

    //- Mobile header
    .navbar-inner.wrapper(ng-if="!$root.showSearchBox")
        .button(
            ng-click="$dir.openMobileMenu($event)" 
            ng-class="{active: $root.mobileMenuOpened}").navbar-menu-button.show-sm

            em.mdi.mdi-menu(ng-class="'mdi-' + ($root.mobileMenuOpened ? 'close' : 'menu')")
            translate(translate="topnavbar.items.menu")

        a(ui-sref="home").navbar-logo.show-sm
            img(ng-src="{{ './assets/img/logo-normal' + $dir.logoExtension }}" alt="Terug naar hoofdpagina")
            img(ng-src="{{ './assets/img/logo-hover' + $dir.logoExtension }}" alt="Terug naar hoofdpagina").hover

        .button(
            ng-if="$root.appConfigs.flags.genericSearch" 
            ng-click="$dir.toggleSearchBox($event)" role="button").navbar-search-button.show-sm

            em.mdi.mdi-magnify
            translate(translate="topnavbar.items.search")

        .button(
            ng-if="!$root.appConfigs.flags.genericSearch" 
            aria-hidden="true").navbar-search-button.show-sm

    //- Main navigation menu
    .navbar-inner.wrapper(ng-class="{'search-shown': $root.showSearchBox}")
        .block.block-auth.show-sm(ng-if="!$root.auth_user && !$root.showSearchBox && !$root.mobileMenuOpened")
            button.button.button-primary-outline.button-start.button-xs(
                ng-if="$root.appConfigs.flags.showStartButton"
                ng-click="$dir.startFundRequest({ restore_with_email: true })"
                role="button").show-sm
                em.mdi.mdi-plus-circle.icon-start
                span(ng-bind="$root.appConfigs.flags.showStartButtonText || 'Start'")

            button.button.button-primary.button-xs(
                ng-click="$dir.startFundRequest()" 
                role="button" 
                aria-label="login" 
                id="login_mobile").show-sm  
                em.mdi.mdi-account.icon-start
                translate(translate="topnavbar.buttons.login")     

        if (!qdt_c.platform.env_data.flags || !qdt_c.platform.env_data.flags.genericSearchUseToggle)
            +navbar_list()
        else
            top-navbar-search(ng-if="$root.appConfigs.flags.genericSearch && $root.showSearchBox")        
    
    //- Logo/Search/Auth menu
    .block.block-subnav(
        ng-if="$root.showSearchBox || $root.appConfigs.flags.genericSearchUseToggle"
        ng-class="{'search-shown': $root.showSearchBox}")

        .subnav-inner.wrapper
            //- Logo
            a(ui-sref="home").navbar-logo.hide-sm
                img(ng-src="{{ './assets/img/logo-normal' + $dir.logoExtension }}" alt="{{ $dir.orgLogoAltText }}")

            //- Search bar or nav menu
            if (!qdt_c.platform.env_data.flags || !qdt_c.platform.env_data.flags.genericSearchUseToggle)
                top-navbar-search(ng-if="$root.appConfigs.flags.genericSearch")
            else
                +navbar_list()
                div(ng-if="$root.appConfigs.flags.genericSearchUseToggle"): +auth_dropdown()  

            //- Sign in / Sign out / Auth user
            .block.flex.hide-sm(ng-if="!$root.appConfigs.flags.genericSearchUseToggle || !$root.auth_user")
                +subnav_search_button

                .block.block-auth
                    button.button.button-primary-outline(
                        ng-if="!$root.auth_user && $root.appConfigs.flags.showStartButton"
                        ng-click="$dir.startFundRequest({ restore_with_email: true })"
                        role="button")

                        include ../../../resources/_webshop-common/assets/img/icon-menu/icon-menu-start.svg
                        span(ng-bind="$root.appConfigs.flags.showStartButtonText || 'Start'")

                    button.button.button-primary(
                        ng-if="!$root.auth_user"
                        ng-click="$dir.startFundRequest()"
                        role="button"
                        dusk="btnStart")

                        em.mdi.mdi-account.icon-start
                        span(
                            translate="home.header.{{ $root.client_key }}.button" 
                            translate-default="{{ 'home.header.button' | translate }}" 
                            id="start_modal")

                    a(ng-if="$root.auth_user" ui-sref="vouchers" id="vouchers" dusk="userVouchers").button.button-primary
                        em.mdi.mdi-ticket-confirmation
                        span(translate="topnavbar.buttons.{{ $root.client_key }}.voucher" translate-default="{{ 'topnavbar.buttons.voucher' | translate }}")

                    +auth_dropdown()    
