.navbar-search.form.form-group: div(click-outside="hideDropDown()" ng-keydown="navigateItems($event)")
    img(src="assets/img/icon-search.svg", alt="")
    form(ng-submit="doSearch()")
        input.form-control.w-100(
            type="text"
            ng-model="query"
            ng-change="doSearch()"
            ng-keydown="cancelSearch($event)"
            ng-focus="showDropDown()"
        )
    
    .search-result(ng-if="dropdown && resultsExists && results && !searchResultPage")
        .search-result-block(ng-repeat="(key, values) in results")
            a(ng-if="values.length" ui-sref="{{ key }}" translate="top_navbar_search.result.{{ key }}_label").search-result-title
            .search-result-list(ng-if="values.length")
                .search-result-item(
                    ng-repeat="value in values" 
                    ng-click="goToItem(value)"
                    ng-class="{ selected: selectedItem == {{value.navigation_key}} }"
                )
                    span(ng-repeat="str in value.nameTransformed track by $index")
                        span(ng-if="$index != 1" ng-bind="str")
                        span(ng-if="$index == 1"  class="keyword" ng-bind="str")

        button.button.button-primary(ui-sref="search-result({keyword: query})" translate="top_navbar_search.result.btn")
    
    .search-result(ng-if="dropdown && !resultsExists && results && !searchResultPage")
        .search-result-block
            p.search-noresult-text(translate="top_navbar_search.noresult.subtitle" translate-values="{ keyword: {{query}} }") 
            ul.search-noresult-list
                li.search-noresult-item: a(ui-sref="providers" translate="top_navbar_search.noresult.providers_label")
                li.search-noresult-item: a(ui-sref="products" translate="top_navbar_search.noresult.products_label")
                li.search-noresult-item: a(ui-sref="funds" translate="top_navbar_search.noresult.funds_label")