.block.block-navbar: .navbar-inner
    a(ui-sref="home").navbar-logo
        img(ng-src="{{ './assets/img/logo-normal' + cfg.logoExtension }}")
        img(ng-src="{{ './assets/img/logo-hover' + cfg.logoExtension }}").hover
    nav.navbar-list
        if (qdt_c.platform.env_data.client_key != 'general')  
            a(
                ui-sref="funds" 
                ui-sref-active="active"
                ng-if="$root.appConfigs.features.funds.list"
                ng-bind="'topnavbar.items.funds' | translate").navbar-item
        if (qdt_c.platform.env_data.client_key != 'general')  
            a(
                ui-sref="products" 
                ui-sref-active="active"
                ng-if="$root.appConfigs.features.products.list"
                ng-bind="'topnavbar.items.products' | translate").navbar-item
        if (qdt_c.platform.env_data.client_key == 'general')
            a(
                href="https://zuidhorn.forus.io/sponsor" 
                translate="GEMEENTE").navbar-item  
            a(
                href="https://zuidhorn.forus.io/sponsor" 
                translate="AANBIEDER").navbar-item  
            a(
                href="https://zuidhorn.forus.io/me" 
                translate="ME").navbar-item 
            a(
                href="https://about.forus.io" 
                translate="OVER ONS").navbar-item
    .block.block-auth.block-auth-border.hide-sm(ng-if="$root.auth_user")
        .auth-code
            a(ui-sref="vouchers").button.button-default
                em.mdi.mdi-ticket-confirmation
                span(translate="topnavbar.buttons.voucher")

    .block.block-auth
        .auth-in(ng-if="$root.auth_user")
            .auth-user
                .auth-user-email(ng-bind="$root.auth_user.primary_email")
                .auth-user-type(translate="topnavbar.items.identity")
                .auth-user-avatar
                    img(src="./assets/img/identity-avatar.svg")
                    nav.auth-user-menu
                        .triangle
                        .inner
                            a(ng-click="openActivateCodePopup()").auth-user-menu-item
                                img(src="./assets/img/icon-menu/icon-menu-my-vouchers.svg")
                                span(translate="topnavbar.buttons.activate")
                            a(
                                ui-sref="records"
                                ng-if="$root.appConfigs.features.records.list").auth-user-menu-item
                                img(src="./assets/img/icon-menu/icon-menu-my-records.svg")
                                | Mijn eigenschappen
                            .auth-user-menu-item(ng-click="openPinCodePopup()").hide-sm
                                em.mdi.mdi-cellphone
                                span(translate="topnavbar.buttons.authorize")

                            .auth-user-menu-separator.show-sm
                            a.auth-user-menu-item.show-sm(
                                ui-sref="funds" 
                                ui-sref-active="active"
                                ng-if="$root.appConfigs.features.funds.list")
                                em.mdi.mdi-star-outline
                                span(translate="topnavbar.buttons.logout")
                            a.auth-user-menu-item.show-sm(
                                ui-sref="products" 
                                ui-sref-active="active"
                                ng-if="$root.appConfigs.features.products.list")
                                em.mdi.mdi-store
                                span(translate="topnavbar.buttons.products")
                            .auth-user-menu-separator.show-sm
                            .auth-user-menu-item.show-sm(ng-click="openActivateCodePopup()")
                                em.mdi.mdi-ticket
                                span(translate="topnavbar.buttons.activate")
                            .auth-user-menu-separator
                            div(ng-click="$root.signOut()").auth-user-menu-item
                                img(src="./assets/img/icon-menu/icon-menu-sign-out.svg")
                                span(translate="topnavbar.buttons.logout")

        .auth-out(ng-if="!$root.auth_user")
            .button.button-default(ng-click="openAuthCodePopup()")
                em.mdi.mdi-ticket-confirmation
                span(translate="topnavbar.buttons.activate")
            .button.button-default(ng-click="openAuthPopup()")
                em.mdi.mdi-account
                span(translate="topnavbar.buttons.login")

    //- .block.block-auth.sm-pull-left
        .lang-selector
            .lang-label 
                em.mdi.mdi-chevron-down
                | Language
            .lang-active(ng-bind="'languages.' + $root.i18nActive | translate")
            .lang-list
                .lang-list-item(
                    ng-repeat="lang in $root.i18nLangs" 
                    ng-bind="'languages.' + lang | translate"
                    ng-click="$root.setLang(lang)")
    