.voucher-item(ui-sref="voucher(voucher)" ng-class="voucherCard.disabled  ? 'voucher-item-disabled' : ''")
    .voucher-image(style="background-image: url('{{ voucherCard.thumbnail }}')")
    
    .voucher-details
        .label(ng-class="{true: 'label-success', false: 'label-warning'}[voucherCard.transactions.length == 0]" ng-if="voucherCard.type == 'product' && !voucher.expired" ng-bind="voucherCard.transactions.length == 0 ? 'Ongebruikt' : 'Gebruikt'")
        .voucher-name(ng-bind="voucherCard.title")
        //-.voucher-read_more Uw tegoed is:
        .voucher-organization(ng-bind="voucherCard.subtitle")
        .voucher-value(ng-if="(voucherCard.fund.type == 'budget') && (voucherCard.type == 'regular')" ng-bind="voucherCard.amount | currency_format")
        .voucher-status-label
            .label.label-danger(ng-if="voucher.expired" i18n="voucher.voucher_card.expired")
        .voucher-cancel-label: a(
            ng-if="voucher.expired && voucherCard.transactions.length == 0 && voucherCard.type == 'product' && voucherCard.returnable"
            ng-click="deleteVoucher($event, voucher)" 
            i18n="voucher.voucher_card.delete")

    //- regular voucher
    .voucher-overview(ng-if="!voucherCard.disabled && voucherCard.type == 'regular'")
        .voucher-overview-item.voucher-open
            button.button.button-primary(
                i18n="{{ voucher.expired ? 'vouchers.labels.show_transactions' : 'vouchers.labels.open_voucher' }}")

    //- product voucher
    .voucher-overview(ng-if="!voucher.expired && voucherCard.type == 'product'")

        //-.voucher-overview-item
            .voucher-overview-label(i18n="vouchers.labels.used")
            .voucher-overview-value(ng-bind="voucherCard.transactions.length == 0 ? 'Nee' : 'Ja'")
        .voucher-overview-item
            .voucher-overview-label(i18n="vouchers.labels.generated")
            .voucher-overview-value(ng-bind="voucherCard.created_at_locale")
        .voucher-overview-item(ng-if="voucherCard.transactions.length == 0")
            .voucher-overview-label(i18n="vouchers.labels.expire")
            .voucher-overview-value(ng-bind="voucherCard.last_active_day_locale")
        .voucher-overview-item(ng-if="voucherCard.transactions.length == 1")
            .voucher-overview-label Gebruikt op
            .voucher-overview-value(ng-bind="voucherCard.transactions[0].created_at_locale")
        .voucher-overview-item(ng-if="!voucher.transactions.length")
            button.button(
                ng-class="voucherCard.disabled ? 'button-gray' : 'button-primary'"
                i18n="{{ voucher.expired ? 'vouchers.labels.show_transactions' : 'vouchers.labels.open_voucher' }}")
