.select-control-options-group
    .select-control-options(
        ng-if="$dir.options.length > 0" 
        scroll-end="$dir.onScrolledOption()")
        
        .select-control-option(
            ng-repeat="option in $dir.options track by $index"
            ng-click="$dir.select(option)" ng-class="{selected: $root.activeOrganization.id == option.raw.id}"
            data-dusk="{{ 'headerOrganizationItem' + option.raw.id }}")

            .select-control-logo: img(ng-src="{{ option.raw.logo.sizes.thumbnail || './assets/img/placeholders/organization-thumbnail.png' }}")

            .select-control-option-value: span(ng-repeat="str in option.nameFormat track by $index")
                span(ng-if="$index != 1" ng-bind="str")
                strong(ng-if="$index == 1" ng-bind="str")

    .select-control-options-actions
        .select-control-switcher-setting(
            ng-if="$root.appConfigs.panel_type == 'sponsor' && $root.activeOrganization | hasPerm:'manage_organization'"
            ui-sref="organizations-contacts({organization_id: $root.activeOrganization.id})"
            ng-click="hideOptions()")
            .select-control-switcher-setting-icon: em.mdi.mdi-email-edit-outline
            .select-control-switcher-setting-name(translate="organizations.buttons.contacts")

        .select-control-switcher-setting(
            ng-if="$root.activeOrganization | hasPerm:'manage_organization'"
            ui-sref="organizations-edit({organization_id: $root.activeOrganization.id})"
            ng-click="hideOptions()")
            .select-control-switcher-setting-icon: em.mdi.mdi-cog
            .select-control-switcher-setting-name(translate="organizations.buttons.edit")

        .select-control-switcher-setting(ui-sref="organizations-create" ng-click="hideOptions()")
            .select-control-switcher-setting-icon: em.mdi.mdi-plus-circle
            .select-control-switcher-setting-name(translate="organizations.buttons.add")
