- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

//- libs bundle
script(src=src_prefix + "./assets/dist/bundle/js/bundle.min.js")

//- custom script
script(src=src_prefix + "./assets/js/app.min" + qdt_c.append_assets + ".js")

//- captcha
script(ng-if="$root.appConfigs.panel_type=='website'", src="https://www.google.com/recaptcha/api.js?hl=nl" async defer)

script(ng-if="$root.appConfigs.panel_type=='website'").
    console.log($src_prefix)
    function onSubmit(el) {
        var form = $(el).closest('form');
        $.post($(form).attr('action'), JSON.stringify({
                name: $(form).find("input[name='name']").val(),
                email: $(form).find("input[name='email']").val(),
                phone: $(form).find("input[name='phone']").val(),
                organization: $(form).find("input[name='organization']").val(),
                message: $(form).find("textarea[name='message']").val(),
                'g-recaptcha-response': $(form).find("textarea[name='g-recaptcha-response']").val()
            }), function (data) {
            $(form).find(".thanks").show();
            $(form).find("button").hide();
            }, 'json');
    }
    function onSubmitCFModal() {
        onSubmit($('button#formSubmit'));
    }
    function onSubmitCFHome() {
        onSubmit($('button#formSubmitHome'));
    }

script(ng-if="$root.appConfigs.panel_type=='website'").
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1337458,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
