div
    //- LINK
    .block.block-missing-app(ng-if="$ctrl.state == $ctrl.STATE_APP")
        p(ng-if="$ctrl.showMissingText") Open deze link op het zelfde apparaat waar het aanmeldverzoek is aangevraagd.
        a.button.button-primary(href='{{ $ctrl.redirectUrl }}' ng-click='$ctrl.openApp()') OPEN ME APP
        
    //- PinCode
    form.block.block-auth-pin_code(
        ng-if="$ctrl.state !== $ctrl.STATE_AUTH_2FA"
        ng-submit="$ctrl.submit($ctrl.pinCode)")
        //- PinCode
        .pin_code-content(ng-if='$ctrl.state == $ctrl.STATE_PIN_CODE')
            .pin_code-title Aanmelden
            .pin_code-subtitle 
                | 1. Kies in de app voor “Koppelen”
                br
                | 2. Vul de koppelcode hieronder in
            pin-code-control(block-size="6" block-count="1" block-input-type="num" ng-model='$ctrl.pinCode')
            .pin_code-input-error(ng-if='$ctrl.pinCodeError' ng-bind='$ctrl.pinCodeError')
            button.button.button-primary.button-wide.flex-start(
                type="submit"
                ng-click='$ctrl.submit($ctrl.pinCode)' 
                ng-disabled="$ctrl.pinCode.length < 6") Koppel
        
        //- Success
        .pin_code-content.text-center(ng-if='$ctrl.state == $ctrl.STATE_SUCCESS')
            .pin_code-title Succes!
            .pin_code-subtitle Uw e-mailadres is bevestigd
            .pin_code-media: img.pin_code-media-img(src='/assets/img/sign_in-pin_code-success.svg' alt='')
            .pin_code-link(ng-click="$ctrl.goToDetailsPage()") Hoe nu verder?
        
        //- Details
        .pin_code-content.text-center(ng-if='$ctrl.state == $ctrl.STATE_DETAILS')
            .pin_code-title Succes!
            .pin_code-subtitle Uw e-mailadres is bevestigd
            .pin_code-media.pin_code-media-small: img.pin_code-media-img(src='/assets/img/sign_in-pin_code-success.svg' alt='')
            .pin_code-details-block
                .pin_code-details-title Ingelogd op de Me-app?
                .pin_code-details-info
                    | Ga verder in de app.
                    br
                    | U mag dit scherm sluiten.
            .pin_code-details-block
                .pin_code-details-title Was u bezig met een aanmelding?
                .pin_code-details-info
                    | Ga terug naar het aanmeldformulier om uw
                    br
                    | aanmelding af te ronden.
        
        //- Error
        .pin_code-content.text-center(ng-if='$ctrl.state == $ctrl.STATE_ERROR')
            .pin_code-title Toegang verlopen
            .pin_code-subtitle
                | Ga in de app terug naar het vorige scherm, en vul opnieuw uw
                br
                | e-mailadres in om een nieuwe inlog e-mail te verzenden.
            .pin_code-media: img.pin_code-media-img(src='/assets/img/sign_in-pin_code-error.svg' alt='')
        
        //- Instruction
        .pin_code-instruction(ng-if='$ctrl.state == $ctrl.STATE_PIN_CODE')
            img.pin_code-instruction-image(src='/assets/img/sign_in-pin_code-instruction.png' alt='')
            //- .pin_code-instruction-desc
                img.pin_code-instruction-icon(src='/assets/img/icon-info.svg' alt='')
                | Kies in de app voor
                br
                | Koppelen

    .block.block-sign_up.block-sign_up-fixed(
        ng-if="$ctrl.state == $ctrl.STATE_AUTH_2FA")

        .block-wrapper
            //- Setup 2FA
            .sign_up-pane(ng-if="$ctrl.step == 'setup'" ng-show="!$ctrl.hidePane")
                .sign_up-pane-body
                    .sign_up-pane-heading.text-strong Tweefactorauthenticatie instellen
                    .sign_up-pane-text Tweefactorauthenticatie is vereist om in te kunnen loggen, kies één van onderstaande opties om verder te gaan.

                .sign_up-pane-body
                    .sign_up-pane-text: .sign_up-pane-heading Kies een optie
                    .sign_up-options
                        .sign_up-option(
                            ng-repeat="provider_type in $ctrl.provider_types" 
                            ng-click="$ctrl.auth2FA(provider_type.type)")

                            .sign_up-option-media: img(
                                ng-src="{{ '/assets/img/icon-2fa-' + provider_type.type + '.svg' }}").sign_up-option-media-img

                            .sign_up-option-details
                                .sign_up-option-title(ng-bind="provider_type.title")
                                .sign_up-option-description(ng-bind="provider_type.subtitle")

            //- 2FA confirmation
            .sign_up-pane(ng-if="$ctrl.step == 'auth'" ng-show="!$ctrl.hidePane")
                .sign_up-pane-body
                    .sign_up-pane-heading.text-strong Tweefactorauthenticatie

                .sign_up-pane-body
                    .sign_up-pane-text: .sign_up-pane-heading Kies een optie
                    .sign_up-options
                        .sign_up-option(
                            ng-repeat="provider_type in $ctrl.provider_types" 
                            ng-click="$ctrl.auth2FA(provider_type.type, true)")

                            .sign_up-option-media: img(
                                ng-src="{{ '/assets/img/icon-2fa-' + provider_type.type + '.svg' }}").sign_up-option-media-img

                            .sign_up-option-details
                                .sign_up-option-title(ng-bind="provider_type.title")
                                .sign_up-option-description(ng-bind="provider_type.subtitle")

