.pin_code-input
    input(
        ng-if="!isIe"
        type="{{ type }}" 
        autocorrect="disabled" 
        autocomplete="off" 
        autocapitalize="off" 
        spellcheck="false").hidden-input

    .pin_code-input-digits: .pin_code-input-digit(
        ng-class="{empty: code == '_', active: ngModel.length == key}"
        ng-repeat='(key, code) in chars track by $index'
        ng-bind='code')