.modal.modal-product-reserve.modal-animated(
    role="dialog" 
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']"
    aria-labelledby="productApplyDialogTitle" 
    aria-describedby="productApplyDialogSubtitle")

    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-window: .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" aria-label="close" role="button")

        .modal-section
            h2.title.text-center Weet u zeker dat u een reservering wilt plaatsen?

            .description: .text-center
                | U staat op het punt om het tegoed 
                strong(ng-bind="$ctrl.vouchers[0].fund.name")
                | &nbsp;te gebruiken voor deze reservering.

                br
                strong
                    | Uw e-mailadres wordt gedeeld met de aanbieder.  
                    | De reservering kunt u na bevestigen nog annuleren.

            //- Vouchers list
            .block.block-vouchers(ng-class="{'block-vouchers-compact': $ctrl.vouchers.length === 1}")
                .voucher-item.voucher-item-compact.voucher-item-static(ng-repeat="voucher in $ctrl.vouchers")
                    .voucher-image
                        img(src="{{ voucher.fund.logo.sizes.thumbnail || voucher.fund.organization.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}")

                    .voucher-details
                        .voucher-name(ng-bind="voucher.fund.name")
                        .voucher-organization(ng-bind="voucher.fund.organization.name")
                        .voucher-value(ng-if="voucher.fund.type === 'budget'" ng-bind="voucher.amount | currency_format")
                        | {{ voucher.type }}
                        | {{ voucher.address }}

                    .voucher-overview(ng-if="$ctrl.vouchers.length > 1")
                        button.button.button-primary(ng-click="$ctrl.reserveProduct($ctrl.product, voucher)") Gebruik

            .button-group.flex-center
                button.button.button-primary(
                    ng-if="$ctrl.vouchers.length === 1"
                    ng-click="$ctrl.reserveProduct($ctrl.product, $ctrl.vouchers[0])") Gebruik

                button.button.button-dark(ng-click="$ctrl.close()" i18n="modal.buttons.cancel")
