.modal.modal-product-reserve-notes.modal-animated.modal-md(
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']" role="dialog")

    .modal-backdrop(ng-click="$ctrl.close()" aria-label="Sluiten" role="button")

    .modal-window(ng-if="$ctrl.state == 'fill_notes'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" id="close" aria-label="Sluiten" role="button")
        .modal-header.text-center
            .modal-title(translate="modal_product_reserve_notes.fill_notes.header.title")
            .modal-subtitle(
                i18n="modal_product_reserve_notes.fill_notes.header.subtitle" 
                i18n-vars="{ provider_name: $ctrl.providerName }")

        .modal-content: .modal-section
            form.form(ng-submit="$ctrl.productReserve()")
                .row
                    .form-group.col.col-lg-6
                        .form-label(translate="modal_product_reserve_notes.fill_notes.labels.first_name")
                        input(
                            type="text"
                            ng-model="$ctrl.form.values.first_name"
                            placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.first_name' | translate }}").form-control.form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.first_name" ng-bind="error")
                    
                    .form-group.col.col-lg-6
                        .form-label(translate="modal_product_reserve_notes.fill_notes.labels.last_name")
                        input(
                            type="text"
                            ng-model="$ctrl.form.values.last_name"
                            placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.last_name' | translate }}").form-control.form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.last_name" ng-bind="error")

                .form-group
                    .form-label {{ "modal_product_reserve_notes.fill_notes.labels.notes" | translate }}
                    textarea(ng-model="$ctrl.form.values.user_note" placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.notes' | i18n }}").form-control

                .form-group.text-center
                    button(type="submit").button.button-dark.button-wide {{ "popup_auth.buttons.submit" | translate }}

    .modal-window(ng-if="$ctrl.state == 'confirm_notes'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" aria-label="Sluiten" role="button")
        .modal-header.text-center: .modal-title(translate="modal_product_reserve_notes.confirm_notes.header.title")
        .modal-content: .modal-section
            .text-center 
                b(translate="modal_product_reserve_notes.confirm_notes.modal_section.title")
                br
                br

                b(translate="modal_product_reserve_notes.confirm_notes.labels.first_name")
                span {{ $ctrl.form.values.first_name }}, 
                
                b(translate="modal_product_reserve_notes.confirm_notes.labels.last_name")
                span {{ $ctrl.form.values.last_name }}
                
                br
                br
                
                div(ng-if="$ctrl.form.values.user_note")
                    b(translate="modal_product_reserve_notes.confirm_notes.labels.notes")
                    div(ng-bind="$ctrl.form.values.user_note")

                br 
                br 

            .button-group.flex-center
                button.button.button-light(type="button" translate="modal_product_reserve_notes.confirm_notes.buttons.adjust" ng-click="$ctrl.state = 'fill_notes'")
                button.button.button-dark(type="button" translate="modal_product_reserve_notes.confirm_notes.buttons.submit" ng-click="$ctrl.confirmSubmit()")                
