.modal.modal-product-reserve.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']"
    role="dialog"
    data-dusk="modalProductReserveCancel")

    .modal-backdrop(ng-click="$ctrl.close()" aria-label="Sluiten")

    .modal-window
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" aria-label="Sluiten" role="button")

        .modal-header
            h2.modal-title Reservering annuleren

        .modal-body: .modal-content: .modal-section
            .modal-icon-mdi.modal-icon-mdi-warning(ng-if="$ctrl.reservation.cancelable"): em.mdi.mdi-alert-outline

            h2.title(
                ng-if="!$ctrl.reservation.cancelable"
                translate="modal_product_reserve_cancel.header_not_cancelable.title"
                translate-values="{organizationname: $ctrl.reservation.product.organization.name}")

            h2.title(
                ng-if="$ctrl.reservation.cancelable"
                translate="{{ 'modal_product_reserve_cancel.header_pending.title_' + $ctrl.appConfigs.features.communication_type }}")

            .description(ng-if="!$ctrl.reservation.cancelable")
                p.text-center(translate="modal_product_reserve_cancel.description_not_cancelable")
                p.text-center
                    strong
                        | Neem contact op met de 
                        a(
                            target="_blank" 
                            ui-sref="provider($ctrl.reservation.product.organization)" 
                            ng-bind="$ctrl.reservation.product.organization.name")
                        | !
                    br

            .description(ng-if="$ctrl.reservation.cancelable")
                p.text-center(translate="{{ 'modal_product_reserve_cancel.description_pending.' + $ctrl.appConfigs.features.communication_type }}")

        //- Actions
        .modal-footer
            button.button.button-sm.button-light(
                ng-click="$ctrl.close()") Annuleren

            button.button.button-sm.button-primary(
                ng-if="$ctrl.reservation.cancelable" 
                ng-click="$ctrl.onConfirm()" 
                data-dusk="btnSubmit") Bevestigen
