.modal.modal-product-reserve.modal-animated.modal-sm(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']"
    role="dialog"
    dusk="modalProductReserveForm")

    //- Modal backdrop
    .modal-backdrop(ng-click="$ctrl.close()" aria-label="Sluiten" role="button")

    //- Modal window
    .modal-window(ng-if="$ctrl.state == 'fill_notes'")
        //- Modal close
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" id="close" aria-label="Sluiten" role="button")

        //- Modal content
        .modal-content: .modal-section

            //- Title
            .title(translate="modal_product_reserve_notes.fill_notes.header.title")

            //- description
            .description.text-center(
                i18n="modal_product_reserve_notes.fill_notes.header.subtitle" 
                i18n-vars="{ provider_name: $ctrl.provider.name }")

            //- Email setup
            .row: .col.col-xs-12.col-md-12(ng-if="$ctrl.emailSetupShow")
                .block.block-email-setup
                    .block-email-setup-details(ng-if="!$ctrl.emailShowForm")
                        img.block-email-setup-details-logo(src="./assets/img/modal/product-reservation-info.svg")
                        .block-email-setup-details-description Momenteel heeft u geen e-mailadres gekoppeld aan uw account.

                        button.button.button-sm.button-primary(ng-click="$ctrl.addEmail()") E-mail toevoegen

                    .block-email-setup-details(ng-if="$ctrl.emailShowForm && !$ctrl.emailSubmitted") 
                        img.block-email-setup-details-logo(src="./assets/img/modal/product-reservation-info.svg")

                        form.form.flex-grow
                            .form-group.form-group-inline
                                ui-control-email(ng-model="$ctrl.emailForm.values.email" data-placeholder="e-mail@e-mail.nl" data-id="email" tabindex="1")
                                .form-error(ng-repeat="error in $ctrl.emailForm.errors.email" ng-bind="error")
                        
                        button.button.button-sm.button-primary(type="submit" ng-click="$ctrl.emailForm.submit()") E-mail toevoegen

                    .block-email-setup-details(ng-if="$ctrl.emailSubmitted")
                        img.block-email-setup-details-logo(src="./assets/img/modal/product-reservation-info.svg")
                        .block-email-setup-details-description An email was sent to the indicated address, please confirm it
                    
                    .block-email-setup-description
                        span Dat betekent dat de aanbieder geen informatie heeft om contact met je op te nemen en je te informeren over de reservering. Voeg een e-mailadres toe aan uw account of gebruik het aanvullende notitietekstveld om contactinformatie op te geven voordat u de reservering maakt.

            //- Product reservation
            .row: .col.col-xs-12.col-md-12: form(ng-submit="$ctrl.productReserve()").form
                //- Full name
                .row
                    //- First name
                    .col.col-lg-6.form-group
                        .form-label(translate="modal_product_reserve_notes.fill_notes.labels.first_name")
                        input(
                            type="text"
                            ng-model="$ctrl.form.values.first_name"
                            placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.first_name' | translate }}"
                            dusk="productReserveFormFirstName").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.first_name" ng-bind="error")

                    //- Last name
                    .col.col-lg-6.form-group
                        .form-label(translate="modal_product_reserve_notes.fill_notes.labels.last_name")
                        input(
                            type="text"
                            ng-model="$ctrl.form.values.last_name"
                            placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.last_name' | translate }}"
                            dusk="productReserveFormLastName").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.last_name" ng-bind="error")
                    .form-error(ng-repeat="error in $ctrl.form.errors.notes" ng-bind="error")

                //- Phone number and address
                .row(ng-if="$ctrl.product.reservation.phone !== 'no' || $ctrl.product.reservation.address  !== 'no'")
                    //- Phone number
                    .form-group.col.col-lg-6(ng-if="$ctrl.product.reservation.phone !== 'no'")
                        .form-label(
                            ng-if="$ctrl.product.reservation.phone == 'required'" 
                            translate="modal_product_reserve_notes.fill_notes.labels.phone")

                        .form-label(
                            ng-if="$ctrl.product.reservation.phone == 'optional'" 
                            translate="modal_product_reserve_notes.fill_notes.labels.phone_optional")

                        input.form-control(
                            ng-model="$ctrl.form.values.phone" 
                            placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.phone' | i18n }}"
                            dusk="productReserveFormPhone")
                        .form-error(ng-repeat="error in $ctrl.form.errors.phone" ng-bind="error")

                    //- Address
                    .form-group.col.col-lg-6(ng-if="$ctrl.product.reservation.address !== 'no'")
                        .form-label(
                            ng-if="$ctrl.product.reservation.address == 'required'" 
                            translate="modal_product_reserve_notes.fill_notes.labels.address")

                        .form-label(
                            ng-if="$ctrl.product.reservation.address == 'optional'" 
                            translate="modal_product_reserve_notes.fill_notes.labels.address_optional")

                        input.form-control(
                            ng-model="$ctrl.form.values.address" 
                            placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.address' | i18n }}"
                            dusk="productReserveFormAddress")
                        .form-error(ng-repeat="error in $ctrl.form.errors.address" ng-bind="error")

                    .form-group.col.col-lg-6(ng-if="!$ctrl.product.reservation.phone !== 'no' || !$ctrl.product.reservation.address !== 'no'")

                //- Birth date
                .row(ng-if="$ctrl.product.reservation.birth_date !== 'no'")
                    .col.col-lg-6.form-group
                        .form-label(
                            ng-if="$ctrl.product.reservation.birth_date == 'required'" 
                            translate="modal_product_reserve_notes.fill_notes.labels.birth_date")

                        .form-label(
                            ng-if="$ctrl.product.reservation.birth_date == 'optional'" 
                            translate="modal_product_reserve_notes.fill_notes.labels.birth_date_optional")

                        datepicker(
                            date-format="yyyy-MM-dd"
                            datepicker-mobile=""
                            date-max-limit="{{ $ctrl.dateMinLimit + '' }}"
                            date-week-start-day="1").form-control
                            input(ng-model="$ctrl.form.values.birth_date" type="text" placeholder="jjjj-MM-dd").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.birth_date" ng-bind="error")
                    .col.col-lg-6.form-group

                //- User note
                .form-group
                    .form-label(translate="modal_product_reserve_notes.fill_notes.labels.notes")
                    textarea.form-control(
                        ng-model="$ctrl.form.values.user_note" 
                        placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.notes' | i18n }}"
                        dusk="productReserveFormNote")
                    .form-error(ng-repeat="error in $ctrl.form.errors.user_note" ng-bind="error")

                .form-group(ng-if="$ctrl.form.errors.product_id")
                    .form-error(ng-repeat="error in $ctrl.form.errors.product_id" ng-bind="error")    
                
                //- Submit
                .form-group.text-center
                    button(
                        type="submit" 
                        dusk="btnSubmit"
                        translate="popup_auth.buttons.submit").button.button-dark.button-wide

    //- Reservation confirmation
    .modal-window(ng-if="$ctrl.state == 'confirm_notes'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" aria-label="Sluiten" role="button")

        .modal-content: .modal-section
            .title(translate="modal_product_reserve_notes.confirm_notes.header.title")
            .description.text-center(dusk="productReserveConfirmDetails")
                br
                //- Title
                strong(translate="modal_product_reserve_notes.confirm_notes.modal_section.title")
                br
                br

                //- First name
                strong(translate="modal_product_reserve_notes.confirm_notes.labels.first_name")
                br
                span(ng-bind="$ctrl.form.values.first_name")
                br
                br

                //- Last name
                strong(translate="modal_product_reserve_notes.confirm_notes.labels.last_name")
                br
                span(ng-bind="$ctrl.form.values.last_name")
                br
                br

                //- Phone number
                div(ng-if="$ctrl.product.reservation.phone != 'no'")
                    strong(translate="modal_product_reserve_notes.confirm_notes.labels.phone")
                    br
                    span(ng-bind="$ctrl.form.values.phone")
                    br
                    br

                //- Address
                div(ng-if="$ctrl.product.reservation.address !== 'no'")
                    strong(translate="modal_product_reserve_notes.confirm_notes.labels.address")
                    br
                    span(ng-bind="$ctrl.form.values.address")
                    br
                    br

                //- Birth date
                div(ng-if="$ctrl.product.reservation.birth_date !== 'no'")
                    strong(translate="modal_product_reserve_notes.confirm_notes.labels.requester_birth_date")
                    br
                    span(ng-bind="$ctrl.form.values.birth_date")
                    br
                    br
    
                //- User note
                div(ng-if="$ctrl.form.values.user_note")
                    strong(translate="modal_product_reserve_notes.confirm_notes.labels.notes")
                    br
                    span(ng-bind="$ctrl.form.values.user_note")
                br

            //- Actions
            .button-group.flex-center
                //- Back to form
                button.button.button-light(
                    type="button" 
                    translate="modal_product_reserve_notes.confirm_notes.buttons.adjust" 
                    ng-click="$ctrl.state = 'fill_notes'")

                //- Submit 
                button.button.button-dark(
                    type="button" 
                    translate="modal_product_reserve_notes.confirm_notes.buttons.submit" 
                    ng-click="$ctrl.confirmSubmit()"
                    dusk="btnConfirmSubmit")
