.modal.modal-shops_map.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']" role="dialog")
    .modal-backdrop(ng-click="$ctrl.cancel()")
    .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" aria-label="Sluiten" role="button")

        .block.block-shops_map
            .shop_map-header
                .shop_map-title Overzicht van alle locaties van {{ $ctrl.providersCount }} aanbieders
                .shop_map-subtitle Gebruik het zoekveld om de lijst van aanbieders te doorzoeken.           
                .form: input(
                    type="search" 
                    ng-model="$ctrl.query" 
                    ng-change="$ctrl.chageSearchString(value, prev)" 
                    placeholder="Zoeken").form-control
            .shop_map-body
                .shop_map-sidebar(ng-if="$ctrl.offices.length > 0"): .nano: .nano-content: .shops: .shop-item(
                    ng-repeat="office in $ctrl.shownOffices"
                    ng-class="{active: office.id == $ctrl.selectedOffice}"
                    ng-click="$ctrl.selectOffice(office)")
                        .shop-details
                            .shop-image: img(ng-src="{{ office.photo.sizes.thumbnail || '/assets/img/placeholders/office-thumbnail.png' }}")
                            .shop-name(ng-bind="office.organization.name")
                            .row
                                .col.col-md-6
                                    .shop-details-label(translate="popup_offices.labels.mail")
                                    .shop-details-value(ng-bind="office.email || office.organization.email || 'Geen data'")
                                .col.col-md-6
                                    .shop-details-label(translate="popup_offices.labels.address")
                                    .shop-details-value(ng-bind="office.address || 'Geen data'")
                        .shop-schedule
                            .shop-schedule-label(translate="popup_offices.labels.hours")
                            .shop-schedule-value
                                span(ng-repeat="schedule in office.schedule" ng-if="schedule.start_time || schedule.end_time")
                                    strong {{ $ctrl.weekDays[schedule.week_day] }}:
                                    | {{ schedule.start_time || 'Geen data' }} - {{ schedule.end_time || 'Geen data' }}

                                span(ng-if="office.schedule.length == 0" translate="popup_offices.labels.none")

                .shop_map-content
                    google-map(ng-if="$ctrl.offices.length > 0" offices="$ctrl.offices" selected-office="$ctrl.selectedOffice")
                    .block.block-empty(ng-if="$ctrl.offices.length == 0")
                        .block-title Geen zoekresultaten gevonden
                        .block-description Met de ingevulde zoekwoorden is geen resultaat gevonden.