- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.modal.modal-auth2.modal-animated(ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']")
    .modal-backdrop(ng-click="$ctrl.close()")
    //- Sign In by qr-code
    .modal-window: .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" id="close")
        
        .block.block-auth-widget(ng-if="!$ctrl.restoreWithDigId")
            .auth-title(translate="popup_auth.header.title")
            .auth-subtitle(translate="{{ 'popup_auth.header.subtitle_' + $ctrl.appConfigs.features.communication_type }}")

            form.form.auth-form(ng-submit="$ctrl.signInEmailForm.submit()")
                .auth-form-input
                    input(ng-model="$ctrl.signInEmailForm.values.email" type="email" placeholder="E-mailadres").form-control.email-auth
                    .form-error(ng-repeat="error in $ctrl.signInEmailForm.errors.email" ng-bind="error")
                div: button(type="submit").button.button-primary Login

            .auth-digid(ng-if="$ctrl.digidAvailable"): a(ng-click="$ctrl.useDigId()").auth-digid-link
                translate(translate="{{ 'popup_auth.restore_' + $ctrl.appConfigs.features.communication_type }}")
                em.mdi.mdi-chevron-right

            .auth-qr_code.hidden-xs
                .qr_code-container
                    .qr_code-description
                        .auth-title Login met Me-app
                        | Scan de QR-code aan de rechterzijde met de QR-scanner in de Me-app. 
                        | #[br] #[br]
                        | #[a(ui-sref="me-app" target="_blank") Meer informatie over de Me-app]
                        | #[br] #[br]
                        | #[app-links]

                    .qr_code-block: qr-code(
                        ng-if="$ctrl.qrValue" 
                        qr-value="$ctrl.qrValue" 
                        qr-alt="Login"
                        qr-type="auth_token" qr-logo=src_prefix + "./assets/img/me-logo.png")
    
        .block.block-auth-widget(ng-if="$ctrl.restoreWithDigId")
            .auth-digid-form
                .auth-title 
                    translate(translate="{{ 'popup_auth.restore_' + $ctrl.appConfigs.features.communication_type }}")
                    br
                .auth-subtitle 
                    translate(translate="{{ 'popup_auth.restore_subtitle_' + $ctrl.appConfigs.features.communication_type }}")
                    br
                .auth-subtitle 
                    .button.button-digid &nbsp;
                    .button.button-primary(ng-click="$ctrl.startDigId()") Login

        .block.block-auth-widget(ng-if="$ctrl.restoreWithDigId && $ctrl.restoreWithDigIdFailed")
            .auth-digid-message
                .digid-icon: .mdi.mdi-alert-outline
                .digid-title Mislukt!
                .digid-message
                    | Uw BSN-nummer is niet bekend in het systeem.
                    br
                    | Probeer een ander DigiD-account of meld u opnieuw aan.