.modal.modal-shops_map
    .modal-backdrop(ng-click="$ctrl.cancel()")
    .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()")

        .block.block-shops_map
            .shop_map-header
                .shop_map-title(translate="popup_offices.header.title" translate-values="{count: $ctrl.providersCount || 0}")
                .shop_map-subtitle(translate="popup_offices.header.subtitle")
                
                .form(ng-if="$ctrl.businessTypes.length > 0")
                    select-control(
                        mode="search"
                        ng-model="$ctrl.business_type" 
                        ng-change="$ctrl.chageBusinessType(value)"
                        ng-change-search="$ctrl.chageSearchString(value, prev)"
                        options="$ctrl.businessTypes"
                        options-preload-size=10
                        placeholder="Select business type...")
                    pre {{ $ctrl.business_type }}

            .shop_map-body
                .shop_map-sidebar: .nano: .nano-content
                    .shops
                        .shop-item(
                        ng-repeat="office in $ctrl.shownOffices"
                        ng-class="{active: office.id == $ctrl.selectedOffice}"
                        ng-click="$ctrl.selectOffice(office)")
                            .shop-details
                                .shop-image: img(ng-src="{{ office.photo.sizes.thumbnail || '/assets/img/placeholders/office-thumbnail.png' }}")
                                .shop-name {{ office.organization.name }}
                                .row
                                    .col.col-md-6
                                        .shop-details-label {{ "popup_offices.labels.mail" | translate }}
                                        .shop-details-value {{ office.email || office.organization.email || 'Geen data' }}
                                    .col.col-md-6
                                        .shop-details-label {{ "popup_offices.labels.address" | translate }}
                                        .shop-details-value {{ office.address || 'Geen data' }}
                            .shop-schedule
                                .shop-schedule-label {{ "popup_offices.labels.hours" | translate }}
                                .shop-schedule-value
                                    span(ng-repeat="schedule in office.schedule" ng-if="schedule.start_time || schedule.end_time")
                                        strong {{ $ctrl.weekDays[schedule.week_day] }}:
                                        | {{ schedule.start_time || 'Geen data' }} - {{ schedule.end_time || 'Geen data' }}

                                    span(ng-if="office.schedule.length == 0")
                                        | {{ "popup_offices.labels.none" | translate }}
                .shop_map-content: google-map(offices="$ctrl.offices" selected-office="$ctrl.selectedOffice")