.modal.modal-2fa-setup.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']")

    .modal-backdrop(ng-click="$ctrl.cancel()")

    //- Deactivation confirmation
    form.modal-window.form(
        ng-if="$ctrl.step == 'confirmation'"
        ng-submit="$ctrl.deactivateProvider()")

        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")
        .modal-header
            h2.modal-header-title Tweefactorauthenticatie uischakelen

        .modal-body.text-center
            .modal-section
                .modal-section-title Om door te gaan, voer de tweefactorauthenticatie beveiligingscode in.

                .modal-section-description(ng-if="$ctrl.type == 'phone'") Voer de 6-cijferige SMS-code in
                .modal-section-description(ng-if="$ctrl.type == 'authenticator'") Voer de 6-cijferige code in vanuit de app

                .modal-section-space
                .modal-section-space

                .form-group
                    .form-group-offset
                        pincode-control(
                            ng-model="$ctrl.confirmationCode" 
                            block-size="3" 
                            block-count="2" 
                            block-input-type="num")
                            
                        .form-error(ng-repeat="error in $ctrl.errorCode" ng-bind="error")
                
                    .text-center(ng-if="$ctrl.type == 'phone'")
                        button.button.button-text.button-text-primary.button-sm(
                            type="button" 
                            ng-click="$ctrl.resendCode()" 
                            ng-disabled="$ctrl.resendingTime > 0")

                            .mdi.mdi-refresh.icon-start(ng-class="$ctrl.sendingCode ? 'mdi-spin' : ''")
                            | Code opnieuw verzenden
                            span(ng-if="$ctrl.resendingTime > 0") &nbsp;({{ $ctrl.resendingTime }} seconde(n))
        
            .modal-section.modal-section-collapsed
                auth-2-f-a-info-box.flex-center.block-info-box-borderless

        .modal-footer
            .button-group.flex-grow
                //- Back
                button.button.button-light.button-sm.flex-center(
                    type="button"
                    ng-click="$ctrl.cancel()") Annuleer

                .flex.flex-grow.hide-sm &nbsp;

                //- Submit
                button.button.button-primary.button-sm.flex-center(
                    type="submit"
                    ng-disabled="$ctrl.confirmationCode.length !== 6") Verifieer

    //- Success
    form.modal-window.form(ng-if="$ctrl.step == 'success'" ng-submit="$ctrl.done()")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")
        .modal-header
            h2.modal-header-title Tweefactorauthenticatie uitschakelen

        .modal-body
            .modal-section
                .modal-section-icon.modal-section-icon-success: .mdi.mdi-check-circle-outline
                .modal-section-title Tweefactorauthenticatie is succesvol uitgeschakeld
                .modal-section-description Je tweefactorauthenticatie is succesvol uitgeschakeld

        .modal-footer: .button-group.flex-grow.flex-center
            .button.button-primary.button-sm.flex-center(ng-click="$ctrl.done()") Bevestig