- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.modal.modal-physical-cards.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']"
    role="dialog")
    
    .modal-backdrop(ng-click="$ctrl.closeModal()" aria-label="Sluiten" role="button")
    
    //- Deactivation reason
    form.modal-window(ng-if="($ctrl.state == 'reason') && $ctrl.form" ng-submit="$ctrl.showConfirmation()").form
        .modal-close
            .mdi.mdi-close(
                ng-click="$ctrl.closeModal()"
                aria-label="Sluiten"
                role="button")

        .modal-header
            h2.modal-header-title Deelname stoppen

        .modal-body
            .modal-section
                .modal-section-icon.modal-section-icon-warning: em.mdi.mdi-alert-outline
                h2.modal-section-title Je {{ $ctrl.voucher.fund.name }} deelname stoppen.
                
                .modal-section-space
                .modal-section-space

                .modal-section-notice-pane
                    .form-label Reden van stoppen:

                    .form-group.form-group-inline
                        input-radio-control(
                            fill="true"
                            ng-repeat="reason in $ctrl.reasons"
                            compact="true"
                            name="reason" 
                            label="{{ reason.value }}" 
                            value="{{ reason.key }}"
                            ng-model="$ctrl.reason")

                    .form-group(ng-if="$ctrl.reason == 'other'")
                        label.form-label(for="deactivate_voucher_note") Reden
                        textarea(
                            id="deactivate_voucher_note"
                            maxlength="140"
                            ng-model="$ctrl.form.note" 
                            placeholder="Reden").form-control.r-n
                        .form-hint Max. 140 tekens
                        .form-error(ng-repeat="error in $ctrl.form.errors.note" ng-bind="error")

        .modal-footer
            button.button.button-sm.button-light(
                type="button"
                ng-click="$ctrl.closeModal()") Annuleer

            button.button.button-sm.button-primary(
                type="submit"
                ng-if="$ctrl.reason != null") Volgende
    
    //- Deactivation confirmation
    .modal-window(ng-if="$ctrl.state == 'confirmation'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.closeModal()" aria-label="Sluiten" role="button")

        .modal-header
            h2.modal-header-title Deelname stoppen

        .modal-body
            .modal-section
                .modal-section-icon.modal-section-icon-warning: em.mdi.mdi-alert-outline

                h2.modal-section-title
                    | Weet u zeker dat u uw deelname wilt stoppen?
                
                .modal-section-description
                    | Let op: Je kunt hierna geen gebruik meer maken van je tegoed. 
                    | Je {{ $ctrl.voucher.fund.name }} tegoed wordt gedeactiveerd.

        .modal-footer
            button.button.button-sm.button-light(type="button" ng-click="$ctrl.showReasonForm()") Terug
            button.button.button-sm.button-primary(type="button" ng-click="$ctrl.form.submit()") Bevestig
    
    //- Deactivation succcess
    .modal-window(ng-if="$ctrl.state == 'success'")
        .modal-close
            .mdi.mdi-close(
                ng-click="$ctrl.closeModal()"
                aria-label="Sluiten"
                role="button")

        .modal-header
            h2.modal-header-title Deelname stoppen

        .modal-body
            .modal-section
                .modal-section-icon.modal-section-icon-success
                    em.mdi.mdi-check-circle-outline
                
                h2.modal-section-title
                    | Deelname gestopt

                .modal-section-description
                    | Je {{ $ctrl.voucher.fund.name }} deelname is gestopt.

        .modal-footer
            button.button.button-sm.button-light(
                type="button"
                ng-click="$ctrl.closeModal()") Sluiten          