.modal.modal-notification.modal-animated(
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']"
    role="dialog")
    
    .modal-backdrop(ng-click="$ctrl.cancel()" aria-label="close" role="button")
    .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" aria-label="close" role="button")
        .modal-section
            .text-center
                .modal-icon(ng-if="$ctrl.icon"): img(ng-src="{{ $ctrl.icon }}" alt="")
                
                h2.title(role="heading" id="notificationDialogTitle" translate="{{ $ctrl.title }}")
                .description(
                    id="notificationDialogSubtitle" 
                    ng-if="$ctrl.description && !$ctrl.descriptionIsArray" 
                    translate="{{ $ctrl.description }}"
                    translate-values='{email: $ctrl.email}')

                .description(id="notificationDialogSubtitle" ng-if="$ctrl.description && $ctrl.descriptionIsArray")
                    div(ng-repeat="description in $ctrl.description  track by $index" translate="{{ description }}")
                
                .description-small(ng-if="$ctrl.notice" translate="{{ $ctrl.notice }}")
                .text-center(ng-if="$ctrl.subdescription"): .subdescription(translate="{{ $ctrl.subdescription }}")
            br

            .button-group.flex-center
                button.button.button-dark(ng-if="$ctrl.showCloseBtn" data-close ng-click="$ctrl.close()" translate="{{ $ctrl.closeBtnText }}")
                button.button.button-dark(ng-if="$ctrl.showCancelBtn" data-cancel ng-click="$ctrl.cancel()" translate="{{ $ctrl.cancelBtnText }}")
                button.button.button-primary(ng-if="$ctrl.showConfirmBtn" data-confirm ng-click="$ctrl.confirm()" translate="{{ $ctrl.confirmBtnText }}")