.modal.modal-auth.modal-animated(
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? '' : 'modal-loading']" 
    role="dialog" aria-labelledby="authDialogTitle" aria-describedby="authDialogSubtitle")

    .modal-backdrop(ng-click="$ctrl.close()" aria-label="Sluiten" role="button")
    .modal-content: .modal-section
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" id="close" aria-label="Sluiten" role="button")

        .modal-title(id="authDialogTitle" translate="popup_auth.labels.activate")
        .modal-subtitle(id="authDialogSubtitle" translate="popup_auth.labels.{{ $root.client_key }}.mail")

        form.form(ng-submit="$ctrl.signUpForm.submit()")
            .form-group
                .form-label {{ "popup_auth.input.mail" | translate }}
                input(
                type="email"
                ng-model="$ctrl.signUpForm.values.email"
                placeholder="{{ 'popup_auth.input.mail' | translate }}").form-control.form-control
                .form-error(ng-repeat="error in $ctrl.signUpForm.errors.email" ng-bind="error")
            .form-group
                .form-label(translate="popup_auth.input.confirmation")
                input(
                type="email"
                ng-model="$ctrl.signUpForm.values.email_confirmation"
                placeholder="{{ 'popup_auth.input.confirmation' | translate }}").form-control.form-control
                .form-error(ng-repeat="error in $ctrl.signUpForm.errors.email_confirmation" ng-bind="error")
            .form-group
            .form-group.text-center
                button(type="submit").button.button-primary {{ "popup_auth.buttons.submit" | translate }}

        //- .modal-footer
            //- .footer-text {{ "popup_auth.labels.warning" | translate }}
