- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.modal.modal-2fa-setup.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']")
    .modal-backdrop(ng-click="$ctrl.cancel()")

    //- Select provider
    .modal-window.form.form-compact(ng-if="$ctrl.step == 'provider_select'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")
        .modal-header
            h2.modal-header-title Tweefactorauthenticatie instellen

        .modal-body
            .modal-section: .modal-section-row
                .modal-section-column.flex-gap-lg
                    .flex.flex-vertical.flex-gap
                        .modal-section-title.text-left Selecteer de authenticatie-app die u wilt gebruiken.

                        .form-group: select-control(
                            search='false' 
                            ng-model="$ctrl.provider" 
                            options="$ctrl.providers")

                    .modal-section-description.text-left
                        strong.text-strong Als je de {{ $ctrl.provider.name }} app niet hebt, 
                        | Kun je deze downloaden vanuit de #[strong.text-strong Play Store] of de #[strong.text-strong App Store].

                    .modal-section-description.text-left(ng-if="$ctrl.provider"): .block.block-app_download: .app_download-row
                        a.app_download-store_icon(href="{{ $ctrl.provider.url_android }}" target="_blank")
                            img(ng-src="./assets/img/icon-app/app-store-android-dark.svg" alt="Ontdek het op Google Play")

                        a.app_download-store_icon(href="{{ $ctrl.provider.url_ios }}" target="_blank")
                            img(ng-src="./assets/img/icon-app/app-store-ios-dark.svg" alt="Download in de App Store")

                    .modal-section-separator

                    .modal-section-description.text-left
                        strong.text-strong Als je al de Google Authenticator-app hebt, volg dan de onderstaande stappen:

                    .modal-section-description.text-left 
                        | 1. In de app, selecteer #[strong.text-strong Account instellen]
                        br
                        | 2. Kies #[strong.text-strong Scan een QR-code] of #[strong.text-strongEnter Voer een installatiesleutel in: {{ $ctrl.auth_2fa.secret }}]

                .modal-section-column.modal-section-column-aside
                    qr-code.block-qr-code-fit(
                        ng-if="$ctrl.auth_2fa.secret_url" 
                        padding="15px"
                        qr-raw="$ctrl.auth_2fa.secret_url" 
                        qr-logo=src_prefix + "./assets/img/me-logo.png")

            .modal-section.modal-section-collapsed
                auth-2-f-a-info-box.flex-center.block-info-box-borderless

        .modal-footer
            //- Cancel
            button(
                type="button" 
                ng-click="$ctrl.cancel()").button.button-light.button-sm Annuleer

            .flex.flex-grow.hide-sm &nbsp;

            //- Next
            button(
                type="submit" 
                ng-click="$ctrl.submitAuthenticator()").button.button-primary.button-sm Bevestigen

    //- Phone number
    form(ng-submit="$ctrl.submitPhoneNumber()" ng-if="$ctrl.step == 'phone_setup'").modal-window.form
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")
        .modal-header
            h2.modal-header-title Tweefactorauthenticatie instellen

        .modal-body
            .modal-section: .row: .col.col-sm-10.col-sm-offset-1.col-xs-12.col-xs-offset-0
                .modal-section-icon: include ../../../resources/_webshop-common/assets/img/icon-2fa-phone-connect.svg
                .modal-section-title Koppel je telefoonnummer

                .modal-section-description
                    | Om door te gaan, voer je telefoonnummer in
                    .modal-separator
                    .form-group: .form-label.text-strong Telefoonnummer
                    .form-group
                        phone-control(ng-model="$ctrl.phoneNumber")
                        .form-error(ng-repeat="error in $ctrl.phoneNumberError" ng-bind="error")

            .modal-section.modal-section-collapsed
                auth-2-f-a-info-box.flex-center.block-info-box-borderless

        .modal-footer: .button-group.flex-grow
            //- Cancel
            button(
                type="button" 
                ng-click="$ctrl.cancel()").button.button-light.button-sm.flex-center Annuleer

            .flex.flex-grow.hide-sm &nbsp;

            //- Next
            button(
                type="submit").button.button-primary.button-sm.flex-center Bevestigen

    //- Auth 2FA provider code confirmation
    form.modal-window.form(
        ng-if="$ctrl.step == 'provider_confirmation'"
        ng-submit="$ctrl.confirmationCode.length !== 6 ? null : $ctrl.activateProvider()")

        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")
        .modal-header
            h2.modal-header-title Tweefactorauthenticatie instellen

        .modal-body
            .modal-section
                .modal-section-title Om door te gaan, voer de tweefactorauthenticatie beveiligingscode in.

                .modal-section-description
                    .form-group
                        .form-label(ng-if="$ctrl.type == 'phone'") Voer de 6-cijferige SMS-code in
                        .form-label(ng-if="$ctrl.type == 'authenticator'") Voer de 6-cijferige code in vanuit de app

                        pincode-control(
                            ng-model="$ctrl.confirmationCode" 
                            block-size="3" 
                            block-count="2" 
                            block-input-type="num")
                        
                        .form-error(ng-repeat="error in $ctrl.confirmationCodeError" ng-bind="error")
                
                .modal-section-description(ng-if="$ctrl.type == 'phone'")
                    button.button.button-text.button-text-primary.button-sm(
                        type="button" 
                        ng-click="$ctrl.resendCode()" 
                        ng-disabled="$ctrl.resendingTime > 0")

                        .mdi.mdi-refresh.icon-start(ng-class="$ctrl.sendingCode ? 'mdi-spin' : ''")
                        | Code opnieuw verzenden
                        span(ng-if="$ctrl.resendingTime > 0") &nbsp;({{ $ctrl.resendingTime }} seconde(n))

            .modal-section.modal-section-collapsed
                auth-2-f-a-info-box.flex-center.block-info-box-borderless

        .modal-footer: .button-group.flex-grow
            //- Back
            button.button.button-light.button-sm.flex-center(
                type="button"
                ng-click="$ctrl.setStep($ctrl.type == 'phone' ? 'phone_setup' : 'provider_select')") Terug

            .flex.flex-grow.hide-sm &nbsp;

            //- Submit
            button.button.button-primary.button-sm.flex-center(
                type="submit"
                ng-disabled="$ctrl.confirmationCode.length !== 6") Verifieer

    //- Auth 2FA provider code verification
    form.modal-window.form(
        ng-if="$ctrl.step == 'provider_verification'"
        ng-submit="$ctrl.confirmationCode.length !== 6 ? null : $ctrl.verifyAuthProvider()")

        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")
        .modal-header
            h2.modal-header-title Tweefactorauthenticatie

        .modal-body
            .modal-section.form
                .modal-section-title(ng-if="$ctrl.auth_2fa.provider_type.type == 'phone'") 
                    | Om door te gaan, voer alstublieft de 6-cijferige SMS-code in die naar je telefoonnummer is verzonden.

                .modal-section-title(ng-if="$ctrl.auth_2fa.provider_type.type == 'authenticator'") 
                    | Om door te gaan, voer de 6-cijferige beveiligingscode in van {{ $ctrl.auth_2fa.provider_type.name }}.

                .modal-section-description
                    .form-group
                        .form-label(ng-if="$ctrl.auth_2fa.provider_type.type == 'phone'")
                            .text-strong Voer de 6-cijferige SMS-code in

                        .form-label(ng-if="$ctrl.auth_2fa.provider_type.type == 'authenticator'")
                            .text-strong Voer de 6-cijferige code in vanuit de app

                        pincode-control(
                            ng-model="$ctrl.confirmationCode" 
                            block-size="3" 
                            block-count="2" 
                            block-input-type="num")
                        
                        .form-error(ng-repeat="error in $ctrl.confirmationCodeError" ng-bind="error")
                
                .modal-section-description(ng-if="$ctrl.type == 'phone'")
                    button.button.button-text.button-text-primary.button-sm(
                        type="button"
                        ng-click="$ctrl.resendCode()"
                        ng-disabled="$ctrl.resendingTime > 0")
                        .mdi.mdi-refresh.icon-start(ng-class="$ctrl.sendingCode ? 'mdi-spin' : ''")
                        | Code opnieuw verzenden
                        span(ng-if="$ctrl.resendingTime > 0") &nbsp;({{ $ctrl.resendingTime }} seconde(n))

            .modal-section.modal-section-collapsed
                auth-2-f-a-info-box.flex-center.block-info-box-borderless

        .modal-footer: .button-group
            //- Cancel
            button.button.button-light.button-sm(
                type="button"
                ng-click="$ctrl.cancel()") Annuleer

            .flex.flex-grow.hide-sm &nbsp;

            //- Submit
            button.button.button-primary.button-sm(
                type="submit"
                ng-disabled="$ctrl.confirmationCode.length !== 6") Verifieer

    //- Success (login)
    .modal-window(ng-if="$ctrl.step == 'success' && $ctrl.auth")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")
        .modal-header
            h2.modal-header-title Tweefactorauthenticatie

        .modal-body: .modal-section
            .modal-section-icon.modal-section-icon-success: .mdi.mdi-check-circle-outline
            .modal-section-title Het is gelukt!
            .modal-section-description
                | Je bent succesvol ingelogd met tweefactorauthenticatie.
                | Welkom terug!

        .modal-footer: .button-group: button.button.button-primary.button-sm(ng-click="$ctrl.done()") Bevestigen

    //- Success (setup)
    .modal-window(ng-if="$ctrl.step == 'success' && !$ctrl.auth")
            .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" role="button")
            .modal-header
                h2.modal-header-title Tweefactorauthenticatie instellen

            .modal-body: .modal-section
                .modal-section-icon.modal-section-icon-success: .mdi.mdi-check-circle-outline
                .modal-section-title Tweefactorauthenticatie succesvol ingesteld
                .modal-section-description
                    | Je tweefactorauthenticatie is succesvol ingesteld.
                    | Je account is nu extra beveiligd.

            .modal-footer: .button-group
                button.button.button-primary.button-sm.flex-center(ng-click="$ctrl.done()") Bevestigen