.modal.modal-product-reserve.modal-animated.modal-sm(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']"
    role="dialog"
    dusk="modalProductReserveForm")

    //- Modal backdrop
    .modal-backdrop(ng-click="$ctrl.close()" aria-label="Sluiten" role="button")

    //- Modal window
    .modal-window(ng-if="$ctrl.state == 'fill_notes'")
        //- Modal close
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" id="close" aria-label="Sluiten" role="button")

        //- Modal content
        .modal-content: .modal-section

            //- Title
            .title(translate="modal_product_reserve_notes.fill_notes.header.title")

            //- description
            .description.text-center(
                i18n="modal_product_reserve_notes.fill_notes.header.subtitle" 
                i18n-vars="{ provider_name: $ctrl.provider.name }")

            //- Email setup
            .row: .col.col-xs-12.col-md-12(ng-if="$ctrl.emailSetupShow")
                .block.block-email-setup
                    .block-email-setup-details(ng-if="!$ctrl.emailShowForm")
                        img.block-email-setup-details-logo(src="./assets/img/modal/product-reservation-info.svg")
                        .block-email-setup-details-description Momenteel heeft u geen e-mailadres gekoppeld aan uw account.

                        button.button.button-sm.button-primary(ng-click="$ctrl.addEmail()") E-mail toevoegen

                    .block-email-setup-details(ng-if="$ctrl.emailShowForm && !$ctrl.emailSubmitted") 
                        img.block-email-setup-details-logo(src="./assets/img/modal/product-reservation-info.svg")

                        form.form.flex-grow
                            .form-group.form-group-inline
                                ui-control-email(ng-model="$ctrl.emailForm.values.email" data-placeholder="e-mail@e-mail.nl" data-id="email" tabindex="1")
                                .form-error(ng-repeat="error in $ctrl.emailForm.errors.email" ng-bind="error")
                        
                        button.button.button-sm.button-primary(type="submit" ng-click="$ctrl.emailForm.submit()") E-mail toevoegen

                    .block-email-setup-details(ng-if="$ctrl.emailSubmitted")
                        img.block-email-setup-details-logo(src="./assets/img/modal/product-reservation-info.svg")
                        .block-email-setup-details-description An email was sent to the indicated address, please confirm it
                    
                    .block-email-setup-description
                        span Dat betekent dat de aanbieder geen informatie heeft om contact met je op te nemen en je te informeren over de reservering. Voeg een e-mailadres toe aan uw account of gebruik het aanvullende notitietekstveld om contactinformatie op te geven voordat u de reservering maakt.

            //- Product reservation
            .row: .col.col-xs-12.col-md-12: form(ng-submit="$ctrl.productReserve()").form
                //- Full name
                .row
                    //- First name
                    .col.col-lg-6.form-group.form-group-margin
                        .form-label(translate="modal_product_reserve_notes.fill_notes.labels.first_name")
                        input(
                            type="text"
                            ng-model="$ctrl.form.values.first_name"
                            placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.first_name' | translate }}"
                            dusk="productReserveFormFirstName").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.first_name" ng-bind="error")

                    //- Last name
                    .col.col-lg-6.form-group.form-group-margin
                        .form-label(translate="modal_product_reserve_notes.fill_notes.labels.last_name")
                        input(
                            type="text"
                            ng-model="$ctrl.form.values.last_name"
                            placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.last_name' | translate }}"
                            dusk="productReserveFormLastName").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.last_name" ng-bind="error")
                    .form-error(ng-repeat="error in $ctrl.form.errors.notes" ng-bind="error")

                .row
                    .form-group.form-group-margin(
                        ng-repeat="field in $ctrl.fields"
                        ng-class="'col col-lg-' + (field.fullWidth ? '12' : '6')")
                        .form-label(ng-bind="field.label")

                        //- custom field
                        .form-group-info(ng-if="field.custom" ng-class="field.showInfo ? 'active' : ''")
                            .form-group-info-control: input.form-control(
                                ng-if="['text', 'number'].includes(field.type)"
                                type="{{ field.type }}"
                                ng-model="$ctrl.form.values.custom_fields[field.key]"
                                placeholder="{{ field.placeholder }}"
                                dusk="{{ field.dusk }}")

                            .form-group-info-button(
                                ng-click="field.showInfo = !field.showInfo; $event.stopPropagation()"
                                ng-if="field.description"): em.mdi.mdi-information

                            .block.block-info-box.block-info-box-primary(
                                ng-if="field.description" 
                                click-outside="field.showInfo = false")
                                .info-box-icon.mdi.mdi-information-outline
                                .info-box-content: .block.block-markdown: p(ng-bind="field.description")

                        //- default field
                        input.form-control(
                            ng-if="!field.custom && ['text', 'number'].includes(field.type)"
                            type="{{ field.type }}"
                            ng-model="$ctrl.form.values[field.key]"
                            placeholder="{{ field.placeholder }}"
                            dusk="{{ field.dusk }}")

                        //- default field (datepicker)
                        datepicker(
                            ng-if="!field.custom && field.type === 'date'"
                            date-format="yyyy-MM-dd"
                            datepicker-mobile=""
                            date-max-limit="{{ $ctrl.dateMinLimit + '' }}"
                            date-week-start-day="1").form-control
                            input(
                                ng-model="$ctrl.form.values[field.key]"
                                type="text"
                                placeholder="jjjj-MM-dd").form-control

                        .form-error(ng-if="field.custom" ng-repeat="error in $ctrl.form.errors['custom_fields.' + field.key]" ng-bind="error")
                        .form-error(ng-if="!field.custom" ng-repeat="error in $ctrl.form.errors[field.key]" ng-bind="error")

                //- User note
                .form-group
                    .form-label(translate="modal_product_reserve_notes.fill_notes.labels.notes")
                    textarea.form-control(
                        ng-model="$ctrl.form.values.user_note" 
                        placeholder="{{ 'modal_product_reserve_notes.fill_notes.placeholders.notes' | i18n }}"
                        dusk="productReserveFormNote")
                    .form-error(ng-repeat="error in $ctrl.form.errors.user_note" ng-bind="error")

                //- Submit
                .form-group.text-center
                    button(
                        type="submit" 
                        dusk="btnSubmit"
                        translate="popup_auth.buttons.submit").button.button-dark.button-wide

    //- Reservation confirmation
    .modal-window(ng-if="$ctrl.state == 'confirm_notes'")
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()" aria-label="Sluiten" role="button")

        .modal-content: .modal-section
            .title(translate="modal_product_reserve_notes.confirm_notes.header.title")
            .description.text-center(dusk="productReserveConfirmDetails")
                br
                //- Title
                strong(translate="modal_product_reserve_notes.confirm_notes.modal_section.title")
                br
                br

                //- First name
                strong(translate="modal_product_reserve_notes.confirm_notes.labels.first_name")
                br
                span(ng-bind="$ctrl.form.values.first_name")
                br
                br

                //- Last name
                strong(translate="modal_product_reserve_notes.confirm_notes.labels.last_name")
                br
                span(ng-bind="$ctrl.form.values.last_name")
                br
                br

                //- Other fields
                div(ng-repeat="field in $ctrl.fields")
                    strong(
                        ng-if="!field.custom"
                        translate="modal_product_reserve_notes.confirm_notes.labels.{{ field.key }}")
                    strong(ng-if="field.custom" ng-bind="field.label")
                    br
                    span(ng-if="!field.custom" ng-bind="$ctrl.form.values[field.key]")
                    span(ng-if="field.custom" ng-bind="$ctrl.form.values.custom_fields[field.key]")
                    br
                    br
    
                //- User note
                div(ng-if="$ctrl.form.values.user_note")
                    strong(translate="modal_product_reserve_notes.confirm_notes.labels.notes")
                    br
                    span(ng-bind="$ctrl.form.values.user_note")
                br

            //- Actions
            .button-group.flex-center
                //- Back to form
                button.button.button-light(
                    type="button" 
                    translate="modal_product_reserve_notes.confirm_notes.buttons.adjust" 
                    ng-click="$ctrl.state = 'fill_notes'")

                //- Submit 
                button.button.button-dark(
                    type="button" 
                    translate="modal_product_reserve_notes.confirm_notes.buttons.submit" 
                    ng-click="$ctrl.confirmSubmit()"
                    dusk="btnConfirmSubmit")
