.modal.modal-notification.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']"
    role="dialog")
    
    .modal-backdrop(ng-click="$ctrl.cancel()" aria-label="Sluiten" role="button")
    
    .modal-window
        .modal-close.mdi.mdi-close(ng-click="$ctrl.cancel()" aria-label="Sluiten" role="button")
                
        .modal-header    
            h2.modal-title(role="heading" id="notificationDialogTitle" translate="{{ $ctrl.headerTitle || $ctrl.title }}")
        
        .modal-body: .modal-content: .modal-section
            .text-center
                .modal-icon-mdi(
                    ng-if="$ctrl.mdiIconType && $ctrl.mdiIconClass" 
                    ng-class="'modal-icon-mdi-' + $ctrl.mdiIconType"): .mdi(ng-class="'mdi-' + $ctrl.mdiIconClass")
                .modal-icon(ng-if="$ctrl.icon"): img(ng-src="{{ $ctrl.icon }}" alt="")
                
                .title(ng-if="$ctrl.title" translate="{{ $ctrl.title }}")

                .description(
                    id="notificationDialogSubtitle" 
                    ng-if="$ctrl.description && !$ctrl.descriptionIsArray" 
                    translate="{{ $ctrl.description }}"
                    translate-values='{email: $ctrl.email}')

                .description(id="notificationDialogSubtitle" ng-if="$ctrl.description && $ctrl.descriptionIsArray")
                    div(ng-repeat="description in $ctrl.description  track by $index" translate="{{ description }}")
                
                .text-center(ng-if="$ctrl.subdescription"): .subdescription(translate="{{ $ctrl.subdescription }}")

        .modal-footer
            button.button.button-sm.button-light(ng-if="$ctrl.showCloseBtn" data-close ng-click="$ctrl.close()" translate="{{ $ctrl.closeBtnText }}")
            button.button.button-sm.button-light(ng-if="$ctrl.showCancelBtn" data-cancel ng-click="$ctrl.cancel()" translate="{{ $ctrl.cancelBtnText }}")
            button.button.button-sm.button-primary(ng-if="$ctrl.showConfirmBtn" data-confirm ng-click="$ctrl.confirm()" translate="{{ $ctrl.confirmBtnText }}")