.modal.modal-auth
    .modal-backdrop(ng-click="$ctrl.close()")
    .modal-content
        .modal-close.mdi.mdi-close(ng-click="$ctrl.close()")

        .modal-title {{ "popup_auth.labels.activate" | translate }}
        .modal-subtitle {{ "popup_auth.labels.mail" | translate }}

        form.form(ng-submit="$ctrl.signUpForm.submit()")
            .form-group
                .form-label {{ "popup_auth.input.mail" | translate }}
                input(
                type="email"
                ng-model="$ctrl.signUpForm.values.records.primary_email"
                placeholder="{{ 'popup_auth.input.mail' | translate }}").form-control.form-control
                .form-error(ng-repeat="error in $ctrl.signUpForm.errors['records.primary_email']" ng-bind="error")
            .form-group
                .form-label(translate="popup_auth.input.confirmation")
                input(
                type="email"
                ng-model="$ctrl.signUpForm.values.records.primary_email_confirmation"
                placeholder="{{ 'popup_auth.input.confirmation' | translate }}").form-control.form-control
                .form-error(ng-repeat="error in $ctrl.signUpForm.errors['records.primary_email_confirmation']" ng-bind="error")
            .form-group
            .form-group: button(type="submit").button.button-primary.button-fill {{ "popup_auth.buttons.submit" | translate }}

        //-.modal-footer
            //-.footer-text {{ "popup_auth.labels.warning" | translate }}
