- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.modal.modal-physical-cards.modal-animated(
    ng-if="$ctrl.modal.ready"
    ng-class="[$ctrl.modal.scope.modalClass, $ctrl.modalClass, $ctrl.modal.loaded ? 'modal-loaded' : '']"
    role="dialog")

    .modal-backdrop(ng-click="$ctrl.closeModal()" aria-label="Sluiten" role="button")

    //- Confirm unlinking
    .modal-window(ng-if="$ctrl.state == 'start'")
        .modal-close
            .mdi.mdi-close(
                ng-click="$ctrl.closeModal()" 
                aria-label="Sluiten" 
                role="button")

        .modal-header
            h2.modal-header-title(translate="physical_card.modal_section.link_card_unlink.title")

        .modal-body: .modal-section
            .modal-section-icon.modal-section-icon-warning
                em.mdi.mdi-alert-outline

            .modal-section-description
                | Wil je je pas met pasnummer #[span.label.label-dark-outline(ng-bind="$ctrl.voucher.physical_card.code")] blokkeren?

        .modal-footer
            button.button.button-sm.button-light(
                type="button" 
                ng-click="$ctrl.closeModal()" 
                translate="physical_card.modal_section.link_card_unlink.buttons.cancel")

            button.button.button-sm.button-dark(
                type="button" 
                ng-click="$ctrl.unlink()" 
                translate="physical_card.modal_section.link_card_unlink.buttons.submit")

    //- Card unlinked
    .modal-window(ng-if="$ctrl.state == 'unlinked'")
        .modal-close
            .mdi.mdi-close(
                ng-click="$ctrl.closeModal()" 
                aria-label="Sluiten"
                role="button")

        .modal-header
            h2.modal-header-title Pas geblokkeerd!

        .modal-body: .modal-section
            .modal-section-icon.modal-section-icon-success
                em.mdi.mdi-check-circle-outline

            .modal-section-description
                | Je pas met pasnummer: #[span.label.label-dark-outline(ng-bind="$ctrl.voucher.physical_card.code")] is geblokkeerd!

        .modal-footer
            button.button.button-sm.button-light(type="button" ng-click="$ctrl.closeModal()") Afsluiten
            button.button.button-sm.button-dark(type="button" ng-click="$ctrl.requestNewCard()") Bestel nieuwe pas