- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.block.block-login
    .block-login-content
        .block-login-header
            .block-login-header-title Login met e-mail
            .block-login-header-description Vul uw e-mailadres in om een link te ontvangen waarmee u kunt inloggen
        
        .block-login-form  
            .form.row: .col.col-lg-12.form-group
                .form-label E-mailadres
                .flex-row
                    .flex-col.flex-grow
                        input(type="email" placeholder="E-mail address" ng-model="form.values.email").form-control
                        .form-error(ng-repeat="error in form.errors.email" ng-bind="error")
                    
                    .flex-col: button.button.button-primary(ng-click="login()") Login

        .block-login-me-app
            .auth-qr_code.hidden-xs
                .qr_code-container
                    .qr_code-description
                        .auth-title Login met Me-app
                        | Scan de QR-code aan de rechterzijde met de QR-scanner in de Me-app. 
                        | #[br] #[br]
                        | De Me-app wordt gebruikt om makkelijk en veilig in te loggen, betalingen te doen en vouchers te beheren.
                        | #[br] #[br]

                        .qr_code-download-app
                            a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676").download-link
                                img(src="./assets/img/landing/icon-app-ios.svg")
                            a(href="https://play.google.com/store/apps/details?id=io.forus.me")
                                img(src="./assets/img/landing/icon-app-android.svg").download-link

                    .qr_code-block
                        button.button.button-primary(
                            ng-if="!qrValue" 
                            ng-click="showQrForm()") Open QR
                        qr-code(
                            ng-if="qrValue" 
                            qr-value="qrValue" 
                            qr-type="auth_token" qr-logo=src_prefix + "./assets/img/me-logo.png")
                
    .block-login-footer
        .block-login-footer-title Nog geen account?
        .block-login-footer-button(ng-click="register()") Inschrijven