- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

.block.block-login(ng-show="!$rootScope.auth_user && showForm"): .block-login-window
    //- Auth form
    .block-login-content(ng-if="!emailSent")
        .block-login-title Login met e-mail
        .block-login-description Vul uw e-mailadres in om een link te ontvangen waarmee u kunt inloggen
        
        .block-login-form
            form(ng-submit="form.submit()" dusk="authEmailForm").form
                .form-label E-mailadres
                .block-login-control
                    .flex.form-group
                        input(type="email" placeholder="bijv. info@info.nl" ng-model="form.values.email" dusk="authEmailFormEmail" autofocus).form-control
                        .form-error(ng-repeat="error in form.errors.email" ng-bind="error")
                    .flex: button.button.button-primary(type="submit" dusk="authEmailFormSubmit") Login

        .block-login-me_app
            .qr_code-container
                .auth-title Login met Me-app
                .auth-description
                    | Scan de QR-code aan de rechterzijde met de QR-scanner in de Me-app. 
                    | #[br] #[br]
                    | De Me-app wordt gebruikt om makkelijk en veilig in te loggen, betalingen te doen en tegoeden te beheren.
                    | #[br] #[br]

                app-links

            .qr_code-block
                .qr_code-block-placeholder(ng-if="!qrValue" ): button.button(
                    ng-click="showQrForm()") 
                    em.mdi.mdi-qrcode.icon-start
                    | Open QR
                qr-code(
                    ng-if="qrValue" 
                    qr-value="qrValue" 
                    qr-type="auth_token" qr-logo=src_prefix + "./assets/img/me-logo.png")

    //- Footer
    .block-login-footer(ng-if="!emailSent")
        .block-login-footer-title Nog geen account?
        a(ui-sref="sign-up").block-login-footer-button Inschrijven
    
    //- Email sent message
    .block-login-content(ng-if="emailSent" dusk="authEmailSentConfirmation")
        .block-login-email_sent
            .block-login-email_sent-icon: img(src=src_prefix + "./assets/img/sign_up-email.svg").sign_up-email_sent-icon-img
            .block-login-email_sent-title(translate="popup_auth.labels.join")
            .block-login-email_sent-text(translate="popup_auth.notifications.link" translate-values="{{ form.values }}")

    email-provider-link(email="form.values.email")