.block.block-navbar(menu_scroll_toggle)
    a(href="{{ $root.appConfigs.frontends.webshop }}" target="_self").navbar-logo
        img(ng-src="./assets/img/landing/logo-normal.svg")
        img(ng-src="./assets/img/landing/logo-hover.svg").hover
    nav.navbar-list
        a(
            href="{{ $root.appConfigs.frontends.url_sponsor }}"
            ng-class="$root.appConfigs.panel_type=='sponsor'?'active':''").navbar-item GEMEENTE
        a(
            href="{{ $root.appConfigs.frontends.url_provider }}"
            ng-class="$root.appConfigs.panel_type=='provider'?'active':''").navbar-item AANBIEDER
        //a(
            href="{{ $root.appConfigs.frontends.url_validator }}"
            ng-class="$root.appConfigs.panel_type=='validator'?'active':''").navbar-item VALIDATOR
        a(href="{{ $root.appConfigs.frontends.url_app }}").navbar-item ME
        a(href="{{ $root.appConfigs.frontends.url_webshop }}").navbar-item WEBSHOP
    .block.block-auth
        .auth-in(ng-if="$root.auth_user")
            .auth-user
                .auth-user-email(ng-bind="$root.auth_user.primary_email")
                .auth-user-type(translate="topnavbar.items.identity")
                .auth-user-avatar
                    img(src="./assets/img/landing/identity-avatar.svg")
                    nav.auth-user-menu
                        .triangle
                        .inner
                            .auth-user-menu-item(ui-sref="organizations")
                                em.mdi.mdi-account
                                | Open dashboard
                            .auth-user-menu-item(ng-click="$root.openPinCodePopup()")
                                em.mdi.mdi-cellphone
                                span(translate="topnavbar.buttons.authorize")

                            .auth-user-menu-separator.show-sm
                            div(ng-click="$root.signOut()").auth-user-menu-item
                                img(src="./assets/img/landing/icon-menu/icon-menu-sign-out.svg")
                                span(translate="topnavbar.buttons.logout")
        
        .auth-out(ng-if="!$root.auth_user")
            .button.button-default(ng-click="openAuthPopup()")
                em.mdi.mdi-account
                //- img(src="./assets/img/icon-btn/icon-btn-user.svg")
                | Aanmelden
