.block.block-navbar(menu_scroll_toggle)
    a(href="{{ $root.appConfigs.frontends.webshop }}").navbar-logo
        img(src="./assets/img/landing/{{ $root.appConfigs.client_key == 'nijmegen' ? 'nijmegen' : 'forus' }}-logo-normal.svg")
        img(src="./assets/img/landing/{{ $root.appConfigs.client_key == 'nijmegen' ? 'nijmegen' : 'forus' }}-logo-hover.svg").hover
    nav.navbar-list
        a(
            href="{{ $root.appConfigs.frontends.sponsor }}"
            ng-class="$root.appConfigs.panel_type=='sponsor'?'active':''").navbar-item GEMEENTE
        a(
            href="{{ $root.appConfigs.frontends.provider }}"
            ng-class="$root.appConfigs.panel_type=='provider'?'active':''").navbar-item AANBIEDER
        //a(
            href="{{ $root.appConfigs.frontends.validator }}"
            ng-class="$root.appConfigs.panel_type=='validator'?'active':''").navbar-item VALIDATOR
        a(href="{{ $root.appConfigs.frontends.me_app }}").navbar-item ME
        a(href="{{ $root.appConfigs.frontends.webshop }}").navbar-item WEBSHOP
    .block.block-auth
        .auth-in(ng-if="$root.auth_user")
            .button.button-default(ui-sref="organizations")
                em.mdi.mdi-account
                //- img(src="./assets/img/icon-btn/icon-btn-user.svg")
                | Open dashboard
        
        .auth-out(ng-if="!$root.auth_user")
            .button.button-default(ng-click="$root.popups.auth.open('choose')")
                em.mdi.mdi-account
                //- img(src="./assets/img/icon-btn/icon-btn-user.svg")
                | Aanmelden
