extends ../layout/layout-markup
block content
    .card-heading: .flex-row
        .flex-col Validators
        .flex-col.text-right.form: .flex-row
            .flex-col.flex-grow: label.form-label(for="auto_validate") Auto accept
            .flex-col: label.form-toggle(for="auto_validate").flex-end
                input(type="checkbox" checked=active id="auto_validate")
                .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot

    mixin fund_item(id, title, state, buttons=true)
        .card
            .card-section
                .card-section-actions: .tag.tag-success Active

                .card-block.card-block-fund
                    .fund-img: img(src="./assets/img/zuidhorn-logo.jpg", alt="")
                    a(href="#").fund-title=title
                    br
                    a(href="#").fund-organization Gemeente Zuidhorn
            
            .card-section: .form
                .block.block-card-toggleable
                    .block-title List of criterias
                    
                    mixin toggleable_row_toggle(toggle_id, title)
                        .card-toggleable
                            label(for=("option_" + toggle_id)).card-toggleable-label=title
                            div: label.form-toggle(for=("option_" + toggle_id))
                                input(type="checkbox" checked=active id=("option_" + toggle_id))
                                .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot
                    
                    mixin toggleable_row_button(title, active=true)
                        .card-toggleable
                            label.card-toggleable-label=title
                            
                            if (!active)
                                .button.button-primary
                                    em.mdi.mdi-check-circle.icon-start
                                    | Toevoegen
                            
                            if (active)
                                .button.button-default
                                    em.mdi.mdi-close.icon-start
                                    | Verwijderen
                    if (!buttons)
                        +toggleable_row_toggle(id + '_1', 'Leeftijd')
                        +toggleable_row_toggle(id + '_2', 'Maandloon')
                        +toggleable_row_toggle(id + '_3', 'Uitkering (netto)')
                        +toggleable_row_toggle(id + '_4', 'Kindgebonden budget')
                        +toggleable_row_toggle(id + '_5', 'Gemeente')

                    if (buttons)
                        +toggleable_row_button('Leeftijd', false)
                        +toggleable_row_button('Maandloon', false)
                        +toggleable_row_button('Uitkering (netto)', false)
                        +toggleable_row_button('Kindgebonden budget')
                        +toggleable_row_button('Gemeente')


            .card-section.card-section-primary.text-right
                a(href="#").button.button-default
                    em.mdi.mdi-close.icon-start 
                    | Decline all

                a(href="#").button.button-primary
                    em.mdi.mdi-plus-circle.icon-start 
                    | Accept all

    +fund_item(1, "Kindpakket 2018", "active")
    +fund_item(2, "Kindpakket 2018", "active", false)
    +fund_item(3, "Kindpakket 2018", "active", false)
