extends ../layout/layout-markup
block content
    .card-heading General information
    .card
        .card-section.card-section-narrow
            .block.block-entity-overview
                .entity-photo
                    img(src="./assets/img/zuidhorn-logo.jpg").entity-photo-img
                    .entity-photo-abbr
                .entity-details: .entity-title Lidl Nederland GmbH
            .card-section-actions: .button.button-default.button-sm
                | Weigeren en verberg 
                em.mdi.mdi-close.icon-end

        .card-section.card-section-primary.card-section-narrow
            .flex-row.flex-grow
                .flex-col: .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                    .card-block-listing-label Email
                    .card-block-listing-value.text-primary-light contacts@4vestvverkwartier.nl
                
                .flex-col: .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                    .card-block-listing-label Website
                    .card-block-listing-value.text-primary-light https://4vestvverkwartier.nl
                
                .flex-col: .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                    .card-block-listing-label Telefonnummer
                    .card-block-listing-value 06557983340
                
                .flex-col: .card-block.card-block-listing.card-block-listing-inline.card-block-listing-variant
                    .card-block-listing-label KVK
                    .card-block-listing-value 2476908
    
    mixin employees_row(id)
        tr
            td #{"Employee " + id}
            td #{"employee_" + id + "@example.com"}

    mixin offices_row(address = "Havenstraat 71, 1271 AD Huizen, Postbus 198", phone = "0615 261 612")
        tr
            td=address
            td=phone

    mixin products_row(id, name, price, oldPrice, allowed)
        tr
            td.td-narrow: img(src="./assets/img/placeholders/product-small.png").td-media
            td=name
            td #{id % 2 == 0 ? 'Ongelimiteerd' : id * 10}
            td
                | #{price}
                .text-muted.text-sm=oldPrice
            td.td-narrow
                .button-group.flex-end
                    if (!allowed)
                        a(href="#").button.button-primary.button-sm.nowrap
                            em.mdi.mdi-play.icon-start
                            | Start actie
                    if (allowed)
                        div
                            .tag.tag-success.nowrap
                                | Actie actief 
                                a(href="#").mdi.mdi-close
                            .hidden
                    a(href="fund-provider-subsidie-product.html").button.button-default.button-sm: em.mdi.mdi-eye-outline
    
    mixin table_paginator()
        .card-section.card-section-narrow: .table-pagination
            .table-pagination-counter 8 results
            .table-pagination-navigation
                button(disabled).button.button-default Prev
                button.button.button-primary 1
                button.button.button-default 2
                button.button.button-default 3
                button(disabled).button.button-default Next


    .card
        .card-header: .flex-row
            .flex-col: .card-title Aanbiedingen
            .flex-col: .card-header-drown: .block.block-inline-filters
                .form(ng-if="!$ctrl.filters.show"): .form-group: input(placeholder="Search").form-control

        .card-section.card-section-padless: .table-wrapper: table.table
            tr
                th.td-narrow Afbeelding
                th Naam
                th Aantal
                th Prijs
                th
            
            -for (id = 1; id <= 5; ++id)
                +products_row(id, 'Schilderatelier/cursus voor beginners ' + id, '€20,-', '€25,-', id % 2 == 0)
        
        +table_paginator()

    .card
        .card-header: .flex-row
            .flex-col: .card-header-drown: .block.block-label-tabs
                a.label-tab.active Medewerkers
                a.label-tab Vestigingen
            .flex-col: .card-header-drown: .block.block-inline-filters
                .form(ng-if="!$ctrl.filters.show"): .form-group: input(placeholder="Search").form-control

        .card-section.card-section-padless: .table-wrapper: table.table
            tr
                th.td-narrow Naam
                th Email
            
            -for (id = 1; id <= 5; ++id)
                +employees_row('0' + id)
        
        +table_paginator()

    .card
        .card-header: .flex-row
            .flex-col: .card-header-drown: .block.block-label-tabs
                a.label-tab Medewerkers
                a.label-tab.active Vestigingen
            .flex-col: .card-header-drown: .block.block-inline-filters
                .form(ng-if="!$ctrl.filters.show"): .form-group: input(placeholder="Search").form-control

        .card-section.card-section-padless: .table-wrapper: table.table
            tr
                th.td-narrow Address
                th Phone
            
            -for (id = 1; id <= 5; ++id)
                +offices_row()
        
        +table_paginator()
