extends ../layout/layout-markup
block content
    .card(class=(state=='closed'?'card-outline':'')).form
        .card-header: .card-title Nieuw fonds toevoegen
        .card-section.card-section-primary
            .form-group.form-group-inline
                label.form-label.hidden-md  
                .form-offset
                    .block.block-photo-selector()
                        .photo-img: img(src='./assets/img/placeholders/image-thumbnail.png')
                        .photo-label Afbeelding
                        a.button.button-primary(href='#')
                            em.mdi.mdi-upload.icon-start
                            | Upload

        .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
            .form-group.form-group-inline
                label.form-label Naam
                input.form-control(type='text' placeholder='Naam')
                input(type='hidden' autocomplete='off')

        .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
            .form-group.form-group-inline
                label.form-label Omschrijving
                textarea.form-control(maxlength='140' placeholder='Omschrijving')

        .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
            .form-group.form-group-inline
                label.form-label Fund type
                .form-offset: .block.block-fund_types
                    .fund_type-item: .fund_type-item-inner
                        .fund_type-media: img.fund_type-media-img(src='./assets/img/fund-types/icon-fund-actions.svg')
                        .fund_type-name Financieel budget
                        .fund_type-check: .mdi.mdi-check
                    .fund_type-item.active: .fund_type-item-inner
                        .fund_type-media: img.fund_type-media-img(src='./assets/img/fund-types/icon-fund-budget.svg')
                        .fund_type-name Acties
                        .fund_type-check: .mdi.mdi-check

        .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
            .form-group.form-group-inline
                label.form-label Fund type
                .form-offset: .block.block-fund_types
                    .fund_type-item.fund_type-item-read: .fund_type-item-inner
                        .fund_type-media: img.fund_type-media-img(src='./assets/img/fund-types/icon-fund-actions-read.svg')
                        .fund_type-name Financieel budget
                        .fund_type-check: .mdi.mdi-check
                    .fund_type-item.fund_type-item-read: .fund_type-item-inner
                        .fund_type-media: img.fund_type-media-img(src='./assets/img/fund-types/icon-fund-budget-read.svg')
                        .fund_type-name Acties
                        .fund_type-check: .mdi.mdi-check

        .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
            .form-group.form-group-inline
                label.form-label Startdatum
                input.form-control(type='text' placeholder='dd-MM-jjjj' disabled='disabled')

            .form-group.form-group-inline
                label.form-label Einddatum
                input.form-control(type='text' placeholder='dd-MM-jjjj' disabled='disabled')

        .card-section.card-section-primary: .row: .col.col-lg-9.col-md-12
            .form-group.form-group-inline
                label.form-label Products
                .form-offset: .flex-row
                    .flex-coll.flex-grow: .flex-grow.select-control: .select-control-input
                        label.select-control-search.form-control Selecteer aanbieding...
                    .flex-coll: .button.button-primary.button-icon: em.mdi.mdi-close

            .form-group.form-group-inline
                label.form-label
                .form-offset: .flex-row
                    .flex-coll.flex-grow: .flex-grow.select-control: .select-control-input
                        label.select-control-search.form-control Selecteer aanbieding...
                    .flex-coll: .button.button-primary.button-icon: em.mdi.mdi-close

            .form-group.form-group-inline
                label.form-label
                .button.button-primary
                    em.mdi.mdi-plus-circle.icon-start
                    translate Aanbieding toevoegen

        .card-section.card-section-primary: .row
            .form-group.form-group-inline.col.col-lg-9.col-md-12
                label.form-label Standaard validator
                select.form-control
                    option(label='None' value='object:null' selected='selected') None
                    option(label='hcn@rminds.io' value='number:1') hcn@rminds.io
            
            .form-group.form-group-inline.col.col-lg-9.col-md-12
                label.form-label Aanmeldingen
                label.checkbox
                    input(type='checkbox' checked='checked')
                    .checkbox-label
                        .checkbox-box: .mdi.mdi-check
                        | Automatisch goedkeuren wanneer er een BSN-nummer vast staat.
        
        .card-section.card-section-primary: .row: .col.col-lg-9.col-md-12
            .form-group.form-group-inline
                label.form-label Product categorie
                input(type="text" placeholder="KvK-nummer").form-control
            .form-group.form-group-inline
                label.form-label &nbsp;
                .form-offset
                    .tag.tag-primary.tag-square 
                        | Product categories
                        a(href="#").mdi.mdi-close
                    .tag.tag-primary.tag-square 
                        | Fiets
                        a(href="#").mdi.mdi-close
        
        .card-section.card-section-primary
            .form-group.form-group-inline
                label.form-label Criteria
                .form-offset: .block.block-criteria-editor
                    mixin criterion_item_organization(name)
                        .criterion-organization
                            .criterion-organization-icon
                                .mdi.mdi-shield-check-outline
                            .criterion-organization-name=name
                            .criterion-organization-actions: .mdi.mdi-close
                    
                    mixin criterion_item(id, step)
                        .criterion-item
                            .criterion-section
                                .criterion-title Maandloon is kleiner dan €1200
                                .criterion-actions
                                    if (step == 0)
                                        .button.button-default
                                            em.mdi.mdi-pencil.icon-start
                                            | Edit
                                    
                                    if (step == 1)
                                        .button.button-default
                                            em.mdi.mdi-close.icon-start
                                            | Cancel

                                if (step == 0)
                                    .criterion-organizations-list
                                        .row: .col.col-lg-12: label.form-label Validator organisations
                                        .criterion-organization.active
                                            .criterion-organization-icon: .mdi.mdi-shield-check
                                            .criterion-organization-name='Zuidhorn'
                                        .criterion-organization
                                            .criterion-organization-icon: .mdi.mdi-shield-alert-outline
                                            .criterion-organization-name='Zuidhorn'
                                        .criterion-organization.active
                                            .criterion-organization-icon: .mdi.mdi-shield-check-outline
                                            .criterion-organization-name='Zuidhorn'
                                        .criterion-organization
                                            .criterion-organization-icon: .mdi.mdi-shield-alert-outline
                                            .criterion-organization-name='Nijmegen'
                                        .criterion-organization.active
                                            .criterion-organization-icon: .mdi.mdi-shield-check
                                            .criterion-organization-name='Nijmegen'
                                        .criterion-organization.active
                                            .criterion-organization-icon: .mdi.mdi-shield-check-outline
                                            .criterion-organization-name='Nijmegen'

                                if (step == 1)
                                    .flex-row
                                        .flex-col.flex-col-2.form-group
                                            label.form-label Eigenschap
                                            select().form-control: option Select
                                        .flex-col.flex-col-2.form-group
                                            label.form-label Verhouding
                                            select().form-control: option Select
                                        .flex-col.flex-col-2.form-group
                                            label.form-label Waarde
                                            select().form-control: option Select
                                        .flex-col.form-group
                                            label.form-label &nbsp;
                                            .button.button-primary.button-icon.pull-left: em.mdi.mdi-comment-text.icon-start
                                            .button.button-default.button-icon.pull-left: em.mdi.mdi-close.icon-start

                                    .flex-row
                                        .flex-col.flex-col-2.form-group
                                            label(for=('checkbox_' + id )).checkbox.checkbox-narrow
                                                input(type="checkbox" id=('checkbox_' + id ))
                                                .checkbox-label 
                                                    .checkbox-box: .mdi.mdi-check
                                                    | Bijlage uploaden
                                
                            if (step == 1)
                                .criterion-section
                                    .button.button-primary
                                        em.mdi.mdi-plus-circle.icon-start
                                        | Add external validator
                                    
                                    .button.button-primary.pull-right
                                        em.mdi.mdi-content-save.icon-start
                                        | Bevestig

                            if (step == 2)
                                .criterion-section
                                    .criterion-subtitle Add external validator
                                    .flex-row
                                        .flex-col: .flex-row
                                            .flex-col.flex-grow
                                                .form-group
                                                    label.form-label Select organization
                                                    select.form-control: option Find or select
                                            .flex-col: .form-group
                                                label.form-label &nbsp;
                                                .button.button-primary Add
                                        .flex-col
                                    
                                    .flex-row: .criterion-subtitle
                                    .flex-row: .criterion-subtitle
                                    .criterion-organizations-root: .flex-row
                                        .flex-col: .criterion-organizations
                                            +criterion_item_organization('Zuidhorn')
                                            +criterion_item_organization('Zuidhorn')
                                            +criterion_item_organization('Zuidhorn')
                                            +criterion_item_organization('Zuidhorn')
                                            +criterion_item_organization('Zuidhorn')
                                        .flex-col: .criterion-organizations
                                            +criterion_item_organization('Nijmegen')
                                            +criterion_item_organization('Nijmegen')
                                            +criterion_item_organization('Nijmegen')
                                            +criterion_item_organization('Nijmegen')
                                            +criterion_item_organization('Nijmegen')
                                    
                                
                                .criterion-section
                                    .button.button-default
                                        em.mdi.mdi-close.icon-start
                                        | Cancel
                                    
                                    .button.button-primary.pull-right
                                        em.mdi.mdi-content-save.icon-start
                                        | Bevestig


                    +criterion_item(1, 0)
                    +criterion_item(2, 1)
                    +criterion_item(3, 2)
                    
                    .criteria-editor-actions
                        .button.button-primary
                            em.mdi.mdi-plus-circle.icon-start
                            | Voeg nieuwe criteria toe
        
        .card-section.card-section-primary: .row: .col.col-lg-9.col-lg-12
            .form-group.form-group-inline
                label.form-label Aanvulherinnering grens €
                input.form-control(type='text' placeholder='')

        .card-section.card-section-primary
            .text-center
                button.button.button-default Annuleren
                button.button.button-primary Bevestigen