extends ../layout/layout-markup
block content
    .card-heading Funds (34)

    .block.block-funds
        mixin fund_item(title, state, pane="criteria_editor")
            .fund-item
                .fund-item-section: .flex-col
                    .flex-row
                        .fund-logo: img(src="/assets/img/organization-no-logo.svg").fund-logo-img
                        .fund-details
                            .fund-title
                                | #{title}
                                if (state == 'active')
                                    .tag.tag-success.tag-sm Active
                                if (state == 'paused')
                                    .tag.tag-warning.tag-sm Paused
                                if (state == 'closed')
                                    .tag.tag-default.tag-sm Closed

                            //- .fund-subtitle=subtitle
                        .fund-actions
                            .button.button-default
                                em.mdi.mdi-cog.icon-start
                                | Instellingen
                    .flex-row.flex-end: .fund-remaining
                        .fund-remaining-label Resterend: 
                        .fund-remaining-value € 10.237,32
                    
                    .flex-row
                        .flex-col: .flex-row.flex-start
                            .button.button-default
                                em.mdi.mdi-toggle-switch.icon-start
                                | Criteria
                            .button.button-default
                                em.mdi.mdi-poll.icon-start
                                | Statistics
                        .flex-col: .flex-row.flex-end
                            .button.button-primary
                                em.mdi.mdi-plus-circle.icon-start
                                | Budget toevoegen
                
                if (pane == 'criteria_editor')
                    .fund-item-section.fund-item-section-primary.fund-item-section-with-arrow.form
                        .block.block-criteria-editor
                            mixin criterion_item_organization(name)
                                .criterion-organization
                                    .criterion-organization-icon
                                        .mdi.mdi-shield-check-outline
                                    .criterion-organization-name=name
                                    .criterion-organization-actions: .mdi.mdi-close
                            
                            mixin criterion_item(id, step)
                                .criterion-item
                                    .criterion-section
                                        .criterion-title Maandloon is kleiner dan €1200
                                        .criterion-actions
                                            if (step == 0)
                                                .button.button-default
                                                    em.mdi.mdi-pencil.icon-start
                                                    | Edit
                                            
                                            if (step == 1)
                                                .button.button-default
                                                    em.mdi.mdi-close.icon-start
                                                    | Cancel

                                        if (step == 0)
                                            .criterion-organizations-list
                                                .row: .col.col-lg-12: label.form-label Validator organisations
                                                .criterion-organization.active
                                                    .criterion-organization-icon: .mdi.mdi-shield-check
                                                    .criterion-organization-name='Zuidhorn'
                                                .criterion-organization
                                                    .criterion-organization-icon: .mdi.mdi-shield-alert-outline
                                                    .criterion-organization-name='Zuidhorn'
                                                .criterion-organization.active
                                                    .criterion-organization-icon: .mdi.mdi-shield-check-outline
                                                    .criterion-organization-name='Zuidhorn'
                                                .criterion-organization
                                                    .criterion-organization-icon: .mdi.mdi-shield-alert-outline
                                                    .criterion-organization-name='Nijmegen'
                                                .criterion-organization.active
                                                    .criterion-organization-icon: .mdi.mdi-shield-check
                                                    .criterion-organization-name='Nijmegen'
                                                .criterion-organization.active
                                                    .criterion-organization-icon: .mdi.mdi-shield-check-outline
                                                    .criterion-organization-name='Nijmegen'

                                        if (step == 1)
                                            .flex-row
                                                .flex-col.flex-col-2.form-group
                                                    label.form-label Eigenschap
                                                    select().form-control: option Select
                                                .flex-col.flex-col-2.form-group
                                                    label.form-label Verhouding
                                                    select().form-control: option Select
                                                .flex-col.flex-col-2.form-group
                                                    label.form-label Waarde
                                                    select().form-control: option Select
                                                .flex-col.form-group
                                                    label.form-label &nbsp;
                                                    .button.button-primary.button-icon.pull-left: em.mdi.mdi-comment-text.icon-start
                                                    .button.button-default.button-icon.pull-left: em.mdi.mdi-close.icon-start

                                            .flex-row
                                                .flex-col.flex-col-2.form-group
                                                    label(for=('checkbox_' + id )).checkbox.checkbox-narrow
                                                        input(type="checkbox" id=('checkbox_' + id ))
                                                        .checkbox-label 
                                                            .checkbox-box: .mdi.mdi-check
                                                            | Bijlage uploaden
                                        
                                    if (step == 1)
                                        .criterion-section
                                            .button.button-primary
                                                em.mdi.mdi-plus-circle.icon-start
                                                | Add external validator
                                            
                                            .button.button-primary.pull-right
                                                em.mdi.mdi-content-save.icon-start
                                                | Bevestig

                                    if (step == 2)
                                        .criterion-section
                                            .criterion-subtitle Add external validator
                                            .flex-row
                                                .flex-col: .flex-row
                                                    .flex-col.flex-grow
                                                        .form-group
                                                            label.form-label Select organization
                                                            select.form-control: option Find or select
                                                    .flex-col: .form-group
                                                        label.form-label &nbsp;
                                                        .button.button-primary Add
                                                .flex-col
                                            
                                            .flex-row: .criterion-subtitle
                                            .flex-row: .criterion-subtitle
                                            .flex-row
                                                .flex-col: .criterion-organizations
                                                    +criterion_item_organization('Zuidhorn')
                                                    +criterion_item_organization('Zuidhorn')
                                                    +criterion_item_organization('Zuidhorn')
                                                    +criterion_item_organization('Zuidhorn')
                                                    +criterion_item_organization('Zuidhorn')
                                                .flex-col: .criterion-organizations
                                                    +criterion_item_organization('Nijmegen')
                                                    +criterion_item_organization('Nijmegen')
                                                    +criterion_item_organization('Nijmegen')
                                                    +criterion_item_organization('Nijmegen')
                                                    +criterion_item_organization('Nijmegen')
                                            
                                        
                                        .criterion-section
                                            .button.button-default
                                                em.mdi.mdi-close.icon-start
                                                | Cancel
                                            
                                            .button.button-primary.pull-right
                                                em.mdi.mdi-content-save.icon-start
                                                | Bevestig


                            +criterion_item(1, 0)
                            +criterion_item(2, 1)
                            +criterion_item(3, 2)

                if (pane == 'statistics')
                    .fund-item-section.fund-item-section-warning.fund-item-section-with-arrow
                        .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                            .keyvalue-item.col.col-lg-2
                                .keyvalue-key Uw medewerkers
                                .keyvalue-value 6
                            .keyvalue-item.col.col-lg-2
                                .keyvalue-key Aanbieders
                                .keyvalue-value 4
                            .keyvalue-item.col.col-lg-2
                                .keyvalue-key Aanvragers
                                .keyvalue-value 22
                    
                    .fund-item-section.fund-item-section-primary
                        .card-block.card-block-keyvalue.card-block-keyvalue-horizontal.row
                            .keyvalue-item.col.col-lg-2
                                .keyvalue-key Gestort
                                .keyvalue-value € 60.000,-
                            .keyvalue-item.col.col-lg-2
                                .keyvalue-key Gebruikt
                                .keyvalue-value € 23.452,-
                            .keyvalue-item.col.col-lg-2
                                .keyvalue-key Resterend
                                .keyvalue-value € 10.237,32

        +fund_item("Kindpakket 2018", "active")
        +fund_item("Kindpakket 2018", "active")
        +fund_item("Kindpakket 2018", "active")
        +fund_item("Kindpakket 2018", "active", "statistics")