extends ../layout/layout-markup
block content
    .card
        .card-section
            p: strong €306.00
            button.button.button-primary
                em.mdi.mdi-plus-circle 
                | Add note
        .card-section.card-section-primary
            .card-block.card-block-notes
                .note-form.form
                    img(src="./assets/img/note-icons/note-icon-quote.jpg").note-item-icon
                    textarea(rows="4").form-control
                    .note-form-actions
                        .note-form-desc
                            .note-item-text @mentio &nbsp;&nbsp;&nbsp; *bold** &nbsp;&nbsp;&nbsp; _italic_
                            .note-item-sign May 14, 11:47 AM by info@fineartroom.nl
                        .note-form-buttons
                            button.button.button-default Annuleren
                            button.button.button-primary Save changes
        .card-section
            .card-block.card-block-notes
                mixin note_item(icon, text, sign)
                    .note-item
                        img(src="./assets/img/note-icons/note-icon-" + icon + ".jpg").note-item-icon
                        .note-item-text=text
                        .note-item-sign=sign
                        .hover-actions
                            em.mdi.mdi-dots-horizontal
                            .hover-actions-menu
                                .hover-actions-label ACTION
                                .hover-actions-item Refund charge
                                .hover-actions-item Copy charge ID to clipboard
                                .hover-actions-sep
                                .hover-actions-label CONNECTIONS
                                .hover-actions-item View payment details
                
                +note_item("quote", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.", "May 14, 11:47 AM by info@fineartroom.nl")
                +note_item("quote", "Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", "May 14, 11:47 AM by info@fineartroom.nl")
                +note_item("quote", "BUNQ transaction to NL35 INGB 4567 3455 01", "Jan 23, 12:26 AM")
                +note_item("quote", "Blockchain transaction from 0x345665434555 to 0x3456433455543", "Jan 23, 12:26 AM")
                +note_item("quote", "Blockchain transaction from 0x3456433455543 to 0x345665434555", "Jan 23, 12:26 AM")
                +note_item("quote", "Voucher 0x34556643334 used at Fine Art Room", "Jan 23, 12:26 AM")

    .card
        .card-header: .card-title Payment details
        .card-section
            .card-block.card-block-keyvalue
                mixin keyvalue_item(key, value, links = [])
                    .keyvalue-item
                        .keyvalue-key=key
                        .keyvalue-value
                            | #{value}
                            each link, key in links 
                                a(href=link.href).keyvalue-link
                                    em.mdi(class=('mdi-' + link.mdi))
                                    | #{link.text}
                
                +keyvalue_item("ID", "ch_1BnGRmBQO0R3BKRwTUN8K0Mg")
                +keyvalue_item("Statement beneficiary", "Fine Art Room")
                +keyvalue_item("Amount", "€ 308.00")
                +keyvalue_item("BUNQ Fee", "€ 0.10")
                +keyvalue_item("Blockchain Fee", "€ 0.00")
                +keyvalue_item("Date", "2018/01/23 02:19:34")
                +keyvalue_item("Description", "Auction Payment", [{text: "Edit", mdi: 'pen', href: '#'}])
                