extends ../layout/layout

mixin radio_group(label="RADIO SELECTIONS", prefix="radio")
    .form-group
        label.form-label=label
        .radio.radio-fill.radio-narrow.radio-stack
            input(name=prefix checked value="1" type="radio" id=prefix + "_1")
            label(for=prefix + "_1").radio-label 
                .radio-circle
                | Electronics
        .radio.radio-fill.radio-narrow.radio-stack
            input(name=prefix value="2" type="radio" id=prefix + "_2")
            label(for=prefix + "_2").radio-label 
                .radio-circle
                | Appliances
        .radio.radio-fill.radio-narrow.radio-stack
            input(name=prefix value="3" type="radio" id=prefix + "_3")
            label(for=prefix + "_3").radio-label 
                .radio-circle
                | Computer equipment

block content
    .header-splash: .splash.splash-c

    header.section.section-header
        include ../layout/includes/top-navbar

    .block.block-showcase: .showcase-wrapper
        .showcase-mobile-filters.active
            .mobile-filters-count: .mobile-filters-count-value 0
            .mobile-filters-title Zoek op categorieen en fondsen
            .mobile-filters-icon: em.mdi.mdi-filter-outline

        .showcase-title We hebben 365 winkels voor je gevonden
        .showcase-subtitle Selecteer een winkel voor meer informatie
        
        .showcase-layout
            .showcase-aside.form.form-compact
                .showcase-aside-block
                    .form-group
                        input.form-control(placeholder="Search by keyword" type="search")
                    
                    .form-group
                        label.form-label CATEGORIES
                        select.form-control
                            option Select

                    .form-group
                        label.form-label TABS SELECTION 
                        .block.block-label-tabs.block-label-tabs-fill
                            .label-tab.active Option #1
                            .label-tab Option #2
                            .label-tab Option #3

                    .form-group
                        label.form-label SEARCH BY DISTANCE
                        .row
                            .col.col-lg-6.col-xs-12: select.form-control
                                option From
                            .col.col-lg-6.col-xs-12: select.form-control
                                option To
                
                .showcase-aside-block
                    .showcase-aside-block-chevron: .mdi.mdi-chevron-right
                    .form-group
                        label.form-label CHECK BOXES
                        .showcase-aside-block-info Lorem ipsum dolor sit amet consectetur
                
                .showcase-aside-block
                    .showcase-aside-block-chevron: .mdi.mdi-chevron-right
                    .form-group
                        label.form-label RADIOBOXES
                        .label.label-primary 
                            .label-close.mdi.mdi-close
                            | Electronics
                        .label.label-primary 
                            .label-close.mdi.mdi-close
                            | Computer equipment
                        .label.label-primary 
                            .label-close.mdi.mdi-close
                            | Auto
                        .label.label-primary 
                            .label-close.mdi.mdi-close
                            | Construction and repair
                    
                    .showcase-aside-block-dropdown
                        .showcase-aside-block-dropdown-close: .mdi.mdi-close
                        .showcase-aside-block-dropdown-content: .row
                            .col.col-lg-6
                                +radio_group("RADIO GROUP 1", "radio_a")
                                +radio_group("RADIO GROUP 2", "radio_b")
                                +radio_group("RADIO GROUP 3", "radio_b")
                                +radio_group("RADIO GROUP 4", "radio_b")
                                +radio_group("RADIO GROUP 5", "radio_b")
                            .col.col-lg-6
                                +radio_group("RADIO GROUP 6", "radio_c")
                .showcase-aside-block
                    .form-group
                        label.form-label RADIO SELECTIONS
                        .radio.radio-fill.radio-narrow.radio-stack
                            input(name="radio" checked value="1" type="radio")#radio_1
                            label(for="radio_1").radio-label 
                                .radio-circle
                                | Electronics
                                .pull-right 12
                        .radio.radio-fill.radio-narrow.radio-stack
                            input(name="radio" value="2" type="radio")#radio_2
                            label(for="radio_2").radio-label 
                                .radio-circle
                                | Appliances
                                .pull-right 9
                        .radio.radio-fill.radio-narrow.radio-stack
                            input(name="radio" value="3" type="radio")#radio_3
                            label(for="radio_3").radio-label 
                                .radio-circle
                                | Computer equipment
                                .pull-right 4
                
            .showcase-content
                .showcase-content-header
                    .showcase-filters-title
                        .showcase-filters-title-count 4
                        | Filters
                        .block.block-label-tabs.pull-right
                            .label-tab.label-tab-sm.active
                                em.mdi.mdi-format-list-text.icon-start
                                | List
                            .label-tab.label-tab-sm
                                em.mdi.mdi-map-marker-radius.icon-start
                                | Map
                    
                    .showcase-filters-block
                        .label.label-default 
                            .label-close.mdi.mdi-close
                            | Electronics
                        .label.label-default
                            .label-close.mdi.mdi-close
                            | Computer equipment
                        .label.label-default
                            .label-close.mdi.mdi-close
                            | Auto
                        .label.label-default 
                            .label-close.mdi.mdi-close
                            | Construction and repair
                
                .block.block-products-list
                    mixin product_item()
                        .product-item
                            .product-photo: img(src="/assets/img/placeholders/product-thumbnail.png" alt="")
                            .product-content
                                .product-details
                                    .product-name 
                                        | Getertificeerde MeditorPlus 
                                        br
                                        | Polsbloeddrukmeter
                                    .product-discount.label.label-danger.label-sm 58% KORTING!
                                .product-actions
                                    .label.label-default.label-sm VAN € 39,95
                                    .product-price VOOR € 24,95
                    
                    +product_item()
                    +product_item()
                    +product_item()