extends ../layout/layout

mixin radio_group(label="RADIO SELECTIONS", prefix="radio")
    .form-group
        label.form-label=label
        .radio.radio-fill.radio-narrow.radio-stack
            input(name=prefix checked value="1" type="radio" id=prefix + "_1")
            label(for=prefix + "_1").radio-label 
                .radio-circle
                | Electronics
        .radio.radio-fill.radio-narrow.radio-stack
            input(name=prefix value="2" type="radio" id=prefix + "_2")
            label(for=prefix + "_2").radio-label 
                .radio-circle
                | Appliances
        .radio.radio-fill.radio-narrow.radio-stack
            input(name=prefix value="3" type="radio" id=prefix + "_3")
            label(for=prefix + "_3").radio-label 
                .radio-circle
                | Computer equipment

block content
    .header-splash: .splash.splash-c
    .block.block-showcase
        include ../layout/includes/top-navbar
        
        .showcase-wrapper
            .showcase-title We hebben 365 winkels voor je gevonden
            .showcase-subtitle Selecteer een winkel voor meer informatie
            
            .showcase-layout
                .showcase-aside.form.form-compact
                    .showcase-aside-block
                        .form-group
                            input.form-control(placeholder="Search by keyword" type="search")
                        
                        .form-group
                            label.form-label CATEGORIES
                            select.form-control
                                option Select

                        .form-group
                            label.form-label TABS SELECTION 
                            .block.block-label-tabs.block-label-tabs-fill
                                .label-tab.active Option #1
                                .label-tab Option #2
                                .label-tab Option #3

                        .form-group
                            label.form-label SEARCH BY DISTANCE
                            .row
                                .col.col-lg-6.col-xs-12: select.form-control
                                    option From
                                .col.col-lg-6.col-xs-12: select.form-control
                                    option To
                    
                    .showcase-aside-block
                        .showcase-aside-block-chevron: .mdi.mdi-chevron-right
                        .form-group
                            label.form-label CHECK BOXES
                            .showcase-aside-block-info Lorem ipsum dolor sit amet consectetur
                    
                    .showcase-aside-block
                        .showcase-aside-block-chevron: .mdi.mdi-chevron-right
                        .form-group
                            label.form-label RADIOBOXES
                            .label.label-primary 
                                .label-close.mdi.mdi-close
                                | Electronics
                            .label.label-primary 
                                .label-close.mdi.mdi-close
                                | Computer equipment
                            .label.label-primary 
                                .label-close.mdi.mdi-close
                                | Auto
                            .label.label-primary 
                                .label-close.mdi.mdi-close
                                | Construction and repair
                        
                        .showcase-aside-block-dropdown
                            .showcase-aside-block-dropdown-close: .mdi.mdi-close
                            .showcase-aside-block-dropdown-content: .row
                                .col.col-lg-6
                                    +radio_group("RADIO GROUP 1", "radio_a")
                                    +radio_group("RADIO GROUP 2", "radio_b")
                                    +radio_group("RADIO GROUP 3", "radio_b")
                                    +radio_group("RADIO GROUP 4", "radio_b")
                                    +radio_group("RADIO GROUP 5", "radio_b")
                                .col.col-lg-6
                                    +radio_group("RADIO GROUP 6", "radio_c")
                    .showcase-aside-block
                        .form-group
                            label.form-label RADIO SELECTIONS
                            .radio.radio-fill.radio-narrow.radio-stack
                                input(name="radio" checked value="1" type="radio")#radio_1
                                label(for="radio_1").radio-label 
                                    .radio-circle
                                    | Electronics
                                    .pull-right 12
                            .radio.radio-fill.radio-narrow.radio-stack
                                input(name="radio" value="2" type="radio")#radio_2
                                label(for="radio_2").radio-label 
                                    .radio-circle
                                    | Appliances
                                    .pull-right 9
                            .radio.radio-fill.radio-narrow.radio-stack
                                input(name="radio" value="3" type="radio")#radio_3
                                label(for="radio_3").radio-label 
                                    .radio-circle
                                    | Computer equipment
                                    .pull-right 4
                    
                .showcase-content
                    .showcase-content-header
                        .showcase-filters-title
                            .showcase-filters-title-count 4
                            | Filters
                            .block.block-label-tabs.pull-right
                                .label-tab.label-tab-sm.active
                                    em.mdi.mdi-format-list-text.icon-start
                                    | List
                                .label-tab.label-tab-sm
                                    em.mdi.mdi-map-marker-radius.icon-start
                                    | Map
                        
                        .showcase-filters-block
                            .label.label-default 
                                .label-close.mdi.mdi-close
                                | Electronics
                            .label.label-default
                                .label-close.mdi.mdi-close
                                | Computer equipment
                            .label.label-default
                                .label-close.mdi.mdi-close
                                | Auto
                            .label.label-default 
                                .label-close.mdi.mdi-close
                                | Construction and repair
                    
                    .block.block-organizations
                        mixin organization_item()
                            .organization-item
                                .organization-pane
                                    .organization-logo: img(src="/assets/img/placeholders/organization-thumbnail.png" alt="").organization-logo-img
                                    .organization-title
                                        .organization-title-value GlaxoSmithKline
                                        .organization-title-count 4
                                    .organization-chevron: .mdi.mdi-chevron-right

                                .organization-offices: .block.block-offices
                                    mixin office_item()
                                        .office-item
                                            .office-item-map-icon: .mdi.mdi-map-marker
                                            .office-pane
                                                .office-pane-block
                                                    .office-logo: img(src="/assets/img/placeholders/office-thumbnail.png" alt="").office-logo-img
                                                    .office-details
                                                        .office-title GSK Pharmacy from lorem ipsum dolor sit amet
                                                        .office-labels
                                                            .label.label-default Electronics
                                                            .label.label-default Computer equipment
                                                            .label.label-default Auto
                                                        .office-rate
                                                            .rate
                                                                .rate-item: .mdi.mdi-star
                                                                .rate-item: .mdi.mdi-star
                                                                .rate-item: .mdi.mdi-star
                                                                .rate-item: .mdi.mdi-star
                                                                .rate-item: .mdi.mdi-star-outline
                                                
                                                .office-pane-block
                                                    .office-logo-offset
                                                    .office-details: .row
                                                        .col.col-lg-12: .office-info
                                                            .mdi.mdi-map-marker-outline
                                                            | 10km
                                                            | &nbsp;
                                                            span.text-muted |
                                                            | &nbsp;
                                                            | Ulgersmaweg 35, 9731BK, Groningen
                                                        .col.col-lg-12
                                                            .office-info.office-info-inline
                                                                .mdi.mdi-clock-outline
                                                                | Closed
                                                            .office-info.office-info-inline
                                                                .mdi.mdi-phone-outline
                                                                | 0615 261 612
                                                            .office-info.office-info-inline
                                                                .mdi.mdi-email-outline
                                                                | ulgersmaweg@rminds.nl
                                    
                                    +office_item()
                                    +office_item()
                                    +office_item()
                        
                        +organization_item()
                        +organization_item()
                        +organization_item()