extends ../layout/layout

mixin radio_group(label="RADIO SELECTIONS", prefix="radio")
    .form-group
        label.form-label=label
        .radio.radio-fill.radio-narrow.radio-stack
            input(name=prefix checked value="1" type="radio" id=prefix + "_1")
            label(for=prefix + "_1").radio-label 
                .radio-circle
                | Electronics
        .radio.radio-fill.radio-narrow.radio-stack
            input(name=prefix value="2" type="radio" id=prefix + "_2")
            label(for=prefix + "_2").radio-label 
                .radio-circle
                | Appliances
        .radio.radio-fill.radio-narrow.radio-stack
            input(name=prefix value="3" type="radio" id=prefix + "_3")
            label(for=prefix + "_3").radio-label 
                .radio-circle
                | Computer equipment

block content
    .header-splash: .splash.splash-c

    header.section.section-header
        include ../layout/includes/top-navbar

    .block.block-showcase: .showcase-wrapper
        .showcase-mobile-filters.active
            .mobile-filters-count: .mobile-filters-count-value 0
            .mobile-filters-title Zoek op categorieen en fondsen
            .mobile-filters-icon: em.mdi.mdi-filter-outline

        .showcase-title Er zijn 12 acties gevonden
        .showcase-subtitle Selecteer een product of dienst voor meer informatie
        
        .showcase-layout
            .showcase-aside.form.form-compact
                .showcase-aside-block
                    .form-group
                        input.form-control(placeholder="Search by keyword" type="search")
                    
                    .form-group
                        label.form-label Organization type
                        select.form-control
                            option Select
                    
                    .form-group
                        label.form-label Buget
                        select.form-control
                            option Select
                
            .showcase-content
                .showcase-content-header
                    .showcase-filters-title
                        .showcase-filters-title-count 4
                        | Filters
                        .block.block-label-tabs.pull-right
                            .label-tab.label-tab-sm.active
                                em.mdi.mdi-format-list-text.icon-start
                                | List
                            .label-tab.label-tab-sm
                                em.mdi.mdi-view-grid-outline.icon-start
                                | Foto's
                
                .block.block-subsidies-list
                    mixin product_item()
                        a(href="#").product-item
                            .product-photo: img(src="/assets/img/placeholders/product-small.png" alt="")
                            .product-content
                                .product-details
                                    .product-name 
                                        | Kickboksen inclusief materiaal
                                    .product-provider
                                        | Powerfulness
                                .product-actions: .product-price € 350,-
                    
                    +product_item()
                    +product_item()
                    +product_item()
    

                .card: .card-section: .table-pagination
                    .table-pagination-counter 10 van 40
                    
                    .table-pagination-navigation
                        button(disabled).button.button-default Eerste
                        button.button.button-primary 1
                        button.button.button-default 2
                        button.button.button-default 3
                        button.button.button-default Laatste
                        

                br
                br
                br
                br
                br
                br
                .showcase-content-header
                    .showcase-filters-title
                        .showcase-filters-title-count 4
                        | Filters
                        .block.block-label-tabs.pull-right
                            .label-tab.label-tab-sm
                                em.mdi.mdi-format-list-text.icon-start
                                | List
                            .label-tab.label-tab-sm.active
                                em.mdi.mdi-view-grid-outline.icon-start
                                | Foto's

                include ../layout/sections/subsidies
    
                .card: .card-section: .table-pagination
                    .table-pagination-counter 10 van 40
                    
                    .table-pagination-navigation
                        button(disabled).button.button-default Eerste
                        button.button.button-primary 1
                        button.button.button-default 2
                        button.button.button-default 3
                        button.button.button-default Laatste
