landing-navbar
header.section.section-header
    .wrapper
        .header-content
            .header-title(translate="home_sponsor.header.{{ $root.appConfigs.client_key }}.title" translate-default="{{ 'home_sponsor.header.title' | translate }}")
            .header-description(translate="home_sponsor.header.{{ $root.appConfigs.client_key }}.subtitle" translate-default="{{ 'home_sponsor.header.subtitle' | translate }}")

section.section.section-faq: .wrapper
    .section-title {{ "home_sponsor.faq.title" | i18n }}
    .faq(collapse)
        mixin faq_item(title, content, title_default, content_default, active)
            .faq-item(class=active?'active':'' collapse-item)
                .faq-item-header(collapse-header)
                    span(translate=title i18n-vars="{ fund: $ctrl.funds[0].name }" translate-default=title_default)
                    .faq-item-chevron-down.mdi.mdi-chevron-down
                    .faq-item-chevron-up.mdi.mdi-chevron-up
                .faq-item-content(collapse-conten, translate=content translate-default=content_default)

        +faq_item(
            'home_sponsor.faq.{{ $root.client_key }}.faq_one',
            'home_sponsor.faq.{{ $root.client_key }}.one',
            '{{ "home_sponsor.faq.faq_one" | translate }}',
            '{{ "home_sponsor.faq.one" | translate }}')

        +faq_item(
            'home_sponsor.faq.{{ $root.client_key }}.faq_two',
            'home_sponsor.faq.{{ $root.client_key }}.two',
            '{{ "home_sponsor.faq.faq_two" | translate }}',
            '{{ "home_sponsor.faq.two" | translate }}')

        +faq_item(
            'home_sponsor.faq.{{ $root.client_key }}.faq_three',
            'home_sponsor.faq.{{ $root.client_key }}.three',
            '{{ "home_sponsor.faq.faq_three" | translate }}',
            '{{ "home_sponsor.faq.three" | translate }}')

//- section.section.section-blogs: .wrapper
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/landing/blog-image-" + nth + ".jpg")
                .blog-name The only thing worse than being blind is having sight but no vision.
                .blog-read-more 
                    | Read more 
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
        .block.block-show-more: .wrapper: a(href="#").button.button-primary SHOW MORE

//- landing-contact-form

if (qdt_c.platform.env_data.client_key == 'noordoostpolder')
    include includes/noordoostpolder/footer.pug