.sign_up-office-edit: form(ng-submit="$dir.form.submit()").form
    .sign_up-pane-section
        .sign_up-pane-col.sign_up-pane-col-2
            .form-group
                label.form-label(translate="Adres")
                ui-control-text(
                    ng-model="$dir.form.values.address"
                    data-id="office_address"
                    data-placeholder="Adres")
                .form-error(ng-repeat="error in $dir.form.errors.address" ng-bind="error")

            .form-group
                label.form-label(translate="Telefoonnummer")
                ui-control-text(
                    ng-model="$dir.form.values.phone"
                    data-placeholder="Telefoonnummer")
                .form-error(ng-repeat="error in $dir.form.errors.phone" ng-bind="error")

        .sign_up-pane-col.sign_up-pane-col-1
            photo-selector(
                template="photo-selector-sign_up"
                type="organization_logo"
                thumbnail="$dir.media.sizes.thumbnail"
                description-translate="organization_edit.labels.photo_description"
                select-photo="$dir.selectOfficePhoto(file)")

    .sign_up-pane-section: .sign_up-pane-col
        schedule-control(ng-model="$dir.form.values.schedule")
    
    .sign_up-pane-section: .sign_up-pane-col: .flex-row
        .flex-col: .flex-col: button.button.button-primary.button-fill.button-sm(
            type="button"
            ng-click="cancel()"
            translate="organization_edit.buttons.cancel")

        .flex-col: .flex-col: button.button.button-primary-variant.button-fill.button-sm(
            type="submit"
            translate="organization_edit.buttons.save_location")