top-navbar

main(id="main-content")
    section.section.section-details: .wrapper
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active(i18n="Toegankelijkheidsverklaring" aria-current="location")

        div(ng-class="'order-' + $ctrl.page.description_default_position")
            cms-blocks(
                ng-if="$root.appConfigs.features.pages.accessibility"
                page="$root.appConfigs.features.pages.accessibility")

        div(
            ng-if="!$ctrl.description_html || $ctrl.page.description_default_position" 
            ng-class="'order-' + ($ctrl.page.description_default_position == 'top' ? 'bottom' : 'top')")

            .section-title.text-left(translate="Toegankelijkheidsverklaring")
            .block.block-accessibility
                .block-text
                    p.description Gemeente {{ $ctrl.vars.organization_name }} streeft naar het toegankelijk maken van de eigen online informatie en dienstverlening, in overeenstemming met Tijdelijk besluit digitale toegankelijkheid overheid.
                    p.description Deze toegankelijkheidsverklaring is van toepassing op de inhoud van de website {{ $ctrl.vars.implementation_name}} {{ $ctrl.vars.organization_name }} die valt binnen de werkingssfeer van Tijdelijk besluit digitale toegankelijkheid overheid.
                    p.description De links waarop de inhoud van de website {{ $ctrl.vars.implementation_name}}  {{ $ctrl.vars.organization_name }} te vinden is:
                        ul
                            li het hoofddomein:
                            ul
                                li 
                                    a(href="{{ $ctrl.vars.website }}" target="_blank") {{ $ctrl.vars.website }}
                    p.description Een actueel en volledig overzicht van de toegankelijkheidsverklaringen die vallen onder de verantwoordelijkheid van Gemeente {{ $ctrl.vars.organization_name }} is beschikbaar via de volgende link: 
                        a(href="{{ $ctrl.vars.accessibility_link }}" target="_blank") {{ $ctrl.vars.accessibility_link }} 

                .block-text
                    .title Nalevingsstatus
                    .description Gemeente {{ $ctrl.vars.organization_name }} verklaart dat deze website gedeeltelijk voldoet aan Tijdelijk besluit digitale toegankelijkheid overheid.
                    .description Uit toegankelijkheidsonderzoek is gebleken dat nog niet aan alle eisen wordt voldaan. Voor elke afzonderlijke afwijking van de eisen is de oorzaak bekend en is het gevolg beschreven, zijn maatregelen genomen om de afwijking te kunnen opheffen en is een concrete planning gemaakt waarop de maatregelen zullen zijn uitgevoerd.
                    .description Zie onder het kopje 
                        a(
                            href="https://www.toegankelijkheidsverklaring.nl/verklaringen/367/preview#toelichting-op-de-nalevingsstatus" 
                            target="_blank") Toelichting op de nalevingsstatus 
                        | voor meer gedetailleerde informatie.

                .block-text
                    .title Opstelling van deze verklaring
                    .description Deze verklaring is opgesteld op 07-02-2020 met instemming van de verantwoordelijke bestuurder van Gemeente {{ $ctrl.vars.organization_name }}
                    .description De actualiteit, volledigheid en juistheid van deze verklaring zijn voor het laatst herzien op 01-01-2020.

                .block-text
                    .title Feedback en contactgegevens
                    .description Loopt u tegen een toegankelijkheidsprobleem aan? Of heeft u een vraag of opmerking over toegankelijkheid?
                    .description Neem dan contact op via 
                        a(href="mailto:{{ $ctrl.vars.contact_email }}") {{ $ctrl.vars.organization_name }} 
                        | of {{ $ctrl.vars.telephone_numer }}

                .block-text
                    .title Wat kunt u van ons verwachten?
                    ul
                        li Binnen 5 werkdagen krijgt u een ontvangstbevestiging.
                        li We informeren u over de voortgang en de uitkomst.
                        li Binnen 3 weken is uw verzoek afgehandeld.

                .block-text
                    .title Handhavingsprocedure
                    .description Bent u niet tevreden met de manier waarop uw klacht is behandeld? Of hebben we niet op tijd gereageerd?
                    .description Dan kunt u 
                        a(href="https://www.nationaleombudsman.nl/klacht-indienen/uw-klacht") [contact opnemen met de Nationale Ombudsman].
                    
                .block-text
                    .title Toelichting op de naleving status  
                    .description In deze paragraaf wordt de claim dat gedeeltelijk aan de in Tijdelijk besluit digitale toegankelijkheid overheid gestelde eisen is voldaan nader onderbouwd.
                    .description De website {{ $ctrl.vars.implementation_name }} {{ $ctrl.vars.organization_name }} is onderzocht op toegankelijkheid en uit de rapportage blijkt volgens Gemeente {{ $ctrl.vars.organization_name }} dat aan alle onderstaande kenmerken is voldaan:
                    ol
                        li het onderzoek omvat alle inhoud die volgens Tijdelijk besluit digitale toegankelijkheid overheid toegankelijk moet worden gemaakt;
                        li het onderzoek is gebaseerd op meet- en onderzoeksgegevens die niet ouder zijn dan 12 maanden;
                        li de handmatige evaluatie is uitgevoerd overeenkomstig een adequaat gedocumenteerde evaluatiemethode; 
                            a(href="https://w3.org/TR/WCAG-EM/") WCAG-EM 
                            | of gelijkwaardig;
                        li voor de (semi-)automatische tests is een toetsinstrument ingezet dat is gebaseerd op de algoritmen die zijn gedocumenteerd door de 
                            a(href="https://act-rules.github.io/pages/about/") Auto-WCAG 
                            | Community Group;
                        li alle onderzoeksresultaten zijn nauwkeurig, eenduidig en op reproduceerbare wijze vastgelegd in een voor mensen leesbaar formaat OF in het machineleesbare formaat 
                            a(href="https://www.w3.org/WAI/standards-guidelines/earl/") EARL;
                        li voor elke afzonderlijke afwijking op de eisen die tijdens het onderzoek werd gevonden en die niet kon worden hersteld wordt aangegeven:
                        .description [referentienummer]
                        ul
                            li Beschrijving:[beknopte beschrijving van de afwijking]
                            li Oorzaak: [reden waarom (nog) niet aan de eis kon worden voldaan]
                            li Gevolg: [impact van de afwijking voor personen met een functiebeperking]
                            li Alternatief: [of een toegankelijk alternatief beschikbaar is. En zo ja, welk]
                            li Maatregel: [te nemen maatregel(en) om de afwijking op te heffen]
                            ul
                                li mogelijkheid om aan te geven of de uitvoering van de maatregel een 
                                    a(href="https://www.toegankelijkheidsverklaring.nl/verklaringen/367/preview#onevenredige-last") onevenredige last 
                                    | met zich meebrengt: [ja/nee] [toelichting als het antwoord op de vraag 'ja' is]
                            li planning: [uiterste datum waarop de afwijking zal zijn hersteld]
                        li (zie onder het kopje 
                            a(href="https://www.toegankelijkheidsverklaring.nl/verklaringen/367/preview#afwijkingen-voldoet-gedeeltelijk") Afwijkingen)
                        li alle evaluatie- en onderzoeksresultaten waarop de claim is gebaseerd zijn online beschikbaar
                            | (zie onder het kopje 
                            a(href="https://www.toegankelijkheidsverklaring.nl/verklaringen/367/preview#evaluatie-en-onderzoekresultaten-voldoet-gedeeltelijk") Evaluatie- en onderzoekresultaten
                
                .block-text
                    p.description Afwijkingen

                .block-text
                    .title Technische afwijkingen
                    ol
                        li SC 1.1.1 - Niet-tekstuele content [niveau A]
                            ul
                                li Beschrijving: Een img-element mist een alt-attribuut. (alternatieve tekst voor de afbeelding)
                                li Oorzaak: Geen alternatieve tekst toegevoegd bij de referentie van de afbeelding.
                                li Gevolg: Het missen van een alternatieve tekst kan invloed hebben op de functionaliteit van spraak naar tekst hulpmiddelen.
                                li Alternatief: Er is geen alternatieve oplossing voor dit probleem.
                                li Maatregel: De webmasters zullen een alternatieve tekst plaatsen bij de afbeelding.
                                li brengt de uitvoering van de maatregel een onevenredige last met zich mee? Nee
                                li planning: 01-06-2020
                                li SC 4.1.2 - Naam, rol, waarde [niveau A]
                                li Beschrijving: Anker Element gevonden met een geldig href-attribuut, maar er is geen link inhoud is opgegeven.
                                li Oorzaak: Geen consequent gebruik van anker elementen
                                li Gevolg: Er is geen direct nadelig gevolg voor de gebruiker.
                                li Alternatief: Er is geen alternatieve oplossing voor dit probleem.
                                li Maatregel: De webmaster zullen het anker element opnieuw beoordelen en deze verwijderen of de benodigde informatie opgeven
                                li brengt de uitvoering van de maatregel een onevenredige last met zich mee? Nee
                                li planning: 01-06-2020
                        
                        li SC 4.1.2 - Naam, rol, waarde [niveau A]
                            ul
                                li Beschrijving: Anker Element gevonden met een geldig href-attribuut, maar er is geen link inhoud is opgegeven.
                                li Oorzaak: Geen consequent gebruik van anker elementen
                                li Gevolg: Er is geen direct nadelig gevolg voor de gebruiker.
                                li Alternatief: Er is geen alternatieve oplossing voor dit probleem.
                                li Maatregel: De webmaster zullen het anker element opnieuw beoordelen en deze verwijderen of de benodigde informatie opgeven
                                    | brengt de uitvoering van de maatregel een onevenredige last met zich mee? Nee
                                li planning: 01-06-2020

                //-.block-text
                    .title Evaluatie- en onderzoekresultaten
                    ul
                        li 
                            a(href="https://wcag.nl/rapporten/a285354cb8b1/") https://wcag.nl/rapporten/a285354cb8b1/
                            ul
                                li onderzoeksdatum: 31-10-2019
                                li onderzoeksmethode: automatisch onderzoek
                                li de beschikbare informatie is gebaseerd op meet- en onderzoeksgegevens die niet ouder zijn dan 12 maanden
                                li de handmatige evaluatie is uitgevoerd overeenkomstig een adequaat gedocumenteerde evaluatiemethode; 
                                    a(href="https://w3.org/TR/WCAG-EM/") WCAG-EM 
                                    | of gelijkwaardig: Onbekend
                
                .block-text
                    .title Inhoud die buiten de werkingssfeer valt van Tijdelijk besluit digitale toegankelijkheid overheid
                    .description 
                        a(href="https://zoek.officielebekendmakingen.nl/stb-2018-141.html#d17e165") Zie Artikel 2, tweede lid van het Tijdelijk besluit digitale toegankelijkheid overheid.


