top-navbar
section.section.section-voucher-details: .wrapper
    .block.block-breadcrumbs.hide-sm
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active Notificatie settings

    .section-title Notificatie instellingen

    section(ng-class="!!$root.activeOrganization ? 'app app-content' : ''")
        p(ng-if="$ctrl.message" ng-bind="$ctrl.message | translate").form-error
        
        .card(ng-if="$ctrl.email_unsubscribed")
            .card-header: .card-title Notificatie instellingen
            .card-section
                .card-heading 
                    | Jouw e-mailadres `{{ $ctrl.email }}` is momenteel uitgeschreven van alle notificaties.
                    br
                    | Wanneer u specifieke notificaties weer wilt ontvangen zult eerst moeten kiezen om notificaties weer te willen ontvangen.
                div: button(type="button" ng-click="$ctrl.enableSubscription()").button.button-primary 
                    | Ja, ik wil notificaties ontvangen.

        .card(ng-if="!$ctrl.email_unsubscribed")
            .card-header: .card-title(translate="notification_preferences.title_preferences")
            .card-section
                .card-heading Ik wil me uitschrijven van alle notificaties.
                div: button(type="button" ng-click="$ctrl.disableSubscription()").button.button-primary 
                    | Uitschrijven
        form.card(ng-if="!$ctrl.email_unsubscribed" ng-submit="$ctrl.form.submit()")
            .card-header: .card-title(translate="notification_preferences.title_preferences")
            .form.block.block-preferences(ng-if="!$ctrl.email_unsubscribed"): label(
                ng-repeat="type in $ctrl.form.values" 
                for="option_{{ type.key }}").preference-option
                .preference-option-details
                    .card-heading.card-heading-padless(translate="{{ 'notification_preferences.types.' + type.key + '.title' }}")
                    .card-text(translate="{{ 'notification_preferences.types.' + type.key + '.description' }}")
                .preference-option-input: .form-toggle
                    input(
                        type="checkbox" 
                        id="option_{{ type.key }}" 
                        ng-checked="type.subscribed" 
                        ng-model="type.subscribed")
                    .form-toggle-inner.flex-end: .toggle-input: .toggle-input-dot
                        em.mdi.mdi-check-bold(ng-if="type.subscribed")
                        .icon-disabled(ng-if="!type.subscribed")
                        
            .card-section
                div.push-right
                    button.button.button-primary(type="submit") Verzenden


contact-form 
