top-navbar

main(id="main-content" ng-show="!$root.mobileMenuOpened")
    section.section.section-product: .wrapper
        .block.block-sign_up: .block-wrapper: .sign_up-pane
            .sign_up-pane-header.text-danger(
                translate="error.titles.{{ $ctrl.errorCode }}"
                translate-values="$ctrl.transParams"
                translate-default="Onbekende foutmelding")

            .sign_up-pane-body.text-center
                p.sign_up-pane-text(
                    translate="error.messages.{{ $ctrl.errorCode }}"
                    translate-values="$ctrl.transParams"
                    translate-default="Onbekende foutmelding")

                p.sign_up-pane-text(ng-if="!$ctrl.hideHomeLinkButton || $ctrl.errorCode == 'digid_uid_used'")
                    a(ng-if="$ctrl.errorCode != 'digid_uid_used'" ui-sref="home" translate="error.home_button").sign_up-pane-link
                    a(ng-if="$ctrl.errorCode == 'digid_uid_used'" ui-sref="start({ logout: 1, restore_with_digid: 1 })").button.button-primary
                        span(translate="error.start_button")
                        em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

                p.sign_up-pane-text(ng-if="$ctrl.customLink")
                    a(
                        ui-sref="{{ $ctrl.customLink.sref }}({{ $ctrl.customLink.srefParams }})" 
                        ng-class="$ctrl.customLink.srefButton ? 'button button-primary' : 'sign_up-pane-link'")

                        em.mdi.icon-left(
                            ng-class="$ctrl.customLink.srefIcon" 
                            ng-if="$ctrl.customLink.srefButton && $ctrl.customLink.srefIcon && !$ctrl.customLink.srefIconRight")

                        span(ng-bind="$ctrl.customLink.text")

                        em.mdi.icon-right(
                            ng-class="$ctrl.customLink.srefIcon" 
                            ng-if="$ctrl.customLink.srefButton && $ctrl.customLink.srefIcon && $ctrl.customLink.srefIconRight")