top-navbar

main(id="main-content")
    .page.page-home
        section.section.section-details: .wrapper.flex.flex-vertical
            .block.block-breadcrumbs
                a(ui-sref="home").breadcrumb-item Home
                .breadcrumb-item.active(i18n="Uitleg" aria-current="location")

            .flex.flex-vertical(ng-class="$ctrl.page.description_position == 'after' ? 'flex-vertical-reverse' : ''")
                .block.block-steps(ng-if="$ctrl.description_html")
                    .block-steps-description: cms-blocks(
                        ng-if="$root.appConfigs.features.pages.explanation"
                        page="$root.appConfigs.features.pages.explanation")

                section.section.section-faq(
                    ng-if="(!$ctrl.description_html || ($ctrl.page.description_position !== 'replace')) || $ctrl.faq.length")

                    .section-splash
                    h1.section-title(i18n="home.faq.title")

                    //- CMS FAQ
                    .faq(collapse ng-if="$ctrl.faq.length")
                        .faq-item(
                            ng-repeat="faq in $ctrl.faq" 
                            ng-class="{active: faq.isActive}" 
                            ng-click="faq.isActive = !faq.isActive" 
                            collapse-item)

                            .faq-item-header(collapse-header)
                                span(ng-bind="faq.title" aria-expanded="{{faq.isActive}}" role="button")
                                .faq-item-chevron-down.mdi.mdi-chevron-down(aria-hidden="true")
                                .faq-item-chevron-up.mdi.mdi-chevron-up(aria-hidden="true")

                            .faq-item-content: markdown(
                                content="faq.description_html"
                                aria-labelledby="{{faq.title}}"
                                role="region")


                    //- Default FAQ
                    .faq(collapse ng-if="!$ctrl.faq.length")
                        .faq-item(
                            ng-repeat="faq in $ctrl.defaultFAQ" 
                            ng-class="{active: faq.isActive}" 
                            ng-click="faq.isActive = !faq.isActive" 
                            collapse-item)

                            .faq-item-header(collapse-header)
                                span(
                                    translate="{{ faq.title_key }}" 
                                    i18n-vars="{ fund: faq.fund_name }" 
                                    translate-default="{{ faq.title_default }}" 
                                    aria-expanded="{{faq.isActive}}" 
                                    role="button")
                                .faq-item-chevron-down.mdi.mdi-chevron-down(aria-hidden="true")
                                .faq-item-chevron-up.mdi.mdi-chevron-up(aria-hidden="true")

                            .faq-item-content: .block.block-markdown: p(
                                translate="{{ faq.content_key }}" 
                                i18n-vars="{ fund: faq.fund_name, start_date: faq.fund_start_date }" 
                                translate-default="{{ faq.content_default }}"
                                role="region" 
                                aria-labelledby="{{faq.title}}")
