top-navbar

main(id="main-content"): section.section.section-profile: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active(translate="fund_requests.header.title" aria-current="location")

    .block.block-profile
        .profile-aside
            profile-menu

            .form.form-compact
                .profile-aside-block
                    //- Fund
                    .form-group
                        label.form-label(for="select_fund") Tegoeden
                        select-control(
                            id="select_fund"
                            name="fund"
                            prop="id"
                            ng-model="$ctrl.filters.fund_id"
                            options="$ctrl.funds"
                            placeholder="{{ $ctrl.funds[0].name }}")

        .profile-content
            .profile-content-header.clearfix
                .profile-content-title
                    div.pull-left
                        .profile-content-title-count(ng-bind="$ctrl.fundRequests.meta.total")
                        h1.profile-content-header(translate="fund_requests.header.title")

                .block.block-label-tabs.form.pull-right
                    .label-tab-set
                        .label-tab.label-tab-sm(
                            role="button"
                            data-dusk="fundRequestsFilterActive"
                            ng-click="$ctrl.filters.archived = 0"
                            ng-class="!$ctrl.filters.archived ? 'active' : ''")
                            | Actief

                        .label-tab.label-tab-sm(
                            role="button"
                            data-dusk="fundRequestsFilterArchived"
                            ng-click="$ctrl.filters.archived = 1"
                            ng-class="$ctrl.filters.archived ? 'active' : ''")
                            | Archief

            //- At least one fund request
            .block.block-fund-requests(ng-if="$ctrl.fundRequests.data.length > 0" data-dusk="fundRequestsList")
                fund-request-card(
                    ng-repeat="fundRequest in $ctrl.fundRequests.data"
                    fund-request="fundRequest")

            //- No reimbursement requests
            empty-block(
                data-dusk="fundRequestsEmptyBlock"
                ng-if="$ctrl.fundRequests.data.length == 0"
                title="{{ 'fund_requests.empty_block.title' | translate }}"
                description="{{ 'fund_requests.empty_block.subtitle' | translate }}"
                svg-icon="fund-requests"
                button-text="{{ 'fund_requests.empty_block.cta' | translate }}"
                button-icon="arrow-right"
                button-type="primary"
                button-icon-end="false"
                button-sref="funds"
                hide-link="true")

            //- Pagination
            .card(ng-if="$ctrl.fundRequests" ng-show="$ctrl.fundRequests.meta.last_page > 1"): .card-section
                paginator(
                    meta="$ctrl.fundRequests.meta"
                    filters="$ctrl.filters"
                    on-page-change="$ctrl.onPageChange(query)")