top-navbar
section.section.section-apply_fund: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        a(ui-sref="funds").breadcrumb-item Fondsen
        a.breadcrumb-item.active(translate="fund_apply.header.title" translate-values="{fund_name: $ctrl.fund.name}")

    .section-title(translate="fund_apply.header.title" translate-values="{fund_name: $ctrl.fund.name}")
    
    .block.block-apply_fund
        .apply_fund-aside
            .apply_fund-card
                .fund-image: img(ng-src="{{ $ctrl.fund.logo.sizes.thumbnail || $ctrl.fund.organization.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}")
                .fund-details
                    .fund-name(ng-bind="$ctrl.fund.name") 
                        //- span(ng-show="$ctrl.fund.state == 'active'").label.label-success Actief
                    .fund-organization(ng-bind="$ctrl.fund.organization.name")
                
                .fund-criterias
                    .fund-criterias-label(translate="fund_apply.criterias.label")
                    .fund-criteria-item
                        .fund-criteria-item-label(translate="fund_apply.criterias.enddate")
                        .fund-criteria-item-value(ng-bind="$ctrl.fund.end_date_locale")
                    .fund-criteria-item
                        .fund-criteria-item-label(translate="fund_apply.criterias.email")
                        .fund-criteria-item-value(ng-bind="$ctrl.fund.organization.email")
                    .fund-criteria-item
                        .fund-criteria-item-label(translate="fund_apply.criterias.phone")
                        .fund-criteria-item-value(ng-bind="$ctrl.fund.organization.phone")
                    
                    //- Fixed
                    .fund-criteria-item(ng-repeat="formula in $ctrl.formulaList.fixed")
                        .fund-criteria-item-label(translate="fund_apply.criterias.fixed_amount")
                        .fund-criteria-item-value(ng-bind="formula.amount | currency_format")
                    
                    //- Dynamic
                    .fund-criteria-item(ng-repeat="formula in $ctrl.formulaList.multiply")
                        .fund-criteria-item-label(translate="fund_apply.criterias.multiplied_amount")
                        .fund-criteria-item-value   
                            span(ng-bind="formula.label + ': '")
                            span(ng-bind="formula.amount | currency_format")

                .fund-criterias(ng-if="$ctrl.criterioaList.length > 0")
                    .fund-criterias-label(
                        translate="fund_apply.header.criteria" 
                        translate-values="{nth: $ctrl.criterioaList.length}")
                    .fund-criteria-item(ng-repeat="criterion in $ctrl.criterioaList")
                        .fund-criteria-item-label(ng-bind="criterion.key")
                        .fund-criteria-item-value(ng-bind="criterion.value")

            .apply_fund-menu
                button(ng-if="$ctrl.countInvalid == 0" ng-click="$ctrl.applyFund()" translate="buttons.join").button.button-primary.button-fill

        .apply_fund-content
            .block.block-fund_criteria(ng-if="$ctrl.state == 'list_records'")
                fund-criterion(
                    ng-repeat="criterion in $ctrl.fund.criteria" 
                    fund="$ctrl.fund" 
                    criterion="criterion" 
                    record-type="$ctrl.recordsByTypesKey[criterion.record_type_key]" 
                    records="$ctrl.recordsByKey[criterion.record_type_key]" 
                    updated="$ctrl.checkStates")
            
                div: button(
                    type='button' 
                    ng-click="$ctrl.addMissingRecords()"
                    ng-if="$ctrl.invalidCriteria.length > 0").button.button-primary.button-fill Add missing

            mixin progress()
                .request-progress
                    .request-step(
                        ng-repeat="step in $ctrl.totalSteps"
                        ng-class="$ctrl.step == step ? 'request-step-active' : ($ctrl.step > step ? 'request-step-done' : '')"
                        ng-bind="'Stap ' + step")

            .block.block-fund-add-records(ng-if="$ctrl.state == 'add_missing'"): .block-wrapper
                //- List the criteria
                div(ng-if="$ctrl.stepState == 'criteria'")
                    h2.block-title Bevestig uw gemeente
                    p.block-description
                        | U staat op het punt om een zomer zwemregeling aan te vragen. Om te kijken of u in aanmmerking komt, dient u uw 
                        strong woonplaats 
                        | en 
                        a(href="#") inkomen 
                        | te controleren 
                    
                    +progress()
                    
                    .request-pane
                        .request-pane-header Overzicht van voorwaarden
                        .request-pane-body
                            p.request-pane-text.text-center 
                                | De volgende gegevens zijn vereist om deze regeling aan te vragen:
                            .request-pane-info: ul.request-pane-list 
                                li(ng-repeat="critera in $ctrl.fund.criteria")
                                    | {{ critera.record_type_name }} should be 
                                    span(ng-if="critera.operator == '>'") more than 
                                    span(ng-if="critera.operator == '='") 
                                    span(ng-if="critera.operator == '<'") less than 
                                    | {{ critera.value }}.

                        
                        .request-pane-footer(em.mdi.mdi-chevron-right.icon-righ): .row
                            .col.col-lg-6.text-left
                            .col.col-lg-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.nextStep()")
                                | Volgende stap
                                em.mdi.mdi-chevron-right.icon-right

                //- Add records
                div(
                    ng-repeat="invalidCriteria in $ctrl.invalidCriteria track by $index"
                    ng-if="$ctrl.stepState == 'criteria_' + $index")
                    h2.block-title Zomer zwem regeling aanvraag
                    p.block-description
                        | U staat op het punt om een zomer zwemregeling aan te vragen. Om te kijken of u in aanmmerking komt, dient u uw 
                        strong woonplaats 
                        | en 
                        a(href="#") inkomen 
                        | te controleren 
                    
                    +progress()
                    
                    .request-pane
                        .request-pane-header(ng-bind="$ctrl.recordsByTypesKey[invalidCriteria.record_type_key].name")
                        .request-pane-body: form(ng-submit="$ctrl.submitCriteria(invalidCriteria)").form.row
                            .form-group.col.col-lg-12
                                input(
                                    ng-model="invalidCriteria.input_value"
                                    type="{string:'text', number:'number'}[$ctrl.recordsByTypesKey[invalidCriteria.record_type_key].type]" 
                                    placeholder="Generieke waarde").form-control
                                .form-error(ng-repeat="error in invalidCriteria.errors.value" ng-bind="error")
                                
                            .form-group.col.col-lg-12: .request-pane-info
                                p.request-pane-text 
                                    | For this particular fund "{{ $ctrl.fund.name }}" 
                                    | fund sponsor required your record "{{ invalidCriteria.record_type_name }}" to be 
                                    span(ng-if="invalidCriteria.operator == '>'") more than 
                                    span(ng-if="invalidCriteria.operator == '='") 
                                    span(ng-if="invalidCriteria.operator == '<'") less than 
                                    | {{ invalidCriteria.value }}.
                            .form-group.col.col-lg-12: file-uploader(files="invalidCriteria.files")
                        
                        .request-pane-footer: .row
                            .col.col-lg-6.text-left
                            .col.col-lg-6.text-right
                                .button.button-text.button-text-padless(ng-click="$ctrl.submitCriteria(invalidCriteria)")
                                    | Volgende stap
                                    em.mdi.mdi-chevron-right.icon-right
                
                //- Done
                div(ng-if="$ctrl.stepState == 'done'")
                    h2.block-title Zomer zwem regeling aanvraag
                    p.block-description
                        | U staat op het punt om een zomer zwemregeling aan te vragen. Om te kijken of u in aanmmerking komt, dient u uw 
                        strong woonplaats 
                        | en 
                        a(href="#") inkomen 
                    
                    .request-pane
                        .request-pane-header Aanvraag voltooid
                        .request-pane-body: form(ng-submit="$ctrl.submitCriteria(invalidCriteria)").form.row
                            .form-group.col.col-lg-12
                                .block-icon: .mdi.mdi-check-bold
                                p.request-pane-text.text-center 
                                    | Uw aanvraag is voltooid, u krijgt een email wanneer deze is goedgekeurd.
                        
                                .text-center: .button.button-default(ng-click="$ctrl.reload()") Ok
                            .form-group.col.col-lg-12: br

contact-form