top-navbar.nar-var

main(id="main-content")
    section.section.section-fund: .wrapper
        .block.block-breadcrumbs
            a(ng-if="$ctrl.searchData" ui-sref="search-result($ctrl.searchData)").breadcrumb-item.breadcrumb-item-back
                em.mdi.mdi-chevron-left
                | Terug
            a(ui-sref="home").breadcrumb-item Home
            a.breadcrumb-item(
                ui-sref="funds"
                translate="funds.funds.{{ $ctrl.appConfigs.client_key }}.title"
                translate-default="{{'funds.header.title' | translate }}")
            a.breadcrumb-item.active(ng-bind="$ctrl.fund.name")

        .block.block-fund
            mixin fund_menu
                .fund-menu
                    button.button.button-primary.button-fill(
                        ng-if="$ctrl.fund.showRequestButton"
                        ui-sref="fund-activate({fund_id: $ctrl.fund.id})"
                        translate="funds.buttons.{{ $root.client_key }}.start_request" 
                        translate-default="{{ 'funds.buttons.start_request' | translate }}")

                    button.button.button-primary.button-fill.button-disabled(
                        ng-if="$ctrl.fund.showPendingButton"
                        translate="funds.buttons.is_pending")

                    button.button.button-primary.button-fill(
                        type="button"
                        ng-if="$ctrl.fund.showActivateButton" 
                        ng-click="$ctrl.applyFund($ctrl.fund)" 
                        translate="funds.buttons.is_applicable")

                    button.button.button-primary.button-fill(
                        ng-if="$ctrl.fund.alreadyReceived" 
                        ui-sref="{{ $ctrl.fund.voucherStateName }}" 
                        translate="funds.buttons.already_received")

            .fund-content
                .fund-card
                    .fund-details
                        .fund-image: img(ng-src="{{ $ctrl.fundLogo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}")
                        .fund-details-title
                            .fund-name(ng-bind="$ctrl.fund.name") 
                            .organization-name(ng-bind="$ctrl.fund.organization.name")
                            .fund-details-items
                                .fund-details-item(ng-repeat="formula in $ctrl.formulaList.fixed" ng-if="$ctrl.fund.type == 'budget'")
                                    .fund-details-item-label(translate="fund.criterias.fixed_amount")
                                    .fund-details-item-value(ng-bind="formula.amount | currency_format")

                                .fund-details-item(ng-repeat="formula in $ctrl.formulaList.multiply" ng-if="$ctrl.fund.type == 'budget'")
                                    .fund-details-item-label(translate="fund.criterias.multiplied_amount")
                                    .fund-details-item-value(ng-bind="formula.amount | currency_format")                                 

                                .fund-details-item
                                    .fund-details-item-label Startdatum
                                    .fund-details-item-value(ng-bind="$ctrl.fund.start_date_locale")

                                .fund-details-item
                                    .fund-details-item-label Einddatum
                                    .fund-details-item-value(ng-bind="$ctrl.fund.end_date_locale")        

                    .fund-description(ng-if="$ctrl.fund.description")
                        .fund-description-label Omschrijving
                        .fund-description-value(ng-bind="$ctrl.fund.description")

                .fund-actions(ng-if="!(!$ctrl.fund.auto_validation && $ctrl.fund.allow_fund_requests)"): +fund_menu()

            .fund-aside(ng-if="!$ctrl.fund.auto_validation && $ctrl.fund.allow_fund_requests")
                .fund-card
                    .fund-criterias(ng-if="$ctrl.criteriaList.length > 0")
                        .fund-criterias-label Doorloop de volgende stappen:
                        .fund-criteria-item(ng-repeat="criterion in $ctrl.criteriaList" ng-if="!criterion.title")
                            .fund-criteria-item-label(ng-bind="criterion.record_type_name")
                            .fund-criteria-item-value(ng-bind="criterion.value")
                        ul.fund-criteria-item(ng-repeat="criterion in $ctrl.criteriaList" ng-if="criterion.title")
                            li.fund-criteria-item-value(ng-bind="criterion.title")

                .fund-actions: +fund_menu

        block-products(
            type="budget"
            ng-if="$ctrl.products"
            products="$ctrl.products.data"
            filters="{fund_id: $ctrl.fund.id}")

        block-products(
            type="subsidies"
            ng-if="$ctrl.subsidies"
            products="$ctrl.subsidies.data"
            filters="{fund_id: $ctrl.fund.id}")  