block content
    .header-splash: .splash.splash-c
    .block.block-showcase
        top-navbar
        
        main(id="main-content")
            .showcase-wrapper
                .showcase-mobile-filters(ng-class="{active: $ctrl.countFiltersApplied > 0}")
                    .mobile-filters-count: .mobile-filters-count-value(ng-bind="$ctrl.countFiltersApplied")
                    .mobile-filters-title Filteren
                    .mobile-filters-icon(ng-click="$ctrl.toggleMobileMenu()" aria-label="Filteren"): em.mdi.mdi-filter-outline

                .block.block-breadcrumbs
                    a(ui-sref="home").breadcrumb-item Home
                    .breadcrumb-item.active(
                        translate="funds.funds.{{ $root.appConfigs.client_key }}.title"
                        translate-default="{{'funds.header.title' | translate }}")

                .showcase-layout
                    .showcase-aside.form.form-compact(ng-class="{'show-mobile': $ctrl.showModalFilters}")
                        .showcase-aside-block
                            .form-group
                                input.form-control(
                                    ng-model="$ctrl.form.values.q"
                                    placeholder="Zoeken..." 
                                    type="search"
                                    aria-label="Zoeken")

                            .form-group
                                label.form-label(for="select_organization") Organisatie
                                select-control(
                                    id="select_organization"
                                    prop="id"
                                    ng-model="$ctrl.form.values.organization_id"
                                    options="$ctrl.organizations"
                                    placeholder="{{ $ctrl.organizations[0].name }}")

                            .form-group
                                label.form-label(for="select_category") Categorie
                                select-control(
                                    id="select_category"
                                    prop="id"
                                    ng-model="$ctrl.form.values.tag_id"
                                    options="$ctrl.tags"
                                    placeholder="{{ $ctrl.tags[0].name }}")
                        
                    .showcase-content
                        .showcase-content-header
                            h1.showcase-filters-title
                                span(
                                    translate="funds.funds.{{ $root.appConfigs.client_key }}.title"
                                    translate-default="{{'funds.header.title' | translate }}")
                                .showcase-filters-title-count(ng-bind="$ctrl.funds.meta.total")

                        //- Funds CMS blocks
                        cms-blocks(
                            ng-if="$root.appConfigs.features.pages.funds"
                            page="$root.appConfigs.features.pages.funds")

                        .block.block-funds-list(ng-if="$ctrl.funds.data.length > 0" id="funds_list")
                            fund-list-item(
                                ng-repeat="fund in $ctrl.funds.data" 
                                vouchers="$ctrl.vouchers" 
                                funds="$ctrl.funds" 
                                template="fund-item-list"
                                ui-sref="fund(fund)"
                                fund="fund")

                        empty-block(
                            title= "{{ 'block_funds.labels.title' | translate }}"
                            description="{{ 'block_funds.labels.subtitle' | translate }}"
                            hide-link="true" 
                            svg-icon="reimbursements"
                            ng-if="$ctrl.funds.data.length == 0")
                    
                        .card(ng-if="$ctrl.funds"): .card-section(ng-show="$ctrl.funds.meta.last_page > 1"): paginator(
                            meta="$ctrl.funds.meta"
                            filters="$ctrl.form.values"
                            count-buttons="5"
                            on-page-change="$ctrl.onPageChange(query)")


