top-navbar.nar-var

main(id="main-content")
    section.section.section-fund: .wrapper
        .block.block-breadcrumbs
            a(ng-if="$ctrl.searchData" ui-sref="search-result($ctrl.searchData)").breadcrumb-item.breadcrumb-item-back
                em.mdi.mdi-chevron-left
                | Terug
            a(ui-sref="home").breadcrumb-item Home
            a.breadcrumb-item(
                ui-sref="funds"
                translate="funds.funds.{{ $ctrl.appConfigs.client_key }}.title"
                translate-default="{{'funds.header.title' | translate }}")
            a.breadcrumb-item.active(ng-bind="$ctrl.fund.name" aria-current="location")

        .block.block-fund
            mixin fund_actions
                .fund-actions: .button-group
                    a.button.button.button-wide(
                        target="_blank"
                        ng-class="$ctrl.fund.linkPrimaryButton ? 'button-primary' : 'button-primary-outline'"
                        ng-if="$ctrl.fund.external_link_text && $ctrl.fund.external_link_url"
                        ng-href="{{ $ctrl.fund.external_link_url }}")
                        span(ng-bind="$ctrl.fund.external_link_text")
                        em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

                    a.button.button-primary.button-wide(
                        ng-if="$ctrl.fund.showRequestButton"
                        ui-sref="fund-activate({fund_id: $ctrl.fund.id})")
                        span(ng-bind="$ctrl.fund.request_btn_text")
                        em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

                    a.button.button-primary.button-wide.button-disabled(
                        ng-if="$ctrl.fund.showPendingButton"
                        translate="funds.buttons.is_pending")

                    a.button.button-primary.button-wide(
                        type="button"
                        ng-if="$ctrl.fund.showActivateButton" 
                        ng-click="$ctrl.applyFund($event, $ctrl.fund)")
                        translate(translate="funds.buttons.is_applicable")
                        em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

                    a.button.button-primary.button-wide(
                        ng-if="$ctrl.fund.alreadyReceived" 
                        ui-sref="voucher({ address: $ctrl.fund.vouchers[0].address })")
                        translate(
                            translate="funds.buttons.{{ $ctrl.fund.key }}.already_received"
                            translate-default="{{'funds.buttons.already_received' | translate }}")
                        em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

            .fund-content
                .fund-card: .fund-details
                    h1.fund-name(ng-bind="$ctrl.fund.name") 
                    .fund-description: .block.block-markdown: p(ng-if="$ctrl.fund.description_short" ng-bind="$ctrl.fund.description_short")
                    .fund-details-items(ng-if="!$root.appConfigs.flags.hideFundMeta")
                        .fund-details-item
                            .fund-details-item-label Uitgifte door:
                            .fund-details-item-value(ng-bind="$ctrl.fund.organization.name")

                        .fund-details-item(ng-repeat="formula in $ctrl.formulaList.multiply" ng-if="$ctrl.fund.type == 'budget'")
                            .fund-details-item-label(translate="fund.criterias.multiplied_amount")
                            .fund-details-item-value(ng-bind="formula.amount_locale")                                 

                        .fund-details-item(ng-hide="$ctrl.fund.key == 'IIT'")
                            .fund-details-item-label Startdatum:
                            .fund-details-item-value(ng-bind="$ctrl.fund.start_date_locale")

                        .fund-details-item(ng-hide="$ctrl.fund.key == 'IIT'")
                            .fund-details-item-label Einddatum:
                            .fund-details-item-value(ng-bind="$ctrl.fund.end_date_locale")

                +fund_actions

        .flex.flex-vertical(ng-class="$ctrl.fund.description_position == 'before' ? 'flex-vertical-reverse' : ''")
            block-card-2-f-a-warning(fund="$ctrl.fund")
            
            block-products(
                type="budget"
                ng-if="$ctrl.products && (!$ctrl.fund.description_html || $ctrl.fund.description_position !== 'replace')"
                products="$ctrl.products.data"
                filters="{fund_id: $ctrl.fund.id}")

            block-products(
                type="subsidies"
                ng-if="$ctrl.subsidies && (!$ctrl.fund.description_html || $ctrl.fund.description_position !== 'replace')"
                products="$ctrl.subsidies.data"
                filters="{fund_id: $ctrl.fund.id}")

            div
                .block.block-markdown(
                    ng-if="$ctrl.fund.description_html"
                    ng-bind-html="$ctrl.fund.description_html")
                
                section.section.section-faq(ng-if="$ctrl.fund.faq")
                    .section-splash
                    h2.section-title(ng-if="$ctrl.fund.faq_title" ng-bind="$ctrl.fund.faq_title")

                    .faq.faq-fund
                        .faq-item(
                            collapse 
                            ng-repeat="question in $ctrl.fund.faq"
                            ng-class="{active: question.isActive}" 
                            ng-click="question.isActive = !question.isActive"
                            role="button"
                            aria-expanded="{{question.isActive ? true : false}}"
                            aria-controls="{{ 'faq_item_' + $index }}"
                            collapse-item)
                            
                            .faq-item-header(collapse-header)
                                h2(ng-bind="question.title" role="button" tabindex="0").faq-item-title
                                .faq-item-chevron-down.mdi.mdi-chevron-down
                                .faq-item-chevron-up.mdi.mdi-chevron-up
                            .faq-item-content(id="{{ 'faq_item_' + $index }}"): .block.block-markdown(ng-bind-html="question.description_html")    
