block content
    .header-splash: .splash.splash-c
    .block.block-showcase(ng-class="{'block-showcase-fullscreen': $ctrl.showMap}")
        top-navbar(hide-on-scroll="true")

        mixin pre_check_info
            .block-fund-pre-check-info
                .block-fund-pre-check-info-title(ng-bind="$root.appConfigs.features.pre_check_title")
                .block-fund-pre-check-info-description(ng-bind="$root.appConfigs.features.pre_check_description")

        mixin pre_check_progress_info
            .block-fund-pre-check-progress
                .block-pre-check-progress-title Uw gegevens
                .block-pre-check-progress-preview
                    .block-pre-check-progress-steps
                        .block-pre-check-progress-step(
                            ng-repeat="preCheck in $ctrl.preChecks"
                            ng-class="{active: $ctrl.activeStepIndex == $index, completed: $ctrl.activeStepIndex > $index}")

                            .block-pre-check-progress-step-wrapper
                                .block-pre-check-progress-step-number {{ $index + 1 }}
                                .block-pre-check-progress-step-separator
                                .block-pre-check-progress-questions
                                    .block-pre-check-progress-question
                                        .block-pre-check-progress-question-title(ng-bind="preCheck.title")
                                        .block-pre-check-progress-question-answer(
                                            ng-if="$ctrl.activeStepIndex > $parent.$index"
                                            ng-repeat="preCheckRecord in preCheck.record_types") 
                                            | {{ preCheckRecord.title_short }}: 
                                            strong {{ preCheckRecord.input_value }}

                        .block-pre-check-progress-step.block-pre-check-progress-step-totals(ng-class="{active: $ctrl.showTotals}")
                            .block-pre-check-progress-step-wrapper
                                .block-pre-check-progress-step-number    

                                .block-pre-check-progress-questions: .block-pre-check-progress-question
                                    .block-pre-check-progress-question-title Advies
                                    .block-pre-check-progress-question-answer
                                        | Je bent er bijna!

                .block-pre-check-amounts(ng-if="$ctrl.showTotals")
                    .block-pre-check-amount
                        .block-pre-check-amount-title Totaal bedrag
                        .block-pre-check-amount-value {{ $ctrl.totals.amount_total_currency | currency_format  }}
                
                .block-pre-check-actions(ng-if="$ctrl.showTotals")
                    .button.button-light.button-fill(ng-click="$ctrl.changeAnswers()") Change answers   

        main(id="main-content")
            .block.block-fund-pre-check: .showcase-wrapper
                .showcase-mobile-filters(ng-class="{active: $ctrl.countFiltersApplied > 0}")
                    .mobile-filters-count: .mobile-filters-count-value(ng-bind="$ctrl.countFiltersApplied")
                    .mobile-filters-title Filter op categorieën en tegoeden
                    .mobile-filters-icon(ng-click="$ctrl.toggleMobileMenu()" aria-label="Filter op categorieën en tegoeden"): em.mdi.mdi-filter-outline

                .block.block-breadcrumbs
                    a(ui-sref="home").breadcrumb-item Home
                    .breadcrumb-item.active(aria-current="location") De Potjes check
                
                .show-sm: +pre_check_info()

                .block-progress-pie.no-wrapper.show-sm    
                    .progress-pie
                        progress-pie(
                            style-image="width: 70px;"
                            title="{{ ($ctrl.activeStepIndex + 1) + ' van ' + $ctrl.preChecks.length }}"
                            size="100"
                            progress="($ctrl.activeStepIndex + 1) / $ctrl.preChecks.length"
                            color="#315EFD"
                            background-color="#D9D9D9"
                            stroke-width="0")
                        .progress-pie-text {{ $ctrl.activeStepIndex + 1 }} van {{ $ctrl.preChecks.length }}
                    
                    .progress-pie-info
                        .progress-pie-info-title(ng-bind="$ctrl.activePreCheck.title_short")
                        .progress-pie-info-details(ng-repeat="record in $ctrl.activePreCheck.record_types")
                            .progress-pie-info-details-key
                                | {{ record.title_short }}: 
                                | &nbsp;
                            .progress-pie-info-details-value {{ record.input_value || '---' }}
                    
                    .progress-pie-show-details
                        button.button.button-text.button-xs(
                            ng-if="!$ctrl.showMorePreCheckInfo" 
                            ng-click="$ctrl.setShowMorePreCheckInfo($event, true)"
                            aria-expanded="{{ $ctrl.showMorePreCheckInfo }}"
                            aria-controls="") 
                            | Toon meer
                            em.mdi.mdi-chevron-down.icon-right

                        button.button.button-text.button-xs(
                            ng-if="$ctrl.showMorePreCheckInfo" 
                            ng-click="$ctrl.setShowMorePreCheckInfo($event, false)"
                            aria-expanded="{{ $ctrl.showMorePreCheckInfo }}"
                            aria-controls="") 
                            | Toon minder
                            em.mdi.mdi-chevron-up.icon-right    

                .no-wrapper.show-sm(ng-if="$ctrl.showMorePreCheckInfo"): +pre_check_progress_info()

                .showcase-layout
                    .showcase-aside
                        .showcase-aside-block.hide-sm: +pre_check_progress_info()

                        .showcase-aside-block.hide-sm(ng-if="$ctrl.showTotals"): .form.form-compact
                            .form-group
                                ui-control-search-input(
                                    ng-model="$ctrl.form.values.q"
                                    placeholder="Zoeken..." 
                                    aria-label="Zoeken"
                                    ng-change="$ctrl.submitPreChecks()")

                            .form-group
                                label.form-label(for="select_organization") Organisatie
                                select-control(
                                    id="select_organization"
                                    prop="id"
                                    ng-model="$ctrl.form.values.organization_id"
                                    ng-change="$ctrl.submitPreChecks()"
                                    options="$ctrl.organizations"
                                    placeholder="{{ $ctrl.organizations[0].name }}")

                            .form-group
                                label.form-label(for="select_category") Categorie
                                select-control(
                                    id="select_category"
                                    prop="id"
                                    ng-model="$ctrl.form.values.tag_id"
                                    ng-change="$ctrl.submitPreChecks()"
                                    options="$ctrl.tags"
                                    placeholder="{{ $ctrl.tags[0].name }}")

                    .showcase-content: .block-fund-pre-check-step(ng-class="{'block-fund-pre-check-step-totals': $ctrl.showTotals}")
                        .hide-sm: +pre_check_info()

                        .block-fund-pre-check-step-section(ng-if="!$ctrl.showTotals")
                            //- Questions step
                            .block-fund-pre-check-step-section-details
                                .block-fund-pre-check-step-section-title(ng-bind="$ctrl.activePreCheck.title")
                                .block-fund-pre-check-step-section-description(ng-bind="$ctrl.activePreCheck.description")

                            .block-fund-pre-check-step-section-question(ng-repeat="preCheckRecord in $ctrl.activePreCheck.record_types")
                                .block-fund-pre-check-step-section-question-title(ng-bind="preCheckRecord.title")
                                .block-fund-pre-check-step-section-question-description(ng-bind="preCheckRecord.description")
                                
                                .row.form
                                    .col.col-md-12: .form-group
                                        select-control(
                                            ng-if="preCheckRecord.control_type == 'select_control'"
                                            id="pre_check_record_{{ preCheckRecord.record_type_key }}"
                                            prop="value"
                                            name="control_{{ preCheckRecord.record_type_key }}"
                                            ng-model="preCheckRecord.input_value"
                                            options="$ctrl.recordTypesByKey[preCheckRecord.record_type_key].options"
                                            placeholder="Uw {{ preCheckRecord.record_type.name }}")

                                        ui-control-checkbox(
                                            ng-if="preCheckRecord.control_type == 'ui_control_checkbox'"
                                            ng-model="preCheckRecord.is_checked"
                                            name="{{ preCheckRecord.record_type_key }}"
                                            data-id="pre_check_record_{{ preCheckRecord.record_type_key }}"
                                            data-label="{{ preCheckRecord.label }}"
                                            ng-change="$ctrl.setRecordValue(preCheckRecord)")

                                        ui-control-step(
                                            ng-if="preCheckRecord.control_type == 'ui_control_step'"
                                            ng-model="preCheckRecord.input_value"
                                            name="{{ preCheckRecord.record_type_key }}"
                                            role="spinbutton"
                                            data-min="0"
                                            data-max="32"
                                            data-id="pre_check_record_{{ preCheckRecord.id }}")

                                        ui-control-date(
                                            ng-if="preCheckRecord.control_type == 'ui_control_date'"
                                            ng-model="preCheckRecord.input_value"
                                            name="{{ preCheckRecord.record_type_key }}"
                                            data-id="pre_check_record_{{ preCheckRecord.record_type_key }}")

                                        ui-control-number(
                                            ng-if="preCheckRecord.control_type == 'ui_control_number'"
                                            ng-model="preCheckRecord.input_value"
                                            name="{{ preCheckRecord.record_type_key }}"
                                            data-id="pre_check_record_{{ preCheckRecord.record_type_key }}"
                                            data-placeholder="Uw {{ preCheckRecord.record_type.name }}")

                                        ui-control-text(
                                            ng-if="preCheckRecord.control_type == 'ui_control_text'"
                                            ng-model="preCheckRecord.input_value"
                                            name="{{ preCheckRecord.record_type_key }}"
                                            data-id="pre_check_record_{{ preCheckRecord.record_type_key }}"
                                            data-placeholder="Uw {{ preCheckRecord.record_type.name }}")

                                        ui-control-currency(
                                            ng-if="preCheckRecord.control_type == 'ui_control_currency'"
                                            ng-model="preCheckRecord.input_value"
                                            name="{{ preCheckRecord.record_type.key }}"
                                            data-id="preCheckRecord_{{ preCheckRecord.record_type_key }}"
                                            data-placeholder="Uw {{ preCheckRecord.record_type.name }}")
                                        .form-error(ng-repeat="error in preCheckRecord.errors.value" ng-bind="error")

                            .block-fund-pre-check-step-section-actions
                                .flex.flex-grow: button.button.button-light.button-sm(
                                    ng-click="$ctrl.prev()") Vorige stap
                                
                                .flex.flex-grow.flex-end: button.button.button-primary.button-sm(
                                    ng-disabled="!$ctrl.activePreCheckFilled()"
                                    ng-click="$ctrl.next()") Volgende

                        //- Answer results
                        div(ng-if="$ctrl.showTotals")
                            .block-fund-pre-check-step-section-results
                                .showcase-content-header.hide-sm
                                    h1.showcase-filters-title
                                        span Funds
                                        .showcase-filters-title-count(ng-bind="$ctrl.totals.funds.length")

                                .block.block-funds-pre-check-list(id="fund_list")
                                    fund-pre-check-item(
                                        ng-repeat="totalsPerFund in $ctrl.totals.funds"
                                        amounts="$ctrl.totals"
                                        fund="totalsPerFund")

                                    empty-block(
                                        title= "{{ 'block_funds.labels.title' | translate }}"
                                        description="{{ 'block_funds.labels.subtitle' | translate }}"
                                        hide-link="true"
                                        ng-if="$ctrl.totals.length == 0")    
