- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

top-navbar

mixin progress()
    .sign_up-progress(ng-class="{'sign_up-progress-compact':$ctrl.totalSteps.length >= 5}" role="progressbar" aria-valuenow="{{$ctrl.step - 1}}" aria-valuemax="{{$ctrl.totalSteps.length}}")
        .sign_up-step.sign_up-step-info(
            ng-class="$ctrl.step == 1 ? 'sign_up-step-active' : 'sign_up-step-done'"
            )
            .sign_up-step-border
            .mdi.mdi-information-outline

        .sign_up-step(
            ng-repeat="step in $ctrl.totalSteps track by $index"
            ng-class="($ctrl.step - 1) == step ? 'sign_up-step-active' : (($ctrl.step - 1) > step ? 'sign_up-step-done' : '')")

            .sign_up-step-border
            .sign-up-step-block Stap {{ ' ' + ($index + 1) }} 

        .sign_up-progress-overview Stap {{ $ctrl.step }} from {{ $ctrl.totalSteps.length }}

//-top-navbar
section: .wrapper 
    .block.block-sign_up: .block-wrapper
        h1.block-title(ng-if="$ctrl.state" i18n="fund_request.sign_up.header.main" i18n-vars="{fundname: ($ctrl.fund.name | capitalize)}")

        div(ng-if="$ctrl.state == 'fund_already_applied'")
            +progress()

            .sign_up-pane    
                .sign_up-pane-header(translate="fund_request.sign_up.header.title_fund_already_applied")

                .sign_up-pane-body
                    .sign_up-pane-media: img(src="./assets/img/fund-request-error.png" role="presentation")
                    p.sign_up-pane-text(translate="fund_request.sign_up.subtitles.fund_already_applied")

                    ul.sign_up-pane-list.sign_up-pane-list-criteria: li(
                        ng-repeat="critera in $ctrl.fund.criteria" 
                        ng-class="{pending: 'item-progress', approved: 'item-valid', 'declined' : 'item-declined'}[critera.request_state]")
                        .item-icon: em.mdi(
                            ng-class="{pending: 'mdi-help', approved: 'mdi-check-bold', 'declined' : 'mdi-close-thick'}[critera.request_state]")
                        span(ng-if="critera.title" ng-bind="critera.title")
                        span(
                            ng-if="!critera.title"
                            i18n="fund_request.sign_up.pane.criterion_{{{ '>' : 'more', '<' :'less', '=': 'same' }[critera.operator]}}" 
                            i18n-vars="{name: critera.record_type_name, value: ($ctrl.criterionValuePrefix[critera.record_type_key]) + critera.value}")
                    span(translate="fund_request.sign_up.pane.fund_already_applied")    

        //- Welcome screen
        div(ng-if="$ctrl.state == 'welcome'")
            +progress()

            .sign_up-pane    
                .sign_up-pane-header(translate="fund_request.sign_up.header.title_step_1")

                .sign_up-pane-body
                    .sign_up-pane-text.text-center(translate="fund_request.sign_up.subtitles.step_1")
                    .sign_up-pane-media: img(ng-src="./assets/img/fund-request-welcome.png") 

                .sign_up-pane-footer: .row
                    .col.col-lg-6.col-xs-6.text-left: button.button.button-text.button-text-padless(role="button")
                    .col.col-lg-6.col-xs-6.text-right: button.button.button-text.button-text-padless(ng-click="$ctrl.nextStep()" role="button")
                        | {{ 'fund_request.sign_up.pane.footer.next' | translate }}
                        em.mdi.mdi-chevron-right.icon-right 

        //- Fund request information
        div(ng-if="$ctrl.state == 'auth'")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="fund_request.sign_up.header.title_step_2")

                .sign_up-pane-body(ng-if="!$ctrl.hasApp")
                    .sign_up-pane-heading(translate="Vul uw e-mailadres in om verder te gaan")

                    form(ng-submit="$ctrl.authForm.submit()").form: .row
                        .form-group.col.col-lg-9
                            label.form-label(i18n="popup_auth.input.mail" for="email_signup")
                            ui-control-email(ng-model="$ctrl.authForm.values.email" data-placeholder="bijv. info@info.nl" id="email_signup")
                            .form-error(ng-repeat="error in $ctrl.authForm.errors.email" ng-bind="error")
                        .form-group.col.col-lg-3
                            label.form-label.hide-sm &nbsp;
                            button(
                                ng-class="{'button-disabled': !$ctrl.authForm.values.email}"
                                type="submit").button.button-primary.button-fill {{ "popup_auth.buttons.submit" | translate }}

                    .sign_up-pane-link(ng-click="$ctrl.setHasAppProp(true)" translate="fund_request.sign_up.labels.has_app").hide-sm

                .sign_up-pane-body(ng-if="$ctrl.hasApp")
                    .sign_up-pane-heading(translate='fund_request.sign_up.app.title')

                    .sign_up-pane-auth
                        .sign_up-pane-auth-content
                            .sign_up-pane-text(
                                ng-repeat="line in ('fund_request.sign_up.app.description_top' | translate | lines_to_array)"
                                ng-bind="line")

                            .sign_up-pane-auth-qr_code.show-sm
                                qr-code(
                                    ng-if="$ctrl.authToken" 
                                    qr-value="$ctrl.authToken" 
                                    qr-type="auth_token" 
                                    qr-logo=src_prefix + "./assets/img/me-logo.png") 

                            .sign_up-pane-text(
                                ng-repeat="line in ('fund_request.sign_up.app.description_bottom' | translate | lines_to_array)"
                                ng-bind="line")

                            .sign_up-pane-link(ng-click="$ctrl.setHasAppProp(false)" translate="fund_request.sign_up.labels.no_app").show-sm

                            app-links

                        .sign_up-pane-auth-qr_code.hide-sm
                            qr-code(
                                ng-if="$ctrl.authToken" 
                                qr-value="$ctrl.authToken" 
                                qr-type="auth_token" 
                                qr-logo=src_prefix + "./assets/img/me-logo.png") 

                    .sign_up-pane-link.hide-sm(ng-click="$ctrl.setHasAppProp(false)" translate="fund_request.sign_up.labels.no_app")

        //- Log in email sent
        div(ng-if="$ctrl.state == 'auth_email_sent'")
            +progress()

            //- For new users
            .sign_up-pane(ng-if="$ctrl.authEmailRestoreSent")
                .sign_up-pane-header(i18n="fund_request.sign_up.pane.header_title" role="heading") 
                .sign_up-pane-body
                    .sign_up-email_sent
                        .sign_up-email_sent-icon
                            img(src=src_prefix + "./assets/img/modal/email_signup.svg" role="presentation").sign_up-email_sent-icon-img
                        .sign_up-email_sent-title(i18n="popup_auth.labels.join")
                        .sign_up-email_sent-text(translate="{{ 'popup_auth.notifications.link_' + $root.appConfigs.features.communication_type }}")

            //- For existing users
            .sign_up-pane(ng-if="$ctrl.authEmailSent")
                .sign_up-pane-header(i18n="fund_request.sign_up.pane.header_title" role="heading") 
                .sign_up-pane-body
                    .sign_up-email_sent
                        .sign_up-email_sent-icon
                            img(src=src_prefix + "./assets/img/modal/email_signup.svg" role="presentation").sign_up-email_sent-icon-img
                        .sign_up-email_sent-title(translate="{{ 'popup_auth.header.title_succes_' + $root.appConfigs.features.communication_type }}")
                        .sign_up-email_sent-text(translate="{{ 'popup_auth.header.subtitle_we_succes_' + $root.appConfigs.features.communication_type }}" translate-values="{email: $ctrl.authForm.values.email}")

        //- DigiD login
        div(ng-if="$ctrl.state == 'digid_login'")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(i18n="fund_request.sign_up.header.title_log_digid") 
                .sign_up-pane-body

                    .sign_up-pane-digid
                        button.digid-button(type="button" ng-click="$ctrl.startDigId()") Log in met DigiD
                        img.digid-image(src=src_prefix + "./assets/img/icon-digid.svg" alt="DigiD")

                .sign_up-pane-footer(ng-if="!$ctrl.digidMandatory"): .row
                    .col.col-lg-6.col-xs-6.text-left &nbsp;
                    .col.col-lg-6.col-xs-6.text-right: button.button.button-text.button-text-padless(ng-click="$ctrl.nextStep()" role="button")
                        em.mdi.mdi-chevron-right.icon-right
                        | {{ 'fund_request.sign_up.pane.footer.next' | translate }}  

        //- List the criteria
        div(ng-if="$ctrl.state == 'criteria'")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(i18n="fund_request.sign_up.pane.header_title") 
                .sign_up-pane-body
                    p.sign_up-pane-text(i18n="fund_request.sign_up.pane.text" i18n-vars="{fundname: $ctrl.fund.name }")

                    ul.sign_up-pane-list.sign_up-pane-list-criteria: li(
                        ng-repeat="critera in $ctrl.fund.criteria")
                        .item-icon.item-icon-default
                        span(ng-if="critera.title" ng-bind="critera.title")
                        span(
                            ng-if="!critera.title"
                            i18n="fund_request.sign_up.pane.criterion_{{{ '>' : 'more', '<' :'less', '=': 'same' }[critera.operator]}}" 
                            i18n-vars="{name: critera.record_type_name, value: ($ctrl.criterionValuePrefix[critera.record_type_key]) + critera.value}")

                .sign_up-pane-footer: .row
                    .col.col-lg-6.col-xs-6.text-left &nbsp;
                    .col.col-lg-6.col-xs-6.text-right: button.button.button-text.button-text-padless(ng-click="$ctrl.nextStep()" role="button")
                        em.mdi.mdi-chevron-right.icon-right
                        | {{ 'fund_request.sign_up.pane.footer.next' | translate }}  

        div(
            ng-repeat="invalidCriteria in $ctrl.invalidCriteria track by $index"
            ng-if="$ctrl.state == 'criteria_' + $index")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(ng-if="invalidCriteria.title" ng-bind="invalidCriteria.title")
                .sign_up-pane-header(ng-if="!invalidCriteria.title" ng-bind="'Bevestig uw ' + $ctrl.recordTypes[invalidCriteria.record_type_key].name")
                .sign_up-pane-body: form(ng-submit="$ctrl.submitStepCriteria(invalidCriteria)").form.row
                    .form-group.col.col-lg-12
                        .sign_up-pane-text.block.block-markdown
                            .sign_up-pane-text(
                                ng-if="invalidCriteria.description && invalidCriteria.description !== '_'"
                                ng-bind-html="invalidCriteria.description_html")
                            .sign_up-pane-text(
                                ng-if="!invalidCriteria.description && invalidCriteria.description !== '_'"
                                i18n="fund_request.sign_up.pane.criterion_{{{ '>' : 'more', '<' :'less', '=': 'same' }[invalidCriteria.operator]}}" 
                                i18n-vars="{name: invalidCriteria.record_type_name, value: ($ctrl.criterionValuePrefix[invalidCriteria.record_type_key]) + invalidCriteria.value}")

                        .form-label(ng-bind="$ctrl.recordTypes[invalidCriteria.record_type_key].name")
                        ui-control-checkbox(
                            ng-if="invalidCriteria.control_type == 'ui_control_checkbox'"
                            ng-model="invalidCriteria.is_checked"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-label="{{ invalidCriteria.label }}"
                            ng-change="$ctrl.setRecordValue(invalidCriteria)")
                        ui-control-step(
                            ng-if="invalidCriteria.control_type == 'ui_control_step'"
                            ng-model="invalidCriteria.input_value"
                            data-min="0"
                            data-max="32"
                            data-id="criterion_{{ invalidCriteria.id }}")
                        ui-control-date(
                            ng-if="invalidCriteria.control_type == 'ui_control_date'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}")
                        ui-control-number(
                            ng-if="invalidCriteria.control_type == 'ui_control_number'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                        ui-control-text(
                            ng-if="invalidCriteria.control_type == 'ui_control_text'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                        ui-control-currency(
                            ng-if="invalidCriteria.control_type == 'ui_control_currency'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                        .form-error(ng-repeat="error in invalidCriteria.errors.value" ng-bind="error")

                    .form-group.col.col-lg-12
                        file-uploader(
                            ng-if="invalidCriteria.show_attachment"
                            type="fund_request_record_proof"
                            files="invalidCriteria.files"
                            on-file-removed="$ctrl.onFileInfo(invalidCriteria, files)"
                            on-file-resolved="$ctrl.onFileInfo(invalidCriteria, files)"
                            on-file-batch-queued="$ctrl.onFileInfo(invalidCriteria, files)")
                        .form-error(ng-repeat="error in invalidCriteria.errors.file" ng-bind="error")
                        .form-error(ng-repeat="error in invalidCriteria.errors.record" ng-bind="error")

                .sign_up-pane-footer: .row
                    .col.col-lg-6.col-xs-6.text-left: button.button.button-text.button-text-padless(ng-click="$ctrl.prevStep()" role="button")
                        em.mdi.mdi-chevron-left.icon-left
                        translate(translate='fund_request.sign_up.pane.footer.prev')
                    .col.col-lg-6.col-xs-6.text-right(ng-if="!$ctrl.hideFundRequestOverviewStep || $ctrl.invalidCriteria.length != $index + 1")
                        button.button.button-text.button-text-padless(
                            ng-disabled="invalidCriteria.isUploadingFiles"
                            ng-click="$ctrl.submitStepCriteria(invalidCriteria)"
                            role="button")
                            em.mdi.mdi-chevron-right.icon-right
                            translate(translate='fund_request.sign_up.pane.footer.next')
                        
                    .col.col-lg-6.col-xs-6.text-right(ng-if="$ctrl.hideFundRequestOverviewStep && $ctrl.invalidCriteria.length == $index + 1")
                        button.button.button-primary(
                            ng-disabled="invalidCriteria.isUploadingFiles"
                            ng-click="$ctrl.submitStepCriteria(invalidCriteria)"
                            role="button")
                            | Verzenden

        //- Confirm net worth
        div(ng-if="$ctrl.state == 'confirm_criteria'")
            +progress()

            mixin confirm_criteria_footer()
                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left &nbsp;
                    .col.col-lg-6.text-right: .button.button-text.button-text-padless(
                        ng-if="$ctrl.confirm_criteria"
                        ng-click="$ctrl.submitConfirmCriteria()"
                        role="button")
                        span(i18n="fund_request.sign_up.pane.footer.next")
                        em.mdi.mdi-chevron-right.icon-right

            .sign_up-pane(ng-if="$ctrl.fund.key == 'bus_2020'")
                .sign_up-pane-header Bevestig uw inkomen
                .sign_up-pane-body: .form
                    p.sign_up-pane-text U staat op het punt om een Busvoordeelabonnement aan te vragen. U dient te verklaren dat u aan de voorwaarden voldoet:

                    ul.sign_up-pane-list 
                        li U bent 18 jaar of ouder
                        li U kunt geen gebruik maken van de OV-chipkaart voor studenten (het studentenreisproduct van de DUO)
                        li U woont in Nijmegen
                        li U bent geen inwoner van het AZC
                        li In de tabel hieronder vindt u wat uw maximale inkomen mag zijn. Gebruik ter controle uw inkomen van de maand vóór de maand waarin u het abonnement aanvraagt. Voorbeeld: u vraagt op 3 december 2020 het abonnement aan. Dan vergelijkt u uw inkomen van november 2020 met het maximale inkomen dat voor u geldt

                    table.table.collapse-sides
                        tr
                            th Situatie
                            th Vanaf 18 jaar tot uw pensioenleeftijd
                            th Vanaf uw pensioenleeftijd
                            th Indicatie met verblijf (in zorginstelling of verpleeghuis tot pensioenleeftijd)
                        tr
                            td Alleenstaand
                            td € 1.378,-
                            td € 1.545,-
                            td € 475,-
                        tr
                            td Alleenstaande ouder
                            td € 1.768,-
                            td € 1.872,-
                            td € 690,-
                        tr
                            td Getrouwd of samenwonend
                            td € 1.963,-
                            td € 2.080,-
                            td € 765,-

                    p.sign_up-pane-text 
                        | #[strong Wat hoort bij het inkomen?] 
                        | #[br]
                        | Alle inkomsten uit werk, uitkering, pensioen, alimentatie, kamerhuur, kostgeld, heffingskorting belastingdienst. 
                        | Wilt u weten op welke heffingskortingen u recht heeft? Kijk dan op de website van de Belastingdienst: #[a(href="http://www.belastingdienst.nl/") www.belastingdienst.nl]. #[br]
                        | #[br]
                        | #[strong Wat hoort niet bij het inkomen?] #[br]
                        | Zorgtoeslag, kinderopvangtoeslag, huurtoeslag, en doeluitkeringen of vergoedingen (bijvoorbeeld schadevergoedingen).

                    p.sign_up-pane-text 
                        | Door te verklaren dat u aan de voorwaarden voldoet, 
                        | gaat u er mee akkoord dat uw aanvraag gecontroleerd zal worden, en dat er een bedrag kan
                        | worden teruggevorderd indien u achteraf niet blijkt te voldoen.

                    p.sign_up-pane-text: ui-control-checkbox(
                        ng-model="$ctrl.confirm_criteria"
                        data-id="confirm_criteria"
                        data-label="Ik verklaar dat ik voldoe aan de bovenstaande voorwaarden")

                +confirm_criteria_footer()

            .sign_up-pane(ng-if="$ctrl.fund.key == 'meedoen_2020'")
                .sign_up-pane-header Bevestig uw inkomen
                .sign_up-pane-body: .form
                    p.sign_up-pane-text U staat op het punt om een meedoenregeling aan te vragen. U dient te verklaren dat u aan de voorwaarden voldoet:

                    ul.sign_up-pane-list 
                        li U bent 18 jaar of ouder
                        li U bent geen student
                        li U woont in Nijmegen
                        li U voldoet aan de maximale inkomensgrens (netto) voor de Meedoen-regeling 2021:

                    table.table.collapse-sides
                        tr
                            th Situatie
                            th Vanaf 18 jaar tot uw pensioenleeftijd
                            th Vanaf uw pensioenleeftijd
                            th Indicatie Zorg met verblijf (vanaf 18 jaar)
                        tr
                            td Alleenstaand
                            td € 1.166,-
                            td € 1.305,-
                            td € 375,-
                        tr
                            td Alleenstaande ouder
                            td € 1.496,-
                            td € 1.584,-
                            td € 505,-
                        tr
                            td Getrouwd/samenwonend
                            td € 1.661,-
                            td € 1.760,-
                            td € 590,-

                    p.sign_up-pane-text 
                        | #[strong Wat hoort bij het inkomen?] 
                        | #[br]
                        | Alle inkomsten uit werk, uitkering, pensioen, alimentatie, kamerhuur, kostgeld, heffingskorting belastingdienst. 
                        | Wilt u weten op welke heffingskortingen u recht heeft? Kijk dan op de website van de Belastingdienst: #[a(href="http://www.belastingdienst.nl/") www.belastingdienst.nl]. #[br]
                        | #[br]
                        | #[strong Wat hoort niet bij het inkomen?] #[br]
                        | Zorgtoeslag, kinderopvangtoeslag, huurtoeslag, en doeluitkeringen of vergoedingen (bijvoorbeeld schadevergoedingen).

                    p.sign_up-pane-text 
                        | Door te verklaren dat u aan de voorwaarden voldoet, 
                        | gaat u er mee akkoord dat uw aanvraag gecontroleerd zal worden, en dat het bedrag van €150,- 
                        | zal worden teruggevorderd indien u achteraf niet blijkt te voldoen.

                    p.sign_up-pane-text: ui-control-checkbox(
                        ng-model="$ctrl.confirm_criteria"
                        data-id="confirm_criteria"
                        data-label="Ik verklaar dat ik voldoe aan de bovenstaande voorwaarden")

                +confirm_criteria_footer()

        //- Fund request overivew
        div(ng-if="$ctrl.state == 'application_overview'")
            +progress()

            .sign_up-pane
                .sign_up-pane-header Aanvraag overzicht
                .sign_up-pane-body: .form
                    p.sign_up-pane-text 
                        span Controleer hieronder of de gegevens die u heeft ingevuld juist zijn. U kunt terug naar eerdere stappen met de knop 
                        strong Vorige stap.

                    p.sign_up-pane-text
                        span Kloppen de gegevens? Klik dan op de knop 
                        strong Vraag aan.  
                
                .sign_up-pane-body
                    ul.sign_up-pane-list.sign_up-pane-list-criteria: li(
                        ng-repeat="critera in $ctrl.invalidCriteria")
                        .item-icon.item-icon-default

                        span 'Uw {{ critera.record_type_name }}' is 
                        strong {{ critera.input_value }}

                        file-uploader(
                            ng-if="critera.show_attachment"
                            type="fund_request_record_proof"
                            files="critera.files"
                            read-only="true")  
                
                .sign_up-pane-footer: .row
                    .col.col-lg-6.col-xs-6.text-left: button.button.button-text.button-text-padless(ng-click="$ctrl.prevStep()" role="button")
                        em.mdi.mdi-chevron-left.icon-left
                        translate(translate='fund_request.sign_up.pane.footer.prev')
                    .col.col-lg-6.col-xs-6.text-right: button.button.button-primary(ng-click="$ctrl.nextStep()" role="button")
                        | Vraag aan

        //- Done
        div(ng-if="$ctrl.state == 'done'")
            //- Success
            div(ng-if="!$ctrl.finishError")
                +progress()

                .sign_up-pane
                    .sign_up-pane-header Aanvraag ontvangen
                    .sign_up-pane-body: form(ng-submit="$ctrl.submitCriteria(invalidCriteria)").form.row
                        h1.sign_up-pane-heading.text-center Verzonden!
                        p.sign_up-pane-text.text-center 
                            | Je aanvraag is ontvangen. De aanvraag wordt binnen 10 werkdagen verwerkt. Je ontvangt hierover een e-mail.
                        .block-icon: img(src=src_prefix + "./assets/img/icon-sign_up-success.svg" role="presentation")
                        .text-center: .button.button-text.button-text-primary.button-text-padless(ng-click="$ctrl.finish()" role="button") Terug
                        .form-group.col.col-lg-12.hidden-xs: br

            //- Error
            div(ng-if="$ctrl.finishError")
                +progress()

                .sign_up-pane
                    .sign_up-pane-header Er is een fout opgetreden tijdens het aanvragen.
                    .sign_up-pane-body: .row
                        .form-group.col.col-lg-12
                            .block-icon: .mdi.mdi-close
                            p.sign_up-pane-text.text-center 
                                | Reden:
                            p.sign_up-pane-text.text-center(translate="{{ $ctrl.errorReason }}")

                            .text-center: .button.button-default(ng-click="$ctrl.finish()" role="button") Verlaat formulier
                        .form-group.col.col-lg-12: br 
