top-navbar

main(id="main-content"): section.section.section-profile: .wrapper
    //- Breadcrumbs
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        a(translate="fund_requests.header.title" ui-sref="fund-requests").breadcrumb-item
        .breadcrumb-item.active(aria-current="location") Aanvraag {{ '#' + $ctrl.fundRequest.id }}

    //- Page
    .block.block-profile.block-fund-request
        //- Menu
        .profile-aside: profile-menu.hide-sm

        //- Page content
        .profile-content
            .card: .card-section
                h3.card-heading.card-heading-lg.flex
                    .flex.flex-grow Status aanvraag
                    .flex.flex-center.flex-vertical
                        .label.label-warning(ng-bind="$ctrl.fundRequest.state_locale" ng-if="$ctrl.fundRequest.state === 'pending'")
                        .label.label-success(ng-bind="$ctrl.fundRequest.state_locale" ng-if="$ctrl.fundRequest.state === 'approved_partly'")
                        .label.label-success(ng-bind="$ctrl.fundRequest.state_locale" ng-if="$ctrl.fundRequest.state === 'approved'")
                        .label.label-default(ng-bind="$ctrl.fundRequest.state_locale" ng-if="$ctrl.fundRequest.state === 'declined'")
                        .label.label-danger(ng-bind="$ctrl.fundRequest.state_locale" ng-if="$ctrl.fundRequest.state === 'disregarded'")

                .fund-request-section
                    .fund-request-props
                        .fund-request-prop
                            .fund-request-prop-label Naam van het fonds:
                            .fund-request-prop-value(dusk="fundRequestFund" ng-bind="$ctrl.fundRequest.fund.name")

                        .fund-request-prop
                            .fund-request-prop-label ID:
                            .fund-request-prop-value(ng-bind="'#' + $ctrl.fundRequest.id")

                        .fund-request-prop
                            .fund-request-prop-label Ingediend op:
                            .fund-request-prop-value(ng-bind="$ctrl.fundRequest.created_at_locale")

                        .fund-request-prop
                            .fund-request-prop-label Aantal eigenschappen:
                            .fund-request-prop-value(ng-bind="$ctrl.fundRequest.records.length")

            h2.profile-content-header: .profile-content-title Mijn gegevens

            .card.card-fund-request-conversation(
                ng-repeat="record in $ctrl.fundRequest.records"
                ng-class="{open: record.opened}")

                .card-header: .card-header-wrapper
                    .card-header-icon: em.mdi.mdi-card-account-details-outline

                    .card-heading-wrapper
                        h3.card-heading.card-heading-lg 
                            | {{ record.record_type.name }}
                            span •
                            | {{ record.value }}
                        .card-header-date(ng-bind="record.created_at_locale")

                    .label.label-primary.label-xl.nowrap(ng-if="record.notAnsweredCount > 0")
                        .label-blink(aria-hidden="true")
                        | {{ record.notAnsweredCount }}&nbsp;
                        .label-text nieuw bericht

                    .card-header-view(
                        ng-if="record.clarifications.length"
                        ng-click="$ctrl.toggleRecord(record)") Bekijk
                        em.mdi.mdi-chevron-down.card-header-view-arrow

                .card-section(ng-if="record.opened")
                    .fund-request-section
                        .fund-request-conversations
                            .fund-request-chat(
                                ng-repeat="clarification in record.clarifications track by $index"
                                ng-class="clarification.state === 'pending' ? 'fund-request-chat-new' : 'fund-request-chat-answered'")

                                .fund-request-chat-number {{ record.clarifications.length - $index }}
                                .fund-request-chat-info
                                    .fund-request-chat-time
                                        em.mdi.mdi-clock-outline.fund-request-chat-time-icon
                                        | {{ clarification.created_at_locale.split(' - ')[1] }}

                                    .fund-request-chat-status(ng-if="clarification.state === 'pending'")
                                        em.fund-request-chat-status-icon
                                        | Nieuw verzoek

                                    .fund-request-chat-status(ng-if="clarification.state === 'answered'")
                                        em.mdi.mdi-check.fund-request-chat-status-icon
                                        | Beantwoord

                                .fund-request-chat-conversation
                                    .fund-request-chat-conversation-content
                                        .fund-request-chat-message.fund-request-chat-message-in
                                            .fund-request-chat-message-time(ng-bind="clarification.created_at_locale")
                                            .fund-request-chat-message-content
                                                .fund-request-chat-message-text(ng-bind="clarification.question")

                                        .fund-request-chat-message.fund-request-chat-message-out(ng-if="clarification.state === 'answered'")
                                            .fund-request-chat-message-time(ng-bind="clarification.answered_at_locale")
                                            .fund-request-chat-message-content
                                                .fund-request-chat-message-text(ng-bind="clarification.answer")
                                                .fund-request-chat-message-file-uploader(ng-if="clarification.files.length")
                                                    file-uploader(
                                                        type="fund_request_clarification_proof"
                                                        files="clarification.files"
                                                        compact="true"
                                                        read-only="true"
                                                        hide-buttons="false")

                                    .fund-request-chat-conversation-reply(
                                        ng-if="clarification.state === 'pending' && !clarification.showForm"
                                        ng-click="$ctrl.openReplyForm(record, clarification)")
                                        button.button.button-light.button-xs.button-fill.flex.flex-center
                                            em.mdi.mdi-reply
                                            | Antwoord

                                    .fund-request-chat-conversation-answer.form.form-compact(
                                        ng-if="clarification.state === 'pending' && clarification.showForm")

                                        .fund-request-chat-conversation-answer-box.form-group
                                            ui-control-textarea(
                                                rows="5"
                                                ng-model="$ctrl.form.values.answer"
                                                data-placeholder="{{ fund_request_clarification.placeholder | translate }}")
                                            .form-error(ng-repeat="error in $ctrl.form.errors.answer" ng-bind="error")

                                        .fund-request-chat-conversation-answer-options
                                            file-uploader(
                                                type="fund_request_clarification_proof"
                                                files="$ctrl.files"
                                                compact="true"
                                                crop-media="false"
                                                multiple-size="3"
                                                on-file-removed="$ctrl.onFileInfo(files)"
                                                on-file-resolved="$ctrl.onFileInfo(files)"
                                                on-file-batch-queued="$ctrl.onFileInfo(files)")

                                            .button-group
                                                button.button.button-light.button-xs(ng-click="clarification.showForm = false")
                                                    em.mdi.mdi-close
                                                    | Annuleer

                                                button.button.button-primary.button-xs(
                                                    ng-disabled="$ctrl.isUploadingFiles || $ctrl.form.values.answer === ''"
                                                    ng-click="$ctrl.form.submit()")
                                                    em.mdi.mdi-send-outline
                                                    | Verzend

            .card.card-collapsable(
                ng-if="$ctrl.fundRequest.state === 'declined'"
                ng-class="{open: $ctrl.showDeclinedNote}")

                .card-header(ng-click="$ctrl.showDeclinedNote = !$ctrl.showDeclinedNote"): .card-header-wrapper
                    em.mdi.mdi-menu-down.card-header-arrow
                    h2.card-heading.card-heading-lg Reden van weigeren

                .card-section(ng-if="$ctrl.showDeclinedNote")
                    p.block.block-markdown(
                        ng-if="$ctrl.fundRequest.note" 
                        ng-bind="$ctrl.fundRequest.note")
                    
                    p.block.block-markdown(
                        ng-if="!$ctrl.fundRequest.note").text-muted No note
