top-navbar
section.section.section-funds: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active(translate="funds.header.{{ $root.appConfigs.client_key }}.title" translate-default="{{ 'funds.header.title' | translate }}")
    .section-title(translate="funds.header.{{ $root.appConfigs.client_key }}.title" translate-default="{{ 'funds.header.title' | translate }}")
    
    .block.block-funds
        .fund-item(ng-repeat="fund in $ctrl.funds")
            .fund-image
                img(ng-src="{{ fund.logo.sizes.thumbnail || fund.organization.logo.sizes.thumbnail || './assets/img/placeholders/fund-thumbnail.png' }}")
            .fund-details
                .fund-name 
                    | {{ fund.name }}
                    span(ng-show="funds.status == 'active'" translate="funds.status.active").label.label-primary.label-square
                .fund-organization(ng-bind="fund.organization.name") 
                .fund-description(ng-bind="fund.description") 
                .fund-categories
                    .fund-categories-label(i18n="funds.labels.categories_label")
                    .fund-categories-list(ng-bind="fund.end_date_locale")

                a.button.button-primary(
                    ng-if="!fund.alreadyReceived && fund.isApplicable" 
                    ng-click="$ctrl.applyFund(fund)" 
                    translate="funds.buttons.is_applicable")
                
                a.button.button-default(
                    ng-if="!fund.alreadyReceived && !fund.isApplicable && $ctrl.appConfigs.features.funds.fund_requests" 
                    ui-sref="fund-request({fund_id: fund.id})"
                    translate="funds.buttons.start_request")
                
                a.button.button-primary(
                    ng-if="fund.alreadyReceived" 
                    ui-sref="{{ fund.voucherStateName }}" 
                    translate="funds.buttons.already_received")

            .fund-criterias(ng-if="fund.criterioaList.length > 0")
                .fund-criterias-label(translate="funds.labels.criteria" translate-values="{nth: fund.criterioaList.length}")
                .fund-criteria-item(ng-repeat="criterion in fund.criterioaList")
                    .fund-criteria-item-label(ng-bind="criterion.key")
                    .fund-criteria-item-value(ng-bind="criterion.value")
        
        //- .block.block-show-more: a(href="#").button.button-primary.button-wide {{ "funds.buttons.more" | translate }}

        empty-block(
            ng-if="$ctrl.funds.length == 0"
            title="Geen fondsen beschikbaar"
            description="Momenteel zijn er geen regelingen om je voor aan te melden."
            text="Gebruik een activatiecode"
            hide-link="true")
