- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

//- top-navbar

mixin progress()
    .sign_up-progress(ng-class="{'sign_up-progress-compact':$ctrl.totalSteps.length >= 5}")
        .sign_up-step.sign_up-step-info(ng-class="$ctrl.step == 1 ? 'sign_up-step-active' : 'sign_up-step-done'")
            .sign_up-step-border
            .mdi.mdi-information-outline

        .sign_up-step(
            ng-repeat="step in $ctrl.totalSteps track by $index"
            ng-class="($ctrl.step - 1) == step ? 'sign_up-step-active' : (($ctrl.step - 1) > step ? 'sign_up-step-done' : '')")
            
            .sign_up-step-border
            .sign-up-step-block Stap {{ ' ' + ($index + 1) }} 
        
        .sign_up-progress-overview Stap {{ $ctrl.step }} from {{ $ctrl.totalSteps.length }}

//- top-navbar
section: .wrapper 
    .block.block-sign_up: .block-wrapper
        .sign_up-header: a(ng-click="$ctrl.goToMain()").sign_up-header-back
            em.mdi.mdi-chevron-left
            | Terug
        
        .block-title(translate="fund_request.sign_up.header.main")

        //- Welcome screen
        div(ng-if="$ctrl.state == 'welcome'")
            +progress()

            .sign_up-pane    
                .sign_up-pane-header(translate="fund_request.sign_up.header.title_step_1")

                .sign_up-pane-body
                    .sign_up-pane-text.text-center(translate="fund_request.sign_up.subtitles.step_1")
                    .sign_up-pane-media: img(ng-src="./assets/img/fund-request-welcome.png") 

                .sign_up-pane-footer: .row
                    .col.col-lg-6.col-xs-6.text-left: .button.button-text.button-text-padless
                    .col.col-lg-6.col-xs-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.nextStep()")
                        | {{ 'fund_request.sign_up.pane.footer.next' | translate }}
                        em.mdi.mdi-chevron-right.icon-right 

        //- Fund request information
        div(ng-if="$ctrl.state == 'auth'")
            +progress()

            .sign_up-pane
                .sign_up-pane-header(translate="fund_request.sign_up.header.title_step_2")

                .sign_up-pane-body(ng-if="!$ctrl.hasApp")
                    .sign_up-pane-heading(translate="Vul uw email adres in om verder te gaan")
                    .sign_up-pane-text(translate="fund_request.sign_up.subtitles.step_2")

                    form(ng-submit="$ctrl.authForm.submit()").form: .row
                        .form-group.col.col-lg-9
                            label.form-label(i18n="popup_auth.input.mail")
                            ui-control-email(ng-model="$ctrl.authForm.values.email" data-placeholder="bijv. info@info.nl")
                            .form-error(ng-repeat="error in $ctrl.authForm.errors.email" ng-bind="error")
                        .form-group.col.col-lg-3
                            label.form-label.hide-sm &nbsp;
                            button(
                                ng-class="{'button-disabled': !$ctrl.authForm.values.email}"
                                type="submit").button.button-primary.button-fill {{ "popup_auth.buttons.submit" | translate }}

                    .sign_up-pane-link(ng-click="$ctrl.setHasAppProp(true)" translate="fund_request.sign_up.labels.has_app").hide-sm

                .sign_up-pane-body(ng-if="$ctrl.hasApp")
                    .sign_up-pane-heading(translate='fund_request.sign_up.app.title')

                    .sign_up-pane-auth
                        .sign_up-pane-auth-content
                            .sign_up-pane-text(
                                ng-repeat="line in ('fund_request.sign_up.app.description_top' | translate | lines_to_array)"
                                ng-bind="line")
                            
                            .sign_up-pane-auth-qr_code.show-sm
                                qr-code(
                                    ng-if="$ctrl.authToken" 
                                    qr-value="$ctrl.authToken" 
                                    qr-type="auth_token" 
                                    qr-logo=src_prefix + "./assets/img/me-logo.png") 
                            
                            .sign_up-pane-text(
                                ng-repeat="line in ('fund_request.sign_up.app.description_bottom' | translate | lines_to_array)"
                                ng-bind="line")

                            .sign_up-pane-link(ng-click="$ctrl.setHasAppProp(false)" translate="fund_request.sign_up.labels.no_app").show-sm

                            .sign_up-pane-auth-apps
                                a(href="https://itunes.apple.com/nl/app/me-forus/id1422610676" aria-label="Dowload Me-app").sign_up-pane-auth-app-item: img(src=src_prefix + "./assets/img/icon-app-ios.svg")
                                a(href="https://play.google.com/store/apps/details?id=io.forus.me" aria-label="Dowload Me-app").sign_up-pane-auth-app-item: img(src=src_prefix + "./assets/img/icon-app-android.svg")
                        
                        .sign_up-pane-auth-qr_code.hide-sm
                            qr-code(
                                ng-if="$ctrl.authToken" 
                                qr-value="$ctrl.authToken" 
                                qr-type="auth_token" 
                                qr-logo=src_prefix + "./assets/img/me-logo.png") 

                    .sign_up-pane-link.hide-sm(ng-click="$ctrl.setHasAppProp(false)" translate="fund_request.sign_up.labels.no_app")
       
        //- Log in email sent
        div(ng-if="$ctrl.state == 'auth_email_sent'")
            +progress()

            //- For new users
            .sign_up-pane(ng-if="$ctrl.authEmailRestoreSent")
                .sign_up-pane-header(i18n="fund_request.sign_up.pane.header_title") 
                .sign_up-pane-body
                    .sign_up-email_sent
                        .sign_up-email_sent-icon
                            img(src=src_prefix + "./assets/img/sign_up-email.svg").sign_up-email_sent-icon-img
                        .sign_up-email_sent-title(i18n="popup_auth.labels.join")
                        .sign_up-email_sent-text(i18n="popup_auth.notifications.link")
            
            //- For existing users
            .sign_up-pane(ng-if="$ctrl.authEmailSent")
                .sign_up-pane-header(i18n="fund_request.sign_up.pane.header_title") 
                .sign_up-pane-body
                    .sign_up-email_sent
                        .sign_up-email_sent-icon
                            img(src=src_prefix + "./assets/img/sign_up-email.svg").sign_up-email_sent-icon-img
                        .sign_up-email_sent-title Bevestig dat u toegang heeft tot dit e-mailadres.
                        .sign_up-email_sent-text
                            | U heeft een e-mail ontvangen op "#[span(ng-bind="$ctrl.authForm.values.email").text-primary]". Ga naar uw inbox en open de e-mail met het onderwerp "E-mail activering" en klik in de e-mail op de blauwe knop.

        //- List the criteria
        div(ng-if="$ctrl.state == 'criteria'")
            +progress()
            
            .sign_up-pane
                .sign_up-pane-header(i18n="fund_request.sign_up.pane.header_title") 
                .sign_up-pane-body
                    p.sign_up-pane-text(i18n="fund_request.sign_up.pane.text" i18n-vars="{fundname: $ctrl.fund.name }")
                    
                    ul.sign_up-pane-list.sign_up-pane-list-criteria: li(
                        ng-repeat="critera in $ctrl.fund.criteria" 
                        ng-class="{'item-valid': critera.isValid, 'item-invalid' : !critera.isValid}")
                        .item-icon: em.mdi.mdi-check-bold(ng-if="critera.isValid")
                        span(ng-if="critera.title" ng-bind="critera.title")
                        span(
                            ng-if="!critera.title"
                            i18n="fund_request.sign_up.pane.criterion_{{{ '>' : 'more', '<' :'less', '=': 'same' }[critera.operator]}}" 
                            i18n-vars="{name: critera.record_type_name, value: ($ctrl.criterionValuePrefix[critera.record_type_key]) + critera.value}") 

                    .sign_up-pane-digid(ng-if="$ctrl.appConfigs.features.digid && !$ctrl.bsnIsKnown")
                        button(type="button" ng-click="$ctrl.startDigId()").digid-button
                            img(src=src_prefix + "./assets/img/icon-digid.svg").digid-button-icon
                            | Log in met DigiD
                
                .sign_up-pane-footer(em.mdi.mdi-chevron-right.icon-righ): .row
                    .col.col-lg-6.col-xs-6.text-left: .button.button-text.button-text-padless(ng-if="!$ctrl.signedIn" ng-click="$ctrl.prevStep()")
                        em.mdi.mdi-chevron-left.icon-left
                        | {{ 'fund_request.sign_up.pane.footer.prev' | translate }}
                    .col.col-lg-6.col-xs-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.nextStep()")
                        em.mdi.mdi-chevron-right.icon-right
                        | {{ 'fund_request.sign_up.pane.footer.next' | translate }}  
        
        //- Confirm net worth
        div(ng-if="$ctrl.state == 'net_worth'")
            +progress()
            
            .sign_up-pane
                .sign_up-pane-header Bevestig uw inkomen en vermogen 
                .sign_up-pane-body: .form
                    p.sign_up-pane-text
                        | Upload bewijsstukken om aan te tonen dat uw verzamelinkomen onder 
                        a(href="#") de 110% norm
                        |  valt en dat u aan de 
                        a(href="#") vermogensvrijstelling
                        | voldoet
                    h4.sign_up-pane-heading Bevestig uw inkomen
                    p.sign_up-pane-text
                        | Upload bewijsstukken om aan te tonen dat u aan de gestelde inkomensgegevens voldoet.
                    ul.sign_up-pane-list 
                        li Bewijsstukken van uw vermogen (spaarrekening en bezittingen)
                        li Overzicht van schulden
                        li Bankafschriften van alle bank- en spaarrekeningen van de afgelopen 3 maanden
                        li Loonstroken van uw werk en/of uitkering van de laatste drie maanden
                        li Betaalbewijs zwemabonnement. Vermeld op het bewijs voor wie het abonnement is en hierbij de geboortedatum.
                    
                    file-uploader(files="$ctrl.netCriteria.files")
                    .form-error(ng-repeat="err in $ctrl.netCriteria.errors.file" ng-bind="err")
                
                .sign_up-pane-footer: .row
                    .col.col-lg-6.col-xs-6.text-left: .button.button-text.button-text-padless(ng-click="$ctrl.prevStep()")
                        em.mdi.mdi-chevron-left.icon-left
                        | {{ 'fund_request.sign_up.pane.footer.prev' | translate }}
                    .col.col-lg-6.col-xs-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.submitNetWorth()")
                        em.mdi.mdi-chevron-right.icon-right
                        | {{ 'fund_request.sign_up.pane.footer.next' | translate }}          
        
        div(
            ng-repeat="invalidCriteria in $ctrl.invalidCriteria track by $index"
            ng-if="$ctrl.state == 'criteria_' + $index")
            +progress()
            
            .sign_up-pane
                .sign_up-pane-header(ng-if="invalidCriteria.title" ng-bind="invalidCriteria.title")
                .sign_up-pane-header(ng-if="!invalidCriteria.title" ng-bind="'Bevestig uw ' + $ctrl.recordTypes[invalidCriteria.record_type_key].name")
                .sign_up-pane-body: form(ng-submit="$ctrl.submitStepCriteria(invalidCriteria)").form.row
                    .form-group.col.col-lg-12
                        .form-label(ng-bind="$ctrl.recordTypes[invalidCriteria.record_type_key].name")
                        ui-control-checkbox(
                            ng-if="invalidCriteria.control_type == 'ui_control_checkbox' && invalidCriteria.record_type_key == 'children'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-label="Ik heb geen kinderen")
                        ui-control-checkbox(
                            ng-if="invalidCriteria.control_type == 'ui_control_checkbox' && (invalidCriteria.record_type_key == 'kindpakket_eligible' || invalidCriteria.record_type_key =='kindpakket_2018_eligible')"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-label="Ja, ik verklaar dat ik recht heb op kindpakket.")
                        ui-control-step(
                            ng-if="invalidCriteria.control_type == 'ui_control_step'"
                            ng-model="invalidCriteria.input_value"
                            data-min="0"
                            data-max="32"
                            data-id="criterion_{{ invalidCriteria.id }}")
                        ui-control-date(
                            ng-if="invalidCriteria.control_type == 'ui_control_date'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}")
                        ui-control-number(
                            ng-if="invalidCriteria.control_type == 'ui_control_number'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                        ui-control-text(
                            ng-if="invalidCriteria.control_type == 'ui_control_text'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                        ui-control-currency(
                            ng-if="invalidCriteria.control_type == 'ui_control_currency'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                        .form-error(ng-repeat="error in invalidCriteria.errors.value" ng-bind="error")
                        
                    .form-group.col.col-lg-12: .sign_up-pane-info
                        p.sign_up-pane-text: span(
                            i18n="fund_request.sign_up.pane.criterion_{{{ '>' : 'more', '<' :'less', '=': 'same' }[invalidCriteria.operator]}}" 
                            i18n-vars="{name: invalidCriteria.record_type_name, value: ($ctrl.criterionValuePrefix[invalidCriteria.record_type_key]) + invalidCriteria.value}") 
                    
                    .form-group.col.col-lg-12(ng-if="invalidCriteria.description_html"): .sign_up-pane-info
                        .sign_up-pane-text(ng-bind-html="invalidCriteria.description_html")
                    
                    .form-group.col.col-lg-12: file-uploader(ng-if="invalidCriteria.show_attachment" files="invalidCriteria.files")
                
                .sign_up-pane-footer: .row
                    .col.col-lg-6.col-xs-6.text-left: .button.button-text.button-text-padless(ng-click="$ctrl.prevStep()")
                        em.mdi.mdi-chevron-left.icon-left
                        | {{ 'fund_request.sign_up.pane.footer.prev' | translate }}
                    .col.col-lg-6.col-xs-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.submitStepCriteria(invalidCriteria)")
                        em.mdi.mdi-chevron-right.icon-right
                        | {{ 'fund_request.sign_up.pane.footer.next' | translate }}          
        
        //- Done
        div(ng-if="$ctrl.state == 'done'")
            //- Success
            div(ng-if="!$ctrl.finishError")
                +progress()
                
                .sign_up-pane
                    .sign_up-pane-header Aanvraag voltooid
                    .sign_up-pane-body: form(ng-submit="$ctrl.submitCriteria(invalidCriteria)").form.row
                        .form-group.col.col-lg-12
                            .block-icon: img(src=src_prefix + "./assets/img/icon-sign_up-success.svg")
                            p.sign_up-pane-text.text-center 
                                | Uw aanvraag is voltooid, u krijgt een email wanneer deze is goedgekeurd.
                    
                            .text-center: .button.button-default(ng-click="$ctrl.finish()") Terug naar de webshop
                        .form-group.col.col-lg-12.hidden-xs: br
                
            //- Error
            div(ng-if="$ctrl.finishError")
                +progress()

                .sign_up-pane
                    .sign_up-pane-header Er is een fout opgetreden tijdens het aanvragen.
                    .sign_up-pane-body: .row
                        .form-group.col.col-lg-12
                            .block-icon: .mdi.mdi-close
                            p.sign_up-pane-text.text-center 
                                | Reden:
                                span(ng-bind="$ctrl.errorReason")
                    
                            .text-center: .button.button-default(ng-click="$ctrl.finish()") Terug naar de webshop
                        .form-group.col.col-lg-12: br 
