- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

top-navbar

section.section.section-product: .wrapper
    mixin progress()
        .sign_up-progress
            .sign_up-step(
                ng-repeat="step in $ctrl.totalSteps"
                ng-class="$ctrl.step == step ? 'sign_up-step-active' : ($ctrl.step > step ? 'sign_up-step-done' : '')"
                ng-bind="'Stap ' + step")
        
    .block.block-sign_up: .block-wrapper
        //- Log in
        div(ng-if="$ctrl.state == 'auth'")
            h2(ng-if="!$ctrl.authToken").block-title Zomer zwem regeling aanvraag
            //- p.block-description
                | U staat op het punt om een zomer zwemregeling aan te vragen. Om te kijken of u in aanmmerking komt, dient u uw 
                strong woonplaats 
                | en 
                a(href="#") inkomen 
                | te controleren 
            
            +progress()
            
            .sign_up-pane(ng-if="!$ctrl.authToken")
                .sign_up-pane-header Overzicht 
                .sign_up-pane-body
                    .sign_up-pane-text 
                        | U staat op het punt om een zomer zwemregeling aan te vragen. 
                        | Om in aanmmerking te komen, dient u aan de voorwaarden te voldoen:
                    ul.sign_up-pane-list 
                        li(ng-repeat="critera in $ctrl.fund.criteria")
                            | {{ critera.record_type_name }} moet
                            span(ng-if="critera.operator == '>'") meer dan 
                            span(ng-if="critera.operator == '='") 
                            span(ng-if="critera.operator == '<'") minder dan 
                            | {{ critera.record_type_key == 'net_worth' ? '€' : '' }}{{ critera.value }}.
                    
                    .sign_up-pane-heading Vul uw email adres in om verder te gaan
                    .sign_up-pane-text 
                        | Er wordt gecontroleeerd aan welke voorwaarden u al voldoet, 
                        | en u kan tussentijds afbreken en op een ander moment verder gaan.


                    form(ng-submit="$ctrl.authForm.submit()").form: .row
                        .form-group.col.col-lg-9
                            label.form-label EMAIL
                            ui-control-text(ng-model="$ctrl.authForm.values.records.primary_email" data-placeholder="ex. info@info.io")
                            .form-error(ng-repeat="error in $ctrl.authForm.errors['records.primary_email']" ng-bind="error")
                        .form-group.col.col-lg-3
                            label.form-label &nbsp;
                            button(type="submit").button.button-primary.button-fill Bevestig
                    
                    .sign_up-pane-heading Heeft u de Me App al?
                    .sign_up-pane-text 
                        | De me app is een optionele manier om eenvoudig, 
                        | veilig en snel in te loggen.                    

                    .sign_up-pane-auth
                        .sign_up-pane-auth-content
                            | Scan de QR code aan de rechterzijde met de QR-scanner in de Me App.
                            br
                            br
                            | De Me App wordt gebruikt omm makkelijk en veilig in te loggen, 
                            | betalingen te doen en vouchers te beheren.
                        .sign_up-pane-auth-qr_code
                            qr-code(
                                ng-if="$ctrl.qrValue" 
                                qr-value="$ctrl.qrValue" 
                                qr-type="auth_token" 
                                qr-logo=src_prefix + "./assets/img/me-logo.png")
                
            .sign_up-pane(ng-if="$ctrl.authToken")
                .sign_up-pane-header Log in door QR-code te scannen
                .sign_up-pane-body
                    p.sign_up-pane-text Het e-mail adres dat u invulde bestaat al in het systeem. Scan de QR-code met de Me-app om verder te gaan waar u gebleven was.
                    qr-code(ng-if="$ctrl.authToken" qr-value="$ctrl.authToken" qr-type="auth_token")
        
        //- List the criteria
        div(ng-if="$ctrl.state == 'criteria'")
            h2.block-title Bevestig uw gemeente
            p.block-description
                | U staat op het punt om een zomer zwemregeling aan te vragen. Om te kijken of u in aanmmerking komt, dient u uw 
                strong woonplaats 
                | en 
                a(href="#") inkomen 
                | te controleren 
            
            +progress()
            
            .sign_up-pane
                .sign_up-pane-header Overzicht van voorwaarden
                .sign_up-pane-body
                    p.sign_up-pane-text.text-center 
                        | De volgende gegevens zijn vereist om deze regeling aan te vragen:
                    .sign_up-pane-info: ul.sign_up-pane-list 
                        li(ng-repeat="critera in $ctrl.fund.criteria")
                            | {{ critera.record_type_name }} moet
                            span(ng-if="critera.operator == '>'") meer dan 
                            span(ng-if="critera.operator == '='") 
                            span(ng-if="critera.operator == '<'") minder dan 
                            | {{ critera.record_type_key == 'net_worth' ? '€' : '' }}{{ critera.value }}.
                
                .sign_up-pane-footer(em.mdi.mdi-chevron-right.icon-righ): .row
                    .col.col-lg-6.text-left: .button.button-text.button-text-padless(
                        ng-if="!$ctrl.signedIn"
                        ng-click="$ctrl.prevStep()")
                        | Vorige stap
                        em.mdi.mdi-chevron-left.icon-left
                    .col.col-lg-6.text-right: .button.button-text.button-text-padless(ng-click="$ctrl.nextStep()")
                        | Volgende stap
                        em.mdi.mdi-chevron-right.icon-right
        
        //- Confirm city
        div(ng-if="$ctrl.state == 'location'")
            h2.block-title Bevestig uw gemeente
            p.block-description
                | U staat op het punt om een zomer zwemregeling aan te vragen. Om te kijken of u in aanmmerking komt, dient u uw 
                strong woonplaats 
                | en 
                a(href="#") inkomen 
                | te controleren 
            
            +progress()
            
            .sign_up-pane
                .sign_up-pane-header Bevestig uw adres
                .sign_up-pane-body: form().form.row: .form-group.col.col-lg-12.text-center: .checkbox
                    input(type="checkbox" ng-model="$ctrl.confirmLocation" id="accept" name="accept")
                    label.checkbox-label(for="accept")
                        .checkbox-box: .mdi.mdi-check
                        | Ik verklaar dat ik woon in de gemeente Barneveld.
                
                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left: .button.button-text.button-text-padless(
                        ng-click="$ctrl.prevStep()")
                        | Vorige stap
                        em.mdi.mdi-chevron-left.icon-left
                    .col.col-lg-6.text-right: .button.button-text.button-text-padless(
                        ng-click="$ctrl.nextStep()"
                        ng-if="$ctrl.confirmLocation")
                        | Volgende stap
                        em.mdi.mdi-chevron-right.icon-right
        
        //- Confirm net worth
        div(ng-if="$ctrl.state == 'net_worth'")
            h2.block-title Zomerzwemregeling aanvraag
            p.block-description
                | U staat op het punt om een zomer zwemregeling aan te vragen. Om te kijken of u in aanmmerking komt, dient u uw 
                strong woonplaats 
                | en 
                a(href="#") inkomen 
                | te controleren 
            
            +progress()
            
            .sign_up-pane
                .sign_up-pane-header Bevestig uw inkomen en vermogen 
                .sign_up-pane-body: .form
                    p.sign_up-pane-text
                        | Upload bewijsstukken om aan te tonen dat uw verzamelinkomen onder 
                        a(href="#") de 110% norm
                        |  valt en dat u aan de 
                        a(href="#") vermogensvrijstelling
                        | voldoet
                    h4.sign_up-pane-heading Bevestig uw inkomen
                    p.sign_up-pane-text
                        | Upload bewijsstukken om aan te tonen dat u aan de gestelde inkomensgegevens voldoet.
                    ul.sign_up-pane-list 
                        li Bewijsstukken van uw vermogen (spaarrekening en bezittingen)
                        li Overzicht van schulden
                        li Bankafschriften van alle bank- en spaarrekeningen van de afgelopen 3 maanden
                        li Loonstroken van uw werk en/of uitkering van de laatste drie maanden
                        li Betaalbewijs zwemabonnement. Vermeld op het bewijs voor wie het abonnement is en hierbij de geboortedatum.
                    
                    file-uploader(files="$ctrl.netCriteria.files")
                    .form-error(ng-repeat="err in $ctrl.netCriteria.errors.file" ng-bind="err")
                
                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left: .button.button-text.button-text-padless(
                        ng-click="$ctrl.prevStep()")
                        | Vorige stap
                        em.mdi.mdi-chevron-left.icon-lefts
                    .col.col-lg-6.text-right
                        .button.button-text.button-text-padless(ng-click="$ctrl.submitNetWorth()")
                            | Volgende stap
                            em.mdi.mdi-chevron-right.icon-right
        
        div(
            ng-repeat="invalidCriteria in $ctrl.invalidCriteria track by $index"
            ng-if="$ctrl.state == 'criteria_' + $index")
            h2.block-title Zomerzwemregeling aanvraag
            p.block-description
                | U staat op het punt om een zomer zwemregeling aan te vragen. Om te kijken of u in aanmmerking komt, dient u uw 
                strong woonplaats 
                | en 
                a(href="#") inkomen 
                | te controleren 
            
            +progress()
            
            .sign_up-pane
                .sign_up-pane-header(ng-bind="'Bevestig uw ' + $ctrl.recordTypes[invalidCriteria.record_type_key].name")
                .sign_up-pane-body: form(ng-submit="$ctrl.submitStepCriteria(invalidCriteria)").form.row
                    .form-group.col.col-lg-12
                        ui-control-checkbox(
                            ng-if="invalidCriteria.control_type == 'ui_control_checkbox' && invalidCriteria.record_type_key == 'children'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-label="I do have kids")
                        ui-control-checkbox(
                            ng-if="invalidCriteria.control_type == 'ui_control_checkbox' && (invalidCriteria.record_type_key == 'kindpakket_eligible' || invalidCriteria.record_type_key =='kindpakket_2018_eligible')"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-label="Yes, i am eligible for kindpakket fund")
                        ui-control-step(
                            ng-if="invalidCriteria.control_type == 'ui_control_step'"
                            ng-model="invalidCriteria.input_value"
                            data-min="0"
                            data-max="32"
                            data-id="criterion_{{ invalidCriteria.id }}")
                        ui-control-date(
                            ng-if="invalidCriteria.control_type == 'ui_control_date'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}")
                        ui-control-number(
                            ng-if="invalidCriteria.control_type == 'ui_control_number'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                        ui-control-text(
                            ng-if="invalidCriteria.control_type == 'ui_control_text'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                        ui-control-currency(
                            ng-if="invalidCriteria.control_type == 'ui_control_currency'"
                            ng-model="invalidCriteria.input_value"
                            data-id="criterion_{{ invalidCriteria.id }}"
                            data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                        .form-error(ng-repeat="error in invalidCriteria.errors.value" ng-bind="error")
                        
                    .form-group.col.col-lg-12: .sign_up-pane-info
                        p.sign_up-pane-text 
                            | Voor een "{{ $ctrl.product.name }}" 
                            | vereist de sponsor dat uw "{{ invalidCriteria.record_type_name }}" moet zijn
                            span(ng-if="invalidCriteria.operator == '>'") meer dan 
                            span(ng-if="invalidCriteria.operator == '='") 
                            span(ng-if="invalidCriteria.operator == '<'") minder dan 
                            | {{ invalidCriteria.record_type_key == 'net_worth' ? '€' : '' }}{{ invalidCriteria.value }}.
                    .form-group.col.col-lg-12: file-uploader(files="invalidCriteria.files")
                
                .sign_up-pane-footer: .row
                    .col.col-lg-6.text-left: .button.button-text.button-text-padless(ng-click="$ctrl.prevStep()")
                        | Vorige stap
                        em.mdi.mdi-chevron-left.icon-left
                    .col.col-lg-6.text-right
                        .button.button-text.button-text-padless(ng-click="$ctrl.submitStepCriteria(invalidCriteria)")
                            | Volgende stap
                            em.mdi.mdi-chevron-right.icon-right
        
        //- Done
        div(ng-if="$ctrl.state == 'done'")
            h2.block-title Zomerzwemregeling aanvraag
            p.block-description
                | U staat op het punt om een zomer zwemregeling aan te vragen. Om te kijken of u in aanmmerking komt, dient u uw 
                strong woonplaats 
                | en 
                a(href="#") inkomen 
            
            .sign_up-pane
                .sign_up-pane-header Aanvraag voltooid
                .sign_up-pane-body: form(ng-submit="$ctrl.submitCriteria(invalidCriteria)").form.row
                    .form-group.col.col-lg-12
                        .block-icon: .mdi.mdi-check-bold
                        p.sign_up-pane-text.text-center 
                            | Uw aanvraag is voltooid, u krijgt een email wanneer deze is goedgekeurd.
                
                        .text-center: .button.button-default(ng-click="$ctrl.finish()") Terug naar de webshop
                    .form-group.col.col-lg-12: br

contact-form 