- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

top-navbar

mixin progress()
    .sign_up-progress(ng-class="{'sign_up-progress-compact':$ctrl.criteriaSteps.length >= 5}")
        .sign_up-step.sign_up-step-info(
            aria-hidden="true"
            ng-class="$ctrl.step < $ctrl.steps.indexOf($ctrl.criteriaSteps[0]) ? 'sign_up-step-active' : 'sign_up-step-done'")

            .sign_up-step-border
            .mdi.mdi-information-outline

        .sign_up-step(
            aria-hidden="true"
            ng-repeat="step in $ctrl.criteriaSteps track by $index"
            ng-init="stepIndex = $ctrl.steps.indexOf(step)"
            ng-class="$ctrl.step == stepIndex && stepIndex != -1 ? 'sign_up-step-active' : ($ctrl.step > stepIndex ? 'sign_up-step-done' : '')")

            .sign_up-step-border
            .sign-up-step-block Stap {{ ' ' + ($index + 1) }}

        .sign_up-progress-overview(aria-hidden="true") Stap {{ $ctrl.step }} van {{ $ctrl.steps.length }}

        span.sr-only Stap {{ $ctrl.step }}
        span.sr-only Stap {{ $ctrl.step }} van {{ $ctrl.steps.length }}

mixin go_back()
    //- Back to fund-activate page
    .flex-col.text-left(ng-if="$ctrl.step == 0")
        .button.button-text.button-text-padless(ui-sref="fund-activate({fund_id: $ctrl.fund.id})" role="button")
            .mdi.mdi-chevron-left.icon-left
            | Terug

    //- Back to prev step
    .flex-col.text-left(ng-if="$ctrl.step > 0")
        .button.button-text.button-text-padless(ng-click="$ctrl.prevStep()" role="button")
            .mdi.mdi-chevron-left.icon-left
            | Terug

mixin time_limit_warning()
    .sign_up-pane-warning(ng-if="$ctrl.bsnWarningShow")
        .warning-icon: .mdi.mdi-alert-circle-outline
        .warning-details
            | Let op! U dient het aanvraagformulier afgerond te hebben voor
            strong {{ $ctrl.bsnWarningValue }}
            | , anders dient opnieuw in te loggen met DigiD en opnieuw te beginnen met de aanvraag.

//-top-navbar
main(id="main-content")
    section: .wrapper
        .block.block-sign_up(ng-if="!$ctrl.digiExpired"): .block-wrapper.form
            //- Sign up title
            h1.block-title(ng-if="$ctrl.state" i18n="fund_request.sign_up.header.main" i18n-vars="{fund_name: ($ctrl.fund.name | capitalize)}")

            //- Email setup
            div(ng-if="$ctrl.steps[$ctrl.step] == 'email_setup'")
                +progress()

                .sign_up-pane(ng-if="!$ctrl.emailSubmitted")
                    .sign_up-pane-header: h2.sign_up-pane-header-title Aanmelden met e-mailadres

                    .sign_up-pane-body.sign_up-pane-body-padless-bottom: form(ng-submit="$ctrl.emailForm.submit()")
                        //- When email setup is required
                        p.sign_up-pane-text(ng-if="$ctrl.emailSetupRequired") 
                            | Om verder te gaan met de aanvraag dient u uw e-mailadres op te geven

                        .form-group: .row
                            .col.col-lg-9
                                label.form-label(i18n="popup_auth.input.mail" for="email")
                                ui-control-email(ng-model="$ctrl.emailForm.values.email" data-placeholder="e-mail@e-mail.nl" data-id="email" tabindex="1")
                                .form-error(ng-repeat="error in $ctrl.emailForm.errors.email" ng-bind="error")

                            .col.col-lg-3
                                .form-label.hide-sm(for="submit") &nbsp;
                                button(
                                    ng-class="{'button-disabled': (!$ctrl.emailForm.values.privacy && $ctrl.appConfigs.flags.privacyPage)}"
                                    translate="popup_auth.buttons.submit"
                                    type="submit"
                                    tabindex="3").button.button-primary.button-fill

                        //- Why the email setup is strongly recommended
                        .sign_up-info(ng-if="!$ctrl.emailSetupRequired")
                            .sign_up-info-title
                                .sign_up-info-title-icon: .mdi.mdi-information-outline
                                | Verder zonder e-mail

                            .sign_up-info-description
                                span.text-strong Let op! 
                                | Als u geen e-mailadres achterlaat ontvangt u geen essentiele berichten zoals 
                                | de e-mail met de QR-code of wanneer er een transactie is geweest. 
                                | Daarnaast kan u alleen inloggen met DigiD.

                        //- Terms and conditions
                        .row(ng-if="$ctrl.appConfigs.flags.privacyPage"): .col.col-lg-12
                            br.hidden-lg
                            label(for='privacy' tabindex="2").sign_up-pane-text
                                input(type="checkbox" ng-model="$ctrl.emailForm.values.privacy" id='privacy')
                                |  Ik heb de #[a.text-primary-light.sign_up-pane-link(ui-sref="privacy") privacyverklaring] gelezen

                    .sign_up-pane-footer: .flex-row
                        +go_back()

                        .flex-col.text-right: .button.button-text.button-text-padless(
                            ng-if="!$ctrl.emailSetupRequired"
                            ng-disabled="$ctrl.appConfigs.flags.privacyPage && !$ctrl.emailForm.values.privacy"
                            ng-click="$ctrl.nextStep()"
                            role="button")
                            | Overslaan
                            .mdi.mdi-chevron-right.icon-right
                    
                    +time_limit_warning()

                .sign_up-pane(ng-if="$ctrl.emailSubmitted")
                    h1.sr-only Er is een e-mail te bevestiging verstuurd
                    h2.sign_up-pane-header(i18n="Confirmation email sent") 

                    .sign_up-pane-body
                        .sign_up-email_sent
                            .sign_up-email_sent-icon: img(src=src_prefix + "./assets/img/modal/email_signup.svg" alt="").sign_up-email_sent-icon-img
                            .sign_up-email_sent-title(translate="{{ 'popup_auth.header.title_succes_' + $root.appConfigs.features.communication_type }}")
                            .sign_up-email_sent-text(translate="{{ 'popup_auth.header.subtitle_we_succes_' + $root.appConfigs.features.communication_type }}" translate-values="{email: $ctrl.authForm.values.email}")

                            email-provider-link(email="$ctrl.authForm.values.email")

                    +time_limit_warning()

            //- List the criteria
            div(ng-if="$ctrl.steps[$ctrl.step] == 'criteria'")
                +progress()

                .sign_up-pane
                    h2.sign_up-pane-header(i18n="fund_request.sign_up.pane.header_title" role="heading")
                    .sign_up-pane-body
                        p.sign_up-pane-text(i18n="fund_request.sign_up.pane.text" i18n-vars="{fund_name: $ctrl.fund.name }")

                        ul.sign_up-pane-list.sign_up-pane-list-criteria: li(
                            ng-repeat="criteria in $ctrl.fund.criteria")
                            .item-icon.item-icon-default
                            span(ng-if="criteria.title" ng-bind="criteria.title")
                            span(
                                ng-if="!criteria.title"
                                i18n="fund_request.sign_up.pane.criterion_{{{ '>' : 'more', '<' :'less', '=': 'same' }[criteria.operator]}}"
                                i18n-vars="{name: criteria.record_type_name, value: ($ctrl.criterionValuePrefix[criteria.record_type_key]) + criteria.value}")

                    //- Actions footer
                    .sign_up-pane-footer: .flex-row
                        +go_back()

                        //- Confirm
                        .flex-col.text-right
                            button.button.button-text.button-text-padless(
                                ng-click="$ctrl.nextStep()"
                                role="button"
                                type="button")

                                translate(translate='fund_request.sign_up.pane.footer.next')
                                .mdi.mdi-chevron-right.icon-right

                    +time_limit_warning()

            //- Criteria form steps
            div(ng-if="$ctrl.steps[$ctrl.step] == 'criteria_' + $index" ng-repeat="invalidCriteria in $ctrl.invalidCriteria track by $index")
                +progress()

                .sign_up-pane
                    h2.sign_up-pane-header(ng-if="invalidCriteria.title" ng-bind="invalidCriteria.title")
                    .sign_up-pane-header(
                        ng-if="!invalidCriteria.title" 
                        ng-bind="'Bevestig uw ' + $ctrl.recordTypesByKey[invalidCriteria.record_type_key].name")

                    .sign_up-pane-body: form(ng-submit="$ctrl.validateStepCriteria(invalidCriteria)").row
                        .form-group.col.col-lg-12
                            .sign_up-pane-text.block.block-markdown
                                .sign_up-pane-text(
                                    ng-if="invalidCriteria.description && invalidCriteria.description !== '_'"
                                    ng-bind-html="invalidCriteria.description_html")

                                .sign_up-pane-text(
                                    ng-if="!invalidCriteria.description && invalidCriteria.description !== '_'"
                                    i18n="fund_request.sign_up.pane.criterion_{{{ '>' : 'more', '<' :'less', '=': 'same' }[invalidCriteria.operator]}}"
                                    i18n-vars="{name: invalidCriteria.record_type_name, value: ($ctrl.criterionValuePrefix[invalidCriteria.record_type_key]) + invalidCriteria.value}")

                            label.form-label(
                                ng-bind="$ctrl.recordTypesByKey[invalidCriteria.record_type_key].name"
                                for="{{invalidCriteria.record_type_key}}")

                            ui-control-checkbox(
                                ng-if="invalidCriteria.control_type == 'ui_control_checkbox'"
                                ng-model="invalidCriteria.is_checked"
                                name="{{invalidCriteria.record_type_key}}"
                                data-id="criterion_{{ invalidCriteria.id }}"
                                data-label="{{ invalidCriteria.label }}"
                                ng-change="$ctrl.setRecordValue(invalidCriteria)")

                            ui-control-step(
                                ng-if="invalidCriteria.control_type == 'ui_control_step'"
                                ng-model="invalidCriteria.input_value"
                                name="{{invalidCriteria.record_type_key}}"
                                role="spinbutton"
                                data-min="0"
                                data-max="32"
                                data-id="criterion_{{ invalidCriteria.id }}")

                            ui-control-date(
                                ng-if="invalidCriteria.control_type == 'ui_control_date'"
                                ng-model="invalidCriteria.input_value"
                                name="{{invalidCriteria.record_type_key}}"
                                data-id="criterion_{{ invalidCriteria.id }}")

                            ui-control-number(
                                ng-if="invalidCriteria.control_type == 'ui_control_number'"
                                ng-model="invalidCriteria.input_value"
                                name="{{invalidCriteria.record_type_key}}"
                                data-id="criterion_{{ invalidCriteria.id }}"
                                data-placeholder="Uw {{ invalidCriteria.record_type_name }}")

                            ui-control-text(
                                ng-if="invalidCriteria.control_type == 'ui_control_text'"
                                ng-model="invalidCriteria.input_value"
                                name="{{invalidCriteria.record_type_key}}"
                                data-id="criterion_{{ invalidCriteria.id }}"
                                data-placeholder="Uw {{ invalidCriteria.record_type_name }}")

                            ui-control-currency(
                                ng-if="invalidCriteria.control_type == 'ui_control_currency'"
                                ng-model="invalidCriteria.input_value"
                                name="{{invalidCriteria.record_type_key}}"
                                data-id="criterion_{{ invalidCriteria.id }}"
                                data-placeholder="Uw {{ invalidCriteria.record_type_name }}")
                            .form-error(ng-repeat="error in invalidCriteria.errors.value" ng-bind="error")

                        .form-group.col.col-lg-12
                            file-uploader(
                                ng-if="invalidCriteria.show_attachment"
                                type="fund_request_record_proof"
                                files="invalidCriteria.files"
                                crop-media="false"
                                on-file-removed="$ctrl.onFileInfo(invalidCriteria, files)"
                                on-file-resolved="$ctrl.onFileInfo(invalidCriteria, files)"
                                on-file-batch-queued="$ctrl.onFileInfo(invalidCriteria, files)")
                            .form-error(ng-repeat="error in invalidCriteria.errors.file" ng-bind="error")
                            .form-error(ng-repeat="error in invalidCriteria.errors.record" ng-bind="error")

                    //- Actions footer
                    .sign_up-pane-footer: .row
                        .col.col-lg-6.col-xs-6.text-left
                            button.button.button-text.button-text-padless(ng-click="$ctrl.prevStep()" role="button")
                                .mdi.mdi-chevron-left.icon-left
                                translate(translate='fund_request.sign_up.pane.footer.prev')

                        .col.col-lg-6.col-xs-6.text-right(ng-if="$ctrl.steps[$ctrl.step + 1] !== 'done'")
                            button.button.button-text.button-text-padless(
                                ng-disabled="invalidCriteria.isUploadingFiles"
                                ng-click="$ctrl.validateStepCriteria(invalidCriteria)"
                                type="button"
                                role="button")

                                translate(translate='fund_request.sign_up.pane.footer.next')
                                .mdi.mdi-chevron-right.icon-right

                        .col.col-lg-6.col-xs-6.text-right(ng-if="$ctrl.steps[$ctrl.step + 1] === 'done'")
                            button.button.button-primary(
                                ng-disabled="invalidCriteria.isUploadingFiles"
                                ng-click="$ctrl.validateStepCriteria(invalidCriteria)"
                                role="button")
                                | Verzenden

                    +time_limit_warning()

            //- Confirm criteria
            div(ng-if="$ctrl.steps[$ctrl.step] == 'confirm_criteria' && !$ctrl.autoSubmit")
                +progress()

                mixin confirm_criteria_footer()
                    .sign_up-pane-footer: .flex-row
                        +go_back()

                        .flex-col.text-right
                            button.button.button-text.button-text-padless(
                                ng-disabled="!$ctrl.confirm_criteria || ($ctrl.fund.key == 'IIT' && !$ctrl.confirm_criteria_warning)"
                                ng-click="$ctrl.submitConfirmCriteria()"
                                type="button"
                                role="button")

                                translate(translate='fund_request.sign_up.pane.footer.next')
                                .mdi.mdi-chevron-right.icon-right

                //- Fund criteria overivew
                .sign_up-pane
                    .sign_up-pane-header Bevestig uw inkomen
                    .sign_up-pane-body(ng-if="!$ctrl.fetchingData")
                        fund-criteria-custom-overview(
                            ng-if="['IIT','bus_2020', 'meedoen'].includes($ctrl.fund.key)"
                            key="$ctrl.fund.key")

                        //- Fallback
                        p.sign_up-pane-text(
                            ng-if="!['IIT','bus_2020', 'meedoen'].includes($ctrl.fund.key)")
                            | U staat op het punt om een meedoenregeling aan te vragen. 
                            | U dient te verklaren dat u aan de voorwaarden voldoet.

                        p.sign_up-pane-text: ui-control-checkbox(
                            ng-model="$ctrl.confirm_criteria"
                            data-id="confirm_criteria"
                            data-label="Ik verklaar dat ik voldoe aan de bovenstaande voorwaarden")

                        p.sign_up-pane-text(ng-if="$ctrl.fund.key == 'IIT'"): ui-control-checkbox(
                            ng-model="$ctrl.confirm_criteria_warning"
                            data-id="confirm_criteria_warning"
                            data-label="Ik weet dat het verstrekken van onjuiste informatie strafbaar is, dat ik een onterecht of een teveel ontvangen vergoeding terug moet betalen en dat ik een boete kan krijgen.")

                    .sign_up-pane-body(ng-if="$ctrl.fetchingData")
                        .sign_up-pane-loading: .mdi.mdi-loading.mdi-spin

                    +confirm_criteria_footer()

                    +time_limit_warning()

            //- Provide contact information
            div(ng-if="$ctrl.steps[$ctrl.step] == 'contact_information'")
                +progress()

                .sign_up-pane: form(ng-submit="$ctrl.submitContactInformation($event)")
                    h2.sign_up-pane-header Contactgegevens
                    .sign_up-pane-body.sign_up-pane-body-padless-bottom
                        //- Contact information request message (default)
                        p.sign_up-pane-text.text-center(
                            ng-if="!$ctrl.fund.contact_info_message_text"
                            ng-bind="$ctrl.fund.contact_info_message_default")

                        //- Contact information request message (custom by sponsor)
                        p.sign_up-pane-text.text-center(
                            ng-if="$ctrl.fund.contact_info_message_text"
                            ng-bind="$ctrl.fund.contact_info_message_text")

                        //- Contact information form
                        .form-group
                            .form-label Contactgegevens
                            textarea(
                                rows="5" 
                                placeholder="Contactgegevens invullen..."
                                ng-model="$ctrl.contactInformation"
                                ng-required="$ctrl.shouldAddContactInfoRequired").form-control.r-n
                            .form-error(ng-repeat="error in $ctrl.contactInformationError" ng-bind="error")

                    .sign_up-pane-footer: .row
                        //- Back
                        .col.col-lg-6.col-xs-6.text-left
                            button.button.button-text.button-text-padless(ng-click="$ctrl.prevStep()" role="button")
                                .mdi.mdi-chevron-left.icon-left
                                translate(translate='fund_request.sign_up.pane.footer.prev')

                        //- Next
                        .col.col-lg-6.col-xs-6.text-right
                            button.button.button-text.button-text-padless(
                                type="submit"
                                role="button")
                                | Vraag aan
                                .mdi.mdi-chevron-right.icon-right

                    +time_limit_warning()

            //- Fund request overview
            div(ng-if="$ctrl.steps[$ctrl.step] == 'application_overview'")
                +progress()

                .sign_up-pane
                    h2.sign_up-pane-header Aanvraag overzicht
                    .sign_up-pane-body
                        p.sign_up-pane-text
                            span Controleer hieronder of de gegevens die u heeft ingevuld juist zijn. U kunt terug naar eerdere stappen met de knop 
                            strong Vorige stap.

                        p.sign_up-pane-text
                            span Kloppen de gegevens? Klik dan op de knop 
                            strong Vraag aan.

                    .sign_up-pane-body
                        ul.sign_up-pane-list.sign_up-pane-list-criteria: li(ng-repeat="criteria in $ctrl.invalidCriteria")
                            .item-icon.item-icon-default

                            span {{ criteria.title || criteria.record_type_name }} #[span(ng-if="criteria.operator != '='") is] 
                            strong(ng-if="criteria.operator != '='") {{ criteria.input_value }}

                            file-uploader(
                                ng-if="criteria.show_attachment"
                                type="fund_request_record_proof"
                                files="criteria.files"
                                read-only="true")

                    .sign_up-pane-body.sign_up-pane-body-padless-bottom(ng-if="$ctrl.contactInformation || $ctrl.emailSetupShow")
                        p.sign_up-pane-text
                            .text-strong Opgegeven contactgegevens:
                            span(ng-bind="$ctrl.contactInformation ? $ctrl.contactInformation : 'Geen'")

                    .sign_up-pane-footer: .row
                        .col.col-lg-6.col-xs-6.text-left: button.button.button-text.button-text-padless(ng-click="$ctrl.prevStep()" role="button")
                            .mdi.mdi-chevron-left.icon-left
                            translate(translate='fund_request.sign_up.pane.footer.prev')

                        .col.col-lg-6.col-xs-6.text-right: button.button.button-primary(ng-click="$ctrl.submitApplicationOverview()" role="button")
                            | Vraag aan

                    +time_limit_warning()

            //- Done
            div(ng-if="$ctrl.steps[$ctrl.step] == 'done'")
                //- Success
                div(ng-if="!$ctrl.finishError")
                    +progress()

                    .sign_up-pane
                        h2.sign_up-pane-header Aanvraag ontvangen
                        .sign_up-pane-body: form(ng-submit="$ctrl.submitCriteria(invalidCriteria)").row
                            h2.sign_up-pane-heading.text-center Verzonden!
                            p.sign_up-pane-text.text-center
                                | Je aanvraag is ontvangen. De aanvraag wordt binnen 10 werkdagen verwerkt. Je ontvangt hierover een e-mail.
                            .block-icon: img(src=src_prefix + "./assets/img/icon-sign_up-success.svg" alt="")
                            .text-center: .button.button-text.button-text-primary.button-text-padless(ng-click="$ctrl.finish()" role="button") Terug
                            .form-group.col.col-lg-12.hidden-xs: br

                //- Error
                div(ng-if="$ctrl.finishError")
                    +progress()

                    .sign_up-pane
                        h1.sr-only Aanmelden
                        h2.sign_up-pane-header Er is een fout opgetreden tijdens het aanvragen.
                        .sign_up-pane-body: .row
                            .form-group.col.col-lg-12
                                .block-icon: .mdi.mdi-close
                                p.sign_up-pane-text.text-center
                                    | Reden:
                                p.sign_up-pane-text.text-center(translate="{{ $ctrl.errorReason }}")

                                .text-center: .button.button-default(ng-click="$ctrl.finish()" role="button") Verlaat formulier
                            .form-group.col.col-lg-12: br

        .block.block-sign_up(ng-if="$ctrl.digiExpired"): .block-wrapper.form
            +progress()

            .sign_up-pane
                h1.sr-only DigiD sessie verlopen
                h2.sign_up-pane-header DigiD sessie verlopen
                .sign_up-pane-body: .row
                    .form-group.col.col-xs-8.col-xs-offset-2
                        .block-icon: include ../../../resources/_webshop-common/assets/img/icon-timeout.svg

                        .text-center
                            h2.sign_up-pane-heading: strong DigiD sessie verlopen
                            p.sign_up-pane-text Log opnieuw in met DigiD en begin opnieuw met de aanvraag.
                            
                            .sign_up-pane-separator

                        .sign_up-options: .sign_up-option(ng-click="$ctrl.startDigId()")
                            .sign_up-option-media: img(src="./assets/img/icon-auth/icon-auth-digid.svg" alt="icon digid").sign_up-option-media-img
                            .sign_up-option-details
                                .sign_up-option-title DigiD
                                .sign_up-option-description Log opnieuw in met DigiD om opnieuw te beginnen.

                    .form-group.col.col-lg-12: br