.header-splash: .splash

header.section.section-header.section-header-landing
    top-navbar
    .wrapper
        .heade-sprite

        .header-content
            .header-title(i18n="home.header.{{ $root.client_key }}.title")
            
            //- usage example: 
            //- .header-title {{ 'test' | i18n:{foo:'bar'} }}
            //- .header-title(i18n="test" i18n-vars="{foo:'bar'}")
            
            .header-description(translate="home.header.{{ $root.client_key }}.subtitle")
            a(ng-if="$root.appConfigs.flags.homeButton" scroll-to="#steps" i18n="home.header.{{ $root.client_key }}.button").button.button-primary
            a(ng-if="!$root.appConfigs.flags.homeButton" href="https://about.forus.io/nl/contact/" i18n="NEEM CONTACT MET ONS OP").button.button-primary  

    block-products(
        ng-if="$root.appConfigs.flags.homeProducts"
        sample="true" 
        products="$ctrl.products" 
        product-categories="$ctrl.productCategories")

section.section.section-map(ng-if="$root.appConfigs.flags.homeMap"): .wrapper
    .block.block-map
        .block-content
            .block-title(i18n="home.map.{{ $root.client_key }}.title")
            .block-description(i18n="home.map.{{ $root.client_key }}.subtitle")
            button(ng-click="$ctrl.showPopupOffices()" i18n="home.map.button").button.button-primary

section.section.section-steps#steps(ng-if="$root.appConfigs.flags.homeSteps"): .wrapper
    .section-splash
    .section-sprite
    .section-title(i18n="home.guide.{{ $root.client_key }}.title")
    .steps
        .step-item: .step-item-content
            h4(i18n="home.guide.{{ $root.client_key }}.stepone")
            p(i18n="home.guide.{{ $root.client_key }}.one")
        .step-item: .step-item-content
            h4(i18n="home.guide.{{ $root.client_key }}.steptwo")
            p(i18n="home.guide.{{ $root.client_key }}.two")
        .step-item: .step-item-content
            h4(i18n="home.guide.{{ $root.client_key }}.stepthree")
            p(i18n="home.guide.{{ $root.client_key }}.three")
        .step-item: .step-item-content
            h4(i18n="home.guide.{{ $root.client_key }}.stepfour")
            p(i18n="home.guide.{{ $root.client_key }}.four")
        .step-item: .step-item-content
            h4(i18n="home.guide.{{ $root.client_key }}.stepfive")
            p(i18n="home.guide.{{ $root.client_key }}.five")
        .step-item

section.section.section-blogs(ng-if="$root.appConfigs.features.blog"): .wrapper
    .section-title(i18n="home.blog.forus.title")
    
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/blog-image-" + nth + ".jpg")
                .blog-name(i18n="home.blog.forus.name")
                .blog-read-more(i18n="home.blog.more")
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
    .block.block-show-more: a(href="#" i18n="home.blog.button").button.button-primary


section.section.section-faq(ng-if="$root.appConfigs.flags.homeFaq"): .wrapper
    .section-splash
    .section-title {{ "home.faq.title" | i18n }}
            .faq(collapse)
                mixin faq_item(title, content, active)
                    .faq-item(class=active?'active':'' collapse-item)
                        .faq-item-header(collapse-header,i18n=title)
                            .faq-item-chevron-down.mdi.mdi-chevron-down
                            .faq-item-chevron-up.mdi.mdi-chevron-up
                        .faq-item-content(collapse-conten,i18n=content)    

                +faq_item(
                    'home.faq.faq_one',
                    'home.faq.one')

                +faq_item(
                    'home.faq.faq_two',
                    'home.faq.two')

                +faq_item(
                    'home.faq.faq_three',
                    'home.faq.three')

                +faq_item(
                    'home.faq.faq_four',
                    'home.faq.four')

                +faq_item(
                    'home.faq.faq_five',
                    'home.faq.five')

                +faq_item(
                    'home.faq.faq_six',
                    'home.faq.six')

                +faq_item(
                    'home.faq.faq_seven',
                    'home.faq.seven')

                +faq_item(
                    'home.faq.faq_eight',
                    'home.faq.eight')
                    
                +faq_item(
                    'home.faq.faq_nine',
                    'home.faq.nine')
                +faq_item(
                    'home.faq.faq_ten',
                    'home.faq.ten')

                +faq_item(
                    'home.faq.faq_eleven',
                    'home.faq.eleven')
                +faq_item(
                    'home.faq.faq_twelve',
                    'home.faq.twelve') 
                +faq_item(
                    'home.faq.faq_thirteen',
                    'home.faq.thirteen')
contact-form 
