top-navbar.nav-var

header.section.section-header.section-header-landing
    .header-note(translate="home.header.{{ $root.client_key }}.header_note" translate-default="{{'home.header.header_note' | translate }}")
    .wrapper
        .header-sprite 
        //- .header-content(ng-if="$ctrl.funds.length <= 1")
        .header-content

            .header-title(ng-if="$ctrl.appConfigs.features.settings.title" ng-bind="$ctrl.appConfigs.features.settings.title")
            .header-title(ng-if="!$ctrl.appConfigs.features.settings.title" translate="home.header.{{ $root.client_key }}.title" translate-default="{{ 'home.header.title' | translate:{ implementation: $ctrl.implementation_name } }}")
            
            .header-description#desc(ng-if="$ctrl.appConfigs.features.settings.description")
                p(ng-bind-html="$ctrl.description_html")

            .header-description#desc(ng-if="!$ctrl.appConfigs.features.settings.description && !$ctrl.digidAvailable")
                p(ng-if="$ctrl.funds.length <= 1" translate="home.header.{{ $root.client_key }}.subtitle" translate-default="{{'home.header.subtitle' | translate:{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale } }}" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                
                p(ng-if="$ctrl.funds.length > 1" translate="home.header.{{ $root.client_key }}.subtitle_multi" translate-default="{{'home.header.subtitle_multi' | translate:{ org_name: $ctrl.funds[0].organization.name  } }}" i18n-vars="{ org_name: $ctrl.funds[0].organization.name  }")

                //- gebruik activatiecode tekst
                p(ng-if="!$root.auth_user && $ctrl.funds.length <= 1" translate="home.header.{{ $root.client_key }}.cta" translate-default="{{ 'home.header.cta' | translate }}"  i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                
                p(ng-if="!$root.auth_user && $ctrl.funds.length > 1" translate="home.header.{{ $root.client_key }}.cta" translate-default="{{ 'home.header.cta_multi' | translate }}"  i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                //- beheer uw voucher in me tekst
                
                p(ng-if="$root.auth_user && $ctrl.vouchers.length > 0" i18n="home.header.auth_cta" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")

            .header-description#desc(ng-if="!$ctrl.appConfigs.features.settings.description && $ctrl.digidAvailable")
                p(translate="home.header.{{ $root.client_key }}.subtitle_av" translate-default="{{'home.header.subtitle_av' | translate:{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale } }}" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                
                //- gebruik activatiecode tekst
                p(ng-if="!$root.auth_user" translate="home.header.{{ $root.client_key }}.cta_av" translate-default="{{ 'home.header.cta_av' | translate:{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale } }}")
                
                p(ng-if="$root.auth_user && $ctrl.vouchers.length > 0" i18n="home.header.auth_cta" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                       
            div(ng-if="!$ctrl.digidAvailable")
                //- uitgelogd en activatiecode invullen
                a(ng-if="!$root.auth_user" ng-click="$ctrl.openAuthCodePopup()" i18n="home.header.button" id="start_modal").button.button-primary 
                
                //- ingelogd geen vouchers activatie code invullen
                a(ng-if="$root.auth_user && $ctrl.vouchers.length == 0" ng-click="$ctrl.openActivateCodePopup()" i18n="home.header.button").button.button-primary
                
                //- download me button
                a(ng-if="$root.auth_user && $ctrl.vouchers.length > 0" ng-click="$ctrl.openInMeModal()" i18n="home.header.auth_button").button.button-primary
            
            div(ng-if="$ctrl.digidAvailable")
                //- uitgelogd en activatiecode invullen
                a(ng-click="$ctrl.startFundRequest()" translate="home.header.{{ $root.client_key }}.button_av" translate-default="{{ 'home.header.button_av' | translate }}").button.button-primary 
            
            br
            br
            
            a(ng-if="!$root.auth_user && !$ctrl.appConfigs.features.settings.has_more_info_url" i18n="Hoe werkt het?" ui-sref="explanation").header-how-it-works
            a(ng-if="!$root.auth_user && $ctrl.appConfigs.features.settings.has_more_info_url" target="_blank" i18n="Hoe werkt het?" href="{{ $ctrl.appConfigs.features.settings.more_info_url }}").header-how-it-works
            a(ng-if="$root.auth_user && $ctrl.vouchers.length > 0" translate="Meer informatie over de Me-app" href="#!/me" target="_blank").header-how-it-works

            //- usage example: 
            //- .header-title {{ 'test' | i18n:{foo:'bar'} }}
            //- .header-title(i18n="test" i18n-vars="{foo:'bar'}")

        //- .header-content(ng-if="$ctrl.funds.length >= 2")
.page.page-home
    .wrapper.block-products: block-products(
        ng-if="$ctrl.appConfigs.flags.homeProducts"
        sample="true")
    section.section.section-map(ng-if="$ctrl.appConfigs.flags.homeMap" id="map_block"): .wrapper
        .block.block-map
            .block-content
                .block-title(i18n="home.map.title")
                .block-description(i18n="home.map.subtitle")
                button(ui-sref="providers" i18n="buttons.show_map" id="show_map").button.button-primary.button-wide
                //- button(ng-click="$ctrl.showPopupOffices()" i18n="buttons.show_map").button.button-primary.button-wide

    //- section.section.section-steps#steps(ng-if="$ctrl.appConfigs.flags.homeSteps && !$ctrl.appConfigs.features.settings.has_more_info_url"): .wrapper
        .section-splash
        .section-sprite
        .section-title(i18n="home.guide.title")
        .steps
            .step-item: .step-item-content
                h4(translate="home.guide.stepone")
                p(translate="home.guide.{{ $root.client_key }}.one" translate-default="{{'home.guide.one' | translate }}")
            .step-item: .step-item-content
                h4(translate="home.guide.steptwo")
                p(translate="home.guide.{{ $root.client_key }}.two" translate-default="{{'home.guide.two' | translate }}" scroll-to="#desc")
            .step-item: .step-item-content
                h4(translate="home.guide.stepthree")
                p(translate="home.guide.{{ $root.client_key }}.three" translate-default="{{'home.guide.three' | translate }}")
            .step-item: .step-item-content
                h4(translate="home.guide.stepfour")
                p(translate="home.guide.{{ $root.client_key }}.four" translate-default="{{'home.guide.four' | translate }}")
            .step-item: .step-item-content
                h4(i18n="home.guide.stepfive")
                p(translate="home.guide.{{ $root.client_key }}.five" translate-default="{{'home.guide.five' | translate }}")

    //- section.section.section-faq(ng-if="$ctrl.appConfigs.flags.homeFaq && !$ctrl.appConfigs.features.settings.has_more_info_url"): .wrapper
        .section-splash
        .section-title(i18n="home.faq.title")
        .faq(collapse)
            mixin faq_item(title, content, title_default, content_default, active)
                .faq-item(class=active?'active':'' collapse-item)
                    .faq-item-header(collapse-header)
                        span(translate=title i18n-vars="{ fund: $ctrl.funds[0].name }" translate-default=title_default)
                        .faq-item-chevron-down.mdi.mdi-chevron-down
                        .faq-item-chevron-up.mdi.mdi-chevron-up
                    .faq-item-content(collapse-conten, translate=content i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }" translate-default=content_default)

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_one',
                'home.faq.{{ $root.client_key }}.one',
                '{{ "home.faq.faq_one" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.one" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_two',
                'home.faq.{{ $root.client_key }}.two',
                '{{ "home.faq.faq_two" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.two" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_three',
                'home.faq.{{ $root.client_key }}.three',
                '{{ "home.faq.faq_three" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.three" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_four',
                'home.faq.{{ $root.client_key }}.four',
                '{{ "home.faq.faq_four" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.four" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_five',
                'home.faq.{{ $root.client_key }}.five',
                '{{ "home.faq.faq_five" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.five" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_six',
                'home.faq.{{ $root.client_key }}.six',
                '{{ "home.faq.faq_six" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.six" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_seven',
                'home.faq.{{ $root.client_key }}.seven',
                '{{ "home.faq.faq_seven" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.seven" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_eight',
                'home.faq.{{ $root.client_key }}.eight',
                '{{ "home.faq.faq_eight" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.eight" | translate:{ start_date: $ctrl.funds[0].start_date_locale } }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_nine',
                'home.faq.{{ $root.client_key }}.nine',
                '{{ "home.faq.faq_nine" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.nine" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_ten',
                'home.faq.{{ $root.client_key }}.ten',
                '{{ "home.faq.faq_ten" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.ten" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_eleven',
                'home.faq.{{ $root.client_key }}.eleven',
                '{{ "home.faq.faq_eleven" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.eleven" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_twelve',
                'home.faq.{{ $root.client_key }}.twelve',
                '{{ "home.faq.faq_twelve" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.twelve" | translate:{ fund: $ctrl.funds[0].name } }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_thirteen',
                'home.faq.{{ $root.client_key }}.thirteen',
                '{{ "home.faq.faq_thirteen" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.thirteen" | translate }}')

            +faq_item(
                'home.faq.{{ $root.client_key }}.faq_fourteen',
                'home.faq.{{ $root.client_key }}.fourteen',
                '{{ "home.faq.faq_fourteen" | translate:{ fund: $ctrl.funds[0].name } }}',
                '{{ "home.faq.fourteen" | translate }}')

            if (['winterswijk', 'oostgelre', 'berkelland'].indexOf(qdt_c.platform.env_data.client_key) != -1)
                +faq_item(
                    'home.faq.{{ $root.client_key }}.faq_fifteen',
                    'home.faq.{{ $root.client_key }}.fifteen',
                    '{{ "home.faq.faq_fifteen" | translate:{ fund: $ctrl.funds[0].name } }}',
                    '{{ "home.faq.fifteen" | translate }}')    