top-navbar.nav-var

main(id="main-content")
    header.section.section-header.section-header-landing(
        ng-style="$ctrl.headerStyle"
        ng-class="['section-header-' + $ctrl.appConfigs.features.settings.banner_text_color]")

        .header-overlay(
            ng-if="$ctrl.appConfigs.features.settings.overlay_enabled" 
            ng-class="{'header-overlay-pattern': $ctrl.appConfigs.features.settings.overlay_type != 'color'}"
            ng-style="$ctrl.overlayStyles")

        .header-note(
            translate="home.header.{{ $root.client_key }}.header_note" 
            translate-default="{{'home.header.header_note' | translate }}")
        
        .wrapper
            .header-content(dusk="header")
                h1.header-title(
                    dusk="headerTitle"
                    ng-if="$ctrl.appConfigs.features.settings.title"
                    ng-bind="$ctrl.appConfigs.features.settings.title")

                h1.header-title(
                    dusk="headerTitle"
                    ng-if="!$ctrl.appConfigs.features.settings.title"
                    translate="home.header.{{ $root.client_key }}.title"
                    translate-default="{{ 'home.header.title' | translate:{ implementation: $ctrl.implementation_name } }}")

                .header-description#desc(ng-if="$ctrl.appConfigs.features.settings.description")
                    markdown(
                        ng-class="'block-markdown-' + $ctrl.appConfigs.features.settings.description_alignment" 
                        content="$ctrl.description_html")

                .header-description#desc(ng-if="!$ctrl.appConfigs.features.settings.description && !$ctrl.digidAvailable")
                    p(ng-if="$ctrl.funds.length <= 1" translate="home.header.{{ $root.client_key }}.subtitle" translate-default="{{'home.header.subtitle' | translate:{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale } }}" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                    
                    p(ng-if="$ctrl.funds.length > 1" translate="home.header.{{ $root.client_key }}.subtitle_multi" translate-default="{{'home.header.subtitle_multi' | translate:{ org_name: $ctrl.funds[0].organization.name  } }}" i18n-vars="{ org_name: $ctrl.funds[0].organization.name  }")

                    //- gebruik activatiecode tekst
                    p(ng-if="!$root.auth_user && $ctrl.funds.length <= 1" translate="home.header.{{ $root.client_key }}.cta" translate-default="{{ 'home.header.cta' | translate }}"  i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                    
                    p(ng-if="!$root.auth_user && $ctrl.funds.length > 1" translate="home.header.{{ $root.client_key }}.cta" translate-default="{{ 'home.header.cta_multi' | translate }}"  i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                    //- beheer uw voucher in me tekst
                    
                    p(ng-if="$root.auth_user && $ctrl.vouchers.length > 0" i18n="home.header.auth_cta" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")

                .header-description#desc(ng-if="!$ctrl.appConfigs.features.settings.description && $ctrl.digidAvailable")
                    p(translate="home.header.{{ $root.client_key }}.subtitle_av" translate-default="{{'home.header.subtitle_av' | translate:{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale } }}" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                    
                    //- gebruik activatiecode tekst
                    p(ng-if="!$root.auth_user" translate="home.header.{{ $root.client_key }}.cta_av" translate-default="{{ 'home.header.cta_av' | translate:{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale } }}")
                    
                    p(ng-if="$root.auth_user && $ctrl.vouchers.length > 0" i18n="home.header.auth_cta" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
   
                a(ng-if="$ctrl.appConfigs.features.pages.explanation" translate="Hoe werkt het?" ui-sref="explanation" target="_blank").header-how-it-works
    
    if (qdt_c.platform.env_data.client_key == 'vergoedingen')
        .wrapper: .block.block-organization-info
            .info-block-panel
                h2.block-title Gemeente Nijmegen
                p.block-description De gemeente Nijmegen heeft verschillende vergoedingen voor mensen met een laag inkomen. Denk aan de Meedoenregeling, dan krijgen inwoners met een laag inkomen maximaal € 150,- voor culturele, sportieve en educatieve activiteiten. Of bijvoorbeeld het busvoordeelabonnement. Alle vergoedingen vindt u hieronder.
                ul.block-list
                    li: a(href="https://inkomensondersteuning.nijmegen.nl/fondsen/26") Meedoenregeling
                    li: a(href="https://inkomensondersteuning.nijmegen.nl/fondsen/37") Busvoordeelabonnement
                    li: a(href="https://inkomensondersteuning.nijmegen.nl/fondsen/79") Individuele inkomenstoeslag
                    li: a(href="https://inkomensondersteuning.nijmegen.nl/fondsen/82") Studietoeslag
                    li: a(href="https://inkomensondersteuning.nijmegen.nl/fondsen/81") Collectieve Aanvullende Ziektekostenverzekering (CAZ)
                    li: a(href="https://inkomensondersteuning.nijmegen.nl/fondsen/83") Bijzondere bijstand
                    li: a(href="https://inkomensondersteuning.nijmegen.nl/fondsen/84") Kwijtschelding gemeentelijke belastingen
                    li: a(href="https://inkomensondersteuning.nijmegen.nl/fondsen/87") Energietoeslag
                a(href="https://inkomensondersteuning.nijmegen.nl/fondsen") Meer vergoedingen van gemeente Nijmegen
            
            .info-block-panel
                h2.block-title Stichting Leergeld Nijmegen
                p.block-description Leergeld Nijmegen heeft als doel alle Nijmeegse kinderen mee te laten doen. Voor kinderen uit gezinnen met een laag inkomen kan dit een probleem zijn. Leergeld Nijmegen biedt de mogelijkheid aan deze kinderen in de leeftijd van 4 tot en met 17 jaar om te kunnen deelnemen aan allerlei activiteiten.
                ul.block-list
                    li: a(href="https://www.leergeldnijmegen.nl/hulp-voor-uw-kind") Hulp voor uw kind
                a(href="https://www.leergeldnijmegen.nl/homepagina") Meer informatie over Stichting Leergeld Nijmegen

    //- Home CMS blocks
    cms-blocks(
        ng-if="$root.appConfigs.features.pages.home"
        page="$root.appConfigs.features.pages.home"
        no-wrapper="true")

    .page.page-home(ng-if="$root.appConfigs.features.show_home_products || $root.appConfigs.features.show_home_map")
        div(ng-if="$root.appConfigs.features.show_home_products")
            .wrapper(ng-if="$ctrl.products.data.length > 0"): block-products(products="$ctrl.products.data" type="budget" display="grid")
            .wrapper(ng-if="$ctrl.subsidies.data.length > 0"): block-products(products="$ctrl.subsidies.data" type="subsidies" display="grid")

        section.section.section-map(ng-if="$root.appConfigs.features.show_home_map" id="map_block"): .wrapper
            .block.block-map
                .block-content
                    h2.block-title(i18n="home.map.title")
                    .block-description(i18n="home.map.subtitle")
                    button(ui-sref="providers({show_map:true})" id="show_map").button.button-primary.button-wide
                        translate(translate="buttons.show_map")
                        em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")
