top-navbar.nav-var

main(id="main")
    header.section.section-header.section-header-landing(
        ng-style="$ctrl.headerStyle"
        ng-class="['section-header-' + $ctrl.appConfigs.features.settings.banner_text_color]")

        .header-overlay(
            ng-if="$ctrl.appConfigs.features.settings.overlay_enabled" 
            ng-class="{'header-overlay-pattern': $ctrl.appConfigs.features.settings.overlay_type != 'color'}"
            ng-style="$ctrl.overlayStyles")

        .header-note(
            translate="home.header.{{ $root.client_key }}.header_note" 
            translate-default="{{'home.header.header_note' | translate }}")
        
        .wrapper
            .header-content
                .header-title(ng-if="$ctrl.appConfigs.features.settings.title" ng-bind="$ctrl.appConfigs.features.settings.title")
                .header-title(ng-if="!$ctrl.appConfigs.features.settings.title" translate="home.header.{{ $root.client_key }}.title" translate-default="{{ 'home.header.title' | translate:{ implementation: $ctrl.implementation_name } }}")
                
                .header-description#desc(ng-if="$ctrl.appConfigs.features.settings.description")
                    .block.block-markdown(ng-bind-html="$ctrl.description_html")

                .header-description#desc(ng-if="!$ctrl.appConfigs.features.settings.description && !$ctrl.digidAvailable")
                    p(ng-if="$ctrl.funds.length <= 1" translate="home.header.{{ $root.client_key }}.subtitle" translate-default="{{'home.header.subtitle' | translate:{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale } }}" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                    
                    p(ng-if="$ctrl.funds.length > 1" translate="home.header.{{ $root.client_key }}.subtitle_multi" translate-default="{{'home.header.subtitle_multi' | translate:{ org_name: $ctrl.funds[0].organization.name  } }}" i18n-vars="{ org_name: $ctrl.funds[0].organization.name  }")

                    //- gebruik activatiecode tekst
                    p(ng-if="!$root.auth_user && $ctrl.funds.length <= 1" translate="home.header.{{ $root.client_key }}.cta" translate-default="{{ 'home.header.cta' | translate }}"  i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                    
                    p(ng-if="!$root.auth_user && $ctrl.funds.length > 1" translate="home.header.{{ $root.client_key }}.cta" translate-default="{{ 'home.header.cta_multi' | translate }}"  i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                    //- beheer uw voucher in me tekst
                    
                    p(ng-if="$root.auth_user && $ctrl.vouchers.length > 0" i18n="home.header.auth_cta" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")

                .header-description#desc(ng-if="!$ctrl.appConfigs.features.settings.description && $ctrl.digidAvailable")
                    p(translate="home.header.{{ $root.client_key }}.subtitle_av" translate-default="{{'home.header.subtitle_av' | translate:{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale } }}" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                    
                    //- gebruik activatiecode tekst
                    p(ng-if="!$root.auth_user" translate="home.header.{{ $root.client_key }}.cta_av" translate-default="{{ 'home.header.cta_av' | translate:{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale } }}")
                    
                    p(ng-if="$root.auth_user && $ctrl.vouchers.length > 0" i18n="home.header.auth_cta" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")
                        
                a(ng-if="$root.auth_user && $ctrl.vouchers.length > 0" translate="Meer informatie over de Me-app" ui-sref="me-app" target="_blank").header-how-it-works

    .page.page-home(ng-if="$ctrl.appConfigs.flags.homeProducts")
        .wrapper(ng-if="$ctrl.products.data.length > 0"): block-products(products="$ctrl.products.data" type="budget" display="grid")
        .wrapper(ng-if="$ctrl.subsidies.data.length > 0"): block-products(products="$ctrl.subsidies.data" type="subsidies" display="grid")

        section.section.section-map(ng-if="$ctrl.appConfigs.flags.homeMap" id="map_block"): .wrapper
            .block.block-map
                .block-content
                    .block-title(i18n="home.map.title")
                    .block-description(i18n="home.map.subtitle")
                    button(ui-sref="providers({show_map:true})" i18n="buttons.show_map" id="show_map").button.button-primary.button-wide
