.header-splash: .splash

header.section.section-header.section-header-landing
    top-navbar
    .wrapper
        .header-sprite

        .header-content
            .header-title(i18n="home.header.{{ $root.client_key }}.title")
            //- usage example: 
            //- .header-title {{ 'test' | i18n:{foo:'bar'} }}
            //- .header-title(i18n="test" i18n-vars="{foo:'bar'}")
            
            .header-description#desc(translate="home.header.{{ $root.client_key }}.auth_subtitle" ng-show="$root.auth_user && $ctrl.vouchers.length > 0")
            .header-description#desc(translate="home.header.{{ $root.client_key }}.subtitle" ng-show="$root.auth_user && $ctrl.vouchers.length == 0")
            .header-description#desc(translate="home.header.{{ $root.client_key }}.subtitle" ng-show="!$root.auth_user")
            a(ng-if="$root.appConfigs.flags.homeButton && !$root.auth_user" ng-click="openAuthCodePopup()" i18n="home.header.{{ $root.client_key }}.button").button.button-primary 
            a(ng-if="$root.appConfigs.flags.homeButton && $root.auth_user && $ctrl.vouchers.length == 0" ng-click="openActivateCodePopup()" i18n="home.header.{{ $root.client_key }}.button").button.button-primary
            a(ng-if="$root.appConfigs.flags.homeButton && $root.auth_user && $ctrl.vouchers.length > 0" ng-click="$ctrl.openInMeModal()" i18n="home.header.{{ $root.client_key }}.auth_button").button.button-primary
            br
            br
            a(ng-if="$root.appConfigs.flags.homeButton" scroll-to="#steps" i18n="Hoe werkt het?" ng-show="!$root.auth_user").header-how-it-works
            a(ng-if="$root.appConfigs.flags.homeButton && $root.auth_user && $ctrl.vouchers.length == 0" scroll-to="#steps" i18n="Hoe werkt het?" ng-show="$root.auth_user").header-how-it-works
            a(ng-if="$root.appConfigs.flags.homeButton && $root.auth_user && $ctrl.vouchers.length > 0" translate="Meer informatie over de Me-app" href="#!/me-app" target="_blank" ng-show="$root.auth_user").header-how-it-works

block-products(
    ng-if="$root.appConfigs.flags.homeProducts"
    sample="true" 
    products="$ctrl.products" 
    product-categories="$ctrl.productCategories")

section.section.section-map(ng-if="$root.appConfigs.flags.homeMap"): .wrapper
    .block.block-map
        .block-content
            .block-title(i18n="home.map.{{ $root.client_key }}.title")
            .block-description(i18n="home.map.{{ $root.client_key }}.subtitle")
            button(ng-click="$ctrl.showPopupOffices()" i18n="buttons.show_map").button.button-primary.button-wide

section.section.section-steps#steps(ng-if="$root.appConfigs.flags.homeSteps"): .wrapper
    .section-splash
    .section-sprite
    .section-title(i18n="home.guide.title")
    .steps
        .step-item: .step-item-content
            h4(i18n="home.guide.stepone")
            p(i18n="home.guide.one")
        .step-item: .step-item-content
            h4(i18n="home.guide.steptwo")
            p(i18n="home.guide.two" i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }" scroll-to="#desc")
        .step-item: .step-item-content
            h4(i18n="home.guide.stepthree")
            p(i18n="home.guide.three" )
        .step-item: .step-item-content
            h4(i18n="home.guide.stepfour")
            p(translate="home.guide.four")
        .step-item: .step-item-content
            h4(i18n="home.guide.stepfive")
            p(translate="home.guide.five")

section.section.section-blogs(ng-if="$root.appConfigs.features.blog"): .wrapper
    .section-title(i18n="home.blog.forus.title")
    
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/blog-image-" + nth + ".jpg")
                .blog-name(i18n="home.blog.forus.name")
                .blog-read-more(i18n="home.blog.more")
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
    .block.block-show-more: a(href="#" i18n="buttons.read_more").button.button-primary.button-wide


section.section.section-faq(ng-if="$root.appConfigs.flags.homeFaq && $ctrl.funds.length == 1"): .wrapper
    .section-splash
    .section-title {{ "home.faq.title" | i18n }}
    .faq(collapse)
        mixin faq_item(title, content, active)
            .faq-item(class=active?'active':'' collapse-item)
                .faq-item-header(collapse-header)
                    span(i18n=title i18n-vars="{ fund: $ctrl.funds[0].name }")
                    .faq-item-chevron-down.mdi.mdi-chevron-down
                    .faq-item-chevron-up.mdi.mdi-chevron-up
                .faq-item-content(collapse-conten,i18n=content i18n-vars="{ fund: $ctrl.funds[0].name, start_date: $ctrl.funds[0].start_date_locale }")    

        +faq_item(
            'home.faq.faq_one',
            'home.faq.one')

        +faq_item(
            'home.faq.faq_two',
            'home.faq.two')

        +faq_item(
            'home.faq.faq_three',
            'home.faq.three')

        +faq_item(
            'home.faq.faq_four',
            'home.faq.four')

        +faq_item(
            'home.faq.faq_five',
            'home.faq.five')

        +faq_item(
            'home.faq.faq_six',
            'home.faq.six')

        +faq_item(
            'home.faq.faq_seven',
            'home.faq.seven')
            
        +faq_item(
            'home.faq.faq_nine',
            'home.faq.nine')
        +faq_item(
            'home.faq.faq_ten',
            'home.faq.ten')

        +faq_item(
            'home.faq.faq_eleven',
            'home.faq.eleven')
        +faq_item(
            'home.faq.faq_twelve',
            'home.faq.twelve') 
        +faq_item(
            'home.faq.faq_thirteen',
            'home.faq.thirteen')
        +faq_item(
            'home.faq.faq_fourteen',
            'home.faq.fourteen')
        +faq_item(
            'home.faq.faq_fifteen',
            'home.faq.fifteen') 
contact-form 
