.header-splash: .splash

header.section.section-header.section-header-landing
    top-navbar
    .wrapper
        .heade-sprite

        .header-content
            .header-title {{ "home.header.forus.title" | translate }}
            .header-description(ng-bind="'home.header.forus.subtitle' | translate")
            a(scroll-to="#steps" translate="home.header.forus.button").button.button-primary 

block-products(
    ng-if="$root.appConfigs.features.products.list"
    sample="true" 
    products="$ctrl.products" 
    product-categories="$ctrl.productCategories")

section.section.section-map: .wrapper
    .block.block-map
        .block-content
            .block-title {{ "home.map.title" | translate }}
            .block-description(ng-bind="'home.map.subtitle' | translate")
            button(ng-click="$ctrl.showPopupOffices()" translate="home.map.button").button.button-primary

section.section.section-steps#steps: .wrapper
    if (qdt_c.platform.env_data.client_key != 'nijmegen')
        .section-splash
        .section-sprite
    .section-title {{ "home.guide.forus.title" | translate }}
    .steps
        .step-item: .step-item-content
            h4 {{ "home.guide.forus.stepone" | translate }}
            p {{ "home.guide.forus.one" | translate }}
        .step-item: .step-item-content
            h4 {{ "home.guide.forus.steptwo" | translate }}
            p {{ "home.guide.forus.two" | translate: "{fonds: 'de Meedoen-regeling', voucher: 'de Meedoen', start_date: '1 januari 2019'}" }}
        .step-item: .step-item-content
            h4 {{ "home.guide.forus.stepthree" | translate }}
            p {{ "home.guide.forus.three" | translate }}
        .step-item: .step-item-content
            h4 {{ "home.guide.forus.stepfour" | translate }}
            p {{ "home.guide.forus.four" | translate }}
        .step-item: .step-item-content
            h4 {{ "home.guide.forus.stepfive" | translate }}
            p {{ "home.guide.forus.five" | translate }}

        .step-item

section.section.section-blogs(ng-if="$root.appConfigs.features.blog"): .wrapper
    .section-title {{ "home.blog.forus.title" | translate }}
    
    .block.block-blogs
        mixin blog_item(nth)
            .blog-item: a(href="#").blog-item-inner
                .blog-image: img(src="./assets/img/blog-image-" + nth + ".jpg")
                .blog-name {{ "home.blog.forus.name" | translate }}
                .blog-read-more 
                    | {{ "home.blog.more" | translate }}
                    em.mdi.mdi-arrow-right
        +blog_item(1)
        +blog_item(2)
        +blog_item(3)
    .block.block-show-more: a(href="#").button.button-primary {{ "home.blog.button" | translate }}
   
section.section.section-faq: .wrapper
    if (qdt_c.platform.env_data.client_key == 'zuidhorn')
       .section-splash
    .section-title  {{ "home.faq.forus.title" | translate:'{client_key: "#{qdt_c.platform.env_data.client_key}"}' }}
            .faq(collapse)
                mixin faq_item(title, content, active)
                    .faq-item(class=active?'active':'' collapse-item)
                        .faq-item-header(collapse-header,translate=title,translate-values="{fonds: 'de Meedoen-regeling', voucher: 'de Meedoen'}")
                            .faq-item-chevron-down.mdi.mdi-chevron-down
                            .faq-item-chevron-up.mdi.mdi-chevron-up
                        .faq-item-content(collapse-conten,translate=content,translate-values="{fonds: 'de Meedoen-regeling', voucher: 'de Meedoen', start_date: '1 januari 2019'}")    
                +faq_item(
                    'home.faq.forus.faq_one',
                    'home.faq.forus.one')

                +faq_item(
                    'home.faq.forus.faq_two',
                    'home.faq.forus.two')

                +faq_item(
                    'home.faq.forus.faq_three',
                    'home.faq.forus.three')

                +faq_item(
                    'home.faq.forus.faq_four',
                    'home.faq.forus.four')

                +faq_item(
                    'home.faq.forus.faq_five',
                    'home.faq.forus.five')

                +faq_item(
                    'home.faq.forus.faq_six',
                    'home.faq.forus.six')

                +faq_item(
                    'home.faq.forus.faq_seven',
                    'home.faq.forus.seven')

                +faq_item(
                    'home.faq.forus.faq_eight',
                    'home.faq.forus.eight')
                    
                +faq_item(
                    'home.faq.forus.faq_nine',
                    'home.faq.forus.nine')

                +faq_item(
                    'home.faq.forus.faq_ten',
                    'home.faq.forus.ten')

                +faq_item(
                    'home.faq.forus.faq_eleven',
                    'home.faq.forus.eleven')

                +faq_item(
                    'home.faq.forus.faq_twelve',
                    'home.faq.forus.twelve')

                +faq_item(
                    'home.faq.forus.faq_thirteen',
                    'home.faq.forus.thirteen')
contact-form 