top-navbar

main(id="main-content")
    section.section.section-details: .wrapper.flex.flex-vertical
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active(i18n="Privacyverklaring" aria-current="location")

        div(ng-class="'order-' + $ctrl.page.description_default_position")
            cms-blocks(
                ng-if="$root.appConfigs.features.pages.privacy"
                page="$root.appConfigs.features.pages.privacy")

        div(
            ng-if="!$ctrl.description_html || $ctrl.page.description_default_position" 
            ng-class="'order-' + ($ctrl.page.description_default_position == 'top' ? 'bottom' : 'top')")

            .section-title.text-left(
                translate="privacy.{{$root.client_key}}.title" 
                translate-default="{{ 'privacy.title' | translate }}")
            
            .block.block-accessibility
                .block-text
                p.description(translate="privacy.{{$root.client_key}}.one" translate-default="{{ 'privacy.one' | translate }}")

                .block-text
                    .title(translate="privacy.{{$root.client_key}}.title_two" translate-default="{{ 'privacy.title_two' | translate }}")
                    .description(translate="privacy.{{$root.client_key}}.two" translate-default="{{ 'privacy.two' | translate }}")
                        
                .block-text
                    .title(translate="privacy.{{$root.client_key}}.title_three" translate-default="{{ 'privacy.title_three' | translate }}")
                    .description(translate="privacy.{{$root.client_key}}.three" translate-default="{{ 'privacy.three' | translate }}")

                .block-text
                    .title(translate="privacy.{{$root.client_key}}.title_four" translate-default="{{ 'privacy.title_four' | translate }}")
                    .description(translate="privacy.{{$root.client_key}}.four" translate-default="{{ 'privacy.four' | translate }}")

                .block-text
                    .title(translate="privacy.{{$root.client_key}}.title_five" translate-default="{{ 'privacy.title_five' | translate }}")
                    .description(translate="privacy.{{$root.client_key}}.five" translate-default="{{ 'privacy.five' | translate }}")

                .block-text
                    .title(translate="privacy.{{$root.client_key}}.title_six" translate-default="{{ 'privacy.title_six' | translate }}")
                    .description(translate="privacy.{{$root.client_key}}.six" translate-default="{{ 'privacy.six' | translate }}")
                
                .block-text
                    .title(translate="privacy.{{$root.client_key}}.title_seven" translate-default="{{ 'privacy.title_seven' | translate }}")
                    .description(translate="privacy.{{$root.client_key}}.seven" translate-default="{{ 'privacy.seven' | translate }}")
                
                .block-text(ng-if= "$root.client_key == 'groningen'")
                    .title(translate="privacy.{{$root.client_key}}.title_eight" translate-default="{{ 'privacy.one' | translate }}")
                    .description(translate="privacy.{{$root.client_key}}.eight" translate-default="{{ 'privacy.one' | translate }}")
                
                .block-text(ng-if= "$root.client_key == 'groningen'")
                    .title(translate="privacy.{{$root.client_key}}.title_nine")
                    .description(translate="privacy.{{$root.client_key}}.nine")
