block content
    .header-splash: .splash.splash-c
    .block.block-showcase(ng-class="{'block-showcase-fullscreen': $ctrl.showMap}")
        top-navbar(hide-on-scroll="true")

        main(id="main-content")
            .showcase-wrapper
                .showcase-mobile-filters(ng-class="{active: $ctrl.countFiltersApplied > 0}")
                    .mobile-filters-count: .mobile-filters-count-value(ng-bind="$ctrl.countFiltersApplied")
                    .mobile-filters-title Filter op categorieën en tegoeden
                    .mobile-filters-icon(ng-click="$ctrl.toggleMobileMenu()" aria-label="Filter op categorieën en tegoeden"): em.mdi.mdi-filter-outline

                .block.block-breadcrumbs
                    a(ui-sref="home").breadcrumb-item Home
                    .breadcrumb-item.active(aria-current="location") Aanbod

                .showcase-layout
                    .showcase-aside.form.form-compact(ng-class="{'show-mobile': $ctrl.showModalFilters}" role='search')
                        .showcase-aside-block
                            .showcase-aside-tabs(ng-if="$root.auth_user")
                                .showcase-aside-tabs-description View mode

                                .showcase-aside-tab(
                                    ng-class="{active: !$ctrl.showFavourites}"
                                    ng-click="$ctrl.getAll()"
                                    role="button")
                                    em.mdi.mdi-tag-multiple
                                    | Alle producten

                                .showcase-aside-tab(
                                    ng-class="{active: $ctrl.showFavourites}"
                                    ng-click="$ctrl.getFavourites()"
                                    role="button")
                                    em.mdi.mdi-cards-heart-outline
                                    | Mijn favorieten

                            .form-group
                                input.form-control(
                                    ng-model="$ctrl.form.values.q"
                                    placeholder="Zoek aanbod" 
                                    type="search"
                                    aria-label="search"
                                    id="products_search")

                            .form-group
                                label.form-label(for="select_provider") Aanbieders
                                select-control(
                                    id="select_provider"
                                    prop="id"
                                    ng-model="$ctrl.form.values.organization_id"
                                    options="$ctrl.organizations"
                                    placeholder="{{ $ctrl.organizations[0].name }}")

                            .form-group
                                label.form-label(for="select_category") Categorie
                                select-control(
                                    id="select_category"
                                    prop="id"
                                    name="category"
                                    ng-model="$ctrl.form.values.product_category_id"
                                    options="$ctrl.productCategories"
                                    placeholder="{{ $ctrl.productCategories[0].name }}")

                            .form-group
                                label.form-label(for="select_fund") Tegoeden
                                select-control(
                                    id="select_fund"
                                    prop="id"
                                    name="fund"
                                    ng-model="$ctrl.form.values.fund_id" 
                                    options="$ctrl.funds"
                                    placeholder="{{ $ctrl.funds[0].name }}")

                            .row
                                .col.col-md-6: .form-group
                                    label.form-label(for="postcode") Postcode
                                    input.form-control(
                                        ng-model="$ctrl.form.values.postcode"
                                        placeholder="Postcode"
                                        type="text"
                                        aria-label="Postcode...")
                                    .form-error(ng-repeat="error in $ctrl.form.errors.postcode" ng-bind="error")

                                .col.col-md-6: .form-group
                                    label.form-label(for="distance") Afstand
                                    select-control(
                                        prop="id"
                                        ng-model="$ctrl.form.values.distance"
                                        options="$ctrl.distances"
                                        placeholder="Afstand..."
                                        id="distance")
                                    .form-error(ng-repeat="error in $ctrl.form.errors.distance" ng-bind="error")


                    .showcase-content(ng-if="!$ctrl.showFavourites || $ctrl.productsCount")
                        .showcase-content-header
                            h1.showcase-filters-title
                                span Aanbod
                                .showcase-filters-title-count(ng-bind="$ctrl.productsCount")

                            .showcase-filters-block: .block.block-label-tabs.form
                                .showcase-filters-item
                                    label.form-label Sorteer
                                    select-control(
                                        id="sort_by"
                                        as="label"
                                        search="false"
                                        ng-model="$ctrl.sort_by"
                                        ng-change="$ctrl.updateSortBy()"
                                        options="$ctrl.sortByOptions"
                                        placeholder="Sorteer")

                                .label-tab-set
                                    .label-tab.label-tab-sm(
                                        ng-class="{active: $ctrl.display_type == 'list'}"
                                        ng-click="$ctrl.showAs('list')"
                                        role="button")
                                        em.mdi.mdi-format-list-text.icon-start
                                        | Lijst

                                    .label-tab.label-tab-sm(
                                        ng-class="{active: $ctrl.display_type == 'grid'}"
                                        ng-click="$ctrl.showAs('grid')"
                                        role="button")
                                        em.mdi.mdi-view-grid-outline.icon-start
                                        | Foto's

                        //- Funds CMS blocks
                        cms-blocks(
                            ng-if="$root.appConfigs.features.pages.products"
                            page="$root.appConfigs.features.pages.products")

                        products-list(
                            display="$ctrl.display_type" 
                            type="$ctrl.fund_type" 
                            products="$ctrl.products.data"
                            enable-favourites="true"
                            favourites-only="$ctrl.showFavourites"
                            on-toggle-favourite="$ctrl.toggleFavourite()")

                        empty-block(
                            title= "{{ 'block_products.labels.title' | translate }}"
                            description="{{ 'block_products.labels.subtitle' | translate }}"
                            hide-link="true" 
                            ng-if="$ctrl.productsCount == 0")

                        .card(ng-if="$ctrl.products"): .card-section(ng-show="$ctrl.products.meta.last_page > 1"): paginator(
                            meta="$ctrl.products.meta" 
                            filters="$ctrl.form.values" 
                            count-buttons="5" 
                            on-page-change="$ctrl.onPageChange(query)")

                    
                    .showcase-content(ng-if="$ctrl.showFavourites && !$ctrl.productsCount")
                        no-bookmarks-block(
                            type="products"
                            title="Je hebt nog geen producten in je favorieten."
                            description="Lorem ipsum dolor sit amet, consectetur adipiscing"
                            button-text="Gaan winkelen"
                            button-sref="products({favourites_only: 0})") 
