//- 
    top-navbar

    .wrapper: .page.page-voucher
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active Aanbiedingen

        block-products(
            sample="false" 
            product-categories="$ctrl.productCategories")

block content
    top-navbar
    br
    .header-splash: .splash.splash-c
    .block.block-showcase(ng-class="{'block-showcase-fullscreen': $ctrl.showMap}")
        .showcase-wrapper
            .showcase-title We hebben {{ $ctrl.products.meta.total }} winkels voor je gevonden
            .showcase-subtitle Selecteer een winkel voor meer informatie
            
            .showcase-layout
                .showcase-aside.form.form-compact
                    .showcase-aside-block
                        .form-group
                            input.form-control(
                                ng-model="$ctrl.form.values.q"
                                placeholder="Search by keyword" 
                                type="search")

                        .form-group
                            label.form-label FUND
                            select(
                                ng-options="category.id as category.name for category in $ctrl.productCategories" 
                                ng-model="$ctrl.form.values.product_category_id").form-control

                        .form-group
                            label.form-label FUND
                            select-control(
                                ng-model="$ctrl.form.values.fund" 
                                options="$ctrl.funds"
                                placeholder="Selecteer fund...")
                    
                .showcase-content
                    .showcase-content-header
                        .showcase-filters-title
                            div(ng-if="!$ctrl.showMap").pull-left
                                .showcase-filters-title-count(ng-bind="$ctrl.products.meta.total")
                                | Products
                            .block.block-label-tabs.pull-right
                                .label-tab.label-tab-sm(
                                    ng-class="{active: $ctrl.display_type == 'list'}"
                                    ng-click="$ctrl.showAs('list')")
                                    em.mdi.mdi-format-list-text.icon-start
                                    | List
                                .label-tab.label-tab-sm(
                                    ng-class="{active: $ctrl.display_type == 'grid'}"
                                    ng-click="$ctrl.showAs('grid')")
                                    em.mdi.mdi-view-grid-outline.icon-start
                                    | Grid
                    
                    .block.block-products(ng-if="$ctrl.products.data.length > 0 && $ctrl.display_type == 'grid'")
                        .product-item(ng-repeat="product in $ctrl.products.data" ng-class="{discounted:product.old_price}")
                            a(ui-sref="products-show(product)").product-item-inner
                                .product-image: img(ng-src="{{ product.photo.sizes.small || './assets/img/placeholders/product-small.png' }}")
                                .product-details
                                    .product-organization(ng-bind="product.organization.name")
                                    .product-name.truncated(ng-bind="product.name")
                                    .product-discount
                                        | {{ product.old_price == 0 ? 0 : (100 - (product.price / product.old_price) * 100) | to_fixed:0 }}%
                                        br
                                        | {{ "block_products.labels.discount" | translate }}
                                    .product-price
                                        small {{ "block_products.labels.old" | translate }} {{ product.old_price | currency_format }}
                                        | {{ "block_products.labels.new" | translate }} {{ product.price | currency_format }}
                    
                    .block.block-products-list(ng-if="$ctrl.products.data.length > 0 && $ctrl.display_type == 'list'")
                        .product-item(ng-repeat="product in $ctrl.products.data" ng-class="{discounted:product.old_price}")
                            .product-photo: img(ng-src="{{ product.photo.sizes.small || './assets/img/placeholders/product-small.png' }}").product-photo-img
                            .product-details
                                .product-name(ng-bind="product.name")
                                .label.label-danger.label-sm(ng-if="product.old_price")
                                    | {{ product.old_price == 0 ? 0 : (100 - (product.price / product.old_price) * 100) | to_fixed:0 }}%
                                    | {{ "block_products.labels.discount" | translate }}
                            .product-actions
                                .label.label-default.label-sm(ng-if="product.old_price") 
                                    | {{ "block_products.labels.old" | translate }} {{ product.old_price | currency_format }}
                                .product-price {{ "block_products.labels.new" | translate }} {{ product.price | currency_format }}

                    empty-block(
                        title= "{{ 'block_products.labels.title' | translate }}"
                        description="{{ 'block_products.labels.subtitle' | translate }}"
                        hide-link="true" 
                        ng-if="$ctrl.products.data.length == 0")
                
                    .card(ng-if="$ctrl.products"): .card-section(ng-show="$ctrl.products.meta.last_page > 1"): paginator(
                        meta="$ctrl.products.meta" 
                        filters="$ctrl.form.values" 
                        count-buttons="5" 
                        on-page-change="$ctrl.onPageChange(query)")
