top-navbar

main(id="main-content")
    section.section.section-product: .wrapper

        .block.block-breadcrumbs
            a(ng-if="$ctrl.searchData" ui-sref="search-result($ctrl.searchData)").breadcrumb-item.breadcrumb-item-back
                em.mdi.mdi-chevron-left
                | Terug
            a(ui-sref="home" i18n="product.headers.home").breadcrumb-item
            a(ui-sref="products" ng-if="$ctrl.useBudget" i18n="product.headers.products").breadcrumb-item
            a(ui-sref="actions" ng-if="$ctrl.useSubsidies && !$ctrl.useBudget" i18n="product.headers.subsidies").breadcrumb-item
            .breadcrumb-item.active(ng-bind="$ctrl.product.name" aria-current="location")

        .block.block-product
            h1.sr-only Informatie over het aanbod
            .product-card
                .product-photo: img(
                    ng-src="{{ $ctrl.product.photo.sizes.large || './assets/img/placeholders/product-large.png' }}" 
                    alt="{{ $ctrl.product.name }}")
                
                .product-details
                    .product-name
                        span(ng-bind="$ctrl.product.name")
                        span.label.label-danger(
                            ng-if="!$ctrl.product.deleted && $ctrl.product.sold_out" 
                            i18n="product.status.out_of_stock")

                    .organization-name(ng-bind="$ctrl.product.organization.name")

                    .product-properties
                        .product-property
                            .product-property-label(i18n="product.labels.category")
                            .product-property-value(ng-bind="$ctrl.product.product_category.name")
                    
                    .product-properties
                        .product-property.product-property-full
                            .product-property-label(i18n="product.labels.description")
                            .product-property-value: .block.block-markdown: div(ng-bind-html="$ctrl.product.description_html")

            .block.block-info-card(ng-if="$ctrl.productMeta.funds.length > 0")
                h2(i18n="product.headers.funds" ui-sref="vouchers").block-header
                .block-products-content
                    .product-funds-list: .fund-item(ng-repeat="fund in $ctrl.productMeta.funds")
                        .fund-item-section.fund-item-section-details.text-left
                            .fund-item-media: img.fund-item-media-img(
                                ng-src="{{ fund.logo.sizes.thumbnail || '/assets/img/placeholders/fund-thumbnail.png' }}" alt="")

                            .fund-item-content
                                .fund-item-section-label.flex-start Tegoed:
                                .fund-item-section-value.fund-item-section-value-sm(ng-bind="fund.name")
                        
                        .fund-item-section
                            .fund-item-section-label(i18n="product.labels.expire")
                            .fund-item-section-value.fund-item-section-value-sm 
                                | {{ "product.labels.expire_prefix" | translate }} {{ fund.meta.shownExpireDate.locale }}
                        
                        .fund-item-section.text-right(ng-if="fund.type == 'subsidies'")
                            .fund-item-section-label.tooltip-block(ng-if="$root.auth_user")
                                | #[span(translate="product.labels.limit")]
                                | #[tooltip(text="'product.tooltip'" ng-if="$root.auth_user")]
                            .fund-item-section-value(
                                ng-bind="fund.meta.applicableVouchers.length ? fund.limit_available : fund.limit_per_identity" ng-if="$root.auth_user")

                            .fund-item-section-label(translate="product.labels.max_limit" ng-if="!$root.auth_user")
                            .fund-item-section-value(ng-bind="fund.limit_per_identity" ng-if="!$root.auth_user")

                        //- product price
                        .fund-item-section.fund-item-price.text-right
                            .fund-item-section-label(
                                ng-if="$ctrl.product.price_type === 'free' || $ctrl.product.price_type === 'regular'" 
                                translate="product.labels.price")

                            .fund-item-section-label(
                                ng-if="$ctrl.product.price_type === 'discount_fixed' || $ctrl.product.price_type === 'discount_percentage'" 
                                translate="product.labels.discount")

                            //- subsidies price
                            .fund-item-section-value(
                                ng-if="fund.type == 'subsidies' && ($ctrl.product.price_type === 'free' || $ctrl.product.price_type === 'regular' && fund.price == 0)"
                                translate="product.status.free")

                            .fund-item-section-value(
                                ng-if="fund.type == 'subsidies' && ($ctrl.product.price_type === 'regular' && fund.price != 0)" 
                                ng-bind="fund.price | currency_format")
                            
                            //- budget price
                            .fund-item-section-value(
                                ng-if="fund.type == 'budget' && ($ctrl.product.price_type === 'regular' || $ctrl.product.price_type === 'free')" 
                                ng-bind="$ctrl.product.price_locale")

                            //- discount_fixed or discount_percentage (budget or subsidies)
                            .fund-item-section-value(
                                ng-if="$ctrl.product.price_type === 'discount_fixed' || $ctrl.product.price_type === 'discount_percentage'" 
                                ng-bind="$ctrl.product.price_discount_locale")

                        //- reserve product using voucher (product reservation)
                        .fund-item-section(ng-if="fund.meta.isReservationAvailable")
                            .button.button-dark.button-flat(
                                i18n="product.buttons.buy" 
                                ng-click="$ctrl.reserveProduct(fund)")

                        //- request fund
                        .fund-item-section(ng-if="!fund.meta.applicableVouchers.length && $ctrl.signedIn && !fund.meta.isReservationAvailable")
                            .button.button-light.button-flat(
                                translate="product.buttons.{{ $root.client_key }}.request" 
                                translate-default="{{ 'product.buttons.request' | translate }}" 
                                ng-click="$ctrl.requestFund(fund)")

                        .fund-item-section(ng-if="fund.meta.applicableVouchers.length && !fund.meta.isReservationAvailable")
                            .button.button-dark.button-flat(ng-click="$ctrl.goToVoucher(fund)" i18n="product.buttons.open_voucher")

            .block.block-pane(ng-class="{'last-child': $ctrl.product.organization.showOffices}")
                h2(ui-sref="provider($ctrl.product.organization)" i18n="product.headers.provider").pane-head
                .pane-body: .block.block-organizations: .organization-item
                    a(ui-sref="provider($ctrl.product.organization)" ).organization-pane
                        .organization-logo
                            img(ng-src="{{ $ctrl.product.organization.logo.sizes.thumbnail || '/assets/img/placeholders/organization-thumbnail.png'  }}" alt="{{ $ctrl.product.organization.name }}").organization-logo-img
                        .organization-title
                            .organization-title-value(ng-bind="$ctrl.product.organization.name")
                            .organization-title-count(ng-bind="$ctrl.product.offices.length")
                        .organization-chevron(ng-click="$ctrl.toggleOffices($event, $ctrl.product.organization)")
                            .mdi(ng-class="'mdi-chevron-' + ($ctrl.product.organization.showOffices ? 'up' : 'right')" role = "link" aria-label="Klik voor meer informatie over de aanbieder")           
        
            .block.block-organizations(ng-if="$ctrl.product.organization.showOffices"): .organization-item
                .organization-offices: .block.block-offices
                    a(ng-repeat="office in $ctrl.product.offices" ui-sref="provider-office(office)" role="heading").office-item
                        .office-item-map-icon: .mdi.mdi-map-marker
                        .office-pane
                            .office-pane-block
                                .office-logo: img(
                                    ng-src="{{ office.organization.logo.sizes.thumbnail || '/assets/img/placeholders/office-thumbnail.png' }}"
                                    alt="{{ $ctrl.product.organization.name }}"
                                    ).office-logo-img
                                .office-details
                                    .office-title(ng-bind="office.address")
                                    .office-labels
                                        .label.label-default(ng-bind="$ctrl.product.organization.business_type.name || 'Geen organisatie type'")
                                    
                                    div(ng-if="office.phone || provider.phone || provider.email")
                                        .office-info.office-info-inline(ng-if="office.phone || provider.phone")
                                            .mdi.mdi-phone-outline
                                            | {{ office.phone ? office.phone : provider.phone }}
                                        
                                        .office-info.office-info-inline(ng-if="provider.email")
                                            .mdi.mdi-email-outline
                                            | {{ provider.email }}

            .block.block-map_card
                .map_card-header
                    h2.map_card-title(i18n="product.headers.map")

                .map_card-iframe: google-map(
                    map-gesture-handling="'greedy'"
                    map-pointer-template="providers-office"  
                    map-pointers="$ctrl.product.offices")
