top-navbar

main(id="main-content")
    section.section.section-product: .wrapper
        mixin bookmark_toggle()
            .block.block-bookmark-toggle(
                ng-if="$root.auth_user"
                ng-click="$ctrl.toggleBookmark($event, $ctrl.product)"
                ng-class="$ctrl.product.bookmarked ? 'active' : ''"
                aria-label="toevoegen aan verlanglijstje"
                aria-pressed="{{ $ctrl.product.bookmarked }}")
                    .mdi.mdi-cards-heart

        .block.block-breadcrumbs
            a(ng-if="$ctrl.searchData" ui-sref="search-result($ctrl.searchData)").breadcrumb-item.breadcrumb-item-back
                em.mdi.mdi-chevron-left
                | Terug
            a(ui-sref="home" i18n="product.headers.home").breadcrumb-item
            a(ui-sref="products" ng-if="$ctrl.useBudget" i18n="product.headers.products").breadcrumb-item
            a(ui-sref="actions" ng-if="$ctrl.useSubsidies && !$ctrl.useBudget" i18n="product.headers.subsidies").breadcrumb-item
            .breadcrumb-item.active(ng-bind="$ctrl.product.name" aria-current="location")

        .block.block-product
            .product-card
                .product-photo: img(
                    ng-src="{{ $ctrl.product.photo.sizes.large || './assets/img/placeholders/product-large.png' }}" 
                    alt="{{ $ctrl.product.alternative_text }}")
                
                .product-details
                    h1.product-name
                        span(ng-bind="$ctrl.product.name" dusk="productName")
                        span.label.label-danger(
                            ng-if="!$ctrl.product.deleted && $ctrl.product.sold_out" 
                            i18n="product.status.out_of_stock")

                    .organization-name(ng-bind="$ctrl.product.organization.name")

                    .product-properties
                        .product-property
                            .product-property-label(i18n="product.labels.category")
                            h2.product-property-value(ng-bind="$ctrl.product.product_category.name")
                    
                    .product-properties
                        .product-property.product-property-full
                            .product-property-label(i18n="product.labels.description")
                            .product-property-value: markdown(
                                content="$ctrl.product.description_html"  
                                aria-level="3"
                                role="heading")
                
                +bookmark_toggle()

            .block.block-pane(ng-if="$ctrl.productMeta.funds.length > 0 && (!$ctrl.onlyAvailableFunds || $ctrl.productMeta.hasReservableFunds)")
                .pane-head: h2(i18n="product.headers.funds" ui-sref="vouchers").pane-head-title
                .pane-section.pane-section-collapsed
                    .product-funds-list: .fund-item(
                        ng-if="!$ctrl.onlyAvailableFunds || fund.meta.isReservationAvailable" 
                        ng-repeat="fund in $ctrl.productMeta.funds" 
                        dusk="fundItem")
                        .fund-item-section.fund-item-section-details.text-left
                            .fund-item-media: img.fund-item-media-img(
                                ng-src="{{ fund.logo.sizes.thumbnail || '/assets/img/placeholders/fund-thumbnail.png' }}" alt="")

                            .fund-item-content
                                .fund-item-section-label.flex-start Tegoed:
                                .fund-item-section-value.fund-item-section-value-sm(ng-bind="fund.name" dusk="fundName")
                        
                        .fund-item-section
                            .fund-item-section-label(i18n="product.labels.expire")
                            .fund-item-section-value.fund-item-section-value-sm 
                                | {{ "product.labels.expire_prefix" | translate }} {{ fund.meta.shownExpireDate.locale }}
                        
                        .fund-item-section.text-right(
                            ng-if="(fund.meta.applicableVouchers.length ? fund.limit_available : fund.limit_per_identity) != null")
                            .fund-item-section-label.tooltip-block(ng-if="$root.auth_user")
                                | #[span(translate="product.labels.limit")]
                                | #[tooltip(text="'product.tooltip'" ng-if="$root.auth_user")]
                            .fund-item-section-value(
                                ng-bind="fund.meta.applicableVouchers.length ? fund.limit_available : fund.limit_per_identity" ng-if="$root.auth_user")

                            .fund-item-section-label(translate="product.labels.max_limit" ng-if="!$root.auth_user")
                            .fund-item-section-value(ng-bind="fund.limit_per_identity" ng-if="!$root.auth_user")

                        //- product price
                        .fund-item-section.fund-item-price.text-right
                            .fund-item-section-label(
                                ng-if="$ctrl.product.price_type === 'free' || $ctrl.product.price_type === 'regular'" 
                                translate="product.labels.price")

                            .fund-item-section-label(
                                ng-if="$ctrl.product.price_type === 'discount_fixed' || $ctrl.product.price_type === 'discount_percentage'" 
                                translate="product.labels.discount")

                            //- subsidies price
                            .fund-item-section-value(
                                ng-if="fund.type == 'subsidies' && ($ctrl.product.price_type === 'free' || $ctrl.product.price_type === 'regular' && fund.price == 0)"
                                translate="product.status.free")

                            .fund-item-section-value(
                                ng-if="fund.type == 'subsidies' && ($ctrl.product.price_type === 'regular' && fund.price != 0)" 
                                ng-bind="fund.price_locale")
                            
                            //- budget price
                            .fund-item-section-value(
                                ng-if="fund.type == 'budget' && ($ctrl.product.price_type === 'regular' || $ctrl.product.price_type === 'free')" 
                                ng-bind="$ctrl.product.price_locale")

                            //- discount_fixed or discount_percentage (budget or subsidies)
                            .fund-item-section-value(
                                ng-if="$ctrl.product.price_type === 'discount_fixed' || $ctrl.product.price_type === 'discount_percentage'" 
                                ng-bind="$ctrl.product.price_discount_locale")

                        //- reserve product using voucher (product reservation)
                        .fund-item-section(ng-if="fund.meta.isReservationAvailable")
                            .button.button-dark.button-flat(
                                i18n="product.buttons.buy" 
                                ng-click="$ctrl.reserveProduct(fund)"
                                dusk="reserveProduct")

                        .fund-item-section(ng-if="fund.external_link_text && fund.external_link_url")
                            .button.button(
                                target="_blank"
                                ng-class="fund.linkPrimaryButton ? 'button-primary' : 'button-primary-outline'"
                                ng-href="{{ fund.external_link_url }}")
                                span(ng-bind="fund.external_link_text")
                                em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

                        .fund-item-section(ng-if="fund.showRequestButton")
                            .button.button-primary(
                                ui-sref="fund-activate({fund_id: fund.id})")
                                span(ng-bind="fund.request_btn_text")
                                em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

                        .fund-item-section(ng-if="fund.showPendingButton")
                            .button.button-primary-outline(
                                ui-sref="fund-requests({fund_id: $ctrl.fund.id})")
                                translate(translate="funds.buttons.is_pending")

                        .fund-item-section(ng-if="fund.showActivateButton")
                            .button.button-primary(
                                type="button"
                                ng-click="$ctrl.requestFund(fund)")
                                translate(translate="funds.buttons.is_applicable")
                                em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

                        .fund-item-section(ng-if="fund.alreadyReceived && !fund.meta.isReservationAvailable")
                            .button.button-primary(
                                ui-sref="voucher({ address: fund.vouchers[0].address })")
                                translate(
                                    translate="funds.buttons.{{ fund.key }}.already_received"
                                    translate-default="{{'funds.buttons.already_received' | translate }}")
                                em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

            //- user not logged or no reservable funds
            .block.block-action-card.block-action-card-compact(ng-if="!$root.auth_user || ($ctrl.onlyAvailableFunds && !$ctrl.productMeta.hasReservableFunds)")
                .block-card-logo(aria-hidden="true"): include ../../../resources/_webshop-common/assets/img/icon-funds-overview.svg
                .block-card-details
                    h3.block-card-title(i18n="product.labels.funds_card_title")
                    .block-card-description(i18n="product.labels.funds_card_description")
                .block-card-actions
                    a(ui-sref="funds").button.button-primary
                        span(i18n="product.labels.funds_card_btn_text")
                        em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

            .block.block-organizations: provider-list-item(provider="$ctrl.provider")

            .block.block-map_card(ng-if="$root.appConfigs.features.show_product_map")
                .map_card-header
                    h2.map_card-title(i18n="product.headers.map")

                .map_card-iframe: google-map(
                    map-gesture-handling="'greedy'"
                    map-gesture-handling-mobile="'none'"
                    map-pointer-template="providers-office"  
                    map-pointers="$ctrl.product.offices")
