top-navbar

main(id="main-content" ng-show="!$root.mobileMenuOpened")
    section.section.section-profile: .wrapper
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active(aria-current="location") Eigenschappen

        .block.block-profile
            .profile-aside: profile-menu

            .profile-content
                .profile-content-header.clearfix
                    .profile-content-title
                        div.pull-left
                            .profile-content-title-count(ng-bind="$ctrl.records.length")
                            | Eigenschappen
                .block.block-records
                    .record-item(ng-repeat="record in $ctrl.records")
                        .record-details
                            .record-type {{ $ctrl.recordsByTypesKey[record.key].name }}
                            .record-value {{ record.value }}
                        .record-validations(ng-if="$root.appConfigs.features.records.validate")
                            a(
                                ng-if="record.validations.length > 0" 
                                ui-sref="record-validations(record)").record-validation-count
                                strong {{ record.validations.length }}
                                | {{ "records.labels.count" | translate }}
                            a(
                                ui-sref="record-validate(record)").record-validation-request
                                em.mdi.mdi-check
                                | {{ "records.buttons.validate" | translate }}
                
                    .text-right
                        //- button.button.button-primary(ng-click="$ctrl.openActivateCodePopup()") Activatiecode
                        button(ng-if="$root.appConfigs.features.records.create" type="buttons" ui-sref="record-create").button.button-primary 
                            em.mdi.mdi-plus
                            | {{ "records.buttons.create" | translate }}
                            em.mdi.mdi-arrow-right.icon-right(aria-hidden="true")

                empty-block(
                    title="Geen eigenschappen"
                    description="U hebt geen eigenschappen"
                    ng-if="$ctrl.records.length == 0") 