top-navbar

main(id="main-content"): section.section.section-profile: .wrapper
    //- Breadcrumbs
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        a(translate="reimbursements.header.title" ui-sref="reimbursements").breadcrumb-item
        .breadcrumb-item.active(aria-current="location") Bon insturen

    //- Page
    .block.block-profile
        //- Menu
        .profile-aside: profile-menu.hide-sm

        //- Page content
        .profile-content(
            ng-if="$ctrl.auth2FAState && !$ctrl.auth2FAState.restrictions.reimbursements.restricted"
            dusk="reimbursementEditContent")

            //- Header
            .profile-content-header
                h2.profile-content-title(ng-if="!$ctrl.reimbursement") Nieuwe kosten terugvragen
                h2.profile-content-title(ng-if="$ctrl.reimbursement") Declaratienummer: {{ '#' + $ctrl.reimbursement.code  }}

            //- No email warning
            .card(ng-if="!$ctrl.reimbursement && !$ctrl.identity.email && !$ctrl.identity.skipEmail" dusk="reimbursementNoEmail")
                .card-section
                    .card-title: strong Er is geen e-mailadres bekend.
                    .card-text 
                        | Indien er vragen zijn over de declaratie, kan er geen contact worden opgenomen.
                        br
                        | Is er geen mogelijkheid om een e-mailadres op te geven? Geef dan andere contactgegevens op.
                        br
                        br

                    .card-text
                        //- Add identity email
                        .button.button-primary.button-sm(
                            dusk="reimbursementNoEmailAddBtn"
                            ui-sref="identity-emails") 
                            | E-mailadres toevoegen

                        //- Skip adding email
                        .button.button-text.button-sm(
                            dusk="reimbursementNoEmailSkipBtn"
                            ng-click="$ctrl.identity.skipEmail = true") 
                            | Doorgaan zonder e-mailadres

            //- Form
            .card(ng-if="$ctrl.reimbursement || $ctrl.identity.email || $ctrl.identity.skipEmail" dusk="reimbursementForm"): form(
                ng-submit="$ctrl.submit()").form.form-compact.form-compact-flat

                .card-section
                    //- Invoices uploader
                    file-uploader(
                        type="reimbursement_proof"
                        files="$ctrl.files"
                        title="Upload uw bon, rekening of factuur"
                        accept="$ctrl.fileUploaderAccept"
                        crop-media="true"
                        multiple="true"
                        multiple-size="10"
                        make-preview="true"
                        file-list-compact="false"
                        result-image-size="file.size"
                        on-file-removed="$ctrl.onFileInfo(file, files)"
                        on-file-resolved="$ctrl.onFileInfo(file, files)"
                        on-file-uploaded="$ctrl.onFileUploaded(file, files)"
                        on-file-batch-queued="$ctrl.onFileInfo(file, files)")

                    .text-center(ng-if="$ctrl.form.errors.files")
                        br
                        .form-error(ng-repeat="error in $ctrl.form.errors.files" ng-bind="error")

                .card-section: .row: .col.col-xs-12.col-md-10
                    .form-group.form-group-inline
                        label(for="voucher_id").form-label: .flex-inline
                            .flex Tegoed&nbsp;
                            .flex-inline.flex-center.flex-vertical
                                tooltip(text="'Kies het tegoed dat u wilt gebruiken voor het terugvragen van uw kosten.'")

                        .form-offset
                            select-control(
                                id="voucher_id"
                                as="address"
                                prop="id"
                                search="false"
                                dusk="voucherSelector"
                                ng-model="$ctrl.form.values.voucher_id"
                                ng-change="$ctrl.updateSelectedVoucher()"
                                options="$ctrl.vouchers"
                                template="select-control-voucher"
                                placeholder="Select voucher")

                            .form-error(ng-repeat="error in $ctrl.form.errors.voucher_address" ng-bind="error")

                            block-voucher-records(
                                ng-if="$ctrl.selectedVoucher && $ctrl.selectedVoucher.records.length"
                                toggle='true'
                                compact='true'
                                voucher="$ctrl.selectedVoucher")

                .card-section: .row: .col.col-xs-12.col-md-10
                    //- Title
                    .form-group.form-group-inline
                        label(for="title").form-label Titel van de declaratie
                        input(
                            id="title"
                            name="title"
                            type="text" 
                            ng-model="$ctrl.form.values.title"
                            placeholder="Wat heeft u gekocht?"
                            maxlength="200").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.title" ng-bind="error")

                    //- Amount
                    .form-group.form-group-inline 
                        label(for="amount").form-label Bedrag €
                        input(
                            id="amount"
                            type="number"
                            name="amount"
                            step=".01"
                            min="0.01"
                            ng-model="$ctrl.form.values.amount"
                            placeholder="Welk bedrag wilt u terugvragen?").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.amount" ng-bind="error")

                    //- Description
                    .form-group.form-group-inline
                        label(for="description").form-label Omschrijving
                        textarea(
                            id="description"
                            ng-model="$ctrl.form.values.description"
                            name="description"
                            placeholder="Wilt u nog iets kwijt?"
                            resize="vertical"
                            max="2000").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.description" ng-bind="error")

                    //- IBAN
                    .form-group.form-group-inline
                        label(for="iban").form-label IBAN nummer
                        input(
                            id="iban"
                            type="text"
                            name="iban"
                            ng-model="$ctrl.form.values.iban"
                            placeholder="IBAN nummer"
                            maxlength="34").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.iban" ng-bind="error")

                    //- IBAN Name
                    .form-group.form-group-inline
                        label(for="iban_name").form-label Naam rekeninghouder
                        input(
                            id="iban_name"
                            type="text"
                            name="iban_name"
                            ng-model="$ctrl.form.values.iban_name"
                            placeholder="Op welke naam staat uw bankrekening?"
                            maxlength="45").form-control
                        .form-error(ng-repeat="error in $ctrl.form.errors.iban_name" ng-bind="error")

                .card-section: .flex.flex-horizontal
                    //- Cancel
                    .flex.hide-sm
                        button(
                            type="button" 
                            dusk="reimbursementFormCancel"
                            ng-disabled="$ctrl.form.locked" 
                            ui-sref="reimbursements").button.button-light.button-sm Annuleren

                    //- Submit
                    .flex.flex-grow.flex-end: .button-group
                        //- Save for later
                        button(
                            type="submit" 
                            dusk="reimbursementFormSave"
                            ng-disabled="$ctrl.form.locked").button.button-primary-outline.button-sm Opslaan voor later

                        //- Submit now
                        button(
                            type="button" 
                            ng-click="$ctrl.submit(true)"
                            ng-disabled="$ctrl.submitAvailable($ctrl.form.values, $ctrl.files)"
                            dusk="reimbursementFormSubmit").button.button-primary.button-sm Indienen