top-navbar
section.section.section-profile: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active(translate="reservations.header.title" aria-current="location")

    .block.block-profile
        .profile-aside
            profile-menu.hide-sm

            .form.form-compact(ng-class="{'show-mobile': $ctrl.showModalFilters}" role='search')
                .profile-aside-block
                    //- Search
                    .form-group
                        input.form-control(
                            ng-model="$ctrl.filters.q"
                            placeholder="Zoek reservering" 
                            type="search"
                            aria-label="search"
                            id="products_search")

                    //- Fund
                    .form-group
                        label.form-label(for="select_fund") Tegoeden
                        select-control(
                            id="select_fund"
                            name="fund"
                            prop="id"
                            ng-model="$ctrl.filters.fund_id"
                            options="$ctrl.funds"
                            placeholder="{{ $ctrl.funds[0].name }}")

                    //- Provider
                    .form-group
                        label.form-label(for="select_provider") Aanbieders
                        select-control(
                            id="select_provider"
                            name="provider"
                            prop="id"
                            ng-model="$ctrl.filters.organization_id"
                            options="$ctrl.organizations"
                            placeholder="{{ $ctrl.organizations[0].name }}")

                    //- state
                    .form-group
                        label.form-label(for="select_provider") Status
                        select-control(
                            id="select_filters"
                            name="state"
                            prop="value"
                            ng-model="$ctrl.filters.state"
                            options="$ctrl.states"
                            placeholder="{{ $ctrl.filters.state[0].name }}")

        .profile-content
            .profile-content-header
                .profile-content-title.flex.flex-start
                    h1.profile-content-header(translate="reservations.header.title")
                    .profile-content-title-count(ng-bind="$ctrl.reservations.meta.total")
                .profile-content-subtitle(translate="reservations.header.subtitle")

            .block.block-reservations(ng-if="$ctrl.reservations.data.length > 0")
                reservation-card(
                    ng-repeat="reservation in $ctrl.reservations.data"
                    on-delete="$ctrl.onDelete()"
                    reservation="reservation")

            empty-block(
                ng-if="$ctrl.reservations.meta.total == 0"
                svg-icon="reimbursements"
                title="{{ 'reservations.empty_block.title' | translate }}"
                description="{{ 'reservations.empty_block.subtitle' | translate }}"
                text="{{ 'reservations.empty_block.cta' | translate }}"
                hide-link="true")

            .card(ng-if="$ctrl.reservations"): .card-section(ng-show="$ctrl.reservations.meta.last_page > 1")
                paginator(
                    meta="$ctrl.reservations.meta" 
                    filters="$ctrl.filters" 
                    on-page-change="$ctrl.onPageChange(query)")