- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

top-navbar

main(id="main-content")
    header.section.section-sign-up-choose
        .wrapper: .block.block-sign_up: .block-wrapper
            div(ng-if="$ctrl.state == 'fund_already_applied'")
                .sign_up-pane    
                    .sign_up-pane-header(translate="fund_request.sign_up.header.title_fund_already_applied")

                    .sign_up-pane-body
                        .sign_up-pane-media: img(src="./assets/img/fund-request-error.png" role="presentation")
                        p.sign_up-pane-text(translate="fund_request.sign_up.subtitles.fund_already_applied")
                        
                        ul.sign_up-pane-list.sign_up-pane-list-criteria: li(
                            ng-repeat="critera in $ctrl.fund.criteria" 
                            ng-class="{pending: 'item-progress', approved: 'item-valid', 'declined' : 'item-declined'}[critera.request_state]")
                            .item-icon: em.mdi(
                                ng-class="{pending: 'mdi-help', approved: 'mdi-check-bold', 'declined' : 'mdi-close-thick'}[critera.request_state]")
                            span(ng-if="critera.title" ng-bind="critera.title")
                            span(
                                ng-if="!critera.title"
                                i18n="fund_request.sign_up.pane.criterion_{{{ '>' : 'more', '<' :'less', '=': 'same' }[critera.operator]}}" 
                                i18n-vars="{name: critera.record_type_name, value: ($ctrl.criterionValuePrefix[critera.record_type_key]) + critera.value}")
                        span(translate="fund_request.sign_up.pane.fund_already_applied")    

            div(ng-if="$ctrl.state == 'digid'")
                .sign_up-pane
                    .sign_up-pane-header(i18n="fund_request.sign_up.digid.title")                   
                    .sign_up-pane-body
                        .sign_up-pane-auth
                            .sign_up-pane-auth-content
                                span(i18n="fund_request.sign_up.digid.description")
                                br
                                br
                                .button.button-digid &nbsp;
                                .button.button-primary(ng-click="$ctrl.startDigId()" i18n="fund_request.sign_up.digid.button")
                        .sign_up-pane-link(ng-click="$ctrl.setStep(1)") < Ga terug 

            //- Fund request information
            div(ng-if="$ctrl.state == 'auth'")
                .sign_up-pane(ng-show="!$ctrl.authForm.autofill")
                    .sign_up-pane-header(translate="fund_request.sign_up.header.title" role="heading")

                    .sign_up-pane-body(ng-if="!$ctrl.hasApp")
                        form(ng-submit="$ctrl.authForm.submit()").form
                            .row
                                .form-group.col.col-lg-9
                                    label.form-label(i18n="popup_auth.input.mail" for="email")
                                    ui-control-email(ng-model="$ctrl.authForm.values.email" data-placeholder="bijv. info@info.nl" data-id="email")
                                    .form-error(ng-repeat="error in $ctrl.authForm.errors.email" ng-bind="error")
                                .form-group.col.col-lg-3
                                    label.form-label.hide-sm &nbsp;
                                    button(
                                        ng-class="{'button-disabled': (!$ctrl.authForm.values.privacy && $root.appConfigs.flags.privacyPage)}"
                                        translate="popup_auth.buttons.submit"
                                        type="submit").button.button-primary.button-fill
                            .row(ng-if="$root.appConfigs.flags.privacyPage"): .col.col-lg-12
                                br.hidden-lg
                                label(for='privacy').sign_up-pane-text
                                    input(type="checkbox" ng-model="$ctrl.authForm.values.privacy" id='privacy')
                                    |  Ik heb de #[a.text-primary-light.sign_up-pane-link(ui-sref="privacy") privacyverklaring] gelezen

                        .sign_up-pane-link(
                            ng-if="$ctrl.digidAvailable && !$root.appConfigs.flags.disableDigidRestoreOption" 
                            ng-click="$ctrl.setRestoreWithDigiD()" 
                            translate="{{ 'fund_request.sign_up.labels.restore_with_digid_' + $root.appConfigs.features.communication_type }}")

                        br(ng-if="$ctrl.digidAvailable && !$root.appConfigs.flags.disableDigidRestoreOption")

                        .sign_up-pane-link(
                            ng-click="$ctrl.setHasAppProp(true)" 
                            translate="fund_request.sign_up.labels.has_app").hide-sm

                    .sign_up-pane-body(ng-if="$ctrl.hasApp")
                        .sign_up-pane-heading(translate='fund_request.sign_up.app.title')

                        .sign_up-pane-auth
                            .sign_up-pane-auth-content
                                .sign_up-pane-text(
                                    ng-repeat="line in ('fund_request.sign_up.app.description_top' | translate | lines_to_array)"
                                    ng-bind="line")
                                
                                .sign_up-pane-auth-qr_code.show-sm
                                    qr-code(
                                        ng-if="$ctrl.authToken" 
                                        qr-value="$ctrl.authToken" 
                                        qr-type="auth_token" 
                                        qr-logo=src_prefix + "./assets/img/me-logo.png") 
                                
                                .sign_up-pane-text(
                                    ng-repeat="line in ('fund_request.sign_up.app.description_bottom' | translate | lines_to_array)"
                                    ng-bind="line")

                                .sign_up-pane-link(ng-click="$ctrl.setHasAppProp(false)" translate="fund_request.sign_up.labels.no_app").show-sm

                                app-links
                            
                            .sign_up-pane-auth-qr_code.hide-sm
                                qr-code(
                                    ng-if="$ctrl.authToken" 
                                    qr-value="$ctrl.authToken" 
                                    qr-type="auth_token" 
                                    qr-logo=src_prefix + "./assets/img/me-logo.png") 

                        .sign_up-pane-link.hide-sm(ng-click="$ctrl.setHasAppProp(false)" translate="fund_request.sign_up.labels.no_app")
        
            //- Log in email sent
            div(ng-if="$ctrl.state == 'auth_email_sent'")
                //- For new users
                .sign_up-pane(ng-if="$ctrl.authEmailRestoreSent")
                    .sign_up-pane-header(i18n="fund_request.sign_up.pane.header_title") 
                    .sign_up-pane-body
                        .sign_up-email_sent
                            .sign_up-email_sent-icon
                                img(src=src_prefix + "./assets/img/modal/email_signup.svg" alt="").sign_up-email_sent-icon-img
                            .sign_up-email_sent-title(translate="popup_auth.labels.join")
                            .sign_up-email_sent-text(translate="{{ 'popup_auth.notifications.link_' + $root.appConfigs.features.communication_type }}" translate-values="{{ $ctrl.authForm.values }}")
                
                //- For existing users
                .sign_up-pane(ng-if="$ctrl.authEmailSent")
                    .sign_up-pane-header(i18n="popup_auth.header.title") 
                    .sign_up-pane-body
                        .sign_up-email_sent
                            .sign_up-email_sent-icon
                                img(src=src_prefix + "./assets/img/modal/email_signup.svg" alt="").sign_up-email_sent-icon-img
                            .sign_up-email_sent-title(translate="{{ 'popup_auth.header.title_succes_' + $root.appConfigs.features.communication_type }}")
                            .sign_up-email_sent-text(translate="{{ 'popup_auth.header.subtitle_we_succes_' + $root.appConfigs.features.communication_type }}" translate-values="{email: $ctrl.authForm.values.email}")