- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

top-navbar

mixin qr_option(ngIf)
    .sign_up-option(ng-click="$ctrl.setState('qr')" ng-if=ngIf)
        .sign_up-option-media: img(src="./assets/img/icon-auth/icon-auth-me_app.svg").sign_up-option-media-img
        .sign_up-option-details
            .sign_up-option-title Met de Me app
            .sign_up-option-description
                | Scan een QR-code met de&nbsp;
                u Me app
                | &nbsp;om aan te melden

mixin email_option(ngIf, dusk, title, description)
    .sign_up-option(ng-click="$ctrl.setState('email')" ng-if=ngIf dusk=dusk)
        .sign_up-option-media: img(src="./assets/img/icon-auth/icon-auth-mail.svg").sign_up-option-media-img
        .sign_up-option-details
            .sign_up-option-title=title
            .sign_up-option-description=description

mixin digid_option(ngIf, title, description)
    .sign_up-option(ng-if=ngIf ng-click="$ctrl.startDigId()")
        .sign_up-option-media: img(src="./assets/img/icon-auth/icon-auth-digid.svg").sign_up-option-media-img
        .sign_up-option-details
            .sign_up-option-title=title
            .sign_up-option-description=description

mixin restore_link(ngIf, label="E-mailadres vergeten?", link="Klik hier om het account te herstellen")
    .sign_up-restore(ng-if=ngIf)
        .sign_up-restore-label=label
        a.sign_up-restore-link(
            ng-click="$ctrl.setState('restore')" 
            ng-show=ngShow dusk=dusk)=link
        .sign_up-restore-chevron: .mdi.mdi-chevron-right

mixin inline_email_form()
    form(ng-submit="$ctrl.authForm.submit()" dusk="authEmailForm").form
        .row
            .form-group.col.col-lg-9
                label.form-label(i18n="popup_auth.input.mail" for="email")
                ui-control-email(
                    ng-model="$ctrl.authForm.values.email"
                    ng-change="$ctrl.onChange()"
                    data-placeholder="bijv. info@info.nl" 
                    data-id="email" 
                    tabindex="1" 
                    auto-focus="true"
                    input-dusk="authEmailFormEmail"
                    name="email")
                .form-error(ng-repeat="error in $ctrl.authForm.errors.email" ng-bind="error")

            .form-group.col.col-lg-3
                .form-label.hide-sm(for="submit") &nbsp;
                button(
                    ng-class="{'button-disabled': (!$ctrl.authForm.values.privacy && $root.appConfigs.flags.privacyPage)}"
                    translate="popup_auth.buttons.submit"
                    type="submit"
                    dusk="authEmailFormSubmit"
                    tabindex="3").button.button-primary.button-fill

        .row(ng-if="$root.appConfigs.flags.privacyPage"): .col.col-lg-12
            br.hidden-lg
            label(for='privacy' tabindex="2").sign_up-pane-text
                input(type="checkbox" ng-model="$ctrl.authForm.values.privacy" id='privacy')
                | Ik heb de #[a.text-primary-light.sign_up-pane-link(ui-sref="privacy") privacyverklaring] gelezen

main(id="main-content")
    header.section.section-sign-up-choose: .wrapper
        .block.block-sign_up(ng-if="$ctrl.state == 'start'"): .block-wrapper(
            ng-class="!$ctrl.appConfigs.flags.startPage.combineColumns ? 'block-wrapper-lg' : ''")

            h1.block-title Aanmelden

            .sign_up-pane
                h2.sign_up-pane-header Hoe wilt u aanmelden?

                .sign_up-pane-body
                    //- Combined columns
                    .sign_up-row(ng-if="$ctrl.appConfigs.flags.startPage.combineColumns")
                        //- Registration - shown when columns are combined
                        .sign_up-col
                            .sign_up-options(ng-class="{disabled: $ctrl.loading}")
                                //- Email inline form
                                +inline_email_form()

                                //- Sign in by Me App
                                +qr_option("!$ctrl.appConfigs.flags.startPage.hideSignUpQrCodeOption")

                            //- Restore by DigiD link
                            +restore_link("$ctrl.appConfigs.features.digid")
                
                    //- Separated columns
                    .sign_up-row(ng-if="!$ctrl.appConfigs.flags.startPage.combineColumns")
                        //- Registration - hidden when columns are combined
                        .sign_up-col
                            //- Sign Up title
                            h3.sign_up-pane-text: .sign_up-pane-heading 
                                | Inloggen op een bestaand account of een aanvraag starten?
                            
                            //- Sign Up options
                            .sign_up-options(ng-class="{disabled: $ctrl.loading}")
                                //- Sign up by Email
                                +email_option(
                                    "!$ctrl.appConfigs.flags.startPage.hideSignUpEmailOption",
                                    "authOptionEmailRegister",
                                    "Met uw e-mailadres",
                                    "Ontvang een link per mail om mee aan te melden")

                                //- Sign up by DigiD
                                +digid_option(
                                    "$ctrl.appConfigs.features.digid && !$ctrl.appConfigs.flags.startPage.hideSignUpDigidOption",
                                    "Met DigiD",
                                    "U wordt doorverwezen naar DigiD om aan te melden")
                                
                        //- Authorization - hidden when columns are combined
                        .sign_up-col
                            //- Sign In title
                            h3.sign_up-pane-text: .sign_up-pane-heading 
                                | Account herstellen of met een andere optie inloggen?
                            
                            //- Sign In options
                            .sign_up-options(ng-class="{disabled: $ctrl.loading}")
                                //- Sign in by DigiD
                                +digid_option(
                                    "$ctrl.appConfigs.features.digid && $ctrl.appConfigs.flags.startPage.hideSignInDigidOption",
                                    "Met DigiD",
                                    "U wordt doorverwezen naar DigiD om aan te melden")

                                //- Sign in by Email
                                +email_option(
                                    "!$ctrl.appConfigs.flags.startPage.hideSignInEmailOption", 
                                    "authOptionEmailRestore",
                                    "Met uw e-mailadres",
                                    "Ontvang een link om mee aan te melden",)

                                //- Sign in by Me App
                                +qr_option("!$ctrl.appConfigs.flags.startPage.hideSignInQrCodeOption")

                                //- Restore by DigiD link
                                +restore_link("$ctrl.appConfigs.features.digid")

        //- Sign In/Sign Up by E-mail
        .block.block-sign_up(ng-if="$ctrl.state == 'restore'"): .block-wrapper
            h1.block-title Aanmelden

            //- Email form
            .sign_up-pane(ng-if="!$ctrl.authEmailRestoreSent && !$ctrl.authEmailConfirmationSent")
                .sign_up-pane-header: h2.sign_up-pane-header-title Aanmelden met e-mailadres

                .sign_up-pane-body.sign_up-pane-body-padless-bottom
                    .sign_up-options
                        //- Sign in by DigiD
                        +digid_option(
                            "$ctrl.appConfigs.features.digid", 
                            "Met DigiD",
                            "U wordt doorverwezen naar DigiD om aan te melden")

                .sign_up-pane-footer
                    .button.button-text.button-text-padless(ng-click="$ctrl.setState('start')")
                        em.mdi.mdi-chevron-left.icon-lefts
                        | Terug naar inloggen


        //- Sign In/Sign Up by E-mail
        .block.block-sign_up(ng-if="$ctrl.state == 'email'"): .block-wrapper
            h1.block-title Aanmelden

            //- Email form
            .sign_up-pane(ng-if="!$ctrl.authEmailRestoreSent && !$ctrl.authEmailConfirmationSent")
                .sign_up-pane-header: h2.sign_up-pane-header-title Aanmelden met e-mailadres

                .sign_up-pane-body.sign_up-pane-body-padless-bottom
                    +inline_email_form()

                .sign_up-pane-footer
                    .button.button-text.button-text-padless(ng-click="$ctrl.setState('start')")
                        em.mdi.mdi-chevron-left.icon-lefts
                        | Terug

            //- For existing users
            .sign_up-pane(ng-if="$ctrl.authEmailRestoreSent")
                h1.sr-only Start aanmelden
                h2.sign_up-pane-header(i18n="popup_auth.header.title") 

                .sign_up-pane-body(dusk="authEmailSentConfirmation")
                    .sign_up-email_sent
                        .sign_up-email_sent-icon: img(src=src_prefix + "./assets/img/modal/email_signup.svg" alt="").sign_up-email_sent-icon-img
                        .sign_up-email_sent-title(translate="{{ 'popup_auth.header.title_succes_' + $root.appConfigs.features.communication_type }}")
                        .sign_up-email_sent-text(translate="{{ 'popup_auth.header.subtitle_we_succes_' + $root.appConfigs.features.communication_type }}" translate-values="{email: $ctrl.authForm.values.email}")
                        
                        email-provider-link(email="$ctrl.authForm.values.email")

            //- For new users
            .sign_up-pane(ng-if="$ctrl.authEmailConfirmationSent")
                h1.sr-only(role="heading") Start aanmelden
                h2.sign_up-pane-header(role="heading") Aanmelding bevestigen

                .sign_up-pane-body(dusk="authEmailSentConfirmation")
                    .sign_up-email_sent
                        .sign_up-email_sent-icon: img(src=src_prefix + "./assets/img/modal/email_signup.svg" alt="").sign_up-email_sent-icon-img
                        h3.sign_up-email_sent-title(translate="{{ 'popup_auth.header.title_existing_user_succes_' + $root.appConfigs.features.communication_type }}" role="heading")
                        .sign_up-email_sent-text(translate="{{ 'popup_auth.notifications.link_' + $root.appConfigs.features.communication_type }}" translate-values="{{ $ctrl.authForm.values }}")

                        email-provider-link(email="$ctrl.authForm.values.email")

        //- Sign In/Sign Up by QR
        .block.block-sign_up(ng-if="$ctrl.state == 'qr'"): .block-wrapper
            h1.block-title Aanmelden
            .sign_up-pane
                .sign_up-pane-header: h2.sign_up-pane-header-title Aanmelden met de Me-app

                .sign_up-pane-body.sign_up-pane-body-padless-bottom
                    .sign_up-pane-heading(translate='fund_request.sign_up.app.title')

                    .sign_up-pane-auth
                        .sign_up-pane-auth-content
                            .sign_up-pane-text(
                                ng-repeat="line in ('fund_request.sign_up.app.description_top' | translate | lines_to_array)"
                                ng-bind="line")
                            
                            .sign_up-pane-auth-qr_code.show-sm
                                qr-code(
                                    ng-if="$ctrl.authToken" 
                                    qr-value="$ctrl.authToken" 
                                    qr-type="auth_token" 
                                    qr-logo=src_prefix + "./assets/img/me-logo.png") 
                            
                            .sign_up-pane-text(
                                ng-repeat="line in ('fund_request.sign_up.app.description_bottom' | translate | lines_to_array)"
                                ng-bind="line")

                            app-links
                        
                        .sign_up-pane-auth-qr_code.hide-sm
                            qr-code(
                                ng-if="$ctrl.authToken" 
                                qr-value="$ctrl.authToken" 
                                qr-type="auth_token" 
                                qr-logo=src_prefix + "./assets/img/me-logo.png") 

                .sign_up-pane-footer
                    .button.button-text.button-text-padless(ng-click="$ctrl.setState('start')")
                        em.mdi.mdi-chevron-left.icon-lefts
                        | Terug