top-navbar

main(id="main-content")
    section.section.section-details: .wrapper
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active Sitemap

        .block.block-sitemap
            h2 Public area
            ul
                li: a(
                    ui-sref="home"
                    translate="topnavbar.items.home")

                li(ng-if="$root.appConfigs.flags.fundsMenu && ($root.auth_user || $root.appConfigs.flags.fundsMenuIfLoggedOut)")
                    a(
                        ui-sref="funds"
                        translate="topnavbar.items.{{ $root.appConfigs.client_key }}.funds"
                        translate-default="{{ 'topnavbar.items.funds' | translate }}")

                li(
                    ng-if="$root.appConfigs.features.has_budget_funds && $root.appConfigs.features.products.list && ($root.appConfigs.flags.productsMenu || $root.auth_user)")
                    a(
                        ui-sref="products"
                        ng-bind="'topnavbar.items.products' | translate")

                li(ng-if="$root.appConfigs.features.has_subsidy_funds && $root.appConfigs.features.products.list && ($root.appConfigs.flags.productsMenu || $root.auth_user)")
                    a(
                        ui-sref="actions"
                        ng-bind="'topnavbar.items.subsidies' | translate")

                li(ng-if="$root.appConfigs.flags.providersMenu")
                    a(
                        ui-sref="providers"
                        ng-bind="'topnavbar.items.providers' | translate")

                li: a(
                    ui-sref="explanation"
                    target="{{ $root.appConfigs.features.pages.explanation.external ? '_blank' : '_self' }}"
                    ng-bind="'topnavbar.items.explanation' | translate")

                li: a(ui-sref="me-app") Me-app

                li: a(ui-sref="sign-up") Aanmelden als aanbieder


            h2(ng-if="$root.auth_user") User area
            ul(ng-if="$root.auth_user")
                li: a(
                    ui-sref="vouchers"
                    ng-bind="'profile_menu.buttons.vouchers' | translate")

                li: a(
                    ui-sref="reservations"
                    ng-bind="'profile_menu.buttons.reservations' | translate")

                li: a(
                    ui-sref="records"
                    ng-if="$root.appConfigs.features.records.list"
                    ng-bind="'profile_menu.buttons.records' | translate")

                li: a(
                    ui-sref="notifications"
                    ng-bind="'profile_menu.buttons.notifications' | translate")

                li: a(
                    ui-sref="preferences-notifications"
                    ng-bind="'profile_menu.buttons.notification_preferences' | translate")

                li: a(
                    ui-sref="security-sessions"
                    ng-if="$root.appConfigs.sessions"
                    ng-bind="'profile_menu.buttons.sessions' | translate")

                li: a(
                    ui-sref="identity-emails"
                    ng-bind="'profile_menu.buttons.email_settings' | translate")
