top-navbar

main(id="main-content")
    section.section.section-profile: .wrapper
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active(translate="vouchers.header.title" aria-current="location")

        .budget-vouchers(id="budget_vouchers")
            .block.block-profile
                .profile-aside: profile-menu

                .profile-content
                    .profile-content-header.clearfix
                        .profile-content-title
                            div.pull-left
                                .profile-content-title-count(ng-bind="$ctrl.vouchers.meta.total")
                                h1.profile-content-header(translate="vouchers.header.regular.title")

                        .block.block-label-tabs.form.pull-right
                            .label-tab-set
                                .label-tab.label-tab-sm(
                                    ng-class="{active: !$ctrl.filters.archived}"
                                    ng-click="$ctrl.filters.archived = 0"
                                    role="button")
                                    | Actief

                                .label-tab.label-tab-sm(
                                    ng-class="{active: $ctrl.filters.archived}"
                                    ng-click="$ctrl.filters.archived = 1"
                                    role="button")
                                    | Archief

                    .block.block-vouchers(ng-show="$ctrl.vouchers.data.length > 0")
                        voucher-card(ng-repeat="voucher in $ctrl.vouchers.data" voucher="voucher")

                        //- Pagination
                        .card(ng-if="$ctrl.vouchers" ng-show="$ctrl.vouchers.meta.last_page > 1"): .card-section
                            paginator(
                                meta="$ctrl.vouchers.meta"
                                filters="$ctrl.filters"
                                on-page-change="$ctrl.onPageChange(query)")

                        .block.block-action-card.block-action-card-compact(
                            ng-if="$ctrl.vouchers.data.length > 0 && $ctrl.reimbursementVouchers.length > 0")
                            .block-card-logo: include ../../../resources/_webshop-common/assets/img/icon-reimbursement.svg
                            .block-card-details: h3.block-card-title Kosten terugvragen
                            .block-card-actions: a(ui-sref="reimbursements-create"): .button.button-primary-outline Bon insturen

                    empty-block(
                        ng-if="$ctrl.vouchers.data.length == 0"
                        svg-icon="reimbursements"
                        title="{{ 'vouchers.empty_block.title' | translate }}"
                        description="{{ 'vouchers.empty_block.subtitle' | translate }}"
                        button-text="{{ 'vouchers.empty_block.cta' | translate }}"
                        button-icon="arrow-right"
                        button-type="primary"
                        button-icon-end="false"
                        button-sref="start"
                        hide-link="true")