top-navbar
section.section.section-profile: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active Mijn tegoeden

    .section-title
        span(translate="vouchers.header.regular.title")
        .span-count(ng-bind="$ctrl.regularVouchers.length")
    .section-description(translate="vouchers.header.regular.description")

    .budget-vouchers(id="budget_vouchers")
        .block.block-profile
            .profile-content
                .block.block-vouchers(ng-if="$ctrl.regularVouchers.length > 0")
                    voucher-card(ng-repeat="voucher in $ctrl.regularVouchers" voucher="voucher")

                empty-block(
                    ng-if="$ctrl.regularVouchers.length == 0"
                    title="Geen tegoeden"
                    description="Momenteel heeft u geen tegoeden"
                    text="Gebruik een activatiecode"
                    hide-link="false")

    .product-vouchers(ng-if="$ctrl.productVouchers.length")
        .section-title
            span(translate="vouchers.header.product.title")
            .span-count(ng-bind="$ctrl.productVouchers.length")
        .section-description(translate="vouchers.header.product.description")

        .block.block-profile
            .profile-content
                .block.block-vouchers(ng-if="$ctrl.productVouchers.length > 0")
                    voucher-card(ng-repeat="voucher in $ctrl.productVouchers" voucher="voucher")

                empty-block(
                    ng-if="$ctrl.productVouchers.length == 0"
                    title="Geen tegoeden"
                    description="Momenteel heeft u geen tegoeden"
                    text="Gebruik een activatiecode"
                    hide-link="false")
