top-navbar
section.section.section-profile: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active Mijn tegoeden

    .budget-vouchers(id="budget_vouchers")
        .block.block-profile
            profile-card.hide-sm
            .profile-content
                .profile-content-header.clearfix
                    .profile-content-title
                        div.pull-left
                            .profile-content-title-count(ng-bind="$ctrl.regularVouchers.length")
                            | Tegoeden
                .block.block-vouchers(ng-if="$ctrl.regularVouchers.length > 0")
                    voucher-card(ng-repeat="voucher in $ctrl.regularVouchers" voucher="voucher")

                empty-block(
                    ng-if="$ctrl.regularVouchers.length == 0"
                    title="Geen tegoeden"
                    description="Momenteel heeft u geen tegoeden"
                    text="Gebruik een activatiecode"
                    hide-link="false")

                .profile-content-header(ng-if="$ctrl.productVouchers.length").clearfix
                    .profile-content-title
                        div.pull-left
                            .profile-content-title-count(ng-bind="$ctrl.productVouchers.length")
                            | Reserveringen
                .block.block-vouchers(ng-if="$ctrl.productVouchers.length && $ctrl.productVouchers.length > 0")
                    voucher-card(ng-repeat="voucher in $ctrl.productVouchers" voucher="voucher")

                empty-block(
                    ng-if="$ctrl.productVouchers.length && $ctrl.productVouchers.length == 0"
                    title="Geen tegoeden"
                    description="Momenteel heeft u geen tegoeden"
                    text="Gebruik een activatiecode"
                    hide-link="true")
