top-navbar

main(id="main-content")
    section.section.section-profile: .wrapper
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active(translate="vouchers.header.title" aria-current="location")

        .budget-vouchers(id="budget_vouchers")
            .block.block-profile
                .profile-aside.hide-sm: profile-menu

                .profile-content
                    .profile-content-header.clearfix
                        .profile-content-title
                            div.pull-left
                                .profile-content-title-count(ng-bind="$ctrl.vouchers.length")
                                h1.profile-content-header(translate="vouchers.header.regular.title")

                        .block.block-label-tabs.form.pull-right
                            .label-tab-set
                                .label-tab.label-tab-sm(
                                    ng-class="{active: !$ctrl.archived}"
                                    ng-click="$ctrl.setArchived(false)"
                                    role="button")
                                    | Actief

                                .label-tab.label-tab-sm(
                                    ng-class="{active: $ctrl.archived}"
                                    ng-click="$ctrl.setArchived(true)"
                                    role="button")
                                    | Archief

                    .block.block-vouchers(ng-if="$ctrl.vouchers.length > 0")
                        voucher-card(ng-repeat="voucher in $ctrl.regularVouchers" voucher="voucher")
                        voucher-card(ng-repeat="voucher in $ctrl.productVouchers" voucher="voucher")

                        .block.block-action-card.block-action-card-compact(ng-if="$ctrl.reimbursementVouchers.length > 0")
                            .block-card-logo: include ../../../resources/_webshop-common/assets/img/icon-reimbursement.svg
                            .block-card-details: h3.block-card-title Op deze pagina kunt u een declaratie verzoek indienen.
                            .block-card-actions: a(ui-sref="reimbursements-create"): .button.button-primary-outline Nieuwe declaratie

                    empty-block(
                        ng-if="$ctrl.vouchers.length == 0"
                        svg-icon="reimbursements"
                        title="{{ 'vouchers.empty_block.title' | translate }}"
                        description="{{ 'vouchers.empty_block.subtitle' | translate }}"
                        button-text="{{ 'vouchers.empty_block.cta' | translate }}"
                        button-icon="arrow-right"
                        button-type="primary"
                        button-icon-end="false"
                        button-sref="start"
                        hide-link="true")