top-navbar

main(id="main-content")
    section.section.section-profile: .wrapper
        .block.block-breadcrumbs
            a(ui-sref="home").breadcrumb-item Home
            .breadcrumb-item.active(translate="vouchers.header.title")

        .budget-vouchers(id="budget_vouchers")
            .block.block-profile
                .profile-aside: profile-menu.hide-sm

                .profile-content
                    .profile-content-header.clearfix
                        .profile-content-title
                            div.pull-left
                                .profile-content-title-count(ng-bind="$ctrl.vouchers.length")
                                h1.profile-content-header(translate="vouchers.header.regular.title")

                    .block.block-vouchers(ng-if="$ctrl.vouchers.length > 0")
                        voucher-card(ng-repeat="voucher in $ctrl.regularVouchers" voucher="voucher")
                        voucher-card(ng-repeat="voucher in $ctrl.productVouchers" voucher="voucher")

                    empty-block(
                        ng-if="$ctrl.vouchers.length == 0"
                        title="{{ 'vouchers.empty_block.title' | translate }}"
                        description="{{ 'vouchers.empty_block.subtitle' | translate }}"
                        text="{{ 'vouchers.empty_block.cta' | translate }}"
                        hide-link="false")