.ui-control.ui-control-text(ng-class="$dir.class")
    input(
        type="text" 
        id="{{ $dir.id }}" 
        name="{{ $dir.name }}" 
        ng-change="$dir.onChange()"
        placeholder="{{ $dir.placeholder }}"
        ng-disabled="{{ $dir.disabled }}"
        ng-model="ngModel").form-control
    .ui-control-clear(for="{{ $dir.id }}" ng-click="$dir.clear()"): .mdi.mdi-close-circle