.ui-control.ui-control-date(ng-class="$dir.class")
    datepicker(date-format="{{ $dir.dateFormat }}" datepicker-mobile="" date-week-start-day="1" aria-label="{{ $dir.name }}").form-control
        | &nbsp;
        input(
        id="{{ $dir.id }}" 
        name="{{ $dir.name }}" 
        ng-change="$dir.onChange()"
        ng-model="ngModel"
        type="text"
        placeholder="{{ $dir.placeholder || $dir.dateFormat }}"
        ).form-control
    .ui-control-clear(ng-click="$dir.clear()" aria-label="cancel"): .mdi.mdi-close-circle