.organization-item
    .organization-pane(ng-click="$dir.toggleOffices($event)" role="button")
        .organization-logo(ui-sref="provider($dir.provider)" ng-click="$event.stopPropagation()")
            img(
                ng-src="{{ $dir.media.sizes.thumbnail || $dir.media.sizes.small || '/assets/img/placeholders/organization-thumbnail.png' }}"
                alt="{{ $dir.provider.name }}").organization-logo-img

        .organization-title: a(
            ui-sref="provider($dir.provider)" 
            ng-click="$event.stopPropagation()" 
            ng-bind="$dir.provider.name"
            role="link").organization-title-value

        .organization-chevron
            .mdi(ng-class="'mdi-chevron-' + ($dir.provider.showOffices ? 'up' : 'right')")

    .organization-offices(ng-if="$dir.provider.showOffices"): .block.block-offices
        a(ng-repeat="office in $dir.provider.offices" ui-sref="provider-office(office)").office-item
            .office-item-map-icon: .mdi.mdi-map-marker
            .office-pane
                .office-pane-block
                    .office-logo: img(
                        ng-src="{{ office.photo.sizes.thumbnail || '/assets/img/placeholders/office-thumbnail.png' }}"
                        alt="Vestiging {{ office.organization.name }}").office-logo-img

                    .office-details
                        .office-title(ng-bind="office.address")
                        .office-labels
                            .label.label-default(ng-bind="$dir.provider.business_type.name || 'Geen data'")

                        div(ng-if="office.phone || $dir.provider.phone || $dir.provider.email")
                            .office-info.office-info-inline(ng-if="office.phone || $dir.provider.phone")
                                .mdi.mdi-phone-outline
                                | {{ office.phone ? office.phone : $dir.provider.phone }}

                            .office-info.office-info-inline(ng-if="$dir.provider.email")
                                .mdi.mdi-email-outline
                                | {{ $dir.provider.email }}