- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

head
    meta(charset="UTF-8")
    title(ng-bind="$root.pageTitle") #{qdt_c.platform.env_data.default_title || 'Forus'}

    //- disable index
    if (!qdt_c.platform.env_data.allow_indexing)
        meta(name="robots" content="noindex")

    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5.0')

    //- fonts
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Cantarell" rel="stylesheet")
    
    //- preconnect to api
    link(rel="preconnect" href=qdt_c.platform.env_data.api_url)

    //- favicon
    link(rel="shortcut icon" type="image/x-icon", href=src_prefix + "assets/img/favicon.ico")

    //- libs bundle
    link(rel="stylesheet" href=src_prefix + "assets/dist/bundle/css/bundle.min" + qdt_c.append_assets + ".css")

    //- custom style
    link(rel="stylesheet" href=src_prefix + "assets/css/style.min" + qdt_c.append_assets + ".css")

    if (qdt_c.platform.env_data.matomo_site_id)
        include matomo
    
    if (qdt_c.platform.env_data.html5ModeEnabled)
        base(href=qdt_c.platform.env_data.html5Mode.basePath)
