- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?qdt_c.platform.env_data.html5Mode.basePath:'');

head
    meta(charset="UTF-8")
    title(ng-bind="$root.pageTitle") #{qdt_c.platform.env_data.default_title || 'Forus'}

    //- disable index
    if (!qdt_c.platform.env_data.allow_indexing)
        meta(name="robots" content="noindex")

    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=5.0')
    
    //- preconnect to api
    link(rel="preconnect" href=qdt_c.platform.env_data.api_url)

    //- favicon
    link(rel="shortcut icon" type="image/x-icon", href=src_prefix + "assets/img/favicon.ico")

    //- libs bundle
    link(rel="stylesheet" href=src_prefix + "assets/dist/bundle/css/bundle.min" + qdt_c.append_assets + ".css")

    //- custom style
    link(rel="stylesheet" href=src_prefix + "assets/css/style.min" + qdt_c.append_assets + ".css")

    if (qdt_c.platform.env_data.matomo_site_id)
        include matomo
    
    if (qdt_c.platform.env_data.html5ModeEnabled)
        base(href=qdt_c.platform.env_data.html5Mode.basePath)

    if (qdt_c.platform.env_data.aws_rum && qdt_c.platform.env_data.aws_rum.id)
        script.
            (function(n,i,v,r,s,c,x,z){x=window.AwsRumClient={q:[],n:n,i:i,v:v,r:r,c:c};window[n]=function(c,p){x.q.push({c:c,p:p});};z=document.createElement('script');z.async=true;z.src=s;document.head.insertBefore(z,document.getElementsByTagName('script')[0]);})('cwr','#{qdt_c.platform.env_data.aws_rum.id}','1.0.0','eu-west-1','https://client.rum.us-east-1.amazonaws.com/1.0.2/cwr.js',!{JSON.stringify(qdt_c.platform.env_data.aws_rum.config)})