- var src_prefix = (qdt_c.platform.env_data.html5ModeEnabled?env_data.html5Mode.basePath:'');

head
    meta(charset="UTF-8")
    title Forus platform

    //- disable resize on mobiles
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    //- fonts
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,700" rel="stylesheet")

    //- material design icons (by google)
    if (qdt_c.platform.libs.mdi)
        link(rel="stylesheet" href=src_prefix + "assets/dist/mdi/css/materialdesignicons.min.css")

    //- bootstrap 3
    if (qdt_c.platform.libs.bootstrap_3)
        link(rel="stylesheet" href=src_prefix + "assets/dist/bootstrap/css/bootstrap.min.css")

    //- angular csp (cloack)
    if (qdt_c.platform.libs.angular)
        link(rel="stylesheet" href=src_prefix + "assets/dist/angular/angular-csp.css")

    link(rel="stylesheet" href=src_prefix + "assets/dist/angular-datepicker/angular-datepicker.min.css")

    //- custom style
    link(rel="stylesheet" href=src_prefix + "assets/css/style.min.css")