.block.block-sign-up
    .block-sign-up-header
        .block-sign-up-title Inloggen
    .block-sign-up-options
        .block-sign-up-option.active(
            ng-click="$ctrl.selectType('provider')")

            .block-sign-up-option-img
                img.img-default(src="./assets/img/website/provider.svg")
                img.img-hover(src="./assets/img/website/provider-hover.svg")
            .block-sign-up-option-description Als aanbieder
        .block-sign-up-option(
            ng-click="$ctrl.selectType('validator')"
            ng-class="{'active': $ctrl.selectedType == 'validator'}")

            .block-sign-up-option-img
                img.img-default(src="./assets/img/website/validator.svg")
                img.img-hover(src="./assets/img/website/validator-hover.svg")
            .block-sign-up-option-description Als beoordelaar
        .block-sign-up-option(
            ng-click="$ctrl.selectType('sponsor')"
            ng-class="{'active': $ctrl.selectedType == 'sponsor'}")

            .block-sign-up-option-img
                img.img-default(src="./assets/img/website/sponsor.svg")
                img.img-hover(src="./assets/img/website/sponsor-hover.svg")
            .block-sign-up-option-description Als sponsor

    .block-sign-up-footer
        .block-sign-up-footer-title Nog geen account?
        a(ui-sref="sign-up").block-sign-up-footer-button Inschrijven
