top-navbar

main(id="main-content"): section.section.section-voucher-details: .wrapper
    .block.block-breadcrumbs
        a(ui-sref="home").breadcrumb-item Home
        .breadcrumb-item.active Beveiliging

    .block.block-profile
        .profile-aside: profile-menu

        .profile-content
            .profile-content-header.clearfix: h2.profile-content-title
                div.pull-left
                    .profile-content-title-count(ng-bind="$ctrl.provider_types.length")
                    h1.profile-content-header Tweefactorauthenticatie

            .profile-content-header.clearfix: h2.profile-content-title
                .profile-content-subtitle
                    | Voeg een extra beveiligingslaag toe aan uw account door tweefactorauthenticatie in te schakelen.
                    | U kunt kiezen uit de volgende verificatiemethoden: Authenticator app en SMS-verificatie.

            .block.block-auth-2fa(ng-repeat="provider_type in $ctrl.provider_types")
                .auth-2fa-item
                    .auth-2fa-item-icon
                        .mdi.mdi-cellphone-key(ng-if="provider_type.type == 'authenticator'")
                        .mdi.mdi-cellphone-message(ng-if="provider_type.type == 'phone'")

                    .auth-2fa-item-details
                        .auth-2fa-item-title
                            | {{ provider_type.title }}

                            .auth-2fa-item-label(ng-if="!$ctrl.active_providers_by_key[provider_type.type]")
                                .label.label-light Uitgeschakeld

                            .auth-2fa-item-date(ng-if="$ctrl.active_providers_by_key[provider_type.type]")
                                .mdi.mdi-check-circle 
                                | Ingeschakeld: {{ $ctrl.active_providers_by_key[provider_type.type].created_at_locale }}

                        .auth-phone-details(ng-if="provider_type.type == 'phone' && $ctrl.active_providers_by_key[provider_type.type]")
                            .auth-phone-details-icon: em.mdi.mdi-message-processing
                            .auth-phone-details-content
                                .auth-phone-details-title SMS Bericht
                                .auth-phone-details-subtitle.flex
                                    .auth-phone-details-phone(ng-bind="$ctrl.active_providers_by_key[provider_type.type].phone")
                                    .label-group.pull-right: .label.label-success Nummer bevestigd
                                .auth-phone-details-description Verificatie codes zijn verzonden via SMS

                        .auth-2fa-item-actions: .button-group
                            .button.button-primary.button-sm(
                                ng-if="!$ctrl.active_providers_by_key[provider_type.type]"
                                ng-click="$ctrl.setupAuth2FA(provider_type.type)") 
                                em.mdi.mdi-shield-check-outline.icon-start
                                | Inschakelen

                            .button.button-light.button-sm(
                                ng-if="$ctrl.active_providers_by_key[provider_type.type]"
                                ng-click="$ctrl.deactivateAuth2FA(provider_type.type)") 
                                em.mdi.mdi-lock-open-outline.icon-start
                                | Uitschakelen

            .profile-content-header.clearfix
                h3.profile-content-title Instellingen

            .block.block-auth-2fa
                form(ng-submit="$ctrl.form.submit()").form.form-compact
                    .form-group
                        label.form-label(for="auth_2fa_remember_ip") Onthoud IP-adres
                        select-control(
                            id="auth_2fa_remember_ip"
                            prop="value"
                            search="false"
                            ng-model="$ctrl.form.values.auth_2fa_remember_ip" 
                            options="$ctrl.auth2FARememberIpOptions"
                            ng-if="!$ctrl.auth2FAState.auth_2fa_forget_force.voucher && !$ctrl.auth2FAState.auth_2fa_forget_force.organization")

                        input(
                            disabled
                            ng-if="$ctrl.auth2FAState.auth_2fa_forget_force.voucher || $ctrl.auth2FAState.auth_2fa_forget_force.organization"
                            ng-model="$ctrl.auth2FARememberIpOptions[0].name").form-control

                        .form-hint(ng-if="$ctrl.auth2FAState.auth_2fa_forget_force.voucher")
                            | Er zijn één of meerdere vouchers van een fonds die deze instelling beperken
                        .form-hint(ng-if="$ctrl.auth2FAState.auth_2fa_forget_force.organization")
                            | Deze instellingen kunnen niet worden aangepast vanwege de voorwaarden die door de gemeente zijn gesteld

                    .text-center: button.button.button-primary.button-sm(type="submit") Bevestig
